Repository langchain-ai/langchainjs, changes with the labels that .github/labeler.yml gives for each.
All labels: internal, ci, examples, langchain, textsplitters, provider/anthropic, provider/aws, provider/azure, provider/ollama, provider/openai, provider/google, provider/groq, provider/mistralai, provider/mongodb, provider/redis, provider/xai, community

fix: remove `pnpm run` from test:single
  libs/langchain-community/package.json
Labels: community

fix(gemini): support image conversion when content coerced to content blocks by setting output_version = v1
  libs/providers/langchain-google-common/src/utils/gemini.ts
Labels: none

feat: add usage of model gateway with chat, llms and embeddings (#59)
  libs/langchain-community/package.json
  libs/langchain-community/src/agents/toolkits/tests/ibm.test.ts
  libs/langchain-community/src/chat_models/ibm.ts
  libs/langchain-community/src/chat_models/tests/ibm.int.test.ts
  libs/langchain-community/src/chat_models/tests/ibm.standard.int.test.ts
  libs/langchain-community/src/chat_models/tests/ibm.standard.test.ts
  libs/langchain-community/src/chat_models/tests/ibm.test.ts
  libs/langchain-community/src/document_compressors/ibm.ts
  libs/langchain-community/src/embeddings/ibm.ts
  libs/langchain-community/src/embeddings/tests/ibm.int.test.ts
  libs/langchain-community/src/embeddings/tests/ibm.test.ts
  libs/langchain-community/src/llms/ibm.ts
  libs/langchain-community/src/llms/tests/ibm.int.test.ts
  libs/langchain-community/src/llms/tests/ibm.test.ts
  libs/langchain-community/src/types/ibm.ts
  libs/langchain-community/src/utils/ibm.ts
  libs/langchain-community/src/utils/tests/ibm.test.ts
  pnpm-lock.yaml
Labels: community

test(mongodb): fix mongodb tests
  libs/providers/langchain-mongodb/package.json
  libs/providers/langchain-mongodb/src/tests/storage.int.test.ts
  libs/providers/langchain-mongodb/src/tests/vectorstores.int.test.ts
Labels: none

fix(community): remove `pnpm run` from test:single (#9277)
  libs/langchain-community/package.json
Labels: community

Lint + Format
  libs/langchain-community/src/vectorstores/couchbase_query.ts
  libs/langchain-community/src/vectorstores/couchbase_search.ts
  libs/langchain-community/src/vectorstores/tests/couchbase_query.test.ts
  libs/langchain-community/src/vectorstores/tests/couchbase_search.int.test.ts
Labels: community

Create shaggy-paws-fold.md
  .changeset/shaggy-paws-fold.md
Labels: none

fix(langchain): check message property when pulling chat models for vercel compat
  libs/langchain/src/chat_models/universal.ts
Labels: none

Create five-pandas-cheer.md
  .changeset/five-pandas-cheer.md
Labels: none

fix(langchain): check message property when pulling chat models for vercel compat (#9282)
  .changeset/five-pandas-cheer.md
  libs/langchain/src/chat_models/universal.ts
Labels: none

fix(docs): split redirects
  docs/core_docs/bulk-redirects.json
  docs/core_docs/middleware.js
  docs/core_docs/vercel.json
Labels: none

Remove redundant L2 and L2 Squared Distance Metrics
  libs/langchain-community/src/vectorstores/couchbase_query.ts
  libs/langchain-community/src/vectorstores/tests/couchbase_query.test.ts
Labels: community

feat: add ephemeral cache point with TTL support for AWS Bedrock
  libs/providers/langchain-aws/src/tests/chat_models.test.ts
  libs/providers/langchain-aws/src/utils/message_inputs.ts
Labels: none

fix(langchain): improved state schema typing
  libs/langchain/src/agents/middleware/index.ts
  libs/langchain/src/agents/middleware/modelCallLimit.ts
  libs/langchain/src/agents/middleware/tests/modelCallLimit.test.ts
  libs/langchain/src/agents/middleware/types.ts
  libs/langchain/src/agents/tests/middleware.test-d.ts
Labels: none

fix tests
  libs/langchain/src/agents/middleware/types.ts
  libs/langchain/src/agents/tests/state.test.ts
Labels: none

minor tweak
  libs/langchain/src/agents/middleware/types.ts
Labels: none

fix(docs): combine redirects
  docs/core_docs/bulk-redirects.json
  docs/core_docs/middleware.js
  docs/core_docs/vercel.json
Labels: none

more tweaks
  libs/langchain/src/agents/middleware/types.ts
Labels: none

Fix state schema typing in langchain
  .changeset/twenty-clocks-raise.md
Labels: none

fix(langchain): don't allow default or optional context schemas
  libs/langchain/src/agents/middleware.ts
  libs/langchain/src/agents/tests/middleware.test-d.ts
Labels: none

Fix context schema handling in langchain
  .changeset/fresh-dingos-repair.md
Labels: none

chore(*): build system improvements
  .changeset/config.json
  internal/build/README.md
  internal/build/cli.ts
  internal/build/constants.ts
  internal/build/index.ts
  internal/build/package.json
  internal/build/plugins/barrel-dts.ts
  internal/build/plugins/import-constants.ts
  internal/build/plugins/import-map.ts
  internal/build/plugins/lc-secrets.ts
  internal/build/types.ts
  internal/build/utils.ts
  internal/eslint/src/configs/base.ts
  libs/langchain-classic/package.json
  libs/langchain-classic/tsdown.config.ts
  libs/langchain-core/.gitignore
  libs/langchain-core/package.json
  libs/langchain-core/tsdown.config.ts
  libs/langchain/package.json
  libs/langchain/tsdown.config.ts
  pnpm-lock.yaml
Labels: internal

fix(langchain): remove _privateState
  libs/langchain/src/agents/ReactAgent.ts
  libs/langchain/src/agents/annotation.ts
  libs/langchain/src/agents/middleware/modelCallLimit.ts
  libs/langchain/src/agents/middleware/tests/modelCallLimit.test.ts
  libs/langchain/src/agents/middleware/tests/toolCallLimit.test.ts
  libs/langchain/src/agents/middleware/toolCallLimit.ts
  libs/langchain/src/agents/nodes/AgentNode.ts
  libs/langchain/src/agents/nodes/ToolNode.ts
  libs/langchain/src/agents/nodes/middleware.ts
  libs/langchain/src/agents/runtime.ts
  libs/langchain/src/agents/tests/middleware.test.ts
  libs/langchain/src/agents/tests/runtime.test.ts
  libs/langchain/src/agents/tests/state.test.ts
Labels: none

cr
  examples/src/langchain-classic/guides/migrating.ts
Labels: examples

fix: update types for Azure OpenAI extension
  libs/providers/langchain-openai/src/azure/chat_models/common.ts
  libs/providers/langchain-openai/src/azure/embeddings.ts
  libs/providers/langchain-openai/src/azure/llms.ts
Labels: none

fix: types
  libs/providers/langchain-openai/src/chat_models/base.ts
Labels: none

feat(openai): implement callable apiKey
  libs/providers/langchain-openai/src/azure/chat_models/completions.ts
  libs/providers/langchain-openai/src/azure/chat_models/responses.ts
  libs/providers/langchain-openai/src/azure/llms.ts
  libs/providers/langchain-openai/src/chat_models/base.ts
  libs/providers/langchain-openai/src/chat_models/completions.ts
  libs/providers/langchain-openai/src/chat_models/responses.ts
  libs/providers/langchain-openai/src/embeddings.ts
  libs/providers/langchain-openai/src/llms.ts
  libs/providers/langchain-openai/src/types.ts
  libs/providers/langchain-openai/src/utils/client.ts
Labels: none

refactor: use openai sdk apikey function handling
  libs/providers/langchain-openai/src/chat_models/base.ts
  libs/providers/langchain-openai/src/embeddings.ts
  libs/providers/langchain-openai/src/llms.ts
  libs/providers/langchain-openai/src/types.ts
  libs/providers/langchain-openai/src/utils/client.ts
Labels: none

refactor: simplify implementation
  libs/providers/langchain-openai/src/azure/chat_models/common.ts
  libs/providers/langchain-openai/src/azure/chat_models/completions.ts
  libs/providers/langchain-openai/src/azure/chat_models/responses.ts
  libs/providers/langchain-openai/src/azure/embeddings.ts
  libs/providers/langchain-openai/src/azure/llms.ts
  libs/providers/langchain-openai/src/chat_models/base.ts
  libs/providers/langchain-openai/src/chat_models/completions.ts
  libs/providers/langchain-openai/src/chat_models/responses.ts
  libs/providers/langchain-openai/src/embeddings.ts
  libs/providers/langchain-openai/src/llms.ts
Labels: none

fix: typings
  libs/providers/langchain-openai/src/azure/chat_models/common.ts
  libs/providers/langchain-openai/src/azure/llms.ts
  libs/providers/langchain-openai/src/types.ts
Labels: none

chore: revert changes
  libs/providers/langchain-openai/src/chat_models/base.ts
Labels: none

fix(langchain): support for BaseCallbackConfig in agent config
  libs/langchain/src/agents/runtime.ts
  libs/langchain/src/agents/tests/reactAgent.test-d.ts
Labels: none

cr
  libs/langchain/src/agents/runtime.ts
Labels: none

fix(langchain/middleware): allow model strings in summarization middleware
  .changeset/chatty-spies-shine.md
  libs/langchain/src/agents/middleware/summarization.ts
  libs/langchain/src/agents/middleware/tests/summarization.test.ts
Labels: none

fix(@langchain/core): removed unused type file
  libs/langchain-core/utils/hash.d.ts
  libs/langchain-standard-tests/vitest.d.ts
Labels: ci

feat: add support for `gpt-5` models in `_inferModelProvider`
  libs/langchain-classic/src/chat_models/universal.ts
  libs/langchain/src/chat_models/universal.ts
Labels: none

feat: add support for `gpt-5` models in `_inferModelProvider` (#9294)
  libs/langchain-classic/src/chat_models/universal.ts
  libs/langchain/src/chat_models/universal.ts
Labels: none

fix(langchain): support for BaseCallbackConfig in agent config (#9291)
  libs/langchain/src/agents/runtime.ts
  libs/langchain/src/agents/tests/reactAgent.test-d.ts
Labels: none

feat(@langchain/core): support tools with custom state or context provided by ToolRuntime
  libs/langchain-core/src/tools/index.ts
  libs/langchain-core/src/tools/types.ts
Labels: none

fix(@langchain/core): removed unused type file (#9293)
  libs/langchain-core/utils/hash.d.ts
  libs/langchain-standard-tests/vitest.d.ts
Labels: ci

.github/labeler.yml:

# Configuration for GitHub Actions Labeler
# https://github.com/actions/labeler

internal:
  - changed-files:
      - any-glob-to-any-file:
          - internal/**
          - internal/**/*

ci:
  - changed-files:
      - any-glob-to-any-file:
          - .github/workflows/**
          - .github/actions/**
          - dependency_range_tests/**
          - dependency_range_tests/**/*
          - environment_tests/**
          - environment_tests/**/*
          - libs/langchain-scripts/**
          - libs/langchain-scripts/**/*
          - libs/langchain-standard-tests/**
          - libs/langchain-standard-tests/**/*

examples:
  - changed-files:
      - any-glob-to-any-file:
          - examples/**
          - examples/**/*

langchain:
  - changed-files:
      - any-glob-to-any-file:
          - langchain/**
          - langchain/**/*

core:
  - changed-flies:
      - any-glob-to-any-file:
          - langchain-core/**
          - langchain-core/**/*

textsplitters:
  - changed-files:
      - any-glob-to-any-file:
          - libs/langchain-textsplitters/**
          - libs/langchain-textsplitters/**/*

provider/anthropic:
  - changed-files:
      - any-glob-to-any-file:
          - libs/langchain-anthropic/**
          - libs/langchain-anthropic/**/*

provider/aws:
  - changed-files:
      - any-glob-to-any-file:
          - libs/langchain-aws/**
          - libs/langchain-aws/**/*

provider/azure:
  - changed-files:
      - any-glob-to-any-file:
          - libs/langchain-*azure*/**
          - libs/langchain-*azure*/**/*

provider/ollama:
  - changed-files:
      - any-glob-to-any-file:
          - libs/langchain-ollama/**
          - libs/langchain-ollama/**/*

provider/openai:
  - changed-files:
      - any-glob-to-any-file:
          - libs/langchain-openai/**
          - libs/langchain-openai/**/*

provider/google:
  - changed-files:
      - any-glob-to-any-file:
          - libs/langchain-*google*/**
          - libs/langchain-*google*/**/*

provider/groq:
  - changed-files:
      - any-glob-to-any-file:
          - libs/langchain-groq/**
          - libs/langchain-groq/**/*

provider/mistralai:
  - changed-files:
      - any-glob-to-any-file:
          - libs/langchain-mistralai/**
          - libs/langchain-mistralai/**/*

provider/mongodb:
  - changed-files:
      - any-glob-to-any-file:
          - libs/langchain-mongodb/**
          - libs/langchain-mongodb/**/*

provider/redis:
  - changed-files:
      - any-glob-to-any-file:
          - libs/langchain-redis/**
          - libs/langchain-redis/**/*

provider/xai:
  - changed-files:
      - any-glob-to-any-file:
          - libs/langchain-xai/**
          - libs/langchain-xai/**/*

community:
  - changed-files:
      - any-glob-to-any-file:
          - libs/langchain-community/**
          - libs/langchain-community/**/*
          - libs/langchain-baidu-qianfan/**
          - libs/langchain-baidu-qianfan/**/*
          - libs/langchain-cerebras/**
          - libs/langchain-cerebras/**/*
          - libs/langchain-cloudflare/**
          - libs/langchain-cloudflare/**/*
          - libs/langchain-cohere/**
          - libs/langchain-cohere/**/*
          - libs/langchain-exa/**
          - libs/langchain-exa/**/*
          - libs/langchain-mixedbread-ai/**
          - libs/langchain-mixedbread-ai/**/*
          - libs/langchain-nomic/**
          - libs/langchain-nomic/**/*
          - libs/langchain-pinecone/**
          - libs/langchain-pinecone/**/*
          - libs/langchain-qdrant/**
          - libs/langchain-qdrant/**/*
          - libs/langchain-tavily/**
          - libs/langchain-tavily/**/*
          - libs/langchain-weaviate/**
          - libs/langchain-weaviate/**/*
          - libs/langchain-yandex/**
          - libs/langchain-yandex/**/*
