Repository langchain-ai/langchainjs, changes with the labels that .github/labeler.yml gives for each.
All labels: internal, ci, examples, langchain, textsplitters, provider/anthropic, provider/aws, provider/azure, provider/ollama, provider/openai, provider/google, provider/groq, provider/mistralai, provider/mongodb, provider/redis, provider/xai, community

.github/labeler.yml:

# Configuration for GitHub Actions Labeler
# https://github.com/actions/labeler

internal:
  - changed-files:
      - any-glob-to-any-file:
          - internal/**
          - internal/**/*

ci:
  - changed-files:
      - any-glob-to-any-file:
          - .github/workflows/**
          - .github/actions/**
          - dependency_range_tests/**
          - dependency_range_tests/**/*
          - environment_tests/**
          - environment_tests/**/*
          - libs/langchain-scripts/**
          - libs/langchain-scripts/**/*
          - libs/langchain-standard-tests/**
          - libs/langchain-standard-tests/**/*

examples:
  - changed-files:
      - any-glob-to-any-file:
          - examples/**
          - examples/**/*

langchain:
  - changed-files:
      - any-glob-to-any-file:
          - langchain/**
          - langchain/**/*

core:
  - changed-flies:
      - any-glob-to-any-file:
          - langchain-core/**
          - langchain-core/**/*

textsplitters:
  - changed-files:
      - any-glob-to-any-file:
          - libs/langchain-textsplitters/**
          - libs/langchain-textsplitters/**/*

provider/anthropic:
  - changed-files:
      - any-glob-to-any-file:
          - libs/langchain-anthropic/**
          - libs/langchain-anthropic/**/*

provider/aws:
  - changed-files:
      - any-glob-to-any-file:
          - libs/langchain-aws/**
          - libs/langchain-aws/**/*

provider/azure:
  - changed-files:
      - any-glob-to-any-file:
          - libs/langchain-*azure*/**
          - libs/langchain-*azure*/**/*

provider/ollama:
  - changed-files:
      - any-glob-to-any-file:
          - libs/langchain-ollama/**
          - libs/langchain-ollama/**/*

provider/openai:
  - changed-files:
      - any-glob-to-any-file:
          - libs/langchain-openai/**
          - libs/langchain-openai/**/*

provider/google:
  - changed-files:
      - any-glob-to-any-file:
          - libs/langchain-*google*/**
          - libs/langchain-*google*/**/*

provider/groq:
  - changed-files:
      - any-glob-to-any-file:
          - libs/langchain-groq/**
          - libs/langchain-groq/**/*

provider/mistralai:
  - changed-files:
      - any-glob-to-any-file:
          - libs/langchain-mistralai/**
          - libs/langchain-mistralai/**/*

provider/mongodb:
  - changed-files:
      - any-glob-to-any-file:
          - libs/langchain-mongodb/**
          - libs/langchain-mongodb/**/*

provider/redis:
  - changed-files:
      - any-glob-to-any-file:
          - libs/langchain-redis/**
          - libs/langchain-redis/**/*

provider/xai:
  - changed-files:
      - any-glob-to-any-file:
          - libs/langchain-xai/**
          - libs/langchain-xai/**/*

community:
  - changed-files:
      - any-glob-to-any-file:
          - libs/langchain-community/**
          - libs/langchain-community/**/*
          - libs/langchain-baidu-qianfan/**
          - libs/langchain-baidu-qianfan/**/*
          - libs/langchain-cerebras/**
          - libs/langchain-cerebras/**/*
          - libs/langchain-cloudflare/**
          - libs/langchain-cloudflare/**/*
          - libs/langchain-cohere/**
          - libs/langchain-cohere/**/*
          - libs/langchain-exa/**
          - libs/langchain-exa/**/*
          - libs/langchain-mixedbread-ai/**
          - libs/langchain-mixedbread-ai/**/*
          - libs/langchain-nomic/**
          - libs/langchain-nomic/**/*
          - libs/langchain-pinecone/**
          - libs/langchain-pinecone/**/*
          - libs/langchain-qdrant/**
          - libs/langchain-qdrant/**/*
          - libs/langchain-tavily/**
          - libs/langchain-tavily/**/*
          - libs/langchain-weaviate/**
          - libs/langchain-weaviate/**/*
          - libs/langchain-yandex/**
          - libs/langchain-yandex/**/*

chore: propse workaround for model gateway chunks
  libs/langchain-community/src/chat_models/ibm.ts
  libs/langchain-community/src/chat_models/tests/ibm.int.test.ts
Labels: community

feat(agents): Improve handling of `withLangChain` annotations
  libs/langchain/src/agents/nodes/tests/utils.test.ts
  libs/langchain/src/agents/nodes/utils.ts
  libs/langchain/src/agents/tests/middleware-defaults.test.ts
Labels: none

fix(agents): avoid invalid message order after summarize
  libs/langchain/src/agents/middleware/summarization.ts
  libs/langchain/src/agents/middleware/tests/summarization.test.ts
Labels: none

Add `providerToolDefinition` field to support built-in client tools
  libs/langchain-core/src/tools/index.ts
  libs/langchain-core/src/tools/tests/tools.test.ts
  libs/langchain-core/src/tools/types.ts
  libs/providers/langchain-anthropic/src/chat_models.ts
  libs/providers/langchain-anthropic/src/tests/chat_models-tools.int.test.ts
  libs/providers/langchain-anthropic/src/tests/chat_models.test.ts
Labels: none

chore: add changeset
  .changeset/fancy-breads-allow.md
Labels: none

Fix: Add langsmith to import map to resolve Issue #9257
  internal/build/constants.ts
Labels: internal

feat: Add Serpex web search tool integration
  SERPEX_INTEGRATION.md
  libs/langchain-community/src/load/import_map.ts
  libs/langchain-community/src/tools/serpex.ts
  libs/langchain-community/src/tools/tests/serpex.test.ts
Labels: community

fix: Clean up import_map.ts comment formatting
  libs/langchain-community/src/load/import_map.ts
Labels: community

fix(openai): pair reasoning with function_call id; add tests
  libs/providers/langchain-openai/src/chat_models/responses.ts
  libs/providers/langchain-openai/src/chat_models/tests/index_reasoning_pairing.standard.test.ts
Labels: none

fix(agents): Add missing ToolMessage in toolStrategy structured output handling
  libs/langchain/src/agents/nodes/AgentNode.ts
Labels: none

fix(mcp-adapters): preserve timeout from runnableconfig in mcp tool call
  libs/langchain-core/src/runnables/config.ts
  libs/langchain-mcp-adapters/src/tests/client.test.ts
  libs/langchain-mcp-adapters/src/tools.ts
Labels: none

fix(langchain): remove bad dynamic import for LS
  libs/langchain/package.json
  libs/langchain/src/hub/base.ts
  pnpm-lock.yaml
Labels: none

make langsmith a tilde dep
  libs/langchain/package.json
  pnpm-lock.yaml
Labels: none

Create nervous-carpets-tie.md
  .changeset/nervous-carpets-tie.md
Labels: none

fix(chat): enhance model name parsing to preserve full model name wit… (#9244)
  .changeset/wicked-teachers-brake.md
  libs/langchain/src/chat_models/tests/universal.int.test.ts
  libs/langchain/src/chat_models/universal.ts
Labels: none

fix(langchain): remove bad dynamic import for LS (#9271)
  .changeset/nervous-carpets-tie.md
  libs/langchain/package.json
  libs/langchain/src/hub/base.ts
  pnpm-lock.yaml
Labels: none

chore: version packages
  .changeset/rotten-peaches-chew.md
  .changeset/stale-chefs-roll.md
  langchain-core/CHANGELOG.md
  libs/langchain-anthropic/CHANGELOG.md
Labels: provider/anthropic

release(core): 0.3.79
  langchain-core/package.json
Labels: none

release(anthropic): 0.3.33
  libs/langchain-anthropic/package.json
Labels: provider/anthropic

chore: version packages
  .changeset/gold-zebras-bet.md
  .changeset/metal-hats-camp.md
  .changeset/nervous-carpets-tie.md
  .changeset/public-eggs-cheat.md
  .changeset/wicked-teachers-brake.md
  libs/langchain-classic/CHANGELOG.md
  libs/langchain-classic/package.json
  libs/langchain-community/CHANGELOG.md
  libs/langchain-community/package.json
  libs/langchain-core/CHANGELOG.md
  libs/langchain-core/package.json
  libs/langchain/CHANGELOG.md
  libs/langchain/package.json
  package.json
  pnpm-lock.yaml
Labels: community

chore: add missing changelog
  libs/langchain-core/CHANGELOG.md
Labels: none

release(core): 0.3.79 (#9273)
  .changeset/rotten-peaches-chew.md
  .changeset/stale-chefs-roll.md
  langchain-core/CHANGELOG.md
  langchain-core/package.json
  libs/langchain-anthropic/CHANGELOG.md
  libs/langchain-anthropic/package.json
Labels: provider/anthropic

release(langchain): 1.0.2 (#9274)
  .changeset/gold-zebras-bet.md
  .changeset/metal-hats-camp.md
  .changeset/nervous-carpets-tie.md
  .changeset/public-eggs-cheat.md
  .changeset/wicked-teachers-brake.md
  libs/langchain-classic/CHANGELOG.md
  libs/langchain-classic/package.json
  libs/langchain-community/CHANGELOG.md
  libs/langchain-community/package.json
  libs/langchain-core/CHANGELOG.md
  libs/langchain-core/package.json
  libs/langchain/CHANGELOG.md
  libs/langchain/package.json
  package.json
  pnpm-lock.yaml
Labels: community

fix(agents): avoid invalid message order after summarize
  libs/langchain/src/agents/middleware/summarization.ts
  libs/langchain/src/agents/middleware/tests/summarization.test.ts
Labels: none

chore: add changeset
  .changeset/fancy-breads-allow.md
Labels: none

fix
  docs/api_refs/vercel.json
  docs/core_docs/vercel.json
Labels: none

fix
  docs/api_refs/vercel.json
  docs/core_docs/vercel.json
Labels: none

fix
  docs/core_docs/vercel.json
Labels: none

x
  docs/core_docs/vercel.json
Labels: none

x
  docs/core_docs/vercel.json
Labels: none

chore: hoist sleep util
  libs/langchain/src/agents/middleware/toolRetry.ts
  libs/langchain/src/agents/middleware/utils.ts
Labels: none

add better tool rejection error
  libs/langchain/src/agents/middleware/tests/toolRetry.test.ts
  libs/langchain/src/agents/middleware/toolRetry.ts
Labels: none

cr
  libs/langchain/src/agents/nodes/AgentNode.ts
Labels: none

add tests
  libs/langchain/src/agents/middleware/tests/hitl.int.test.ts
  libs/langchain/src/agents/tests/reactAgent.int.test.ts
  libs/langchain/src/agents/tests/responses.int.test.ts
  libs/langchain/src/agents/tests/responses.test.ts
  libs/langchain/src/agents/tests/returnDirect.int.test.ts
  libs/langchain/src/agents/tests/specifications/responses.json
Labels: none

cr
  libs/langchain/src/agents/tests/specifications/responses.json
Labels: none

Create lovely-bulldogs-applaud.md
  .changeset/lovely-bulldogs-applaud.md
Labels: none

fix(agents): Add missing ToolMessage in toolStrategy structured outpu… (#9265)
  .changeset/lovely-bulldogs-applaud.md
  libs/langchain/src/agents/middleware/tests/hitl.int.test.ts
  libs/langchain/src/agents/nodes/AgentNode.ts
  libs/langchain/src/agents/tests/reactAgent.int.test.ts
  libs/langchain/src/agents/tests/responses.int.test.ts
  libs/langchain/src/agents/tests/responses.test.ts
  libs/langchain/src/agents/tests/returnDirect.int.test.ts
  libs/langchain/src/agents/tests/specifications/responses.json
Labels: none

cr
  libs/langchain/src/agents/middleware/toolRetry.ts
Labels: none

cr
  libs/langchain/src/agents/middleware/tests/toolRetry.test.ts
Labels: none

feat(langchain): tool retry middleware (#9234)
  libs/langchain/src/agents/middleware/index.ts
  libs/langchain/src/agents/middleware/tests/toolRetry.test.ts
  libs/langchain/src/agents/middleware/toolRetry.ts
  libs/langchain/src/agents/middleware/utils.ts
Labels: none
