Repository langchain-ai/langchainjs, changes with the labels that .github/labeler.yml gives for each.
All labels: internal, ci, examples, langchain, textsplitters, provider/anthropic, provider/aws, provider/azure, provider/ollama, provider/openai, provider/google, provider/groq, provider/mistralai, provider/mongodb, provider/redis, provider/xai, community

fix(internal): remove more langchain-scripts artifacts
  .github/codeql/codeql-config.yml
  .github/contributing/INTEGRATIONS.md
  .github/workflows/unit-tests-integrations.yml
Labels: ci

fix(docs): get redirects to work
  docs/core_docs/docs/how_to/index.mdx
Labels: none

feat(community): Add OVHcloud AI Endpoints provider
  examples/src/langchain-classic/models/chat/integration_ovhcloud.ts
  examples/src/langchain-classic/models/embeddings/ovhcloud.ts
  libs/langchain-classic/src/chat_models/tests/universal.int.test.ts
  libs/langchain-classic/src/chat_models/universal.ts
  libs/langchain-classic/src/hub/base.ts
  libs/langchain-community/.gitignore
  libs/langchain-community/package.json
  libs/langchain-community/src/chat_models/ovhcloud.ts
  libs/langchain-community/src/chat_models/tests/chatovhcloud.int.test.ts
  libs/langchain-community/src/embeddings/ovhcloud.ts
  libs/langchain-community/src/embeddings/tests/ovhcloud.int.test.ts
  libs/langchain-community/src/load/import_map.ts
  libs/langchain-community/src/load/import_type.ts
  libs/langchain/src/chat_models/tests/universal.int.test.ts
  libs/langchain/src/chat_models/universal.ts
  libs/langchain/src/hub/base.ts
Labels: examples, community

fix(internal): remove more langchain-scripts artifacts (#9296)
  .github/codeql/codeql-config.yml
  .github/contributing/INTEGRATIONS.md
  .github/workflows/unit-tests-integrations.yml
Labels: ci

fix(langchain): improved state schema typing (#9285)
  .changeset/twenty-clocks-raise.md
  libs/langchain/src/agents/middleware/index.ts
  libs/langchain/src/agents/middleware/modelCallLimit.ts
  libs/langchain/src/agents/middleware/tests/modelCallLimit.test.ts
  libs/langchain/src/agents/middleware/types.ts
  libs/langchain/src/agents/tests/middleware.test-d.ts
  libs/langchain/src/agents/tests/state.test.ts
Labels: none

fix(langchain): don't allow default or optional context schemas (#9287)
  .changeset/fresh-dingos-repair.md
  libs/langchain/src/agents/middleware.ts
  libs/langchain/src/agents/tests/middleware.test-d.ts
Labels: none

fix(langchain): remove _privateState (#9289)
  libs/langchain/src/agents/ReactAgent.ts
  libs/langchain/src/agents/annotation.ts
  libs/langchain/src/agents/middleware/modelCallLimit.ts
  libs/langchain/src/agents/middleware/tests/modelCallLimit.test.ts
  libs/langchain/src/agents/middleware/tests/toolCallLimit.test.ts
  libs/langchain/src/agents/middleware/toolCallLimit.ts
  libs/langchain/src/agents/nodes/AgentNode.ts
  libs/langchain/src/agents/nodes/ToolNode.ts
  libs/langchain/src/agents/nodes/middleware.ts
  libs/langchain/src/agents/runtime.ts
  libs/langchain/src/agents/tests/middleware.test.ts
  libs/langchain/src/agents/tests/runtime.test.ts
  libs/langchain/src/agents/tests/state.test.ts
Labels: none

fix(langchain): fix state in wrapToolCall and wrapModelCall
  libs/langchain/src/agents/ReactAgent.ts
  libs/langchain/src/agents/middleware/tests/modelCallLimit.test.ts
  libs/langchain/src/agents/nodes/AgentNode.ts
  libs/langchain/src/agents/nodes/ToolNode.ts
  libs/langchain/src/agents/nodes/utils.ts
  libs/langchain/src/agents/state.ts
  libs/langchain/src/agents/tests/state.test.ts
  libs/langchain/src/agents/utils.ts
Labels: none

fix(langchain/zod): add caching to interopZodTransformInputSchema to respect references
  libs/langchain-core/src/utils/types/tests/zod.test.ts
  libs/langchain-core/src/utils/types/zod.ts
Labels: none

tests
  libs/langchain-core/src/utils/types/tests/zod.test.ts
Labels: none

fix(langchain/zod): Support optionals and nullable in zod transform interop
  libs/langchain-core/src/utils/types/tests/zod.test.ts
  libs/langchain-core/src/utils/types/zod.ts
Labels: none

fix
  libs/langchain-core/src/utils/types/tests/zod.test.ts
  libs/langchain-core/src/utils/types/zod.ts
Labels: none

fix2
  libs/langchain-core/src/utils/types/tests/zod.test.ts
Labels: none

fix(langchain): Fix toJsonSchema mutating underlying zod schema
  libs/langchain-core/src/utils/json_schema.ts
  libs/langchain-core/src/utils/types/tests/zod.test.ts
  libs/langchain-core/src/utils/types/zod.ts
  libs/providers/langchain-openai/src/utils/output.ts
Labels: none

cr
  libs/langchain/src/agents/middleware/tests/modelCallLimit.test.ts
  libs/langchain/src/agents/utils.ts
Labels: none

fix(docs): Fix redirects
  docs/api_refs/middleware.ts
  docs/api_refs/redirects.json
  docs/api_refs/vercel.json
  docs/core_docs/vercel.json
Labels: none

fix(docs): Rewriting regex redirects
  docs/api_refs/vercel.json
  docs/core_docs/vercel.json
Labels: none

fix(langchain): fix HITL middleware and allow to return to model with feedback
  libs/langchain/src/agents/middleware/hitl.ts
  libs/langchain/src/agents/middleware/summarization.ts
  libs/langchain/src/agents/middleware/tests/hitl.int.test.ts
Labels: none

cr
  libs/langchain/src/agents/middleware/hitl.ts
Labels: none

fix(langchain): fix state in wrapToolCall and wrapModelCall (#9306)
  libs/langchain/src/agents/ReactAgent.ts
  libs/langchain/src/agents/nodes/AgentNode.ts
  libs/langchain/src/agents/nodes/ToolNode.ts
  libs/langchain/src/agents/nodes/utils.ts
  libs/langchain/src/agents/state.ts
  libs/langchain/src/agents/tests/state.test.ts
  libs/langchain/src/agents/utils.ts
Labels: none

fix: add node-gyp for vercel build
  package.json
  yarn.lock
Labels: none

fix(langchain): make ToolNode implementation less middleware centric
  libs/langchain-core/src/tools/index.ts
  libs/langchain/src/agents/ReactAgent.ts
  libs/langchain/src/agents/middleware.ts
  libs/langchain/src/agents/middleware/toolRetry.ts
  libs/langchain/src/agents/middleware/types.ts
  libs/langchain/src/agents/nodes/AgentNode.ts
  libs/langchain/src/agents/nodes/ToolNode.ts
  libs/langchain/src/agents/nodes/types.ts
  libs/langchain/src/agents/tests/middleware.test-d.ts
  libs/langchain/src/agents/tools.ts
  libs/langchain/src/agents/types.ts
  libs/langchain/src/agents/utils.ts
Labels: none

fix: install missing system deps for vercel
  docs/core_docs/scripts/vercel_build.sh
Labels: none

fix(langchain): fix HITL middleware and allow to return to model with feedback (#9314)
  libs/langchain/src/agents/middleware/hitl.ts
  libs/langchain/src/agents/middleware/summarization.ts
  libs/langchain/src/agents/middleware/tests/hitl.int.test.ts
Labels: none

fix(langchain): make ToolNode implementation less middleware centric (#9315)
  libs/langchain-core/src/tools/index.ts
  libs/langchain/src/agents/ReactAgent.ts
  libs/langchain/src/agents/middleware.ts
  libs/langchain/src/agents/middleware/toolRetry.ts
  libs/langchain/src/agents/middleware/types.ts
  libs/langchain/src/agents/nodes/AgentNode.ts
  libs/langchain/src/agents/nodes/ToolNode.ts
  libs/langchain/src/agents/nodes/types.ts
  libs/langchain/src/agents/tests/middleware.test-d.ts
  libs/langchain/src/agents/tools.ts
  libs/langchain/src/agents/types.ts
  libs/langchain/src/agents/utils.ts
Labels: none

Revert "fix: install missing system deps for vercel"
  docs/core_docs/scripts/vercel_build.sh
Labels: none

fix(langchain/middleware): allow model strings in summarization middleware
  .changeset/chatty-spies-shine.md
  libs/langchain/src/agents/middleware/summarization.ts
  libs/langchain/src/agents/middleware/tests/summarization.test.ts
Labels: none

cr
  libs/langchain/src/agents/middleware/tests/summarization.test.ts
Labels: none

fix(langchain/middleware): allow model strings in summarization middleware (#9292)
  .changeset/chatty-spies-shine.md
  libs/langchain/src/agents/middleware/summarization.ts
  libs/langchain/src/agents/middleware/tests/summarization.test.ts
Labels: none

feat(langchain): allow HITL interrupts to be conditional
  libs/langchain/src/agents/middleware/hitl.ts
  libs/langchain/src/agents/middleware/tests/hitl.test.ts
Labels: none

cr
  libs/langchain/src/agents/middleware/hitl.ts
Labels: none

fix(langchain): improvements on tool call limit middleware
  libs/langchain/src/agents/middleware/tests/toolCallLimit.test.ts
  libs/langchain/src/agents/middleware/toolCallLimit.ts
Labels: none

cr
  libs/langchain/src/agents/middleware/tests/toolCallLimit.test.ts
Labels: none

fix(aws): add lc_aliases for model_id/region_name in ChatBedrockConverse
  libs/providers/langchain-aws/src/chat_models.ts
  libs/providers/langchain-aws/src/tests/chat_models.test.ts
Labels: none

cr
  libs/langchain/src/agents/middleware/tests/toolCallLimit.test.ts
  libs/langchain/src/agents/middleware/toolCallLimit.ts
Labels: none

more tests
  libs/langchain/src/agents/middleware/tests/toolCallLimit.test.ts
Labels: none

Remove auto calculated fields from collection schema fields list
  libs/langchain-community/src/vectorstores/milvus.ts
Labels: community

Adjust milvus tests
  libs/langchain-community/src/vectorstores/tests/milvus.test.ts
Labels: community

chore: add web export to `langchain`
  libs/langchain/package.json
  libs/langchain/src/web.ts
Labels: none

chore: add changeset
  .changeset/eager-turkeys-find.md
Labels: none

.github/labeler.yml:

# Configuration for GitHub Actions Labeler
# https://github.com/actions/labeler

internal:
  - changed-files:
      - any-glob-to-any-file:
          - internal/**
          - internal/**/*

ci:
  - changed-files:
      - any-glob-to-any-file:
          - .github/workflows/**
          - .github/actions/**
          - dependency_range_tests/**
          - dependency_range_tests/**/*
          - environment_tests/**
          - environment_tests/**/*
          - libs/langchain-scripts/**
          - libs/langchain-scripts/**/*
          - libs/langchain-standard-tests/**
          - libs/langchain-standard-tests/**/*

examples:
  - changed-files:
      - any-glob-to-any-file:
          - examples/**
          - examples/**/*

langchain:
  - changed-files:
      - any-glob-to-any-file:
          - langchain/**
          - langchain/**/*

core:
  - changed-flies:
      - any-glob-to-any-file:
          - langchain-core/**
          - langchain-core/**/*

textsplitters:
  - changed-files:
      - any-glob-to-any-file:
          - libs/langchain-textsplitters/**
          - libs/langchain-textsplitters/**/*

provider/anthropic:
  - changed-files:
      - any-glob-to-any-file:
          - libs/langchain-anthropic/**
          - libs/langchain-anthropic/**/*

provider/aws:
  - changed-files:
      - any-glob-to-any-file:
          - libs/langchain-aws/**
          - libs/langchain-aws/**/*

provider/azure:
  - changed-files:
      - any-glob-to-any-file:
          - libs/langchain-*azure*/**
          - libs/langchain-*azure*/**/*

provider/ollama:
  - changed-files:
      - any-glob-to-any-file:
          - libs/langchain-ollama/**
          - libs/langchain-ollama/**/*

provider/openai:
  - changed-files:
      - any-glob-to-any-file:
          - libs/langchain-openai/**
          - libs/langchain-openai/**/*

provider/google:
  - changed-files:
      - any-glob-to-any-file:
          - libs/langchain-*google*/**
          - libs/langchain-*google*/**/*

provider/groq:
  - changed-files:
      - any-glob-to-any-file:
          - libs/langchain-groq/**
          - libs/langchain-groq/**/*

provider/mistralai:
  - changed-files:
      - any-glob-to-any-file:
          - libs/langchain-mistralai/**
          - libs/langchain-mistralai/**/*

provider/mongodb:
  - changed-files:
      - any-glob-to-any-file:
          - libs/langchain-mongodb/**
          - libs/langchain-mongodb/**/*

provider/redis:
  - changed-files:
      - any-glob-to-any-file:
          - libs/langchain-redis/**
          - libs/langchain-redis/**/*

provider/xai:
  - changed-files:
      - any-glob-to-any-file:
          - libs/langchain-xai/**
          - libs/langchain-xai/**/*

community:
  - changed-files:
      - any-glob-to-any-file:
          - libs/langchain-community/**
          - libs/langchain-community/**/*
          - libs/langchain-baidu-qianfan/**
          - libs/langchain-baidu-qianfan/**/*
          - libs/langchain-cerebras/**
          - libs/langchain-cerebras/**/*
          - libs/langchain-cloudflare/**
          - libs/langchain-cloudflare/**/*
          - libs/langchain-cohere/**
          - libs/langchain-cohere/**/*
          - libs/langchain-exa/**
          - libs/langchain-exa/**/*
          - libs/langchain-mixedbread-ai/**
          - libs/langchain-mixedbread-ai/**/*
          - libs/langchain-nomic/**
          - libs/langchain-nomic/**/*
          - libs/langchain-pinecone/**
          - libs/langchain-pinecone/**/*
          - libs/langchain-qdrant/**
          - libs/langchain-qdrant/**/*
          - libs/langchain-tavily/**
          - libs/langchain-tavily/**/*
          - libs/langchain-weaviate/**
          - libs/langchain-weaviate/**/*
          - libs/langchain-yandex/**
          - libs/langchain-yandex/**/*
