Repository langchain-ai/langchainjs, changes with the labels that .github/labeler.yml gives for each.
All labels: internal, ci, examples, langchain, textsplitters, provider/anthropic, provider/aws, provider/azure, provider/ollama, provider/openai, provider/google, provider/groq, provider/mistralai, provider/mongodb, provider/redis, provider/xai, community

.github/labeler.yml:

# Configuration for GitHub Actions Labeler
# https://github.com/actions/labeler

internal:
  - changed-files:
      - any-glob-to-any-file:
          - internal/**
          - internal/**/*

ci:
  - changed-files:
      - any-glob-to-any-file:
          - .github/workflows/**
          - .github/actions/**
          - dependency_range_tests/**
          - dependency_range_tests/**/*
          - environment_tests/**
          - environment_tests/**/*
          - libs/langchain-scripts/**
          - libs/langchain-scripts/**/*
          - libs/langchain-standard-tests/**
          - libs/langchain-standard-tests/**/*

examples:
  - changed-files:
      - any-glob-to-any-file:
          - examples/**
          - examples/**/*

langchain:
  - changed-files:
      - any-glob-to-any-file:
          - langchain/**
          - langchain/**/*

core:
  - changed-flies:
      - any-glob-to-any-file:
          - langchain-core/**
          - langchain-core/**/*

textsplitters:
  - changed-files:
      - any-glob-to-any-file:
          - libs/langchain-textsplitters/**
          - libs/langchain-textsplitters/**/*

provider/anthropic:
  - changed-files:
      - any-glob-to-any-file:
          - libs/langchain-anthropic/**
          - libs/langchain-anthropic/**/*

provider/aws:
  - changed-files:
      - any-glob-to-any-file:
          - libs/langchain-aws/**
          - libs/langchain-aws/**/*

provider/azure:
  - changed-files:
      - any-glob-to-any-file:
          - libs/langchain-*azure*/**
          - libs/langchain-*azure*/**/*

provider/ollama:
  - changed-files:
      - any-glob-to-any-file:
          - libs/langchain-ollama/**
          - libs/langchain-ollama/**/*

provider/openai:
  - changed-files:
      - any-glob-to-any-file:
          - libs/langchain-openai/**
          - libs/langchain-openai/**/*

provider/google:
  - changed-files:
      - any-glob-to-any-file:
          - libs/langchain-*google*/**
          - libs/langchain-*google*/**/*

provider/groq:
  - changed-files:
      - any-glob-to-any-file:
          - libs/langchain-groq/**
          - libs/langchain-groq/**/*

provider/mistralai:
  - changed-files:
      - any-glob-to-any-file:
          - libs/langchain-mistralai/**
          - libs/langchain-mistralai/**/*

provider/mongodb:
  - changed-files:
      - any-glob-to-any-file:
          - libs/langchain-mongodb/**
          - libs/langchain-mongodb/**/*

provider/redis:
  - changed-files:
      - any-glob-to-any-file:
          - libs/langchain-redis/**
          - libs/langchain-redis/**/*

provider/xai:
  - changed-files:
      - any-glob-to-any-file:
          - libs/langchain-xai/**
          - libs/langchain-xai/**/*

community:
  - changed-files:
      - any-glob-to-any-file:
          - libs/langchain-community/**
          - libs/langchain-community/**/*
          - libs/langchain-baidu-qianfan/**
          - libs/langchain-baidu-qianfan/**/*
          - libs/langchain-cerebras/**
          - libs/langchain-cerebras/**/*
          - libs/langchain-cloudflare/**
          - libs/langchain-cloudflare/**/*
          - libs/langchain-cohere/**
          - libs/langchain-cohere/**/*
          - libs/langchain-exa/**
          - libs/langchain-exa/**/*
          - libs/langchain-mixedbread-ai/**
          - libs/langchain-mixedbread-ai/**/*
          - libs/langchain-nomic/**
          - libs/langchain-nomic/**/*
          - libs/langchain-pinecone/**
          - libs/langchain-pinecone/**/*
          - libs/langchain-qdrant/**
          - libs/langchain-qdrant/**/*
          - libs/langchain-tavily/**
          - libs/langchain-tavily/**/*
          - libs/langchain-weaviate/**
          - libs/langchain-weaviate/**/*
          - libs/langchain-yandex/**
          - libs/langchain-yandex/**/*

chore: remove net-mocks
  internal/net-mocks/.prettierrc
  internal/net-mocks/README.md
  internal/net-mocks/eslint.config.ts
  internal/net-mocks/example/__tests__/__snapshots__/ChatAnthropic_will_ignore_network_delay_if_useTimings_false.har
  internal/net-mocks/example/__tests__/__snapshots__/ChatAnthropic_will_keep_api_keys_out_of_archives_if_configured_properly.har
  internal/net-mocks/example/__tests__/__snapshots__/ChatAnthropic_will_reject_stale_responses_when_stale_reject.har
  internal/net-mocks/example/__tests__/__snapshots__/ChatAnthropic_will_reject_when_there_isn_t_a_match_when_noMatch_reject.har
  internal/net-mocks/example/__tests__/__snapshots__/ChatAnthropic_works_as_expected.har
  internal/net-mocks/example/__tests__/__snapshots__/my_special_archive.har
  internal/net-mocks/example/__tests__/chat_models.test.ts
  internal/net-mocks/example/vitest.config.ts
  internal/net-mocks/example/vitest.setup.ts
  internal/net-mocks/package.json
  internal/net-mocks/src/env.ts
  internal/net-mocks/src/index.ts
  internal/net-mocks/src/mock.ts
  internal/net-mocks/src/request.ts
  internal/net-mocks/src/spec.ts
  internal/net-mocks/src/utils.ts
  internal/net-mocks/tsconfig.json
Labels: internal

chore: remove net-mocks (#9328)
  internal/net-mocks/.prettierrc
  internal/net-mocks/README.md
  internal/net-mocks/eslint.config.ts
  internal/net-mocks/example/__tests__/__snapshots__/ChatAnthropic_will_ignore_network_delay_if_useTimings_false.har
  internal/net-mocks/example/__tests__/__snapshots__/ChatAnthropic_will_keep_api_keys_out_of_archives_if_configured_properly.har
  internal/net-mocks/example/__tests__/__snapshots__/ChatAnthropic_will_reject_stale_responses_when_stale_reject.har
  internal/net-mocks/example/__tests__/__snapshots__/ChatAnthropic_will_reject_when_there_isn_t_a_match_when_noMatch_reject.har
  internal/net-mocks/example/__tests__/__snapshots__/ChatAnthropic_works_as_expected.har
  internal/net-mocks/example/__tests__/__snapshots__/my_special_archive.har
  internal/net-mocks/example/__tests__/chat_models.test.ts
  internal/net-mocks/example/vitest.config.ts
  internal/net-mocks/example/vitest.setup.ts
  internal/net-mocks/package.json
  internal/net-mocks/src/env.ts
  internal/net-mocks/src/index.ts
  internal/net-mocks/src/mock.ts
  internal/net-mocks/src/request.ts
  internal/net-mocks/src/spec.ts
  internal/net-mocks/src/utils.ts
  internal/net-mocks/tsconfig.json
Labels: internal

properly reset state
  libs/langchain/src/agents/middleware/modelCallLimit.ts
  libs/langchain/src/agents/middleware/tests/modelCallLimit.test.ts
  libs/langchain/src/agents/middleware/tests/toolCallLimit.test.ts
  libs/langchain/src/agents/middleware/toolCallLimit.ts
  libs/langchain/src/agents/nodes/middleware.ts
Labels: none

fix(langchain): support encoding in stream method
  libs/langchain/src/agents/runtime.ts
  libs/langchain/src/agents/tests/reactAgent.test-d.ts
Labels: none

fix(aws): add lc_aliases for model_id/region_name in ChatBedrockConverse (#9322)
  libs/providers/langchain-aws/src/chat_models.ts
  libs/providers/langchain-aws/src/tests/chat_models.test.ts
Labels: none

fix(langchain): improvements on tool call limit middleware (#9321)
  libs/langchain/src/agents/middleware/modelCallLimit.ts
  libs/langchain/src/agents/middleware/tests/modelCallLimit.test.ts
  libs/langchain/src/agents/middleware/tests/toolCallLimit.test.ts
  libs/langchain/src/agents/middleware/toolCallLimit.ts
  libs/langchain/src/agents/nodes/middleware.ts
Labels: none

feat(@langchain/core): support of ToolRuntime
  libs/langchain-core/src/tools/index.ts
  libs/langchain-core/src/tools/tests/types.test-d.ts
  libs/langchain-core/src/tools/types.ts
  libs/langchain/src/agents/nodes/ToolNode.ts
  libs/langchain/src/agents/tests/tools.test.ts
Labels: none

cr
  libs/langchain-core/src/tools/types.ts
Labels: none

fix(langchain): support encoding in stream method (#9329)
  libs/langchain/src/agents/runtime.ts
  libs/langchain/src/agents/tests/reactAgent.test-d.ts
Labels: none

chore: rm web export + context exports
  libs/langchain/package.json
  libs/langchain/src/index.ts
  libs/langchain/src/web.ts
Labels: none

fix(langchain): remove getContextVariable and setContextVariable from langchain
  examples/src/createAgent/accessExternalContextInTools.ts
  libs/langchain/src/index.ts
Labels: examples

cr
  libs/langchain-core/src/tools/types.ts
Labels: none

fix(langchain): remove getContextVariable and setContextVariable from langchain (#9330)
  examples/src/createAgent/accessExternalContextInTools.ts
  libs/langchain/src/index.ts
Labels: examples

Create changeset for ToolRuntime feature
  .changeset/large-onions-attack.md
Labels: none

feat(@langchain/core): support of ToolRuntime (#9316)
  .changeset/large-onions-attack.md
  libs/langchain-core/src/tools/index.ts
  libs/langchain-core/src/tools/tests/types.test-d.ts
  libs/langchain-core/src/tools/types.ts
  libs/langchain/src/agents/nodes/ToolNode.ts
  libs/langchain/src/agents/tests/tools.test.ts
Labels: none

version packages
  .changeset/chatty-spies-shine.md
  .changeset/five-pandas-cheer.md
  .changeset/fresh-dingos-repair.md
  .changeset/large-onions-attack.md
  .changeset/lovely-bulldogs-applaud.md
  .changeset/twenty-clocks-raise.md
  libs/langchain-core/CHANGELOG.md
  libs/langchain-core/package.json
  libs/langchain/CHANGELOG.md
  libs/langchain/package.json
Labels: none

bump peer dep of core
  libs/langchain/package.json
Labels: none

Release `langchain` and `@langchain/core` (#9331)
  .changeset/chatty-spies-shine.md
  .changeset/five-pandas-cheer.md
  .changeset/fresh-dingos-repair.md
  .changeset/large-onions-attack.md
  .changeset/lovely-bulldogs-applaud.md
  .changeset/twenty-clocks-raise.md
  libs/langchain-core/CHANGELOG.md
  libs/langchain-core/package.json
  libs/langchain/CHANGELOG.md
  libs/langchain/package.json
Labels: none

fix(langchain): import missing beforeEach
  libs/langchain/src/agents/middleware/tests/toolCallLimit.test.ts
Labels: none

fix(langchain): import missing beforeEach (#9332)
  libs/langchain/src/agents/middleware/tests/toolCallLimit.test.ts
Labels: none

fix(langchain): don't check `hasSupportForJsonSchemaOutput` if specified provideStrategy explictly
  libs/langchain/src/agents/nodes/AgentNode.ts
  libs/langchain/src/agents/tests/responses.test.ts
Labels: none

fix: replace expr-eval to fix CVE-2025-12735
  libs/langchain-community/package.json
  libs/langchain-community/src/tools/calculator.ts
  pnpm-lock.yaml
Labels: community

fix(output_parsers): handle multiline string JSON in StructuredOutputParser and add tests
  libs/langchain-core/src/output_parsers/structured.ts
  libs/langchain-core/src/output_parsers/tests/structured-newlines.test.ts
Labels: none

fix(ollama): separate thinking content into reasoning_content field
  libs/providers/langchain-ollama/src/chat_models.ts
  libs/providers/langchain-ollama/src/tests/chat_models_think.int.test.ts
  libs/providers/langchain-ollama/src/tests/utils.test.ts
  libs/providers/langchain-ollama/src/utils.ts
Labels: none

fix(langchain): further tool call limit optimizations
  libs/langchain/src/agents/middleware/tests/toolCallLimit.test.ts
  libs/langchain/src/agents/middleware/toolCallLimit.ts
Labels: none

use zod for error messaging
  libs/langchain/src/agents/middleware/tests/toolCallLimit.test.ts
  libs/langchain/src/agents/middleware/toolCallLimit.ts
Labels: none

feat(langchain): add toolEmulator middleware
  libs/langchain/src/agents/middleware/index.ts
  libs/langchain/src/agents/middleware/tests/__mocks__/@langchain/anthropic.ts
  libs/langchain/src/agents/middleware/tests/__mocks__/@langchain/openai.ts
  libs/langchain/src/agents/middleware/tests/summarization.test.ts
  libs/langchain/src/agents/middleware/tests/toolEmulator.test.ts
  libs/langchain/src/agents/middleware/toolEmulator.ts
Labels: none

feat: port shell tool middleware
  libs/langchain/src/agents/middleware/index.ts
  libs/langchain/src/agents/middleware/shellTool/constants.ts
  libs/langchain/src/agents/middleware/shellTool/execution.ts
  libs/langchain/src/agents/middleware/shellTool/index.ts
  libs/langchain/src/agents/middleware/shellTool/redaction.ts
  libs/langchain/src/agents/middleware/shellTool/shellSession.ts
  libs/langchain/src/agents/middleware/shellTool/shellToolMiddleware.ts
  libs/langchain/src/agents/middleware/shellTool/utils.ts
Labels: none

feat(langchain): port filesystemFileSearchMiddleware
  libs/langchain/src/agents/middleware/filesystemFileSearch.ts
  libs/langchain/src/agents/middleware/index.ts
  libs/langchain/src/agents/middleware/tests/filesystemFileSearch.test.ts
Labels: none

Fix typos in some files
  dependency_range_tests/scripts/with_standard_tests/anthropic/test-with-latest-deps.sh
  dependency_range_tests/scripts/with_standard_tests/cohere/test-with-latest-deps.sh
  dependency_range_tests/scripts/with_standard_tests/community/test-with-latest-deps.sh
  dependency_range_tests/scripts/with_standard_tests/google-vertexai/test-with-latest-deps.sh
  dependency_range_tests/scripts/with_standard_tests/openai/test-with-latest-deps.sh
  examples/src/langchain-classic/indexes/vector_stores/cloudsql_pg_store.ts
Labels: ci, examples

Fix: StructuredOutputParser now handles multiline JSON strings & OpenAI-style tool calls
  .changeset/flat-places-cheer.md
  libs/langchain-core/src/output_parsers/structured.ts
  pnpm-lock.yaml
Labels: none

fix: CVE 2025 12735
  libs/langchain-community/package.json
  libs/langchain-community/src/tools/calculator.ts
Labels: community

fix: pnpm lock
  pnpm-lock.yaml
Labels: none

fix: lint issue in import
  libs/langchain-community/src/tools/calculator.ts
Labels: community

Create serious-toys-work.md
  .changeset/serious-toys-work.md
Labels: none

fix: CVE 2025 12735 (#9348)
  .changeset/serious-toys-work.md
  libs/langchain-community/package.json
  libs/langchain-community/src/tools/calculator.ts
  pnpm-lock.yaml
Labels: community

docs: fix typos in some files (#9344)
  dependency_range_tests/scripts/with_standard_tests/anthropic/test-with-latest-deps.sh
  dependency_range_tests/scripts/with_standard_tests/cohere/test-with-latest-deps.sh
  dependency_range_tests/scripts/with_standard_tests/community/test-with-latest-deps.sh
  dependency_range_tests/scripts/with_standard_tests/google-vertexai/test-with-latest-deps.sh
  dependency_range_tests/scripts/with_standard_tests/openai/test-with-latest-deps.sh
  examples/src/langchain-classic/indexes/vector_stores/cloudsql_pg_store.ts
Labels: ci, examples

fix(ollama): support parsing structured output from tool calls
  libs/providers/langchain-ollama/src/chat_models.ts
  libs/providers/langchain-ollama/src/tests/chat_models.int.test.ts
Labels: none

feat(google-vertexai): support Gemini propertyOrdering in withStructuredOutput
  libs/providers/langchain-google-common/src/chat_models.ts
Labels: none

feat(google-vertexai): support Gemini propertyOrdering in withStructuredOutput
  libs/providers/langchain-google-common/src/chat_models.ts
Labels: none
