Repository langchain-ai/langchainjs, pull requests merged in 2023-08, with the labels that each got.

#2129 Broader Runnable support, compositional pieces
  docs/extras/guides/_category_.yml
  docs/extras/guides/expression_language/_category_.yml
  docs/extras/guides/expression_language/cookbook.mdx
  docs/extras/guides/expression_language/interface.mdx
  examples/src/guides/expression_language/cookbook_basic.ts
  examples/src/guides/expression_language/cookbook_conversational_retrieval.ts
  examples/src/guides/expression_language/cookbook_output_parser.ts
  examples/src/guides/expression_language/cookbook_retriever.ts
  examples/src/guides/expression_language/cookbook_retriever_map.ts
  examples/src/guides/expression_language/cookbook_tools.ts
  examples/src/guides/expression_language/interface_batch.ts
  examples/src/guides/expression_language/interface_invoke.ts
  examples/src/guides/expression_language/interface_stream.ts
  langchain/.gitignore
  langchain/package.json
  langchain/scripts/create-entrypoints.js
  langchain/src/base_language/index.ts
  langchain/src/callbacks/base.ts
  langchain/src/callbacks/handlers/tracer.ts
  langchain/src/callbacks/manager.ts
  langchain/src/chains/base.ts
  langchain/src/chat_models/base.ts
  langchain/src/chat_models/tests/chatopenai.int.test.ts
  langchain/src/llms/base.ts
  langchain/src/load/import_map.ts
  langchain/src/load/import_type.d.ts
  langchain/src/output_parsers/noop.ts
  langchain/src/prompts/base.ts
  langchain/src/prompts/chat.ts
  langchain/src/schema/output_parser.ts
  langchain/src/schema/retriever.ts
  langchain/src/schema/runnable.ts
  langchain/src/schema/tests/runnable.test.ts
  langchain/src/tools/base.ts
  langchain/src/util/stream.ts
  langchain/tsconfig.json
  test-exports-cf/src/entrypoints.js
  test-exports-cjs/src/entrypoints.js
  test-exports-esbuild/src/entrypoints.js
  test-exports-esm/src/entrypoints.js
  test-exports-vercel/src/entrypoints.js
  test-exports-vite/src/entrypoints.js
  yarn.lock
Labels: auto:enhancement

#2134 Release 0.0.121
  langchain/package.json
Labels: auto:nit

#2119 Feature - add filter type for Milvus DB
  langchain/src/vectorstores/base.ts
  langchain/src/vectorstores/milvus.ts
  langchain/src/vectorstores/tests/milvus.int.test.ts
Labels: auto:improvement

#2130 fix(docs): fix abnormal behavior when opening docs submenu
  docs/docs_skeleton/package.json
  docs/docs_skeleton/yarn.lock
Labels: lgtm, auto:bug

#2135 Update index.mdx
  docs/docs_skeleton/docs/modules/model_io/models/llms/index.mdx
Labels: lgtm, auto:documentation

#2093 Feat: Weaviate delete with filter
  examples/src/indexes/vector_stores/weaviate_delete.ts
  langchain/src/vectorstores/tests/weaviate.int.test.ts
  langchain/src/vectorstores/weaviate.ts
Labels: lgtm, auto:improvement

#2137 Update get_started.mdx
  docs/snippets/modules/model_io/models/llms/get_started.mdx
Labels: auto:documentation

#2143 Fix: Partial Prompt Template docs typo
  docs/snippets/modules/model_io/prompts/prompt_templates/partial.mdx
Labels: lgtm, auto:documentation

#2138 Enterprise support form in airtable
  README.md
  docs/extras/production/deployment.md
  langchain/README.md
Labels: auto:documentation

#2145 🧑‍💻 Make 'QAEvalChain' available.
  langchain/src/evaluation/index.ts
Labels: auto:nit

#2146 Enterprise support form wording
  README.md
  docs/extras/production/deployment.md
  langchain/README.md
Labels: auto:documentation

#2148 Remove precommit compilation hook
  examples/package.json
  langchain/package.json
Labels: auto:nit

#2147 Adds conversational retrieval QA agent
  docs/extras/use_cases/conversational_retrieval_agents.mdx
  examples/src/guides/conversational_retrieval/agent.ts
  langchain/.gitignore
  langchain/package.json
  langchain/scripts/create-entrypoints.js
  langchain/src/agents/openai/index.ts
  langchain/src/agents/toolkits/conversational_retrieval/openai_functions.ts
  langchain/src/agents/toolkits/conversational_retrieval/token_buffer_memory.ts
  langchain/src/agents/toolkits/conversational_retrieval/tool.ts
  langchain/src/agents/toolkits/index.ts
  langchain/src/agents/toolkits/tests/conversational_retrieval.int.test.ts
  langchain/src/load/import_map.ts
  langchain/src/schema/index.ts
  langchain/src/stores/message/dynamodb.ts
  langchain/tsconfig.json
  test-exports-cf/src/entrypoints.js
  test-exports-cjs/src/entrypoints.js
  test-exports-esbuild/src/entrypoints.js
  test-exports-esm/src/entrypoints.js
  test-exports-vercel/src/entrypoints.js
  test-exports-vite/src/entrypoints.js
Labels: auto:enhancement

#2139 Adds runnable bind method
  docs/extras/guides/expression_language/cookbook.mdx
  examples/src/guides/expression_language/cookbook_function_call.ts
  examples/src/guides/expression_language/cookbook_stop_sequence.ts
  langchain/src/schema/runnable.ts
  langchain/src/schema/tests/runnable.test.ts
Labels: auto:improvement

#2149 Make document transformers runnable, adds HTML to text document transformer
  .husky/pre-commit
  docs/extras/modules/data_connection/document_transformers/integrations/html-to-text.mdx
  examples/src/document_transformers/html_to_text.ts
  langchain/.gitignore
  langchain/package.json
  langchain/scripts/create-entrypoints.js
  langchain/src/document_transformers/html_to_text.ts
  langchain/src/document_transformers/openai_functions.ts
  langchain/src/document_transformers/tests/html_to_text.int.test.ts
  langchain/src/load/import_constants.ts
  langchain/src/load/import_type.d.ts
  langchain/src/schema/document.ts
  langchain/src/text_splitter.ts
  langchain/tsconfig.json
Labels: auto:improvement

#2125 Add support for Xata as a vector store
  docs/extras/modules/data_connection/vectorstores/integrations/xata.mdx
  examples/package.json
  examples/src/indexes/vector_stores/xata.ts
  examples/src/indexes/vector_stores/xata_metadata.ts
  langchain/.gitignore
  langchain/package.json
  langchain/scripts/create-entrypoints.js
  langchain/src/load/import_map.ts
  langchain/src/vectorstores/tests/xata.int.test.ts
  langchain/src/vectorstores/xata.ts
  langchain/tsconfig.json
  test-exports-cf/src/entrypoints.js
  test-exports-cjs/src/entrypoints.js
  test-exports-esbuild/src/entrypoints.js
  test-exports-esm/src/entrypoints.js
  test-exports-vercel/src/entrypoints.js
  test-exports-vite/src/entrypoints.js
  yarn.lock
Labels: lgtm, auto:enhancement

#2152 Small docs update
  docs/extras/use_cases/conversational_retrieval_agents.mdx
Labels: auto:documentation

#2154 Move guide
  docs/extras/use_cases/question_answering/conversational_retrieval_agents.mdx
  docs/extras/use_cases/question_answering/index.mdx
Labels: auto:documentation

#2153 Update code model defaults for code-gecko in GoogleVertexAI
  langchain/src/llms/googlevertexai.ts
Labels: lgtm, auto:bug

#2155 Add check to stop empty documents being returned. Fixes #2144
  langchain/src/document_loaders/fs/unstructured.ts
Labels: lgtm, auto:bug

#2150 More mathutils
  langchain/.gitignore
  langchain/package.json
  langchain/scripts/create-entrypoints.js
  langchain/src/load/import_map.ts
  langchain/src/util/math.ts
  langchain/src/util/tests/math_utils.test.ts
  langchain/tsconfig.json
  test-exports-cf/src/entrypoints.js
  test-exports-cjs/src/entrypoints.js
  test-exports-esbuild/src/entrypoints.js
  test-exports-esm/src/entrypoints.js
  test-exports-vercel/src/entrypoints.js
  test-exports-vite/src/entrypoints.js
Labels: lgtm, auto:improvement

#2156 Allow runnables to implement transform streaming
  langchain/src/chains/transform.ts
  langchain/src/output_parsers/noop.ts
  langchain/src/schema/output_parser.ts
  langchain/src/schema/runnable.ts
  langchain/src/schema/tests/output_parser.test.ts
  langchain/src/schema/tests/runnable.test.ts
Labels: auto:improvement

#2165 Fix minor typo in memory docs
  docs/docs_skeleton/docs/modules/memory/index.mdx
Labels: lgtm, auto:documentation

#2071 Adding Maximal Marginal Relevance method to MongoDBAtlasVectorSearch
  langchain/src/vectorstores/base.ts
  langchain/src/vectorstores/mongodb_atlas.ts
  langchain/src/vectorstores/tests/mongodb_atlas.int.test.ts
Labels: auto:improvement

#2172 Release 0.0.123
  langchain/package.json
Labels: auto:nit

#2178 fix loadFromPython failed
  langchain/src/vectorstores/faiss.ts
  langchain/src/vectorstores/tests/faiss.int.test.data/faiss_index/index.faiss
  langchain/src/vectorstores/tests/faiss.int.test.data/faiss_index/index.pkl
  langchain/src/vectorstores/tests/faiss.int.test.data/requirements.txt
Labels: auto:bug

#2175 Adds router runnables
  langchain/src/schema/runnable.ts
  langchain/src/schema/tests/runnable.test.ts
Labels: auto:improvement

#2167 Adds Ollama chat model and llm
  docs/extras/modules/model_io/models/chat/integrations/ollama.mdx
  docs/extras/modules/model_io/models/llms/integrations/ollama.mdx
  docs/extras/use_cases/question_answering/local_retrieval_qa.mdx
  examples/src/chains/retrieval_qa_custom_prompt.ts
  examples/src/llms/ollama.ts
  examples/src/models/chat/integration_ollama.ts
  examples/src/use_cases/local_retrieval_qa/chain.ts
  examples/src/use_cases/local_retrieval_qa/load_documents.ts
  examples/src/use_cases/local_retrieval_qa/qa_chain.ts
  langchain/.gitignore
  langchain/package.json
  langchain/scripts/create-entrypoints.js
  langchain/src/chains/retrieval_qa.ts
  langchain/src/chat_models/anthropic.ts
  langchain/src/chat_models/ollama.ts
  langchain/src/chat_models/tests/chatollama.int.test.ts
  langchain/src/llms/ollama.ts
  langchain/src/llms/tests/ollama.int.test.ts
  langchain/src/load/import_map.ts
  langchain/src/util/ollama.ts
  langchain/src/util/stream.ts
  langchain/tsconfig.json
  test-exports-cf/src/entrypoints.js
  test-exports-cjs/src/entrypoints.js
  test-exports-esbuild/src/entrypoints.js
  test-exports-esm/src/entrypoints.js
  test-exports-vercel/src/entrypoints.js
  test-exports-vite/src/entrypoints.js
Labels: auto:enhancement

#2187 Update docs
  docs/extras/use_cases/question_answering/local_retrieval_qa.mdx
  examples/src/use_cases/local_retrieval_qa/chain.ts
  examples/src/use_cases/local_retrieval_qa/load_documents.ts
  examples/src/use_cases/local_retrieval_qa/qa_chain.ts
Labels: auto:documentation

#2188 Release 0.0.124
  langchain/package.json
Labels: auto:nit

#2068 fix non saving chroma loc
  langchain/src/vectorstores/chroma.ts
  langchain/src/vectorstores/tests/chroma.test.ts
Labels: close, auto:bug

#2194 Fix: pass retriever metadata to the filter argument of the Postgres (…
  langchain/src/retrievers/supabase.ts
Labels: lgtm, auto:bug

#2200 Update Vectara docs
  docs/extras/modules/data_connection/vectorstores/integrations/vectara.mdx
  examples/src/indexes/vector_stores/vectara.ts
Labels: auto:documentation

#2203 Milvus text field max length
  langchain/src/vectorstores/milvus.ts
Labels: lgtm, auto:improvement

#2193 Add AssemblyAI transcript API as loaders
  docs/docs_skeleton/src/css/custom.css
  docs/extras/modules/data_connection/document_loaders/integrations/web_loaders/assemblyai_audio_transcription.mdx
  examples/.env.example
  examples/src/document_loaders/assemblyai_audio_transcription.ts
  examples/src/document_loaders/assemblyai_subtitles.ts
  langchain/.env.example
  langchain/.gitignore
  langchain/package.json
  langchain/scripts/create-entrypoints.js
  langchain/src/document_loaders/tests/assemblyai.int.test.ts
  langchain/src/document_loaders/web/assemblyai.ts
  langchain/src/load/import_constants.ts
  langchain/src/load/import_type.d.ts
  langchain/src/types/assemblyai-types.ts
  langchain/src/util/assemblyai-client.ts
  langchain/tsconfig.json
Labels: lgtm, auto:enhancement

#2180 Add: USearch Vector Store
  docs/extras/modules/data_connection/vectorstores/integrations/usearch.mdx
  examples/src/indexes/vector_stores/usearch.ts
  examples/src/indexes/vector_stores/usearch_fromdocs.ts
  langchain/.gitignore
  langchain/package.json
  langchain/scripts/create-entrypoints.js
  langchain/src/load/import_constants.ts
  langchain/src/load/import_type.d.ts
  langchain/src/vectorstores/tests/usearch.int.test.ts
  langchain/src/vectorstores/usearch.ts
  langchain/tsconfig.json
  yarn.lock
Labels: lgtm, auto:enhancement

#2209 Add consistent timeout for Vectara API calls
  langchain/src/vectorstores/vectara.ts
Labels: close, auto:improvement

#2185 Feature - add delete function for Milvus DB
  langchain/src/vectorstores/milvus.ts
  langchain/src/vectorstores/tests/milvus.int.test.ts
Labels: question, close, auto:improvement

#2223 Adds base case for functional translator filter
  langchain/src/retrievers/self_query/functional.ts
  langchain/src/retrievers/self_query/tests/hnswlib_self_query.int.test.ts
Labels: auto:bug

#2233 docs: (Mendable) Fixes it getting stuck when tabbing out
  docs/docs_skeleton/package.json
  docs/docs_skeleton/yarn.lock
Labels: auto:documentation

#2230 Add context sentence config for Vectara search
  langchain/src/vectorstores/tests/vectara.int.test.ts
  langchain/src/vectorstores/vectara.ts
Labels: lgtm, auto:improvement

#2237 Fix TFJS build docs
  docs/extras/modules/data_connection/text_embedding/integrations/tensorflow.mdx
  docs/extras/use_cases/question_answering/local_retrieval_qa.mdx
Labels: auto:documentation

#2217 Xata as a chat message memory store
  docs/extras/modules/memory/integrations/xata.mdx
  examples/src/memory/xata-advanced.ts
  examples/src/memory/xata.ts
  langchain/.gitignore
  langchain/package.json
  langchain/scripts/create-entrypoints.js
  langchain/src/load/import_constants.ts
  langchain/src/load/import_type.d.ts
  langchain/src/stores/message/xata.ts
  langchain/src/stores/tests/xata.int.test.ts
  langchain/tsconfig.json
Labels: lgtm, auto:enhancement

#2234 Adds parent document retriever
  docs/extras/modules/data_connection/retrievers/integrations/parent-document-retriever.mdx
  examples/src/retrievers/parent_document_retriever.ts
  langchain/.gitignore
  langchain/package.json
  langchain/scripts/create-entrypoints.js
  langchain/src/load/import_map.ts
  langchain/src/retrievers/parent_document.ts
  langchain/src/retrievers/tests/parent_document.int.test.ts
  langchain/tsconfig.json
  test-exports-cf/src/entrypoints.js
  test-exports-cjs/src/entrypoints.js
  test-exports-esbuild/src/entrypoints.js
  test-exports-esm/src/entrypoints.js
  test-exports-vercel/src/entrypoints.js
  test-exports-vite/src/entrypoints.js
Labels: auto:enhancement

#2222 Add optional client options to Anthropic sdk to allow overridable default headers
  langchain/src/chat_models/anthropic.ts
  langchain/src/chat_models/tests/chatanthropic.int.test.ts
Labels: lgtm, auto:improvement

#2239 Adds community page to docs, fix lint
  docs/.gitignore
  docs/docs_skeleton/docs/community.md
  docs/docs_skeleton/sidebars.js
  langchain/src/vectorstores/milvus.ts
Labels: auto:documentation

#2231 Add support for weaviate multi tenancy
  langchain/package.json
  langchain/src/vectorstores/tests/weaviate.int.test.ts
  langchain/src/vectorstores/weaviate.ts
  yarn.lock
Labels: lgtm, auto:improvement

#2242 Release 0.0.126
  langchain/package.json
  langchain/src/chat_models/tests/chatollama.int.test.ts
  langchain/src/llms/tests/ollama.int.test.ts
  langchain/src/vectorstores/tests/vectara.int.test.ts
  langchain/src/vectorstores/vectara.ts
Labels: auto:improvement

#2243 fix(qa-doc): rename vectorstore to vectorStore
  docs/extras/use_cases/question_answering/index.mdx
Labels: lgtm, auto:documentation

#2247 Adds output parser docs
  docs/extras/modules/model_io/output_parsers/bytes.mdx
  docs/extras/modules/model_io/output_parsers/string.mdx
  examples/src/prompts/bytes_output_parser.ts
  examples/src/prompts/string_output_parser.ts
Labels: auto:documentation

#2246 Adds templates to getting started section
  docs/docs_skeleton/docs/community.md
  docs/docs_skeleton/static/img/nextjs-agent-conversation.png
  docs/extras/get_started/_category_.yml
  docs/extras/guides/deployment/index.mdx
  docs/extras/guides/deployment/nextjs.mdx
Labels: auto:documentation

#2049 feat: Add Raycast AI support
  docs/extras/modules/model_io/models/llms/integrations/raycast.mdx
  examples/package.json
  examples/src/models/llm/raycast.ts
  langchain/.gitignore
  langchain/package.json
  langchain/scripts/create-entrypoints.js
  langchain/src/llms/raycast.ts
  langchain/src/load/import_constants.ts
  langchain/src/load/import_type.d.ts
  langchain/tsconfig.json
  yarn.lock
Labels: lgtm, auto:enhancement

#2238 feat/ZepVectorStore + zepjs upgrade and mods
  docs/extras/modules/data_connection/vectorstores/integrations/zep.mdx
  docs/snippets/modules/data_connection/vectorstores/get_started.mdx
  examples/src/indexes/vector_stores/zep/zep_from_docs.ts
  examples/src/indexes/vector_stores/zep/zep_with_metadata.ts
  examples/src/indexes/vector_stores/zep/zep_with_openai_embeddings.ts
  examples/src/memory/zep.ts
  examples/src/retrievers/zep.ts
  langchain/.gitignore
  langchain/package.json
  langchain/scripts/create-entrypoints.js
  langchain/src/load/import_constants.ts
  langchain/src/load/import_type.d.ts
  langchain/src/memory/zep.ts
  langchain/src/retrievers/zep.ts
  langchain/src/vectorstores/tests/zep.test.ts
  langchain/src/vectorstores/zep.ts
  langchain/tsconfig.json
  yarn.lock
Labels: lgtm, auto:enhancement

#2248 Fix lint
  .github/workflows/ci.yml
  langchain/src/vectorstores/tests/zep.test.ts
Labels: auto:nit

#2249 Release 0.0.127
  langchain/package.json
Labels: auto:nit

#2252 Improve function calling docs
  docs/extras/modules/model_io/models/chat/how_to/function_calling.mdx
  examples/package.json
  examples/src/models/chat/openai_functions.ts
  examples/src/models/chat/openai_functions_zod.ts
  yarn.lock
Labels: auto:documentation

#2266 Fix Ollama defaults for Node 18
  langchain/src/chat_models/ollama.ts
  langchain/src/chat_models/tests/chatollama.int.test.ts
  langchain/src/llms/ollama.ts
  langchain/src/llms/tests/ollama.int.test.ts
Labels: auto:bug

#2132 Fix streaming errors in Node (Express, Next, etc.) environments
  langchain/src/util/event-source-parse.ts
Labels: question, auto:bug

#2260 Minor gramma fix + added docs to make chat_history available to retrieval qaChain
  docs/snippets/modules/chains/popular/chat_vector_db.mdx
  examples/src/chains/qa_refine_custom_prompt.ts
  langchain/src/chains/question_answering/refine_prompts.ts
Labels: lgtm, auto:documentation

#2273 fix loose metadata when retrieve from Chroma
  langchain/src/vectorstores/chroma.ts
Labels: lgtm, auto:bug

#2262 Add @mozilla/readability as document transformer
  docs/extras/modules/data_connection/document_transformers/integrations/mozilla_readability.mdx
  examples/src/document_transformers/mozilla_readability.ts
  langchain/.gitignore
  langchain/package.json
  langchain/scripts/create-entrypoints.js
  langchain/src/document_transformers/mozilla_readability.ts
  langchain/src/document_transformers/tests/mozilla_readability.test.ts
  langchain/src/load/import_constants.ts
  langchain/src/load/import_type.d.ts
  langchain/tsconfig.json
  yarn.lock
Labels: lgtm, auto:enhancement

#2250 Feat: add mergeFrom and fromIndex in FaissStore
  docs/extras/modules/data_connection/vectorstores/integrations/faiss.mdx
  examples/src/indexes/vector_stores/faiss_mergefrom.ts
  langchain/package.json
  langchain/src/vectorstores/faiss.ts
  langchain/src/vectorstores/tests/faiss.test.ts
  yarn.lock
Labels: question, lgtm, auto:enhancement

#2224 feat: Parallelize the GithubRepoLoader
  examples/src/document_loaders/github.ts
  langchain/src/document_loaders/tests/example_data/github_api_responses.ts
  langchain/src/document_loaders/tests/github.test.ts
  langchain/src/document_loaders/web/github.ts
Labels: lgtm, auto:improvement

#2218 add sap hana support for sql chains and agents
  docs/snippets/modules/chains/popular/sqlite.mdx
  examples/src/agents/sql_sap_hana.ts
  examples/src/chains/sql_db_saphana.ts
  langchain/src/chains/sql_db/index.ts
  langchain/src/chains/sql_db/sql_db_prompt.ts
  langchain/src/util/sql_utils.ts
Labels: lgtm, auto:enhancement

#2210 Add Amazon Bedrock LLM endpoint integration
  docs/extras/modules/model_io/models/llms/integrations/bedrock.mdx
  examples/src/llms/bedrock.js
  examples/src/models/llm/bedrock.ts
  langchain/.gitignore
  langchain/package.json
  langchain/scripts/create-entrypoints.js
  langchain/src/llms/bedrock.ts
  langchain/src/llms/tests/bedrock.int.test.ts
  langchain/src/load/import_constants.ts
  langchain/src/load/import_type.d.ts
  langchain/tsconfig.json
  yarn.lock
Labels: close, auto:enhancement

#2280 Mark retriever tool input schema as required
  langchain/src/agents/toolkits/conversational_retrieval/tool.ts
  langchain/src/agents/toolkits/tests/conversational_retrieval.int.test.ts
Labels: auto:bug

#2276 Fix addDocuments ids
  langchain/src/vectorstores/supabase.ts
  langchain/src/vectorstores/tests/supabase.int.test.ts
Labels: lgtm, auto:bug

#2255 Fixes: Self-query fixes
  langchain/src/chains/query_constructor/ir.ts
  langchain/src/chains/query_constructor/prompt.ts
  langchain/src/retrievers/self_query/base.ts
  langchain/src/retrievers/self_query/chroma.ts
  langchain/src/retrievers/self_query/functional.ts
  langchain/src/retrievers/self_query/index.ts
  langchain/src/retrievers/self_query/pinecone.ts
  langchain/src/retrievers/self_query/supabase.ts
  langchain/src/retrievers/self_query/tests/memory_self_query.int.test.ts
  langchain/src/retrievers/self_query/tests/pinecone_self_query.int.test.ts
  langchain/src/retrievers/self_query/tests/supabase_self_query.int.test.ts
  langchain/src/retrievers/self_query/tests/weaviate_self_query.int.test.ts
  langchain/src/retrievers/self_query/utils.ts
  langchain/src/retrievers/self_query/weaviate.ts
  langchain/src/vectorstores/supabase.ts
Labels: question, close, auto:improvement

#2270 Optional 'user' input param for OpenAI API
  langchain/src/chat_models/openai.ts
  langchain/src/llms/openai-chat.ts
  langchain/src/llms/openai.ts
  langchain/src/types/openai-types.ts
Labels: lgtm, auto:improvement

#2293 zep/VectorStore MMR + bugfixes
  docs/extras/modules/data_connection/vectorstores/integrations/zep.mdx
  examples/src/indexes/vector_stores/zep/zep_from_docs.ts
  examples/src/indexes/vector_stores/zep/zep_with_metadata.ts
  examples/src/indexes/vector_stores/zep/zep_with_openai_embeddings.ts
  langchain/src/vectorstores/tests/zep.test.ts
  langchain/src/vectorstores/zep.ts
Labels: auto:improvement

#2292 Adds runnables with fallbacks
  docs/extras/guides/fallbacks.mdx
  examples/src/guides/fallbacks/better_model.ts
  examples/src/guides/fallbacks/chain.ts
  examples/src/guides/fallbacks/long_inputs.ts
  examples/src/guides/fallbacks/model.ts
  langchain/src/schema/runnable.ts
  langchain/src/schema/tests/runnable.test.ts
Labels: auto:improvement

#2279 Adds embeddings cache and BaseStore
  docs/extras/modules/data_connection/caching_embeddings.mdx
  examples/src/embeddings/cache_backed_in_memory.ts
  examples/src/embeddings/cache_backed_redis.ts
  langchain/.gitignore
  langchain/package.json
  langchain/scripts/create-entrypoints.js
  langchain/src/embeddings/cache_backed.ts
  langchain/src/embeddings/tests/cache.test.ts
  langchain/src/load/import_constants.ts
  langchain/src/load/import_map.ts
  langchain/src/load/import_type.d.ts
  langchain/src/schema/storage.ts
  langchain/src/storage/encoder_backed.ts
  langchain/src/storage/in_memory.ts
  langchain/src/storage/ioredis.ts
  langchain/src/storage/tests/ioredis.int.test.ts
  langchain/tsconfig.json
  test-exports-cf/src/entrypoints.js
  test-exports-cjs/src/entrypoints.js
  test-exports-esbuild/src/entrypoints.js
  test-exports-esm/src/entrypoints.js
  test-exports-vercel/src/entrypoints.js
  test-exports-vite/src/entrypoints.js
Labels: auto:enhancement

#2295 Adds docstrings to runnables
  langchain/src/schema/runnable.ts
Labels: auto:documentation

#2289 Check that env var is truthy
  langchain/src/callbacks/manager.ts
Labels: auto:improvement

#2309 Properly mark peer deps as optional
  langchain/package.json
  yarn.lock
Labels: auto:nit

#2305 Fix stored function message mapping to chat (#2303)
  langchain/src/schema/index.ts
  langchain/src/stores/message/utils.ts
Labels: lgtm, auto:bug

#2308 update myscale default index type
  langchain/src/vectorstores/myscale.ts
Labels: lgtm, auto:improvement

#2315 Implement YouTube transcripts loader
  docs/extras/modules/data_connection/document_loaders/integrations/web_loaders/youtube.mdx
  examples/src/document_loaders/youtube.ts
  langchain/.gitignore
  langchain/package.json
  langchain/scripts/create-entrypoints.js
  langchain/src/document_loaders/web/youtube.ts
  langchain/src/load/import_constants.ts
  langchain/src/load/import_type.d.ts
  langchain/tsconfig.json
  yarn.lock
Labels: lgtm, auto:enhancement

#2294 OpenAIEmbeddings and CohereEmbeddings: Parallelize embedDocuments
  docs/extras/modules/data_connection/text_embedding/integrations/cohere.mdx
  docs/extras/modules/data_connection/text_embedding/integrations/openai.mdx
  langchain/src/embeddings/cohere.ts
  langchain/src/embeddings/googlevertexai.ts
  langchain/src/embeddings/openai.ts
  langchain/src/embeddings/tests/cohere.int.test.ts
  langchain/src/embeddings/tests/openai.int.test.ts
Labels: lgtm, auto:improvement

#1599 add delete function to hnswlib index
  docs/extras/modules/data_connection/vectorstores/integrations/hnswlib.mdx
  examples/src/indexes/vector_stores/hnswlib_delete.ts
  langchain/src/vectorstores/hnswlib.ts
  langchain/src/vectorstores/tests/hnswlib.int.test.ts
Labels: lgtm

#2319 Release 0.0.130
  langchain/package.json
Labels: auto:nit

#2329 Fix runnable serialization
  langchain/src/schema/runnable.ts
Labels: auto:bug

#2312 Fix: Supabase self-query "or" filters merge operator
  langchain/src/retrievers/self_query/index.ts
  langchain/src/retrievers/self_query/supabase.ts
  langchain/src/retrievers/self_query/supabase_utils.ts
  langchain/src/retrievers/self_query/tests/supabase_self_query.int.test.ts
  langchain/src/retrievers/self_query/utils.ts
  langchain/src/retrievers/self_query/weaviate.ts
  langchain/src/vectorstores/supabase.ts
Labels: close, auto:improvement

#2323 fix: ERNIE-Bot-turbo supports temperature and more
  langchain/src/chat_models/baiduwenxin.ts
Labels: auto:improvement

#2325 feat: allow openai organization to be set from process.env
  langchain/src/chat_models/openai.ts
  langchain/src/llms/openai-chat.ts
  langchain/src/llms/openai.ts
Labels: auto:improvement

#2306 Add size parameter to elastic search query #2229
  langchain/src/vectorstores/elasticsearch.ts
  langchain/src/vectorstores/tests/elasticsearch.int.test.ts
Labels: lgtm, auto:improvement

#2331 Release 0.0.131
  langchain/package.json
  langchain/src/load/import_type.d.ts
Labels: auto:nit

#2330 Update docs
  docs/extras/modules/data_connection/retrievers/how_to/self_query/chroma-self-query.mdx
  docs/extras/modules/data_connection/retrievers/how_to/self_query/hnswlib-self-query.mdx
  docs/extras/modules/data_connection/retrievers/how_to/self_query/memory-self-query.mdx
  docs/extras/modules/data_connection/retrievers/how_to/self_query/pinecone-self-query.mdx
  docs/extras/modules/data_connection/retrievers/how_to/self_query/supabase-self-query.mdx
  docs/extras/modules/data_connection/retrievers/how_to/self_query/weaviate-self-query.mdx
  docs/extras/modules/data_connection/text_embedding/integrations/openai.mdx
  docs/extras/modules/model_io/models/chat/integrations/openai.mdx
  docs/extras/modules/model_io/models/llms/integrations/openai.mdx
  docs/snippets/modules/data_connection/retrievers/self_query/get_started.mdx
Labels: auto:documentation

#2347 Fix custom Anthropic API URL passing
  langchain/src/chat_models/anthropic.ts
Labels: auto:bug

#2348 Fix Anthropic header passing
  langchain/src/chat_models/anthropic.ts
  langchain/src/chat_models/tests/chatanthropic.int.test.ts
Labels: auto:bug

#2350 Docs fixes
  docs/docs_skeleton/docusaurus.config.js
  docs/extras/modules/data_connection/retrievers/how_to/parent-document-retriever.mdx
  docs/vercel.json
  langchain/src/experimental/generative_agents/generative_agent.ts
  langchain/src/retrievers/parent_document.ts
Labels: auto:documentation

#2352 Update function calling chain docs
  docs/extras/modules/chains/popular/structured_output.mdx
  examples/src/chains/openai_functions_structured_format.ts
Labels: auto:documentation

#2342 Add Vectara document metadata
  langchain/src/vectorstores/tests/vectara.int.test.ts
  langchain/src/vectorstores/vectara.ts
Labels: auto:improvement

#2356 Add Vectara addFile function (extends #2184)
  langchain/src/vectorstores/tests/vectara.int.test.ts
  langchain/src/vectorstores/vectara.ts
Labels: auto:improvement

#2345 support connect milvus with token, fix auto id
  langchain/package.json
  langchain/src/vectorstores/milvus.ts
  langchain/src/vectorstores/tests/milvus.int.test.ts
  yarn.lock
Labels: lgtm, auto:improvement

#2351 Allow passing k number of documents to retrieve by ParentDocumentRetriever
  examples/src/retrievers/parent_document_retriever.ts
  langchain/src/retrievers/parent_document.ts
Labels: lgtm, auto:improvement

#2357 Release 0.0.132
  langchain/package.json
Labels: auto:nit

#2368 Fix serialisation of StrOutputParser and ByteOutputParser
  langchain/src/schema/output_parser.ts
Labels: auto:bug

#2373 Add OpenAI fine tuning example to docs
  docs/extras/modules/model_io/models/chat/integrations/openai.mdx
  examples/src/models/chat/integration_openai.ts
  examples/src/models/chat/integration_openai_fine_tune.ts
Labels: auto:documentation

#2369 Update INTEGRATIONS.md
  .github/contributing/INTEGRATIONS.md
Labels: auto:documentation

#2358 Add documentation for Vectara addFiles function
  langchain/src/vectorstores/vectara.ts
Labels: auto:documentation

#2364 Minor content correction on Agent Types doc's
  docs/docs_skeleton/docs/modules/agents/agent_types/index.mdx
Labels: auto:documentation

#2375 Update langsmith package version
  langchain/package.json
  yarn.lock
Labels: auto:nit

#2380 Update ChatOllama instructions
  langchain/src/chat_models/ollama.ts
Labels: auto:improvement

#2164 onDocumentLoaded callback, rate limits & queue for NotionAPI document Loader
  langchain/src/document_loaders/tests/notionapi.int.test.ts
  langchain/src/document_loaders/web/notionapi.ts
Labels: lgtm, auto:improvement

#2387 Update Node 16 installation instructions
  docs/snippets/get_started/installation.mdx
Labels: auto:documentation

#2388 Update retrieval docs, move embeddings docs
  docs/docs_skeleton/docs/modules/data_connection/index.mdx
  docs/extras/modules/data_connection/text_embedding/how_to/caching_embeddings.mdx
  docs/vercel.json
Labels: auto:documentation

#2340 Implement Google Vertex AI Matching Engine.
  docs/extras/modules/data_connection/vectorstores/integrations/googlevertexai.mdx
  examples/src/indexes/vector_stores/googlevertexai.ts
  langchain/scripts/create-entrypoints.js
  langchain/src/chat_models/googlevertexai.ts
  langchain/src/embeddings/googlevertexai.ts
  langchain/src/experimental/multimodal_embeddings/googlevertexai.ts
  langchain/src/llms/googlevertexai.ts
  langchain/src/types/googlevertexai-types.ts
  langchain/src/util/googlevertexai-connection.ts
  langchain/src/vectorstores/googlevertexai.ts
  langchain/src/vectorstores/tests/googlevertexai.int.test.ts
  langchain/src/vectorstores/tests/googlevertexai.test.ts
Labels: lgtm, auto:enhancement

#2374 Feature executor handle parsing errors
  docs/extras/modules/agents/how_to/handle_parsing_errors.mdx
  examples/src/agents/handle_parsing_error.ts
  langchain/src/agents/chat/outputParser.ts
  langchain/src/agents/executor.ts
  langchain/src/agents/mrkl/outputParser.ts
  langchain/src/agents/tests/openai.int.test.ts
  langchain/src/tools/base.ts
Labels: auto:improvement

#2390 Release 0.0.133
  langchain/.gitignore
  langchain/package.json
  langchain/src/load/import_constants.ts
  langchain/src/load/import_type.d.ts
  langchain/tsconfig.json
Labels: auto:nit

#2400 Initial hub integration
  langchain/.gitignore
  langchain/package.json
  langchain/scripts/create-entrypoints.js
  langchain/src/hub.ts
  langchain/src/load/import_constants.ts
  langchain/src/load/import_type.d.ts
  langchain/src/tests/hub.int.test.ts
  langchain/src/vectorstores/googlevertexai.ts
  langchain/tsconfig.json
  yarn.lock
Labels: auto:enhancement

#2367 Add support for streaming responses for Amazon Bedrock LLM
  docs/extras/modules/model_io/models/llms/integrations/bedrock.mdx
  langchain/package.json
  langchain/src/llms/bedrock.ts
  langchain/src/llms/tests/bedrock.int.test.ts
  yarn.lock
Labels: question, close, auto:enhancement

#2393 Export CallbackManagerForRetrieverRun
  langchain/src/callbacks/index.ts
Labels: lgtm, auto:nit

#2371 fix: ListTablesSqlTool to consider includeTables and ignoreTables
  langchain/src/agents/tests/sql.test.ts
  langchain/src/tools/sql.ts
Labels: lgtm, hold, auto:bug

#2394 Updated docs and metric types in langchain
  docs/snippets/modules/data_connection/vectorstores/get_started.mdx
  examples/src/indexes/vector_stores/myscale_fromTexts.ts
  examples/src/indexes/vector_stores/myscale_search.ts
  langchain/src/vectorstores/myscale.ts
Labels: question, lgtm, auto:documentation

#2379 Ported Recursive URL Loader: From Python to TypeScript with Concurrency Support
  docs/extras/modules/data_connection/document_loaders/integrations/web_loaders/recursive_url_loader.md
  langchain/.gitignore
  langchain/package.json
  langchain/scripts/create-entrypoints.js
  langchain/src/document_loaders/tests/recursive_url.int.test.ts
  langchain/src/document_loaders/web/recursive_url.ts
  langchain/src/load/import_constants.ts
  langchain/src/load/import_type.d.ts
  langchain/tsconfig.json
Labels: lgtm, auto:refactor

#2404 Release 0.0.134
  langchain/package.json
  langchain/src/chat_models/tests/chatgooglevertexai.int.test.ts
  langchain/src/experimental/multimodal_embeddings/tests/googlevertexai.int.test.ts
  langchain/src/llms/tests/googlevertexai.int.test.ts
  langchain/src/vectorstores/tests/googlevertexai.int.test.ts
Labels: auto:improvement

#2407 feat: custom descriptions to SqlDatabase
  langchain/src/agents/tests/sql.test.ts
  langchain/src/sql_db.ts
  langchain/src/util/sql_utils.ts
Labels: auto:improvement

#2409 Adds Notion docs
  examples/src/document_loaders/notionapi.ts
  langchain/src/memory/summary_buffer.ts
Labels: auto:documentation

#2377 fix: improve the ChatConversationalAgentOutputParser filter for markd…
  langchain/src/agents/chat_convo/outputParser.ts
  langchain/src/agents/tests/chat_convo_output_parser.test.ts
Labels: lgtm, auto:bug

#2025 Feature: Add handleEvent callback
  langchain/src/callbacks/base.ts
  langchain/src/callbacks/handlers/tracer.ts
  langchain/src/callbacks/manager.ts
  langchain/src/chat_models/openai.ts
Labels: auto:improvement

#2403 Add MongoDB chat message history
  docs/extras/modules/memory/integrations/mongodb.mdx
  examples/src/memory/mongodb.ts
  langchain/.gitignore
  langchain/package.json
  langchain/scripts/create-entrypoints.js
  langchain/src/load/import_constants.ts
  langchain/src/load/import_type.d.ts
  langchain/src/stores/message/mongodb.ts
  langchain/src/stores/tests/mongodb.int.test.ts
  langchain/tsconfig.json
Labels: lgtm, auto:enhancement

#2401 feat: Add Writer support
  docs/extras/modules/model_io/models/llms/integrations/writer.mdx
  examples/src/models/llm/writer.ts
  langchain/.gitignore
  langchain/package.json
  langchain/scripts/create-entrypoints.js
  langchain/src/llms/tests/writer.int.test.ts
  langchain/src/llms/writer.ts
  langchain/src/load/import_constants.ts
  langchain/src/load/import_type.d.ts
  langchain/tsconfig.json
  yarn.lock
Labels: lgtm, auto:enhancement

#2410 Recursive k similarity search
  docs/extras/modules/data_connection/retrievers/how_to/similarity-score-threshold-retriever.mdx
  examples/src/guides/expression_language/cookbook_retriever_map.ts
  examples/src/retrievers/similarity_score_threshold.ts
  langchain/.gitignore
  langchain/package.json
  langchain/scripts/create-entrypoints.js
  langchain/src/load/import_map.ts
  langchain/src/retrievers/score_threshold.ts
  langchain/src/retrievers/tests/score_threshold.int.test.ts
  langchain/tsconfig.json
  test-exports-cf/src/entrypoints.js
  test-exports-cjs/src/entrypoints.js
  test-exports-esbuild/src/entrypoints.js
  test-exports-esm/src/entrypoints.js
  test-exports-vercel/src/entrypoints.js
  test-exports-vite/src/entrypoints.js
Labels: lgtm, auto:enhancement

#2414 Release 0.0.135
  langchain/package.json
Labels: auto:nit

#2415 Feat: Add collection metadata in ChromaDB vectorstore
  examples/src/indexes/vector_stores/chroma/fromDocs.ts
  langchain/src/vectorstores/chroma.ts
  langchain/src/vectorstores/tests/chroma.test.ts
Labels: auto:improvement

#2418 fix(issue: 2417): Fixed the bug that the call's values will be filted in RetrivealQaChain
  langchain/src/chains/retrieval_qa.ts
Labels: lgtm, auto:bug

#2334 Automatically extract template variables
  docs/snippets/modules/model_io/prompts/prompt_templates/get_started.mdx
  examples/src/guides/fallbacks/better_model.ts
  examples/src/guides/fallbacks/chain.ts
  langchain/src/chat_models/tests/chatollama.int.test.ts
  langchain/src/llms/tests/ollama.int.test.ts
  langchain/src/prompts/prompt.ts
  langchain/src/prompts/tests/chat.test.ts
  langchain/src/prompts/tests/prompt.test.ts
  langchain/src/schema/tests/runnable.test.ts
Labels: lgtm, auto:improvement

#2422 add wolframalpha tool
  docs/extras/modules/agents/tools/integrations/wolframalpha.mdx
  examples/src/tools/wolframalpha.ts
  langchain/src/tools/index.ts
  langchain/src/tools/wolframalpha.ts
Labels: lgtm, auto:enhancement

#2423 Specify number of both child and parent documents in ParentDocumentRetriever
  examples/src/retrievers/parent_document_retriever.ts
  langchain/src/retrievers/parent_document.ts
Labels: lgtm, auto:improvement

#2426 Make Vectara metadata an object instead of an array
  langchain/src/vectorstores/tests/vectara.int.test.ts
  langchain/src/vectorstores/vectara.ts
Labels: auto:improvement

#2429 Revert Redis integration test
  langchain/src/vectorstores/tests/redis.int.test.ts
  test-int-deps-docker-compose.yml
Labels: auto:nit

#2432 Recursive url fix
  langchain/src/document_loaders/tests/recursive_url.int.test.ts
  langchain/src/document_loaders/web/recursive_url.ts
Labels: auto:bug

#2413 Local llama
  docs/extras/modules/model_io/models/llms/integrations/llama_cpp.mdx
  examples/src/models/llm/llama_cpp.ts
  langchain/.env.example
  langchain/.gitignore
  langchain/package.json
  langchain/scripts/create-entrypoints.js
  langchain/src/llms/llama_cpp.ts
  langchain/src/llms/tests/llama_cpp.int.test.ts
  langchain/src/load/import_constants.ts
  langchain/src/load/import_type.d.ts
  langchain/tsconfig.json
  yarn.lock
Labels: lgtm, in progress, auto:enhancement

#2438 Adds multi vector retriever
  docs/extras/modules/data_connection/retrievers/how_to/multi-vector-retriever.mdx
  examples/package.json
  examples/src/retrievers/multi_vector_hypothetical.ts
  examples/src/retrievers/multi_vector_small_chunks.ts
  examples/src/retrievers/multi_vector_summary.ts
  langchain/.gitignore
  langchain/package.json
  langchain/scripts/create-entrypoints.js
  langchain/src/load/import_map.ts
  langchain/src/retrievers/multi_vector.ts
  langchain/src/retrievers/parent_document.ts
  langchain/src/schema/retriever.ts
  langchain/tsconfig.json
  test-exports-cf/src/entrypoints.js
  test-exports-cjs/src/entrypoints.js
  test-exports-esbuild/src/entrypoints.js
  test-exports-esm/src/entrypoints.js
  test-exports-vercel/src/entrypoints.js
  test-exports-vite/src/entrypoints.js
  yarn.lock
Labels: auto:enhancement

#2434 Add I/O to trace group
  langchain/src/callbacks/manager.ts
  langchain/src/callbacks/tests/manager.int.test.ts
Labels: lgtm, auto:improvement

#2441 Use an isostring for run events time in tracer
  langchain/src/callbacks/handlers/tracer.ts
  langchain/src/callbacks/tests/tracer.test.ts
Labels: auto:improvement

#2424 zep/minor improvements, fixes, & bump zep-js version
  examples/src/indexes/vector_stores/zep/zep_from_docs.ts
  examples/src/indexes/vector_stores/zep/zep_with_metadata.ts
  examples/src/memory/zep.ts
  langchain/package.json
  langchain/src/vectorstores/zep.ts
  yarn.lock
Labels: lgtm, auto:improvement

#2442 Minimax LLM Support
  docs/extras/modules/data_connection/text_embedding/integrations/minimax.mdx
  docs/extras/modules/model_io/models/chat/integrations/minimax.mdx
  examples/src/models/chat/integration_minimax.ts
  examples/src/models/chat/minimax_chain.ts
  examples/src/models/chat/minimax_functions.ts
  examples/src/models/chat/minimax_functions_zod.ts
  examples/src/models/chat/minimax_glyph.ts
  examples/src/models/chat/minimax_plugins.ts
  examples/src/models/chat/minimax_sample_messages.ts
  examples/src/models/embeddings/minimax.ts
  langchain/.gitignore
  langchain/package.json
  langchain/scripts/create-entrypoints.js
  langchain/src/chat_models/minimax.ts
  langchain/src/chat_models/tests/minimax.int.test.ts
  langchain/src/embeddings/minimax.ts
  langchain/src/embeddings/tests/minimax.int.test.ts
  langchain/src/load/import_map.ts
  langchain/src/load/import_type.d.ts
  langchain/tsconfig.json
  test-exports-cf/src/entrypoints.js
  test-exports-cjs/src/entrypoints.js
  test-exports-esbuild/src/entrypoints.js
  test-exports-esm/src/entrypoints.js
  test-exports-vercel/src/entrypoints.js
  test-exports-vite/src/entrypoints.js
Labels: lgtm, auto:enhancement

#2448 Support all Ollama model options
  langchain/src/chat_models/ollama.ts
  langchain/src/llms/ollama.ts
  langchain/src/util/ollama.ts
Labels: lgtm, auto:improvement

#2450 Release 0.0.138
  langchain/package.json
Labels: auto:nit

#2454 Puigde/fix custom description from data source params
  langchain/src/sql_db.ts
  langchain/src/tests/sql_database.int.test.ts
Labels: lgtm, auto:bug

#2458 Add JS Run Collector
  langchain/src/callbacks/handlers/run_collector.ts
  langchain/src/callbacks/index.ts
  langchain/src/callbacks/tests/run_collector.test.ts
Labels: auto:enhancement
