Repository langchain-ai/langchainjs, pull requests merged in 2023-09, with the labels that each got.

#2459 Adds experimental AnthropicFunctions wrapper
  docs/extras/modules/model_io/models/chat/integrations/anthropic_functions.mdx
  examples/src/models/chat/anthropic_functions/extraction.ts
  examples/src/models/chat/anthropic_functions/function_calling.ts
  langchain/.gitignore
  langchain/package.json
  langchain/scripts/create-entrypoints.js
  langchain/src/chains/openai_functions/extraction.ts
  langchain/src/chains/openai_functions/openapi.ts
  langchain/src/chains/openai_functions/structured_output.ts
  langchain/src/chains/openai_functions/tagging.ts
  langchain/src/chat_models/anthropic.ts
  langchain/src/experimental/chat_models/anthropic_functions.ts
  langchain/src/experimental/chat_models/tests/anthropic_functions.int.test.ts
  langchain/src/load/import_constants.ts
  langchain/src/load/import_type.d.ts
  langchain/tsconfig.json
  yarn.lock
Labels: auto:enhancement

#2451 Runnable sequence tracing fixes
  langchain/package.json
  langchain/src/callbacks/base.ts
  langchain/src/callbacks/handlers/tracer.ts
  langchain/src/callbacks/handlers/tracer_langchain.ts
  langchain/src/callbacks/manager.ts
  langchain/src/schema/output_parser.ts
  langchain/src/schema/runnable.ts
  yarn.lock
Labels: lgtm, auto:improvement

#2464 Adds XML Agent
  docs/extras/modules/agents/agent_types/xml.mdx
  examples/src/agents/xml.ts
  langchain/src/agents/initialize.ts
  langchain/src/agents/tests/xml_agent.int.test.ts
  langchain/src/agents/xml/index.ts
  langchain/src/agents/xml/prompt.ts
Labels: auto:enhancement

#2466 Release 0.0.139
  langchain/package.json
Labels: auto:nit

#2465 Adds custom separator and markdown examples to text splitter docs
  docs/docs_skeleton/docs/modules/data_connection/document_transformers/text_splitters/recursive_text_splitter.mdx
  docs/snippets/modules/data_connection/document_transformers/text_splitters/code_splitter.mdx
  docs/snippets/modules/data_connection/document_transformers/text_splitters/recursive_text_splitter.mdx
  examples/src/indexes/markdown_text_splitter.ts
  examples/src/indexes/recursive_text_splitter_custom_separators.ts
Labels: auto:documentation

#2472 Move LCEL docs to top level
  docs/docs_skeleton/docs/expression_language/index.mdx
  docs/docs_skeleton/sidebars.js
  docs/extras/expression_language/_category_.yml
  docs/extras/expression_language/cookbook.mdx
  docs/extras/expression_language/interface.mdx
  docs/extras/modules/chains/popular/structured_output.mdx
  docs/vercel.json
Labels: auto:documentation

#2470 Fix typo for `AWS_SECRET_ACCESS_KEY` on sagemaker_endpoint LLM
  langchain/src/llms/sagemaker_endpoint.ts
Labels: lgtm, auto:nit

#2473 Fix redirects
  docs/vercel.json
Labels: auto:bug

#2474 Verified and documented that text-bison-32k and chat-bison-32k work
  docs/extras/modules/model_io/models/chat/integrations/google_vertex_ai.mdx
  docs/extras/modules/model_io/models/llms/integrations/google_vertex_ai.mdx
  langchain/src/chat_models/tests/chatgooglevertexai.int.test.ts
  langchain/src/llms/tests/googlevertexai.int.test.ts
Labels: auto:documentation

#2475 Update hub dep
  langchain/package.json
  langchain/scripts/create-entrypoints.js
  langchain/src/tests/hub.int.test.ts
  yarn.lock
Labels: auto:nit

#2476 Release 0.0.140
  langchain/package.json
Labels: auto:nit

#2389 Upgrade to OpenAI v4 (extends #2353)
  examples/src/guides/expression_language/cookbook_function_call.ts
  examples/src/indexes/vector_stores/elasticsearch/elasticsearch.ts
  examples/src/models/llm/openai_basePath.ts
  langchain/package.json
  langchain/src/agents/openai/index.ts
  langchain/src/agents/tests/agent.int.test.ts
  langchain/src/agents/tests/chat_agent.int.test.ts
  langchain/src/chains/openai_functions/openapi.ts
  langchain/src/chains/openai_moderation.ts
  langchain/src/chains/tests/llm_chain.int.test.ts
  langchain/src/chat_models/openai.ts
  langchain/src/chat_models/tests/chatopenai.int.test.ts
  langchain/src/embeddings/openai.ts
  langchain/src/embeddings/tests/openai.int.test.ts
  langchain/src/experimental/chat_models/anthropic_functions.ts
  langchain/src/llms/openai-chat.ts
  langchain/src/llms/openai.ts
  langchain/src/llms/tests/openai-chat.int.test.ts
  langchain/src/llms/tests/openai.int.test.ts
  langchain/src/output_parsers/tests/combining.int.test.ts
  langchain/src/schema/index.ts
  langchain/src/tools/convert_to_openai.ts
  langchain/src/types/openai-types.ts
  langchain/src/util/async_caller.ts
  langchain/src/util/azure.ts
  langchain/src/util/openai.ts
  langchain/src/util/prompt-layer.ts
  langchain/src/util/tests/async_caller.int.test.ts
  langchain/src/util/tests/azure.test.ts
  langchain/src/vectorstores/tests/elasticsearch.int.test.ts
  langchain/src/vectorstores/tests/opensearch.int.test.ts
  yarn.lock
Labels: auto:improvement

#2480 Add User-Agent to GithubRepoLoader Github API Requests
  langchain/src/document_loaders/web/github.ts
Labels: lgtm, auto:bug

#2435 Add finishReason to openai generationInfo
  langchain/src/chat_models/openai.ts
Labels: lgtm, auto:improvement

#2481 Export document base classes
  langchain/.gitignore
  langchain/package.json
  langchain/scripts/create-entrypoints.js
  langchain/src/load/import_map.ts
  langchain/tsconfig.json
  test-exports-cf/src/entrypoints.js
  test-exports-cjs/src/entrypoints.js
  test-exports-esbuild/src/entrypoints.js
  test-exports-esm/src/entrypoints.js
  test-exports-vercel/src/entrypoints.js
  test-exports-vite/src/entrypoints.js
Labels: auto:improvement

#2482 Release 0.0.141
  langchain/package.json
  langchain/src/agents/tests/agent.int.test.ts
  langchain/src/llms/tests/ai21.int.test.ts
  langchain/src/util/async_caller.ts
Labels: auto:nit

#2489 js version of salesgpt documentation
  docs/docs_skeleton/static/img/sales_gpt.png
  docs/extras/use_cases/autonomous_agents/sales_gpt.mdx
Labels: auto:documentation

#2502 Add support for streaming in RunnableBinding
  langchain/src/schema/runnable.ts
  langchain/src/schema/tests/runnable.test.ts
Labels: auto:improvement

#2498 Add support for BaseMessage subclasses present in message prompt templates
  langchain/src/prompts/chat.ts
  langchain/src/prompts/tests/chat.test.ts
Labels: lgtm, auto:improvement

#2503 Release 0.0.142
  langchain/package.json
Labels: auto:nit

#2504 Llama_cpp optimize notes
  docs/extras/modules/model_io/models/llms/integrations/llama_cpp.mdx
Labels: auto:documentation

#2508 Fallback to empty string for OpenAI key if Azure key is set
  langchain/src/chat_models/openai.ts
  langchain/src/embeddings/openai.ts
  langchain/src/llms/openai-chat.ts
  langchain/src/llms/openai.ts
Labels: auto:bug

#2510 Allow a wider variety of message like objects into chat prompt templates and chat models
  langchain/src/base_language/index.ts
  langchain/src/chat_models/base.ts
  langchain/src/prompts/chat.ts
  langchain/src/prompts/tests/chat.test.ts
  langchain/src/schema/index.ts
Labels: lgtm, auto:improvement

#2521 Remove weird peer dependency
  docs/extras/modules/data_connection/vectorstores/integrations/tigris.mdx
  examples/package.json
  examples/src/indexes/vector_stores/tigris/fromDocs.ts
  examples/src/indexes/vector_stores/tigris/search.ts
  langchain/package.json
  langchain/src/vectorstores/tests/tigris.int.test.ts
  langchain/src/vectorstores/tigris.ts
  yarn.lock
Labels: auto:nit

#2513 New Feat: Passing results from OpenAI moderation call
  examples/src/chains/openai_moderation.ts
  langchain/src/chains/openai_moderation.ts
  langchain/src/chains/tests/openai_moderation.int.test.ts
Labels: lgtm, auto:improvement

#2511 Enhance Google search tool SerpApi response
  langchain/src/tools/serpapi.ts
Labels: lgtm, auto:improvement

#2468 extract concept of openai style function-calling model
  langchain/src/base_language/index.ts
  langchain/src/chains/openai_functions/extraction.ts
  langchain/src/chains/openai_functions/openapi.ts
  langchain/src/chains/openai_functions/structured_output.ts
  langchain/src/chains/openai_functions/tagging.ts
  langchain/src/chat_models/minimax.ts
  langchain/src/chat_models/openai.ts
  langchain/src/experimental/chat_models/anthropic_functions.ts
Labels: lgtm, auto:refactor

#2491 fix: Ensure excludeDirs option works as expected in RecursiveUrlLoader
  langchain/src/document_loaders/tests/recursive_url.int.test.ts
  langchain/src/document_loaders/web/recursive_url.ts
Labels: lgtm, auto:bug

#2494 Support for Custom GH Instances + Submodules
  docs/extras/modules/data_connection/document_loaders/integrations/web_loaders/github.mdx
  examples/src/document_loaders/github_custom_instance.ts
  examples/src/document_loaders/github_submodules.ts
  langchain/src/document_loaders/tests/github.test.ts
  langchain/src/document_loaders/web/github.ts
Labels: lgtm, auto:improvement

#2484 feat(redis vectorstore): add options to redis index creation
  docs/extras/modules/data_connection/vectorstores/integrations/redis.mdx
  examples/src/indexes/vector_stores/redis/redis_index_options.ts
  langchain/src/vectorstores/redis.ts
  langchain/src/vectorstores/tests/redis.test.ts
Labels: lgtm, auto:improvement

#2452 LLMonitor Callback Handler integration
  docs/extras/ecosystem/integrations/llmonitor.md
  langchain/.gitignore
  langchain/callbacks/llmonitor.cjs
  langchain/callbacks/llmonitor.d.ts
  langchain/callbacks/llmonitor.js
  langchain/package.json
  langchain/scripts/create-entrypoints.js
  langchain/src/callbacks/handlers/llmonitor.ts
  langchain/src/callbacks/tests/llmonitor.int.test.ts
  langchain/src/load/import_constants.ts
  langchain/src/load/import_type.d.ts
  langchain/tsconfig.json
  yarn.lock
Labels: lgtm, auto:enhancement

#2523 Loosen outputParser regex to allow lack of space
  langchain/src/agents/mrkl/outputParser.ts
  langchain/src/agents/tests/mrkl_agent_output_parser.test.ts
Labels: lgtm, auto:improvement

#2522 Add support for querying multiple corpora in Vectara
  docs/extras/modules/data_connection/vectorstores/integrations/vectara.mdx
  langchain/src/vectorstores/tests/vectara.int.test.ts
  langchain/src/vectorstores/vectara.ts
Labels: question, lgtm, auto:improvement

#1950 feat: Add OpenAI Whisper document loader
  docs/extras/modules/data_connection/document_loaders/integrations/file_loaders/openai_whisper_audio.mdx
  examples/src/document_loaders/example_data/test.mp3
  examples/src/document_loaders/openai_whisper_audio.ts
  langchain/.gitignore
  langchain/package.json
  langchain/scripts/create-entrypoints.js
  langchain/src/document_loaders/fs/openai_whisper_audio.ts
  langchain/src/load/import_constants.ts
  langchain/src/load/import_type.d.ts
  langchain/tsconfig.json
Labels: lgtm, auto:enhancement

#2532 Update local QA guide
  docs/extras/modules/data_connection/text_embedding/integrations/transformers.mdx
  docs/extras/use_cases/question_answering/local_retrieval_qa.mdx
  examples/src/use_cases/local_retrieval_qa/chain.ts
  examples/src/use_cases/local_retrieval_qa/load_documents.ts
  examples/src/use_cases/local_retrieval_qa/qa_chain.ts
  test-exports-cf/package.json
  yarn.lock
Labels: auto:documentation

#2539 The `ci` command no longer refers to any jobs that exist -- removing it.
  package.json
Labels: auto:nit

#2538 Don't run exports tests as part of unit tests.
  package.json
Labels: auto:nit

#2537 Switch to `wrangler deploy` because `wrangler publish` is deprecated.
  test-exports-cf/package.json
  test-exports-cf/src/index.ts
Labels: auto:improvement

#2540 `test-exports-*` are built in docker, don't build them globally too.
  package.json
Labels: auto:nit

#2543 Use concurrency groups to cancel pointless workflows early.
  .github/workflows/ci.yml
Labels: lgtm, auto:improvement

#2542 Remove docs build since Vercel is doing it, and don't run code tests on docs-only changes.
  .github/workflows/ci.yml
Labels: auto:improvement

#2545 Skip unnecessary build step in CI, add build step to yarn test
  .github/workflows/ci.yml
  package.json
Labels: auto:improvement

#2520 Add Ollama embeddings support
  docs/extras/modules/data_connection/text_embedding/integrations/ollama.mdx
  langchain/.gitignore
  langchain/package.json
  langchain/scripts/create-entrypoints.js
  langchain/src/embeddings/ollama.ts
  langchain/src/embeddings/tests/ollama.int.test.ts
  langchain/src/load/import_map.ts
  langchain/tsconfig.json
Labels: close, auto:enhancement

#2546 Update deps and contributing guide
  CONTRIBUTING.md
  examples/package.json
  langchain/package.json
  yarn.lock
Labels: auto:nit

#2547 Release 0.0.145
  langchain/package.json
  langchain/tsconfig.json
  test-exports-cf/src/entrypoints.js
  test-exports-cjs/src/entrypoints.js
  test-exports-esbuild/src/entrypoints.js
  test-exports-esm/src/entrypoints.js
  test-exports-vercel/src/entrypoints.js
  test-exports-vite/src/entrypoints.js
Labels: auto:nit

#2550 Adds docs for message likes
  docs/snippets/get_started/quickstart/prompt_templates_chat_models.mdx
  docs/snippets/modules/model_io/models/chat/how_to/llm_chain.mdx
  docs/snippets/modules/model_io/prompts/prompt_templates/get_started.mdx
  examples/src/chains/llm_chain_chat.ts
  examples/src/chat/llm_chain.ts
  examples/src/chat/memory.ts
  examples/src/guides/fallbacks/chain.ts
  langchain/src/hub.ts
Labels: auto:documentation

#2556 Clean up coercion
  langchain/src/prompts/tests/chat.test.ts
  langchain/src/schema/index.ts
Labels: auto:improvement

#2560 Remove deprecated entrypoints
  langchain/.gitignore
  langchain/package.json
  langchain/scripts/create-entrypoints.js
  langchain/src/chains/api/api_chain.ts
  langchain/src/chains/openai_functions/extraction.ts
  langchain/src/chains/openai_functions/openapi.ts
  langchain/src/chains/openai_functions/structured_output.ts
  langchain/src/chains/openai_functions/tagging.ts
  langchain/src/chat_models/index.ts
  langchain/src/document_loaders/index.ts
  langchain/src/embeddings/index.ts
  langchain/src/index.ts
  langchain/src/llms/index.ts
  langchain/src/retrievers/index.ts
  langchain/src/types/googlevertexai-types.ts
  langchain/src/vectorstores/index.ts
  langchain/src/vectorstores/tests/googlevertexai.int.test.ts
  langchain/src/vectorstores/tests/googlevertexai.test.ts
Labels: auto:refactor

#1181 add initial voy implementation
  .yarn/patches/voy-search-npm-0.6.2-d4aca30a0e.patch
  docs/extras/modules/data_connection/vectorstores/integrations/voy.mdx
  examples/package.json
  examples/src/indexes/vector_stores/voy.ts
  langchain/.gitignore
  langchain/package.json
  langchain/scripts/create-entrypoints.js
  langchain/src/load/import_constants.ts
  langchain/src/load/import_type.d.ts
  langchain/src/vectorstores/tests/voy.int.test.ts
  langchain/src/vectorstores/tests/voy.test.ts
  langchain/src/vectorstores/voy.ts
  langchain/tsconfig.json
  package.json
  yarn.lock
Labels: in progress

#2575 Use tilde instead of caret in OpenAI SDK
  langchain/package.json
  yarn.lock
Labels: auto:nit

#2577 Release 0.0.146
  langchain/package.json
Labels: auto:nit

#2568 perf(pinecone): update pinecone vectorstore to use Promise.all
  docs/extras/modules/data_connection/vectorstores/integrations/pinecone.md
  langchain/src/vectorstores/pinecone.ts
Labels: lgtm, auto:improvement

#2592 Add OpenAI custom base URL example to docs, small model fix
  docs/extras/modules/data_connection/text_embedding/integrations/openai.mdx
  docs/extras/modules/model_io/models/chat/integrations/openai.mdx
  docs/extras/modules/model_io/models/llms/integrations/openai.mdx
  examples/src/models/chat/integration_openai_custom_base.ts
  langchain/src/chat_models/openai.ts
  langchain/src/llms/openai-chat.ts
  langchain/src/llms/openai.ts
Labels: auto:documentation

#2591 Rename README to README.md to fix preview in GitHub
  .devcontainer/README.md
Labels: lgtm, auto:documentation

#2595 Official Bun support and export test
  docker-compose.yml
  docs/snippets/get_started/installation.mdx
  environment_tests/scripts/docker-bun-ci-entrypoint.sh
  environment_tests/test-exports-bun/package.json
  environment_tests/test-exports-bun/scripts/combine-dependencies.js
  environment_tests/test-exports-bun/src/entrypoints.js
  environment_tests/test-exports-bun/src/import.cjs
  environment_tests/test-exports-bun/src/index.js
  environment_tests/test-exports-bun/src/index.ts
  environment_tests/test-exports-bun/src/require.cjs
  environment_tests/test-exports-bun/tsconfig.json
  langchain/scripts/create-entrypoints.js
Labels: auto:enhancement

#2604 Add file name property to addFiles function in Vectara
  langchain/src/vectorstores/tests/vectara.int.test.ts
  langchain/src/vectorstores/vectara.ts
Labels: auto:improvement

#2601 integrate NIBittensorLLM into experimental dir
  docs/extras/modules/model_io/models/llms/integrations/ni_bittensor.mdx
  examples/src/models/llm/ni_bittensor.ts
  langchain/.gitignore
  langchain/package.json
  langchain/scripts/create-entrypoints.js
  langchain/src/experimental/llms/bittensor.ts
  langchain/src/experimental/llms/tests/bittensor.int.test.ts
  langchain/src/load/import_constants.ts
  langchain/src/load/import_type.d.ts
  langchain/src/load/index.ts
  langchain/tsconfig.json
Labels: lgtm, auto:enhancement

#2499 Fix conversion of JSON schema array types to OpenAI function parameters
  langchain/src/chains/openai_functions/openapi.ts
  langchain/src/chains/openai_functions/tests/openapi.test.ts
Labels: lgtm, auto:bug

#2605 Adds RunnableRetry and returnExceptions to batch calls
  langchain/scripts/create-entrypoints.js
  langchain/src/base_language/index.ts
  langchain/src/chains/base.ts
  langchain/src/chat_models/base.ts
  langchain/src/hub.ts
  langchain/src/llms/base.ts
  langchain/src/load/import_map.ts
  langchain/src/prompts/base.ts
  langchain/src/prompts/chat.ts
  langchain/src/schema/document.ts
  langchain/src/schema/output_parser.ts
  langchain/src/schema/retriever.ts
  langchain/src/schema/runnable/config.ts
  langchain/src/schema/runnable/index.ts
  langchain/src/schema/tests/runnable.test.ts
  langchain/src/tools/base.ts
  langchain/src/util/async_caller.ts
  langchain/tsconfig.json
Labels: auto:improvement

#2606 Update docs with LCEL batch options
  docs/extras/expression_language/interface.mdx
  docs/extras/modules/model_io/models/llms/integrations/ni_bittensor.mdx
  examples/src/guides/expression_language/interface_batch_with_options.ts
Labels: auto:documentation

#2607 Release 0.0.147
  langchain/package.json
Labels: auto:nit

#2386 NotionAPILoader property parsing
  langchain/package.json
  langchain/src/document_loaders/tests/directory.test.ts
  langchain/src/document_loaders/tests/example_data/notion_api/notion_page_response.json
  langchain/src/document_loaders/tests/notionapi.int.test.ts
  langchain/src/document_loaders/tests/notionapi.test.ts
  langchain/src/document_loaders/web/notionapi.ts
  yarn.lock
Labels: lgtm

#2471 Added MultiQueryRetriever
  docs/extras/modules/data_connection/retrievers/how_to/multi-query-retriever.mdx
  environment_tests/test-exports-bun/src/entrypoints.js
  environment_tests/test-exports-cf/src/entrypoints.js
  environment_tests/test-exports-cjs/src/entrypoints.js
  environment_tests/test-exports-esbuild/src/entrypoints.js
  environment_tests/test-exports-esm/src/entrypoints.js
  environment_tests/test-exports-vercel/src/entrypoints.js
  environment_tests/test-exports-vite/src/entrypoints.js
  examples/src/retrievers/multi_query.ts
  examples/src/retrievers/multi_query_custom.ts
  langchain/.gitignore
  langchain/package.json
  langchain/scripts/create-entrypoints.js
  langchain/src/load/import_map.ts
  langchain/src/retrievers/multi_query.ts
  langchain/src/retrievers/tests/multi_query.int.test.ts
  langchain/tsconfig.json
Labels: lgtm, auto:enhancement

#2608 Add Evaluation Function
  docs/extras/guides/evaluation/comparison/index.mdx
  docs/extras/guides/evaluation/comparison/pairwise_embedding_distance.mdx
  docs/extras/guides/evaluation/comparison/pairwise_string.mdx
  docs/extras/guides/evaluation/examples/comparisons.mdx
  docs/extras/guides/evaluation/examples/index.mdx
  docs/extras/guides/evaluation/index.mdx
  docs/extras/guides/evaluation/string/criteria.mdx
  docs/extras/guides/evaluation/string/embedding_distance.mdx
  docs/extras/guides/evaluation/string/index.mdx
  docs/extras/guides/evaluation/trajectory/index.mdx
  docs/extras/guides/evaluation/trajectory/trajectory_eval.mdx
  examples/src/guides/evaluation/agent_trajectory/trajectory.ts
  examples/src/guides/evaluation/comparision_evaluator/pairwise_embedding_distance.ts
  examples/src/guides/evaluation/comparision_evaluator/pairwise_string_custom_criteria.ts
  examples/src/guides/evaluation/comparision_evaluator/pairwise_string_custom_llm.ts
  examples/src/guides/evaluation/comparision_evaluator/pairwise_string_custom_prompt.ts
  examples/src/guides/evaluation/comparision_evaluator/pairwise_string_with_reference.ts
  examples/src/guides/evaluation/comparision_evaluator/pairwise_string_without_reference.ts
  examples/src/guides/evaluation/examples/comparisons.ts
  examples/src/guides/evaluation/string/configuring_criteria_llm.ts
  examples/src/guides/evaluation/string/configuring_criteria_prompt.ts
  examples/src/guides/evaluation/string/constitutional_criteria.ts
  examples/src/guides/evaluation/string/criteria_with_reference.ts
  examples/src/guides/evaluation/string/criteria_without_reference.ts
  examples/src/guides/evaluation/string/custom_criteria.ts
  examples/src/guides/evaluation/string/embedding_distance.ts
  langchain/src/chains/constitutional_ai/constitutional_principle.ts
  langchain/src/evaluation/agents/index.ts
  langchain/src/evaluation/agents/prompt.ts
  langchain/src/evaluation/agents/tests/trajectory_eval_chain.int.test.ts
  langchain/src/evaluation/agents/trajectory.ts
  langchain/src/evaluation/base.ts
  langchain/src/evaluation/comparison/index.ts
  langchain/src/evaluation/comparison/pairwise.ts
  langchain/src/evaluation/comparison/prompt.ts
  langchain/src/evaluation/comparison/tests/pairwise_eval_chain.int.test.ts
  langchain/src/evaluation/criteria/criteria.ts
  langchain/src/evaluation/criteria/index.ts
  langchain/src/evaluation/criteria/prompt.ts
  langchain/src/evaluation/criteria/tests/criteria_eval_chain.int.test.ts
  langchain/src/evaluation/embedding_distance/base.ts
  langchain/src/evaluation/embedding_distance/index.ts
  langchain/src/evaluation/embedding_distance/tests/embedding_distance_eval_chain.int.test.ts
  langchain/src/evaluation/index.ts
  langchain/src/evaluation/loader.ts
  langchain/src/evaluation/types.ts
Labels: lgtm, auto:enhancement

#2612 Release 0.0.148
  langchain/package.json
  langchain/src/chat_models/tests/chatgooglevertexai_web.int.test.ts
  langchain/src/llms/tests/googlevertexai_web.int.test.ts
Labels: auto:nit

#2619 Fix typo
  docs/extras/guides/evaluation/index.mdx
Labels: auto:documentation

#2621 Fix typo
  examples/src/guides/evaluation/comparision_evaluator/pairwise_embedding_distance.ts
  examples/src/guides/evaluation/comparision_evaluator/pairwise_string_custom_criteria.ts
  examples/src/guides/evaluation/comparision_evaluator/pairwise_string_custom_llm.ts
  examples/src/guides/evaluation/comparision_evaluator/pairwise_string_custom_prompt.ts
  examples/src/guides/evaluation/comparision_evaluator/pairwise_string_with_reference.ts
  examples/src/guides/evaluation/comparision_evaluator/pairwise_string_without_reference.ts
  examples/src/guides/evaluation/string/configuring_criteria_llm.ts
  examples/src/guides/evaluation/string/configuring_criteria_prompt.ts
  examples/src/guides/evaluation/string/constitutional_criteria.ts
  examples/src/guides/evaluation/string/criteria_with_reference.ts
  examples/src/guides/evaluation/string/criteria_without_reference.ts
  examples/src/guides/evaluation/string/custom_criteria.ts
  examples/src/guides/evaluation/string/embedding_distance.ts
Labels: auto:nit

#2622 Fix chroma documentation
  docs/extras/modules/data_connection/vectorstores/integrations/chroma.mdx
Labels: auto:documentation

#2613 Fix: Self-query base query translator casting number fix
  langchain/src/retrievers/self_query/base.ts
  langchain/src/retrievers/self_query/functional.ts
  langchain/src/retrievers/self_query/tests/utils.test.ts
  langchain/src/retrievers/self_query/utils.ts
Labels: auto:bug

#2618 feat(vectorstore): Add Custom IDs Option param to OpenSearch addVectors Method
  examples/src/indexes/vector_stores/opensearch/opensearch.ts
  langchain/src/vectorstores/opensearch.ts
Labels: lgtm, auto:improvement

#2627 Clean up runnable file structure
  langchain/src/schema/runnable/base.ts
  langchain/src/schema/runnable/index.ts
  langchain/src/schema/runnable/passthrough.ts
  langchain/src/schema/runnable/router.ts
Labels: auto:refactor

#2628 Add runnable sequence tagging
  langchain/src/schema/runnable/base.ts
Labels: auto:improvement

#2615 Refactor: add combineLLM & refineLLM to loadQAChain&loadSummarizationChain
  docs/snippets/modules/chains/popular/summarize.mdx
  examples/src/chains/summarization_separate_output_llm.ts
  langchain/src/chains/question_answering/load.ts
  langchain/src/chains/summarization/load.ts
Labels: lgtm, auto:refactor

#2614 feat(llms/bedrock): support custom bedrock endpoint url
  examples/src/models/llm/bedrock.ts
  langchain/src/llms/bedrock.ts
  langchain/src/llms/tests/bedrock.int.test.ts
Labels: lgtm, auto:improvement

#2630 Release 0.0.149
  langchain/package.json
Labels: auto:nit

#2631 Update contributing guide
  CONTRIBUTING.md
Labels: auto:documentation

#2626 Detect and set prompt key for a given Replicate model
  langchain/package.json
  langchain/src/llms/replicate.ts
  yarn.lock
Labels: lgtm, auto:improvement

#2642 Release 0.0.150
  langchain/package.json
  langchain/src/llms/replicate.ts
Labels: auto:nit

#2649 Update links and hide table of contents
  docs/docs_skeleton/docs/expression_language/index.mdx
  docs/extras/expression_language/cookbook/prompt_llm_parser.mdx
Labels: auto:documentation

#2656 Fix typo
  docs/docs_skeleton/docs/modules/agents/index.mdx
Labels: auto:documentation

#2662 Support gpt-3.5-turbo-instruct
  langchain/src/llms/openai.ts
  langchain/src/llms/tests/openai.int.test.ts
Labels: auto:improvement

#2657 feat: Add support for generic PGVector vector store
  .gitignore
  docs/extras/modules/data_connection/vectorstores/integrations/pgvector.mdx
  examples/package.json
  examples/src/indexes/vector_stores/pgvector_vectorstore/docker-compose.example.yml
  examples/src/indexes/vector_stores/pgvector_vectorstore/pgvector.ts
  langchain/.gitignore
  langchain/package.json
  langchain/scripts/create-entrypoints.js
  langchain/src/load/import_constants.ts
  langchain/src/load/import_type.d.ts
  langchain/src/vectorstores/pgvector.ts
  langchain/src/vectorstores/tests/pgvector.int.test.ts
  langchain/tsconfig.json
  test-int-deps-docker-compose.yml
  yarn.lock
Labels: lgtm, auto:enhancement

#2660 Adds RunnableBranch
  docs/extras/expression_language/how_to/_category_.yml
  docs/extras/expression_language/how_to/routing.mdx
  examples/.eslintrc.cjs
  examples/src/guides/expression_language/how_to_routing_custom_function.ts
  examples/src/guides/expression_language/how_to_routing_runnable_branch.ts
  langchain/src/schema/runnable/base.ts
  langchain/src/schema/runnable/branch.ts
  langchain/src/schema/runnable/index.ts
  langchain/src/schema/tests/runnable.test.ts
Labels: auto:improvement

#2647 Integrate bittensor chat model
  docs/extras/modules/model_io/models/chat/integrations/ni_bittensor.mdx
  environment_tests/test-exports-bun/src/entrypoints.js
  environment_tests/test-exports-cf/src/entrypoints.js
  environment_tests/test-exports-cjs/src/entrypoints.js
  environment_tests/test-exports-esbuild/src/entrypoints.js
  environment_tests/test-exports-esm/src/entrypoints.js
  environment_tests/test-exports-vercel/src/entrypoints.js
  environment_tests/test-exports-vite/src/entrypoints.js
  examples/src/models/chat/integration_bittensor.ts
  langchain/.gitignore
  langchain/package.json
  langchain/scripts/create-entrypoints.js
  langchain/src/experimental/chat_models/bittensor.ts
  langchain/src/experimental/chat_models/tests/bittensor_chat_model.int.test.ts
  langchain/src/load/import_map.ts
  langchain/tsconfig.json
Labels: lgtm, auto:enhancement

#2666 Release 0.0.151
  langchain/package.json
Labels: auto:nit

#2674 feat(minor): export model name type for easy reuse
  langchain/src/base_language/count_tokens.ts
  langchain/src/types/openai-types.ts
Labels: lgtm, auto:nit

#2676 Made getModelContextSize an export in base_language
  langchain/src/base_language/index.ts
  langchain/src/base_language/tests/count_tokens.test.ts
Labels: lgtm, auto:improvement

#2670 Account for versioned instruct models
  langchain/src/llms/openai.ts
  langchain/src/llms/tests/openai.int.test.ts
Labels: lgtm, auto:bug

#2672 fix: ollama not using callbacks
  langchain/src/chat_models/ollama.ts
  langchain/src/chat_models/tests/chatollama.int.test.ts
  langchain/src/llms/ollama.ts
  langchain/src/llms/tests/ollama.int.test.ts
Labels: lgtm, auto:bug

#2675 Do not recreate LlamaChatSession on every prompt
  langchain/src/llms/llama_cpp.ts
  langchain/src/llms/tests/llama_cpp.int.test.ts
Labels: lgtm, auto:bug

#2678 Switch chat prompt template creation method to match Python
  docs/snippets/get_started/quickstart/chains_chat_models.mdx
  docs/snippets/get_started/quickstart/memory_chat_models.mdx
  docs/snippets/get_started/quickstart/prompt_templates_chat_models.mdx
  docs/snippets/modules/model_io/models/chat/how_to/llm_chain.mdx
  docs/snippets/modules/model_io/models/chat/how_to/prompts.mdx
  docs/snippets/modules/model_io/prompts/prompt_templates/get_started.mdx
  environment_tests/test-exports-cf/src/index.ts
  environment_tests/test-exports-vercel/src/pages/api/hello-edge.ts
  environment_tests/test-exports-vercel/src/pages/api/hello-serverless.ts
  environment_tests/test-exports-vercel/src/pages/index.tsx
  environment_tests/test-exports-vite/src/chain.ts
  examples/src/chains/llm_chain_chat.ts
  examples/src/chat/agent.ts
  examples/src/chat/llm_chain.ts
  examples/src/chat/memory.ts
  examples/src/chat/overview.ts
  examples/src/guides/expression_language/cookbook_memory.ts
  examples/src/guides/fallbacks/chain.ts
  examples/src/memory/summary_buffer.ts
  examples/src/models/chat/minimax_chain.ts
  examples/src/models/chat/minimax_glyph.ts
  examples/src/prompts/prompt_value.ts
  examples/src/prompts/prompts.ts
  langchain/src/agents/chat/index.ts
  langchain/src/agents/chat_convo/index.ts
  langchain/src/agents/openai/index.ts
  langchain/src/agents/structured_chat/index.ts
  langchain/src/agents/xml/index.ts
  langchain/src/callbacks/tests/run_collector.test.ts
  langchain/src/chains/openai_functions/openapi.ts
  langchain/src/chains/question_answering/map_reduce_prompts.ts
  langchain/src/chains/question_answering/refine_prompts.ts
  langchain/src/chains/question_answering/stuff_prompts.ts
  langchain/src/chains/tests/llm_chain.int.test.ts
  langchain/src/chat_models/tests/chatanthropic.int.test.ts
  langchain/src/chat_models/tests/chatgooglepalm.int.test.ts
  langchain/src/chat_models/tests/chatgooglevertexai.int.test.ts
  langchain/src/chat_models/tests/chatgooglevertexai_web.int.test.ts
  langchain/src/chat_models/tests/chatopenai.int.test.ts
  langchain/src/chat_models/tests/minimax.int.test.ts
  langchain/src/evaluation/agents/prompt.ts
  langchain/src/experimental/plan_and_execute/prompt.ts
  langchain/src/load/tests/load.test.ts
  langchain/src/prompts/chat.ts
  langchain/src/prompts/tests/chat.test.ts
  langchain/src/prompts/tests/pipeline.test.ts
  langchain/src/schema/tests/runnable.test.ts
Labels: lgtm, auto:improvement

#2680 Update deprecation notice
  langchain/src/prompts/chat.ts
Labels: auto:nit

#2679 Adds web PDF loader
  docs/extras/modules/data_connection/document_loaders/integrations/web_loaders/pdf.mdx
  examples/src/document_loaders/web_pdf.ts
  langchain/.gitignore
  langchain/package.json
  langchain/scripts/create-entrypoints.js
  langchain/src/document_loaders/tests/webpdf.int.test.ts
  langchain/src/document_loaders/web/pdf.ts
  langchain/src/load/import_constants.ts
  langchain/src/load/import_type.d.ts
  langchain/tsconfig.json
Labels: lgtm, auto:enhancement

#2682 Release 0.0.152
  langchain/package.json
  langchain/src/prompts/chat.ts
Labels: auto:nit

#2686 Fix Ollama tracing and output
  langchain/src/chat_models/base.ts
  langchain/src/chat_models/ollama.ts
  langchain/src/llms/ollama.ts
  langchain/src/util/ollama.ts
Labels: auto:improvement

#2683 Add support for Fireworks AI
  docs/extras/modules/model_io/models/chat/integrations/fireworks.mdx
  docs/extras/modules/model_io/models/llms/integrations/fireworks.mdx
  environment_tests/test-exports-bun/src/entrypoints.js
  environment_tests/test-exports-cf/src/entrypoints.js
  environment_tests/test-exports-cjs/src/entrypoints.js
  environment_tests/test-exports-esbuild/src/entrypoints.js
  environment_tests/test-exports-esm/src/entrypoints.js
  environment_tests/test-exports-vercel/src/entrypoints.js
  environment_tests/test-exports-vite/src/entrypoints.js
  examples/src/models/chat/integration_fireworks.ts
  examples/src/models/llm/fireworks.ts
  langchain/.env.example
  langchain/.gitignore
  langchain/package.json
  langchain/scripts/create-entrypoints.js
  langchain/src/chat_models/fireworks.ts
  langchain/src/chat_models/openai.ts
  langchain/src/chat_models/tests/chatfireworks.int.test.ts
  langchain/src/llms/fireworks.ts
  langchain/src/llms/openai-chat.ts
  langchain/src/llms/openai.ts
  langchain/src/llms/tests/fireworks.int.test.ts
  langchain/src/load/import_map.ts
  langchain/src/load/import_type.d.ts
  langchain/tsconfig.json
Labels: lgtm, auto:enhancement

#2687 Improve OutputParserException handling by adding observation and sendToLLM
  langchain/src/agents/executor.ts
  langchain/src/schema/output_parser.ts
Labels: lgtm, auto:improvement

#2689 Update count_tokens.ts
  langchain/src/base_language/count_tokens.ts
Labels: lgtm, auto:improvement

#2690 Update quickstart and additional resources
  docs/docs_skeleton/docs/get_started/quickstart.mdx
  docs/extras/additional_resources/scrimba.mdx
  docs/snippets/get_started/introduction.mdx
  docs/snippets/get_started/quickstart/agents_chat_models.mdx
  docs/snippets/get_started/quickstart/agents_llms.mdx
  docs/snippets/get_started/quickstart/chains_chat_models.mdx
  docs/snippets/get_started/quickstart/chains_llms.mdx
  docs/snippets/get_started/quickstart/chat_model.mdx
  docs/snippets/get_started/quickstart/llm.mdx
  docs/snippets/get_started/quickstart/memory_chat_models.mdx
  docs/snippets/get_started/quickstart/memory_llms.mdx
  docs/snippets/get_started/quickstart/prompt_templates_chat_models.mdx
  docs/snippets/get_started/quickstart/prompt_templates_llms.mdx
Labels: auto:documentation

#2691 Release 0.0.153
  langchain/package.json
Labels: auto:nit

#2714 Google Analytics script tweak
  docs/docs_skeleton/docusaurus.config.js
Labels: auto:documentation

#2692 Feat: chat models base cache
  docs/docs_skeleton/docs/modules/model_io/models/chat/how_to/llm_caching.mdx
  docs/snippets/modules/model_io/models/chat/how_to/llm_caching.mdx
  examples/src/cache/chat_models/cloudflare_kv.ts
  examples/src/cache/chat_models/momento.ts
  examples/src/cache/chat_models/redis.ts
  examples/src/cache/chat_models/upstash_redis.ts
  examples/src/cache/chat_models/upstash_redis_advanced.ts
  langchain/src/base_language/index.ts
  langchain/src/cache/base.ts
  langchain/src/cache/cloudflare_kv.ts
  langchain/src/cache/ioredis.ts
  langchain/src/cache/momento.ts
  langchain/src/cache/redis.ts
  langchain/src/cache/tests/ioredis.int.test.ts
  langchain/src/cache/tests/ioredis.test.ts
  langchain/src/cache/tests/redis.int.test.ts
  langchain/src/cache/tests/redis.test.ts
  langchain/src/cache/tests/upstash_redis.test.ts
  langchain/src/cache/upstash_redis.ts
  langchain/src/chat_models/base.ts
  langchain/src/chat_models/tests/chatopenai.int.test.ts
  langchain/src/llms/base.ts
  langchain/src/schema/index.ts
  langchain/src/stores/message/utils.ts
  langchain/src/stores/tests/utils.test.ts
Labels: lgtm, auto:improvement

#2698 Docs - Add sequence/expression language examples to parser docs
  docs/snippets/modules/model_io/output_parsers/structured.mdx
  examples/src/prompts/string_output_parser_sequence.ts
  examples/src/prompts/structured_parser_sequence.ts
  examples/src/prompts/structured_parser_zod_sequence.ts
Labels: lgtm, auto:documentation

#2720 Release 0.0.154
  examples/src/cache/chat_models/redis.ts
  langchain/package.json
  langchain/src/embeddings/tests/ollama.int.test.ts
Labels: auto:nit

#2728 Make sure RunnableMap invokes child sequences in parallel
  langchain/src/schema/runnable/base.ts
Labels: auto:improvement

#2725 Fixes a bug in the NotionAPI loader for getTitle
  langchain/src/document_loaders/tests/example_data/notion_api/notion_database_response.json
  langchain/src/document_loaders/tests/example_data/notion_api/notion_page_response.json
  langchain/src/document_loaders/tests/notionapi.int.test.ts
  langchain/src/document_loaders/tests/notionapi.test.ts
  langchain/src/document_loaders/web/notionapi.ts
Labels: lgtm, auto:bug

#2724 Adds streamLog method to runnables
  langchain/.eslintrc.cjs
  langchain/src/callbacks/base.ts
  langchain/src/callbacks/handlers/log_stream.ts
  langchain/src/callbacks/handlers/tracer.ts
  langchain/src/schema/runnable/base.ts
  langchain/src/schema/tests/runnable.test.ts
  langchain/src/util/fast-json-patch/LICENSE.md
  langchain/src/util/fast-json-patch/index.ts
  langchain/src/util/fast-json-patch/src/core.ts
  langchain/src/util/fast-json-patch/src/helpers.ts
  langchain/src/util/stream.ts
Labels: auto:improvement

#2717 Integrate SearchApi
  docs/extras/modules/agents/tools/integrations/index.mdx
  docs/extras/modules/data_connection/document_loaders/integrations/web_loaders/searchapi.mdx
  environment_tests/test-exports-bun/src/entrypoints.js
  environment_tests/test-exports-cf/src/entrypoints.js
  environment_tests/test-exports-cjs/src/entrypoints.js
  environment_tests/test-exports-esbuild/src/entrypoints.js
  environment_tests/test-exports-esm/src/entrypoints.js
  environment_tests/test-exports-vercel/src/entrypoints.js
  environment_tests/test-exports-vite/src/entrypoints.js
  examples/.env.example
  examples/src/document_loaders/searchapi.ts
  examples/src/tools/searchapi_google_news.ts
  examples/src/use_cases/youtube/chat_with_podcast.ts
  examples/src/use_cases/youtube/podcast_summary.ts
  langchain/.env.example
  langchain/.gitignore
  langchain/package.json
  langchain/scripts/create-entrypoints.js
  langchain/src/document_loaders/tests/searchapi.test.ts
  langchain/src/document_loaders/web/searchapi.ts
  langchain/src/load/import_map.ts
  langchain/src/tools/index.ts
  langchain/src/tools/searchapi.ts
  langchain/src/tools/tests/searchapi.test.ts
  langchain/tsconfig.json
Labels: lgtm, auto:enhancement

#2737 Tweak summarization example, add to docs
  docs/extras/use_cases/summarization.mdx
  examples/src/use_cases/youtube/podcast_summary.ts
Labels: auto:documentation

#2722 Add option for access token in VertexAI
  langchain/src/util/googlevertexai-webauth.ts
Labels: lgtm, auto:improvement

#2738 Bump @vercel/postgres version
  langchain/package.json
  yarn.lock
Labels: auto:nit

#2745 fix: supabase vector store delete params ids typo
  langchain/src/vectorstores/supabase.ts
Labels: lgtm, auto:bug

#2740 feat: Add Cloudflare Vectorize and Workers AI embeddings
  docs/extras/modules/data_connection/text_embedding/integrations/cloudflare_ai.mdx
  docs/extras/modules/data_connection/vectorstores/integrations/cloudflare_vectorize.mdx
  docs/extras/modules/data_connection/vectorstores/integrations/vercel_postgres.mdx
  environment_tests/test-exports-cf/src/index.ts
  environment_tests/test-exports-cf/wrangler.toml
  examples/src/indexes/vector_stores/cloudflare_vectorize/example.ts
  langchain/.gitignore
  langchain/package.json
  langchain/scripts/create-entrypoints.js
  langchain/src/embeddings/cloudflare_workersai.ts
  langchain/src/load/import_constants.ts
  langchain/src/load/import_type.d.ts
  langchain/src/vectorstores/cloudflare_vectorize.ts
  langchain/tsconfig.json
  yarn.lock
Labels: auto:enhancement

#2748 Release 0.0.156
  langchain/package.json
Labels: auto:nit

#2741 feat: add Neo4j Cypher Search
  langchain/.env.example
  langchain/package.json
  langchain/src/chains/graph_qa/cypher.ts
  langchain/src/chains/graph_qa/prompts.ts
  langchain/src/chains/graph_qa/tests/cypher.int.test.ts
  langchain/src/graphs/neo4j_graph.ts
  langchain/src/graphs/tests/neo4j_graph.int.test.ts
  yarn.lock
Labels: lgtm, auto:enhancement

#2760 Update README.md to better describe LangChainJS and it's capabilities
  README.md
Labels: lgtm, auto:documentation

#2761 Switch test runner to SWC
  .github/workflows/ci.yml
  langchain/jest.config.cjs
  langchain/package.json
  langchain/src/agents/index.ts
  langchain/src/agents/toolkits/index.ts
  langchain/src/callbacks/index.ts
  langchain/src/chains/index.ts
  langchain/src/chains/openai_functions/index.ts
  langchain/src/chains/query_constructor/index.ts
  langchain/src/chat_models/googlevertexai/index.ts
  langchain/src/chat_models/googlevertexai/web.ts
  langchain/src/chat_models/openai.ts
  langchain/src/experimental/autogpt/index.ts
  langchain/src/experimental/babyagi/index.ts
  langchain/src/experimental/plan_and_execute/index.ts
  langchain/src/llms/openai-chat.ts
  langchain/src/llms/openai.ts
  langchain/src/memory/index.ts
  langchain/src/output_parsers/index.ts
  langchain/src/prompts/index.ts
  langchain/src/retrievers/remote/index.ts
  langchain/src/schema/runnable/index.ts
  langchain/src/schema/tests/lib.ts
  langchain/src/schema/tests/runnable.test.ts
  langchain/src/schema/tests/runnable_binding.test.ts
  langchain/src/schema/tests/runnable_branch.test.ts
  langchain/src/schema/tests/runnable_retry.test.ts
  langchain/src/schema/tests/runnable_stream_log.test.ts
  langchain/src/schema/tests/runnable_with_fallbacks.test.ts
  langchain/src/sql_db.ts
  langchain/src/tools/index.ts
  yarn.lock
Labels: auto:refactor
