Repository langchain-ai/langchainjs, pull requests merged in 2023-07, with the labels that each got.

#1846 feat: Add `fromActorTaskCall` to `ApifyDatasetLoader`
  langchain/src/document_loaders/web/apify_dataset.ts
Labels: lgtm

#1725 typesense: add vector_distance as score
  langchain/src/vectorstores/tests/typesense.test.ts
  langchain/src/vectorstores/typesense.ts
Labels: lgtm

#1858 Update SDK Version
  examples/src/client/tracing_datasets.ts
  langchain/package.json
  langchain/src/callbacks/handlers/tracer_langchain.ts
  langchain/src/client/langchainplus.ts
  langchain/src/client/tests/langchainplus.int.test.ts
  yarn.lock
Labels: lgtm

#1793 Add support for FunctionChatMessage in getBufferString()
  langchain/src/memory/base.ts
Labels: lgtm

#1865 Fix pre commit hooks setup
  .husky/pre-commit
  package.json
  yarn.lock
Labels: lgtm

#1829 fix: add prompt schema error detail
  langchain/src/prompts/template.ts
Labels: lgtm

#1752 feat: Add Baidu ERNIE-Bot & ERNIE-Bot-turbo support
  docs/docs/modules/models/chat/integrations.mdx
  examples/src/models/chat/integration_baiduwenxin.ts
  langchain/.env.example
  langchain/.gitignore
  langchain/package.json
  langchain/scripts/create-entrypoints.js
  langchain/src/chat_models/baiduwenxin.ts
  langchain/src/chat_models/tests/chatbaiduwenxin.int.test.ts
  langchain/src/load/import_map.ts
  langchain/src/load/import_type.d.ts
  langchain/tsconfig.json
  test-exports-cf/src/entrypoints.js
  test-exports-cjs/src/entrypoints.js
  test-exports-cra/src/entrypoints.js
  test-exports-esbuild/src/entrypoints.js
  test-exports-esm/src/entrypoints.js
  test-exports-vercel/src/entrypoints.js
  test-exports-vite/src/entrypoints.js
Labels: lgtm

#1792 🔧 Custom endpoint for Azure OpenAI (Issue #1272 )
  docs/docs/getting-started/guide-chat.mdx
  docs/docs/getting-started/guide-llm.mdx
  docs/docs/modules/indexes/vector_stores/integrations/milvus.md
  docs/docs/modules/indexes/vector_stores/integrations/qdrant.mdx
  docs/docs/modules/models/embeddings/integrations.mdx
  docs/docs/modules/models/llms/integrations.mdx
  examples/.env.example
  examples/src/models/chat/integration_azure_openai.ts
  langchain/.env.example
  langchain/src/chat_models/openai.ts
  langchain/src/embeddings/openai.ts
  langchain/src/llms/openai-chat.ts
  langchain/src/llms/openai.ts
  langchain/src/types/openai-types.ts
  langchain/src/util/azure.ts
  langchain/src/util/tests/azure.test.ts
Labels: lgtm

#1778 fix(memory): throw error if no input/output key is specified and there are multiple keys
  langchain/src/memory/base.ts
  langchain/src/memory/chat_memory.ts
  langchain/src/memory/motorhead_memory.ts
  langchain/src/memory/zep.ts
Labels: lgtm

#1821 Update openai.ts switch references to replaceAll with replace to work…
  langchain/src/embeddings/openai.ts
Labels: lgtm

#1898 refactor: only fallback to approximate if tiktoken fails
  langchain/src/base_language/count_tokens.ts
Labels: lgtm

#1915 Allow ids passed into SupabaseVectorStore for upsertion, adds tests, updates docs
  docs/docs/modules/indexes/vector_stores/integrations/pinecone.md
  examples/src/indexes/vector_stores/chroma/delete.ts
  examples/src/indexes/vector_stores/elasticsearch/elasticsearch.ts
  examples/src/indexes/vector_stores/supabase_deletion.ts
  examples/src/indexes/vector_stores/supabase_with_query_builder_metadata_filter.ts
  examples/src/indexes/vector_stores/weaviate_delete.ts
  langchain/src/vectorstores/supabase.ts
  langchain/src/vectorstores/tests/chroma.int.test.ts
  langchain/src/vectorstores/tests/elasticsearch.int.test.ts
  langchain/src/vectorstores/tests/pinecone.int.test.ts
  langchain/src/vectorstores/tests/supabase.int.test.ts
  langchain/src/vectorstores/tests/weaviate.int.test.ts
Labels: auto:improvement, auto:documentation

#1916 Release 0.0.106
  langchain/package.json
  langchain/src/vectorstores/tests/pinecone.int.test.ts
Labels: auto:nit

#1899 docs: add advanced llm parameter example
  docs/docs/modules/models/llms/index.mdx
  examples/src/models/llm/llm_advanced.ts
Labels: lgtm

#1831 Fixes Notion inline databases in nested designs not loading and improved output order of received blocks
  langchain/src/document_loaders/web/notionapi.ts
Labels: lgtm

#1921 Update convo retrieval chain docs
  docs/docs/modules/chains/index_related_chains/conversational_retrieval.mdx
  examples/src/chains/conversational_qa.ts
  examples/src/chains/conversational_qa_built_in_memory.ts
  examples/src/chains/conversational_qa_external_memory.ts
Labels: auto:documentation

#1922 Fix the batchSize parameter of OpenAIEmbeddings
  langchain/src/embeddings/openai.ts
Labels: lgtm, auto:bug

#1932 Update Anthropic SDK to 0.5.X to support Claude V2
  langchain/package.json
  langchain/src/chat_models/anthropic.ts
  langchain/src/chat_models/tests/chatanthropic.int.test.ts
  test-exports-vercel/package.json
  yarn.lock
Labels: auto:improvement

#1933 docs: make it clear that chunks are characters and not tokens
  docs/docs/modules/indexes/text_splitters/index.mdx
  examples/src/agents/vectorstore.ts
Labels: auto:documentation

#1934 Avoid retries and surface better error message for OpenAI quota cutoff errors
  langchain/src/util/async_caller.ts
Labels: auto:bug

#1931 fix: correct token count for larger context windows
  langchain/src/base_language/count_tokens.ts
  langchain/src/base_language/tests/count_tokens.test.ts
Labels: lgtm, auto:bug

#1918 Add Sort.xyz blockchain document loader integration
  docs/docs/modules/indexes/document_loaders/examples/web_loaders/sort_xyz_blockchain.mdx
  examples/src/document_loaders/sort_xyz_blockchain.ts
  langchain/.gitignore
  langchain/document_loaders/web/blockchain.cjs
  langchain/document_loaders/web/blockchain.d.ts
  langchain/document_loaders/web/blockchain.js
  langchain/package.json
  langchain/scripts/create-entrypoints.js
  langchain/src/document_loaders/tests/sort_xyz_blockchain.int.test.ts
  langchain/src/document_loaders/web/sort_xyz_blockchain.ts
  langchain/src/load/import_map.ts
  langchain/tsconfig.json
  test-exports-cf/src/entrypoints.js
  test-exports-cjs/src/entrypoints.js
  test-exports-cra/src/entrypoints.js
  test-exports-esbuild/src/entrypoints.js
  test-exports-esm/src/entrypoints.js
  test-exports-vercel/src/entrypoints.js
  test-exports-vite/src/entrypoints.js
Labels: lgtm, auto:enhancement, auto:documentation

#1901 Port WikipediaAPIWrapper from Python Version
  docs/docs/modules/agents/tools/integrations/index.mdx
  examples/src/tools/wikipedia.ts
  langchain/src/tools/index.ts
  langchain/src/tools/tests/wikipedia.int.test.ts
  langchain/src/tools/wikipedia_query_run.ts
Labels: lgtm

#1937 Release 0.0.107
  examples/src/document_loaders/sonix_audio_transcription.ts
  langchain/.gitignore
  langchain/document_loaders/web/blockchain.cjs
  langchain/document_loaders/web/blockchain.d.ts
  langchain/document_loaders/web/blockchain.js
  langchain/package.json
  langchain/scripts/create-entrypoints.js
  langchain/src/document_loaders/web/sonix_audio.ts
  langchain/src/load/import_constants.ts
  langchain/src/load/import_type.d.ts
  langchain/src/util/async_caller.ts
  langchain/tsconfig.json
Labels: auto:improvement

#1938 Update sonix behaviour on error
  langchain/src/document_loaders/tests/sonix_audio.int.test.ts
  langchain/src/document_loaders/web/sonix_audio.ts
Labels: lgtm, auto:improvement

#1893 Handle function arguments parsing errors
  langchain/src/agents/openai/index.ts
Labels: question

#1946 Release 0.0.108
  langchain/package.json
  langchain/scripts/check-tree-shaking.js
Labels: auto:nit

#1956 Remove cra exports test, streamline test flow
  .github/workflows/ci.yml
  .vscode/settings.json
  docker-compose.yml
  langchain/scripts/create-entrypoints.js
  package.json
  test-exports-cra/.gitignore
  test-exports-cra/README.md
  test-exports-cra/package.json
  test-exports-cra/public/favicon.ico
  test-exports-cra/public/index.html
  test-exports-cra/public/logo192.png
  test-exports-cra/public/logo512.png
  test-exports-cra/public/manifest.json
  test-exports-cra/public/robots.txt
  test-exports-cra/src/App.js
  test-exports-cra/src/App.test.js
  test-exports-cra/src/entrypoints.js
  test-exports-cra/src/index.css
  test-exports-cra/src/index.js
  test-exports-cra/src/reportWebVitals.js
  test-exports-cra/src/setupTests.js
  yarn.lock
Labels: auto:refactor

#1948 added-accommodate-message-type-function
  langchain/src/chat_models/openai.ts
Labels: lgtm, auto:improvement

#1957 langsmith rename
  docs/docs/production/tracing.md
  examples/src/client/tracing_datasets.ts
  langchain/docker-compose.yaml
  langchain/package.json
  langchain/src/callbacks/handlers/tracer.ts
  langchain/src/callbacks/handlers/tracer_langchain.ts
  langchain/src/client/index.ts
  langchain/src/client/langsmith.ts
  langchain/src/client/tests/langsmith.int.test.ts
  langchain/src/evaluation/run_evaluators/base.ts
  langchain/src/evaluation/run_evaluators/implementations.ts
  langchain/src/evaluation/run_evaluators/tests/implementations.test.ts
  yarn.lock
Labels: lgtm, auto:refactor

#1839 Add Searxng Search wrapper as built-in tool
  docs/docs/modules/agents/tools/integrations/index.mdx
  examples/src/tools/searxng_search.ts
  langchain/src/load/import_type.d.ts
  langchain/src/tools/index.ts
  langchain/src/tools/searxng_search.ts
Labels: lgtm

#1857 Add integration with DataForSEO SERP API
  docs/docs/modules/agents/tools/integrations/index.mdx
  examples/.env.example
  langchain/src/tools/dataforseo_api_search.ts
  langchain/src/tools/index.ts
Labels: lgtm

#1960 Release 0.0.109
  langchain/package.json
Labels: auto:nit

#1907 Feature: Add Google PaLM API support
  docs/docs/modules/models/chat/integrations.mdx
  docs/docs/modules/models/embeddings/integrations.mdx
  docs/docs/modules/models/llms/integrations.mdx
  examples/.env.example
  examples/src/models/chat/integration_googlepalm.ts
  examples/src/models/embeddings/googlepalm.ts
  examples/src/models/llm/googlepalm.ts
  langchain/.env.example
  langchain/.gitignore
  langchain/package.json
  langchain/scripts/create-entrypoints.js
  langchain/src/chat_models/googlepalm.ts
  langchain/src/chat_models/tests/chatgooglepalm.int.test.ts
  langchain/src/chat_models/tests/chatgooglepalm.test.ts
  langchain/src/embeddings/googlepalm.ts
  langchain/src/embeddings/tests/googlepalm.int.test.ts
  langchain/src/llms/googlepalm.ts
  langchain/src/llms/tests/googlepalm.int.test.ts
  langchain/src/llms/tests/googlepalm.test.ts
  langchain/src/load/import_constants.ts
  langchain/src/load/import_type.d.ts
  langchain/tsconfig.json
  yarn.lock
Labels: lgtm

#1969 Use default export from Anthropic SDK instead of named
  langchain/src/chat_models/anthropic.ts
Labels: lgtm, auto:bug

#1974 docs: Mendable Search Improvements
  docs/package.json
  docs/src/theme/SearchBar.js
  yarn.lock
Labels: auto:documentation

#1975 Release 0.0.110
  langchain/package.json
Labels: auto:nit

#1968 feat: Adding a parameter `separator` to the `CSVLoader`
  langchain/src/document_loaders/fs/csv.ts
  langchain/src/document_loaders/tests/csv.test.ts
  langchain/src/document_loaders/tests/directory.test.ts
  langchain/src/document_loaders/tests/example_data/example_separator.csv
Labels: lgtm, auto:improvement

#1992 Rm client dir
  examples/src/client/tracing_datasets.ts
  langchain/.gitignore
  langchain/package.json
  langchain/scripts/create-entrypoints.js
  langchain/src/client/index.ts
  langchain/src/client/langsmith.ts
  langchain/src/client/tests/langsmith.int.test.ts
  langchain/src/evaluation/index.ts
  langchain/src/evaluation/run_evaluators/base.ts
  langchain/src/evaluation/run_evaluators/criteria_prompt.ts
  langchain/src/evaluation/run_evaluators/implementations.ts
  langchain/src/evaluation/run_evaluators/index.ts
  langchain/src/evaluation/run_evaluators/tests/implementations.test.ts
  langchain/src/load/import_map.ts
  langchain/tsconfig.json
  test-exports-cf/src/entrypoints.js
  test-exports-cjs/src/entrypoints.js
  test-exports-esbuild/src/entrypoints.js
  test-exports-esm/src/entrypoints.js
  test-exports-vercel/src/entrypoints.js
  test-exports-vite/src/entrypoints.js
  yarn.lock
Labels: auto:refactor

#1985 A quick way to create a fake, but consistent, pseudo-embeddings
  langchain/src/embeddings/fake.ts
  langchain/src/embeddings/tests/fake.test.ts
Labels: lgtm, auto:improvement

#1988 Allow promise<number> for splitter lengthFunction; Async mergeSplits
  langchain/src/text_splitter.ts
Labels: lgtm, hold, auto:improvement

#1984 Add langchain.docstore.document bind
  langchain/src/vectorstores/faiss.ts
Labels: lgtm, auto:bug

#1996 docs: Mendable: Fixes pretty sources not working
  docs/package.json
  yarn.lock
Labels: auto:documentation

#1954 feat: add more options for unstructured.io loader
  langchain/src/document_loaders/fs/unstructured.ts
Labels: lgtm, auto:improvement

#1997 Add LangSmith link
  docs/docusaurus.config.js
Labels: auto:documentation

#1983 Add firestore chat message history
  .gitignore
  docs/docs/modules/memory/examples/firestore.mdx
  examples/src/memory/firestore.ts
  langchain/.gitignore
  langchain/package.json
  langchain/scripts/create-entrypoints.js
  langchain/src/load/import_constants.ts
  langchain/src/load/import_type.d.ts
  langchain/src/stores/message/firestore.ts
  langchain/src/stores/tests/firestore.int.test.ts
  langchain/tsconfig.json
  yarn.lock
Labels: lgtm, auto:enhancement

#1998 Release 0.0.111
  langchain/package.json
  langchain/scripts/check-tree-shaking.js
  langchain/src/vectorstores/tests/elasticsearch.int.test.ts
Labels: auto:nit

#2003 Fix Replicate output parsing for Llama 2
  docs/docs/modules/models/llms/integrations.mdx
  examples/src/models/llm/replicate.ts
  examples/src/models/llm/replicate_llama2.ts
  langchain/package.json
  langchain/src/llms/replicate.ts
  langchain/src/llms/tests/replicate.int.test.ts
  yarn.lock
Labels: auto:bug

#2004 Release 0.0.112
  docs/docs/modules/models/llms/integrations.mdx
  examples/src/models/llm/replicate_llama2.ts
  langchain/package.json
Labels: auto:documentation

#2011 Fix broken links
  docs/extras/modules/model_io/models/llms/integrations/replicate.mdx
  docs/snippets/modules/callbacks/get_started.mdx
Labels: auto:documentation

#2014 Cleanup extra docs files
  docs/docs/modules/models/chat/integrations.mdx
  docs/docs/modules/models/embeddings/integrations.mdx
  docs/docs/modules/models/llms/integrations.mdx
Labels: auto:documentation

#2015 Add OpenAI functions agent prompt customization example
  docs/snippets/modules/agents/agent_types/openai_functions_agent.mdx
  examples/src/agents/openai_custom_prompt.ts
Labels: auto:documentation

#1789 Add AWS Kendra Retriever
  docs/extras/modules/data_connection/retrievers/integrations/kendra-retriever.mdx
  examples/src/retrievers/kendra.ts
  langchain/.gitignore
  langchain/package.json
  langchain/scripts/create-entrypoints.js
  langchain/src/load/import_constants.ts
  langchain/src/load/import_type.d.ts
  langchain/src/retrievers/amazon_kendra.ts
  langchain/src/retrievers/tests/amazon_kendra.int.test.ts
  langchain/tsconfig.json
  yarn.lock
Labels: lgtm

#2017 Update langsmith dep
  langchain/package.json
  yarn.lock
Labels: auto:nit

#2018 Release 0.0.113
  langchain/package.json
Labels: auto:nit

#2026 fix: broken OpenAIModerationChain example
  examples/src/chains/openai_moderation.ts
Labels: auto:bug

#2023 Update Anthropic SDK to 0.5.7
  langchain/package.json
  langchain/src/chat_models/anthropic.ts
  yarn.lock
Labels: lgtm, auto:improvement

#1973 Add cosine similarity and maximal marginal relevance functions
  langchain/package.json
  langchain/src/util/math_utils.ts
  langchain/src/util/tests/math_utils.test.ts
  yarn.lock
Labels: lgtm, auto:enhancement

#2028 Fix mistake in ChatOpenAI docs
  langchain/src/chat_models/openai.ts
Labels: lgtm, auto:documentation

#2027 fix(StructuredOutputParser): Do not obscure OutputParserException
  langchain/src/output_parsers/structured.ts
  langchain/src/output_parsers/tests/structured.test.ts
Labels: lgtm, auto:bug

#1972 feat: add SerpAPILoader for web search result processing
  docs/extras/modules/data_connection/document_loaders/integrations/web_loaders/serpapi.mdx
  examples/src/document_loaders/serpapi.ts
  langchain/.gitignore
  langchain/package.json
  langchain/scripts/create-entrypoints.js
  langchain/src/document_loaders/tests/serpapi.test.ts
  langchain/src/document_loaders/web/serpapi.ts
  langchain/src/load/import_map.ts
  langchain/tsconfig.json
  test-exports-cf/src/entrypoints.js
  test-exports-cjs/src/entrypoints.js
  test-exports-esbuild/src/entrypoints.js
  test-exports-esm/src/entrypoints.js
  test-exports-vercel/src/entrypoints.js
  test-exports-vite/src/entrypoints.js
Labels: lgtm, auto:enhancement

#2021 Add Planetscale chat message history
  docs/extras/modules/memory/integrations/planetscale.mdx
  examples/package.json
  examples/src/memory/planetscale.ts
  examples/src/memory/planetscale_advanced.ts
  langchain/.env.example
  langchain/.gitignore
  langchain/package.json
  langchain/scripts/create-entrypoints.js
  langchain/src/load/import_constants.ts
  langchain/src/load/import_type.d.ts
  langchain/src/stores/message/planetscale.ts
  langchain/src/stores/tests/planetscale.int.test.ts
  langchain/tsconfig.json
  yarn.lock
Labels: lgtm, auto:enhancement

#2030 Adds temporary shim for convo retrieval qa chain legacy users
  docs/snippets/modules/chains/popular/chat_vector_db.mdx
  examples/src/chains/conversational_qa_external_memory.ts
  langchain/src/chains/conversational_retrieval_chain.ts
  langchain/src/chains/tests/conversational_retrieval_chain.int.test.ts
Labels: auto:improvement

#1949 Add Analyticdb vectorstore integration
  docs/extras/modules/data_connection/vectorstores/integrations/analyticdb.mdx
  docs/snippets/modules/data_connection/vectorstores/get_started.mdx
  examples/.env.example
  examples/src/indexes/vector_stores/analyticdb.ts
  langchain/.env.example
  langchain/.gitignore
  langchain/package.json
  langchain/scripts/create-entrypoints.js
  langchain/src/load/import_constants.ts
  langchain/src/load/import_type.d.ts
  langchain/src/vectorstores/analyticdb.ts
  langchain/src/vectorstores/tests/analyticdb.int.test.ts
  langchain/tsconfig.json
  yarn.lock
Labels: lgtm, auto:enhancement

#2040 Move use-cases section to topbar
  docs/dev.sh
  docs/docs_skeleton/docusaurus.config.js
  docs/docs_skeleton/sidebars.js
  docs/package.json
Labels: auto:documentation

#2045 fix(memory): allow composite chains to use sub-chains memory.
  langchain/src/chains/sequential_chain.ts
  langchain/src/chains/tests/sequential_chain.test.ts
Labels: auto:bug

#2044 Generative agent tracing
  examples/src/experimental/generative_agents/generative_agents.ts
  langchain/src/experimental/generative_agents/generative_agent.ts
  langchain/src/experimental/generative_agents/generative_agent_memory.ts
  langchain/src/experimental/generative_agents/tests/generative_agent.int.test.ts
  langchain/src/retrievers/time_weighted.ts
Labels: auto:refactor

#2052 Release 0.0.115
  langchain/package.json
Labels: auto:nit

#2053 Fix typo in generative agent reflection step
  langchain/src/experimental/generative_agents/generative_agent_memory.ts
Labels: auto:nit

#2054 Release 0.0.116
  langchain/package.json
Labels: auto:nit

#2058 Support Callback Config in LLMChain
  langchain/src/chains/llm_chain.ts
Labels: lgtm, auto:improvement

#2046 Feature: Enable to change the fields name in Milvus
  langchain/src/vectorstores/milvus.ts
Labels: lgtm, auto:improvement

#2059 fix: duplicates in Max Marginal Relevance output
  langchain/src/util/math_utils.ts
  langchain/src/util/tests/math_utils.test.ts
Labels: lgtm, auto:bug

#2039 Chore(redis cache): migrate to ioredis
  docs/snippets/modules/model_io/models/llms/how_to/llm_caching.mdx
  langchain/.gitignore
  langchain/package.json
  langchain/scripts/create-entrypoints.js
  langchain/src/cache/ioredis.ts
  langchain/src/cache/tests/ioredis.test.ts
  langchain/src/load/import_constants.ts
  langchain/src/load/import_type.d.ts
  langchain/tsconfig.json
Labels: lgtm, auto:improvement

#2034 Add CombineMemory && ConversationSummaryBufferMemory
  docs/extras/modules/memory/how_to/buffer_memory_chat.mdx
  docs/extras/modules/memory/how_to/buffer_window_memory.md
  docs/extras/modules/memory/how_to/multiple_memory.mdx
  docs/extras/modules/memory/how_to/summary_buffer.mdx
  docs/extras/modules/memory/integrations/buffer_memory.md
  docs/extras/modules/memory/integrations/conversation_summary.mdx
  docs/extras/modules/memory/integrations/entity_memory.mdx
  docs/extras/modules/memory/integrations/vector_store_memory.mdx
  examples/src/memory/combined.ts
  examples/src/memory/summary_buffer.ts
  langchain/src/memory/combined_memory.ts
  langchain/src/memory/index.ts
  langchain/src/memory/summary.ts
  langchain/src/memory/summary_buffer.ts
  langchain/src/memory/tests/combined_memory.int.test.ts
  langchain/src/memory/tests/summary_buffer.int.test.ts
Labels: lgtm, auto:enhancement

#2061 Change GitHub docs link to an icon
  docs/docs_skeleton/docusaurus.config.js
  docs/docs_skeleton/src/css/custom.css
Labels: auto:documentation

#2007 GoogleVertexAIImageEmbeddings
  docs/extras/modules/data_connection/experimental/_category_.yml
  docs/extras/modules/data_connection/experimental/multimodal_embeddings/_category_.yml
  docs/extras/modules/data_connection/experimental/multimodal_embeddings/google_vertex_ai.mdx
  examples/src/models/embeddings/googlevertexai_multimodal.ts
  examples/src/models/embeddings/googlevertexai_multimodal_advanced.ts
  langchain/.gitignore
  langchain/package.json
  langchain/scripts/create-entrypoints.js
  langchain/src/experimental/multimodal_embeddings/googlevertexai.ts
  langchain/src/experimental/multimodal_embeddings/tests/files/parrot-icon.png
  langchain/src/experimental/multimodal_embeddings/tests/files/parrot.jpeg
  langchain/src/experimental/multimodal_embeddings/tests/googlevertexai.int.test.ts
  langchain/src/experimental/multimodal_embeddings/tests/googlevertexai.test.ts
  langchain/src/load/import_constants.ts
  langchain/src/load/import_type.d.ts
  langchain/tsconfig.json
Labels: lgtm, auto:enhancement

#2062 Release 0.0.117
  langchain/package.json
Labels: auto:nit

#2063 Avoid format on generated file
  langchain/.prettierignore
  langchain/src/load/import_type.d.ts
Labels: auto:nit

#2069 chore(redis examples): use ioredis
  examples/src/memory/redis-advanced.ts
  examples/src/memory/redis.ts
Labels: auto:improvement

#2073 Add setup instructions to mm embeddings
  docs/extras/modules/data_connection/experimental/multimodal_embeddings/google_vertex_ai.mdx
Labels: auto:documentation

#2065 Fix kendra api query - getQueryItemExcerpt
  langchain/src/retrievers/amazon_kendra.ts
Labels: auto:bug

#2076 Allow serialisation of Replicate LLM
  langchain/src/llms/replicate.ts
  langchain/src/llms/tests/replicate.int.test.ts
Labels: lgtm, auto:improvement

#2077 New enterprise support form
  README.md
  docs/extras/production/deployment.md
  langchain/README.md
Labels: lgtm, auto:documentation

#2078 Azure new preview model support, usability fixes
  langchain/src/chat_models/openai.ts
  langchain/src/chat_models/tests/chatopenai.int.test.ts
  langchain/src/embeddings/openai.ts
  langchain/src/llms/openai-chat.ts
  langchain/src/llms/openai.ts
Labels: auto:improvement

#2088 Release 0.0.118
  langchain/package.json
Labels: auto:nit

#2084 Enhance PlaywrightWebBaseLoader with HTTP response handling
  docs/extras/modules/data_connection/document_loaders/integrations/web_loaders/web_playwright.md
  langchain/src/document_loaders/web/playwright.ts
Labels: lgtm, auto:improvement

#2114 fix dialogue to update conversation with each new contribution
  examples/src/experimental/generative_agents/generative_agents.ts
Labels: auto:bug

#2106 Single call protocol in JS
  langchain/src/base_language/index.ts
  langchain/src/chains/base.ts
  langchain/src/chat_models/anthropic.ts
  langchain/src/chat_models/baiduwenxin.ts
  langchain/src/chat_models/base.ts
  langchain/src/chat_models/googlevertexai.ts
  langchain/src/chat_models/openai.ts
  langchain/src/chat_models/tests/chatanthropic.int.test.ts
  langchain/src/chat_models/tests/chatopenai.int.test.ts
  langchain/src/llms/base.ts
  langchain/src/llms/googlevertexai.ts
  langchain/src/llms/openai-chat.ts
  langchain/src/llms/openai.ts
  langchain/src/llms/tests/googlevertexai.int.test.ts
  langchain/src/llms/tests/openai-chat.int.test.ts
  langchain/src/llms/tests/openai.int.test.ts
  langchain/src/schema/index.ts
  langchain/src/schema/runnable.ts
  langchain/src/schema/tests/runnable.test.ts
  langchain/src/tools/base.ts
  langchain/src/util/stream.ts
Labels: auto:enhancement

#2115 Formatting
  examples/src/experimental/generative_agents/generative_agents.ts
Labels: auto:nit

#2103 Feat: make projectId configurable for vertex ai
  langchain/src/types/googlevertexai-types.ts
  langchain/src/util/googlevertexai-connection.ts
Labels: question, lgtm, auto:improvement

#2094 Milvus - update object type in fromTexts method
  langchain/src/vectorstores/milvus.ts
Labels: auto:nit

#2110 Added missing property declaration
  examples/src/agents/structured_chat.ts
Labels: lgtm, auto:documentation

#2116 Mark integrations as Node-only in docs
  docs/docs_skeleton/src/css/custom.css
Labels: auto:documentation

#2087 Added Azure Blob Storage File and Container Loader
  docs/extras/modules/data_connection/document_loaders/integrations/web_loaders/azure_blob_storage_container.mdx
  docs/extras/modules/data_connection/document_loaders/integrations/web_loaders/azure_blob_storage_file.mdx
  examples/src/document_loaders/azure_blob_storage_container.ts
  examples/src/document_loaders/azure_blob_storage_file.ts
  langchain/.gitignore
  langchain/package.json
  langchain/scripts/create-entrypoints.js
  langchain/src/document_loaders/fs/unstructured.ts
  langchain/src/document_loaders/web/azure_blob_storage_container.ts
  langchain/src/document_loaders/web/azure_blob_storage_file.ts
  langchain/src/load/import_constants.ts
  langchain/src/load/import_type.d.ts
  langchain/tsconfig.json
  yarn.lock
Labels: lgtm, auto:enhancement

#2117 Release 0.0.119
  langchain/package.json
Labels: auto:nit

#2120 Fix Issue 2108: Atlas vector store retriever breaking on getRelevantDocuments
  langchain/src/vectorstores/base.ts
  langchain/src/vectorstores/mongodb_atlas.ts
  langchain/src/vectorstores/tests/mongodb_atlas.int.test.ts
Labels: lgtm, auto:bug

#2121 Release 0.0.120
  langchain/package.json
Labels: auto:nit

#2122 Fix docs style
  docs/docs_skeleton/src/css/custom.css
Labels: auto:documentation

#2123 Update buffer.mdx
  docs/snippets/modules/memory/how_to/buffer.mdx
Labels: auto:documentation

#2126 Docs
  docs/docs_skeleton/src/css/custom.css
  docs/extras/modules/data_connection/document_loaders/integrations/web_loaders/azure_blob_storage_container.mdx
  docs/extras/modules/data_connection/document_loaders/integrations/web_loaders/azure_blob_storage_file.mdx
Labels: auto:documentation

#2127 Match Replicate env variable name with Python library
  langchain/src/llms/replicate.ts
  langchain/src/llms/tests/replicate.int.test.ts
Labels: lgtm, auto:improvement

#2075 Permit generic chat message with role
  langchain/src/chat_models/anthropic.ts
  langchain/src/chat_models/baiduwenxin.ts
  langchain/src/chat_models/googlepalm.ts
  langchain/src/chat_models/googlevertexai.ts
  langchain/src/chat_models/openai.ts
  langchain/src/chat_models/tests/chatanthropic.int.test.ts
  langchain/src/chat_models/tests/chatgooglevertexai.int.test.ts
  langchain/src/chat_models/tests/chatopenai.int.test.ts
  langchain/src/schema/index.ts
Labels: lgtm, auto:improvement
