Repository langchain-ai/langchainjs, pull requests merged in 2023-10, with the labels that each got.

#2749 Add cypher chain docs
  docs/extras/modules/chains/additional/cypher_chain.mdx
  docs/extras/modules/data_connection/experimental/graph_databases/_category_.yml
  docs/extras/modules/data_connection/experimental/graph_databases/neo4j.mdx
  environment_tests/test-exports-cf/wrangler.toml
  environment_tests/test-exports-vercel/tsconfig.json
  examples/.eslintrc.cjs
  examples/src/chains/graph_db_custom_prompt.ts
  examples/src/chains/graph_db_neo4j.ts
  examples/src/chains/graph_db_return_direct.ts
  examples/src/indexes/vector_stores/cloudflare_vectorize/example.ts
  langchain/.gitignore
  langchain/package.json
  langchain/scripts/create-entrypoints.js
  langchain/src/chains/graph_qa/prompts.ts
  langchain/src/graphs/neo4j_graph.ts
  langchain/src/graphs/tests/neo4j_graph.int.test.ts
  langchain/src/load/import_constants.ts
  langchain/src/load/import_type.d.ts
  langchain/tsconfig.json
Labels: auto:documentation

#2765 Fix: Upstash Redis lookup parse value bug
  langchain/src/cache/tests/upstash_redis.int.test.ts
  langchain/src/cache/tests/upstash_redis.test.ts
  langchain/src/cache/upstash_redis.ts
Labels: auto:bug

#2766 Release 0.0.157
  langchain/package.json
  langchain/src/chains/graph_qa/tests/cypher.int.test.ts
  langchain/src/graphs/tests/neo4j_graph.int.test.ts
Labels: auto:nit

#2772 docs: Mendable Search Improvements
  docs/docs_skeleton/package.json
  docs/docs_skeleton/src/theme/SearchBar.js
  docs/docs_skeleton/yarn.lock
Labels: lgtm, auto:documentation

#2781 Release 0.0.158
  langchain/package.json
Labels: auto:nit

#2785 Minor update to Vectara
  docs/extras/modules/data_connection/vectorstores/integrations/vectara.mdx
  langchain/src/vectorstores/vectara.ts
Labels: auto:nit

#2782 Add a `SECURITY.md` file and mention it in the README.
  README.md
  SECURITY.md
Labels: auto:documentation

#2786 Adds next batch of scrims to docs
  docs/extras/additional_resources/scrimba.mdx
  docs/extras/expression_language/cookbook/prompt_llm_parser.mdx
Labels: auto:documentation

#2788 Remove jinja2
  langchain/src/prompts/few_shot.ts
  langchain/src/prompts/prompt.ts
  langchain/src/prompts/template.ts
Labels: auto:nit

#2730 feat: Google Calendar View/Create Tools
  docs/extras/modules/agents/tools/integrations/google_calendar.mdx
  examples/src/tools/google_calendar.ts
  langchain/.gitignore
  langchain/package.json
  langchain/scripts/create-entrypoints.js
  langchain/src/load/import_constants.ts
  langchain/src/load/import_type.d.ts
  langchain/src/tools/google_calendar/base.ts
  langchain/src/tools/google_calendar/commands/run-create-events.ts
  langchain/src/tools/google_calendar/commands/run-view-events.ts
  langchain/src/tools/google_calendar/create.ts
  langchain/src/tools/google_calendar/descriptions.ts
  langchain/src/tools/google_calendar/index.ts
  langchain/src/tools/google_calendar/prompts/create-event-prompt.ts
  langchain/src/tools/google_calendar/prompts/index.ts
  langchain/src/tools/google_calendar/prompts/view-events-prompt.ts
  langchain/src/tools/google_calendar/utils/get-timezone-offset-in-hours.ts
  langchain/src/tools/google_calendar/view.ts
  langchain/src/tools/tests/google_calendar.test.ts
  langchain/tsconfig.json
  yarn.lock
Labels: lgtm, auto:enhancement

#2787 Use invoke method for non-streaming Bedrock calls
  langchain/src/chat_models/bedrock.ts
  langchain/src/llms/bedrock.ts
  langchain/src/llms/tests/bedrock.int.test.ts
Labels: auto:improvement

#2789 Wfh/bump zod version
  langchain/package.json
  yarn.lock
Labels: auto:nit

#2790 Release 0.0.159
  langchain/package.json
Labels: auto:nit

#2648 Upgrade pinecone-ts-client to v1.1.0
  .gitignore
  docs/extras/modules/data_connection/vectorstores/integrations/pinecone.md
  examples/src/indexes/vector_stores/pinecone.ts
  examples/src/retrievers/pinecone_self_query.ts
  langchain/package.json
  langchain/src/retrievers/self_query/tests/pinecone_self_query.int.test.ts
  langchain/src/vectorstores/pinecone.ts
  langchain/src/vectorstores/tests/pinecone.int.test.ts
  langchain/src/vectorstores/tests/pinecone.test.ts
  yarn.lock
Labels: auto:improvement

#2793 Fix: Corrected typos
  docs/docs_skeleton/docs/get_started/quickstart.mdx
Labels: auto:documentation

#2795 Release 0.0.160
  langchain/package.json
Labels: auto:nit

#2779 Fix: Text splitter invalid loc.lines in case of chunk overlap
  langchain/src/tests/text_splitter.test.ts
  langchain/src/text_splitter.ts
Labels: auto:bug

#2733 Support to pull prompt templates and model configuration from MakerSuiteHub
  docs/extras/ecosystem/integrations/makersuite.mdx
  langchain/scripts/check-tree-shaking.js
  langchain/scripts/create-entrypoints.js
  langchain/src/experimental/hubs/makersuite/googlemakersuitehub.ts
  langchain/src/experimental/hubs/makersuite/tests/googlemakersuite-files/chatPrompt.json
  langchain/src/experimental/hubs/makersuite/tests/googlemakersuite-files/dataPrompt.json
  langchain/src/experimental/hubs/makersuite/tests/googlemakersuite-files/textPrompt.json
  langchain/src/experimental/hubs/makersuite/tests/googlemakersuitehub.int.test.ts
  langchain/src/experimental/hubs/makersuite/tests/googlemakersuitehub.test.ts
  langchain/src/types/googlevertexai-types.ts
  langchain/src/util/googlevertexai-connection.ts
  langchain/src/util/googlevertexai-webauth.ts
  langchain/src/vectorstores/googlevertexai.ts
Labels: lgtm, auto:enhancement

#2796 Implement Bedrock embeddings
  docs/extras/modules/data_connection/text_embedding/integrations/bedrock.mdx
  examples/src/embeddings/bedrock.ts
  langchain/.gitignore
  langchain/package.json
  langchain/scripts/create-entrypoints.js
  langchain/src/embeddings/bedrock.ts
  langchain/src/embeddings/tests/bedrock.int.test.ts
  langchain/src/load/import_constants.ts
  langchain/src/load/import_type.d.ts
  langchain/tsconfig.json
  yarn.lock
Labels: lgtm, auto:enhancement

#2803 Adds EmbeddingsFilter, DocumentCompressorPipeline, and TavilyRetriever
  docs/docs_skeleton/docs/modules/data_connection/retrievers/how_to/contextual_compression/index.mdx
  docs/docs_skeleton/static/img/contextual_compression.jpg
  docs/extras/modules/data_connection/retrievers/how_to/contextual_compression.mdx
  docs/extras/modules/data_connection/retrievers/integrations/contextual-compression-retriever.mdx
  docs/extras/modules/data_connection/retrievers/integrations/tavily.mdx
  environment_tests/test-exports-bun/src/entrypoints.js
  environment_tests/test-exports-cf/src/entrypoints.js
  environment_tests/test-exports-cjs/src/entrypoints.js
  environment_tests/test-exports-esbuild/src/entrypoints.js
  environment_tests/test-exports-esm/src/entrypoints.js
  environment_tests/test-exports-vercel/src/entrypoints.js
  environment_tests/test-exports-vite/src/entrypoints.js
  examples/src/retrievers/contextual_compression.ts
  examples/src/retrievers/document_compressor_pipeline.ts
  examples/src/retrievers/embeddings_filter.ts
  examples/src/retrievers/tavily.ts
  langchain/.gitignore
  langchain/package.json
  langchain/scripts/create-entrypoints.js
  langchain/src/load/import_map.ts
  langchain/src/retrievers/contextual_compression.ts
  langchain/src/retrievers/document_compressors/embeddings_filter.ts
  langchain/src/retrievers/document_compressors/index.ts
  langchain/src/retrievers/document_compressors/test/document_compressor.int.test.ts
  langchain/src/retrievers/tavily_search_api.ts
  langchain/src/retrievers/tests/tavily_search_api.int.test.ts
  langchain/tsconfig.json
Labels: lgtm, auto:enhancement

#2806 Update expression language docs, add RunnableMap.from method
  docs/docs_skeleton/docs/expression_language/index.mdx
  docs/docs_skeleton/sidebars.js
  docs/extras/additional_resources/expression_language_cheatsheet.mdx
  docs/extras/expression_language/how_to/map.mdx
  examples/src/guides/expression_language/runnable_maps_basic.ts
  examples/src/guides/expression_language/runnable_maps_sequence.ts
  langchain/src/schema/runnable/base.ts
Labels: auto:documentation

#2805 Docs: Light mode node-only button style
  docs/docs_skeleton/src/css/custom.css
Labels: auto:documentation

#2767 fix: Add back Chaindesk retriever
  docs/extras/modules/data_connection/retrievers/integrations/chaindesk-retriever.mdx
  docs/extras/modules/data_connection/retrievers/integrations/databerry-retriever.mdx
  environment_tests/test-exports-bun/src/entrypoints.js
  environment_tests/test-exports-cf/src/entrypoints.js
  environment_tests/test-exports-cjs/src/entrypoints.js
  environment_tests/test-exports-esbuild/src/entrypoints.js
  environment_tests/test-exports-esm/src/entrypoints.js
  environment_tests/test-exports-vercel/src/entrypoints.js
  environment_tests/test-exports-vite/src/entrypoints.js
  examples/src/retrievers/chaindesk.ts
  examples/src/retrievers/databerry.ts
  langchain/.gitignore
  langchain/package.json
  langchain/scripts/create-entrypoints.js
  langchain/src/load/import_map.ts
  langchain/src/retrievers/chaindesk.ts
  langchain/src/retrievers/databerry.ts
  langchain/tsconfig.json
Labels: auto:enhancement

#2809 Rerun build
  langchain/.gitignore
  langchain/package.json
  langchain/src/load/import_constants.ts
  langchain/src/load/import_type.d.ts
  langchain/tsconfig.json
Labels: auto:improvement

#2810 Release 0.0.161
  langchain/package.json
Labels: auto:nit

#2808 Fix typo
  docs/extras/additional_resources/expression_language_cheatsheet.mdx
Labels: auto:documentation

#2822 Fix ChatPrompts with LLMs
  langchain/src/prompts/chat.ts
  langchain/src/prompts/tests/chat.test.ts
Labels: lgtm, auto:bug

#2823 Langsmith in readme update
  README.md
  langchain/README.md
Labels: auto:documentation

#2824 Allow overriding runName in withConfig and update streamLog output
  langchain/src/callbacks/base.ts
  langchain/src/callbacks/handlers/log_stream.ts
  langchain/src/callbacks/manager.ts
  langchain/src/chains/base.ts
  langchain/src/chat_models/base.ts
  langchain/src/llms/base.ts
  langchain/src/schema/retriever.ts
  langchain/src/schema/runnable/base.ts
  langchain/src/schema/tests/lib.ts
  langchain/src/schema/tests/runnable_binding.test.ts
  langchain/src/schema/tests/runnable_stream_log.test.ts
  langchain/src/tools/base.ts
Labels: auto:improvement

#2804 Single table designs in dynamo require maximum flexibility. Adding key attribute to DynamoDB Chat History args.
  langchain/src/stores/message/dynamodb.ts
Labels: close, auto:improvement

#2827 Add runnable lambda from method
  langchain/src/schema/runnable/base.ts
Labels: auto:improvement

#2829 Release 0.0.162
  langchain/package.json
Labels: auto:nit

#2830 Fix for Bedrock `amazon.titan-text-express-v1`
  langchain/src/chat_models/tests/chatbedrock.int.test.ts
  langchain/src/util/bedrock.ts
Labels: lgtm, auto:bug

#2831 update custom cypher example
  examples/src/chains/graph_db_custom_prompt.ts
Labels: lgtm, auto:improvement

#2834 Adds metadata filtering for SemanticSimilarityExampleSelector, updates docs
  docs/snippets/modules/model_io/prompts/example_selectors/similarity.mdx
  examples/src/embeddings/bedrock.ts
  examples/src/prompts/semantic_similarity_example_selector.ts
  examples/src/prompts/semantic_similarity_example_selector_from_existing.ts
  examples/src/prompts/semantic_similarity_example_selector_metadata_filtering.ts
  langchain/src/prompts/selectors/SemanticSimilarityExampleSelector.ts
  langchain/src/prompts/tests/selectors.test.ts
Labels: auto:improvement

#2835 Release 0.0.163
  langchain/package.json
Labels: auto:nit

#2846 Expose PrismaSqlFilter type
  langchain/src/vectorstores/prisma.ts
Labels: auto:improvement

#2839 fix(stream): Update "IterableReadableStream" pull method to enqueue nullish data (e.g. empty string)
  langchain/src/util/stream.ts
Labels: lgtm, auto:bug

#2837 NotionAPILoader: Fix for #2807 and add `propertiesAsHeader` option
  examples/src/document_loaders/notionapi.ts
  langchain/src/document_loaders/tests/notionapi.int.test.ts
  langchain/src/document_loaders/web/notionapi.ts
Labels: auto:improvement

#2848 chore: bump zod and prisma to fix example build errors
  examples/package.json
  yarn.lock
Labels: auto:nit

#2841 Fix: Convert Neo4j Integers to strings in the result sets
  langchain/src/chains/graph_qa/tests/cypher.int.test.ts
  langchain/src/graphs/neo4j_graph.ts
  langchain/src/graphs/tests/neo4j_graph.int.test.ts
Labels: lgtm, auto:bug

#2854 Release 0.0.164
  langchain/package.json
  langchain/src/chat_models/bedrock.ts
  langchain/src/chat_models/tests/chatbedrock.int.test.ts
  langchain/src/document_loaders/tests/notionapi.int.test.ts
  langchain/src/llms/bedrock.ts
Labels: auto:improvement

#2859 fix: minimax base Path not effective problem
  langchain/src/embeddings/minimax.ts
Labels: auto:bug

#2868 Rm slack
  docs/docs_skeleton/docs/community.md
Labels: auto:documentation

#2847 Chore/retrieval chain to lcel
  docs/docs_skeleton/docs/modules/chains/popular/vector_db_qa_legacy.mdx
  docs/snippets/modules/chains/popular/vector_db_qa.mdx
  docs/snippets/modules/chains/popular/vector_db_qa_legacy.mdx
  docs/snippets/modules/chains/popular/vector_db_qa_with_sources.mdx
  docs/snippets/modules/chains/popular/vector_db_qa_with_sources_legacy.mdx
  examples/src/chains/retrieval_qa.ts
  examples/src/chains/retrieval_qa_custom.ts
  examples/src/chains/retrieval_qa_custom_legacy.ts
  examples/src/chains/retrieval_qa_custom_prompt_legacy.ts
  examples/src/chains/retrieval_qa_legacy.ts
  examples/src/chains/retrieval_qa_sources.ts
  examples/src/chains/retrieval_qa_sources_legacy.ts
Labels: auto:documentation

#2825 Add support for MongoDB Atlas $vectorSearch vector search
  docs/extras/modules/data_connection/vectorstores/integrations/mongodb_atlas.mdx
  langchain/src/vectorstores/mongodb_atlas.ts
  langchain/src/vectorstores/tests/mongodb_atlas.int.test.ts
Labels: lgtm, auto:improvement

#2734 feat: Add support for streaming in the SageMaker LLM
  docs/extras/modules/model_io/models/llms/integrations/aws_sagemaker.mdx
  examples/.env.example
  examples/src/models/llm/sagemaker_endpoint.ts
  langchain/.env.example
  langchain/package.json
  langchain/src/llms/sagemaker_endpoint.ts
  langchain/src/llms/tests/sagemaker_endpoint.int.test.ts
  yarn.lock
Labels: lgtm, auto:enhancement

#2763 feat: Adding Portkey
  examples/src/llms/portkey-chat.ts
  examples/src/llms/portkey.ts
  langchain/.gitignore
  langchain/package.json
  langchain/scripts/create-entrypoints.js
  langchain/src/chat_models/portkey.ts
  langchain/src/llms/portkey.ts
  langchain/src/load/import_constants.ts
  langchain/src/load/import_type.d.ts
  langchain/tsconfig.json
  yarn.lock
Labels: lgtm, auto:enhancement

#2650 Add support for Cassandra Vector Store
  docs/extras/modules/data_connection/vectorstores/integrations/cassandra.mdx
  langchain/.gitignore
  langchain/package.json
  langchain/scripts/create-entrypoints.js
  langchain/src/load/import_constants.ts
  langchain/src/load/import_type.d.ts
  langchain/src/vectorstores/cassandra.ts
  langchain/src/vectorstores/tests/cassandra.int.test.ts
  langchain/tsconfig.json
  yarn.lock
Labels: lgtm, auto:enhancement

#2860 Fix CustomListOutputParser format instructions
  langchain/src/output_parsers/list.ts
Labels: lgtm, auto:bug

#2887 Update docs for model streaming
  docs/snippets/modules/model_io/models/chat/how_to/streaming.mdx
  docs/snippets/modules/model_io/models/llms/how_to/streaming_llm.mdx
  examples/src/models/chat/chat_streaming_stream_method.ts
  examples/src/models/llm/llm_streaming_stream_method.ts
  examples/src/prompts/bytes_output_parser.ts
  examples/src/prompts/string_output_parser.ts
Labels: auto:documentation

#2828 Remote Runnables
  environment_tests/test-exports-bun/src/entrypoints.js
  environment_tests/test-exports-cf/src/entrypoints.js
  environment_tests/test-exports-cjs/src/entrypoints.js
  environment_tests/test-exports-esbuild/src/entrypoints.js
  environment_tests/test-exports-esm/src/entrypoints.js
  environment_tests/test-exports-vercel/src/entrypoints.js
  environment_tests/test-exports-vite/src/entrypoints.js
  langchain/.gitignore
  langchain/package.json
  langchain/scripts/create-entrypoints.js
  langchain/src/load/import_map.ts
  langchain/src/runnables/remote.ts
  langchain/src/runnables/tests/runnable_remote.test.ts
  langchain/src/schema/runnable/base.ts
  langchain/src/schema/runnable/remote.ts
  langchain/tsconfig.json
Labels: auto:enhancement

#2882 added force default filter option to mergeFilters
  langchain/src/retrievers/self_query/base.ts
  langchain/src/retrievers/self_query/index.ts
  langchain/src/retrievers/self_query/tests/pinecone_self_query.int.test.ts
Labels: question, lgtm, auto:improvement

#2800 Implement max marginal relevance search for Supabase vector store
  docs/extras/modules/data_connection/vectorstores/integrations/supabase.mdx
  examples/src/indexes/vector_stores/supabase_with_maximum_marginal_relevance.ts
  langchain/src/vectorstores/supabase.ts
  langchain/src/vectorstores/tests/supabase.int.test.ts
Labels: lgtm, auto:improvement, hacktoberfest-accepted

#2851 feat: add momento vector index as a vector store provider
  docs/extras/modules/data_connection/vectorstores/integrations/momento_vector_index.mdx
  docs/extras/modules/memory/integrations/momento.mdx
  docs/snippets/modules/model_io/models/llms/how_to/llm_caching.mdx
  environment_tests/test-exports-bun/src/entrypoints.js
  environment_tests/test-exports-cf/src/entrypoints.js
  environment_tests/test-exports-cjs/src/entrypoints.js
  environment_tests/test-exports-esbuild/src/entrypoints.js
  environment_tests/test-exports-esm/src/entrypoints.js
  environment_tests/test-exports-vercel/src/entrypoints.js
  environment_tests/test-exports-vite/src/entrypoints.js
  examples/.env.example
  examples/package.json
  examples/src/cache/chat_models/momento.ts
  examples/src/cache/momento.ts
  examples/src/indexes/vector_stores/momento_vector_index/fromDocs.ts
  examples/src/indexes/vector_stores/momento_vector_index/fromExisting.ts
  examples/src/indexes/vector_stores/momento_vector_index/fromTexts.ts
  examples/src/memory/momento.ts
  langchain/.gitignore
  langchain/package.json
  langchain/scripts/create-entrypoints.js
  langchain/src/cache/momento.ts
  langchain/src/cache/tests/momento.test.ts
  langchain/src/load/import_constants.ts
  langchain/src/load/import_map.ts
  langchain/src/load/import_type.d.ts
  langchain/src/stores/message/momento.ts
  langchain/src/stores/tests/momento.int.test.ts
  langchain/src/util/time.ts
  langchain/src/vectorstores/momento_vector_index.ts
  langchain/src/vectorstores/tests/momento_vector_index.int.test.ts
  langchain/tsconfig.json
  yarn.lock
Labels: lgtm, auto:enhancement

#2874 Fix: validate input or throw when using MessagesPlaceholder
  langchain/src/prompts/chat.ts
  langchain/src/prompts/tests/chat.test.ts
  langchain/src/schema/index.ts
Labels: lgtm, auto:bug

#2888 Unstructured API - additional props
  langchain/src/document_loaders/fs/unstructured.ts
Labels: auto:improvement

#2892 Add AnthropicFunctionsBedrock
  langchain/src/experimental/chat_models/anthropic_functions.ts
  langchain/src/experimental/chat_models/tests/anthropic_functions.int.test.ts
Labels: lgtm, auto:enhancement

#2894 Release 0.0.166
  langchain/package.json
Labels: auto:nit

#2897 elasticsearch: customize user-agent for es client
  langchain/src/vectorstores/elasticsearch.ts
  langchain/src/vectorstores/tests/elasticsearch.int.test.ts
Labels: lgtm, auto:improvement

#2877 Chore: update SQL popular chain docs to use runnables
  docs/docs_skeleton/docs/modules/chains/popular/sqlite.mdx
  docs/docs_skeleton/docs/modules/chains/popular/sqlite_legacy.mdx
  docs/snippets/modules/chains/popular/sqlite.mdx
  docs/snippets/modules/chains/popular/sqlite_legacy.mdx
  examples/.eslintrc.cjs
  examples/package.json
  examples/src/agents/custom_llm_agent.ts
  examples/src/agents/custom_llm_agent_chat.ts
  examples/src/chains/advanced_subclass.ts
  examples/src/chains/retrieval_qa.ts
  examples/src/chains/sql_db.ts
  examples/src/chains/sql_db_custom_prompt_legacy.ts
  examples/src/chains/sql_db_legacy.ts
  examples/src/chains/sql_db_saphana_legacy.ts
  examples/src/chains/sql_db_sql_output.ts
  examples/src/chains/sql_db_sql_output_legacy.ts
  examples/src/guides/expression_language/how_to_routing_custom_function.ts
  examples/src/retrievers/multi_vector_hypothetical.ts
  yarn.lock
Labels: lgtm, auto:improvement

#2909 fix: hide from sidebar
  docs/docs_skeleton/docs/modules/chains/popular/sqlite_legacy.mdx
Labels: auto:documentation

#2890 Chore: conversational QA docs to use Runnables
  docs/docs_skeleton/docs/modules/chains/popular/chat_vector_db.mdx
  docs/docs_skeleton/docs/modules/chains/popular/chat_vector_db_legacy.mdx
  docs/snippets/modules/chains/popular/chat_vector_db.mdx
  docs/snippets/modules/chains/popular/chat_vector_db_legacy.mdx
  examples/src/chains/conversation_qa_custom_prompt_legacy.ts
  examples/src/chains/conversational_qa.ts
  examples/src/chains/conversational_qa_built_in_memory.ts
  examples/src/chains/conversational_qa_built_in_memory_legacy.ts
  examples/src/chains/conversational_qa_external_memory_legacy.ts
  examples/src/chains/conversational_qa_legacy.ts
  examples/src/chains/conversational_qa_streaming.ts
  examples/src/chains/conversational_qa_streaming_legacy.ts
Labels: lgtm, auto:documentation

#2893 refactor: openai function calling docs
  docs/extras/modules/model_io/models/chat/how_to/function_calling.mdx
  examples/src/models/chat/openai_functions.ts
  examples/src/models/chat/openai_functions_zod.ts
Labels: lgtm, auto:documentation

#2900 chore: added why use LCEL doc
  docs/docs_skeleton/docs/expression_language/index.mdx
  docs/extras/expression_language/why.mdx
Labels: auto:documentation

#2908 fix: batch embedding queries, fix get client in tests
  langchain/src/embeddings/bedrock.ts
  langchain/src/embeddings/tests/bedrock.int.test.ts
Labels: auto:improvement

#2903 Improve Cassandra vector store docs
  docs/extras/modules/data_connection/vectorstores/integrations/cassandra.mdx
  langchain/src/vectorstores/cassandra.ts
  langchain/src/vectorstores/tests/cassandra.int.test.ts
Labels: lgtm, auto:documentation

#2852 feat: Add Neo4j vector store
  langchain/scripts/create-entrypoints.js
  langchain/src/vectorstores/neo4j_vector.ts
  langchain/src/vectorstores/tests/neo4j_vector.int.test.ts
Labels: lgtm, in progress, auto:enhancement

#2906 Add YandexGPT LLM model
  docs/extras/modules/model_io/models/llms/integrations/yandex.mdx
  environment_tests/test-exports-bun/src/entrypoints.js
  environment_tests/test-exports-cf/src/entrypoints.js
  environment_tests/test-exports-cjs/src/entrypoints.js
  environment_tests/test-exports-esbuild/src/entrypoints.js
  environment_tests/test-exports-esm/src/entrypoints.js
  environment_tests/test-exports-vercel/src/entrypoints.js
  environment_tests/test-exports-vite/src/entrypoints.js
  examples/src/models/llm/yandex.ts
  langchain/.gitignore
  langchain/package.json
  langchain/scripts/create-entrypoints.js
  langchain/src/llms/yandex.ts
  langchain/src/load/import_map.ts
  langchain/src/load/import_type.d.ts
  langchain/tsconfig.json
Labels: auto:enhancement

#2853 Allow ParentDocumentRetriever to subclass MultiVectorRetriever
  examples/src/retrievers/parent_document_retriever.ts
  langchain/src/retrievers/multi_vector.ts
  langchain/src/retrievers/parent_document.ts
  langchain/src/retrievers/tests/parent_document.int.test.ts
  langchain/src/schema/storage.ts
  langchain/src/stores/doc/in_memory.ts
Labels: lgtm, auto:improvement

#2895 Add neo4j vector index docs
  docs/extras/modules/data_connection/vectorstores/integrations/neo4jvector.mdx
  examples/src/indexes/vector_stores/neo4j_vector/docker-compose.example.yml
  examples/src/indexes/vector_stores/neo4j_vector/neo4j_vector.ts
  examples/src/indexes/vector_stores/neo4j_vector/neo4j_vector_existinggraph.ts
  examples/src/indexes/vector_stores/neo4j_vector/neo4j_vector_retrieval.ts
  langchain/.gitignore
  langchain/package.json
  langchain/src/load/import_constants.ts
  langchain/src/load/import_type.d.ts
  langchain/tsconfig.json
Labels: lgtm, auto:documentation

#2915 Docs updates
  docs/docs_skeleton/docs/modules/chains/popular/chat_vector_db_legacy.mdx
Labels: auto:documentation

#2916 Release 0.0.167
  langchain/package.json
Labels: auto:nit

#2932 Mark the docs scripts files as executable.
  docs/build.sh
  docs/dev.sh
  docs/nodemon.sh
  docs/serve.sh
Labels: auto:documentation

#2934 Add more memory to linter
  langchain/package.json
  package.json
Labels: auto:nit

#2933 Update repo path to point to `langchain-ai` GitHub org.
  .devcontainer/README.md
  .github/contributing/INTEGRATIONS.md
  .github/contributing/integrations/DOCUMENT_LOADERS.md
  .github/contributing/integrations/LLMS.md
  .github/contributing/integrations/MEMORY.md
  .github/contributing/integrations/MESSAGE_STORES.md
  .github/contributing/integrations/TOOLS.md
  .github/contributing/integrations/VECTOR_STORES.md
  .github/pull_request_template.md
  CONTRIBUTING.md
  README.md
  docs/docs_skeleton/docs/community.md
  docs/docs_skeleton/docusaurus.config.js
  docs/extras/modules/data_connection/vectorstores/integrations/opensearch.md
  docs/extras/use_cases/autonomous_agents/sales_gpt.mdx
  docs/snippets/get_started/introduction.mdx
  docs/snippets/modules/model_io/models/chat/how_to/streaming.mdx
  docs/snippets/modules/model_io/models/llms/how_to/streaming_llm.mdx
  examples/src/document_loaders/github.ts
  examples/src/document_loaders/github_ignore_paths.ts
  examples/src/document_loaders/github_submodules.ts
  langchain/README.md
  langchain/src/document_loaders/tests/github.int.test.ts
  langchain/src/document_loaders/tests/github.test.ts
  langchain/src/prompts/prompt.ts
  langchain/src/util/axios-fetch-adapter.js
  langchain/src/util/env.ts
  langchain/src/util/event-source-parse.ts
Labels: lgtm, auto:improvement

#2929 fix: update llm_streaming_stream_method.ts doc
  examples/src/models/llm/llm_streaming_stream_method.ts
Labels: lgtm, auto:documentation

#2931 Make format_instructions an optional argument in chat agent
  langchain/src/agents/chat/index.ts
Labels: lgtm, auto:improvement

#2920 Update graph_db_custom_prompt.ts
  examples/src/chains/graph_db_custom_prompt.ts
Labels: auto:bug

#2936 Run build in series
  langchain/package.json
  package.json
Labels: auto:nit

#2939 Use SWC to generate AST
  docs/code-block-loader.js
Labels: auto:improvement

#2910 WIP: add runManager.handleLLMNewToken missing call
  langchain/src/llms/sagemaker_endpoint.ts
Labels: lgtm, auto:bug

#2944 Run exports tests in parallel on GitHub CI.
  .github/workflows/ci.yml
  .github/workflows/test-exports.yml
Labels: auto:improvement

#2832 feat: add CloseVector as VectorStore provider
  docs/docs/modules/data_connection/vectorstores/index.mdx
  docs/docs/modules/data_connection/vectorstores/integrations/closevector.mdx
  examples/src/indexes/vector_stores/closevector.ts
  examples/src/indexes/vector_stores/closevector_fromdocs.ts
  examples/src/indexes/vector_stores/closevector_saveload.ts
  examples/src/indexes/vector_stores/closevector_saveload_fromcloud.ts
  langchain/.env.example
  langchain/.gitignore
  langchain/package.json
  langchain/scripts/create-entrypoints.js
  langchain/src/load/import_constants.ts
  langchain/src/load/import_type.d.ts
  langchain/src/vectorstores/closevector/common.ts
  langchain/src/vectorstores/closevector/node.ts
  langchain/src/vectorstores/closevector/web.ts
  langchain/src/vectorstores/tests/closevector_node.int.test.ts
  langchain/src/vectorstores/tests/closevector_node.test.ts
  langchain/tsconfig.json
  yarn.lock
Labels: lgtm, auto:enhancement

#2928 Feature: Add Fake integration support to match Python library
  docs/docs/modules/model_io/models/chat/integrations/fake.mdx
  docs/docs/modules/model_io/models/llms/integrations/fake.mdx
  environment_tests/test-exports-bun/src/entrypoints.js
  environment_tests/test-exports-cf/src/entrypoints.js
  environment_tests/test-exports-cjs/src/entrypoints.js
  environment_tests/test-exports-esbuild/src/entrypoints.js
  environment_tests/test-exports-esm/src/entrypoints.js
  environment_tests/test-exports-vercel/src/entrypoints.js
  environment_tests/test-exports-vite/src/entrypoints.js
  examples/src/models/chat/integration_fake.ts
  examples/src/models/llm/fake.ts
  langchain/.gitignore
  langchain/package.json
  langchain/scripts/create-entrypoints.js
  langchain/src/chat_models/fake.ts
  langchain/src/chat_models/tests/chatfake.test.ts
  langchain/src/llms/fake.ts
  langchain/src/llms/tests/fake.test.ts
  langchain/src/load/import_map.ts
  langchain/tsconfig.json
Labels: lgtm, auto:enhancement

#2923 Adds Cloudflare Workers AI LLM and chat model
  docs/docs/modules/model_io/models/chat/integrations/cloudflare_workersai.mdx
  docs/docs/modules/model_io/models/llms/integrations/cloudflare_workersai.mdx
  environment_tests/test-exports-bun/src/entrypoints.js
  environment_tests/test-exports-cf/src/entrypoints.js
  environment_tests/test-exports-cjs/src/entrypoints.js
  environment_tests/test-exports-esbuild/src/entrypoints.js
  environment_tests/test-exports-esm/src/entrypoints.js
  environment_tests/test-exports-vercel/src/entrypoints.js
  environment_tests/test-exports-vite/src/entrypoints.js
  examples/src/models/chat/integration_cloudflare_workersai.ts
  examples/src/models/llm/cloudflare_workersai.ts
  langchain/.gitignore
  langchain/package.json
  langchain/scripts/create-entrypoints.js
  langchain/src/chat_models/cloudflare_workersai.ts
  langchain/src/chat_models/tests/chatcloudflare_workersai.int.test.ts
  langchain/src/llms/cloudflare_workersai.ts
  langchain/src/llms/tests/cloudflare_workersai.int.test.ts
  langchain/src/load/import_map.ts
  langchain/tsconfig.json
Labels: auto:enhancement

#2950 Release 0.0.168
  langchain/package.json
Labels: auto:nit

#2957 Add build + docs deploy step in GHA
  .github/workflows/docs-preview.yml
  .github/workflows/docs-prod.yml
Labels: auto:documentation

#2952 Fixed typo in documentation
  examples/src/models/llm/llm_cancellation.ts
Labels: lgtm, auto:documentation

#2958 Feat: general security doc
  docs/docs/security.md
Labels: auto:documentation

#2955 zep: Add native MMR to Zep Retriever
  examples/package.json
  examples/src/retrievers/zep.ts
  langchain/package.json
  langchain/src/retrievers/zep.ts
  yarn.lock
Labels: auto:improvement

#2924 add delete for faiss
  docs/docs/modules/data_connection/vectorstores/integrations/faiss.mdx
  examples/package.json
  examples/src/indexes/vector_stores/faiss_delete.ts
  langchain/package.json
  langchain/src/vectorstores/faiss.ts
  langchain/src/vectorstores/tests/faiss.test.ts
  yarn.lock
Labels: question, auto:improvement

#2942 Weaviate - throw error if storing vectors fails
  langchain/src/vectorstores/weaviate.ts
Labels: auto:bug

#2965 Add missing CI action env
  .github/workflows/docs-preview.yml
  .github/workflows/docs-prod.yml
Labels: auto:nit

#2941 LLMonitor Callback Handler: fix tracking users on agents
  docs/docs/ecosystem/integrations/llmonitor.md
  langchain/package.json
  langchain/src/callbacks/handlers/llmonitor.ts
  langchain/src/callbacks/tests/llmonitor.int.test.ts
  yarn.lock
Labels: close, auto:bug

#2930 Add YandexGPT Chat model
  docs/docs/modules/model_io/models/chat/integrations/yandex.mdx
  environment_tests/test-exports-bun/src/entrypoints.js
  environment_tests/test-exports-cf/src/entrypoints.js
  environment_tests/test-exports-cjs/src/entrypoints.js
  environment_tests/test-exports-esbuild/src/entrypoints.js
  environment_tests/test-exports-esm/src/entrypoints.js
  environment_tests/test-exports-vercel/src/entrypoints.js
  environment_tests/test-exports-vite/src/entrypoints.js
  examples/src/models/chat/integration_yandex.ts
  langchain/.gitignore
  langchain/package.json
  langchain/scripts/create-entrypoints.js
  langchain/src/chat_models/yandex.ts
  langchain/src/load/import_map.ts
  langchain/tsconfig.json
Labels: question, lgtm, auto:enhancement

#2968 Remove preview deploy for now
  .github/workflows/docs-preview.yml
Labels: auto:nit

#2945 Feat: violations of expectations chain
  docs/docs/use_cases/agent_simulations/violation_of_expectations_chain.mdx
  environment_tests/test-exports-bun/src/entrypoints.js
  environment_tests/test-exports-cf/src/entrypoints.js
  environment_tests/test-exports-cjs/src/entrypoints.js
  environment_tests/test-exports-esbuild/src/entrypoints.js
  environment_tests/test-exports-esm/src/entrypoints.js
  environment_tests/test-exports-vercel/src/entrypoints.js
  environment_tests/test-exports-vite/src/entrypoints.js
  examples/src/use_cases/advanced/violation_of_expectations_chain.ts
  langchain/.gitignore
  langchain/package.json
  langchain/scripts/create-entrypoints.js
  langchain/src/experimental/chains/tests/violation_of_expectations_chain.int.test.ts
  langchain/src/experimental/chains/violation_of_expectations/index.ts
  langchain/src/experimental/chains/violation_of_expectations/types.ts
  langchain/src/experimental/chains/violation_of_expectations/violation_of_expectations_chain.ts
  langchain/src/experimental/chains/violation_of_expectations/violation_of_expectations_prompt.ts
  langchain/src/load/import_map.ts
  langchain/tsconfig.json
  package.json
Labels: close, auto:enhancement

#2970 Adds base URL support for Cloudflare WorkersAI
  examples/src/models/chat/integration_cloudflare_workersai.ts
  examples/src/models/llm/cloudflare_workersai.ts
  langchain/src/chat_models/cloudflare_workersai.ts
  langchain/src/chat_models/tests/chatcloudflare_workersai.int.test.ts
  langchain/src/experimental/chains/tests/violation_of_expectations_chain.int.test.ts
  langchain/src/llms/cloudflare_workersai.ts
  langchain/src/llms/tests/cloudflare_workersai.int.test.ts
Labels: auto:improvement

#2971 Release 0.0.169
  langchain/package.json
  langchain/src/memory/tests/entity_memory.int.test.ts
  langchain/src/vectorstores/tests/momento_vector_index.int.test.ts
Labels: auto:nit

#2973 fix: show voe notebook in docs
  docs/docs/use_cases/question_answering/violation_of_expectations_chain.mdx
Labels: auto:documentation

#2974 Revert "fix: show voe notebook in docs"
  docs/docs/use_cases/agent_simulations/violation_of_expectations_chain.mdx
Labels: auto:documentation

#2980 fix: wildcard suffix for yielding keys
  langchain/src/storage/ioredis.ts
  langchain/src/storage/tests/ioredis.int.test.ts
  langchain/src/storage/tests/vercel_kv.int.test.ts
  langchain/src/storage/vercel_kv.ts
Labels: auto:improvement

#2959 Feat/security notice openapi
  docs/docs/modules/agents/toolkits/openapi.md
  langchain/src/agents/toolkits/openapi/openapi.ts
Labels: lgtm, auto:documentation

#2962 feat: SQL chain security disclaimers to documentation & JSDoc
  docs/docs/modules/chains/popular/sqlite.mdx
  langchain/src/chains/sql_db/sql_db_chain.ts
  langchain/src/sql_db.ts
Labels: auto:documentation

#2986 Fixed order of LCEL menu and added tables in interface page
  docs/docs/expression_language/cookbook/_category_.yml
  docs/docs/expression_language/how_to/_category_.yml
  docs/docs/expression_language/interface.mdx
  docs/docs/expression_language/why.mdx
Labels: auto:documentation

#2993 Add exports, small CI fix
  .github/workflows/docs-preview.yml
  langchain/src/memory/index.ts
Labels: auto:improvement

#2981 feat: added invoke method to chat model docs
  docs/docs/modules/model_io/models/chat/index.mdx
  examples/src/models/chat/chat_quick_start.ts
  examples/src/models/chat/runnable_chat_quick_start.ts
Labels: auto:documentation

#2994 fix: add missing codeblock import
  docs/docs/modules/model_io/models/chat/index.mdx
Labels: auto:documentation

#2995 Run format on docs PRs
  .github/workflows/ci.yml
  .github/workflows/format.yml
  docs/docs/modules/model_io/models/chat/index.mdx
Labels: auto:improvement

#2969 Add ERNIE-Bot-4 from Baidu Wenxin Qianfan
  examples/src/models/chat/integration_baiduwenxin.ts
  langchain/src/chat_models/baiduwenxin.ts
  langchain/src/chat_models/tests/chatbaiduwenxin.int.test.ts
Labels: lgtm, auto:enhancement

#2963 Feat/upstash redis storage
  .vscode/settings.json
  langchain/.gitignore
  langchain/package.json
  langchain/scripts/create-entrypoints.js
  langchain/src/load/import_constants.ts
  langchain/src/load/import_type.d.ts
  langchain/src/storage/tests/upstash_redis.int.test.ts
  langchain/src/storage/upstash_redis.ts
  langchain/tsconfig.json
Labels: close, auto:enhancement

#2927 feat: runnables powered agent
  docs/docs/modules/agents/how_to/structured_output_runnables_agent.mdx
  environment_tests/test-exports-bun/src/entrypoints.js
  environment_tests/test-exports-cf/src/entrypoints.js
  environment_tests/test-exports-cjs/src/entrypoints.js
  environment_tests/test-exports-esbuild/src/entrypoints.js
  environment_tests/test-exports-esm/src/entrypoints.js
  environment_tests/test-exports-vercel/src/entrypoints.js
  environment_tests/test-exports-vite/src/entrypoints.js
  langchain/.gitignore
  langchain/package.json
  langchain/scripts/create-entrypoints.js
  langchain/src/agents/agent.ts
  langchain/src/agents/executor.ts
  langchain/src/agents/format_scratchpad.ts
  langchain/src/agents/tests/agent.int.test.ts
  langchain/src/agents/tests/structured_output_runnables.int.test.ts
  langchain/src/agents/types.ts
  langchain/src/load/import_map.ts
  langchain/src/schema/runnable/base.ts
  langchain/tsconfig.json
Labels: lgtm, auto:enhancement

#2948 Feat: runnable assign
  examples/src/guides/expression_language/cookbook_sql_db.ts
  langchain/src/schema/runnable/base.ts
  langchain/src/schema/runnable/passthrough.ts
  langchain/src/schema/tests/runnable_passthrough.test.ts
Labels: lgtm, in progress, auto:improvement

#2949 fix: ensure metadata is cast to jsonb for pgvector
  langchain/src/vectorstores/pgvector.ts
  langchain/src/vectorstores/tests/pgvector.int.test.ts
Labels: lgtm, auto:bug

#2582 Get transcript text by ID in AssemblyAI
  docs/docs/modules/data_connection/document_loaders/integrations/web_loaders/assemblyai_audio_transcription.mdx
  examples/src/document_loaders/assemblyai_subtitles.ts
  langchain/.env.example
  langchain/package.json
  langchain/src/document_loaders/tests/assemblyai.int.test.ts
  langchain/src/document_loaders/web/assemblyai.ts
  langchain/src/types/assemblyai-types.ts
  langchain/src/util/assemblyai-client.ts
  yarn.lock
Labels: lgtm, auto:improvement

#2996 Release 0.0.170
  langchain/package.json
  langchain/src/storage/tests/upstash_redis.int.test.ts
  langchain/src/stores/tests/momento.int.test.ts
Labels: auto:nit

#2997 fix: updated title of docs and file name
  docs/docs/modules/agents/how_to/agent_structured.mdx
Labels: auto:documentation

#2998 Chore/neo4j security note
  docs/docs/modules/data_connection/experimental/graph_databases/neo4j.mdx
  docs/docs/modules/data_connection/vectorstores/integrations/neo4jvector.mdx
  langchain/src/agents/toolkits/openapi/openapi.ts
  langchain/src/chains/sql_db/sql_db_chain.ts
  langchain/src/graphs/neo4j_graph.ts
  langchain/src/sql_db.ts
  langchain/src/vectorstores/neo4j_vector.ts
Labels: auto:documentation

#3003 IterableReadableStream.fromReadableStream reader releaseLock
  langchain/src/util/stream.ts
Labels: auto:bug

#3014 Ensure shell expansions are quoted in docs workflows.
  .github/workflows/docs-preview.yml
  .github/workflows/docs-prod.yml
Labels: auto:improvement

#3015 Upgrade `actions/checkout` to v4 in all workflows.
  .github/workflows/ci.yml
  .github/workflows/docs-preview.yml
  .github/workflows/docs-prod.yml
  .github/workflows/format.yml
  .github/workflows/integration.yml
Labels: lgtm, auto:nit

#3008 fix top_p value
  examples/src/models/chat/integration_googlepalm.ts
  langchain/src/llms/googlepalm.ts
  langchain/src/llms/tests/googlepalm.test.ts
Labels: lgtm, auto:bug

#3017 nit: add missing eslint disable any to runnable passthrough
  langchain/src/schema/runnable/passthrough.ts
Labels: auto:nit

#3000 Feat: added runnable examples to agent docs
  docs/docs/modules/agents/how_to/custom_llm_agent.mdx
  docs/docs/modules/agents/how_to/custom_llm_chat_agent.mdx
  docs/docs/modules/agents/how_to/custom_mrkl_agent.mdx
  examples/src/agents/custom_llm_agent_chat.ts
  examples/src/agents/custom_llm_agent_chat_runnable.ts
  examples/src/agents/custom_llm_agent_runnable.ts
Labels: auto:documentation

#3010 WebPDFLoader: allow usage of custom pdfjs build
  docs/docs/modules/data_connection/document_loaders/integrations/web_loaders/pdf.mdx
  langchain/src/document_loaders/tests/webpdf.int.test.ts
  langchain/src/document_loaders/web/pdf.ts
Labels: lgtm, auto:improvement

#3011 Feat/parent doc score threshold
  docs/docs/modules/data_connection/retrievers/how_to/parent-document-retriever.mdx
  examples/src/retrievers/parent_document_retriever_score_threshold.ts
  langchain/src/retrievers/parent_document.ts
  langchain/src/retrievers/tests/parent_document.int.test.ts
Labels: lgtm, auto:improvement

#2999 Llama2 node-llama-cpp chat module
  docs/docs/modules/model_io/models/chat/integrations/llama_cpp.mdx
  docs/docs/modules/model_io/models/llms/integrations/llama_cpp.mdx
  examples/src/models/chat/integration_llama_cpp.ts
  examples/src/models/chat/integration_llama_cpp_chain.ts
  examples/src/models/chat/integration_llama_cpp_system.ts
  langchain/.gitignore
  langchain/package.json
  langchain/scripts/create-entrypoints.js
  langchain/src/chat_models/llama_cpp.ts
  langchain/src/chat_models/tests/chatllama_cpp.int.test.ts
  langchain/src/load/import_constants.ts
  langchain/src/load/import_type.d.ts
  langchain/tsconfig.json
  yarn.lock
Labels: lgtm, auto:enhancement

#2967 Add support for cassandra filtering, update docs
  docs/docs/modules/data_connection/vectorstores/integrations/cassandra.mdx
  langchain/src/vectorstores/cassandra.ts
  langchain/src/vectorstores/tests/cassandra.int.test.ts
Labels: lgtm, auto:improvement

#3002 feat: update mvi integration for more metadata types
  examples/package.json
  langchain/package.json
  langchain/src/vectorstores/momento_vector_index.ts
  langchain/src/vectorstores/tests/momento_vector_index.int.test.ts
  yarn.lock
Labels: lgtm, auto:improvement

#3019 Release 0.0.171
  langchain/package.json
  langchain/src/graphs/tests/neo4j_graph.int.test.ts
  langchain/src/vectorstores/tests/neo4j_vector.int.test.ts
Labels: auto:nit

#3024 Avoid hardcoding embedding size to OpenAI dimensions in Qdrant client
  langchain/src/vectorstores/qdrant.ts
  langchain/src/vectorstores/tests/qdrant.int.test.ts
Labels: auto:improvement

#3025 Remove more hard-coded values
  langchain/src/vectorstores/analyticdb.ts
  langchain/src/vectorstores/redis.ts
  langchain/src/vectorstores/tests/qdrant.int.test.ts
Labels: auto:improvement

#3020 feat: added react output parser and tests
  environment_tests/test-exports-bun/src/entrypoints.js
  environment_tests/test-exports-cf/src/entrypoints.js
  environment_tests/test-exports-cjs/src/entrypoints.js
  environment_tests/test-exports-esbuild/src/entrypoints.js
  environment_tests/test-exports-esm/src/entrypoints.js
  environment_tests/test-exports-vercel/src/entrypoints.js
  environment_tests/test-exports-vite/src/entrypoints.js
  langchain/.gitignore
  langchain/package.json
  langchain/scripts/create-entrypoints.js
  langchain/src/agents/format_scratchpad/log.ts
  langchain/src/agents/format_scratchpad/log_to_message.ts
  langchain/src/agents/format_scratchpad/openai_functions.ts
  langchain/src/agents/format_scratchpad/xml.ts
  langchain/src/agents/react/output_parser.ts
  langchain/src/agents/react/prompt.ts
  langchain/src/agents/tests/react.test.ts
  langchain/src/agents/tests/structured_output_runnables.int.test.ts
  langchain/src/load/import_map.ts
  langchain/src/tools/render.ts
  langchain/tsconfig.json
Labels: auto:enhancement

#3013 Feat: generic file system kv store
  langchain/.gitignore
  langchain/package.json
  langchain/scripts/create-entrypoints.js
  langchain/src/load/import_constants.ts
  langchain/src/load/import_type.d.ts
  langchain/src/storage/file_system.ts
  langchain/src/storage/tests/file_system.test.ts
  langchain/tsconfig.json
Labels: auto:enhancement

#3028 Respect organization in OpenAIEmbeddings
  langchain/src/embeddings/openai.ts
  langchain/src/embeddings/tests/openai.int.test.ts
Labels: auto:improvement

#3030 Release 0.0.172
  langchain/package.json
Labels: auto:nit

#2984 feat: base storage docs
  docs/docs/modules/data_connection/storage/how_to/_category_.yml
  docs/docs/modules/data_connection/storage/how_to/read_data.mdx
  docs/docs/modules/data_connection/storage/how_to/write_data.mdx
  docs/docs/modules/data_connection/storage/index.mdx
  docs/docs/modules/data_connection/storage/integrations/_category_.yml
  docs/docs/modules/data_connection/storage/integrations/file_system.mdx
  docs/docs/modules/data_connection/storage/integrations/in_memory.mdx
  docs/docs/modules/data_connection/storage/integrations/ioredis_storage.mdx
  docs/docs/modules/data_connection/storage/integrations/upstash_redis_storage.mdx
  docs/docs/modules/data_connection/storage/integrations/vercel_kv_storage.mdx
  examples/package.json
  examples/src/stores/file_system_storage.ts
  examples/src/stores/in_memory_storage.ts
  examples/src/stores/ioredis_storage.ts
  examples/src/stores/upstash_redis_storage.ts
  examples/src/stores/vercel_kv_storage.ts
  yarn.lock
Labels: auto:documentation

#3032 Refactor docs, add Scrimba course
  docs/docs/additional_resources/scrimba.mdx
  docs/docs/additional_resources/tutorials/expression_language_cheatsheet.mdx
  docs/docs/additional_resources/tutorials/index.mdx
  docs/docusaurus.config.js
  docs/sidebars.js
  docs/vercel.json
Labels: auto:documentation

#3034 Hide storage docs for now
  docs/docs/modules/data_connection/storage/how_to/_category_.yml
  docs/docs/modules/data_connection/storage/how_to/read_data.mdx
  docs/docs/modules/data_connection/storage/how_to/write_data.mdx
  docs/docs/modules/data_connection/storage/index.mdx
  docs/docs/modules/data_connection/storage/integrations/_category_.yml
  docs/docs/modules/data_connection/storage/integrations/file_system.mdx
  docs/docs/modules/data_connection/storage/integrations/in_memory.mdx
  docs/docs/modules/data_connection/storage/integrations/ioredis_storage.mdx
  docs/docs/modules/data_connection/storage/integrations/upstash_redis_storage.mdx
  docs/docs/modules/data_connection/storage/integrations/vercel_kv_storage.mdx
Labels: auto:documentation

#3033 Update broken link on SerpApi documentation
  langchain/src/tools/serpapi.ts
Labels: auto:documentation

#3035 Fix broken docs links
  docs/docs/get_started/introduction.mdx
Labels: auto:documentation

#3029 feat: added openai functions output parser class
  environment_tests/test-exports-bun/src/entrypoints.js
  environment_tests/test-exports-cf/src/entrypoints.js
  environment_tests/test-exports-cjs/src/entrypoints.js
  environment_tests/test-exports-esbuild/src/entrypoints.js
  environment_tests/test-exports-esm/src/entrypoints.js
  environment_tests/test-exports-vercel/src/entrypoints.js
  environment_tests/test-exports-vite/src/entrypoints.js
  langchain/.gitignore
  langchain/package.json
  langchain/scripts/create-entrypoints.js
  langchain/src/agents/openai/index.ts
  langchain/src/agents/openai/output_parser.ts
  langchain/src/load/import_map.ts
  langchain/tsconfig.json
Labels: auto:enhancement

#3037 feat: added agent xml output parser class
  environment_tests/test-exports-bun/src/entrypoints.js
  environment_tests/test-exports-cf/src/entrypoints.js
  environment_tests/test-exports-cjs/src/entrypoints.js
  environment_tests/test-exports-esbuild/src/entrypoints.js
  environment_tests/test-exports-esm/src/entrypoints.js
  environment_tests/test-exports-vercel/src/entrypoints.js
  environment_tests/test-exports-vite/src/entrypoints.js
  langchain/.gitignore
  langchain/package.json
  langchain/scripts/create-entrypoints.js
  langchain/src/agents/index.ts
  langchain/src/agents/openai/index.ts
  langchain/src/agents/openai/output_parser.ts
  langchain/src/agents/xml/index.ts
  langchain/src/agents/xml/output_parser.ts
  langchain/src/load/import_map.ts
  langchain/tsconfig.json
Labels: lgtm, auto:enhancement

#3038 Use node: prefixed deps
  langchain/src/storage/file_system.ts
Labels: auto:nit

#3039 Add cookbook section and rewrite-retrieve-read example
  cookbook/README.md
  cookbook/rewrite.ipynb
  docs/docs/modules/data_connection/retrievers/integrations/tavily.mdx
  langchain/src/chains/graph_qa/tests/cypher.int.test.ts
Labels: auto:documentation

#3046 Update deps in cookbook
  cookbook/rewrite.ipynb
Labels: auto:nit

#3047 fix: remove .js from imports in examples
  docs/docs/modules/agents/how_to/agent_structured.mdx
Labels: auto:documentation

#3049 Fix: bug where pgvector cant add more than chunk size
  langchain/src/vectorstores/pgvector.ts
  langchain/src/vectorstores/tests/pgvector.int.test.ts
Labels: lgtm, auto:bug

#3050 Add new scrims to docs
  docs/docs/additional_resources/tutorials/index.mdx
  docs/docs/expression_language/cookbook/adding_memory.mdx
  docs/docs/expression_language/cookbook/index.mdx
  docs/docs/expression_language/cookbook/multiple_chains.mdx
  docs/docs/expression_language/cookbook/prompt_llm_parser.mdx
  docs/docs/expression_language/cookbook/retrieval.mdx
  docs/docs/expression_language/cookbook/sql_db.mdx
  docs/docs/expression_language/cookbook/tools.mdx
  docs/docs/expression_language/index.mdx
  docs/sidebars.js
Labels: auto:documentation
