Repository langchain-ai/langchainjs, pull requests merged in 2023-06, with the labels that each got.

#1387 fix: Changed expression parser from meriyah to peggy.
  langchain/package.json
  langchain/src/output_parsers/expression.ts
  langchain/src/output_parsers/expression_type_handlers/array_literal_expression_handler.ts
  langchain/src/output_parsers/expression_type_handlers/base.ts
  langchain/src/output_parsers/expression_type_handlers/boolean_literal_handler.ts
  langchain/src/output_parsers/expression_type_handlers/call_expression_handler.ts
  langchain/src/output_parsers/expression_type_handlers/factory.ts
  langchain/src/output_parsers/expression_type_handlers/grammar/parser_grammar.ts
  langchain/src/output_parsers/expression_type_handlers/identifier_handler.ts
  langchain/src/output_parsers/expression_type_handlers/member_expression_handler.ts
  langchain/src/output_parsers/expression_type_handlers/numeric_literal_handler.ts
  langchain/src/output_parsers/expression_type_handlers/object_literal_expression_handler.ts
  langchain/src/output_parsers/expression_type_handlers/property_assignment_handler.ts
  langchain/src/output_parsers/expression_type_handlers/string_literal_handler.ts
  langchain/src/output_parsers/tests/expression.test.ts
  langchain/src/types/expression-parser.d.ts
  yarn.lock
Labels: lgtm

#1087 Add Vespa retriever
  docs/docs/modules/indexes/retrievers/vespa-retriever.mdx
  examples/src/retrievers/vespa.ts
  langchain/.gitignore
  langchain/package.json
  langchain/scripts/create-entrypoints.js
  langchain/src/retrievers/tests/vespa.int.test.ts
  langchain/src/retrievers/vespa.ts
  langchain/tsconfig.json
  test-exports-cf/src/entrypoints.js
  test-exports-cjs/src/entrypoints.js
  test-exports-cra/src/entrypoints.js
  test-exports-esm/src/entrypoints.js
  test-exports-vercel/src/entrypoints.js
  test-exports-vite/src/entrypoints.js
Labels: lgtm

#1418 New feat: Added advanced filter builder function for Supabase vector store
  docs/docs/modules/indexes/retrievers/supabase-hybrid.mdx
  docs/docs/modules/indexes/vector_stores/integrations/supabase.mdx
  examples/src/indexes/vector_stores/supabase_with_query_builder_metadata_filter.ts
  langchain/package.json
  langchain/src/vectorstores/supabase.ts
  langchain/src/vectorstores/tests/supabase.int.test.ts
  yarn.lock
Labels: lgtm

#1490 Add unit tests to chromadb integration
  langchain/src/vectorstores/tests/chroma.test.ts
Labels: lgtm

#1489 ported over the generative agent abstractions from python (and docs)
  docs/docs/use_cases/agent_simulations/generative_agents.mdx
  docs/docs/use_cases/agent_simulations/index.mdx
  examples/src/experimental/generative_agents/generative_agents.ts
  langchain/.gitignore
  langchain/package.json
  langchain/scripts/create-entrypoints.js
  langchain/src/experimental/generative_agents/generative_agent.ts
  langchain/src/experimental/generative_agents/generative_agent_memory.ts
  langchain/src/experimental/generative_agents/index.ts
  langchain/src/experimental/generative_agents/tests/generative_agent.int.test.ts
  langchain/src/retrievers/time_weighted.ts
  langchain/tsconfig.json
  test-exports-cf/src/entrypoints.js
  test-exports-cjs/src/entrypoints.js
  test-exports-cra/src/entrypoints.js
  test-exports-esbuild/src/entrypoints.js
  test-exports-esm/src/entrypoints.js
  test-exports-vercel/src/entrypoints.js
  test-exports-vite/src/entrypoints.js
Labels: lgtm

#1274 Add PromptLayer chat model support, return promptLayerRequestID in generationInfo
  docs/docs/modules/models/chat/integrations.mdx
  docs/docs/modules/models/llms/integrations.mdx
  langchain/src/chat_models/openai.ts
  langchain/src/llms/openai-chat.ts
  langchain/src/llms/openai.ts
  langchain/src/llms/tests/prompt_layer.int.test.ts
  langchain/src/util/prompt-layer.ts
Labels: lgtm

#1500 Add new filetypes supported by Unstructured
  langchain/src/document_loaders/fs/unstructured.ts
Labels: lgtm

#1492 fix username and password for Milvus.fromText and Milvus.fromDocuments
  langchain/src/vectorstores/milvus.ts
Labels: lgtm

#1409 Add SingleStore vectorstore integration
  docs/docs/modules/indexes/vector_stores/index.mdx
  docs/docs/modules/indexes/vector_stores/integrations/singlestore.mdx
  examples/.env.example
  examples/package.json
  examples/src/indexes/vector_stores/singlestore.ts
  langchain/.env.example
  langchain/.gitignore
  langchain/package.json
  langchain/scripts/create-entrypoints.js
  langchain/src/vectorstores/singlestore.ts
  langchain/src/vectorstores/tests/singlestore.int.test.ts
  langchain/tsconfig.json
  yarn.lock
Labels: question, lgtm

#1518 Add pinecone metadata string array support
  langchain/src/vectorstores/pinecone.ts
  langchain/src/vectorstores/tests/pinecone.test.ts
Labels: lgtm

#1515 Upgrade Chroma to 1.5.2
  langchain/package.json
  langchain/src/vectorstores/chroma.ts
  langchain/src/vectorstores/tests/chroma.test.ts
  yarn.lock
Labels: lgtm

#1505 AI21 Labs Integration
  docs/docs/modules/models/llms/integrations.mdx
  examples/src/models/llm/ai21.ts
  langchain/.gitignore
  langchain/package.json
  langchain/scripts/create-entrypoints.js
  langchain/src/llms/ai21.ts
  langchain/src/llms/tests/ai21.int.test.ts
  langchain/tsconfig.json
  test-exports-cf/src/entrypoints.js
  test-exports-cjs/src/entrypoints.js
  test-exports-cra/src/entrypoints.js
  test-exports-esbuild/src/entrypoints.js
  test-exports-esm/src/entrypoints.js
  test-exports-vercel/src/entrypoints.js
  test-exports-vite/src/entrypoints.js
Labels: lgtm

#1436 add typeorm vectorstore
  docs/docs/modules/indexes/vector_stores/integrations/typeorm.mdx
  examples/src/indexes/vector_stores/typeorm_vectorstore/docker-compose.example.yml
  examples/src/indexes/vector_stores/typeorm_vectorstore/typeorm.ts
  langchain/.gitignore
  langchain/package.json
  langchain/scripts/create-entrypoints.js
  langchain/src/vectorstores/tests/typeorm.int.test.ts
  langchain/src/vectorstores/typeorm.ts
  langchain/tsconfig.json
  yarn.lock
Labels: lgtm

#1234 feat: Add filter support for Prisma
  docs/docs/modules/indexes/vector_stores/integrations/prisma.mdx
  examples/src/indexes/vector_stores/prisma_vectorstore/prisma.ts
  examples/src/indexes/vector_stores/prisma_vectorstore/prisma/migrations/00_init/migration.sql
  examples/src/indexes/vector_stores/prisma_vectorstore/prisma/schema.prisma
  langchain/src/vectorstores/prisma.ts
Labels: lgtm

#1503 improving MongoDBAtlasVectorSearch vectorstore and normalizing its name with the python package
  examples/src/indexes/vector_stores/mongo_fromTexts.ts
  examples/src/indexes/vector_stores/mongo_search.ts
  examples/src/indexes/vector_stores/mongodb_atlas_fromTexts.ts
  examples/src/indexes/vector_stores/mongodb_atlas_search.ts
  langchain/.env.example
  langchain/.gitignore
  langchain/package.json
  langchain/scripts/create-entrypoints.js
  langchain/src/vectorstores/mongo.ts
  langchain/src/vectorstores/mongodb_atlas.ts
  langchain/src/vectorstores/tests/mongo.int.test.ts
  langchain/src/vectorstores/tests/mongodb_atlas.int.test.ts
  langchain/tsconfig.json
Labels: lgtm

#1540 Include memory key when getMemory returns NotFoundError.
  langchain/src/memory/zep.ts
Labels: lgtm

#1524 Allows passing more options to self-query retriever's fromLLM
  langchain/src/retrievers/self_query/index.ts
Labels: question, lgtm

#1568 Use swc-loader to build docs instead of babel-loader
  docs/docusaurus.config.js
  docs/package.json
  yarn.lock
Labels: lgtm

#1508 fix: pass all prior inputs in sequential chains
  docs/docs/modules/chains/sequential_chain.mdx
  langchain/src/chains/sequential_chain.ts
  langchain/src/chains/tests/sequential_chain.test.ts
Labels: lgtm

#1544 New Feat: Added Supabase self query retriever.
  docs/docs/modules/indexes/retrievers/self_query/examples/supabase-self-query.mdx
  docs/docs/modules/indexes/retrievers/self_query/index.mdx
  examples/src/retrievers/supabase_self_query.ts
  langchain/.gitignore
  langchain/package.json
  langchain/scripts/create-entrypoints.js
  langchain/src/retrievers/self_query/supabase.ts
  langchain/src/retrievers/self_query/tests/supabase_self_query.int.test.ts
  langchain/tsconfig.json
Labels: lgtm

#1561 Adds managed Motorhead
  docs/docs/modules/indexes/retrievers/self_query/index.mdx
  docs/docs/modules/memory/examples/motorhead_memory.md
  docs/docs/modules/memory/examples/motorhead_memory.mdx
  examples/src/memory/motorhead.ts
  langchain/src/memory/motorhead_memory.ts
  langchain/src/memory/tests/motorhead_memory.int.test.ts
  langchain/src/memory/tests/motorhead_memory.test.ts
Labels: lgtm

#1437 ci: ensure ci step uses yarn 2.x, cache dependencies
  docker-compose.yml
  scripts/docker-ci-entrypoint.sh
Labels: question

#1354 fix input keys in refine and stuff chains
  langchain/src/chains/combine_docs_chain.ts
  langchain/src/chains/tests/combine_docs_chain.test.ts
Labels: lgtm

#1590 Add pagination to GoogleVertexAIEmbeddings
  langchain/src/embeddings/googlevertexai.ts
  langchain/src/embeddings/tests/googlevertexai.int.test.ts
Labels: lgtm

#1582 GoogleVertexAI "Codey" support for code-bison and code-gecko models
  docs/docs/modules/models/llms/integrations.mdx
  examples/src/llms/googlevertexai-code-bison.ts
  examples/src/llms/googlevertexai-code-gecko.ts
  langchain/src/llms/googlevertexai.ts
  langchain/src/llms/tests/googlevertexai.int.test.ts
Labels: lgtm

#1564 Docstore updates - change base class and add GoogleCloudStorage Docstore
  langchain/.gitignore
  langchain/package.json
  langchain/scripts/create-entrypoints.js
  langchain/src/docstore/base.ts
  langchain/src/docstore/in_memory.ts
  langchain/src/docstore/index.ts
  langchain/src/schema/index.ts
  langchain/src/stores/doc/gcs.ts
  langchain/src/stores/doc/in_memory.ts
  langchain/src/stores/doc/tests/gcs.int.test.ts
  langchain/src/vectorstores/faiss.ts
  langchain/src/vectorstores/hnswlib.ts
  langchain/tsconfig.json
  test-exports-cf/src/entrypoints.js
  test-exports-cjs/src/entrypoints.js
  test-exports-cjs/src/import.js
  test-exports-cjs/src/index.mjs
  test-exports-cjs/src/index.ts
  test-exports-cjs/src/require.js
  test-exports-cra/src/entrypoints.js
  test-exports-esbuild/src/entrypoints.js
  test-exports-esbuild/src/import.cjs
  test-exports-esbuild/src/index.js
  test-exports-esbuild/src/require.cjs
  test-exports-esbuild/src/typescript.ts
  test-exports-esm/src/entrypoints.js
  test-exports-esm/src/import.cjs
  test-exports-esm/src/index.js
  test-exports-esm/src/index.ts
  test-exports-esm/src/require.cjs
  test-exports-vercel/src/entrypoints.js
  test-exports-vite/src/entrypoints.js
  yarn.lock
Labels: lgtm

#1615 Improved build environment compatibility
  docs/package.json
  langchain/package.json
  yarn.lock
Labels: lgtm

#1616 feat: Add support for the Solidity language
  docs/docs/modules/indexes/text_splitters/examples/code.mdx
  langchain/src/tests/code_text_splitter.test.ts
  langchain/src/text_splitter.ts
Labels: lgtm

#1609 Add Aleph Alpha LLM
  docs/docs/modules/models/llms/integrations.mdx
  examples/src/models/llm/aleph_alpha.ts
  langchain/.gitignore
  langchain/package.json
  langchain/scripts/create-entrypoints.js
  langchain/src/llms/aleph_alpha.ts
  langchain/src/llms/tests/aleph_alpha.int.test.ts
  langchain/src/load/import_map.ts
  langchain/tsconfig.json
  test-exports-cf/src/entrypoints.js
  test-exports-cjs/src/entrypoints.js
  test-exports-cra/src/entrypoints.js
  test-exports-esbuild/src/entrypoints.js
  test-exports-esm/src/entrypoints.js
  test-exports-vercel/src/entrypoints.js
  test-exports-vite/src/entrypoints.js
Labels: lgtm

#1638 Memory support for OpenAI Functions Agent
  langchain/src/agents/initialize.ts
  langchain/src/agents/openai/index.ts
  langchain/src/agents/tests/openai.int.test.ts
Labels: lgtm

#1633 Update integrations.mdx
  docs/docs/modules/models/llms/integrations.mdx
Labels: lgtm

#1244 Feat: typesense vector store
  docs/docs/modules/indexes/vector_stores/integrations/typesense.md
  examples/package.json
  examples/src/indexes/vector_stores/typesense.ts
  langchain/.gitignore
  langchain/package.json
  langchain/scripts/create-entrypoints.js
  langchain/src/load/import_constants.ts
  langchain/src/load/import_type.d.ts
  langchain/src/schema/index.ts
  langchain/src/vectorstores/tests/typesense.test.ts
  langchain/src/vectorstores/typesense.ts
  langchain/tsconfig.json
  yarn.lock
Labels: lgtm

#1647 bugfix: ajust batchSize for azure embeddings
  langchain/src/embeddings/openai.ts
Labels: lgtm

#1679 Fix: Updated tiktoken to 1.0.7 and add gpt-3.5-turbo-16k to model token size.
  langchain/package.json
  langchain/src/base_language/count_tokens.ts
  yarn.lock
Labels: lgtm

#1736 Supports non-utf-8 character sets for Cheerio
  langchain/src/document_loaders/tests/cheerio.int.test.ts
  langchain/src/document_loaders/web/cheerio.ts
Labels: lgtm

#1709 Add function_call to the request to chat open ai.
  langchain/src/chat_models/openai.ts
Labels: lgtm

#1680 Added exporting of SQL prompts
  langchain/src/chains/index.ts
Labels: lgtm

#1674 Update outputParser.ts - Fix TypeError
  langchain/src/agents/mrkl/outputParser.ts
Labels: lgtm

#1745 Move unstructured strategy flag to formData.
  langchain/src/document_loaders/fs/unstructured.ts
Labels: lgtm

#1748 Make the TextSplitter in WebBrowser Tool configurable
  langchain/src/tools/webbrowser.ts
Labels: lgtm

#1742 Update databerry.md
  docs/docs/ecosystem/databerry.md
Labels: lgtm

#1707 split up batch runs for llms and chat models in generate
  examples/src/models/llm/openai-batch.ts
  langchain/src/callbacks/manager.ts
  langchain/src/callbacks/tests/callbacks.test.ts
  langchain/src/chat_models/base.ts
  langchain/src/chat_models/tests/chatopenai.int.test.ts
  langchain/src/llms/base.ts
Labels: lgtm

#1684 Bug fix: zepMemory needs to return memorykey:[] and not empty string …
  examples/src/memory/zep.ts
  langchain/src/memory/zep.ts
Labels: lgtm

#1762 Downgrade decamelize for browser compatibility
  langchain/package.json
  yarn.lock
Labels: lgtm

#1678 added APIchain headers example and fixed an error in dynamic tool example.
  docs/docs/modules/agents/tools/dynamic.mdx
  docs/docs/modules/chains/other_chains/api_chain.mdx
  examples/src/chains/api_chain.ts
Labels: lgtm

#1730 Refactor how the Google Vertex AI PaLM Codey code- models are implemented
  docs/docs/modules/models/llms/integrations.mdx
  examples/src/llms/googlevertexai-code-bison.ts
  examples/src/llms/googlevertexai-code-gecko.ts
  langchain/src/llms/googlevertexai.ts
  langchain/src/llms/tests/googlevertexai.int.test.ts
Labels: lgtm

#1728 Add support for Google Vertex AI PaLM Codey codechat- models.
  langchain/src/chat_models/googlevertexai.ts
  langchain/src/chat_models/tests/chatgooglevertexai.int.test.ts
  langchain/src/chat_models/tests/chatgooglevertexai.test.ts
Labels: lgtm

#1771 qdrant.ts: add support for QDRANT_API_KEY
  langchain/src/vectorstores/qdrant.ts
Labels: lgtm

#1785 Adds Vectara integration
  docs/docs/modules/indexes/vector_stores/integrations/vectara.mdx
  examples/src/indexes/vector_stores/vectara.ts
  langchain/.env.example
  langchain/.gitignore
  langchain/package.json
  langchain/scripts/create-entrypoints.js
  langchain/src/load/import_map.ts
  langchain/src/vectorstores/tests/vectara.int.test.ts
  langchain/src/vectorstores/vectara.ts
  langchain/tsconfig.json
  test-exports-cf/src/entrypoints.js
  test-exports-cjs/src/entrypoints.js
  test-exports-cra/src/entrypoints.js
  test-exports-esbuild/src/entrypoints.js
  test-exports-esm/src/entrypoints.js
  test-exports-vercel/src/entrypoints.js
  test-exports-vite/src/entrypoints.js
Labels: lgtm

#1672 Add Upstash Redis cache
  docs/docs/modules/models/llms/additional_functionality.mdx
  examples/src/cache/upstash_redis.ts
  examples/src/cache/upstash_redis_advanced.ts
  langchain/.gitignore
  langchain/package.json
  langchain/scripts/create-entrypoints.js
  langchain/src/cache/tests/upstash_redis.test.ts
  langchain/src/cache/upstash_redis.ts
  langchain/src/load/import_constants.ts
  langchain/src/load/import_type.d.ts
  langchain/tsconfig.json
Labels: lgtm

#1617 Optimized Notion Document Loader with Extended Features
  docs/docs/modules/indexes/document_loaders/examples/web_loaders/notionapi.mdx
  docs/docs/modules/indexes/document_loaders/examples/web_loaders/notiondb.mdx
  docs/docs/modules/indexes/text_splitters/examples/recursive_character.mdx
  examples/src/document_loaders/notionapi.ts
  langchain/.env.example
  langchain/.gitignore
  langchain/package.json
  langchain/scripts/create-entrypoints.js
  langchain/src/document_loaders/tests/notionapi.int.test.ts
  langchain/src/document_loaders/web/notionapi.ts
  langchain/src/document_loaders/web/notiondb.ts
  langchain/src/load/import_constants.ts
  langchain/src/load/import_type.d.ts
  langchain/tsconfig.json
  yarn.lock
Labels: lgtm

#1788 Add missing import to buffer_memory.md
  docs/docs/modules/memory/examples/buffer_memory.md
Labels: lgtm

#1787 Add LanceDB vectorstore
  docs/docs/modules/indexes/vector_stores/index.mdx
  docs/docs/modules/indexes/vector_stores/integrations/lancedb.mdx
  examples/package.json
  examples/src/indexes/vector_stores/lancedb/fromDocs.ts
  examples/src/indexes/vector_stores/lancedb/fromTexts.ts
  examples/src/indexes/vector_stores/lancedb/load.ts
  langchain/.gitignore
  langchain/package.json
  langchain/scripts/create-entrypoints.js
  langchain/src/load/import_constants.ts
  langchain/src/load/import_type.d.ts
  langchain/src/vectorstores/lancedb.ts
  langchain/src/vectorstores/tests/lancedb.int.test.ts
  langchain/tsconfig.json
  yarn.lock
Labels: lgtm

#1802 Fix wrongly awaited new in LanceDB example
  examples/src/indexes/vector_stores/lancedb/load.ts
Labels: lgtm

#1798 Add oauth access token support to Zapier
  langchain/src/tools/zapier.ts
Labels: lgtm

#1796 Fix mangled names when deserialising minified classes
  langchain/src/load/index.ts
  langchain/src/load/tests/load.test.ts
Labels: lgtm

#1557 [FIX] s3loader credential interface
  docs/docs/modules/indexes/document_loaders/examples/web_loaders/s3.mdx
  examples/src/document_loaders/s3.ts
  langchain/src/document_loaders/tests/s3.int.test.ts
  langchain/src/document_loaders/web/s3.ts
Labels: lgtm

#1807 Update Zapier agent docs
  docs/docs/modules/agents/tools/zapier_agent.mdx
  langchain/src/tools/zapier.ts
Labels: lgtm

#1805 S3 Unstructured API key
  examples/src/document_loaders/s3.ts
  langchain/src/document_loaders/tests/s3.int.test.ts
  langchain/src/document_loaders/web/s3.ts
Labels: lgtm

#1822 Update error message for Zapier tool when listing endpoints fails
  langchain/src/tools/zapier.ts
Labels: lgtm

#1801 fix(conversational_retrieval_chain.ts): keep the chat history context alongside the vector store context
  docs/docs/modules/chains/index_related_chains/conversational_retrieval.mdx
  examples/src/chains/conversation_qa_custom_prompt.ts
Labels: lgtm

#1810 Add the Elasticsearch vectorstore
  docs/docs/modules/indexes/vector_stores/integrations/elasticsearch.mdx
  examples/.env.example
  examples/package.json
  examples/src/indexes/vector_stores/elasticsearch/elasticsearch.ts
  langchain/.env.example
  langchain/.gitignore
  langchain/package.json
  langchain/scripts/create-entrypoints.js
  langchain/src/load/import_constants.ts
  langchain/src/load/import_type.d.ts
  langchain/src/vectorstores/elasticsearch.ts
  langchain/src/vectorstores/tests/elasticsearch.int.test.ts
  langchain/tsconfig.json
  yarn.lock
Labels: lgtm

#1814 Merges AWSSfn Toolkit
  docs/docs/modules/agents/toolkits/sfn_agent.mdx
  examples/src/agents/aws_sfn.ts
  langchain/.gitignore
  langchain/package.json
  langchain/scripts/create-entrypoints.js
  langchain/src/agents/agent_toolkits/aws_sfn.ts
  langchain/src/agents/tests/aws_sfn.int.test.ts
  langchain/src/load/import_constants.ts
  langchain/src/load/import_type.d.ts
  langchain/src/tools/aws_sfn.ts
  langchain/tsconfig.json
  yarn.lock
Labels: lgtm

#1824 Added empty filter function and tests
  langchain/src/retrievers/self_query/supabase.ts
  langchain/src/retrievers/self_query/tests/supabase_self_query.int.test.ts
Labels: lgtm
