Repository langchain-ai/langchainjs, pull requests merged in 2023-11, with the labels that each got.

#3111 zep/ summary search; bump zep-js version
  examples/package.json
  examples/src/retrievers/zep.ts
  langchain/package.json
  langchain/src/retrievers/zep.ts
  yarn.lock
Labels: auto:improvement

#3113 Fix streaming bug in Bedrock LLM family
  langchain/src/chat_models/bedrock.ts
  langchain/src/chat_models/tests/chatbedrock.int.test.ts
  langchain/src/llms/bedrock.ts
  langchain/src/llms/tests/bedrock.int.test.ts
  langchain/src/util/bedrock.ts
Labels: auto:improvement

#3114 Release 0.0.177
  langchain/package.json
Labels: auto:nit

#3119 Update Neo4j examples
  examples/src/chains/graph_db_custom_prompt.ts
  examples/src/chains/graph_db_neo4j.ts
  examples/src/chains/graph_db_return_direct.ts
Labels: lgtm, auto:improvement

#3099 With memory example to OAI functions agent
  docs/docs/modules/agents/agent_types/openai_functions_agent.mdx
Labels: auto:documentation

#3055 Feat/step back notebook
  cookbook/README.md
  cookbook/step_back.ipynb
Labels: question, lgtm, auto:improvement

#3123 Small typo
  README.md
Labels: auto:documentation

#3112 Add streaming to Cloudflare WorkersAI
  examples/src/models/chat/integration_cloudflare_workersai.ts
  examples/src/models/llm/cloudflare_workersai.ts
  langchain/src/chat_models/cloudflare_workersai.ts
  langchain/src/chat_models/tests/chatcloudflare_workersai.int.test.ts
  langchain/src/llms/cloudflare_workersai.ts
  langchain/src/llms/tests/cloudflare_workersai.int.test.ts
  langchain/src/util/event-source-parse.ts
Labels: lgtm, auto:enhancement

#3126 Add ChatPromptTemplate.fromTemplate method
  langchain/src/prompts/chat.ts
  langchain/src/prompts/tests/chat.test.ts
Labels: auto:improvement

#3026 feat: add chat_model iflytek xinghuo
  examples/.env.example
  examples/src/models/chat/integration_iflytek_xinghuo.ts
  langchain/.gitignore
  langchain/package.json
  langchain/scripts/create-entrypoints.js
  langchain/src/chat_models/iflytek_xinghuo/common.ts
  langchain/src/chat_models/iflytek_xinghuo/index.ts
  langchain/src/chat_models/iflytek_xinghuo/web.ts
  langchain/src/chat_models/tests/chatiflytekxinghuo.int.test.ts
  langchain/src/util/iflytek_websocket_stream.ts
  langchain/tsconfig.json
  yarn.lock
Labels: lgtm, auto:enhancement

#3128 Release 0.0.178
  langchain/package.json
  langchain/src/embeddings/tests/llama_cpp.int.test.ts
  langchain/src/load/import_constants.ts
  langchain/src/load/import_type.d.ts
Labels: auto:improvement

#3127 Convex: Fix defaults doc comments
  langchain/src/storage/convex.ts
  langchain/src/stores/message/convex.ts
  langchain/src/vectorstores/convex.ts
Labels: lgtm, auto:documentation

#3129 Fixed crypto could not be resolved warning on build
  langchain/src/chat_models/iflytek_xinghuo/index.ts
Labels: auto:bug

#3066 feat: map reduce chain w/ LCEL
  docs/docs/modules/chains/document/map_reduce.mdx
  environment_tests/test-exports-bun/src/entrypoints.js
  environment_tests/test-exports-cf/src/entrypoints.js
  environment_tests/test-exports-cjs/src/entrypoints.js
  environment_tests/test-exports-esbuild/src/entrypoints.js
  environment_tests/test-exports-esm/src/entrypoints.js
  environment_tests/test-exports-vercel/src/entrypoints.js
  environment_tests/test-exports-vite/src/entrypoints.js
  examples/src/chains/map_reduce_lcel.ts
  langchain/.gitignore
  langchain/package.json
  langchain/scripts/create-entrypoints.js
  langchain/src/callbacks/index.ts
  langchain/src/chains/combine_documents/reduce.ts
  langchain/src/load/import_map.ts
  langchain/src/schema/prompt_template.ts
  langchain/tsconfig.json
Labels: lgtm, auto:enhancement

#3141 Adds output streaming to JsonOutputFunctionsParser
  docs/docs/modules/model_io/output_parsers/json_functions.mdx
  examples/src/prompts/json_structured_output_parser_streaming.ts
  langchain/src/output_parsers/json.ts
  langchain/src/output_parsers/openai_functions.ts
  langchain/src/output_parsers/tests/openai_functions.int.test.ts
  langchain/src/schema/index.ts
  langchain/src/schema/output_parser.ts
  langchain/src/util/fast-json-patch/index.ts
  langchain/src/util/fast-json-patch/src/duplex.ts
Labels: auto:enhancement

#3142 Release 0.0.179
  langchain/package.json
Labels: auto:nit

#3145 Remove dead code
  langchain/src/schema/runnable/remote.ts
Labels: auto:nit

#3134 fix: wrong error handling in baidu wenxin chat model (#3115)
  langchain/src/chat_models/baiduwenxin.ts
  langchain/src/chat_models/tests/chatbaiduwenxin.int.test.ts
Labels: lgtm, auto:bug

#3149 Bump OpenAI dep
  package.json
  yarn.lock
Labels: auto:nit

#3136 Cassandra ChatMessageHistory and Cassandra VectorStore enhancements
  docs/docs/integrations/chat_memory/cassandra.mdx
  docs/docs/integrations/vectorstores/cassandra.mdx
  examples/src/memory/cassandra-store.ts
  langchain/.gitignore
  langchain/package.json
  langchain/scripts/create-entrypoints.js
  langchain/src/load/import_constants.ts
  langchain/src/load/import_type.d.ts
  langchain/src/stores/message/cassandra.ts
  langchain/src/stores/tests/cassandra.int.test.ts
  langchain/src/vectorstores/cassandra.ts
  langchain/src/vectorstores/tests/cassandra.int.test.ts
  langchain/tsconfig.json
Labels: lgtm, auto:enhancement

#3137 Bedrock: Add Cohere and edge support
  docs/docs/integrations/chat/bedrock.mdx
  docs/docs/integrations/llms/bedrock.mdx
  examples/src/models/chat/integration_bedrock.ts
  examples/src/models/llm/bedrock.ts
  langchain/.gitignore
  langchain/package.json
  langchain/scripts/create-entrypoints.js
  langchain/src/chat_models/bedrock/index.ts
  langchain/src/chat_models/bedrock/web.ts
  langchain/src/chat_models/tests/chatbedrock.int.test.ts
  langchain/src/experimental/chat_models/tests/anthropic_functions.int.test.ts
  langchain/src/llms/bedrock/index.ts
  langchain/src/llms/bedrock/web.ts
  langchain/src/llms/tests/bedrock.int.test.ts
  langchain/src/load/import_constants.ts
  langchain/src/load/import_type.d.ts
  langchain/src/util/bedrock.ts
  langchain/tsconfig.json
Labels: lgtm, auto:improvement

#3150 Release 0.0.180
  langchain/package.json
  langchain/src/chains/combine_documents/reduce.ts
Labels: auto:nit

#3151 Fix docs
  docs/docs/integrations/chat_memory/cassandra.mdx
Labels: auto:documentation

#3153 Fix typo in output types table
  docs/docs/expression_language/interface.mdx
Labels: lgtm, auto:documentation

#3154 Update dep
  langchain/package.json
  yarn.lock
Labels: auto:nit

#3159 Cloudflare workers stream typing fix
  langchain/src/util/stream.ts
Labels: auto:nit

#3162 Fix Vite support by using pure JS hash algorithm for insecure use cases
  langchain/.eslintrc.cjs
  langchain/package.json
  langchain/src/cache/base.ts
  langchain/src/cache/tests/ioredis.test.ts
  langchain/src/cache/tests/redis.test.ts
  langchain/src/cache/tests/upstash_redis.test.ts
  langchain/src/embeddings/cache_backed.ts
  langchain/src/util/js-sha1/LICENSE.md
  langchain/src/util/js-sha1/hash.ts
  yarn.lock
Labels: auto:improvement

#3147 Voyage AI embeddings
  docs/docs/integrations/text_embedding/voyageai.mdx
  environment_tests/test-exports-bun/src/entrypoints.js
  environment_tests/test-exports-cf/src/entrypoints.js
  environment_tests/test-exports-cjs/src/entrypoints.js
  environment_tests/test-exports-esbuild/src/entrypoints.js
  environment_tests/test-exports-esm/src/entrypoints.js
  environment_tests/test-exports-vercel/src/entrypoints.js
  environment_tests/test-exports-vite/src/entrypoints.js
  langchain/.gitignore
  langchain/package.json
  langchain/scripts/create-entrypoints.js
  langchain/src/embeddings/tests/voyage.int.test.ts
  langchain/src/embeddings/voyage.ts
  langchain/src/load/import_map.ts
  langchain/tsconfig.json
Labels: lgtm, auto:enhancement

#3163 Release 0.0.181
  langchain/package.json
Labels: auto:nit

#3168 OpenAI Multimodal schema changes
  docs/docs/integrations/chat/openai.mdx
  examples/hotdog.jpg
  examples/src/models/chat/integration_openai_vision.ts
  langchain/package.json
  langchain/src/agents/openai/output_parser.ts
  langchain/src/agents/tests/agent.int.test.ts
  langchain/src/agents/tests/structured_output_runnables.int.test.ts
  langchain/src/base_language/index.ts
  langchain/src/chat_models/base.ts
  langchain/src/chat_models/bedrock/web.ts
  langchain/src/chat_models/cloudflare_workersai.ts
  langchain/src/chat_models/googlepalm.ts
  langchain/src/chat_models/googlevertexai/common.ts
  langchain/src/chat_models/iflytek_xinghuo/common.ts
  langchain/src/chat_models/llama_cpp.ts
  langchain/src/chat_models/minimax.ts
  langchain/src/chat_models/openai.ts
  langchain/src/chat_models/portkey.ts
  langchain/src/chat_models/tests/chatopenai-vision.int.test.ts
  langchain/src/chat_models/tests/chatopenai.int.test.ts
  langchain/src/chat_models/tests/data/hotdog.jpg
  langchain/src/chat_models/yandex.ts
  langchain/src/experimental/autogpt/prompt.ts
  langchain/src/experimental/chains/violation_of_expectations/violation_of_expectations_chain.ts
  langchain/src/experimental/chat_models/anthropic_functions.ts
  langchain/src/experimental/chat_models/bittensor.ts
  langchain/src/output_parsers/tests/combining.int.test.ts
  langchain/src/prompts/chat.ts
  langchain/src/schema/index.ts
  langchain/src/schema/output_parser.ts
  package.json
  yarn.lock
Labels: auto:enhancement

#3170 Rc staging
  langchain/package.json
  package.json
Labels: auto:nit

#3175 Adds JSON mode support
  examples/src/models/chat/integration_openai.ts
  langchain/src/chat_models/openai.ts
  langchain/src/chat_models/tests/chatopenai.int.test.ts
Labels: auto:improvement

#3183 add an example and how to documentation page for cancelling LCEL chains
  docs/docs/expression_language/how_to/cancellation.mdx
  examples/src/guides/expression_language/how_to_cancellation.ts
Labels: auto:documentation

#3176 fix: updated convex chat message history indexes to match documentation
  langchain/src/stores/message/convex.ts
Labels: auto:bug

#3184 Fix typo
  docs/docs/expression_language/how_to/cancellation.mdx
Labels: auto:documentation

#3185 Merge OpenAI vision schema changes
  cookbook/openai_vision_multimodal.ipynb
  docs/docs/integrations/chat/openai.mdx
  examples/hotdog.jpg
  examples/src/models/chat/integration_openai.ts
  examples/src/models/chat/integration_openai_vision.ts
  langchain/package.json
  langchain/src/agents/openai/output_parser.ts
  langchain/src/agents/tests/agent.int.test.ts
  langchain/src/agents/tests/structured_output_runnables.int.test.ts
  langchain/src/base_language/index.ts
  langchain/src/chat_models/base.ts
  langchain/src/chat_models/bedrock/web.ts
  langchain/src/chat_models/cloudflare_workersai.ts
  langchain/src/chat_models/googlepalm.ts
  langchain/src/chat_models/googlevertexai/common.ts
  langchain/src/chat_models/iflytek_xinghuo/common.ts
  langchain/src/chat_models/llama_cpp.ts
  langchain/src/chat_models/minimax.ts
  langchain/src/chat_models/openai.ts
  langchain/src/chat_models/portkey.ts
  langchain/src/chat_models/tests/chatopenai-vision.int.test.ts
  langchain/src/chat_models/tests/chatopenai.int.test.ts
  langchain/src/chat_models/tests/data/hotdog.jpg
  langchain/src/chat_models/yandex.ts
  langchain/src/experimental/autogpt/prompt.ts
  langchain/src/experimental/chains/violation_of_expectations/violation_of_expectations_chain.ts
  langchain/src/experimental/chat_models/anthropic_functions.ts
  langchain/src/experimental/chat_models/bittensor.ts
  langchain/src/output_parsers/tests/combining.int.test.ts
  langchain/src/prompts/chat.ts
  langchain/src/schema/index.ts
  langchain/src/schema/output_parser.ts
  package.json
  yarn.lock
Labels: auto:enhancement

#3148 Added script to generate compatibility tables for llm/chat models
  docs/docs/integrations/chat/index.mdx
  docs/docs/integrations/llms/index.mdx
  langchain/package.json
  langchain/scripts/generate-docs-llm-compatibility-table.js
Labels: lgtm, auto:documentation

#3189 Fix invalid usage of defaultProvider in Bedrock web.
  langchain/src/chat_models/bedrock/web.ts
Labels: lgtm, auto:bug

#3188 Fix docs build
  docs/docs/expression_language/how_to/cancellation.mdx
Labels: auto:documentation

#3186 Add tools and tool_choice param for ChatOpenAI
  langchain/src/chat_models/openai.ts
  langchain/src/chat_models/tests/chatopenai-extended.int.test.ts
  langchain/src/chat_models/tests/chatopenai.int.test.ts
  langchain/src/runnables/remote.ts
  langchain/src/schema/index.ts
  langchain/src/tools/convert_to_openai.ts
Labels: auto:improvement

#3190 Release 0.0.182
  langchain/package.json
  langchain/src/agents/openai/index.ts
Labels: auto:nit

#3191 Fix GooglePaLM example typing with base message inputs
  langchain/src/chat_models/googlepalm.ts
  langchain/src/chat_models/tests/chatgooglepalm.int.test.ts
Labels: auto:bug

#3192 Release 0.0.183
  langchain/package.json
Labels: auto:nit

#3198 Adds tool message docs
  docs/docs/integrations/chat/openai.mdx
  examples/src/models/chat/integration_openai_tool_calls.ts
Labels: auto:documentation

#3194 Cleanup gen llm comp table script
  langchain/package.json
  langchain/scripts/generate-docs-llm-compatibility-table.js
Labels: auto:improvement

#3193 feat(pinecone): add support for delete by metadata filter
  langchain/src/vectorstores/pinecone.ts
  langchain/src/vectorstores/tests/pinecone.int.test.ts
Labels: lgtm, auto:improvement

#3171 Brace/openai assistant
  .vscode/settings.json
  docs/docs/modules/agents/agent_types/openai_assistant.mdx
  environment_tests/test-exports-bun/src/entrypoints.js
  environment_tests/test-exports-cf/src/entrypoints.js
  environment_tests/test-exports-cjs/src/entrypoints.js
  environment_tests/test-exports-esbuild/src/entrypoints.js
  environment_tests/test-exports-esm/src/entrypoints.js
  environment_tests/test-exports-vercel/src/entrypoints.js
  environment_tests/test-exports-vite/src/entrypoints.js
  langchain/.gitignore
  langchain/package.json
  langchain/scripts/create-entrypoints.js
  langchain/src/agents/agent.ts
  langchain/src/agents/executor.ts
  langchain/src/agents/tests/runnable.int.test.ts
  langchain/src/agents/types.ts
  langchain/src/experimental/openai_assistant/index.ts
  langchain/src/experimental/openai_assistant/schema.ts
  langchain/src/experimental/openai_assistant/tests/openai_assistant.int.test.ts
  langchain/src/load/import_map.ts
  langchain/src/tools/convert_to_openai.ts
  langchain/tsconfig.json
Labels: auto:enhancement

#3201 Release 0.0.184
  langchain/package.json
  langchain/src/experimental/openai_assistant/tests/openai_assistant.int.test.ts
Labels: auto:improvement

#3207 Fix OpenAI Assistant docs
  docs/docs/modules/agents/agent_types/openai_assistant.mdx
Labels: auto:documentation

#3215 Add detail param to message content for gpt-4v
  examples/src/models/chat/integration_openai_vision.ts
  langchain/src/schema/index.ts
Labels: auto:improvement

#3213 feat(apify): support async dataset mapping function
  langchain/src/document_loaders/web/apify_dataset.ts
Labels: lgtm, auto:improvement

#3217 Added screenshotting method for puppeteer tool
  docs/docs/integrations/document_loaders/web_loaders/web_puppeteer.mdx
  examples/src/document_loaders/puppeteer_screenshot_web.ts
  examples/src/document_loaders/puppeteer_web.ts
  langchain/src/document_loaders/tests/puppeteer.int.test.ts
  langchain/src/document_loaders/web/puppeteer.ts
Labels: auto:improvement

#3212 format prompt messages with openai image content
  langchain/src/prompts/chat.ts
  langchain/src/schema/tests/base_message.test.ts
Labels: auto:improvement

#3203 chore: bump momento dependency and refactor search hit usage
  examples/package.json
  langchain/package.json
  langchain/src/vectorstores/momento_vector_index.ts
  yarn.lock
Labels: auto:nit

#3218 Fix excessive PDF newlines
  langchain/src/document_loaders/fs/pdf.ts
  langchain/src/document_loaders/tests/directory.test.ts
  langchain/src/document_loaders/tests/example_data/Jacob_Lee_Resume_2023.pdf
  langchain/src/document_loaders/tests/pdf.test.ts
  langchain/src/document_loaders/tests/webpdf.int.test.ts
  langchain/src/document_loaders/web/pdf.ts
Labels: auto:bug

#3076 Jtcorrin/plan execute structured tools
  langchain/src/agents/structured_chat/index.ts
  langchain/src/experimental/plan_and_execute/agent_executor.ts
  langchain/src/experimental/plan_and_execute/prompt.ts
Labels: auto:improvement

#3219 Release 0.0.185
  langchain/package.json
  package.json
Labels: auto:nit

#3220 Update cookbook
  cookbook/openai_vision_multimodal.ipynb
Labels: auto:documentation

#3227 Update docs
  docs/docs/modules/agents/agent_types/openai_tools_agent.mdx
Labels: auto:documentation

#3230 Fix chat prompt serialization
  langchain/src/prompts/chat.ts
Labels: auto:bug

#3229 Adds JSON mode to Ollama and ChatOllama
  docs/docs/integrations/chat/ollama.mdx
  examples/src/models/chat/integration_ollama_json_mode.ts
  langchain/src/chat_models/ollama.ts
  langchain/src/chat_models/tests/chatollama.int.test.ts
  langchain/src/document_loaders/fs/unstructured.ts
  langchain/src/embeddings/ollama.ts
  langchain/src/llms/ollama.ts
  langchain/src/llms/tests/ollama.int.test.ts
  langchain/src/prompts/base.ts
  langchain/src/schema/index.ts
  langchain/src/util/ollama.ts
  langchain/src/util/types.ts
Labels: auto:improvement

#3223 Fix delta role error when using custom LLM
  langchain/src/chat_models/openai.ts
Labels: auto:bug

#3200 Brace/runnable chain
  langchain/src/agents/openai/index.ts
  langchain/src/chains/combine_docs_chain.ts
  langchain/src/chains/llm_chain.ts
  langchain/src/chains/tests/llm_chain.int.test.ts
  langchain/src/schema/runnable/base.ts
Labels: auto:improvement

#3232 Adds tool calling output parser
  docs/docs/use_cases/extraction.mdx
  examples/src/extraction/openai_tool_calling_extraction.ts
  langchain/src/output_parsers/index.ts
  langchain/src/output_parsers/openai_functions.ts
  langchain/src/output_parsers/openai_tools.ts
  langchain/src/output_parsers/tests/openai_tools.int.test.ts
Labels: auto:improvement

#3234 Update ollama.mdx
  docs/docs/integrations/chat/ollama.mdx
Labels: auto:documentation

#3233 Release 0.0.186
  docs/docs/integrations/llms/openai.mdx
  examples/src/chains/api_chain.ts
  examples/src/memory/summary_buffer.ts
  examples/src/models/llm/llm_advanced.ts
  langchain/package.json
  langchain/src/chains/tests/api_chain.int.test.ts
  langchain/src/document_loaders/tests/s3.int.test.ts
  langchain/src/llms/openai.ts
  langchain/src/llms/tests/openai.int.test.ts
  langchain/src/memory/tests/summary_buffer.int.test.ts
  langchain/src/vectorstores/tests/chroma.int.test.ts
  langchain/src/vectorstores/tests/pinecone.int.test.ts
Labels: auto:improvement

#3235 Format and update docs
  docs/docs/expression_language/cookbook/adding_memory.mdx
  docs/docs/expression_language/cookbook/multiple_chains.mdx
  docs/docs/expression_language/cookbook/prompt_llm_parser.mdx
  docs/docs/expression_language/cookbook/retrieval.mdx
  docs/docs/get_started/quickstart.mdx
  langchain/src/llms/tests/openai.int.test.ts
Labels: auto:documentation

#3244 Update documentation for ToolMessageChunk
  langchain/src/schema/index.ts
Labels: auto:documentation

#3241 ollama: handle chunks that are not newline delimited
  langchain/src/util/ollama.ts
Labels: auto:improvement

#3209 LLMonitor Callback Handler: support for future OpenAI kwargs
  docs/docs/ecosystem/integrations/llmonitor.md
  langchain/package.json
  langchain/src/callbacks/handlers/llmonitor.ts
  yarn.lock
Labels: lgtm, auto:improvement

#3253 Remove unused CI actions, update Vercel.json
  .github/workflows/docs-preview.yml
  .github/workflows/docs-prod.yml
  docs/core_docs/vercel.json
Labels: auto:nit

#3211 [Feature] Implementation of token buffer memory
  docs/docs/modules/memory/how_to/buffer_token_memory.mdx
  examples/src/memory/token_buffer.ts
  langchain/src/memory/buffer_token_memory.ts
  langchain/src/memory/index.ts
  langchain/src/memory/tests/buffer_token_memory.int.test.ts
Labels: lgtm, auto:enhancement

#3255 Release 0.0.187
  langchain/package.json
  langchain/src/callbacks/tests/langchain_tracer_v1.int.test.ts
  langchain/src/chat_models/tests/chatanthropic.int.test.ts
  langchain/src/experimental/chat_models/ollama_functions.ts
  langchain/src/prompts/base.ts
Labels: auto:improvement

#3265 Break words on api refs sidebar instead of scrolling
  docs/api_refs/package.json
  docs/api_refs/scripts/update-typedoc-css.js
Labels: auto:documentation

#3267 Use replaceAll instead of replace when generating operationid.
  langchain/src/util/openapi.ts
Labels: lgtm, auto:bug

#3263 Brace/bump cohere
  docs/core_docs/docs/integrations/text_embedding/cohere.mdx
  examples/src/embeddings/cohere.ts
  examples/src/models/embeddings/cohere.ts
  langchain/package.json
  langchain/src/embeddings/cohere.ts
  langchain/src/llms/cohere.ts
  yarn.lock
Labels: auto:improvement

#3122 Added documentation for few shot prompting
  docs/core_docs/docs/modules/model_io/prompts/prompt_templates/few_shot.mdx
Labels: auto:documentation

#3264 Allow custom system prompt for Ollama functions
  docs/core_docs/docs/integrations/chat/ollama_functions.mdx
  examples/src/models/chat/ollama_functions/custom_prompt.ts
  langchain/src/experimental/chat_models/ollama_functions.ts
Labels: auto:improvement

#3271 Brace/add ignore with tsmorph
  langchain/package.json
  langchain/scripts/build-for-api-ref-docs.js
  yarn.lock
Labels: auto:improvement

#3109 Added rag over code example
  docs/core_docs/docs/use_cases/rag/_category_.yml
  docs/core_docs/docs/use_cases/rag/code_understanding.mdx
  docs/core_docs/static/img/rag_code_diagram.png
  docs/docs/modules/memory/how_to/buffer_token_memory.mdx
Labels: auto:improvement

#3260 Meta Llama2 support for BedrockChat
  langchain/src/chat_models/bedrock/web.ts
  langchain/src/chat_models/tests/chatbedrock.int.test.ts
  langchain/src/llms/bedrock/web.ts
  langchain/src/llms/tests/bedrock.int.test.ts
  langchain/src/util/bedrock.ts
Labels: auto:improvement

#3273 Adds HTTP output parser to parse chunks into different content types
  docs/core_docs/docs/modules/model_io/output_parsers/http_response.mdx
  examples/src/prompts/http_response_output_parser.ts
  examples/src/prompts/http_response_output_parser_custom.ts
  examples/src/prompts/http_response_output_parser_event_stream.ts
  langchain/src/output_parsers/http_response.ts
  langchain/src/output_parsers/index.ts
  langchain/src/output_parsers/openai_functions.ts
  langchain/src/output_parsers/tests/http_response.test.ts
  langchain/src/output_parsers/tests/openai_functions.int.test.ts
  langchain/src/schema/output_parser.ts
Labels: auto:improvement

#3276 Release 0.0.188
  langchain/package.json
Labels: auto:nit

#3277 Revert Cohere update
  docs/core_docs/docs/integrations/text_embedding/cohere.mdx
  examples/src/embeddings/cohere.ts
  examples/src/models/embeddings/cohere.ts
  langchain/package.json
  langchain/src/embeddings/cohere.ts
  langchain/src/llms/cohere.ts
  yarn.lock
Labels: auto:improvement

#3278 Release 0.0.189
  langchain/package.json
  langchain/src/callbacks/tests/langchain_tracer_v1.int.test.ts
Labels: auto:improvement

#3282 Brace/api refs css
  docs/api_refs/scripts/update-typedoc-css.js
Labels: auto:documentation

#3288 redo intro docs page
  docs/core_docs/docs/contributing.mdx
  docs/core_docs/docs/get_started/introduction.mdx
  docs/core_docs/docusaurus.config.js
  docs/core_docs/static/img/langchain_stack.png
Labels: auto:documentation

#3291 Add better docstrings for runnables
  langchain/src/schema/runnable/passthrough.ts
Labels: auto:documentation

#3298 Release 0.0.190
  langchain/package.json
Labels: auto:nit

#3300 Release 0.0.191
  langchain/package.json
Labels: auto:nit

#3305 Delete artifacts
  langchain/experimental/tools/pyinterpreter.cjs
  langchain/experimental/tools/pyinterpreter.d.ts
  langchain/experimental/tools/pyinterpreter.js
Labels: auto:nit

#3290 Add missing docs
  docs/core_docs/docs/integrations/document_loaders/file_loaders/pdf.mdx
  docs/core_docs/docs/integrations/text_embedding/cohere.mdx
  docs/core_docs/docs/integrations/tools/searchapi.mdx
  docs/core_docs/docs/integrations/tools/searxng.mdx
  docs/core_docs/docs/integrations/tools/wikipedia.mdx
  examples/src/document_loaders/pdf_directory.ts
  examples/src/models/embeddings/cohere.ts
  examples/src/tools/searchapi_google_news.ts
  examples/src/tools/searxng_search.ts
Labels: auto:documentation

#3303 Brace/new api refs build
  docs/api_refs/.gitignore
  docs/api_refs/generate_typedoc.sh
  docs/api_refs/package.json
  docs/api_refs/scripts/generate-api-refs.js
  docs/api_refs/typedoc.json
  docs/core_docs/package.json
  langchain/package.json
  langchain/scripts/build-api-refs.sh
  langchain/scripts/create-entrypoints.js
  package.json
  yarn.lock
Labels: auto:documentation

#3302 Fix broken fetch usage for CFW
  langchain/src/chat_models/bedrock/web.ts
  langchain/src/llms/bedrock/web.ts
Labels: auto:bug

#3308 Bump Anthropic + OpenAI versions
  langchain/package.json
  langchain/src/chat_models/tests/chatanthropic.int.test.ts
  yarn.lock
Labels: auto:nit

#3306 Hotfix pdf
  docs/core_docs/docs/integrations/document_loaders/file_loaders/pdf.mdx
  docs/core_docs/docs/integrations/document_loaders/web_loaders/pdf.mdx
  docs/core_docs/docs/modules/data_connection/document_loaders/how_to/pdf.mdx
  langchain/src/document_loaders/fs/pdf.ts
  langchain/src/document_loaders/web/pdf.ts
Labels: auto:documentation

#3304 Add PrismaVectorStore filter IN operator
  docs/core_docs/docs/integrations/vectorstores/prisma.mdx
  examples/src/indexes/vector_stores/prisma_vectorstore/prisma.ts
  langchain/src/vectorstores/prisma.ts
Labels: lgtm, auto:improvement

#3262 feat(apify): support Document[] return type for mapping function
  langchain/src/document_loaders/web/apify_dataset.ts
Labels: lgtm, auto:improvement

#3231 Integrate Rockset as a vector store
  docs/api_refs/typedoc.json
  docs/core_docs/docs/integrations/vectorstores/rockset.mdx
  examples/package.json
  examples/src/indexes/vector_stores/rockset.ts
  langchain/.env.example
  langchain/.gitignore
  langchain/package.json
  langchain/scripts/check-tree-shaking.js
  langchain/scripts/create-entrypoints.js
  langchain/src/load/import_constants.ts
  langchain/src/load/import_type.d.ts
  langchain/src/vectorstores/rockset.ts
  langchain/src/vectorstores/tests/rockset.int.test.ts
  yarn.lock
Labels: lgtm, auto:enhancement

#3089 feat: add file-system based cache
  docs/api_refs/typedoc.json
  docs/core_docs/docs/modules/model_io/models/chat/how_to/llm_caching.mdx
  docs/core_docs/docs/modules/model_io/models/llms/how_to/llm_caching.mdx
  langchain/.gitignore
  langchain/package.json
  langchain/scripts/create-entrypoints.js
  langchain/src/cache/file_system.ts
  langchain/src/cache/tests/file_system.int.test.ts
  langchain/src/load/import_constants.ts
  langchain/src/load/import_type.d.ts
Labels: close, auto:enhancement

#3311 Release 0.0.192
  langchain/package.json
Labels: auto:nit

#3319 Use .invoke for all agent docs and examples
  docs/core_docs/docs/expression_language/cookbook/agents.mdx
  docs/core_docs/docs/integrations/toolkits/json.mdx
  docs/core_docs/docs/integrations/toolkits/openapi.mdx
  docs/core_docs/docs/integrations/tools/lambda_agent.mdx
  docs/core_docs/docs/modules/agents/agent_types/openai_functions_agent.mdx
  docs/core_docs/docs/modules/agents/agent_types/openai_tools_agent.mdx
  docs/core_docs/docs/modules/agents/how_to/custom_mrkl_agent.mdx
  docs/core_docs/docs/modules/agents/tools/how_to/agents_with_vectorstores.mdx
  docs/core_docs/docs/modules/agents/tools/how_to/dynamic.mdx
  docs/core_docs/docs/use_cases/question_answering/conversational_retrieval_agents.mdx
  examples/src/agents/agent_callbacks.ts
  examples/src/agents/agent_cancellation.ts
  examples/src/agents/agent_timeout.ts
  examples/src/agents/aiplugin-tool.ts
  examples/src/agents/aws_sfn.ts
  examples/src/agents/chat_convo_with_tracing.ts
  examples/src/agents/chat_convo_with_tracing_runnable.ts
  examples/src/agents/chat_mrkl.ts
  examples/src/agents/chat_mrkl_with_tracing.ts
  examples/src/agents/concurrent_mrkl.ts
  examples/src/agents/custom_agent.ts
  examples/src/agents/custom_llm_agent.ts
  examples/src/agents/custom_llm_agent_chat.ts
  examples/src/agents/custom_llm_agent_chat_runnable.ts
  examples/src/agents/custom_llm_agent_runnable.ts
  examples/src/agents/custom_tool.ts
  examples/src/agents/json.ts
  examples/src/agents/load_from_hub.ts
  examples/src/agents/mrkl.ts
  examples/src/agents/mrkl_browser.ts
  examples/src/agents/mrkl_runnable.ts
  examples/src/agents/mrkl_with_tracing.ts
  examples/src/agents/openai.ts
  examples/src/agents/openai_custom_prompt.ts
  examples/src/agents/openai_runnable.ts
  examples/src/agents/openapi.ts
  examples/src/agents/plan_and_execute.ts
  examples/src/agents/sql.ts
  examples/src/agents/sql_sap_hana.ts
  examples/src/agents/streaming.ts
  examples/src/agents/structured_chat.ts
  examples/src/agents/structured_chat_runnable.ts
  examples/src/agents/structured_chat_with_memory.ts
  examples/src/agents/vectorstore.ts
  examples/src/agents/xml.ts
  examples/src/agents/xml_runnable.ts
  examples/src/agents/zapier_mrkl.ts
  examples/src/chat/agent.ts
  examples/src/chat/overview.ts
  examples/src/guides/conversational_retrieval/agent.ts
  examples/src/guides/evaluation/agent_trajectory/trajectory.ts
  examples/src/models/llm/raycast.ts
  examples/src/tools/searxng_search.ts
Labels: auto:documentation

#3309 [AUTO-GENERATED] Add JSDoc examples to classes.
  langchain/src/cache/ioredis.ts
  langchain/src/cache/redis.ts
  langchain/src/callbacks/manager.ts
  langchain/src/chains/analyze_documents_chain.ts
  langchain/src/chains/conversation.ts
  langchain/src/chains/openai_moderation.ts
  langchain/src/chains/sequential_chain.ts
  langchain/src/chat_models/anthropic.ts
  langchain/src/chat_models/baiduwenxin.ts
  langchain/src/chat_models/cloudflare_workersai.ts
  langchain/src/chat_models/fake.ts
  langchain/src/chat_models/fireworks.ts
  langchain/src/chat_models/googlepalm.ts
  langchain/src/chat_models/yandex.ts
  langchain/src/document_transformers/html_to_text.ts
  langchain/src/document_transformers/mozilla_readability.ts
  langchain/src/embeddings/bedrock.ts
  langchain/src/embeddings/googlepalm.ts
  langchain/src/embeddings/googlevertexai.ts
  langchain/src/embeddings/hf_transformers.ts
  langchain/src/embeddings/minimax.ts
  langchain/src/embeddings/tensorflow.ts
  langchain/src/llms/cohere.ts
  langchain/src/llms/hf.ts
  langchain/src/llms/ollama.ts
  langchain/src/llms/openai-chat.ts
  langchain/src/llms/openai.ts
  langchain/src/llms/portkey.ts
  langchain/src/llms/replicate.ts
  langchain/src/memory/buffer_token_memory.ts
  langchain/src/memory/buffer_window_memory.ts
Labels: auto:documentation

#3324 updated langchain stack img to be svg
  docs/core_docs/docs/get_started/introduction.mdx
  docs/core_docs/static/svg/langchain_stack.svg
Labels: auto:documentation

#3325 [AUTO-GENERATED] Add JSDoc examples to classes.
  langchain/src/agents/agent.ts
  langchain/src/cache/cloudflare_kv.ts
  langchain/src/cache/momento.ts
  langchain/src/cache/upstash_redis.ts
  langchain/src/chains/conversational_retrieval_chain.ts
  langchain/src/chains/retrieval_qa.ts
  langchain/src/chat_models/llama_cpp.ts
  langchain/src/chat_models/minimax.ts
  langchain/src/chat_models/ollama.ts
  langchain/src/chat_models/openai.ts
  langchain/src/embeddings/cache_backed.ts
  langchain/src/embeddings/cohere.ts
  langchain/src/embeddings/llama_cpp.ts
  langchain/src/embeddings/openai.ts
  langchain/src/memory/buffer_memory.ts
  langchain/src/memory/entity_memory.ts
  langchain/src/memory/summary.ts
  langchain/src/memory/summary_buffer.ts
  langchain/src/memory/vector_store.ts
  langchain/src/memory/zep.ts
  langchain/src/prompts/chat.ts
  langchain/src/prompts/few_shot.ts
Labels: auto:documentation

#3327 [AUTO-GENERATED] Add JSDoc examples to classes.
  langchain/src/agents/chat/outputParser.ts
  langchain/src/agents/executor.ts
  langchain/src/agents/mrkl/index.ts
  langchain/src/agents/openai/output_parser.ts
  langchain/src/agents/react/output_parser.ts
  langchain/src/agents/structured_chat/outputParser.ts
  langchain/src/agents/toolkits/aws_sfn.ts
  langchain/src/agents/xml/output_parser.ts
  langchain/src/callbacks/handlers/console.ts
  langchain/src/chains/constitutional_ai/constitutional_chain.ts
  langchain/src/chains/graph_qa/cypher.ts
  langchain/src/chains/router/multi_prompt.ts
  langchain/src/chains/router/multi_retrieval_qa.ts
  langchain/src/chains/sql_db/sql_db_chain.ts
  langchain/src/chat_models/bedrock/index.ts
  langchain/src/chat_models/bedrock/web.ts
  langchain/src/chat_models/googlevertexai/index.ts
  langchain/src/chat_models/googlevertexai/web.ts
  langchain/src/chat_models/iflytek_xinghuo/index.ts
  langchain/src/chat_models/iflytek_xinghuo/web.ts
  langchain/src/document_loaders/fs/directory.ts
  langchain/src/prompts/pipeline.ts
  langchain/src/retrievers/amazon_kendra.ts
  langchain/src/retrievers/chaindesk.ts
  langchain/src/retrievers/contextual_compression.ts
  langchain/src/retrievers/hyde.ts
  langchain/src/retrievers/metal.ts
  langchain/src/retrievers/multi_query.ts
  langchain/src/retrievers/multi_vector.ts
  langchain/src/retrievers/parent_document.ts
  langchain/src/retrievers/time_weighted.ts
  langchain/src/retrievers/vespa.ts
  langchain/src/retrievers/zep.ts
  langchain/src/schema/output_parser.ts
  langchain/src/storage/file_system.ts
  langchain/src/storage/in_memory.ts
  langchain/src/storage/ioredis.ts
  langchain/src/storage/upstash_redis.ts
  langchain/src/storage/vercel_kv.ts
  langchain/src/tools/calculator.ts
  langchain/src/tools/searchapi.ts
  langchain/src/tools/searxng_search.ts
  langchain/src/tools/wikipedia_query_run.ts
  langchain/src/tools/wolframalpha.ts
Labels: auto:documentation

#3329 [AUTO-GENERATED] Add JSDoc examples to classes.
  langchain/src/chains/constitutional_ai/constitutional_principle.ts
  langchain/src/document_loaders/fs/openai_whisper_audio.ts
  langchain/src/document_loaders/fs/pdf.ts
  langchain/src/document_loaders/fs/srt.ts
  langchain/src/document_loaders/fs/text.ts
  langchain/src/document_loaders/fs/unstructured.ts
  langchain/src/document_loaders/web/apify_dataset.ts
  langchain/src/document_loaders/web/assemblyai.ts
  langchain/src/document_loaders/web/azure_blob_storage_file.ts
  langchain/src/document_loaders/web/cheerio.ts
  langchain/src/document_loaders/web/college_confidential.ts
  langchain/src/document_loaders/web/confluence.ts
  langchain/src/document_loaders/web/figma.ts
  langchain/src/document_loaders/web/notionapi.ts
  langchain/src/document_loaders/web/notiondb.ts
  langchain/src/document_loaders/web/pdf.ts
  langchain/src/document_loaders/web/puppeteer.ts
  langchain/src/document_loaders/web/s3.ts
  langchain/src/document_loaders/web/searchapi.ts
  langchain/src/document_loaders/web/serpapi.ts
  langchain/src/document_loaders/web/sonix_audio.ts
  langchain/src/document_loaders/web/sort_xyz_blockchain.ts
  langchain/src/document_loaders/web/youtube.ts
  langchain/src/experimental/autogpt/agent.ts
  langchain/src/experimental/babyagi/agent.ts
  langchain/src/experimental/generative_agents/generative_agent.ts
  langchain/src/experimental/generative_agents/generative_agent_memory.ts
  langchain/src/llms/googlevertexai/index.ts
  langchain/src/llms/googlevertexai/web.ts
  langchain/src/prompts/selectors/LengthBasedExampleSelector.ts
  langchain/src/prompts/selectors/SemanticSimilarityExampleSelector.ts
  langchain/src/retrievers/document_compressors/embeddings_filter.ts
  langchain/src/retrievers/document_compressors/index.ts
  langchain/src/retrievers/remote/chatgpt-plugin.ts
  langchain/src/retrievers/self_query/chroma.ts
  langchain/src/retrievers/self_query/functional.ts
  langchain/src/retrievers/self_query/index.ts
  langchain/src/tools/searxng_search.ts
  langchain/src/tools/webbrowser.ts
Labels: auto:documentation

#3330 [AUTO-GENERATED] Add JSDoc examples to classes.
  langchain/src/agents/toolkits/json/json.ts
  langchain/src/agents/toolkits/openapi/openapi.ts
  langchain/src/agents/toolkits/sql/sql.ts
  langchain/src/agents/toolkits/vectorstore/vectorstore.ts
  langchain/src/agents/toolkits/zapier/zapier.ts
  langchain/src/retrievers/self_query/pinecone.ts
  langchain/src/retrievers/self_query/supabase.ts
  langchain/src/retrievers/self_query/weaviate.ts
  langchain/src/schema/runnable/base.ts
  langchain/src/schema/runnable/branch.ts
  langchain/src/stores/message/cassandra.ts
  langchain/src/stores/message/cloudflare_d1.ts
  langchain/src/stores/message/firestore.ts
  langchain/src/stores/message/ioredis.ts
  langchain/src/stores/message/momento.ts
  langchain/src/stores/message/mongodb.ts
  langchain/src/stores/message/planetscale.ts
  langchain/src/stores/message/redis.ts
  langchain/src/stores/message/xata.ts
  langchain/src/tools/google_calendar/create.ts
  langchain/src/tools/google_calendar/view.ts
Labels: auto:documentation

#3336 Update Ollama functions
  langchain/src/experimental/chat_models/ollama_functions.ts
Labels: auto:improvement

#3322 Remove console.log from googlevertexai-connection.ts
  langchain/src/util/googlevertexai-connection.ts
Labels: auto:bug

#3310 Add batch size arg
  langchain/src/chat_models/base.ts
  langchain/src/llms/base.ts
Labels: auto:improvement

#3312 feat: Added support of terms filter in OpenSearch vector store
  langchain/src/vectorstores/opensearch.ts
Labels: lgtm, auto:improvement

#3318 Improve MessageContent type
  langchain/src/schema/index.ts
Labels: auto:improvement

#3321 Add missing PrismaVectorStore filter operators
  docs/core_docs/docs/integrations/vectorstores/prisma.mdx
  langchain/src/vectorstores/prisma.ts
Labels: lgtm, auto:improvement

#3337 Release 0.0.193
  langchain/package.json
Labels: auto:nit

#3343 Pin zod-to-json-schema version
  examples/package.json
  langchain/package.json
  yarn.lock
Labels: auto:nit

#3345 Release 0.0.194
  langchain/package.json
Labels: auto:nit

#3341 Fix ReAct agent hallucinating result
  examples/src/agents/mrkl_runnable.ts
Labels: auto:bug

#3338 Adding self query for vectara
  docs/api_refs/typedoc.json
  docs/core_docs/docs/modules/data_connection/retrievers/how_to/self_query/vectara-self-query.mdx
  examples/src/retrievers/vectara_self_query.ts
  langchain/.gitignore
  langchain/package.json
  langchain/scripts/create-entrypoints.js
  langchain/src/load/import_constants.ts
  langchain/src/load/import_type.d.ts
  langchain/src/retrievers/self_query/tests/vectara_self_query.int.test.ts
  langchain/src/retrievers/self_query/vectara.ts
Labels: lgtm, auto:enhancement

#3332 Updates to Vectara Implementation
  examples/src/indexes/vector_stores/vectara.ts
  langchain/src/vectorstores/tests/vectara.int.test.ts
  langchain/src/vectorstores/vectara.ts
Labels: lgtm, auto:improvement

#3323 Removed **sentence-transformers/distilbert-base-nli-mean-tokens** as default model and added **BAAI/bge-base-en-v1.5** as default model when no model param is given.
  langchain/src/embeddings/hf.ts
Labels: lgtm, auto:improvement

#3314 feat: add filters to `ChaindeskRetriever`
  langchain/src/retrievers/chaindesk.ts
Labels: lgtm, auto:improvement

#3228 Add OpenAI Files for OpenAI assistant
  docs/api_refs/typedoc.json
  docs/core_docs/docs/modules/agents/agent_types/openai_assistant.mdx
  environment_tests/test-exports-bun/src/entrypoints.js
  environment_tests/test-exports-cf/src/entrypoints.js
  environment_tests/test-exports-cjs/src/entrypoints.js
  environment_tests/test-exports-esbuild/src/entrypoints.js
  environment_tests/test-exports-esm/src/entrypoints.js
  environment_tests/test-exports-vercel/src/entrypoints.js
  environment_tests/test-exports-vite/src/entrypoints.js
  langchain/.gitignore
  langchain/package.json
  langchain/scripts/create-entrypoints.js
  langchain/src/experimental/openai_assistant/index.ts
  langchain/src/experimental/openai_files/index.ts
  langchain/src/experimental/openai_files/tests/openai_file.int.test.ts
  langchain/src/experimental/openai_files/tests/test.jsonl
  langchain/src/load/import_map.ts
Labels: lgtm, auto:enhancement

#3350 Release 0.0.195
  langchain/package.json
Labels: auto:nit

#3366 Release 0.0.196
  langchain/package.json
  langchain/src/chat_models/tests/chatbedrock.int.test.ts
  langchain/src/llms/tests/bedrock.int.test.ts
Labels: auto:nit, size:M

#3346 Update OpenAIAgent to support Runnable models
  langchain/src/agents/openai/index.ts
  langchain/src/agents/tests/runnable.int.test.ts
Labels: auto:bug

#3364 Fix streaming of Bedrock on Cloudflare Workers
  langchain/src/chat_models/bedrock/web.ts
  langchain/src/llms/bedrock/web.ts
Labels: auto:bug, size:M

#3357 Update quickstart.mdx
  docs/core_docs/docs/get_started/quickstart.mdx
Labels: auto:documentation, size:XS

#3374 Skip non LTS Node version
  .github/workflows/ci.yml
Labels: auto:nit, size:XS

#3339 Allow to stream files with `GithubRepoLoader`
  docs/core_docs/docs/integrations/document_loaders/web_loaders/github.mdx
  examples/src/document_loaders/github_stream.ts
  langchain/src/document_loaders/tests/github.int.test.ts
  langchain/src/document_loaders/web/github.ts
Labels: question, lgtm, auto:improvement

#3351 feat: implement max marginal relevance for momento vector index
  examples/package.json
  langchain/package.json
  langchain/src/vectorstores/momento_vector_index.ts
  langchain/src/vectorstores/tests/momento_vector_index.int.test.ts
  yarn.lock
Labels: lgtm, auto:enhancement

#3356 fix: MongoDB Vector Search does not support integer as input
  langchain/src/vectorstores/mongodb_atlas.ts
Labels: auto:bug, size:S

#3376 Move more core modules
  langchain-core/.gitignore
  langchain-core/LICENSE
  langchain-core/package.json
  langchain-core/scripts/create-entrypoints.js
  langchain-core/src/callbacks/base.ts
  langchain-core/src/callbacks/manager.ts
  langchain-core/src/documents/document.ts
  langchain-core/src/documents/index.ts
  langchain-core/src/documents/transformers.ts
  langchain-core/src/example_selectors/semantic_similarity.ts
  langchain-core/src/load/import_map.ts
  langchain-core/src/retrievers.ts
  langchain-core/src/tools.ts
  langchain-core/src/tracers/base.ts
  langchain-core/src/vectorstores.ts
  langchain/LICENSE
  langchain/package.json
  langchain/src/schema/document.ts
  yarn.lock
Labels: auto:refactor, size:L

#3377 Adds standalone @langchain/anthropic package
  .github/workflows/test-exports.yml
  docker-compose.yml
  docs/api_refs/package.json
  environment_tests/scripts/docker-ci-entrypoint.sh
  environment_tests/test-exports-bun/package.json
  environment_tests/test-exports-cf/package.json
  environment_tests/test-exports-cjs/package.json
  environment_tests/test-exports-esbuild/package.json
  environment_tests/test-exports-esm/package.json
  environment_tests/test-exports-vercel/package.json
  environment_tests/test-exports-vite/package.json
  langchain/package.json
  langchain/src/chat_models/anthropic.ts
  langchain/src/chat_models/tests/chatanthropic.int.test.ts
  langchain/src/load/import_type.d.ts
  libs/langchain-anthropic/.eslintrc.cjs
  libs/langchain-anthropic/.gitignore
  libs/langchain-anthropic/LICENSE
  libs/langchain-anthropic/README.md
  libs/langchain-anthropic/babel.config.cjs
  libs/langchain-anthropic/jest.config.cjs
  libs/langchain-anthropic/jest.env.cjs
  libs/langchain-anthropic/package.json
  libs/langchain-anthropic/scripts/check-tree-shaking.js
  libs/langchain-anthropic/scripts/create-entrypoints.js
  libs/langchain-anthropic/scripts/identify-secrets.js
  libs/langchain-anthropic/scripts/jest-setup-after-env.js
  libs/langchain-anthropic/scripts/move-cjs-to-dist.js
  libs/langchain-anthropic/scripts/release-branch.sh
  libs/langchain-anthropic/src/chat_models.ts
  libs/langchain-anthropic/src/index.ts
  libs/langchain-anthropic/tsconfig.cjs.json
  libs/langchain-anthropic/tsconfig.json
  package.json
  turbo.json
  yarn.lock
Labels: auto:enhancement, size:XXL

#3378 Support both old and new serialization ids, update prompt base class …
  .vscode/settings.json
  langchain-core/package.json
  langchain-core/src/callbacks/base.ts
  langchain-core/src/documents/transformers.ts
  langchain-core/src/example_selectors/base.ts
  langchain-core/src/language_models/base.ts
  langchain-core/src/language_models/chat_models.ts
  langchain-core/src/language_models/llms.ts
  langchain-core/src/load/index.ts
  langchain-core/src/messages/index.ts
  langchain-core/src/output_parsers/bytes.ts
  langchain-core/src/output_parsers/list.ts
  langchain-core/src/output_parsers/string.ts
  langchain-core/src/prompt_values.ts
  langchain-core/src/prompts/base.ts
  langchain-core/src/prompts/chat.ts
  langchain-core/src/prompts/string.ts
  langchain-core/src/runnables/base.ts
  langchain-core/src/runnables/branch.ts
  langchain-core/src/runnables/passthrough.ts
  langchain-core/src/runnables/router.ts
  langchain-core/src/vectorstores.ts
  langchain/package.json
  langchain/src/callbacks/tests/tracer.test.ts
  langchain/src/load/tests/__snapshots__/load.test.ts.snap
  langchain/src/load/tests/load.test.ts
  langchain/src/prompts/base.ts
  langchain/src/prompts/chat.ts
  libs/langchain-anthropic/package.json
Labels: auto:improvement, size:L

#3382 Fixed docs build issue
  docs/api_refs/.gitignore
  docs/api_refs/scripts/generate-api-refs.js
  docs/core_docs/code-block-loader.js
  docs/core_docs/src/css/custom.css
Labels: auto:documentation, size:M

#3365 Agent streaming
  langchain/src/agents/executor.ts
  langchain/src/agents/tests/agent.int.test.ts
  langchain/src/chains/base.ts
Labels: auto:improvement, size:XL

#3383 drop husky
  .husky/pre-commit
  package.json
  yarn.lock
Labels: auto:nit, size:S

#3386 Fix small core serialization issue
  langchain-core/package.json
  langchain-core/src/prompt_values.ts
  langchain/package.json
  libs/langchain-anthropic/package.json
  libs/langchain-openai/package.json
Labels: auto:bug, size:S

#3396 Add core README
  langchain-core/README.md
Labels: auto:documentation, size:L

#3402 Revert dependencies for now
  langchain-core/README.md
  langchain/package.json
  langchain/src/agents/openai/output_parser.ts
  langchain/src/chains/openai_functions/openapi.ts
  langchain/src/chains/openai_moderation.ts
  langchain/src/chat_models/anthropic.ts
  langchain/src/chat_models/fireworks.ts
  langchain/src/chat_models/openai.ts
  langchain/src/chat_models/tests/chatanthropic.int.test.ts
  langchain/src/document_loaders/fs/openai_whisper_audio.ts
  langchain/src/embeddings/openai.ts
  langchain/src/experimental/openai_assistant/index.ts
  langchain/src/experimental/openai_assistant/schema.ts
  langchain/src/experimental/openai_assistant/tests/openai_assistant.int.test.ts
  langchain/src/experimental/openai_files/index.ts
  langchain/src/llms/fireworks.ts
  langchain/src/llms/openai-chat.ts
  langchain/src/llms/openai.ts
  langchain/src/load/import_type.d.ts
  langchain/src/schema/index.ts
  langchain/src/tools/convert_to_openai.ts
  langchain/src/types/openai-types.ts
  langchain/src/util/env.ts
  langchain/src/util/openai-format-fndef.ts
  langchain/src/util/openai.ts
  langchain/src/util/prompt-layer.ts
  yarn.lock
Labels: auto:nit, auto:refactor, size:XXL

#3413 Remove workspace core dep
  langchain/package.json
  yarn.lock
Labels: auto:nit, size:XS

#3414 Update secret map
  langchain/src/chat_models/cloudflare_workersai.ts
Labels: auto:improvement, size:XS

#3420 Release 0.0.197
  langchain/package.json
  langchain/src/load/import_type.d.ts
Labels: auto:nit, size:XS

#3353 feat: add support for collection name in PG Vector
  langchain/src/vectorstores/pgvector.ts
  langchain/src/vectorstores/tests/pgvector.int.test.ts
Labels: lgtm, auto:improvement, size:L

#3389 fix: Add HuggingFaceInference includeCredentials param
  langchain/src/llms/hf.ts
Labels: lgtm, auto:bug, size:S

#3411 Use less tokens to describe a Neo4j graph schema
  langchain/src/graphs/neo4j_graph.ts
  langchain/src/graphs/tests/neo4j_graph.int.test.ts
Labels: lgtm, auto:improvement, size:L

#3422 Add no focused jest tests eslint rule
  langchain-core/.eslintrc.cjs
  langchain-core/package.json
  langchain/.eslintrc.cjs
  langchain/package.json
  langchain/src/document_loaders/tests/gitbook.int.test.ts
  libs/langchain-anthropic/.eslintrc.cjs
  libs/langchain-anthropic/package.json
  libs/langchain-openai/.eslintrc.cjs
  libs/langchain-openai/package.json
  yarn.lock
Labels: lgtm, auto:nit, size:L

#3421 Add more tests for agent streaming
  langchain/src/agents/tests/agent.int.test.ts
Labels: auto:improvement, size:M

#3090 Added PyInterpreterTool
  docs/api_refs/typedoc.json
  docs/core_docs/docs/integrations/tools/pyinterpreter.mdx
  examples/src/tools/pyinterpreter.ts
  langchain/.gitignore
  langchain/package.json
  langchain/scripts/create-entrypoints.js
  langchain/src/experimental/tools/pyinterpreter.ts
  langchain/src/experimental/tools/tests/pyinterpreter.int.test.ts
  langchain/src/load/import_constants.ts
  langchain/src/load/import_type.d.ts
  yarn.lock
Labels: lgtm, auto:enhancement, size:L
