Repository langchain-ai/langchainjs, pull requests merged in 2023-12, with the labels that each got.

#3469 langchain[patch]: Remove double export
  examples/src/tools/google_places.ts
  langchain/src/tools/index.ts
Labels: auto:nit, size:XS

#3450 core[patch]: Move tests into core
  langchain-core/.gitignore
  langchain-core/package.json
  langchain-core/scripts/create-entrypoints.js
  langchain-core/src/callbacks/tests/callbacks.test.ts
  langchain-core/src/callbacks/tests/run_collector.test.ts
  langchain-core/src/load/import_map.ts
  langchain-core/src/messages/tests/base_message.test.ts
  langchain-core/src/output_parsers/tests/output_parser.test.ts
  langchain-core/src/prompts/tests/chat.test.ts
  langchain-core/src/prompts/tests/few_shot.test.ts
  langchain-core/src/prompts/tests/pipeline.test.ts
  langchain-core/src/prompts/tests/prompt.test.ts
  langchain-core/src/prompts/tests/template.test.ts
  langchain-core/src/runnables/tests/runnable_binding.test.ts
  langchain-core/src/runnables/tests/runnable_branch.test.ts
  langchain-core/src/runnables/tests/runnable_retry.test.ts
  langchain-core/src/runnables/tests/runnable_stream_log.test.ts
  langchain-core/src/runnables/tests/runnable_with_fallbacks.test.ts
  langchain-core/src/tracers/tests/tracer.test.ts
  langchain-core/src/utils/testing/index.ts
  langchain-core/src/utils/testing/lib.ts
  langchain-core/src/utils/tests/async_caller.test.ts
  langchain-core/src/utils/tests/enviroment.test.ts
  langchain/src/schema/tests/base_message.test.ts
Labels: auto:refactor, size:L

#3470 langchain[patch]: Move tests
  langchain/package.json
  langchain/src/schema/tests/lib.ts
  yarn.lock
Labels: auto:nit, size:L

#3472 langchain[patch]: Release 0.0.199
  langchain/package.json
Labels: auto:nit, size:XS

#3481 chore: update contribution docs
  CONTRIBUTING.md
Labels: lgtm, auto:documentation, size:XS

#3483 core[patch]: move more tests & test utils to core
  langchain-core/src/runnables/tests/runnable.test.ts
  langchain-core/src/runnables/tests/runnable_binding.test.ts
  langchain-core/src/runnables/tests/runnable_stream_log.test.ts
  langchain-core/src/runnables/tests/runnable_with_fallbacks.test.ts
  langchain-core/src/utils/testing/index.ts
  langchain-core/src/utils/testing/lib.ts
Labels: auto:refactor, size:XL

#3486 core[patch]: Bump core
  langchain-core/package.json
Labels: auto:nit, size:XS

#3487 langchain[chore]: Remove duplicated code
  examples/src/models/chat/integration_llama_cpp_stream_multi.ts
  langchain-core/src/utils/testing/tests/chatfake.test.ts
  langchain/package.json
  langchain/src/chat_models/fake.ts
  yarn.lock
Labels: auto:refactor, size:L

#3489 langchain[patch]: Adds core tests to CI
  package.json
Labels: auto:nit, size:XS

#3490 langchain[patch]: Adds missing export
  langchain/src/agents/index.ts
Labels: auto:nit, size:XS

#3491 core[patch]: Catch tiktoken errors
  langchain-core/src/language_models/base.ts
Labels: auto:bug, size:S

#3443 langchain[patch]: onToken event added in ChatLlamaCpp call function
  langchain/src/chat_models/llama_cpp.ts
  langchain/src/llms/llama_cpp.ts
Labels: lgtm, auto:improvement, size:XS

#3492 Fix build
  langchain/src/chat_models/minimax.ts
Labels: auto:bug, size:XS

#3471 langchain[patch]: feat(Gradient LLM Integration): Add fine-tuned adapter inference support
  docs/core_docs/docs/integrations/llms/gradient_ai.mdx
  examples/src/llms/gradient_ai-adapter.ts
  examples/src/llms/gradient_ai-base.ts
  examples/src/llms/gradient_ai.ts
  langchain/src/llms/gradient_ai.ts
Labels: auto:enhancement, size:M

#3475 langchain[minor]: feat(embedding integration): Gradient AI
  docs/api_refs/typedoc.json
  docs/core_docs/docs/integrations/text_embedding/gradient_ai.mdx
  examples/src/embeddings/gradient_ai.ts
  langchain/.gitignore
  langchain/package.json
  langchain/scripts/create-entrypoints.js
  langchain/src/embeddings/gradient_ai.ts
  langchain/src/load/import_constants.ts
  langchain/src/load/import_type.d.ts
Labels: lgtm, auto:enhancement, size:L

#3495 multi[patch]: Bump core deps
  langchain-core/package.json
  langchain/package.json
  yarn.lock
Labels: auto:nit, size:XS

#3496 core[patch]: Fix token counting
  langchain-core/package.json
  langchain-core/src/language_models/base.ts
Labels: auto:bug, size:XS

#3497 langchain[patch]: Miscellaneous test fixes
  langchain/package.json
  langchain/src/callbacks/tests/langchain_tracer.int.test.ts
  langchain/src/util/tiktoken.ts
  yarn.lock
Labels: auto:nit, size:M

#3498 Release 0.0.200
  langchain/package.json
Labels: auto:nit, size:XS

#3503 chore(WatsonX.ai example): remove run
  examples/src/llms/watsonx_ai.ts
Labels: auto:documentation, size:M

#3514 core[patch]: Export Runnable history
  langchain-core/src/runnables/history.ts
  langchain-core/src/runnables/index.ts
Labels: auto:improvement, size:S

#3493 chore(docs): add embedding integration contribution docs
  .github/contributing/INTEGRATIONS.md
  .github/contributing/integrations/EMBEDDINGS.md
Labels: auto:documentation, size:S

#3515 Bump core version
  langchain-core/package.json
Labels: auto:nit, size:XS

#3512 Adds npx create-langchain-integration command
  libs/create-langchain-integration/.eslintrc.cjs
  libs/create-langchain-integration/.prettierignore
  libs/create-langchain-integration/LICENSE.md
  libs/create-langchain-integration/create-app.ts
  libs/create-langchain-integration/helpers/copy.ts
  libs/create-langchain-integration/helpers/git.ts
  libs/create-langchain-integration/helpers/is-folder-empty.ts
  libs/create-langchain-integration/helpers/is-url.ts
  libs/create-langchain-integration/helpers/is-writeable.ts
  libs/create-langchain-integration/helpers/make-dir.ts
  libs/create-langchain-integration/helpers/templates.ts
  libs/create-langchain-integration/helpers/validate-pkg.ts
  libs/create-langchain-integration/index.ts
  libs/create-langchain-integration/package.json
  libs/create-langchain-integration/template/.eslintrc.cjs
  libs/create-langchain-integration/template/.gitignore
  libs/create-langchain-integration/template/LICENSE
  libs/create-langchain-integration/template/README.md
  libs/create-langchain-integration/template/jest.config.cjs
  libs/create-langchain-integration/template/jest.env.cjs
  libs/create-langchain-integration/template/package.json
  libs/create-langchain-integration/template/scripts/check-tree-shaking.js
  libs/create-langchain-integration/template/scripts/create-entrypoints.js
  libs/create-langchain-integration/template/scripts/identify-secrets.js
  libs/create-langchain-integration/template/scripts/move-cjs-to-dist.js
  libs/create-langchain-integration/template/scripts/release-branch.sh
  libs/create-langchain-integration/template/src/chat_models.ts
  libs/create-langchain-integration/template/src/index.ts
  libs/create-langchain-integration/template/src/llms.ts
  libs/create-langchain-integration/template/src/tests/chat_models.test.ts
  libs/create-langchain-integration/template/src/tests/integration.int.test.ts
  libs/create-langchain-integration/template/src/tests/llms.test.ts
  libs/create-langchain-integration/template/src/tests/vectorstores.test.ts
  libs/create-langchain-integration/template/src/vectorstores.ts
  libs/create-langchain-integration/template/tsconfig.cjs.json
  libs/create-langchain-integration/template/tsconfig.json
  libs/create-langchain-integration/tsconfig.json
  yarn.lock
Labels: auto:enhancement, size:XXL

#3519 core[patch]: Reducing heap area consumption regardless of the number of prompts
  langchain-core/package.json
  langchain-core/src/utils/tiktoken.ts
  yarn.lock
Labels: lgtm, auto:bug, size:M

#3536 cr
  docs/api_refs/turbo.json
Labels: auto:documentation, size:XS

#3537 core[tests]: Better tests for runnable history
  langchain-core/src/runnables/history.ts
  langchain-core/src/runnables/tests/runnable_history.test.ts
Labels: auto:improvement, size:M

#3538 docs[patch]: search experiment
  docs/core_docs/docs/_static/js/mendablesearch.js
  docs/core_docs/docusaurus.config.js
  docs/core_docs/package.json
  docs/core_docs/src/css/custom.css
  docs/core_docs/src/theme/SearchBar.js
  yarn.lock
Labels: auto:documentation, size:L

#3438 Add Gmail Tool
  docs/api_refs/typedoc.json
  docs/core_docs/docs/integrations/tools/gmail.mdx
  examples/src/tools/gmail.ts
  langchain/.gitignore
  langchain/package.json
  langchain/scripts/create-entrypoints.js
  langchain/src/load/import_constants.ts
  langchain/src/load/import_type.d.ts
  langchain/src/tools/gmail/base.ts
  langchain/src/tools/gmail/create_draft.ts
  langchain/src/tools/gmail/descriptions.ts
  langchain/src/tools/gmail/get_message.ts
  langchain/src/tools/gmail/get_thread.ts
  langchain/src/tools/gmail/index.ts
  langchain/src/tools/gmail/search.ts
  langchain/src/tools/gmail/send_message.ts
  langchain/src/tools/tests/gmail.test.ts
Labels: lgtm, auto:enhancement, size:XL

#3494 feat: Add ObsidianLoader to Document loaders
  docs/api_refs/typedoc.json
  examples/src/document_loaders/example_data/obsidian/bad_frontmatter.md
  examples/src/document_loaders/example_data/obsidian/frontmatter.md
  examples/src/document_loaders/example_data/obsidian/no_frontmatter.md
  examples/src/document_loaders/example_data/obsidian/no_metadata.md
  examples/src/document_loaders/example_data/obsidian/tags_and_frontmatter.md
  examples/src/document_loaders/obsidian.ts
  langchain/.gitignore
  langchain/package.json
  langchain/scripts/create-entrypoints.js
  langchain/src/document_loaders/fs/obsidian.ts
  langchain/src/document_loaders/tests/example_data/notion/notion.md
  langchain/src/document_loaders/tests/example_data/obsidian/bad_frontmatter.md
  langchain/src/document_loaders/tests/example_data/obsidian/frontmatter.md
  langchain/src/document_loaders/tests/example_data/obsidian/no_frontmatter.md
  langchain/src/document_loaders/tests/example_data/obsidian/no_metadata.md
  langchain/src/document_loaders/tests/example_data/obsidian/tags_and_frontmatter.md
  langchain/src/document_loaders/tests/notion.test.ts
  langchain/src/document_loaders/tests/obsidian.test.ts
  langchain/src/load/import_constants.ts
  langchain/src/load/import_type.d.ts
Labels: lgtm, auto:enhancement, size:XL

#3540 all[patch]: Add `.turbo/` to folders removed by `yarn clean`
  langchain-core/package.json
  langchain/package.json
  libs/langchain-anthropic/package.json
  libs/langchain-openai/package.json
Labels: auto:nit, size:XS

#3499 Add Connery Tool and Toolkit
  docs/api_refs/typedoc.json
  docs/core_docs/docs/integrations/toolkits/connery.mdx
  docs/core_docs/docs/integrations/tools/connery.mdx
  environment_tests/test-exports-bun/src/entrypoints.js
  environment_tests/test-exports-cf/src/entrypoints.js
  environment_tests/test-exports-cjs/src/entrypoints.js
  environment_tests/test-exports-esbuild/src/entrypoints.js
  environment_tests/test-exports-esm/src/entrypoints.js
  environment_tests/test-exports-vercel/src/entrypoints.js
  environment_tests/test-exports-vite/src/entrypoints.js
  examples/.env.example
  examples/src/agents/connery_mrkl.ts
  examples/src/tools/connery.ts
  langchain/.env.example
  langchain/.gitignore
  langchain/package.json
  langchain/scripts/create-entrypoints.js
  langchain/src/agents/toolkits/connery/index.ts
  langchain/src/load/import_map.ts
  langchain/src/tools/connery.ts
Labels: close, auto:enhancement, size:XL

#3542 Release 0.0.201
  langchain/package.json
  yarn.lock
Labels: auto:nit, size:XS

#3543 Fix OpenAI agent docs
  docs/core_docs/docs/modules/agents/agent_types/openai_functions_agent.mdx
  docs/core_docs/docs/modules/agents/agent_types/openai_tools_agent.mdx
  examples/src/agents/openai_runnable_with_memory.ts
Labels: auto:documentation, size:L

#3550 Update contributing guidelines
  CONTRIBUTING.md
Labels: auto:documentation, size:XS

#3551 core[infra]: Adds turbo to core
  docs/api_refs/package.json
  langchain-core/package.json
  langchain-core/turbo.json
  yarn.lock
Labels: auto:improvement, size:S

#3549 docs[patch]: Agent pointer
  docs/core_docs/docs/modules/agents/agent_types/structured_chat.mdx
Labels: auto:documentation, size:XS

#3535 Revert "all[chore]: Use turbo repo to build api refs, docs and more"
  .github/workflows/test-exports.yml
  docs/api_refs/package.json
  docs/api_refs/turbo.json
  docs/core_docs/package.json
  docs/core_docs/turbo.json
  langchain-core/src/callbacks/manager.ts
  langchain-core/src/language_models/chat_models.ts
  langchain-core/src/language_models/llms.ts
  langchain-core/src/messages/tests/base_message.test.ts
  package.json
  turbo.json
  yarn.lock
Labels: auto:refactor, size:L

#3553 Upgrade xata client to 0.28.0 and apply required change
  docs/core_docs/docs/integrations/vectorstores/xata.mdx
  langchain/package.json
  langchain/src/vectorstores/tests/xata.int.test.ts
  langchain/src/vectorstores/xata.ts
  yarn.lock
Labels: lgtm, auto:improvement, size:S

#3531 core[docs]: Docs for with listeners runnable method
  docs/core_docs/docs/modules/callbacks/how_to/with_listeners.mdx
  examples/src/guides/expression_language/with_listeners.ts
Labels: auto:documentation, size:M

#3384 langchain[docs]: agent stream example docs
  docs/core_docs/docs/modules/agents/how_to/streaming.mdx
  docs/core_docs/docs/modules/callbacks/index.mdx
  examples/src/agents/stream.ts
Labels: auto:documentation, size:L

#3556 core[patch]: Improve interaction with streams and Node's Readable.from() method
  langchain-core/package.json
  langchain-core/src/utils/stream.ts
  langchain/src/util/stream.ts
Labels: lgtm, auto:improvement, size:M

#3558 core[patch]: Simplify RunnableSequence transform implementation
  langchain-core/src/runnables/base.ts
  langchain-core/src/runnables/tests/runnable_history.test.ts
Labels: lgtm, auto:improvement, size:M

#3560 Release 0.0.202
  langchain/package.json
  yarn.lock
Labels: auto:nit, size:XS

#3562 chore: Upgrade Typescript to 5.1
  docs/api_refs/package.json
  examples/package.json
  langchain-core/package.json
  langchain/package.json
  langchain/src/agents/tests/structured_output_runnables.int.test.ts
  libs/create-langchain-integration/package.json
  libs/langchain-anthropic/package.json
  libs/langchain-openai/package.json
  package.json
  yarn.lock
Labels: auto:nit, size:S

#3527 core[docs]: Docs & example for runnable history
  docs/core_docs/docs/expression_language/how_to/with_history.mdx
  examples/src/guides/expression_language/runnable_history.ts
  langchain-core/src/runnables/history.ts
Labels: auto:documentation, size:L

#3564 core[chore]: widen semver range for langsmith
  langchain-core/package.json
  yarn.lock
Labels: auto:nit, size:XS

#3548 langchain[minor]: Experimental Masking Module
  docs/core_docs/docs/modules/experimental/index.mdx
  docs/core_docs/docs/modules/experimental/mask/mask.mdx
  docs/core_docs/docs/modules/index.mdx
  examples/src/experimental/masking/basic.ts
  examples/src/experimental/masking/kitchen_sink.ts
  examples/src/experimental/masking/next.ts
  langchain/scripts/create-entrypoints.js
  langchain/src/experimental/masking/index.ts
  langchain/src/experimental/masking/parser.ts
  langchain/src/experimental/masking/regex_masking_transformer.ts
  langchain/src/experimental/masking/tests/masking-extended.test.ts
  langchain/src/experimental/masking/tests/masking.test.ts
  langchain/src/experimental/masking/transformer.ts
  langchain/src/experimental/masking/types.ts
  langchain/src/load/import_map.ts
Labels: lgtm, auto:enhancement, size:XXL

#3574 Release 0.0.203
  docs/api_refs/typedoc.json
  environment_tests/test-exports-bun/src/entrypoints.js
  environment_tests/test-exports-cf/src/entrypoints.js
  environment_tests/test-exports-cjs/src/entrypoints.js
  environment_tests/test-exports-esbuild/src/entrypoints.js
  environment_tests/test-exports-esm/src/entrypoints.js
  environment_tests/test-exports-vercel/src/entrypoints.js
  environment_tests/test-exports-vite/src/entrypoints.js
  langchain/.gitignore
  langchain/package.json
Labels: auto:improvement, size:S

#3584 Fix docs
  examples/src/experimental/masking/basic.ts
  examples/src/experimental/masking/kitchen_sink.ts
  examples/src/experimental/masking/next.ts
Labels: auto:nit, size:S

#3585 Fix typo in example
  examples/src/experimental/masking/basic.ts
Labels: auto:nit, size:XS

#3571 core[docs]: Added get started page to LCEL
  docs/core_docs/docs/expression_language/get_started.mdx
  examples/src/guides/expression_language/get_started/basic.ts
  examples/src/guides/expression_language/get_started/chat_model.ts
  examples/src/guides/expression_language/get_started/llm_model.ts
  examples/src/guides/expression_language/get_started/output_parser.ts
  examples/src/guides/expression_language/get_started/prompt.ts
  examples/src/guides/expression_language/get_started/rag.ts
Labels: auto:documentation, size:L

#3597 Brace/add missing neo4j test
  langchain/src/graphs/tests/neo4j_graph.int.test.ts
Labels: auto:improvement, size:M

#3601 community[minor]: Fix CI
  docker-compose.yml
  environment_tests/scripts/docker-ci-entrypoint.sh
  environment_tests/test-exports-cf/package.json
  environment_tests/test-exports-cjs/package.json
  environment_tests/test-exports-esbuild/package.json
  environment_tests/test-exports-esm/package.json
  environment_tests/test-exports-vercel/package.json
  environment_tests/test-exports-vercel/tsconfig.json
  environment_tests/test-exports-vite/package.json
  langchain/src/cache/ioredis.ts
  langchain/src/load/import_type.d.ts
  libs/langchain-community/package.json
  libs/langchain-community/scripts/create-entrypoints.js
  libs/langchain-community/src/load/import_constants.ts
  libs/langchain-community/src/load/import_map.ts
  libs/langchain-community/src/load/import_type.d.ts
  libs/langchain-openai/package.json
  yarn.lock
Labels: auto:improvement, size:L

#3600 Brace/cleanup deps
  examples/src/guides/expression_language/runnable_history.ts
  examples/src/guides/expression_language/runnable_history_constructor_config.ts
  langchain/package.json
  libs/langchain-community/src/llms/tests/replicate.int.test.ts
  libs/langchain-community/src/retrievers/tests/metal.int.test.ts
  libs/langchain-community/src/storage/tests/upstash_redis.int.test.ts
  libs/langchain-community/src/stores/tests/cassandra.int.test.ts
  yarn.lock
Labels: auto:refactor, size:L

#3602 comminity[major]: Cleaned deps
  langchain/src/retrievers/self_query/tests/pinecone_self_query.int.test.ts
  langchain/src/storage/tests/convex.int.test.ts
  langchain/src/storage/tests/convex/convex/_generated/api.d.ts
  langchain/src/storage/tests/convex/convex/_generated/api.js
  langchain/src/storage/tests/convex/convex/_generated/dataModel.d.ts
  langchain/src/storage/tests/convex/convex/_generated/server.d.ts
  langchain/src/storage/tests/convex/convex/_generated/server.js
  langchain/src/storage/tests/convex/convex/langchain/db.ts
  langchain/src/storage/tests/convex/convex/lib.ts
  langchain/src/storage/tests/convex/convex/schema.ts
  langchain/src/storage/tests/convex/package.json
  langchain/src/stores/tests/convex.int.test.ts
  langchain/src/stores/tests/convex/convex/_generated/api.d.ts
  langchain/src/stores/tests/convex/convex/_generated/api.js
  langchain/src/stores/tests/convex/convex/_generated/dataModel.d.ts
  langchain/src/stores/tests/convex/convex/_generated/server.d.ts
  langchain/src/stores/tests/convex/convex/_generated/server.js
  langchain/src/stores/tests/convex/convex/langchain/db.ts
  langchain/src/stores/tests/convex/convex/lib.ts
  langchain/src/stores/tests/convex/convex/schema.ts
  langchain/src/stores/tests/convex/package.json
  langchain/src/util/chunk.ts
  langchain/src/util/convex.ts
  langchain/src/util/googlevertexai-gauth.ts
  langchain/src/util/googlevertexai-webauth.ts
  langchain/src/util/iflytek_websocket_stream.ts
  langchain/src/util/llama_cpp.ts
  langchain/src/util/momento.ts
  libs/langchain-community/.gitignore
  libs/langchain-community/package.json
  libs/langchain-community/scripts/create-entrypoints.js
  libs/langchain-community/src/load/import_constants.ts
  libs/langchain-community/src/load/import_type.d.ts
  yarn.lock
Labels: auto:refactor, size:XXL

#3617 Use different import maps for core vs main langchain
  langchain-core/src/load/index.ts
  langchain-core/src/runnables/base.ts
  langchain-core/src/runnables/index.ts
  langchain/src/load/tests/cross_language.int.test.ts
  langchain/src/load/tests/load.int.test.ts
  langchain/src/load/tests/load.test.ts
  langchain/src/schema/runnable/base.ts
Labels: lgtm, auto:improvement, size:L

#3618 langchain[patch]: Build deps before testing
  langchain/package.json
Labels: auto:nit, size:XS

#3619 Release 0.0.204
  langchain-core/package.json
  langchain/package.json
  langchain/src/load/tests/cross_language.int.test.ts
  libs/langchain-community/package.json
  libs/langchain-openai/package.json
  yarn.lock
Labels: auto:nit, size:S

#3624 all[patch]: Ensure other subpackages are built before test/build
  .github/workflows/test-exports.yml
  docs/api_refs/package.json
  docs/core_docs/package.json
  langchain-core/package.json
  langchain-core/turbo.json
  langchain/package.json
  libs/langchain-anthropic/package.json
  libs/langchain-community/package.json
  libs/langchain-openai/package.json
  package.json
  turbo.json
Labels: auto:improvement, size:L

#3631 Release 0.0.205 + core 0.1.0
  langchain-core/README.md
  langchain-core/package.json
  langchain/package.json
  libs/create-langchain-integration/template/package.json
  libs/langchain-anthropic/package.json
  libs/langchain-community/package.json
  libs/langchain-openai/package.json
  yarn.lock
Labels: auto:improvement, size:S

#3633 Add community as workspace dep to examples
  examples/package.json
  yarn.lock
Labels: auto:nit, size:XS

#3630 api_refs[major]: Remove script, use custom typedoc plugin
  docs/api_refs/package.json
  docs/api_refs/scripts/generate-api-refs.js
  docs/api_refs/typedoc.json
  docs/api_refs/typedoc_plugins/hide_underscore_lc.js
  docs/core_docs/package.json
  langchain/scripts/create-entrypoints.js
  turbo.json
Labels: auto:documentation, size:XL

#3637 Add README for community + core
  README.md
  langchain-core/README.md
  libs/langchain-community/README.md
Labels: auto:documentation, size:M

#3628 community[patch]: removing null chars
  libs/langchain-community/src/vectorstores/pgvector.ts
Labels: lgtm, auto:bug, size:XS

#3635 core[patch],community[patch]: Make traced DynamicTool runs use tool name
  langchain-core/src/tools.ts
  libs/langchain-community/src/tools/dynamic.ts
Labels: auto:improvement, size:M

#3517 feat: add inference for RunnableMap RunOutput type
  langchain-core/src/runnables/base.ts
  langchain-core/src/runnables/tests/runnable.test.ts
  langchain-core/src/runnables/tests/runnable_map.test.ts
  langchain-core/src/runnables/tests/runnable_stream_log.test.ts
Labels: question, lgtm, auto:improvement, size:L

#3639 Release 0.0.206
  environment_tests/scripts/docker-ci-entrypoint.sh
  environment_tests/test-exports-cf/package.json
  environment_tests/test-exports-cjs/package.json
  environment_tests/test-exports-esbuild/package.json
  environment_tests/test-exports-esm/package.json
  environment_tests/test-exports-vite/package.json
  langchain-core/package.json
  langchain/package.json
  libs/langchain-community/package.json
  yarn.lock
Labels: auto:nit, size:M

#3640 Bump version
  libs/create-langchain-integration/package.json
  libs/create-langchain-integration/template/package.json
Labels: auto:nit, size:XS

#3646 docs[patch]: Add yarn clean script to docs & run in build
  docs/api_refs/package.json
  docs/core_docs/package.json
Labels: auto:documentation, size:S

#3647 docs[patch]: Don't use turbo to build api refs
  docs/core_docs/package.json
Labels: auto:documentation, size:XS

#3431 langchain[patch]: Issue #2756 Add Qdrant custom payload on documents to query them by filter
  libs/langchain-community/src/vectorstores/qdrant.ts
  libs/langchain-community/src/vectorstores/tests/qdrant.test.ts
Labels: question, lgtm, auto:improvement, size:L

#3598 pass in authoptions correctly from initialization down to connection sdk
  libs/langchain-community/src/vectorstores/googlevertexai.ts
Labels: lgtm, auto:improvement, size:S

#3621 community[major]: Added integration with new Gemini API
  docs/core_docs/docs/integrations/chat/google_generativeai.mdx
  docs/core_docs/docs/integrations/chat/google_palm.mdx
  docs/core_docs/docs/integrations/llms/google_palm.mdx
  docs/core_docs/docs/integrations/platforms/google.mdx
  docs/core_docs/docs/integrations/text_embedding/google_generativeai.mdx
  docs/core_docs/docs/integrations/text_embedding/google_palm.mdx
  examples/package.json
  examples/src/models/chat/googlegenerativeai.ts
  examples/src/models/chat/googlegenerativeai_multimodal.ts
  examples/src/models/embeddings/googlegenerativeai.ts
  langchain/scripts/create-entrypoints.js
  libs/langchain-community/scripts/create-entrypoints.js
  libs/langchain-community/src/chat_models/googlepalm.ts
  libs/langchain-community/src/embeddings/googlepalm.ts
  libs/langchain-google-genai/.eslintrc.cjs
  libs/langchain-google-genai/.gitignore
  libs/langchain-google-genai/LICENSE
  libs/langchain-google-genai/jest.config.cjs
  libs/langchain-google-genai/jest.env.cjs
  libs/langchain-google-genai/package.json
  libs/langchain-google-genai/scripts/check-tree-shaking.js
  libs/langchain-google-genai/scripts/create-entrypoints.js
  libs/langchain-google-genai/scripts/identify-secrets.js
  libs/langchain-google-genai/scripts/move-cjs-to-dist.js
  libs/langchain-google-genai/scripts/release-branch.sh
  libs/langchain-google-genai/src/chat_models.ts
  libs/langchain-google-genai/src/embeddings.ts
  libs/langchain-google-genai/src/index.ts
  libs/langchain-google-genai/src/tests/chat_models.int.test.ts
  libs/langchain-google-genai/src/tests/chat_models.test.ts
  libs/langchain-google-genai/src/tests/data/hotdog.jpg
  libs/langchain-google-genai/src/tests/embeddings.int.test.ts
  libs/langchain-google-genai/src/utils.ts
  libs/langchain-google-genai/tsconfig.cjs.json
  libs/langchain-google-genai/tsconfig.json
  yarn.lock
Labels: lgtm, auto:enhancement, size:XXL

#3648 Update @langchain/google-genai versioning
  docs/core_docs/docs/integrations/platforms/google.mdx
  libs/langchain-google-genai/package.json
  yarn.lock
Labels: auto:nit, size:XS

#3590 Adds delete method to PGVectorStore
  examples/src/indexes/vector_stores/pgvector_vectorstore/pgvector.ts
  libs/langchain-community/src/vectorstores/pgvector.ts
  libs/langchain-community/src/vectorstores/tests/pgvector.int.test.ts
Labels: lgtm, auto:improvement, size:L

#3599 Update AssemblyAI SDK
  docs/core_docs/docs/integrations/document_loaders/web_loaders/assemblyai_audio_transcription.mdx
  examples/src/document_loaders/assemblyai_audio_transcription.ts
  examples/src/document_loaders/assemblyai_subtitles.ts
  langchain/package.json
  langchain/src/document_loaders/tests/assemblyai.int.test.ts
  langchain/src/document_loaders/web/assemblyai.ts
  yarn.lock
Labels: lgtm, auto:improvement, size:L

#3649 Release 0.0.207
  langchain/package.json
  langchain/src/chat_models/tests/chatanthropic.int.test.ts
  langchain/src/experimental/chat_models/tests/anthropic_functions.int.test.ts
  libs/langchain-community/package.json
  yarn.lock
Labels: auto:improvement, size:M

#3650 Adds integration package installation instructions
  docs/core_docs/docs/get_started/installation.mdx
  docs/core_docs/docs/integrations/chat/google_generativeai.mdx
  docs/core_docs/docs/integrations/chat/mistral.mdx
  docs/core_docs/docs/integrations/platforms/google.mdx
  docs/core_docs/docs/integrations/text_embedding/google_generativeai.mdx
  docs/core_docs/docs/integrations/text_embedding/mistralai.mdx
Labels: auto:documentation, size:L

#3652 Change wording
  docs/core_docs/docs/integrations/chat/google_generativeai.mdx
  docs/core_docs/docs/integrations/chat/mistral.mdx
  docs/core_docs/docs/integrations/platforms/google.mdx
  docs/core_docs/docs/integrations/text_embedding/google_generativeai.mdx
  docs/core_docs/docs/integrations/text_embedding/mistralai.mdx
Labels: auto:documentation, size:S

#3657 bugfixes in google Generative AI chat_model
  libs/langchain-google-genai/src/chat_models.ts
  libs/langchain-google-genai/src/tests/chat_models.int.test.ts
  libs/langchain-google-genai/src/utils.ts
Labels: auto:bug, size:S

#3660 Bump google genai version
  libs/langchain-google-genai/package.json
  yarn.lock
Labels: auto:nit, size:XS

#3627 community[major]: Add Together AI LLM integration
  docs/core_docs/docs/integrations/llms/togetherai.mdx
  examples/src/models/llm/togetherai.ts
  examples/src/models/llm/togetherai_stream.ts
  libs/langchain-community/.gitignore
  libs/langchain-community/package.json
  libs/langchain-community/scripts/create-entrypoints.js
  libs/langchain-community/src/llms/tests/togetherai.int.test.ts
  libs/langchain-community/src/llms/togetherai.ts
  libs/langchain-community/src/load/import_map.ts
Labels: lgtm, auto:enhancement, size:L

#3666 Update README and contributing guidelines
  .github/contributing/INTEGRATIONS.md
  CONTRIBUTING.md
  README.md
Labels: lgtm, auto:documentation, size:L

#3612 Update OpenAI embeddings `stripNewLines` to be default `false`
  libs/langchain-openai/src/embeddings.ts
Labels: lgtm, auto:improvement, size:XS

#3665 langchain[patch]: Fix invert runId and threadId
  langchain/src/experimental/openai_assistant/index.ts
Labels: lgtm, auto:bug, size:XS

#3656 experimental[patch]: Improve AutoGPT's output_parser to extract JSON code block
  langchain/src/experimental/autogpt/output_parser.ts
  langchain/src/experimental/autogpt/tests/output_parser.test.ts
Labels: lgtm, auto:improvement, size:S

#3653 community[patch]: Fix RRF normalization and lucene characters for neo4j vector
  libs/langchain-community/src/vectorstores/neo4j_vector.ts
  libs/langchain-community/src/vectorstores/tests/neo4j_vector.int.test.ts
Labels: lgtm, auto:improvement, size:M

#3629 community[patch]: Update ElasticSearch mappings to successfully add documents from TextSplitter
  docs/core_docs/docs/integrations/vectorstores/elasticsearch.mdx
  examples/src/indexes/vector_stores/elasticsearch/elasticsearch.ts
  libs/langchain-community/src/vectorstores/elasticsearch.ts
  libs/langchain-community/src/vectorstores/tests/elasticsearch.int.test.ts
Labels: lgtm, auto:bug, size:M

#3669 docs[patch]: Update LangChain README
  README.md
  langchain/README.md
Labels: auto:documentation, size:L

#3670 mistral[minor]: Dynamically import mistral
  libs/langchain-mistralai/src/chat_models.ts
  libs/langchain-mistralai/src/embeddings.ts
Labels: auto:improvement, size:M

#3671 Bump version
  libs/langchain-mistralai/package.json
  yarn.lock
Labels: auto:nit, size:XS

#3673 community[minor]: Adds chat endpoint and multimodal support for Ollama
  docs/core_docs/docs/integrations/chat/ollama.mdx
  docs/core_docs/docs/integrations/llms/ollama.mdx
  examples/src/models/chat/integration_ollama_multimodal.ts
  examples/src/models/llm/ollama.ts
  examples/src/models/llm/ollama_multimodal.ts
  langchain/src/experimental/chat_models/ollama_functions.ts
  langchain/src/util/ollama.ts
  libs/langchain-community/src/chat_models/ollama.ts
  libs/langchain-community/src/chat_models/tests/chatollama.int.test.ts
  libs/langchain-community/src/chat_models/tests/data/hotdog.jpg
  libs/langchain-community/src/llms/ollama.ts
  libs/langchain-community/src/llms/tests/data/hotdog.jpg
  libs/langchain-community/src/llms/tests/ollama.int.test.ts
  libs/langchain-community/src/utils/ollama.ts
Labels: auto:improvement, size:XL

#3677 Release 0.0.208
  langchain/package.json
  libs/langchain-community/package.json
  yarn.lock
Labels: auto:nit, size:XS

#3678 Updated docs to reflect usage of PaLM based classes
  docs/core_docs/docs/integrations/chat/google_generativeai.mdx
  docs/core_docs/docs/integrations/chat/google_palm.mdx
  docs/core_docs/docs/integrations/llms/google_palm.mdx
  docs/core_docs/docs/integrations/text_embedding/google_generativeai.mdx
  docs/core_docs/docs/integrations/text_embedding/google_palm.mdx
Labels: auto:documentation, size:S

#3681 mistral[minor]: Fix assigning class properties
  libs/langchain-mistralai/package.json
  libs/langchain-mistralai/src/chat_models.ts
Labels: auto:nit, size:S

#3679 docs[patch]: Use mixtral default model for togetherai
  docs/core_docs/docs/integrations/llms/togetherai.mdx
  examples/src/models/llm/togetherai.ts
  examples/src/models/llm/togetherai_stream.ts
Labels: size:M

#3680 Fix 1 typo in Assistants Docs and added 2 extra suggestions
  docs/core_docs/docs/modules/agents/agent_types/openai_assistant.mdx
Labels: auto:documentation, size:S

#3689 docs[patch]: Add section about req optional dep
  CONTRIBUTING.md
Labels: auto:documentation, size:S

#3684 core[patch]: Use an interface for runnables to allow more compatibility between core versions
  langchain-core/src/runnables/base.ts
  langchain-core/src/runnables/tests/runnable_interface.test.ts
  langchain-core/src/utils/stream.ts
Labels: auto:improvement, size:L

#3392 core[patch]: Add LLM/ChatModel callbacks to cached generation
  langchain-core/src/language_models/chat_models.ts
  langchain-core/src/language_models/llms.ts
  langchain-core/src/language_models/tests/chat_models.test.ts
  langchain-core/src/language_models/tests/llms.test.ts
  langchain-core/src/output_parsers/tests/output_parser.test.ts
  langchain-core/src/utils/testing/index.ts
Labels: auto:improvement, size:L

#3636 community[minor]: Jacob/vectara summarization
  docs/api_refs/typedoc.json
  examples/src/indexes/vector_stores/vectara.ts
  langchain/.gitignore
  langchain/package.json
  langchain/scripts/create-entrypoints.js
  langchain/src/load/import_constants.ts
  langchain/src/load/import_type.d.ts
  langchain/src/retrievers/vectara_summary.ts
  libs/langchain-community/.gitignore
  libs/langchain-community/package.json
  libs/langchain-community/scripts/create-entrypoints.js
  libs/langchain-community/src/load/import_constants.ts
  libs/langchain-community/src/load/import_type.d.ts
  libs/langchain-community/src/retrievers/vectara_summary.ts
  libs/langchain-community/src/vectorstores/tests/vectara.int.test.ts
  libs/langchain-community/src/vectorstores/vectara.ts
Labels: lgtm, auto:improvement, size:L

#3687 Add missing max_tokens option to TogetherAI
  libs/langchain-community/src/llms/togetherai.ts
Labels: lgtm, auto:improvement, size:XS

#3579 community[patch]: Cassandra init improvements
  docs/core_docs/docs/integrations/vectorstores/cassandra.mdx
  libs/langchain-community/src/stores/tests/cassandra.int.test.ts
  libs/langchain-community/src/vectorstores/cassandra.ts
  libs/langchain-community/src/vectorstores/tests/cassandra.int.test.ts
Labels: lgtm, auto:bug, auto:improvement, auto:documentation, size:L

#3693 Update READMEs
  libs/create-langchain-integration/template/README.md
  libs/langchain-anthropic/README.md
  libs/langchain-community/README.md
  libs/langchain-google-genai/README.md
  libs/langchain-mistralai/README.md
  libs/langchain-openai/README.md
Labels: auto:documentation, size:L

#3694 Release 0.0.209
  docs/core_docs/docs/get_started/installation.mdx
  langchain-core/README.md
  langchain-core/package.json
  langchain/package.json
  libs/create-langchain-integration/package.json
  libs/create-langchain-integration/template/README.md
  libs/create-langchain-integration/template/package.json
  libs/langchain-anthropic/README.md
  libs/langchain-anthropic/package.json
  libs/langchain-community/README.md
  libs/langchain-community/package.json
  libs/langchain-google-genai/README.md
  libs/langchain-google-genai/package.json
  libs/langchain-mistralai/README.md
  libs/langchain-mistralai/package.json
  libs/langchain-openai/README.md
  libs/langchain-openai/package.json
  yarn.lock
Labels: auto:documentation, size:M

#3705 docs: keywords
  docs/core_docs/docs/integrations/chat/google_generativeai.mdx
  docs/core_docs/docs/integrations/platforms/google.mdx
  docs/core_docs/docs/integrations/text_embedding/azure_openai.mdx
  docs/core_docs/docs/integrations/vectorstores/opensearch.mdx
  docs/core_docs/docs/modules/data_connection/vectorstores/index.mdx
Labels: auto:documentation, size:S

#3708 google-genai[patch]: Hookup callbacks to stream & generate methods
  libs/langchain-google-genai/src/chat_models.ts
  libs/langchain-google-genai/src/tests/chat_models.int.test.ts
Labels: lgtm, auto:improvement, size:M

#3711 core[minor]: Move chunk array to core
  langchain-core/.gitignore
  langchain-core/package.json
  langchain-core/scripts/create-entrypoints.js
  langchain-core/src/load/import_map.ts
  langchain-core/src/utils/chunk_array.ts
Labels: auto:refactor, size:S

#3719 examples[patch]: Fixes type error in vectara example
  examples/src/indexes/vector_stores/vectara.ts
Labels: auto:bug, size:M

#3714 Add `stop` option to Together AI
  libs/langchain-community/src/llms/togetherai.ts
Labels: auto:improvement, size:S

#3720 Use new Anthropic beta endpoint in new package
  docs/core_docs/docs/expression_language/cookbook/agents.mdx
  docs/core_docs/docs/integrations/chat/anthropic.mdx
  examples/package.json
  examples/src/agents/xml.ts
  examples/src/agents/xml_runnable.ts
  examples/src/chains/summarization_separate_output_llm.ts
  examples/src/guides/evaluation/comparision_evaluator/pairwise_string_custom_llm.ts
  examples/src/guides/evaluation/string/configuring_criteria_llm.ts
  examples/src/guides/expression_language/cookbook_memory.ts
  examples/src/guides/expression_language/cookbook_multiple_chains.ts
  examples/src/guides/expression_language/cookbook_tools.ts
  examples/src/guides/expression_language/how_to_routing_custom_function.ts
  examples/src/guides/expression_language/how_to_routing_runnable_branch.ts
  examples/src/guides/expression_language/runnable_maps_basic.ts
  examples/src/guides/expression_language/runnable_maps_sequence.ts
  examples/src/guides/fallbacks/model.ts
  examples/src/memory/cloudflare_d1.ts
  examples/src/models/chat/integration_anthropic.ts
  examples/src/retrievers/multi_query.ts
  examples/src/retrievers/multi_query_custom.ts
  examples/src/use_cases/youtube/podcast_summary.ts
  libs/langchain-anthropic/README.md
  libs/langchain-anthropic/jest.config.cjs
  libs/langchain-anthropic/package.json
  libs/langchain-anthropic/scripts/jest-setup-after-env.js
  libs/langchain-anthropic/src/chat_models.ts
  libs/langchain-anthropic/src/tests/chat_models.int.test.ts
  yarn.lock
Labels: auto:improvement, size:XL

#3722 Release 0.0.210
  langchain-core/package.json
  langchain/package.json
  libs/langchain-anthropic/package.json
  libs/langchain-community/package.json
  libs/langchain-google-genai/package.json
  libs/langchain-mistralai/package.json
  libs/langchain-openai/package.json
  yarn.lock
Labels: auto:nit, size:M

#3723 community[tests]: Add docker-compose for easier testing of pgvector
  libs/langchain-community/src/vectorstores/tests/pgvector/docker-compose.yml
  libs/langchain-community/src/vectorstores/tests/pgvector/pgvector.int.test.ts
Labels: auto:improvement, size:S

#3728 Update Anthropic docs
  docs/core_docs/docs/expression_language/cookbook/agents.mdx
  docs/core_docs/docs/integrations/chat/anthropic.mdx
  docs/core_docs/docs/integrations/platforms/anthropic.mdx
  examples/src/agents/xml.ts
  examples/src/agents/xml_runnable.ts
  examples/src/chains/summarization_separate_output_llm.ts
  examples/src/guides/evaluation/comparision_evaluator/pairwise_string_custom_llm.ts
  examples/src/guides/evaluation/string/configuring_criteria_llm.ts
  examples/src/guides/expression_language/cookbook_memory.ts
  examples/src/guides/expression_language/cookbook_multiple_chains.ts
  examples/src/guides/expression_language/cookbook_tools.ts
  examples/src/guides/expression_language/how_to_routing_custom_function.ts
  examples/src/guides/expression_language/how_to_routing_runnable_branch.ts
  examples/src/guides/expression_language/runnable_maps_basic.ts
  examples/src/guides/expression_language/runnable_maps_sequence.ts
  examples/src/guides/fallbacks/model.ts
  examples/src/memory/cloudflare_d1.ts
  examples/src/models/chat/integration_anthropic.ts
  examples/src/models/chat/integration_anthropic_legacy.ts
  examples/src/retrievers/multi_query.ts
  examples/src/retrievers/multi_query_custom.ts
  examples/src/use_cases/youtube/podcast_summary.ts
  libs/langchain-anthropic/README.md
  libs/langchain-anthropic/package.json
  libs/langchain-anthropic/src/chat_models.ts
  libs/langchain-anthropic/src/tests/chat_models.int.test.ts
Labels: auto:documentation, size:L

#3731 all[minor]: Remove duplicated chunk arr code, import from core
  libs/create-langchain-integration/template/package.json
  libs/langchain-community/src/embeddings/cloudflare_workersai.ts
  libs/langchain-community/src/embeddings/cohere.ts
  libs/langchain-community/src/embeddings/googlevertexai.ts
  libs/langchain-community/src/embeddings/gradient_ai.ts
  libs/langchain-community/src/embeddings/hf_transformers.ts
  libs/langchain-community/src/embeddings/minimax.ts
  libs/langchain-community/src/embeddings/voyage.ts
  libs/langchain-community/src/utils/chunk.ts
  libs/langchain-community/src/vectorstores/cloudflare_vectorize.ts
  libs/langchain-community/src/vectorstores/pinecone.ts
  libs/langchain-mistralai/src/embeddings.ts
  libs/langchain-openai/src/embeddings.ts
  libs/langchain-openai/src/llms.ts
  libs/langchain-openai/src/utils/chunk.ts
Labels: auto:refactor, size:M

#3729 community[major]: Together AI embeddings
  libs/langchain-community/.gitignore
  libs/langchain-community/package.json
  libs/langchain-community/scripts/create-entrypoints.js
  libs/langchain-community/src/embeddings/tests/togetherai.int.test.ts
  libs/langchain-community/src/embeddings/togetherai.ts
  libs/langchain-community/src/llms/togetherai.ts
  libs/langchain-community/src/load/import_map.ts
Labels: auto:enhancement, size:L

#3733 community[patch]: Fix bad chunk array import
  libs/langchain-community/src/embeddings/togetherai.ts
Labels: auto:nit, size:XS

#3721 Fix deserialisation of additional_kwargs and tool_call_id
  langchain-core/src/messages/index.ts
  langchain-core/src/messages/tests/base_message.test.ts
Labels: auto:bug, size:M

#3690 docs[major]: Generate API refs for all packages
  docs/api_refs/package.json
  docs/api_refs/scripts/create-entrypoints.js
  docs/api_refs/typedoc.json
  docs/api_refs/typedoc_plugins/hide_underscore_lc.js
  docs/core_docs/code-block-loader.js
  docs/core_docs/package.json
  langchain/scripts/create-entrypoints.js
  tsconfig.json
Labels: lgtm, auto:documentation, size:L

#3736 docs[patch]: Update visible docs structure to match Python
  .github/pull_request_template.md
  docs/core_docs/docs/integrations/document_loaders/web_loaders/recursive_url_loader.mdx
  docs/core_docs/docs/integrations/vectorstores/typeorm.mdx
  docs/core_docs/docs/modules/agents/index.mdx
  docs/core_docs/docs/modules/callbacks/index.mdx
  docs/core_docs/docs/modules/chains/index.mdx
  docs/core_docs/docs/modules/data_connection/experimental/multimodal_embeddings/google_vertex_ai.mdx
  docs/core_docs/docs/modules/data_connection/index.mdx
  docs/core_docs/docs/modules/experimental/index.mdx
  docs/core_docs/docs/modules/memory/index.mdx
  docs/core_docs/docs/modules/model_io/index.mdx
  docs/core_docs/sidebars.js
  libs/create-langchain-integration/helpers/default_file_contents.ts
Labels: auto:documentation, size:L

#3692 community[minor]: Adds optional IDs parameter to PGVectorStore add-* methods
  libs/langchain-community/src/vectorstores/pgvector.ts
  libs/langchain-community/src/vectorstores/tests/pgvector/pgvector.int.test.ts
Labels: lgtm, auto:improvement, size:M

#3737 langchain[patch]: fix:docx loader load error
  langchain/package.json
  langchain/src/document_loaders/fs/docx.ts
  yarn.lock
Labels: auto:bug, size:XS

#3739 core[release]: 0.1.4
  langchain-core/package.json
Labels: auto:nit, size:XS

#3740 community[release]: 0.0.9
  libs/langchain-community/package.json
Labels: auto:nit, size:XS

#3741 langchain[release]: 0.0.211
  langchain/package.json
Labels: auto:nit, size:XS

#3742 integration[patch]: Bump Anthropic SDK dep
  libs/langchain-anthropic/package.json
  yarn.lock
Labels: auto:nit, size:XS

#3743 integration[release]: @langchain/anthropic 0.0.8
  libs/langchain-anthropic/package.json
Labels: size:XS

#3748 Remove build artifacts
  langchain/callbacks/llmonitor.cjs
  langchain/callbacks/llmonitor.d.ts
  langchain/callbacks/llmonitor.js
Labels: auto:nit, size:XS

#3747 all[patch]: Add confirmation & skip export tests for non primary proj…
  CONTRIBUTING.md
  release_workspace.js
Labels: auto:improvement, size:L

#3751 core[patch]: Pass configurable as config when separating call options
  langchain-core/src/runnables/base.ts
  langchain/src/runnables/tests/runnable_remote.test.ts
Labels: auto:improvement, size:S

#3750 langchain[patch]: Adds warning when attempting to import from root entrypoint
  langchain/src/index.ts
Labels: auto:nit, size:XS

#3753 ci[minor]: Add workflow to build examples in CI
  .github/workflows/ci.yml
Labels: auto:improvement, size:S

#3754 integrations[patch]: Move OpenAI tests and add one for JSON mode caching
  libs/langchain-openai/package.json
  libs/langchain-openai/src/tests/chat_models-extended.int.test.ts
  libs/langchain-openai/src/tests/chat_models-vision.int.test.ts
  libs/langchain-openai/src/tests/chat_models.int.test.ts
  libs/langchain-openai/src/tests/data/hotdog.jpg
  libs/langchain-openai/src/tests/embeddings.int.test
  libs/langchain-openai/src/tests/legacy.int.test.ts
  libs/langchain-openai/src/tests/llms.int.test.ts
Labels: auto:improvement, size:L

#3727 community[minor]: Add support for Azure Cosmos DB vector store
  docs/api_refs/typedoc.json
  docs/core_docs/docs/integrations/vectorstores/azure_cosmosdb.mdx
  examples/package.json
  examples/src/indexes/vector_stores/azure_cosmosdb/.env.example
  examples/src/indexes/vector_stores/azure_cosmosdb/azure_cosmosdb.ts
  langchain/.env.example
  libs/langchain-community/.gitignore
  libs/langchain-community/package.json
  libs/langchain-community/scripts/create-entrypoints.js
  libs/langchain-community/src/load/import_constants.ts
  libs/langchain-community/src/load/import_type.d.ts
  libs/langchain-community/src/vectorstores/azure_cosmosdb.ts
  libs/langchain-community/src/vectorstores/tests/azure_cosmosdb.int.test.ts
  libs/langchain-community/src/vectorstores/tests/azure_cosmosdb.test.ts
  yarn.lock
Labels: lgtm, auto:enhancement, size:XL

#3757 community[patch]: Release 0.0.10
  libs/langchain-community/package.json
Labels: auto:nit, size:XS

#3759 docs[patch]: Update import
  examples/src/indexes/vector_stores/azure_cosmosdb/azure_cosmosdb.ts
Labels: auto:nit, size:XS

#3767 docs[patch]: Adds docs for streamLog
  docs/api_refs/typedoc.json
  docs/core_docs/docs/expression_language/interface.mdx
  examples/src/guides/expression_language/interface_stream_log.ts
Labels: auto:documentation, size:L

#3769 langchain[patch]: Release 0.0.212
  langchain/package.json
Labels: auto:nit, size:XS

#3732 feat: Add Astra DB Vector Store Integration
  docs/core_docs/docs/integrations/vectorstores/astradb.mdx
  examples/src/indexes/vector_stores/astra.ts
  libs/langchain-community/.gitignore
  libs/langchain-community/package.json
  libs/langchain-community/scripts/create-entrypoints.js
  libs/langchain-community/src/load/import_constants.ts
  libs/langchain-community/src/load/import_type.d.ts
  libs/langchain-community/src/vectorstores/astradb.ts
  libs/langchain-community/src/vectorstores/tests/astradb.int.test.ts
  yarn.lock
Labels: lgtm, auto:enhancement, size:XL

#3625 Add AzureOpenAI and AzureChatOpenAI classes for Python interop
  libs/langchain-openai/src/azure/chat_models.ts
  libs/langchain-openai/src/azure/llms.ts
  libs/langchain-openai/src/index.ts
Labels: hold, auto:enhancement, size:L

#3771 integrations[patch]: Bump version
  libs/langchain-openai/package.json
Labels: auto:nit, size:XS

#3772 community[patch]: Release 0.0.11
  libs/langchain-community/package.json
Labels: size:XS

#3788 Fix lint warnings
  libs/langchain-community/src/vectorstores/astradb.ts
Labels: auto:nit, size:S

#3792 core[minor]: Nc/dec26/runnable stream
  langchain-core/src/callbacks/manager.ts
  langchain-core/src/runnables/base.ts
  langchain-core/src/runnables/config.ts
  langchain-core/src/runnables/history.ts
  langchain-core/src/runnables/passthrough.ts
  langchain-core/src/runnables/tests/runnable_map.test.ts
  langchain-core/src/utils/stream.ts
  langchain-core/src/utils/testing/index.ts
  langchain/src/runnables/remote.ts
Labels: lgtm, auto:improvement, size:L

#3795 Implement optional message placeholder in js
  langchain-core/src/prompts/chat.ts
  langchain-core/src/prompts/tests/chat.test.ts
Labels: lgtm, auto:improvement, size:M

#3798 RunnablePassthrough.pick()
  langchain-core/src/runnables/passthrough.ts
  langchain-core/src/runnables/tests/runnable_map.test.ts
Labels: auto:improvement, size:L

#3799 core[patch]: Add LanguageModelLike type
  langchain-core/src/language_models/base.ts
Labels: auto:improvement, size:XS

#3789 template[patch]: Add lc_secrets to template code
  libs/create-langchain-integration/template/src/chat_models.ts
  libs/create-langchain-integration/template/src/llms.ts
  libs/create-langchain-integration/template/src/vectorstores.ts
Labels: auto:improvement, size:M

#3801 Implement stream for runnable lambda
  langchain-core/src/runnables/base.ts
  langchain-core/src/runnables/tests/runnable.test.ts
Labels: lgtm, auto:improvement, size:M
