Repository langchain-ai/langchainjs, pull requests merged in 2024-04, with the labels that each got.

#4930 docs[minor],langchain[minor],google-common[minor]: Add Gemini tools agent docs
  docs/core_docs/docs/integrations/chat/google_vertex_ai.mdx
  docs/core_docs/docs/integrations/chat/mistral.mdx
  examples/src/models/chat/chat_vertexai_agents.ts
  libs/langchain-google-common/src/tests/chat_models.test.ts
  libs/langchain-google-common/src/utils/common.ts
  libs/langchain-google-common/src/utils/gemini.ts
  libs/langchain-google-gauth/src/tests/chat_models.int.test.ts
  libs/langchain-google-gauth/src/tests/llms.int.test.ts
  libs/langchain-google-webauth/src/tests/chat_models.int.test.ts
Labels: auto:documentation, size:L

#4944 google-common[patch]: Release 0.0.3
  libs/langchain-google-common/package.json
Labels: size:XS

#4945 google-gauth[patch],google-webauth[patch]: Bump google common versions
  libs/langchain-google-gauth/package.json
  libs/langchain-google-webauth/package.json
  yarn.lock
Labels: size:XS

#4946 google-webauth[patch]: Release 0.0.3
  libs/langchain-google-webauth/package.json
Labels: size:XS

#4947 google-gauth[patch]: Release 0.0.2
  libs/langchain-google-gauth/package.json
Labels: size:XS

#4948 google-vertexai[patch],google-vertexai-web[patch]: Bump google gauth/…
  libs/langchain-google-vertexai-web/package.json
  libs/langchain-google-vertexai/package.json
  yarn.lock
Labels: size:XS

#4949 google-vertexai[patch]: Release 0.0.2
  libs/langchain-google-vertexai/package.json
Labels: size:XS

#4950 google-vertexai-web[patch]: Release 0.0.2
  libs/langchain-google-vertexai-web/package.json
Labels: size:XS

#4941 👥 Update LangChain people data
  docs/core_docs/data/people.yml
Labels: auto:documentation, size:L

#4958 docs[patch]: Fix code block import
  docs/core_docs/docs/integrations/chat/google_vertex_ai.mdx
Labels: auto:documentation, size:XS

#4943 community[minor]: Add DuckDuckGoSearch tool
  docs/core_docs/docs/integrations/tools/duckduckgo_search.mdx
  examples/package.json
  examples/src/tools/duckduckgo_search_agent.ts
  examples/src/tools/duckduckgo_search_simple.ts
  libs/langchain-community/.gitignore
  libs/langchain-community/langchain.config.js
  libs/langchain-community/package.json
  libs/langchain-community/src/tools/duckduckgo_search.ts
  yarn.lock
Labels: lgtm, in progress, auto:enhancement, size:L

#4931 core[patch]: Add isZodSchema to core utils
  langchain-core/.gitignore
  langchain-core/langchain.config.js
  langchain-core/package.json
  langchain-core/src/callbacks/base.ts
  langchain-core/src/callbacks/manager.ts
  langchain-core/src/callbacks/tests/callbacks.test.ts
  langchain-core/src/example_selectors/conditional.ts
  langchain-core/src/load/import_map.ts
  langchain-core/src/messages/index.ts
  langchain-core/src/prompts/base.ts
  langchain-core/src/prompts/chat.ts
  langchain-core/src/prompts/few_shot.ts
  langchain-core/src/prompts/image.ts
  langchain-core/src/prompts/pipeline.ts
  langchain-core/src/prompts/prompt.ts
  langchain-core/src/prompts/string.ts
  langchain-core/src/prompts/structured.ts
  langchain-core/src/prompts/template.ts
  langchain-core/src/tracers/base.ts
  langchain-core/src/tracers/tracer_langchain_v1.ts
  langchain-core/src/utils/types/index.ts
  langchain-core/src/utils/types/is_zod_schema.ts
Labels: auto:improvement, size:M

#4932 core[minor]: Add document compressor class to core
  langchain-core/.gitignore
  langchain-core/langchain.config.js
  langchain-core/package.json
  langchain-core/src/load/import_map.ts
  langchain-core/src/retrievers/document_compressors/base.ts
  langchain-core/src/retrievers/index.ts
  langchain-core/src/utils/testing/index.ts
  langchain-core/src/vectorstores.ts
Labels: auto:improvement, size:M

#4914 community[patch]: Add experimental Neo4j graph transformer
  libs/langchain-community/.gitignore
  libs/langchain-community/langchain.config.js
  libs/langchain-community/package.json
  libs/langchain-community/src/experimental/graph_transformers/llm.int.test.ts
  libs/langchain-community/src/experimental/graph_transformers/llm.ts
  libs/langchain-community/src/graphs/neo4j_graph.ts
  yarn.lock
Labels: lgtm, auto:enhancement, size:L

#4942 community[patch]: llama cpp stream generation and abort by invoke method
  docs/core_docs/docs/integrations/chat/llama_cpp.mdx
  examples/src/models/chat/integration_llama_cpp_stream_invoke.ts
  libs/langchain-community/src/chat_models/llama_cpp.ts
  libs/langchain-community/src/chat_models/tests/chatllama_cpp.int.test.ts
Labels: auto:improvement, size:L

#4961 core[patch]: Release 0.1.53
  langchain-core/package.json
Labels: size:XS

#4957 docs[patch]: Add wrapping library metadata to MongoDB docs example
  examples/src/memory/mongodb.ts
Labels: lgtm, auto:documentation, size:XS

#4962 community[patch]: Release 0.0.44
  libs/langchain-community/package.json
Labels: size:XS

#4970 groq[patch]: Release 0.0.6
  libs/langchain-groq/package.json
Labels: size:XS

#4954 core[minor]: Add runId to RunnableConfig
  langchain-core/src/callbacks/manager.ts
  langchain-core/src/language_models/chat_models.ts
  langchain-core/src/language_models/llms.ts
  langchain-core/src/retrievers/index.ts
  langchain-core/src/runnables/base.ts
  langchain-core/src/runnables/branch.ts
  langchain-core/src/runnables/config.ts
  langchain-core/src/runnables/tests/runnable.test.ts
  langchain-core/src/tools.ts
  langchain-core/src/utils/testing/index.ts
Labels: question, auto:improvement, size:L

#4964 azure-openai[patch]: fix azureOpenAIApiKey not working
  libs/langchain-azure-openai/src/chat_models.ts
  libs/langchain-azure-openai/src/embeddings.ts
  libs/langchain-azure-openai/src/llms.ts
  libs/langchain-azure-openai/src/tests/chat_models.int.test.ts
  libs/langchain-azure-openai/src/tests/embeddings.int.test.ts
  libs/langchain-azure-openai/src/tests/llms.int.test.ts
Labels: auto:bug, size:L

#4971 azure-openai[patch]: Release 0.0.6
  libs/langchain-azure-openai/package.json
Labels: size:XS

#4972 openai[patch], langchain[patch]: Update OpenAI version, remove assistant types
  langchain/package.json
  langchain/src/experimental/openai_assistant/index.ts
  langchain/src/experimental/openai_assistant/schema.ts
  langchain/src/experimental/openai_assistant/tests/openai_assistant.int.test.ts
  langchain/src/tools/convert_to_openai.ts
  libs/langchain-openai/package.json
  libs/langchain-openai/src/utils/openai.ts
  yarn.lock
Labels: auto:improvement, size:M

#4975 Release 0.1.31
  langchain/package.json
Labels: size:XS

#4978 Brace/anthropic tools
  docs/core_docs/docs/integrations/chat/anthropic.mdx
  docs/core_docs/docs/integrations/chat/anthropic_tools.mdx
  examples/src/models/chat/integration_anthropic_multi_tool.ts
  examples/src/models/chat/integration_anthropic_single_tool.ts
  examples/src/models/chat/integration_anthropic_wsa.ts
  langchain-core/src/messages/index.ts
  langchain-core/src/output_parsers/string.ts
  langchain-core/src/prompts/chat.ts
  libs/langchain-anthropic/src/chat_models.ts
  libs/langchain-anthropic/src/experimental/tool_calling.ts
  libs/langchain-anthropic/src/output_parsers.ts
  libs/langchain-anthropic/src/tests/chat_models.int.test.ts
  libs/langchain-anthropic/src/types.ts
  libs/langchain-google-common/src/utils/gemini.ts
Labels: auto:enhancement, size:XXL

#4979 core[patch]: Release 0.1.54
  langchain-core/package.json
Labels: size:XS

#4980 anthropic[patch]: Bump core version
  libs/langchain-anthropic/package.json
  yarn.lock
Labels: size:XS

#4981 anthropic[patch]: Release 0.1.10
  libs/langchain-anthropic/package.json
Labels: size:XS

#4982 core[minor]: Add new FakeStreamingChatModel & update test
  langchain-core/src/runnables/tests/runnable.test.ts
  langchain-core/src/utils/testing/index.ts
Labels: auto:improvement, size:M

#4990 core[patch]: Format
  langchain-core/src/utils/testing/index.ts
Labels: auto:nit, size:S

#4989 core[patch]: Fix handling custom run id in sequence streams
  langchain-core/src/runnables/base.ts
Labels: auto:bug, size:S

#4960 langchain[patch]: SelfQueryRetriever - fallback to similarity search
  langchain/src/retrievers/self_query/index.ts
Labels: lgtm, auto:improvement, size:S

#4993 scripts[minor]:Some symbols have empty declarations
  libs/langchain-scripts/src/migrations/0_1.ts
Labels: lgtm, auto:bug, size:XS

#5017 langchain[patch]: Make thrown evaluator errors not interrupt dataset flow
  langchain/src/smith/runner_utils.ts
  langchain/src/smith/tests/run_on_dataset.int.test.ts
Labels: lgtm, auto:improvement, size:M

#4926 community[minor]: feat: BaiduQianfan embeddings
  docs/core_docs/docs/integrations/text_embedding/baidu_qianfan.mdx
  examples/src/embeddings/baidu_qianfan.ts
  libs/langchain-community/.gitignore
  libs/langchain-community/langchain.config.js
  libs/langchain-community/package.json
  libs/langchain-community/src/embeddings/baidu_qianfan.ts
  libs/langchain-community/src/embeddings/tests/baidu_qianfan.int.test.ts
Labels: lgtm, auto:enhancement, size:L

#5008 community[patch]: Fix issue in Neo4jGraph.addGraphDocuments function where Document node is not populating text content
  libs/langchain-community/src/graphs/neo4j_graph.ts
Labels: lgtm, auto:bug, size:XS

#5002 docs[patch]: Fix typo in retrievers section
  docs/core_docs/docs/modules/data_connection/retrievers/index.mdx
Labels: lgtm, auto:documentation, size:XS

#4985 docs[patch]: Add main graph construction docs
  docs/core_docs/docs/use_cases/graph/construction.ipynb
  docs/core_docs/docs/use_cases/graph/index.ipynb
  docs/core_docs/docs/use_cases/graph/quickstart.ipynb
  docs/core_docs/static/img/graph_construction1.png
  docs/core_docs/static/img/graph_construction2.png
Labels: lgtm, auto:documentation, size:L

#5021 core[patch]: Release 0.1.55
  langchain-core/package.json
Labels: size:XS

#5022 community[patch]: Release 0.0.45
  libs/langchain-community/package.json
Labels: size:XS

#5023 Release 0.1.32
  langchain/package.json
Labels: size:XS

#5026 anthropic[patch]: Add Zod validation, update Anthropic SDK version
  libs/langchain-anthropic/package.json
  libs/langchain-anthropic/src/chat_models.ts
  libs/langchain-anthropic/src/experimental/tests/tool_calling.int.test.ts
  libs/langchain-anthropic/src/output_parsers.ts
  libs/langchain-anthropic/src/tests/chat_models.test.ts
  yarn.lock
Labels: auto:improvement, size:L

#5027 anthropic[patch]: Release 0.1.11
  libs/langchain-anthropic/package.json
Labels: size:XS

#5024 google-common[minor]: Fix single token response issue
  libs/langchain-google-common/src/utils/gemini.ts
Labels: size:S

#5032 google-gauth[patch],google-webauth[patch]: Release 0.0.3
  libs/langchain-google-gauth/package.json
  libs/langchain-google-webauth/package.json
  yarn.lock
Labels: size:XS

#5034 anthropic[patch]: Support tool use message parts
  libs/langchain-anthropic/src/chat_models.ts
Labels: auto:improvement, size:S

#5035 anthropic[patch]: 0.1.12
  libs/langchain-anthropic/package.json
Labels: size:XS

#5040 community[patch]: Release 0.0.46
  libs/langchain-community/package.json
Labels: size:XS

#5041 [patch]: Many releases
  libs/langchain-anthropic/package.json
  libs/langchain-azure-openai/package.json
  libs/langchain-cloudflare/package.json
  libs/langchain-google-genai/package.json
  libs/langchain-groq/package.json
  libs/langchain-mistralai/package.json
  libs/langchain-nomic/package.json
  libs/langchain-openai/package.json
Labels: size:S

#5042 docs[patch],examples[patch]: Add tooltip with note about unified model params
  docs/core_docs/docs/expression_language/get_started.mdx
  docs/core_docs/docs/get_started/quickstart.mdx
  docs/core_docs/docs/integrations/chat/anthropic.mdx
  docs/core_docs/docs/integrations/chat/anthropic_tools.mdx
  docs/core_docs/docs/integrations/chat/azure.mdx
  docs/core_docs/docs/integrations/chat/bedrock.mdx
  docs/core_docs/docs/integrations/chat/cloudflare_workersai.mdx
  docs/core_docs/docs/integrations/chat/fireworks.mdx
  docs/core_docs/docs/integrations/chat/google_generativeai.mdx
  docs/core_docs/docs/integrations/chat/google_palm.mdx
  docs/core_docs/docs/integrations/chat/google_vertex_ai.mdx
  docs/core_docs/docs/integrations/chat/groq.mdx
  docs/core_docs/docs/integrations/chat/minimax.mdx
  docs/core_docs/docs/integrations/chat/mistral.mdx
  docs/core_docs/docs/integrations/chat/openai.mdx
  docs/core_docs/docs/integrations/chat/togetherai.mdx
  docs/core_docs/docs/integrations/llms/azure.mdx
  docs/core_docs/docs/integrations/llms/huggingface_inference.mdx
  docs/core_docs/docs/integrations/llms/openai.mdx
  docs/core_docs/docs/integrations/text_embedding/azure_openai.mdx
  docs/core_docs/docs/integrations/text_embedding/bedrock.mdx
  docs/core_docs/docs/mdx_components/unified_model_params_tooltip.mdx
  docs/core_docs/docs/modules/model_io/chat/caching.mdx
  docs/core_docs/docs/modules/model_io/chat/custom_chat.mdx
  docs/core_docs/docs/modules/model_io/chat/quick_start.mdx
  docs/core_docs/docs/modules/model_io/chat/streaming.mdx
  docs/core_docs/docs/modules/model_io/quick_start.mdx
  docs/core_docs/docs/use_cases/graph/construction.ipynb
  docs/core_docs/docs/use_cases/graph/quickstart.ipynb
Labels: auto:documentation, size:XXL

#5019 core[minor]: Standardize tool calling
  docs/core_docs/.gitignore
  langchain-core/.gitignore
  langchain-core/langchain.config.js
  langchain-core/package.json
  langchain-core/src/agents.ts
  langchain-core/src/language_models/chat_models.ts
  langchain-core/src/messages/ai.ts
  langchain-core/src/messages/base.ts
  langchain-core/src/messages/chat.ts
  langchain-core/src/messages/function.ts
  langchain-core/src/messages/human.ts
  langchain-core/src/messages/index.ts
  langchain-core/src/messages/system.ts
  langchain-core/src/messages/tool.ts
  langchain-core/src/messages/utils.ts
  langchain-core/src/output_parsers/json.ts
  langchain-core/src/output_parsers/openai_tools/json_output_tools_parsers.ts
  langchain-core/src/output_parsers/transform.ts
  langchain-core/src/runnables/tests/runnable.test.ts
  langchain-core/src/utils/function_calling.ts
  langchain-core/src/utils/json.ts
  langchain-core/src/utils/testing/index.ts
  langchain/package.json
  langchain/src/agents/format_scratchpad/openai_tools.ts
  langchain/src/agents/format_scratchpad/tool_calling.ts
  langchain/src/agents/index.ts
  langchain/src/agents/openai_tools/index.ts
  langchain/src/agents/openai_tools/output_parser.ts
  langchain/src/agents/tests/chat_convo_output_parser_with_retries.int.test.ts
  langchain/src/agents/tests/create_tool_calling_agent.int.test.ts
  langchain/src/agents/tool_calling/index.ts
  langchain/src/agents/tool_calling/output_parser.ts
  libs/langchain-anthropic/src/chat_models.ts
  libs/langchain-anthropic/src/output_parsers.ts
  libs/langchain-anthropic/src/tests/agent.int.test.ts
  libs/langchain-anthropic/src/tests/chat_models-tools.int.test.ts
  libs/langchain-anthropic/src/tests/chat_models.int.test.ts
  libs/langchain-community/package.json
  libs/langchain-community/src/chat_models/fireworks.ts
  libs/langchain-community/src/chat_models/tests/chatfireworks-agent.int.test.ts
  libs/langchain-community/src/chat_models/tests/chatfireworks.int.test.ts
  libs/langchain-google-common/package.json
  libs/langchain-google-common/src/auth.ts
  libs/langchain-google-common/src/chat_models.ts
  libs/langchain-google-common/src/utils/common.ts
  libs/langchain-google-common/src/utils/gemini.ts
  libs/langchain-google-common/src/utils/zod_to_gemini_parameters.ts
  libs/langchain-google-vertexai-web/package.json
  libs/langchain-google-vertexai-web/src/tests/agent.int.test.ts
  libs/langchain-google-vertexai-web/src/tests/chat_models.int.test.ts
  libs/langchain-groq/src/chat_models.ts
  libs/langchain-groq/src/tests/chat_models.int.test.ts
  libs/langchain-mistralai/package.json
  libs/langchain-mistralai/src/chat_models.ts
  libs/langchain-mistralai/src/tests/agent.int.test.ts
  libs/langchain-mistralai/src/tests/chat_models.int.test.ts
  libs/langchain-openai/src/chat_models.ts
  libs/langchain-openai/src/tests/chat_models-extended.int.test.ts
  yarn.lock
Labels: auto:improvement, auto:documentation, size:XXL

#5047 core[patch]: Release 0.1.56
  langchain-core/package.json
Labels: size:XS

#5049 multiple[patch]: Bump core deps
  langchain/package.json
  libs/langchain-anthropic/package.json
  libs/langchain-community/package.json
  libs/langchain-google-common/package.json
  libs/langchain-google-gauth/package.json
  libs/langchain-google-vertexai-web/package.json
  libs/langchain-google-vertexai/package.json
  libs/langchain-google-webauth/package.json
  libs/langchain-groq/package.json
  libs/langchain-mistralai/package.json
  libs/langchain-openai/package.json
  yarn.lock
Labels: auto:nit, size:S

#5050 openai[patch]: Release 0.0.28
  libs/langchain-openai/package.json
Labels: auto:nit, size:XS

#5051 multiple[patch]: Bump OpenAI deps
  deno.json
  langchain/package.json
  libs/langchain-community/package.json
  libs/langchain-groq/package.json
  yarn.lock
Labels: auto:nit, size:S

#5052 anthropic[patch]: Release 0.1.14
  libs/langchain-anthropic/package.json
Labels: auto:nit, size:XS

#5053 groq[patch]: Release 0.0.8
  libs/langchain-groq/package.json
Labels: size:XS

#5054 mistralai[patch]: Release 0.0.18
  libs/langchain-mistralai/package.json
Labels: size:XS

#5055 community[patch]: Release 0.0.47
  libs/langchain-community/package.json
Labels: auto:nit, size:XS

#5056 Bump community dep
  langchain/package.json
  yarn.lock
Labels: size:XS

#5043 core[minor],google-common[minor]: Add support for generic objects in prompts, gemini audio/video docs
  docs/core_docs/.gitignore
  docs/core_docs/docs/use_cases/media.mdx
  examples/src/use_cases/media/audio.ts
  examples/src/use_cases/media/video.ts
  langchain-core/src/prompts/chat.ts
  libs/langchain-google-common/src/utils/common.ts
  libs/langchain-google-common/src/utils/gemini.ts
  libs/langchain-google-gauth/package.json
  libs/langchain-google-gauth/src/tests/chat_models.audio.int.test.ts
  yarn.lock
Labels: auto:improvement, auto:documentation, size:L

#5058 google[patch]: Release Google integration packages
  libs/langchain-google-common/package.json
  libs/langchain-google-gauth/langchain.config.js
  libs/langchain-google-gauth/package.json
  libs/langchain-google-vertexai-web/langchain.config.js
  libs/langchain-google-vertexai-web/package.json
  libs/langchain-google-vertexai/langchain.config.js
  libs/langchain-google-vertexai/package.json
  libs/langchain-google-webauth/langchain.config.js
  libs/langchain-google-webauth/package.json
  yarn.lock
Labels: size:S

#5059 core[patch]: Release 0.1.57
  langchain-core/package.json
Labels: size:XS

#5060 Release 0.1.33
  langchain/package.json
Labels: size:XS

#5066 docs[patch]: Update copy
  docs/core_docs/docs/modules/agents/agent_types/tool_calling.ipynb
  docs/core_docs/docs/modules/model_io/chat/function_calling.ipynb
Labels: auto:documentation, size:XS

#5067 google-common[patch]: Release 0.0.9
  libs/langchain-google-common/package.json
Labels: size:XS

#5063 experimental[patch]: Fixed : order to descending to ensure matching of run ID with OpenAI'…
  langchain/src/experimental/openai_assistant/index.ts
Labels: lgtm, auto:bug, size:XS

#5045 langchain[patch]: fix: make GithubRepoLoader robust against .gitmodules files w/o newline
  langchain/src/document_loaders/web/github.ts
Labels: lgtm, auto:bug, size:XS

#5080 community[patch]: deps: bump astra-client to ^1.0.0
  libs/langchain-community/package.json
  libs/langchain-community/src/stores/message/astradb.ts
  libs/langchain-community/src/stores/tests/astradb.int.test.ts
  libs/langchain-community/src/vectorstores/astradb.ts
  libs/langchain-community/src/vectorstores/tests/astradb.int.test.ts
  yarn.lock
Labels: lgtm, auto:nit, size:M

#5025 community[patch]: update libs/langchain-community/src/vectorstores/analyticdb.ts
  libs/langchain-community/src/vectorstores/analyticdb.ts
Labels: question, auto:bug, size:S

#4984 community[minor]: VectorStore integration for SAP HANA Cloud Vector Engine
  docs/api_refs/blacklisted-entrypoints.json
  docs/core_docs/docs/integrations/vectorstores/hanavector.mdx
  examples/.env.example
  examples/package.json
  examples/src/indexes/vector_stores/hana_vector/.env.example
  examples/src/indexes/vector_stores/hana_vector/basics.ts
  examples/src/indexes/vector_stores/hana_vector/chains.ts
  examples/src/indexes/vector_stores/hana_vector/fromDocs.ts
  examples/src/indexes/vector_stores/hana_vector/fromTexts.ts
  examples/src/indexes/vector_stores/hana_vector/hdb.d.ts
  libs/langchain-community/.gitignore
  libs/langchain-community/langchain.config.js
  libs/langchain-community/package.json
  libs/langchain-community/src/vectorstores/hanavector.ts
  libs/langchain-community/src/vectorstores/tests/hanavector.int.test.ts
  libs/langchain-community/src/vectorstores/tests/hanavector.test.ts
  libs/langchain-community/src/vectorstores/tests/hdb.d.ts
  yarn.lock
Labels: lgtm, auto:enhancement, size:XXL

#5085 community[patch]: Release 0.0.48
  libs/langchain-community/package.json
Labels: auto:nit, size:XS

#5105 google-common[patch]: Fix Google Vertex-powered agent with no tools
  libs/langchain-google-common/src/connection.ts
Labels: auto:bug, size:S

#5102 docs[patch]: fix typo
  docs/core_docs/docs/use_cases/extraction/index.ipynb
Labels: auto:documentation, size:XS

#5098 cohere[patch]: Add system type
  libs/langchain-cohere/package.json
  libs/langchain-cohere/src/chat_models.ts
  yarn.lock
Labels: lgtm, auto:improvement, size:XS

#5097 langchain[patch],docs[patch]: Remove unnecessary `await` from `SelfQueryRetriever.fromLLM` calls
  docs/core_docs/docs/modules/data_connection/retrievers/self_query/chroma-self-query.mdx
  docs/core_docs/docs/modules/data_connection/retrievers/self_query/hnswlib-self-query.mdx
  docs/core_docs/docs/modules/data_connection/retrievers/self_query/index.mdx
  docs/core_docs/docs/modules/data_connection/retrievers/self_query/memory-self-query.mdx
  docs/core_docs/docs/modules/data_connection/retrievers/self_query/pinecone-self-query.mdx
  docs/core_docs/docs/modules/data_connection/retrievers/self_query/supabase-self-query.mdx
  docs/core_docs/docs/modules/data_connection/retrievers/self_query/vectara-self-query.mdx
  docs/core_docs/docs/modules/data_connection/retrievers/self_query/weaviate-self-query.mdx
  examples/src/retrievers/chroma_self_query.ts
  examples/src/retrievers/hnswlib_self_query.ts
  examples/src/retrievers/memory_self_query.ts
  examples/src/retrievers/pinecone_self_query.ts
  examples/src/retrievers/supabase_self_query.ts
  examples/src/retrievers/vectara_self_query.ts
  examples/src/retrievers/weaviate_self_query.ts
  langchain/src/retrievers/self_query/index.ts
  langchain/src/retrievers/self_query/pinecone.ts
  langchain/src/retrievers/self_query/tests/chroma_self_query.int.test.ts
  langchain/src/retrievers/self_query/tests/hnswlib_self_query.int.test.ts
  langchain/src/retrievers/self_query/tests/memory_self_query.int.test.ts
  langchain/src/retrievers/self_query/tests/pinecone_self_query.int.test.ts
  langchain/src/retrievers/self_query/tests/supabase_self_query.int.test.ts
  langchain/src/retrievers/self_query/tests/vectara_self_query.int.test.ts
  langchain/src/retrievers/self_query/tests/weaviate_self_query.int.test.ts
Labels: lgtm, auto:nit, auto:documentation, size:M

#5099 core[patch]: Update ai.ts
  langchain-core/src/messages/ai.ts
Labels: lgtm, auto:bug, size:XS

#5107 redis[patch]: Release 0.0.3
  libs/langchain-redis/package.json
Labels: size:XS

#5004 community[minor]: Integration for `Friendli` LLM and `ChatFriendli` ChatModel.
  docs/core_docs/docs/integrations/chat/friendli.mdx
  docs/core_docs/docs/integrations/llms/friendli.mdx
  examples/.env.example
  examples/src/models/chat/friendli.ts
  examples/src/models/llm/friendli.ts
  libs/langchain-community/.gitignore
  libs/langchain-community/langchain.config.js
  libs/langchain-community/package.json
  libs/langchain-community/src/chat_models/friendli.ts
  libs/langchain-community/src/chat_models/tests/chatfriendli.int.test.ts
  libs/langchain-community/src/llms/friendli.ts
  libs/langchain-community/src/llms/tests/friendli.int.test.ts
  libs/langchain-community/src/load/import_constants.ts
  libs/langchain-community/src/load/import_map.ts
  libs/langchain-community/src/load/import_type.ts
Labels: lgtm, auto:enhancement, auto:documentation, size:XL

#5108 docs[patch]: Improve release docs
  CONTRIBUTING.md
Labels: auto:documentation, size:S

#5109 cohere[patch]: Release 0.0.7
  libs/langchain-cohere/package.json
Labels: auto:nit, size:XS

#5110 community[patch]: Release 0.0.49
  libs/langchain-community/package.json
Labels: auto:nit, size:XS

#5111 Update `CONTRIBUTING.md`
  CONTRIBUTING.md
Labels: auto:documentation, size:XS

#5084 docs[minor],core[minor]: Add support for mustache templates
  docs/core_docs/docs/modules/model_io/prompts/quick_start.mdx
  examples/src/prompts/quickstart/basic_fstring.ts
  examples/src/prompts/quickstart/basic_mustache.ts
  examples/src/prompts/quickstart/hard_coded_fstring.ts
  examples/src/prompts/quickstart/hard_coded_mustache.ts
  examples/src/prompts/quickstart/input_vars_fstring.ts
  examples/src/prompts/quickstart/input_vars_mustache.ts
  examples/src/prompts/quickstart/test.ts
  langchain-core/package.json
  langchain-core/src/prompts/chat.ts
  langchain-core/src/prompts/prompt.ts
  langchain-core/src/prompts/template.ts
  langchain-core/src/prompts/tests/chat.mustache.test.ts
  langchain-core/src/prompts/tests/prompt.mustache.test.ts
  langchain-core/src/prompts/tests/structured.test.ts
  yarn.lock
Labels: lgtm, auto:improvement, auto:documentation, size:XL

#5112 core[patch]: Release 0.1.58
  langchain-core/package.json
Labels: auto:nit, size:XS

#5117 docs[patch]: Fix code block formatting
  docs/core_docs/docs/modules/model_io/prompts/quick_start.mdx
Labels: auto:documentation, size:XS

#5120 anthropic[patch]: Support text content in AIMessage tool responses
  libs/langchain-anthropic/src/chat_models.ts
  libs/langchain-anthropic/src/tests/chat_models-tools.int.test.ts
Labels: lgtm, auto:improvement, size:M

#5121 anthropic[patch]: Release 0.1.15
  libs/langchain-anthropic/package.json
Labels: size:XS

#5122 anthropic[patch],google-common[patch]: Update response_metadata fields
  libs/langchain-anthropic/src/chat_models.ts
  libs/langchain-anthropic/src/tests/chat_models.int.test.ts
  libs/langchain-google-common/src/types.ts
  libs/langchain-google-common/src/utils/gemini.ts
  libs/langchain-google-vertexai-web/src/tests/chat_models.int.test.ts
  libs/langchain-google-webauth/src/tests/chat_models.int.test.ts
Labels: auto:improvement, size:M

#5123 google-common[patch]: Release 0.0.10
  libs/langchain-google-common/package.json
Labels: size:XS

#5124 anthropic[patch]: Release 0.1.16
  libs/langchain-anthropic/package.json
Labels: size:XS

#5125 docs[patch]: Update token usage tracking and response metadata docs
  deno.json
  docs/core_docs/docs/modules/model_io/chat/response_metadata.ipynb
  docs/core_docs/docs/modules/model_io/chat/token_usage_tracking.mdx
  examples/src/models/chat/token_usage_tracking.ts
  examples/src/models/chat/token_usage_tracking_anthropic.ts
  examples/src/models/chat/token_usage_tracking_callback.ts
Labels: auto:documentation, size:L

#5132 community[patch]: Add Metadata Filtering for Upstash Vector Store
  docs/core_docs/docs/integrations/vectorstores/upstash.mdx
  examples/package.json
  libs/langchain-community/package.json
  libs/langchain-community/src/vectorstores/tests/upstash.int.test.ts
  libs/langchain-community/src/vectorstores/upstash.ts
  yarn.lock
Labels: lgtm, auto:improvement, auto:documentation, size:M

#5119 community[patch]: Add support for more WenXin models
  docs/core_docs/docs/integrations/chat/baidu_wenxin.mdx
  examples/src/models/chat/integration_baiduwenxin.ts
  libs/langchain-community/src/chat_models/baiduwenxin.ts
Labels: lgtm, auto:improvement, size:M

#5089 google-common[minor]: Support Gemini system messages
  libs/langchain-google-common/src/chat_models.ts
  libs/langchain-google-common/src/connection.ts
  libs/langchain-google-common/src/tests/chat_models.test.ts
  libs/langchain-google-common/src/types.ts
  libs/langchain-google-common/src/utils/common.ts
  libs/langchain-google-common/src/utils/gemini.ts
  libs/langchain-google-vertexai-web/src/tests/chat_models.int.test.ts
Labels: auto:improvement, size:L

#5130 community[patch]: Fix issue in LLMGraphTransformer.convertToGraphDocuments function where it fails sometimes when prompt chain to fetch nodes and relationships returns null or missing data
  libs/langchain-community/src/experimental/graph_transformers/llm.ts
Labels: lgtm, auto:bug, size:S

#5136 google[patch]: Release 0.0.11
  libs/langchain-google-common/package.json
  libs/langchain-google-gauth/package.json
  libs/langchain-google-vertexai-web/package.json
  libs/langchain-google-vertexai/package.json
  libs/langchain-google-webauth/package.json
  yarn.lock
Labels: auto:nit, size:S

#5093 langchain[patch]: Adds metadata to vectorstore retriever memory
  examples/src/memory/vector_store.ts
  langchain/src/memory/tests/vector_store_memory.int.test.ts
  langchain/src/memory/vector_store.ts
Labels: lgtm, auto:improvement, size:L

#5137 community[patch]: Release 0.0.50
  libs/langchain-community/package.json
Labels: size:XS

#5138 Release 0.1.34
  langchain/package.json
Labels: size:XS

#5139 mistralai[patch]: Fix non-tool calling Mistral models
  libs/langchain-mistralai/src/chat_models.ts
  libs/langchain-mistralai/src/tests/chat_models.int.test.ts
Labels: auto:bug, size:XS

#5140 mistralai[patch]: Release 0.0.19
  libs/langchain-mistralai/package.json
Labels: size:XS

#5141 docs[patch]: Adds invocation params doc
  docs/core_docs/docs/modules/model_io/chat/custom_chat.mdx
Labels: auto:documentation, size:M

#5147 fix: incorrect text_type type declaration in Alibaba Tongyi Embeddings
  libs/langchain-community/src/embeddings/alibaba_tongyi.ts
Labels: lgtm, auto:bug, auto:documentation, size:XS

#5173 docs[patch]: Fix docs build
  docs/core_docs/package.json
  docs/core_docs/scripts/vercel_build.sh
  environment_tests/test-exports-bun/package.json
  environment_tests/test-exports-cjs/package.json
  environment_tests/test-exports-esbuild/package.json
  environment_tests/test-exports-esm/package.json
  libs/langchain-community/package.json
  libs/langchain-google-genai/package.json
  yarn.lock
Labels: auto:documentation, size:S

#5152 add neon postgres as a vector store
  docs/core_docs/docs/integrations/vectorstores/neon.mdx
  examples/src/indexes/vector_stores/neon/example.ts
  libs/langchain-community/.gitignore
  libs/langchain-community/langchain.config.js
  libs/langchain-community/package.json
  libs/langchain-community/src/vectorstores/neon.ts
  yarn.lock
Labels: lgtm, auto:enhancement, auto:documentation, size:XL

#5158 Update history aware chain usage doc
  langchain/src/chains/history_aware_retriever.ts
Labels: lgtm, auto:documentation, size:XS

#5142 community[patch]: astradb: set collection checkExists=false by default
  libs/langchain-community/package.json
  libs/langchain-community/src/vectorstores/astradb.ts
  libs/langchain-community/src/vectorstores/tests/astradb.int.test.ts
  yarn.lock
Labels: lgtm, auto:improvement, auto:nit, size:S

#5115 google-genai[patch]: update google/generative-ai version
  examples/package.json
  libs/langchain-google-genai/package.json
  libs/langchain-google-genai/src/chat_models.ts
  libs/langchain-google-genai/src/utils.ts
  yarn.lock
Labels: lgtm, auto:improvement, size:S

#5145 community[patch]: Invoke toTitleCase only when string is present to avoid errors
  libs/langchain-community/src/experimental/graph_transformers/llm.ts
Labels: lgtm, auto:bug, auto:nit, size:S

#5174 google-genai[patch]: Release 0.0.12
  libs/langchain-google-genai/package.json
Labels: size:XS

#5165 community[patch]: allow dynamic opensearch vector, text, and metadata field names
  libs/langchain-community/src/vectorstores/opensearch.ts
Labels: lgtm, auto:improvement, size:M

#5172 community[patch]: refactor: configurable payload keys in Qdrant vectorstore
  docs/core_docs/docs/integrations/vectorstores/qdrant.mdx
  libs/langchain-community/src/vectorstores/qdrant.ts
Labels: lgtm, auto:refactor, size:S

#5170 community[patch]: AstraDB: add option to skip create collection call
  libs/langchain-community/src/vectorstores/astradb.ts
  libs/langchain-community/src/vectorstores/tests/astradb.int.test.ts
Labels: lgtm, auto:improvement, size:M

#5127 langchain[patch]: Parallelize applyEvaluators used by `runOnDataset`
  langchain/src/smith/runner_utils.ts
Labels: lgtm, auto:improvement, size:M

#5171 docs[patch]: Update Memgraph docs
  docs/core_docs/docs/modules/data_connection/experimental/graph_databases/memgraph.mdx
Labels: lgtm, auto:documentation, size:S

#5176 community[patch]: Release 0.0.51
  libs/langchain-community/package.json
Labels: size:XS

#5175 docs[minor]: Make providers index page show all integration pkgs
  docs/core_docs/.gitignore
  docs/core_docs/docs/integrations/platforms/index.mdx
  docs/core_docs/sidebars.js
Labels: auto:documentation, size:M

#5177 cohere[patch]: Make CohereRerank extend BaseDocumentCompressor
  libs/langchain-cohere/package.json
  libs/langchain-cohere/src/rerank.ts
  yarn.lock
Labels: auto:improvement, size:XS

#5178 cohere[patch]: Release 0.0.8
  libs/langchain-cohere/package.json
Labels: size:XS

#4738 langchain[patch]: Add possibility to rerank retrieved docs in ParentDocumentRetriever and MultiQueryRetriever
  docs/core_docs/docs/modules/data_connection/retrievers/parent-document-retriever.mdx
  examples/src/retrievers/parent_document_retriever_rerank.ts
  langchain/src/retrievers/multi_query.ts
  langchain/src/retrievers/parent_document.ts
Labels: lgtm, auto:improvement, size:L

#5179 Release 0.1.35
  langchain/package.json
Labels: auto:nit, size:XS

#5081 core[patch]: Passing the input object to the Retry Attempt Handler.
  langchain-core/src/runnables/base.ts
  langchain-core/src/runnables/tests/runnable_retry.test.ts
Labels: lgtm, auto:improvement, size:M

#5160 core[patch]: Fix "Bad control character in string literal"
  langchain-core/src/output_parsers/structured.ts
  langchain-core/src/output_parsers/tests/structured.test.ts
Labels: question, lgtm, auto:bug, size:M

#5181 core[patch]: 0.1.59
  langchain-core/package.json
Labels: size:XS

#5183 textsplitters[major]: Init text splitter package
  langchain/package.json
  langchain/src/text_splitter.ts
  libs/langchain-textsplitters/.eslintrc.cjs
  libs/langchain-textsplitters/.gitignore
  libs/langchain-textsplitters/.prettierrc
  libs/langchain-textsplitters/.release-it.json
  libs/langchain-textsplitters/LICENSE
  libs/langchain-textsplitters/README.md
  libs/langchain-textsplitters/jest.config.cjs
  libs/langchain-textsplitters/jest.env.cjs
  libs/langchain-textsplitters/langchain.config.js
  libs/langchain-textsplitters/package.json
  libs/langchain-textsplitters/scripts/jest-setup-after-env.js
  libs/langchain-textsplitters/src/index.ts
  libs/langchain-textsplitters/src/tests/code_text_splitter.test.ts
  libs/langchain-textsplitters/src/tests/text_splitter.test.ts
  libs/langchain-textsplitters/src/text_splitter.ts
  libs/langchain-textsplitters/tsconfig.cjs.json
  libs/langchain-textsplitters/tsconfig.json
  yarn.lock
Labels: auto:enhancement, size:XXL

#5192 core[patch],langchain[patch]: Refactor self query
  langchain-core/.gitignore
  langchain-core/langchain.config.js
  langchain-core/package.json
  langchain-core/src/structured_query/base.ts
  langchain-core/src/structured_query/functional.ts
  langchain-core/src/structured_query/index.ts
  langchain-core/src/structured_query/ir.ts
  langchain-core/src/structured_query/tests/utils.test.ts
  langchain-core/src/structured_query/utils.ts
  langchain/src/chains/query_constructor/index.ts
  langchain/src/chains/query_constructor/ir.ts
  langchain/src/chains/query_constructor/prompt.ts
  langchain/src/chains/query_constructor/tests/query_chain.int.test.ts
  langchain/src/output_parsers/expression.ts
  langchain/src/retrievers/self_query/base.ts
  langchain/src/retrievers/self_query/chroma.ts
  langchain/src/retrievers/self_query/functional.ts
  langchain/src/retrievers/self_query/index.ts
  langchain/src/retrievers/self_query/pinecone.ts
  langchain/src/retrievers/self_query/supabase.ts
  langchain/src/retrievers/self_query/supabase_utils.ts
  langchain/src/retrievers/self_query/vectara.ts
  langchain/src/retrievers/self_query/weaviate.ts
  yarn.lock
Labels: auto:refactor, size:XXL

#5199 langchain[patch],docs[patch]: Deprecate createStructuredOutputRunnable
  docs/core_docs/docs/use_cases/graph/mapping.ipynb
  examples/src/chains/openai_functions_json_schema.ts
  examples/src/use_cases/sql/large_db.ts
  langchain/src/chains/openai_functions/base.ts
Labels: auto:documentation, size:M

#5201 core[patch]: Release 0.1.60
  langchain-core/package.json
Labels: size:XS

#5195 community[minor]: Improve Azure AI Search vector store support
  libs/langchain-community/src/vectorstores/azure_aisearch.ts
  libs/langchain-community/src/vectorstores/tests/azure_aisearch.int.test.ts
Labels: lgtm, auto:improvement, size:M

#5187 community[minor],langchain[minor]: Move base classes and reference implementations to core
  langchain/package.json
  langchain/src/chains/query_constructor/index.ts
  langchain/src/chains/query_constructor/ir.ts
  langchain/src/chains/query_constructor/prompt.ts
  langchain/src/chains/query_constructor/tests/query_chain.int.test.ts
  langchain/src/output_parsers/expression.ts
  langchain/src/retrievers/self_query/base.ts
  langchain/src/retrievers/self_query/chroma.ts
  langchain/src/retrievers/self_query/functional.ts
  langchain/src/retrievers/self_query/index.ts
  langchain/src/retrievers/self_query/pinecone.ts
  langchain/src/retrievers/self_query/supabase.ts
  langchain/src/retrievers/self_query/supabase_utils.ts
  langchain/src/retrievers/self_query/tests/utils.test.ts
  langchain/src/retrievers/self_query/utils.ts
  langchain/src/retrievers/self_query/vectara.ts
  langchain/src/retrievers/self_query/weaviate.ts
  langchain/src/storage/in_memory.ts
  libs/langchain-community/package.json
  libs/langchain-community/src/agents/toolkits/base.ts
  libs/langchain-community/src/stores/message/in_memory.ts
  yarn.lock
Labels: auto:refactor, size:XXL

#5185 community[patch]: ensure AstraDB createCollectionOptions are aligned with py version
  libs/langchain-community/src/vectorstores/astradb.ts
Labels: auto:improvement, size:M

#5202 community[patch]: Release 0.0.52
  libs/langchain-community/package.json
Labels: size:XS

#5180 langchain[minor]: Firecrawl Document Loader
  docs/core_docs/docs/integrations/document_loaders/web_loaders/firecrawl.mdx
  examples/src/document_loaders/firecrawl.ts
  langchain/.gitignore
  langchain/langchain.config.js
  langchain/package.json
  langchain/src/document_loaders/tests/firecrawl.int.test.ts
  langchain/src/document_loaders/web/firecrawl.ts
  langchain/src/load/import_constants.ts
  yarn.lock
Labels: lgtm, auto:enhancement, size:L

#5203 Release 0.1.36
  langchain/package.json
Labels: size:XS

#5191 core[patch],langchain[major]: Move indexing API and document loader base class to core
  examples/package.json
  examples/src/chains/qa_refine.ts
  examples/src/chains/qa_refine_custom_prompt.ts
  examples/src/document_loaders/notionapi.ts
  langchain-core/.gitignore
  langchain-core/langchain.config.js
  langchain-core/package.json
  langchain-core/src/document_loaders/base.ts
  langchain-core/src/documents/transformers.ts
  langchain-core/src/indexing/base.ts
  langchain-core/src/indexing/index.ts
  langchain-core/src/indexing/record_manager.ts
  langchain/src/document_loaders/base.ts
  langchain/src/document_loaders/web/notionapi.ts
  langchain/src/indexes/index.ts
  langchain/src/indexes/tests/indexing.int.test.ts
  libs/langchain-community/src/indexes/base.ts
  yarn.lock
Labels: auto:refactor, size:L

#5224 docs[patch]: increased the free credits for firecrawl
  docs/core_docs/docs/integrations/document_loaders/web_loaders/firecrawl.mdx
Labels: lgtm, auto:documentation, size:XS

#5219 docs[patch]: Add missing "s" to end of word
  docs/core_docs/docs/get_started/quickstart.mdx
Labels: lgtm, auto:documentation, size:XS

#5182 community[patch]: fix: Zhipu api key expired after 3 minutes
  libs/langchain-community/src/chat_models/zhipuai.ts
  libs/langchain-community/src/embeddings/zhipuai.ts
  libs/langchain-community/src/utils/zhipuai.ts
Labels: lgtm, auto:bug, size:M

#5225 langchain[minor]: Deprecate LLMChain, ConversationalRetrievalQAChain, RetrievalQAChain
  langchain-core/src/language_models/chat_models.ts
  langchain-core/src/language_models/llms.ts
  langchain-core/src/retrievers/index.ts
  langchain-core/src/tools.ts
  langchain/src/chains/conversational_retrieval_chain.ts
  langchain/src/chains/llm_chain.ts
  langchain/src/chains/retrieval_qa.ts
Labels: auto:nit, size:L

#5227 core[patch]: Export `mergeConfigs()`
  langchain-core/src/runnables/index.ts
Labels: auto:improvement, size:XS

#5214 community[patch]: bug-fix: manipulate data by Unint8Array
  libs/langchain-community/src/chat_models/baiduwenxin.ts
Labels: lgtm, auto:bug, size:M

#5222 langchain[patch],scripts[patch]: Adds dynamic import map for serialization
  langchain/.eslintrc.cjs
  langchain/langchain.config.js
  langchain/src/load/dynamic_import_map.ts
  langchain/src/load/index.ts
  libs/langchain-scripts/src/build.ts
  libs/langchain-scripts/src/create-entrypoints.ts
  libs/langchain-scripts/src/types.ts
Labels: auto:improvement, size:L

#5205 core[patch]: Bugfix: cache missed because callback `_parentRunId` passed in to cache key function (`_getSerializedCacheKeyParametersForCall`)
  langchain-core/src/language_models/base.ts
Labels: lgtm, auto:bug, size:XS

#5163 community[minor]: feat: QdrantTranslator for self-query retrieval
  docs/core_docs/docs/modules/data_connection/retrievers/self_query/qdrant-self-query.mdx
  examples/package.json
  examples/src/retrievers/qdrant_self_query.ts
  libs/langchain-community/.gitignore
  libs/langchain-community/langchain.config.js
  libs/langchain-community/package.json
  libs/langchain-community/src/retrievers/self_query/qdrant.ts
  libs/langchain-community/src/retrievers/self_query/tests/qdrant_self_query.int.test.ts
  libs/langchain-community/src/vectorstores/qdrant.ts
  yarn.lock
Labels: lgtm, auto:enhancement, size:XL

#5229 core[patch]: Release 0.1.61
  langchain-core/package.json
Labels: size:XS

#5206 docs[patch]: feat: Update Zep Messaging and add links to Zep Cloud examples
  docs/core_docs/docs/integrations/chat_memory/zep_memory.mdx
  docs/core_docs/docs/integrations/retrievers/zep-retriever.mdx
  docs/core_docs/docs/integrations/vectorstores/zep.mdx
Labels: lgtm, size:M

#5230 community[patch]: Release 0.0.53
  libs/langchain-community/package.json
Labels: size:XS

#5252 docs: remove cloudflare workers ai beta note
  docs/core_docs/docs/integrations/chat/cloudflare_workersai.mdx
Labels: auto:documentation, size:XS

#5254 groq[patch]: Update default Groq model to Llama3 8B
  libs/langchain-groq/src/chat_models.ts
Labels: auto:improvement, size:XS
