Repository langchain-ai/langchainjs, pull requests merged in 2024-12, with the labels that each got.

#7297 fix(core): Improve interoperability between different langsmith versions
  dependency_range_tests/docker-compose.yml
  dependency_range_tests/scripts/with_standard_tests/anthropic/node/package.json
  dependency_range_tests/scripts/with_standard_tests/anthropic/test-with-latest-deps.sh
  dependency_range_tests/scripts/with_standard_tests/anthropic/test-with-lowest-deps.sh
  dependency_range_tests/scripts/with_standard_tests/cohere/node/package.json
  dependency_range_tests/scripts/with_standard_tests/cohere/test-with-latest-deps.sh
  dependency_range_tests/scripts/with_standard_tests/cohere/test-with-lowest-deps.sh
  dependency_range_tests/scripts/with_standard_tests/community/node/package.json
  dependency_range_tests/scripts/with_standard_tests/community/test-with-latest-deps.sh
  dependency_range_tests/scripts/with_standard_tests/community/test-with-lowest-deps.sh
  dependency_range_tests/scripts/with_standard_tests/google-vertexai/node/package.json
  dependency_range_tests/scripts/with_standard_tests/google-vertexai/test-with-latest-deps.sh
  dependency_range_tests/scripts/with_standard_tests/google-vertexai/test-with-lowest-deps.sh
  dependency_range_tests/scripts/with_standard_tests/node/package.json
  dependency_range_tests/scripts/with_standard_tests/openai/node/package.json
  dependency_range_tests/scripts/with_standard_tests/openai/test-with-latest-deps.sh
  dependency_range_tests/scripts/with_standard_tests/openai/test-with-lowest-deps.sh
  examples/package.json
  langchain-core/package.json
  langchain-core/src/singletons/tracer.ts
  langchain-core/src/tracers/tests/langsmith_interop.test.ts
  langchain-core/src/tracers/tracer_langchain.ts
  langchain/package.json
  libs/langchain-community/package.json
  yarn.lock
Labels: auto:nit, size:L

#7309 release(core): 0.3.20
  langchain-core/package.json
Labels: size:XS

#7281 fix(google-common): "mine" -> "mime"
  libs/langchain-google-common/src/utils/gemini.ts
Labels: lgtm, auto:nit, size:XS

#7256 feat(community): Add property extraction for Nodes and Relationships in LLMGraphTransformer
  libs/langchain-community/src/experimental/graph_transformers/llm.int.test.ts
  libs/langchain-community/src/experimental/graph_transformers/llm.ts
Labels: lgtm, auto:improvement, size:L

#7277 docs: Fix typo in selectors guide
  docs/core_docs/docs/how_to/example_selectors.ipynb
Labels: lgtm, auto:documentation, size:XS

#7290 chore(community): Bump faker dev dep to 8.4.1
  libs/langchain-community/package.json
  yarn.lock
Labels: lgtm, auto:nit, size:XS

#7238 feat(community): Add support for SAP HANA Vector hnsw index creation and advanced filtering
  docs/core_docs/docs/integrations/vectorstores/hanavector.mdx
  examples/src/indexes/vector_stores/hana_vector/advancedFiltering.ts
  examples/src/indexes/vector_stores/hana_vector/createHnswIndex.ts
  libs/langchain-community/src/vectorstores/hanavector.ts
  libs/langchain-community/src/vectorstores/tests/hanavector.fixtures.ts
  libs/langchain-community/src/vectorstores/tests/hanavector.int.test.ts
  libs/langchain-community/src/vectorstores/tests/hanavector.test.ts
Labels: lgtm, auto:improvement, auto:documentation, size:XXL

#7235 feat(google-genai): Support Gemini system instructions
  libs/langchain-google-genai/src/chat_models.ts
  libs/langchain-google-genai/src/tests/chat_models.test.ts
  libs/langchain-google-genai/src/utils/common.ts
Labels: lgtm, auto:improvement, size:L

#7242 feat(azure-cosmosdb): add session context and retrieve all sessions for a user
  examples/src/memory/azure_cosmosdb_nosql.ts
  libs/langchain-azure-cosmosdb/package.json
  libs/langchain-azure-cosmosdb/src/azure_cosmosdb_nosql.ts
  libs/langchain-azure-cosmosdb/src/chat_histories.ts
  libs/langchain-azure-cosmosdb/src/tests/caches.int.test.ts
  libs/langchain-azure-cosmosdb/src/tests/chat_histories.int.test.ts
  yarn.lock
Labels: lgtm, auto:question, auto:improvement, size:L

#7282 fix(community): Fix bugs in IBM community, provide some tests and fix existing tests
  libs/langchain-community/src/chat_models/ibm.ts
  libs/langchain-community/src/chat_models/tests/ibm.int.test.ts
  libs/langchain-community/src/chat_models/tests/ibm.standard.int.test.ts
  libs/langchain-community/src/document_compressors/ibm.ts
  libs/langchain-community/src/document_compressors/tests/ibm.int.test.ts
  libs/langchain-community/src/llms/ibm.ts
  libs/langchain-community/src/llms/tests/ibm.int.test.ts
Labels: lgtm, auto:bug, size:L

#7231 feat(community): Add new LLM provider Novita AI
  docs/core_docs/.gitignore
  docs/core_docs/docs/integrations/chat/novita.ipynb
  libs/langchain-community/langchain.config.js
  libs/langchain-community/src/chat_models/novita.ts
  libs/langchain-community/src/chat_models/tests/chatnovita.int.test.ts
Labels: lgtm, auto:enhancement, auto:documentation, size:L

#7293 feat(google-genai): Check Google Generative AI Structured Output
  libs/langchain-google-genai/src/tests/chat_models-extended.int.test.ts
Labels: lgtm, size:L

#7303 feat(community): add FileChatMessageHistory
  docs/core_docs/docs/integrations/memory/file.mdx
  examples/src/memory/file.ts
  libs/langchain-community/.gitignore
  libs/langchain-community/langchain.config.js
  libs/langchain-community/package.json
  libs/langchain-community/src/load/import_map.ts
  libs/langchain-community/src/stores/message/file_system.ts
  libs/langchain-community/src/stores/tests/file_chat_history.int.test.ts
Labels: lgtm, auto:improvement, size:L

#7312 fix(ci): Update build artifacts
  libs/langchain-community/.gitignore
  libs/langchain-community/package.json
  libs/langchain-community/src/load/import_map.ts
  libs/langchain-community/src/load/import_type.ts
Labels: size:S

#7313 release(community): 0.3.17
  libs/langchain-community/package.json
Labels: size:XS

#7169 feat(google-genai): Context Caching
  docs/core_docs/docs/integrations/chat/google_generativeai.ipynb
  libs/langchain-google-genai/src/chat_models.ts
  libs/langchain-google-genai/src/tests/context_caching.int.test.ts
Labels: lgtm, auto:improvement, size:L

#7314 release(google-genai): 0.1.5
  libs/langchain-google-genai/package.json
Labels: size:XS

#7311 docs: Fix import
  docs/core_docs/docs/integrations/vectorstores/opensearch.mdx
Labels: auto:documentation, size:XS

#7315 release(azure-cosmosdb): 0.2.4
  libs/langchain-azure-cosmosdb/package.json
Labels: size:XS

#7318 docs: Update Google GenAI doc formatting
  docs/core_docs/docs/integrations/chat/google_generativeai.ipynb
Labels: auto:documentation, size:XS

#7321 feat(core): Attempt to automatically read Deno env vars
  langchain-core/src/utils/env.ts
Labels: lgtm, auto:improvement, size:S

#7323 release(core): 0.3.21
  langchain-core/package.json
  langchain-core/src/runnables/tests/runnable_map.test.ts
  langchain-core/src/singletons/tests/async_local_storage.test.ts
Labels: auto:nit, size:S

#7324 fix(langchain-core): Pick runnable config keys in asynclocalstorage
  langchain-core/src/runnables/base.ts
  langchain-core/src/runnables/config.ts
  langchain-core/src/runnables/index.ts
  langchain-core/src/runnables/iter.ts
  langchain-core/src/runnables/types.ts
  langchain-core/src/tools/index.ts
  langchain-core/src/types/stream.ts
  langchain-core/src/utils/stream.ts
Labels: lgtm, auto:bug, size:M

#7325 Release 0.3.22
  langchain-core/package.json
Labels: size:XS

#7334 Fix anthropic sdk import
  libs/langchain-anthropic/src/chat_models.ts
  libs/langchain-anthropic/src/types.ts
Labels: lgtm, auto:bug, size:XS

#7336 release(anthropic): 0.3.9
  libs/langchain-anthropic/package.json
Labels: size:XS

#7298 chore(core): externalize @cfworker/json-schema dependency
  langchain-core/package.json
  langchain-core/src/output_parsers/transform.ts
  langchain-core/src/utils/@cfworker/json-schema/LICENSE.md
  langchain-core/src/utils/@cfworker/json-schema/README.md
  langchain-core/src/utils/@cfworker/json-schema/index.ts
  langchain-core/src/utils/@cfworker/json-schema/package.json
  langchain-core/src/utils/@cfworker/json-schema/src/deep-compare-strict.ts
  langchain-core/src/utils/@cfworker/json-schema/src/dereference.ts
  langchain-core/src/utils/@cfworker/json-schema/src/format.ts
  langchain-core/src/utils/@cfworker/json-schema/src/index.ts
  langchain-core/src/utils/@cfworker/json-schema/src/pointer.ts
  langchain-core/src/utils/@cfworker/json-schema/src/types.ts
  langchain-core/src/utils/@cfworker/json-schema/src/ucs2-length.ts
  langchain-core/src/utils/@cfworker/json-schema/src/validate.ts
  langchain-core/src/utils/@cfworker/json-schema/src/validator.ts
  langchain-core/src/utils/json_schema.ts
  yarn.lock
Labels: lgtm, auto:nit, size:XXL

#7337 fix(ollama): Remove default keepalive for Ollama models
  libs/langchain-ollama/src/chat_models.ts
  libs/langchain-ollama/src/embeddings.ts
  libs/langchain-ollama/src/llms.ts
Labels: auto:bug, size:S

#7338 release(ollama): 0.1.3
  libs/langchain-ollama/package.json
Labels: size:XS

#7292 feat(community): update embedding jina
  docs/core_docs/docs/integrations/text_embedding/jina.mdx
  libs/langchain-community/src/embeddings/jina.ts
  libs/langchain-community/src/embeddings/tests/jina.int.test.ts
  libs/langchain-community/src/utils/local_image_to_base64.ts
Labels: lgtm, size:L

#7322 feat(community): Add additional fields to airtable loader
  libs/langchain-community/src/document_loaders/web/airtable.ts
Labels: lgtm, auto:nit, size:S

#7329 feat(community): Introduce callbacks to IBM Watsonx SDK
  libs/langchain-community/package.json
  libs/langchain-community/src/chat_models/ibm.ts
  libs/langchain-community/src/chat_models/tests/ibm.int.test.ts
  libs/langchain-community/src/document_compressors/ibm.ts
  libs/langchain-community/src/llms/ibm.ts
  libs/langchain-community/src/llms/tests/ibm.int.test.ts
  yarn.lock
Labels: lgtm, hold, auto:improvement, size:L

#7340 feat(core): Preserve direct tool outputs, pass raw tool call into tools if available
  langchain-core/src/messages/tool.ts
  langchain-core/src/tools/index.ts
  langchain-core/src/tools/tests/tools.test.ts
Labels: auto:improvement, size:L

#7330 feat(core): add registerConfigureHook
  langchain-core/src/callbacks/base.ts
  langchain-core/src/callbacks/manager.ts
  langchain-core/src/callbacks/tests/manager.test.ts
  langchain-core/src/context.ts
  langchain-core/src/singletons/async_local_storage/context.ts
  langchain-core/src/singletons/async_local_storage/globals.ts
  langchain-core/src/singletons/async_local_storage/index.ts
  langchain-core/src/singletons/callbacks.ts
  langchain-core/src/singletons/index.ts
Labels: lgtm, auto:enhancement, size:L

#7342 release(core): 0.3.23
  langchain-core/package.json
Labels: size:XS

#7351 release(community): 0.3.18
  libs/langchain-community/package.json
Labels: size:XS

#7350 feat(langchain): Infer o1 model strings in initChatModel
  langchain/src/chat_models/universal.ts
Labels: size:XS

#7352 Release 0.3.7
  langchain/package.json
Labels: auto:nit, size:XS

#7354 docs: Add more redirects
  docs/core_docs/src/theme/DocVersionBanner/index.js
Labels: auto:documentation, size:L

#7353 fix(ci): Remove dep, add more not found redirects
  docs/core_docs/package.json
  docs/core_docs/src/theme/NotFound.js
  yarn.lock
Labels: auto:nit, size:L

#7361 fix(google-gauth): Remove logging of error responses
  libs/langchain-google-gauth/src/auth.ts
Labels: lgtm, auto:nit, size:M

#7357 fix(community): file system chat history
  docs/core_docs/docs/integrations/memory/file.mdx
  examples/src/memory/file.ts
  libs/langchain-community/src/stores/message/file_system.ts
  libs/langchain-community/src/stores/tests/file_chat_history.int.test.ts
Labels: lgtm, auto:bug, auto:documentation, size:S

#7248 feat(community): Added Google Trends Integration
  docs/api_refs/blacklisted-entrypoints.json
  docs/core_docs/docs/integrations/tools/google_trends.mdx
  examples/src/tools/google_trends.ts
  libs/langchain-community/.gitignore
  libs/langchain-community/langchain.config.js
  libs/langchain-community/package.json
  libs/langchain-community/src/tools/google_trends.ts
  libs/langchain-community/src/tools/tests/google_trends.int.test.ts
Labels: lgtm, auto:enhancement, size:L

#7347 docs: add embeddings and vector store tabs
  docs/core_docs/docs/integrations/chat/index.mdx
  docs/core_docs/docs/integrations/text_embedding/index.mdx
  docs/core_docs/docs/integrations/vectorstores/index.mdx
  docs/core_docs/src/theme/EmbeddingTabs.js
  docs/core_docs/src/theme/VectorStoreTabs.js
Labels: auto:documentation, size:L

#7331 feat(community): Neo4j chat message history
  libs/langchain-community/.gitignore
  libs/langchain-community/langchain.config.js
  libs/langchain-community/package.json
  libs/langchain-community/src/load/import_constants.ts
  libs/langchain-community/src/stores/message/neo4j.ts
  libs/langchain-community/src/stores/tests/neo4j.int.test.ts
  test-int-deps-docker-compose.yml
Labels: lgtm, auto:enhancement, size:L

#7280 feat(google-common): Grounding with Google Search and Vertex AI Search
  docs/core_docs/docs/integrations/chat/google_vertex_ai.ipynb
  libs/langchain-google-common/src/types.ts
  libs/langchain-google-common/src/utils/common.ts
  libs/langchain-google-common/src/utils/gemini.ts
  libs/langchain-google-vertexai/src/tests/chat_models.int.test.ts
Labels: lgtm, auto:improvement, size:L

#7362 release(google): 0.1.4
  libs/langchain-google-common/package.json
  libs/langchain-google-gauth/package.json
  libs/langchain-google-vertexai-web/package.json
  libs/langchain-google-vertexai/package.json
  libs/langchain-google-webauth/package.json
  yarn.lock
Labels: auto:nit, size:S

#7278 feat(community): Added Google Scholar Integration
  docs/core_docs/docs/integrations/tools/google_scholar.ipynb
  libs/langchain-community/.gitignore
  libs/langchain-community/langchain.config.js
  libs/langchain-community/package.json
  libs/langchain-community/src/load/import_map.ts
  libs/langchain-community/src/load/import_type.ts
  libs/langchain-community/src/tools/google_scholar.ts
  libs/langchain-community/src/tools/tests/google_scholar.int.test.ts
Labels: lgtm, auto:enhancement, auto:documentation, size:L

#7363 release(community): 0.3.19
  libs/langchain-community/package.json
Labels: size:XS

#7368 fix(anthropic): Add cache usage metadata to Anthropic streaming responses
  libs/langchain-anthropic/src/tests/chat_models.int.test.ts
  libs/langchain-anthropic/src/utils/message_outputs.ts
Labels: auto:nit, size:S

#7369 release(anthropic): 0.3.10
  libs/langchain-anthropic/package.json
Labels: size:XS

#7376 fix(ollama): Update embeddings.ts headers type to match Ollama
  libs/langchain-ollama/src/embeddings.ts
Labels: lgtm, auto:bug, size:XS

#7378 feat(core): Generalize streaming usage for language models based on passed callback handlers
  langchain-core/src/callbacks/base.ts
  langchain-core/src/language_models/chat_models.ts
  langchain-core/src/language_models/llms.ts
  langchain-core/src/tracers/event_stream.ts
  langchain-core/src/tracers/log_stream.ts
Labels: auto:improvement, size:M

#7373 docs: updates text-to-html example
  examples/src/document_transformers/html_to_text.ts
Labels: lgtm, auto:nit, size:XS

#7366 fix(core): Make sure to return a callback manager if configure hooks
  langchain-core/src/callbacks/manager.ts
  langchain-core/src/callbacks/tests/manager.test.ts
Labels: auto:improvement, size:M

#7379 fix(ci): Fix build
  libs/langchain-ollama/src/embeddings.ts
Labels: auto:nit, size:XS

#7380 release(core): 0.3.24
  langchain-core/package.json
Labels: size:XS

#7305 feat(azure-cosmosdb): add AzureCosmosDBMongoChatMessageHistory
  libs/langchain-azure-cosmosdb/src/chat_histories/mongodb.ts
  libs/langchain-azure-cosmosdb/src/chat_histories/nosql.ts
  libs/langchain-azure-cosmosdb/src/index.ts
  libs/langchain-azure-cosmosdb/src/tests/chat_histories/mongodb.int.test.ts
  libs/langchain-azure-cosmosdb/src/tests/chat_histories/nosql.int.test.ts
  yarn.lock
Labels: lgtm, hold, close, auto:improvement, size:L

#7358 docs: update tutorials
  docs/core_docs/docs/concepts/retrieval.mdx
  docs/core_docs/docs/how_to/index.mdx
  docs/core_docs/docs/how_to/query_constructing_filters.ipynb
  docs/core_docs/docs/how_to/query_few_shot.ipynb
  docs/core_docs/docs/how_to/query_high_cardinality.ipynb
  docs/core_docs/docs/how_to/query_multiple_queries.ipynb
  docs/core_docs/docs/how_to/query_multiple_retrievers.ipynb
  docs/core_docs/docs/how_to/query_no_queries.ipynb
  docs/core_docs/docs/tutorials/chatbot.ipynb
  docs/core_docs/docs/tutorials/classification.ipynb
  docs/core_docs/docs/tutorials/extraction.ipynb
  docs/core_docs/docs/tutorials/index.mdx
  docs/core_docs/docs/tutorials/llm_chain.ipynb
  docs/core_docs/docs/tutorials/local_rag.ipynb
  docs/core_docs/docs/tutorials/pdf_qa.ipynb
  docs/core_docs/docs/tutorials/qa_chat_history.ipynb
  docs/core_docs/docs/tutorials/query_analysis.ipynb
  docs/core_docs/docs/tutorials/rag.ipynb
  docs/core_docs/docs/tutorials/retrievers.ipynb
  docs/core_docs/docs/tutorials/sql_qa.ipynb
  docs/core_docs/docs/tutorials/sql_qa.mdx
  docs/core_docs/docs/tutorials/summarization.ipynb
  docs/core_docs/docs/tutorials/summarization.mdx
  docs/core_docs/package.json
  docs/core_docs/static/img/graph_img_rag.png
  docs/core_docs/static/img/graph_img_rag_part_2.png
  docs/core_docs/static/img/graph_img_rag_qa.png
  docs/core_docs/static/img/graph_img_react.png
  docs/core_docs/static/img/graph_img_sql_qa.png
  docs/core_docs/static/img/graph_img_sql_qa_interrupt.png
  docs/core_docs/static/img/graph_img_summarization.png
  docs/core_docs/vercel.json
  examples/package.json
  yarn.lock
Labels: auto:documentation, size:XXL

#7382 fix(anthropic): Properly populate usage_metadata for Anthropic models
  libs/langchain-anthropic/package.json
  libs/langchain-anthropic/src/tests/chat_models.int.test.ts
  libs/langchain-anthropic/src/utils/message_outputs.ts
  yarn.lock
Labels: auto:bug, size:M

#7383 fix(docs): Api ref linking in codeblocks
  docs/core_docs/.gitignore
  docs/core_docs/scripts/code-block-loader.js
Labels: auto:documentation, size:M

#7384 release(ollama): 0.1.4
  libs/langchain-ollama/package.json
Labels: size:XS

#7385 release(azure-cosmosdb): 0.2.5
  libs/langchain-azure-cosmosdb/package.json
Labels: size:XS

#7386 fix(anthropic): Handle parallel tool result blocks
  libs/langchain-anthropic/src/tests/chat_models-tools.int.test.ts
  libs/langchain-anthropic/src/types.ts
  libs/langchain-anthropic/src/utils/message_inputs.ts
Labels: size:L

#7387 release(anthropic): 0.3.11
  libs/langchain-anthropic/package.json
Labels: size:XS

#7393 fix(docs): Fix broken hyperlink
  docs/core_docs/docs/concepts/text_splitters.mdx
Labels: auto:documentation, size:XS

#7391 fix(docs): Fix broken RAG tutorials link
  docs/core_docs/docs/concepts/rag.mdx
Labels: lgtm, auto:documentation, size:XS

#7392 fix(docs): Fix broken glossary links on concepts page
  docs/core_docs/docs/concepts/index.mdx
Labels: lgtm, auto:documentation, size:S

#7397 feat(js): Adds developer role as a system role alias
  langchain-core/src/messages/base.ts
  langchain-core/src/messages/tests/base_message.test.ts
  langchain-core/src/messages/transformers.ts
  langchain-core/src/messages/utils.ts
  langchain-core/src/prompts/tests/chat.test.ts
Labels: auto:enhancement, size:M

#7404 release(core): 0.3.25
  langchain-core/package.json
Labels: size:XS

#7398 feat(openai): Alias system messages as developer messages for o1, add reasoning_effort param
  libs/langchain-openai/package.json
  libs/langchain-openai/src/chat_models.ts
  libs/langchain-openai/src/tests/chat_models.int.test.ts
  libs/langchain-openai/src/tests/chat_models_structured_output.int.test.ts
  libs/langchain-openai/src/types.ts
  yarn.lock
Labels: auto:improvement, size:L

#7405 release(openai): 0.3.15
  libs/langchain-openai/package.json
Labels: size:XS

#7406 fix(google-common, google-vertexai): Invalid URL for embeddings model
  libs/langchain-google-common/src/embeddings.ts
  libs/langchain-google-vertexai/src/tests/embeddings.int.test.ts
Labels: lgtm, auto:bug, size:M

#7400 fix(google-common): add tool_use param when using structured outputs
  libs/langchain-google-common/src/chat_models.ts
  libs/langchain-google-common/src/utils/gemini.ts
Labels: lgtm, auto:bug, size:S

#7389 fix(google-genai): Update multimodal model check to include gemini-2 support
  libs/langchain-google-genai/src/chat_models.ts
Labels: lgtm, auto:nit, size:XS

#7409 release(google-genai): 0.1.6
  libs/langchain-google-genai/package.json
Labels: size:XS

#7410 release(google-vertex): 0.1.5
  libs/langchain-google-common/package.json
  libs/langchain-google-gauth/package.json
  libs/langchain-google-vertexai-web/package.json
  libs/langchain-google-vertexai/package.json
  libs/langchain-google-webauth/package.json
  yarn.lock
Labels: size:S

#7411 fix(core): Fix runnable with fallbacks stream events bug
  langchain-core/src/runnables/base.ts
  langchain-core/src/runnables/tests/runnable_with_fallbacks.test.ts
Labels: auto:bug, size:M

#7307 fix(azure-cosmosdb): Add caches for Azure CosmosDB vCore [comments resolved]
  libs/langchain-azure-cosmosdb/src/caches/caches_mongodb.ts
  libs/langchain-azure-cosmosdb/src/caches/caches_nosql.ts
  libs/langchain-azure-cosmosdb/src/index.ts
  libs/langchain-azure-cosmosdb/src/tests/caches/caches_mongodb.int.test.ts
  libs/langchain-azure-cosmosdb/src/tests/caches/caches_mongodb.test.ts
  libs/langchain-azure-cosmosdb/src/tests/caches/caches_nosql.int.test.ts
  libs/langchain-azure-cosmosdb/src/tests/caches/caches_nosql.test.ts
Labels: lgtm, hold, auto:improvement, size:L

#7413 release(azure-cosmosdb): 0.2.6
  libs/langchain-azure-cosmosdb/package.json
Labels: size:XS

#7414 fix(openai): Remove extra serialized params for OpenAI messages
  libs/langchain-openai/src/chat_models.ts
Labels: auto:nit, size:S

#7416 release(openai): 0.3.16
  libs/langchain-openai/package.json
Labels: size:XS

#7415 fix(openai): Fix test
  libs/langchain-openai/src/tests/chat_models-vision.int.test.ts
Labels: auto:nit, size:S

#7422 feat(community): Add TTL support to UpstashRedisCache
  examples/src/cache/chat_models/upstash_redis.ts
  examples/src/cache/upstash_redis.ts
  libs/langchain-community/src/caches/upstash_redis.ts
Labels: lgtm, auto:improvement, size:S

#7408 fix(community): Change airtable API request to use POST
  libs/langchain-community/src/document_loaders/web/airtable.ts
Labels: lgtm, auto:nit, size:M

#7372 fix(cohere,langchain): handle exceptions in compressDocuments and formatDocuments methods due to empty documents
  langchain/src/chains/combine_documents/base.ts
  libs/langchain-cohere/src/rerank.ts
Labels: lgtm, auto:bug, size:XS

#7424 release(cohere): 0.3.2
  libs/langchain-cohere/package.json
Labels: size:XS

#7250 feat(community): Port ArxivRetriever to LangChainJS
  docs/core_docs/docs/integrations/retrievers/arxiv-retriever.mdx
  examples/src/retrievers/arxiv.ts
  libs/langchain-community/.gitignore
  libs/langchain-community/langchain.config.js
  libs/langchain-community/package.json
  libs/langchain-community/src/load/import_constants.ts
  libs/langchain-community/src/retrievers/arxiv.ts
  libs/langchain-community/src/retrievers/tests/arxiv.int.test.ts
  libs/langchain-community/src/utils/arxiv.ts
  yarn.lock
Labels: auto:enhancement, auto:documentation, size:XL

#7425 release(community): 0.3.20
  libs/langchain-community/package.json
Labels: size:XS

#7427 Release 0.3.8
  langchain/package.json
Labels: size:XS

#7446 fix(docs): Cosmos Db Cache sample link
  examples/src/caches/azure_cosmosdb_nosql/azure_cosmosdb_nosql.ts
Labels: lgtm, auto:nit, size:XS

#7441 fix(docs): link to setup for PGVectorStore
  examples/src/indexes/vector_stores/pgvector_vectorstore/pgvector.ts
Labels: lgtm, auto:nit, size:XS

#7432 fix(contributing): broken links
  CONTRIBUTING.md
Labels: lgtm, auto:documentation, size:XS

#7428 fix(aws): fix error message output
  libs/langchain-aws/src/common.ts
Labels: lgtm, auto:bug, size:XS

#7426 fix(docs): Fix outdated documentation for llama cpp
  docs/core_docs/docs/integrations/chat/llama_cpp.mdx
  docs/core_docs/docs/integrations/llms/llama_cpp.mdx
  docs/core_docs/docs/integrations/text_embedding/llama_cpp.mdx
  examples/src/embeddings/llama_cpp_basic.ts
  examples/src/embeddings/llama_cpp_docs.ts
  examples/src/models/chat/integration_llama_cpp.ts
  examples/src/models/chat/integration_llama_cpp_chain.ts
  examples/src/models/chat/integration_llama_cpp_stream.ts
  examples/src/models/chat/integration_llama_cpp_stream_invoke.ts
  examples/src/models/chat/integration_llama_cpp_stream_multi.ts
  examples/src/models/chat/integration_llama_cpp_system.ts
  examples/src/models/llm/llama_cpp.ts
  examples/src/models/llm/llama_cpp_stream.ts
  libs/langchain-community/src/chat_models/llama_cpp.ts
  libs/langchain-community/src/llms/llama_cpp.ts
Labels: lgtm, auto:documentation, size:L

#7435 fix(google-common,google-*) Gemini 2.0 support
  libs/langchain-google-common/src/chat_models.ts
  libs/langchain-google-common/src/tests/chat_models.test.ts
  libs/langchain-google-common/src/tests/data/chat-6-mock.json
  libs/langchain-google-common/src/types.ts
  libs/langchain-google-common/src/utils/common.ts
  libs/langchain-google-common/src/utils/gemini.ts
  libs/langchain-google-vertexai/src/tests/chat_models.int.test.ts
  libs/langchain-google-webauth/src/tests/chat_models.int.test.ts
Labels: auto:improvement, size:XXL

#7437 feat(community): Return metadata.title from CheerioDocumentLoader
  libs/langchain-community/src/document_loaders/web/cheerio.ts
Labels: lgtm, auto:nit, size:XS

#7421 feat(community): Extend DocxLoader to load .doc files
  docs/core_docs/docs/integrations/document_loaders/file_loaders/docx.mdx
  libs/langchain-community/package.json
  libs/langchain-community/src/document_loaders/fs/docx.ts
  libs/langchain-community/src/document_loaders/tests/docx.test.ts
  libs/langchain-community/src/document_loaders/tests/example_data/attention.doc
  yarn.lock
Labels: lgtm, auto:improvement, size:L

#7448 feat(google-common): Google Search grounding tool formatter
  libs/langchain-google-common/src/index.ts
  libs/langchain-google-common/src/output_parsers.ts
  libs/langchain-google-common/src/tests/chat_models.test.ts
  libs/langchain-google-common/src/tests/data/chat-6-mock.json
  libs/langchain-google-common/src/tests/output_parsers.test.ts
Labels: lgtm, auto:enhancement, size:L

#7452 docs: Small docs tweak
  docs/core_docs/docs/integrations/text_embedding/transformers.mdx
Labels: auto:documentation, size:XS

#7294 feat(community): jira document loader
  docs/core_docs/docs/integrations/document_loaders/web_loaders/jira.mdx
  examples/.env.example
  examples/src/document_loaders/jira.ts
  libs/langchain-community/.env.example
  libs/langchain-community/.gitignore
  libs/langchain-community/langchain.config.js
  libs/langchain-community/package.json
  libs/langchain-community/src/document_loaders/tests/jira.int.test.ts
  libs/langchain-community/src/document_loaders/tests/jira.test.ts
  libs/langchain-community/src/document_loaders/web/jira.ts
  libs/langchain-community/src/load/import_map.ts
Labels: lgtm, auto:enhancement, auto:documentation, size:XL

#7453 release(community): 0.3.21
  libs/langchain-community/package.json
Labels: size:XS

#7454 release(aws): 0.1.3
  libs/langchain-aws/package.json
Labels: size:XS

#7455 release(core): 0.3.27
  langchain-core/package.json
Labels: size:XS

#7456 release(google): 0.1.6
  libs/langchain-google-common/package.json
  libs/langchain-google-gauth/package.json
  libs/langchain-google-vertexai-web/package.json
  libs/langchain-google-vertexai/package.json
  libs/langchain-google-webauth/package.json
  yarn.lock
Labels: size:S
