Repository langchain-ai/langchainjs, pull requests merged in 2024-09, with the labels that each got.

#6673 Remove rewrite
  docs/core_docs/vercel.json
Labels: auto:documentation, size:XS

#6677 openai[patch]: Skip flaky test
  libs/langchain-openai/src/tests/chat_models_structured_output.int.test.ts
Labels: size:XS

#6669 👥 Update LangChain people data
  docs/core_docs/data/people.yml
Labels: auto:documentation, size:L

#6675 docs[patch]: Fix typos in Agents tutorial
  docs/core_docs/docs/tutorials/agents.mdx
Labels: lgtm, auto:documentation, size:S

#6664 fix(openai): Check `configuration.apiKey` in `ChatOpenAI` constructor
  libs/langchain-openai/src/chat_models.ts
Labels: lgtm, auto:bug, size:XS

#6689 chore(openai): Release 0.2.9
  libs/langchain-openai/package.json
Labels: size:XS

#6688 fix(community): ElasticVectorSearch: exclude metadata filters not working due changing to term instead of terms
  libs/langchain-community/src/vectorstores/elasticsearch.ts
  libs/langchain-community/src/vectorstores/tests/elasticsearch.int.test.ts
Labels: auto:bug, size:S

#6679 Fix tiny typo in llm_chain.ipynb
  docs/core_docs/docs/tutorials/llm_chain.ipynb
Labels: lgtm, auto:documentation, size:XS

#6615 feat(anthropic): langchain-anthropic support custom create anthropic client
  docs/core_docs/docs/integrations/chat/anthropic.ipynb
  docs/core_docs/package.json
  libs/langchain-anthropic/package.json
  libs/langchain-anthropic/src/chat_models.ts
  libs/langchain-anthropic/src/tests/chat_models.int.test.ts
  yarn.lock
Labels: lgtm, auto:enhancement, size:M

#6691 chore(anthropic): Release 0.2.16
  libs/langchain-anthropic/package.json
Labels: size:XS

#6658 Fix top-level dependency install for node 22+
  libs/langchain-community/package.json
  package.json
  yarn.lock
Labels: auto:bug, size:XS

#6680 chore(community): Bump pyodide dev version and allow peer installs up to current latest
  langchain/package.json
  yarn.lock
Labels: auto:improvement, size:XS

#6682 fix(community): Add support for Bedrock cross-region inference models
  libs/langchain-community/src/chat_models/bedrock/web.ts
  libs/langchain-community/src/llms/bedrock/web.ts
  libs/langchain-community/src/llms/tests/bedrock.int.test.ts
Labels: auto:bug, size:L

#6692 chore(community): Release 0.2.32
  libs/langchain-community/package.json
Labels: size:XS

#6693 Release 0.2.18
  langchain/package.json
Labels: size:XS

#6445 fix(mongodb): mongodb storage mget must return undefined when key not exist
  libs/langchain-mongodb/src/storage.ts
  libs/langchain-mongodb/src/tests/storage.int.test.ts
Labels: question, lgtm, auto:bug, size:M

#6694 chore(mongodb): Release 0.0.6
  libs/langchain-mongodb/package.json
Labels: size:XS

#6695 fix(openai): Fix type import issue
  libs/langchain-openai/package.json
  libs/langchain-openai/src/chat_models.ts
  yarn.lock
Labels: auto:bug, size:XS

#6685 feat(openai): baseUrl for DallEAPIWrapper
  libs/langchain-openai/src/tools/dalle.ts
Labels: auto:improvement, size:XS

#6697 chore(openai): Release 0.2.10
  libs/langchain-openai/package.json
Labels: size:XS

#6696 community[patch]: Relax webllm peer dep
  libs/langchain-community/package.json
  yarn.lock
Labels: auto:nit, size:XS

#6700 langchain[patch]: Take all required fields into account for OpenAPI chain
  langchain/src/chains/openai_functions/openapi.ts
  langchain/src/chains/openai_functions/tests/openapi.test.ts
Labels: auto:bug, size:S

#6710 docs[minor]: Add state of agents survey to docs announcement bar
  docs/core_docs/.gitignore
  docs/core_docs/docusaurus.config.js
Labels: auto:documentation, size:XS

#6711 anthropic[patch]: Fix passing cache control through in messages
  libs/langchain-anthropic/src/tests/chat_models.int.test.ts
  libs/langchain-anthropic/src/utils/message_inputs.ts
Labels: size:M

#6712 anthropic[minor]: Allow different tool types to be bound
  libs/langchain-anthropic/src/chat_models.ts
  libs/langchain-anthropic/src/tests/chat_models-tools.int.test.ts
Labels: auto:improvement, size:M

#6713 anthropic[patch]: Release 0.2.17
  libs/langchain-anthropic/package.json
Labels: size:XS

#6714 docs[patch]: fix chroma distance function reference link
  examples/src/indexes/vector_stores/chroma/fromDocs.ts
Labels: lgtm, auto:documentation, size:XS

#6723 fix(core): Pin TypeScript version for now for export test failures, add asyncDispose
  environment_tests/test-exports-tsc/main.ts
  environment_tests/test-exports-tsc/package.json
  langchain-core/src/utils/stream.ts
Labels: size:S

#6721 feat(core,openai): Adds streaming support for OpenAI withStructuredOutput
  langchain-core/src/messages/ai.ts
  langchain-core/src/output_parsers/openai_tools/json_output_tools_parsers.ts
  langchain-core/src/output_parsers/openai_tools/tests/json_output_tools_parser.test.ts
  langchain-core/src/output_parsers/transform.ts
  libs/langchain-openai/src/tests/chat_models_structured_output.int.test.ts
Labels: auto:enhancement, size:L

#6661 baidu-qianfan[patch]: Fix streaming mode of Qianfan
  libs/langchain-baidu-qianfan/src/chat_models.ts
Labels: hold, auto:bug, size:L

#6716 fix(anthropic): Do not check for apiKey existence when createClient parameters are present
  docs/core_docs/docs/integrations/chat/anthropic.ipynb
  libs/langchain-anthropic/src/chat_models.ts
Labels: auto:bug, size:XS

#6725 feat(community): Add arcjet integration
  docs/core_docs/.gitignore
  docs/core_docs/docs/integrations/chat/arcjet.ipynb
  docs/core_docs/docs/integrations/llms/arcjet.ipynb
  docs/core_docs/src/theme/FeatureTables.js
  libs/langchain-community/.gitignore
  libs/langchain-community/langchain.config.js
  libs/langchain-community/package.json
  libs/langchain-community/src/chat_models/arcjet.ts
  libs/langchain-community/src/chat_models/tests/chatarcjet.test.ts
  libs/langchain-community/src/llms/arcjet.ts
  libs/langchain-community/src/llms/tests/arcjet.test.ts
  libs/langchain-community/src/load/import_constants.ts
  yarn.lock
Labels: auto:enhancement, size:XXL

#6719 feat(community): BM25 Keyword Search Retriever
  docs/core_docs/docs/integrations/retrievers/bm25.ipynb
  libs/langchain-community/.gitignore
  libs/langchain-community/langchain.config.js
  libs/langchain-community/package.json
  libs/langchain-community/src/load/import_map.ts
  libs/langchain-community/src/retrievers/bm25.ts
  libs/langchain-community/src/retrievers/tests/bm25.test.ts
  libs/langchain-community/src/utils/@furkantoprak/bm25/BM25.ts
  libs/langchain-community/src/utils/@furkantoprak/bm25/LICENSE.md
Labels: auto:improvement, size:L

#6726 chore(baidu-qianfan): Release 0.0.4
  libs/langchain-baidu-qianfan/package.json
Labels: size:XS

#6727 chore(anthropic): Release 0.2.18
  libs/langchain-anthropic/package.json
Labels: size:XS

#6728 chore(core): Release 0.2.32
  langchain-core/package.json
Labels: size:XS

#6729 chore(community): Release 0.2.33
  libs/langchain-community/package.json
Labels: size:XS

#5287 cloudflare[minor]: use native Cloudflare Workers AI binding
  langchain/package.json
  libs/langchain-cloudflare/package.json
  libs/langchain-cloudflare/src/embeddings.ts
  yarn.lock
Labels: lgtm, in progress, auto:improvement, size:S

#6730 docs: Fix typo in chatbot tutorial
  docs/core_docs/docs/tutorials/chatbot.ipynb
Labels: auto:documentation, size:L

#6731 Make v0.1 deprecation banner brighter
  docs/core_docs/docusaurus.config.js
Labels: auto:documentation, size:XS

#6732 docs: Update wording in tool choice guide
  docs/core_docs/docs/how_to/tool_choice.ipynb
Labels: auto:documentation, size:M

#5835 google-common[major]: Media manager
  libs/langchain-google-common/.gitignore
  libs/langchain-google-common/langchain.config.js
  libs/langchain-google-common/package.json
  libs/langchain-google-common/src/auth.ts
  libs/langchain-google-common/src/chat_models.ts
  libs/langchain-google-common/src/connection.ts
  libs/langchain-google-common/src/embeddings.ts
  libs/langchain-google-common/src/experimental/media.ts
  libs/langchain-google-common/src/experimental/utils/media_core.ts
  libs/langchain-google-common/src/llms.ts
  libs/langchain-google-common/src/tests/chat_models.test.ts
  libs/langchain-google-common/src/tests/utils.test.ts
  libs/langchain-google-common/src/types.ts
  libs/langchain-google-common/src/utils/gemini.ts
  libs/langchain-google-gauth/src/index.ts
  libs/langchain-google-gauth/src/media.ts
  libs/langchain-google-gauth/src/tests/chat_models.int.test.ts
  libs/langchain-google-gauth/src/tests/data/blue-square.png
  libs/langchain-google-gauth/src/tests/media.int.test.ts
  libs/langchain-google-vertexai/src/tests/chat_models.int.test.ts
  libs/langchain-google-webauth/package.json
  libs/langchain-google-webauth/src/media.ts
  libs/langchain-google-webauth/src/tests/chat_models.int.test.ts
  libs/langchain-google-webauth/src/tests/data/blue-square.png
  libs/langchain-google-webauth/src/tests/data/rainbow.mp4
  libs/langchain-google-webauth/src/tests/media.int.test.ts
  yarn.lock
Labels: lgtm, auto:enhancement, size:XXL

#6736 fix(langchain): Fix local file store traversal issue
  docs/core_docs/docs/integrations/stores/file_system.ipynb
  langchain/src/storage/file_system.ts
  langchain/src/storage/tests/file_system.test.ts
Labels: auto:bug, size:M

#6737 fix(ci): Fix cf exports test
  environment_tests/test-exports-cf/package.json
  environment_tests/test-exports-cf/src/index.ts
Labels: auto:bug, size:XS

#6738 fix(ci): Fix cf-workers export test
  environment_tests/test-exports-cf/package.json
  environment_tests/test-exports-cf/src/index.ts
Labels: size:XS

#6739 fix(ci): Fix esbuild tests
  environment_tests/test-exports-esbuild/package.json
  environment_tests/test-exports-esbuild/src/import.cjs
  environment_tests/test-exports-esbuild/src/index.js
  environment_tests/test-exports-esbuild/src/require.cjs
  environment_tests/test-exports-esbuild/src/typescript.ts
Labels: size:M

#6741 fix(ci): Fix ci
  environment_tests/test-exports-bun/src/import.cjs
  environment_tests/test-exports-bun/src/index.js
  environment_tests/test-exports-bun/src/index.ts
  environment_tests/test-exports-bun/src/require.cjs
  environment_tests/test-exports-cjs/src/import.js
  environment_tests/test-exports-cjs/src/index.mjs
  environment_tests/test-exports-cjs/src/index.ts
  environment_tests/test-exports-cjs/src/require.js
  environment_tests/test-exports-esm/package.json
  environment_tests/test-exports-esm/src/import.cjs
  environment_tests/test-exports-esm/src/index.js
  environment_tests/test-exports-esm/src/index.ts
  environment_tests/test-exports-esm/src/require.cjs
Labels: size:M

#6742 chore(langchain): Release 0.2.19
  langchain/package.json
Labels: size:XS

#6744 fix(langchain): Prevent exception when using plan & execute agent with no tools
  langchain/src/experimental/plan_and_execute/agent_executor.ts
  langchain/src/experimental/plan_and_execute/tests/plan_and_execute.int.test.ts
Labels: lgtm, auto:bug, size:S

#6747 fix(openai): Avoid thrown error on o1 stream calls
  libs/langchain-openai/src/chat_models.ts
  libs/langchain-openai/src/tests/chat_models.int.test.ts
Labels: auto:bug, size:S

#6748 chore(openai): Release 0.2.11
  libs/langchain-openai/package.json
Labels: size:XS

#6750 fix(api_refs): Update base url to v03 (v0.3 branch)
  docs/api_refs/scripts/create-entrypoints.js
  docs/api_refs/scripts/typedoc-plugin.js
Labels: auto:documentation, size:XS

#6757 docs: Update link
  docs/core_docs/docs/mdx_components/integration_install_tooltip.mdx
Labels: auto:documentation, size:XS

#6758 docs: url slug business
  docs/core_docs/docusaurus.config.js
  docs/core_docs/package.json
  docs/core_docs/vercel.json
Labels: auto:documentation, size:M

#6751 fix(api_refs): Add v03 option to version dropdown (v0.2 branch)
  docs/api_refs/scripts/typedoc-plugin.js
Labels: auto:documentation, size:XS

#6752 fix(api_refs): Add v03 option to version dropdown (v0.1 branch)
  docs/api_refs/typedoc_plugins/hide_underscore_lc.js
Labels: auto:documentation, size:XS

#6761 chore(deps): Update deps for 0.3.0
  langchain/package.json
  libs/langchain-anthropic/package.json
  libs/langchain-community/package.json
  libs/langchain-openai/package.json
  libs/langchain-textsplitters/package.json
  libs/langchain-weaviate/package.json
  yarn.lock
Labels: auto:nit, size:S

#6762 chore(textsplitters): Release 0.1.0
  libs/langchain-textsplitters/package.json
Labels: size:XS

#6763 chore(cloudflare): Bump dep
  libs/langchain-cloudflare/package.json
  yarn.lock
Labels: size:XS

#6764 chore(openai): Release 0.3.0
  libs/langchain-openai/package.json
  yarn.lock
Labels: size:XS

#6766 chore(mistralai): Release 0.1.0
  libs/langchain-mistralai/package.json
Labels: size:XS

#6769 chore(langchain): Release 0.3.0
  langchain/package.json
Labels: size:XS

#6770 chore(build): Update lock
  yarn.lock
Labels: size:XS

#6773 chore(weaviate): Release 0.1.0
  libs/langchain-weaviate/package.json
Labels: size:XS

#6776 chore(azure-cosmosdb): Release 0.2.0
  libs/langchain-azure-cosmosdb/package.json
Labels: size:XS

#6777 chore(azure-dynamic-sessions): Release 0.2.0
  libs/langchain-azure-dynamic-sessions/package.json
Labels: size:XS

#6778 chore(release): Release Baidu, Exa, MixedBread, Nomic
  libs/langchain-baidu-qianfan/package.json
  libs/langchain-exa/package.json
  libs/langchain-mixedbread-ai/package.json
  libs/langchain-nomic/package.json
  libs/langchain-yandex/package.json
Labels: size:S

#6774 fix(ci): Fix CI issue where local monorepo node_modules were copied into export tests
  environment_tests/scripts/docker-ci-entrypoint.sh
  langchain/package.json
  libs/langchain-cloudflare/.gitignore
  libs/langchain-cloudflare/langchain.config.js
  libs/langchain-cloudflare/package.json
  libs/langchain-cloudflare/src/langgraph/checkpointers.ts
  libs/langchain-community/.gitignore
  libs/langchain-community/langchain.config.js
  libs/langchain-community/package.json
  libs/langchain-community/src/langgraph/checkpointers/tests/checkpointer.int.test.ts
  libs/langchain-community/src/langgraph/checkpointers/vercel_kv.ts
  libs/langchain-community/src/load/import_constants.ts
  package.json
  yarn.lock
Labels: auto:bug, size:XL

#6779 chore(community): Release 0.3.0
  libs/langchain-community/package.json
Labels: size:XS

#6780 chore(cloudflare): Release 0.1.0
  libs/langchain-cloudflare/package.json
Labels: size:XS

#6781 chore(groq): Release 0.1.1
  libs/langchain-groq/package.json
Labels: size:XS

#6782 chore(mongodb): Release 0.1.0
  libs/langchain-mongodb/package.json
Labels: size:XS

#6784 chore(pinecone): Release 0.1.0
  libs/langchain-pinecone/package.json
Labels: size:XS

#6785 chore(qdrant): Release 0.1.0
  libs/langchain-qdrant/package.json
Labels: size:XS

#6786 chore(redis): Release 0.1.0
  libs/langchain-redis/package.json
Labels: size:XS

#6787 chore(google): Release 0.1.0
  libs/langchain-google-common/package.json
  libs/langchain-google-gauth/package.json
  libs/langchain-google-vertexai-web/package.json
  libs/langchain-google-vertexai/package.json
  libs/langchain-google-webauth/package.json
  yarn.lock
Labels: size:S

#6788 chore(google-genai): Release 0.1.0
  libs/langchain-google-genai/package.json
Labels: size:XS

#6797 fix(core, langchain): Update langsmith dep to rc
  langchain-core/package.json
  langchain/package.json
  yarn.lock
Labels: auto:bug, size:XS

#6800 chore(core): Release 0.3.1
  langchain-core/package.json
Labels: size:XS

#6798 fix(core, langchain): Update langsmith dep to rc for 0.2 releases
  langchain-core/package.json
  langchain/package.json
  yarn.lock
Labels: auto:nit, size:XS

#6801 chore(langchain): Release 0.3.1
  langchain/package.json
Labels: size:XS

#6803 fix(langchain): Remove circular peer dep in langchain on @langchain/community
  langchain/package.json
  yarn.lock
Labels: auto:bug, size:XS

#6805 chore(langchain): Release 0.3.2
  langchain/package.json
Labels: size:XS

#6804 fix(langchain): Removes circular peer dep in langchain 0.2
  langchain/package.json
  yarn.lock
Labels: auto:bug, size:XS

#6811 docs: v0.1 link to latest in dropdown
  docs/core_docs/docusaurus.config.js
Labels: auto:documentation, size:XS

#6813 docs: v0.1 deprecation warning
  docs/core_docs/docusaurus.config.js
  docs/core_docs/src/css/custom.css
  docs/core_docs/src/theme/DocVersionBanner/index.js
Labels: auto:documentation, size:XXL

#6810 docs: new algolia index
  docs/core_docs/docusaurus.config.js
Labels: auto:documentation, size:XS

#6793 docs: Adds 0.3 versioning docs
  deno.json
  docs/core_docs/docs/how_to/agent_executor.ipynb
  docs/core_docs/docs/how_to/migrate_agent.ipynb
  docs/core_docs/docs/versions/overview.mdx
  docs/core_docs/docs/versions/packages.mdx
  docs/core_docs/docs/versions/v0_3/index.mdx
  docs/core_docs/package.json
  yarn.lock
Labels: auto:documentation, size:XXL

#6815 docs: Revert v0.1 banner
  docs/core_docs/src/css/custom.css
Labels: auto:documentation, size:S

#6809 docs: NotFound page suggested links
  docs/core_docs/src/theme/NotFound.js
Labels: auto:documentation, size:XXL

#6768 docs: Fix Firecrawl v0 version in the docs
  docs/core_docs/docs/integrations/document_loaders/web_loaders/firecrawl.ipynb
Labels: auto:documentation, size:XS

#6814 docs: v0.2 deprecation warning
  docs/core_docs/docusaurus.config.js
  docs/core_docs/src/css/custom.css
  docs/core_docs/src/theme/DocVersionBanner/index.js
Labels: auto:documentation, size:L

#6812 docs: v0.2 link to latest in dropdown
  docs/core_docs/docusaurus.config.js
Labels: auto:documentation, size:XS

#6816 docs: Fix concepts docs hash param
  docs/core_docs/docs/how_to/output_parser_structured.ipynb
  docs/core_docs/docs/how_to/routing.mdx
  docs/core_docs/docs/how_to/streaming.ipynb
  docs/core_docs/docs/tutorials/rag.ipynb
  docs/core_docs/src/theme/NotFound.js
Labels: auto:documentation, size:S

#6756 fix(google): Fixed - TypeError: Cannot read properties of undefined (reading 'generationInfo')
  libs/langchain-google-common/src/utils/gemini.ts
Labels: auto:bug, size:XS

#6819 fix(ci): Conditionally deplpy api refs to prod
  .github/workflows/deploy-api-refs-prod.yml
Labels: auto:nit, size:XS

#6820 fix(ci): Add vercel ignore file
  .vercelignore
Labels: auto:nit, size:XS

#6823 feat(google-common): Export ChatConnection class
  libs/langchain-google-common/src/chat_models.ts
Labels: auto:nit, size:XS

#6824 chore(google-common): Release 0.1.1
  libs/langchain-google-common/package.json
Labels: size:XS

#6825 fix(core,langchain,community): Update LangSmith deps, lighten export tests
  environment_tests/test-exports-cf/package.json
  environment_tests/test-exports-cf/src/index.ts
  environment_tests/test-exports-cjs/package.json
  environment_tests/test-exports-cjs/src/import.js
  environment_tests/test-exports-cjs/src/index.mjs
  environment_tests/test-exports-cjs/src/index.ts
  environment_tests/test-exports-cjs/src/require.js
  environment_tests/test-exports-esbuild/package.json
  environment_tests/test-exports-esbuild/src/import.cjs
  environment_tests/test-exports-esbuild/src/index.js
  environment_tests/test-exports-esbuild/src/require.cjs
  environment_tests/test-exports-esbuild/src/typescript.ts
  environment_tests/test-exports-esm/package.json
  environment_tests/test-exports-esm/src/import.cjs
  environment_tests/test-exports-esm/src/index.js
  environment_tests/test-exports-esm/src/index.ts
  environment_tests/test-exports-esm/src/require.cjs
  examples/package.json
  langchain-core/package.json
  langchain/package.json
  libs/langchain-baidu-qianfan/package.json
  libs/langchain-community/package.json
  yarn.lock
Labels: auto:nit, size:L

#6796 deps: update @anthropic-ai/sdk to 0.27.3 from 0.25.2
  libs/langchain-anthropic/package.json
  libs/langchain-anthropic/src/chat_models.ts
  yarn.lock
Labels: auto:improvement, size:XS

#6826 chore(anthropic): Release 0.3.1
  libs/langchain-anthropic/package.json
Labels: size:XS

#6827 docs: Adds warnings to cypher chain about credentials
  docs/core_docs/docs/how_to/graph_prompting.ipynb
  docs/core_docs/docs/how_to/graph_semantic.ipynb
  docs/core_docs/docs/tutorials/graph.ipynb
  langchain/src/chains/graph_qa/cypher.ts
  libs/langchain-community/src/chains/graph_qa/cypher.ts
Labels: auto:documentation, size:M

#6706 feat(community): Remove required param from LanceDB integration
  examples/package.json
  examples/src/indexes/vector_stores/lancedb/fromDocs.ts
  examples/src/indexes/vector_stores/lancedb/fromTexts.ts
  libs/langchain-community/package.json
  libs/langchain-community/src/vectorstores/lancedb.ts
  libs/langchain-community/src/vectorstores/tests/lancedb.int.test.ts
  yarn.lock
Labels: lgtm, auto:improvement, size:L

#6828 fix(ci): Fix lint
  langchain/src/chat_models/universal.ts
  langchain/src/output_parsers/openai_tools.ts
Labels: auto:nit, size:XS

#6831 chore(community): Release 0.3.1
  libs/langchain-community/package.json
Labels: size:XS

#6835 fix(ci): Update API ref deployment action & vercelignore
  .github/workflows/deploy-api-refs-prod.yml
  .vercelignore
Labels: size:S

#6836 fix(core): Fix nested stream events behavior
  langchain-core/src/runnables/base.ts
  langchain-core/src/runnables/tests/runnable_stream_events_v2.test.ts
  langchain-core/src/tracers/event_stream.ts
Labels: auto:bug, size:M

#6837 fix(core): Fix nested stream events behavior for 0.2
  langchain-core/src/runnables/base.ts
  langchain-core/src/runnables/tests/runnable_stream_events_v2.test.ts
  langchain-core/src/tracers/event_stream.ts
Labels: auto:bug, size:M

#6838 fix(ci): Add script for aliasing domains in gh deployments
  .github/scripts/deployDomainVercel.sh
  .github/workflows/deploy-api-refs-prod.yml
Labels: auto:nit, size:M

#6841 [v0.2]fix(ci): Update deploy api refs to prod action
  .github/scripts/deployDomainVercel.sh
  .github/workflows/deploy-api-refs-prod.yml
Labels: auto:nit, size:M

#6842 fix(ci): Make vercel domain script executable
  .github/scripts/deployDomainVercel.sh
Labels: size:XS

#6754 fix(groq): Feature/groq response format improvements
  docs/core_docs/docs/integrations/chat/groq.ipynb
  libs/langchain-groq/src/chat_models.ts
Labels: question, lgtm, auto:improvement, auto:documentation, size:M

#6847 fix(core): Loosen return type of withConfig, fix tracing for nested tool calls
  langchain-core/src/runnables/base.ts
  langchain-core/src/tools/index.ts
  langchain-core/src/tools/tests/tools.test.ts
Labels: auto:nit, size:XS

#6848 chore(core): Release 0.3.3
  langchain-core/package.json
Labels: size:XS

#6849 docs(tutorial): fix typo
  docs/core_docs/docs/tutorials/chatbot.ipynb
Labels: lgtm, auto:documentation, size:XS

#6857 fix(mistral): Fix call options type
  libs/langchain-mistralai/src/chat_models.ts
Labels: auto:bug, size:XS

#6858 chore(mistralai): Release 0.1.1
  libs/langchain-mistralai/package.json
Labels: size:XS

#6859 fix: typo fix in agents doc
  docs/core_docs/docs/concepts.mdx
Labels: auto:nit, size:XS

#6861 feat(community): Update ChromeLLM with latest experimental API
  libs/langchain-community/src/experimental/llms/chrome_ai.ts
Labels: auto:improvement, size:M

#6862 chore(community): Release 0.3.2
  libs/langchain-community/package.json
Labels: size:XS

#6832 fix(community): bump `@upstash/ratelimit` version
  libs/langchain-community/package.json
  libs/langchain-community/src/callbacks/handlers/upstash_ratelimit.ts
  yarn.lock
Labels: lgtm, auto:improvement, size:S

#6863 fix(docs): Drop announcement bar
  docs/core_docs/docusaurus.config.js
Labels: auto:documentation, size:XS

#6864 groq[patch]: set api key attr
  libs/langchain-groq/src/chat_models.ts
  libs/langchain-groq/src/tests/chat_models.test.ts
Labels: auto:nit, size:S

#6865 chore(groq): Release 0.1.2
  libs/langchain-groq/package.json
Labels: size:XS

#6872 chore(openai,anthropic): Expose OpenAI and Anthropic payload formatters
  libs/langchain-anthropic/src/chat_models.ts
  libs/langchain-anthropic/src/index.ts
  libs/langchain-anthropic/src/tests/chat_models.test.ts
  libs/langchain-anthropic/src/utils/message_inputs.ts
  libs/langchain-openai/src/chat_models.ts
Labels: auto:improvement, size:S

#6874 chore(openai): Release 0.3.1
  libs/langchain-openai/package.json
Labels: size:XS

#6875 chore(anthropic): Release 0.3.2
  libs/langchain-anthropic/package.json
Labels: size:XS

#6876 feat(anthropic,openai): Add payload formatting utils to Anthropic and OpenAI
  libs/langchain-anthropic/src/index.ts
  libs/langchain-anthropic/src/tests/chat_models.test.ts
  libs/langchain-anthropic/src/tests/prompts.int.test.ts
  libs/langchain-anthropic/src/utils/prompts.ts
  libs/langchain-openai/src/index.ts
  libs/langchain-openai/src/tests/prompts.int.test.ts
  libs/langchain-openai/src/utils/prompts.ts
Labels: lgtm, auto:enhancement, size:L

#6877 chore(openai): Release 0.3.2
  libs/langchain-openai/package.json
Labels: size:XS

#6878 chore(anthropic): Release 0.3.3
  libs/langchain-anthropic/package.json
Labels: size:XS

#6866 community[patch]: support AWS_... env vars
  libs/langchain-community/src/chat_models/bedrock/index.ts
  libs/langchain-community/src/chat_models/bedrock/web.ts
  libs/langchain-community/src/chat_models/tests/chatbedrock.test.ts
  libs/langchain-community/src/utils/bedrock/index.ts
Labels: auto:improvement, size:L

#6880 chore(community): Release 0.3.3
  libs/langchain-community/package.json
Labels: size:XS

#6767 jigsawstack[major]: Add Jigsawtack Integration Docs
  docs/core_docs/docs/integrations/llms/jigsawstack.mdx
  docs/core_docs/docs/integrations/tools/jigsawstack.mdx
Labels: auto:enhancement, auto:documentation, size:L

#6895 feat(build): Allow entrypoint side-effect escape hatch for non-entrypoint files
  libs/langchain-scripts/package.json
  libs/langchain-scripts/src/build/index.ts
Labels: auto:improvement, size:M

#6894 feat(core): Allow more types of inputs in prompt templates
  langchain-core/src/prompts/prompt.ts
  langchain-core/src/prompts/template.ts
  langchain-core/src/prompts/tests/chat.test.ts
  langchain-core/src/prompts/tests/prompt.test.ts
Labels: auto:improvement, size:M

#6896 chore(core): Release 0.3.4
  langchain-core/package.json
Labels: size:XS

#6900 fix(ci): Fix npm community install test
  dependency_range_tests/scripts/with_standard_tests/community/node/update_resolutions_npm.js
  dependency_range_tests/scripts/with_standard_tests/community/npm-install.sh
  docs/core_docs/docs/integrations/llms/raycast.mdx
  docs/core_docs/docs/integrations/vectorstores/couchbase.mdx
  examples/package.json
  examples/src/indexes/vector_stores/couchbase/similaritySearch.ts
  examples/src/models/llm/raycast.ts
  libs/langchain-community/package.json
  libs/langchain-community/src/chat_models/llama_cpp.ts
  libs/langchain-community/src/document_loaders/web/couchbase.ts
  libs/langchain-community/src/embeddings/llama_cpp.ts
  libs/langchain-community/src/llms/llama_cpp.ts
  libs/langchain-community/src/llms/raycast.ts
  libs/langchain-community/src/utils/llama_cpp.ts
  libs/langchain-community/src/vectorstores/couchbase.ts
  yarn.lock
Labels: auto:bug, size:L

#6898 fix(qdrant): Support for custom IDs when adding documents
  libs/langchain-qdrant/src/tests/vectorstores.int.test.ts
  libs/langchain-qdrant/src/vectorstores.ts
Labels: lgtm, auto:refactor, size:S

#6902 chore(openai): Release 0.3.3
  libs/langchain-openai/package.json
Labels: size:XS

#6889 fix(community): Update PrismaVectorStore to execute raw SQL with `Prisma.sql` tagged template
  libs/langchain-community/src/vectorstores/prisma.ts
Labels: question, auto:improvement, size:S

#6903 chore(community): Release 0.3.4
  libs/langchain-community/package.json
Labels: size:XS

#6905 fix(ollama): Drop tool_choice from docstrings
  libs/langchain-ollama/src/chat_models.ts
Labels: auto:nit, size:XS

#6906 fix(openai): Allow OpenAI streaming with json_schema, fix docs nits
  docs/core_docs/docs/integrations/chat/openai.ipynb
  docs/core_docs/docs/integrations/document_loaders/file_loaders/epub.mdx
  libs/langchain-openai/src/chat_models.ts
Labels: auto:bug, auto:documentation, size:L

#6907 chore(openai): Release 0.3.4
  libs/langchain-openai/package.json
Labels: size:XS

#6908 fix(core): Narrow chat model return type
  langchain-core/src/language_models/chat_models.ts
Labels: lgtm, auto:nit, size:XS

#6885 feat(core): Pass token usage in streamed chunks to callback handlers
  langchain-core/src/language_models/chat_models.ts
Labels: auto:enhancement, size:M

#6909 fix(scripts): Fix dist directory not empty error
  libs/langchain-scripts/package.json
Labels: auto:bug, size:XS

#6911 chore(core): Release 0.3.5
  langchain-core/package.json
Labels: size:XS
