Repository langchain-ai/langchainjs, pull requests merged in 2024-01, with the labels that each got.

#3843 fix(doc): Sidebar how_to (tools)
  docs/core_docs/docs/modules/agents/tools/how_to/_category_.yml
  docs/core_docs/docs/modules/agents/tools/how_to/agents_with_vectorstores.mdx
Labels: lgtm, auto:documentation, size:XS

#3842 docs[patch]: relevant example for map reduce
  examples/src/chains/question_answering_map_reduce.ts
Labels: lgtm, auto:documentation, size:S

#3846 fix: textFieldMaxLength parameter missing
  libs/langchain-community/src/vectorstores/milvus.ts
Labels: lgtm, auto:bug, size:S

#3820 feat: add formatMessages types & prompt test
  langchain/src/experimental/autogpt/prompt.ts
  langchain/src/experimental/autogpt/tests/prompt.test.ts
Labels: lgtm, auto:improvement, size:L

#3859 docs[patch]: Use component for integration install instructions
  docs/core_docs/docs/get_started/quickstart.mdx
  docs/core_docs/docs/integrations/chat/anthropic.mdx
  docs/core_docs/docs/integrations/chat/cohere.mdx
  docs/core_docs/docs/integrations/chat/google_generativeai.mdx
  docs/core_docs/docs/integrations/chat/mistral.mdx
  docs/core_docs/docs/integrations/llms/cohere.mdx
  docs/core_docs/docs/integrations/platforms/google.mdx
  docs/core_docs/docs/integrations/text_embedding/google_generativeai.mdx
  docs/core_docs/docs/integrations/text_embedding/mistralai.mdx
  docs/core_docs/docs/integrations/tools/tavily_search.mdx
  docs/core_docs/docs/integrations/vectorstores/astradb.mdx
  docs/core_docs/docs/integrations/vectorstores/azure_cosmosdb.mdx
  docs/core_docs/docs/mdx_components/integration_install_tooltip.mdx
  docs/core_docs/docs/modules/agents/agent_types/openai_functions_agent.mdx
  docs/core_docs/docs/modules/agents/agent_types/openai_tools_agent.mdx
  docs/core_docs/docs/modules/agents/agent_types/react.mdx
  docs/core_docs/docs/modules/agents/agent_types/structured_chat.mdx
  docs/core_docs/docs/modules/agents/agent_types/xml.mdx
  docs/core_docs/docs/modules/model_io/chat/quick_start.mdx
  docs/core_docs/docs/modules/model_io/llms/quick_start.mdx
  docs/core_docs/docs/modules/model_io/quick_start.mdx
  docs/core_docs/docusaurus.config.js
Labels: auto:documentation, size:L

#3860 langchain[patch]: Adds entrypoint deprecation log method
  langchain/src/util/entrypoint_deprecation.ts
Labels: auto:improvement, size:S

#3855 Todo: propagate error in Neo4jGraph
  libs/langchain-community/src/graphs/neo4j_graph.ts
Labels: lgtm, auto:improvement, size:XS

#3834 google-genai: fix streaming via callback handlers for ChatGoogleGenerativeAI
  libs/langchain-google-genai/src/chat_models.ts
  libs/langchain-google-genai/src/tests/chat_models.int.test.ts
Labels: lgtm, auto:bug, size:M

#3863 google-genai[patch]: Release 0.0.7
  libs/langchain-google-genai/package.json
Labels: auto:nit, size:XS

#3862 docs[patch]: Allow for cmd k on ALL pages
  docs/api_refs/typedoc_plugins/hide_underscore_lc.js
Labels: auto:documentation, size:S

#3865 langchain[patch],core[patch]: Remove v1 tracer and move test to core
  langchain-core/.gitignore
  langchain-core/package.json
  langchain-core/scripts/create-entrypoints.js
  langchain-core/src/callbacks/manager.ts
  langchain-core/src/load/import_map.ts
  langchain-core/src/tracers/initialize.ts
  langchain-core/src/tracers/tests/langchain_tracer.int.test.ts
  langchain-core/src/tracers/tracer_langchain_v1.ts
  langchain/src/callbacks/handlers/tracer_langchain_v1.ts
  langchain/src/callbacks/index.ts
  langchain/src/callbacks/tests/langchain_tracer.int.test.ts
  langchain/src/callbacks/tests/langchain_tracer_v1.int.test.ts
Labels: lgtm, auto:refactor, size:XL

#3867 core[patch]: Compute trace_id and dotted_run_id client side
  langchain-core/src/tracers/base.ts
  langchain-core/src/tracers/tests/tracer.test.ts
Labels: lgtm, auto:improvement, size:M

#3868 docs[patch]: Adds token tracking usage docs
  docs/api_refs/typedoc.json
  docs/core_docs/docs/modules/model_io/chat/caching.mdx
  docs/core_docs/docs/modules/model_io/chat/custom_chat.mdx
  docs/core_docs/docs/modules/model_io/chat/token_usage_tracking.mdx
  docs/core_docs/docs/modules/model_io/llms/token_usage_tracking.mdx
  examples/src/models/chat/token_usage_tracking.ts
  examples/src/models/llm/token_usage_tracking.ts
Labels: auto:documentation, size:L

#3760 langchain[patch]: Allow for passing bytestore into multi vector retriever
  examples/src/retrievers/multi_vector_hypothetical.ts
  examples/src/retrievers/multi_vector_small_chunks.ts
  examples/src/retrievers/multi_vector_summary.ts
  langchain/src/retrievers/multi_vector.ts
  langchain/src/retrievers/parent_document.ts
Labels: auto:improvement, size:M

#3866 langchain[minor]: fix: use zod validation when using createStructuredOutputChainFromZod
  langchain/src/chains/openai_functions/structured_output.ts
  langchain/src/chains/openai_functions/tests/structured_output.test.ts
Labels: auto:improvement, size:L

#3869 community[patch]: Move remote retriever to community
  langchain/src/load/import_type.d.ts
  langchain/src/retrievers/remote/chatgpt-plugin.ts
  langchain/src/retrievers/remote/index.ts
  langchain/src/retrievers/remote/remote-retriever.ts
  langchain/src/retrievers/vespa.ts
  libs/langchain-community/.gitignore
  libs/langchain-community/package.json
  libs/langchain-community/scripts/create-entrypoints.js
  libs/langchain-community/src/load/import_map.ts
  libs/langchain-community/src/load/import_type.d.ts
  libs/langchain-community/src/retrievers/remote/base.ts
  libs/langchain-community/src/retrievers/remote/index.ts
  libs/langchain-community/src/retrievers/vespa.ts
Labels: auto:refactor, size:L

#3854 fix a bug in Bedrock streaming
  libs/langchain-community/src/chat_models/bedrock/web.ts
  libs/langchain-community/src/llms/bedrock/web.ts
Labels: lgtm, auto:bug, size:S

#3873 community[patch]: Release 0.0.13
  libs/langchain-community/package.json
Labels: auto:nit, size:XS

#3874 yandex[patch]: Initial release
  libs/langchain-yandex/jest.config.cjs
  libs/langchain-yandex/package.json
  yarn.lock
Labels: auto:improvement, size:XS

#3875 langchain[patch]: Bump community dependency
  langchain/package.json
  yarn.lock
Labels: auto:nit, size:XS

#3876 langchain[patch]: Release 0.0.214
  langchain/package.json
Labels: auto:nit, size:XS

#3877 core[patch]: Release 0.1.7
  langchain-core/package.json
Labels: auto:nit, size:XS

#3878 docs[patch]: Update imports in docs
  docs/api_refs/typedoc.json
  docs/core_docs/docs/integrations/chat/yandex.mdx
  docs/core_docs/docs/integrations/llms/yandex.mdx
  examples/src/models/chat/integration_yandex.ts
  examples/src/models/llm/yandex.ts
Labels: auto:documentation, size:S

#3871 core[patch]: Add token usage interface to core
  langchain-core/src/language_models/base.ts
Labels: auto:improvement, size:S

#3887 ci[patch]: Adds initial dependency range test, move tests
  .github/workflows/compatibility.yml
  .github/workflows/test-exports.yml
  dependency_range_tests/docker-compose.yml
  dependency_range_tests/scripts/docker-ci-entrypoint.sh
  docker-compose.yml
  environment_tests/docker-compose.yml
  examples/package.json
  examples/src/document_loaders/example_data/obsidian/bad_frontmatter.md
  examples/src/document_loaders/example_data/obsidian/frontmatter.md
  examples/src/document_loaders/example_data/obsidian/no_frontmatter.md
  examples/src/document_loaders/example_data/obsidian/no_metadata.md
  examples/src/document_loaders/example_data/obsidian/tags_and_frontmatter.md
  examples/src/indexes/vector_stores/opensearch/docker-compose.yml
  examples/src/indexes/vector_stores/pgvector_vectorstore/docker-compose.example.yml
  examples/src/indexes/vector_stores/prisma_vectorstore/docker-compose.example.yml
  examples/src/indexes/vector_stores/redis/docker-compose.yml
  examples/src/indexes/vector_stores/typeorm_vectorstore/docker-compose.example.yml
  examples/src/llms/bedrock.js
  langchain/package.json
  langchain/src/agents/tests/sql.test.ts
  langchain/src/document_loaders/fs/srt.ts
  langchain/src/document_loaders/tests/text.test.ts
  langchain/src/prompts/tests/selectors.test.ts
  langchain/src/retrievers/tests/vectorstores.test.ts
  langchain/src/util/tests/sql_utils.test.ts
  libs/langchain-community/src/document_transformers/tests/html_to_text.int.test.ts
  libs/langchain-community/src/document_transformers/tests/mozilla_readability.test.ts
  package.json
  yarn.lock
Labels: auto:refactor, size:XL

#3889 docs[patch]: update llm quickstart section heading
  docs/core_docs/docs/modules/model_io/llms/quick_start.mdx
Labels: auto:documentation, size:XS

#3896 Jacob/connery update
  docs/core_docs/docs/integrations/toolkits/connery.mdx
  docs/core_docs/docs/integrations/tools/connery.mdx
  examples/src/agents/connery_mrkl.ts
  examples/src/tools/connery.ts
  libs/langchain-community/src/agents/toolkits/connery/index.ts
  libs/langchain-community/src/tools/connery.ts
Labels: auto:documentation, size:L

#3895 Jacob/llmonitor to lunary
  docs/core_docs/docs/ecosystem/integrations/llmonitor.md
  docs/core_docs/docs/ecosystem/integrations/lunary.mdx
  examples/src/callbacks/lunary_custom_agent.ts
  examples/src/callbacks/lunary_custom_app_id.ts
  examples/src/callbacks/lunary_langchain_agent.ts
  examples/src/callbacks/lunary_quickstart.ts
  examples/src/callbacks/lunary_tags.ts
  examples/src/callbacks/lunary_users.ts
  libs/langchain-community/.gitignore
  libs/langchain-community/package.json
  libs/langchain-community/scripts/create-entrypoints.js
  libs/langchain-community/src/callbacks/handlers/llmonitor.ts
  libs/langchain-community/src/callbacks/handlers/lunary.ts
  libs/langchain-community/src/load/import_constants.ts
  libs/langchain-community/src/load/import_type.d.ts
  yarn.lock
Labels: auto:documentation, size:L

#3899 community[patch]: Release 0.0.14
  libs/langchain-community/package.json
Labels: auto:nit, size:XS

#3901 Update embedQuery to use inputType
  libs/langchain-cohere/src/embeddings.ts
Labels: lgtm, auto:improvement, size:XS

#3902 cohere[patch]: Fix Cohere release command
  libs/langchain-cohere/jest.config.cjs
Labels: auto:nit, size:XS

#3904 cohere[patch]: Release 0.0.2
  libs/langchain-cohere/package.json
Labels: auto:nit, size:XS

#3903 template[patch]: Add passWithNoTests to template jest config
  libs/create-langchain-integration/template/jest.config.cjs
Labels: auto:improvement, size:XS

#3905 template[patch]: Bump create-langchain-integration
  libs/create-langchain-integration/package.json
Labels: size:XS

#3906 ci[minor]: Add lowest dependency range CI check
  .github/workflows/compatibility.yml
  dependency_range_tests/docker-compose.yml
  dependency_range_tests/scripts/node/package.json
  dependency_range_tests/scripts/node/update_resolutions_lowest.js
  dependency_range_tests/scripts/node/yarn.lock
  dependency_range_tests/scripts/test-langchain-with-latest-deps.sh
  dependency_range_tests/scripts/test-langchain-with-lowest-deps.sh
Labels: auto:improvement, size:M

#3912 core[patch]: Readd core entrypoint
  langchain-core/.gitignore
  langchain-core/package.json
  langchain-core/scripts/create-entrypoints.js
  langchain-core/src/load/import_map.ts
  langchain-core/src/tracers/initialize.ts
  langchain-core/src/tracers/tracer_langchain_v1.ts
Labels: auto:improvement, size:L

#3913 langchain[patch]: Test housekeeping
  examples/src/guides/fallbacks/better_model.ts
  langchain-core/src/callbacks/tests/manager.int.test.ts
  langchain-core/src/language_models/tests/count_tokens.test.ts
  langchain-core/src/runnables/tests/runnable_passthrough.test.ts
  langchain-core/src/tests/caches.test.ts
  langchain/src/agents/tests/chat_agent.int.test.ts
  langchain/src/chains/question_answering/tests/load.int.test.ts
  langchain/src/chains/summarization/tests/load.int.test.ts
  langchain/src/chains/tests/chat_vector_db_qa_chain.int.test.ts
  langchain/src/chains/tests/combine_docs_chain.int.test.ts
  langchain/src/chains/tests/conversation_chain.int.test.ts
  langchain/src/chains/tests/conversational_retrieval_chain.int.test.ts
  langchain/src/chains/tests/llm_chain.int.test.ts
  langchain/src/chains/tests/vector_db_qa_chain.int.test.ts
  langchain/src/document_loaders/tests/assemblyai.int.test.ts
  langchain/src/evaluation/qa/tests/eval_chain.int.test.ts
  langchain/src/llms/tests/prompt_layer.int.test.ts
  langchain/src/retrievers/tests/chain_extract.int.test.ts
  langchain/src/schema/tests/runnable_passthrough.test.ts
  libs/langchain-community/src/embeddings/tests/togetherai.int.test.ts
  libs/langchain-community/src/llms/portkey.ts
  libs/langchain-community/src/llms/tests/replicate.int.test.ts
  libs/langchain-community/src/llms/tests/togetherai.int.test.ts
  libs/langchain-community/src/stores/tests/mongodb.int.test.ts
  libs/langchain-community/src/vectorstores/tests/astradb.int.test.ts
  libs/langchain-openai/src/tests/chat_models.int.test.ts
Labels: auto:refactor, size:L

#3844 core[patch]: Add generics to `RunnablePassthrough.assign`
  langchain-core/src/runnables/passthrough.ts
  langchain-core/src/runnables/tests/runnable_passthrough.test.ts
Labels: lgtm, auto:improvement, size:M

#3914 core[patch]: Release 0.1.8
  langchain-core/package.json
Labels: auto:nit, size:XS

#3915 docs[patch]: Update anthropic imports to use anthropic package
  docs/core_docs/docs/expression_language/cookbook/adding_memory.mdx
  docs/core_docs/docs/expression_language/cookbook/agents.mdx
  docs/core_docs/docs/expression_language/cookbook/multiple_chains.mdx
  docs/core_docs/docs/expression_language/cookbook/tools.mdx
  docs/core_docs/docs/expression_language/how_to/map.mdx
  docs/core_docs/docs/expression_language/how_to/routing.mdx
  docs/core_docs/docs/guides/evaluation/comparison/pairwise_string.mdx
  docs/core_docs/docs/guides/evaluation/string/criteria.mdx
  docs/core_docs/docs/guides/fallbacks.mdx
  docs/core_docs/docs/integrations/chat_memory/cloudflare_d1.mdx
  docs/core_docs/docs/integrations/platforms/anthropic.mdx
  docs/core_docs/docs/modules/agents/agent_types/xml_legacy.mdx
  docs/core_docs/docs/modules/chains/popular/summarize.mdx
  docs/core_docs/docs/modules/data_connection/retrievers/multi-query-retriever.mdx
  docs/core_docs/docs/use_cases/summarization.mdx
  examples/src/agents/xml_runnable.ts
  examples/src/chains/summarization_separate_output_llm.ts
  examples/src/guides/evaluation/comparision_evaluator/pairwise_string_custom_llm.ts
  examples/src/guides/evaluation/string/configuring_criteria_llm.ts
  examples/src/guides/expression_language/cookbook_memory.ts
  examples/src/guides/expression_language/cookbook_multiple_chains.ts
  examples/src/guides/expression_language/cookbook_tools.ts
  examples/src/guides/expression_language/how_to_routing_custom_function.ts
  examples/src/guides/expression_language/how_to_routing_runnable_branch.ts
  examples/src/guides/expression_language/runnable_maps_basic.ts
  examples/src/guides/expression_language/runnable_maps_sequence.ts
  examples/src/guides/fallbacks/model.ts
  examples/src/memory/cloudflare_d1.ts
  examples/src/models/chat/integration_anthropic_legacy.ts
  examples/src/retrievers/multi_query.ts
  examples/src/retrievers/multi_query_custom.ts
  examples/src/use_cases/youtube/podcast_summary.ts
Labels: auto:documentation, size:L

#3922 langchain[patch]: Preserve serialization and add alias support
  langchain/.eslintrc.cjs
  langchain/scripts/create-entrypoints.js
  langchain/src/load/import_map.ts
  langchain/src/load/tests/cross_language.test.ts
  langchain/src/load/tests/load.test.ts
Labels: auto:improvement, size:L

#3890 langchain[patch], core[patch]: Deprecate base model, agent, and chain methods
  examples/src/memory/summary_buffer.ts
  examples/src/models/chat/integration_openai.ts
  langchain-core/src/language_models/base.ts
  langchain-core/src/language_models/chat_models.ts
  langchain-core/src/language_models/llms.ts
  langchain/.prettierignore
  langchain/scripts/create-entrypoints.js
  langchain/src/agents/agent.ts
  langchain/src/agents/chat/index.ts
  langchain/src/agents/chat_convo/index.ts
  langchain/src/agents/initialize.ts
  langchain/src/agents/load.ts
  langchain/src/agents/mrkl/index.ts
  langchain/src/agents/openai_functions/index.ts
  langchain/src/agents/structured_chat/index.ts
  langchain/src/agents/xml/index.ts
  langchain/src/chains/base.ts
  langchain/src/load/import_map.ts
  langchain/src/memory/chat_memory.ts
  langchain/src/memory/motorhead_memory.ts
  langchain/src/tools/webbrowser.ts
  libs/langchain-community/src/caches/tests/upstash_redis.int.test.ts
  libs/langchain-community/src/chat_models/tests/chatllama_cpp.int.test.ts
  libs/langchain-community/src/chat_models/tests/chatollama.int.test.ts
  libs/langchain-community/src/llms/tests/ollama.int.test.ts
Labels: lgtm, auto:refactor, size:L

#3924 langchain[patch]: Update chain docs, deprecate some old chains
  docs/api_refs/typedoc.json
  docs/core_docs/docs/modules/chains/additional/index.mdx
  docs/core_docs/docs/modules/chains/document/index.mdx
  docs/core_docs/docs/modules/chains/foundational/index.mdx
  docs/core_docs/docs/modules/chains/foundational/sequential_chains.mdx
  docs/core_docs/docs/modules/chains/how_to/index.mdx
  docs/core_docs/docs/modules/chains/index.mdx
  docs/core_docs/docs/modules/chains/popular/index.mdx
  docs/core_docs/sidebars.js
  docs/core_docs/vercel.json
  langchain-core/src/runnables/history.ts
  langchain/src/chains/load.ts
  langchain/src/chains/openai_functions/tagging.ts
  langchain/src/chains/sequential_chain.ts
  langchain/src/chains/serde.ts
  langchain/src/chains/transform.ts
  langchain/src/chains/vector_db_qa.ts
Labels: auto:documentation, size:L

#3926 docs[patch]: Add more distinct deprecation warning in api refs
  docs/api_refs/package.json
  docs/api_refs/scripts/update-typedoc-css.js
  docs/api_refs/typedoc.json
  docs/api_refs/typedoc_plugins/hide_underscore_lc.js
  yarn.lock
Labels: auto:documentation, size:M

#3933 langchain[minor]: Release 0.1.0
  langchain/package.json
Labels: auto:nit, size:XS

#3936 langchain[patch]: Fix lint
  examples/src/models/chat/integration_openai.ts
Labels: auto:nit, size:XS

#3930 langchain[patch][tests]: Added tests for new create agent functions
  langchain/src/agents/tests/__snapshots__/create_agent_functions.test.ts.snap
  langchain/src/agents/tests/agent.int.test.ts
  langchain/src/agents/tests/chat_agent.int.test.ts
  langchain/src/agents/tests/chat_convo_agent.int.test.ts
  langchain/src/agents/tests/create_agent_functions.test.ts
  langchain/src/agents/tests/create_openai_functions_agent.int.test.ts
  langchain/src/agents/tests/create_openai_tools_agent.int.test.ts
  langchain/src/agents/tests/create_react_agent.int.test.ts
  langchain/src/agents/tests/create_structured_chat_agent.int.test.ts
  langchain/src/agents/tests/create_xml_agent.int.test.ts
  langchain/src/agents/tests/evaluation.int.test.ts
  langchain/src/agents/tests/mrkl_agent.int.test.ts
  langchain/src/agents/tests/mrkl_agent_output_parser.test.ts
  langchain/src/agents/tests/openai.int.test.ts
  langchain/src/agents/tests/openai_tools.int.test.ts
  langchain/src/agents/tests/runnable.int.test.ts
  langchain/src/agents/tests/structured_chat.int.test.ts
  langchain/src/agents/tests/xml_agent.int.test.ts
Labels: auto:improvement, size:XXL

#3938 core[patch]: Narrow iterable readable stream typing
  langchain-core/package.json
  langchain-core/src/utils/stream.ts
Labels: auto:bug, size:S

#3940 docs[patch]: Fix features having strikethrough when not deprecated
  docs/api_refs/typedoc_plugins/hide_underscore_lc.js
Labels: auto:documentation, size:XS

#3928 langchain[minor]: Adds create runnable chain functions
  docs/core_docs/docs/modules/chains/additional/openai_functions/index.mdx
  docs/core_docs/docs/modules/chains/index.mdx
  examples/src/chains/openai_functions_json_schema.ts
  examples/src/chains/openai_functions_runnable.ts
  examples/src/chains/openai_multi_functions_runnable.ts
  langchain/src/chains/openai_functions/base.ts
  langchain/src/chains/openai_functions/index.ts
  langchain/src/chains/openai_functions/tests/create_runnable_chains.int.test.ts
  langchain/src/output_parsers/openai_functions.ts
Labels: auto:improvement, size:XL

#3945 langchain[patch]: Release 0.1.1
  langchain/package.json
Labels: auto:nit, size:XS

#3946 langchain[patch]: Export types
  langchain/src/chains/openai_functions/index.ts
Labels: auto:improvement, size:XS

#3953 core[patch]: Factor out flaky property
  .github/workflows/test-exports.yml
  environment_tests/docker-compose.yml
  environment_tests/test-exports-tsc/main.ts
  environment_tests/test-exports-tsc/package.json
  langchain-core/src/language_models/base.ts
  langchain/src/evaluation/agents/trajectory.ts
  langchain/src/evaluation/base.ts
  langchain/src/evaluation/comparison/pairwise.ts
  langchain/src/evaluation/criteria/criteria.ts
  libs/langchain-community/src/chat_models/llama_cpp.ts
  libs/langchain-community/src/llms/llama_cpp.ts
  libs/langchain-community/src/llms/togetherai.ts
Labels: auto:refactor, size:L

#3943 core[patch]: fix: update dereference.ts to match upstream
  langchain-core/src/utils/@cfworker/json-schema/src/dereference.ts
Labels: auto:bug, size:S

#3954 core[patch]: Fix tree shaking warning
  langchain-core/src/utils/@cfworker/json-schema/src/dereference.ts
Labels: auto:improvement, size:XS

#3959 core[patch]: Release 0.1.11
  langchain-core/package.json
Labels: size:XS

#3947 fix: fix class RunnableAgent comment
  langchain/src/agents/agent.ts
Labels: lgtm, auto:nit, size:XS

#3958 docs[patch]: Guide for debugging
  docs/core_docs/docs/_static/run_details.png
  docs/core_docs/docs/guides/debugging.mdx
  examples/src/guides/debugging/simple_agent.ts
  examples/src/guides/debugging/simple_agent_verbose.ts
  examples/src/guides/debugging/simple_agent_verbose_some.ts
Labels: auto:documentation, size:M

#3957 community[minor]: accept num_predict option as a param
  libs/langchain-community/src/chat_models/ollama.ts
  libs/langchain-community/src/chat_models/tests/chatollama.int.test.ts
  libs/langchain-community/src/embeddings/ollama.ts
  libs/langchain-community/src/llms/ollama.ts
  libs/langchain-community/src/utils/ollama.ts
Labels: lgtm, auto:improvement, size:M

#3965 core[patch]: Add export
  langchain-core/src/prompts/template.ts
Labels: auto:improvement, size:XS

#3967 docs[patch]: Fix typos in docs
  docs/core_docs/docs/modules/agents/how_to/agent_structured.mdx
  docs/core_docs/docs/modules/agents/quick_start.mdx
Labels: auto:documentation, size:XS

#3948 Match Python serialization for JSON output OAI parsers
  langchain/src/output_parsers/openai_functions.ts
  langchain/src/output_parsers/openai_tools.ts
Labels: auto:improvement, size:M

#3968 core[patch]: Enable tracer to handle Date outputs
  langchain-core/src/runnables/base.ts
  langchain-core/src/runnables/tests/runnable_tracing.int.test.ts
  langchain-core/src/tracers/tests/tracer.test.ts
  langchain-core/src/utils/testing/index.ts
Labels: auto:improvement, size:M

#3970 core[patch]: Release 0.1.12
  langchain-core/package.json
Labels: size:XS

#3971 langchain[patch]: Bump core dep
  langchain/package.json
  yarn.lock
Labels: auto:nit, size:XS

#3934 langchain[minor]: Date Output Parser
  docs/core_docs/docs/modules/model_io/output_parsers/types/datetime.mdx
  docs/core_docs/docs/modules/model_io/output_parsers/types/index.mdx
  examples/src/prompts/datetime_parser.ts
  langchain/src/output_parsers/datetime.ts
  langchain/src/output_parsers/index.ts
  langchain/src/output_parsers/tests/datetime.test.ts
Labels: lgtm, auto:enhancement, size:L

#3929 community[minor]: feat: Support batching and deletes for AstraDB Vector Store
  libs/langchain-community/src/vectorstores/astradb.ts
  libs/langchain-community/src/vectorstores/tests/astradb.int.test.ts
Labels: lgtm, auto:improvement, size:L

#3826 Add Alibaba qwen chat models
  docs/api_refs/typedoc.json
  docs/core_docs/docs/integrations/chat/alibaba_tongyi.mdx
  examples/src/models/chat/integration_alitongyi.ts
  libs/langchain-community/.gitignore
  libs/langchain-community/package.json
  libs/langchain-community/scripts/create-entrypoints.js
  libs/langchain-community/src/chat_models/alibaba_tongyi.ts
  libs/langchain-community/src/chat_models/tests/chatalitongyi.int.test.ts
  libs/langchain-community/src/load/import_map.ts
  libs/langchain-community/src/load/import_type.d.ts
Labels: lgtm, auto:enhancement, size:XL

#3885 experimental[minor]: Adds experimental custom format prompt templates and handlebars
  docs/api_refs/typedoc.json
  docs/core_docs/docs/modules/experimental/mask/_category_.yml
  docs/core_docs/docs/modules/experimental/prompts/_category_.yml
  docs/core_docs/docs/modules/experimental/prompts/custom_formats.mdx
  environment_tests/test-exports-bun/src/entrypoints.js
  environment_tests/test-exports-cf/src/entrypoints.js
  environment_tests/test-exports-cjs/src/entrypoints.js
  environment_tests/test-exports-esbuild/src/entrypoints.js
  environment_tests/test-exports-esm/src/entrypoints.js
  environment_tests/test-exports-vercel/src/entrypoints.js
  environment_tests/test-exports-vite/src/entrypoints.js
  examples/src/experimental/prompts/handlebars.ts
  langchain/.gitignore
  langchain/package.json
  langchain/scripts/create-entrypoints.js
  langchain/src/experimental/prompts/custom_format.ts
  langchain/src/experimental/prompts/handlebars.ts
  langchain/src/experimental/prompts/tests/handlebars.test.ts
  langchain/src/load/import_constants.ts
  langchain/src/load/import_map.ts
  langchain/src/load/import_type.d.ts
  yarn.lock
Labels: lgtm, auto:enhancement, size:L

#3972 community[patch]: Release 0.0.16
  libs/langchain-community/package.json
Labels: auto:nit, size:XS

#3973 langchain[patch]: Release 0.1.2
  langchain/package.json
Labels: auto:nit, size:XS

#3974 docs[patch]: Refactor memory docs
  docs/api_refs/typedoc.json
  docs/core_docs/docs/modules/memory/chat_messages.mdx
  docs/core_docs/docs/modules/memory/how_to/_category_.yml
  docs/core_docs/docs/modules/memory/how_to/buffer_window_memory.md
  docs/core_docs/docs/modules/memory/index.mdx
  docs/core_docs/docs/modules/memory/types/buffer.mdx
  docs/core_docs/docs/modules/memory/types/buffer_memory_chat.mdx
  docs/core_docs/docs/modules/memory/types/buffer_window.mdx
  docs/core_docs/docs/modules/memory/types/entity_summary_memory.mdx
  docs/core_docs/docs/modules/memory/types/index.mdx
  docs/core_docs/docs/modules/memory/types/multiple_memory.mdx
  docs/core_docs/docs/modules/memory/types/summary.mdx
  docs/core_docs/docs/modules/memory/types/summary_buffer.mdx
  docs/core_docs/docs/modules/memory/types/vectorstore_retriever_memory.mdx
  docs/core_docs/static/img/memory_diagram.png
  docs/core_docs/vercel.json
  examples/src/memory/chat_messages.ts
  examples/src/memory/getting_started.ts
Labels: auto:documentation, size:L

#3980 docs[patch]: Fix bad import in docs
  docs/core_docs/docs/get_started/quickstart.mdx
Labels: auto:documentation, size:XS

#3979 core[patch]: Adjust iterable readable stream typing
  langchain-core/src/utils/stream.ts
Labels: auto:improvement, size:XS

#3981 Update openai to ^4.24.2 and include logprobs in `generationInfo`
  docs/core_docs/docs/integrations/chat/openai.mdx
  examples/src/models/chat/integration_openai_callbacks.ts
  examples/src/models/chat/integration_openai_generation_info.ts
  libs/langchain-openai/package.json
  libs/langchain-openai/src/chat_models.ts
  libs/langchain-openai/src/types.ts
  libs/langchain-openai/src/utils/azure.ts
  libs/langchain-openai/src/utils/openai.ts
  yarn.lock
Labels: auto:improvement, size:L

#3986 [openai]: Release 0.0.11
  libs/langchain-openai/package.json
Labels: auto:nit, size:XS

#3994 docs[patch]: Add DLAI to tutorials in docs
  docs/core_docs/docs/additional_resources/tutorials/index.mdx
Labels: auto:documentation, size:S

#3991 allow empty arrays for Weaviate metadata
  libs/langchain-community/src/vectorstores/tests/weaviate.test.ts
  libs/langchain-community/src/vectorstores/weaviate.ts
Labels: auto:bug, size:XS

#4001 ci[patch]: Fix CI
  langchain/src/load/tests/load.test.ts
Labels: auto:improvement, size:S

#3997 community[minor]: Upgrade Astra client and add support for namespaces
  libs/langchain-community/package.json
  libs/langchain-community/src/vectorstores/astradb.ts
  libs/langchain-community/src/vectorstores/tests/astradb.int.test.ts
  yarn.lock
Labels: lgtm, auto:improvement, size:XS

#3999 community[patch]: Add upsert by id to MongoDB
  docs/core_docs/docs/integrations/vectorstores/mongodb_atlas.mdx
  examples/src/indexes/vector_stores/mongodb_atlas_fromTexts.ts
  libs/langchain-community/src/vectorstores/mongodb_atlas.ts
  libs/langchain-community/src/vectorstores/tests/mongodb_atlas.int.test.ts
Labels: auto:improvement, size:L

#4002 community[patch]: Release 0.0.17
  libs/langchain-community/package.json
Labels: size:XS

#3995 docs[minor]: togetherai embeddings docs
  docs/core_docs/docs/integrations/text_embedding/togetherai.mdx
  examples/src/embeddings/togetherai.ts
Labels: auto:documentation, size:M

#4016 Fix typo in createHistoryAwareRetriever documentation
  langchain/src/chains/history_aware_retriever.ts
Labels: auto:documentation, size:XS

#4010 Add stacktrace to tracer errors
  langchain-core/src/tracers/base.ts
Labels: auto:improvement, size:XS

#3966 update sql_utils: add oracle integration
  langchain/src/chains/sql_db/sql_db_prompt.ts
  langchain/src/util/sql_utils.ts
Labels: auto:improvement, size:M

#4023 core[minor]: Move function calling definitions and utils to core
  langchain-core/.gitignore
  langchain-core/package.json
  langchain-core/scripts/create-entrypoints.js
  langchain-core/src/language_models/base.ts
  langchain-core/src/load/import_map.ts
  langchain-core/src/utils/function_calling.ts
  langchain-core/src/utils/testing/index.ts
  langchain-core/src/utils/tests/function_calling.test.ts
  yarn.lock
Labels: auto:refactor, size:L

#4024 core[patch]: Add docstring, small tweak
  langchain-core/src/utils/function_calling.ts
Labels: auto:improvement, size:S

#4025 langchain[patch], openai[patch]: Use new function calling utils in all docs
  docs/core_docs/docs/modules/agents/how_to/agent_structured.mdx
  docs/core_docs/docs/modules/agents/how_to/custom_agent.mdx
  examples/src/agents/agent_structured.ts
  examples/src/agents/custom_agent.ts
  examples/src/agents/openai_runnable.ts
  examples/src/agents/openai_runnable_stream.ts
  examples/src/agents/openai_runnable_stream_log.ts
  examples/src/agents/openai_runnable_with_memory.ts
  examples/src/agents/openai_tools_runnable.ts
  langchain/package.json
  langchain/src/agents/openai_functions/index.ts
  langchain/src/agents/openai_functions/output_parser.ts
  langchain/src/agents/openai_tools/index.ts
  langchain/src/agents/openai_tools/output_parser.ts
  langchain/src/agents/tests/runnable.int.test.ts
  langchain/src/agents/tests/structured_output_runnables.int.test.ts
  langchain/src/experimental/chat_models/anthropic_functions.ts
  langchain/src/tools/convert_to_openai.ts
  libs/langchain-community/src/chat_models/minimax.ts
  libs/langchain-openai/package.json
  libs/langchain-openai/src/chat_models.ts
  libs/langchain-openai/src/utils/openai.ts
  yarn.lock
Labels: auto:refactor, size:L

#4028 openai[patch]: Release 0.0.12
  libs/langchain-openai/package.json
Labels: size:XS

#4030 langchain[patch]: Update yarn.lock
  yarn.lock
Labels: auto:nit, size:XS

#4031 langchain[patch]: Release 0.1.3
  langchain/package.json
Labels: size:XS

#3998 core[minor]: Add ability for runnable passthrough to call a func
  langchain-core/src/runnables/passthrough.ts
  langchain-core/src/runnables/tests/runnable_passthrough.test.ts
Labels: auto:improvement, size:M

#4033 core[patch]: Allow runnable func to have async
  langchain-core/src/runnables/passthrough.ts
  langchain-core/src/runnables/tests/runnable_passthrough.test.ts
Labels: auto:improvement, size:M

#4032 core[patch]: Fix return type of .pipe()
  langchain-core/src/runnables/base.ts
Labels: auto:bug, size:XS

#4040 core[patch]: Release 0.1.14
  langchain-core/package.json
Labels: auto:nit, size:XS

#4042 Populate streamed_output for all runs handled by transformStreamWithConfig
  langchain-core/src/callbacks/manager.ts
  langchain-core/src/runnables/base.ts
  langchain-core/src/runnables/tests/runnable_stream_log.test.ts
  langchain-core/src/tracers/log_stream.ts
  langchain-core/src/utils/testing/index.ts
Labels: lgtm, auto:improvement, size:L

#4045 all[patch]: Fix `yarn lint:fix` everywhere, add to turbo
  docs/core_docs/package.json
  examples/package.json
  langchain-core/package.json
  langchain/package.json
  libs/create-langchain-integration/template/package.json
  libs/langchain-anthropic/package.json
  libs/langchain-cloudflare/package.json
  libs/langchain-cohere/package.json
  libs/langchain-community/package.json
  libs/langchain-google-genai/package.json
  libs/langchain-mistralai/package.json
  libs/langchain-openai/package.json
  libs/langchain-yandex/package.json
  package.json
  turbo.json
Labels: auto:nit, size:M

#4047 core[minor]: Fix configs not getting passes into all batch invocations
  langchain-core/src/runnables/base.ts
  langchain-core/src/runnables/tests/runnable.test.ts
Labels: auto:improvement, size:M

#4051 core[patch]: Suppress run map warnings
  langchain-core/src/tracers/base.ts
Labels: auto:improvement, size:S

#4048 core[patch]: Refactor patchConfig method and add ensureConfig
  langchain-core/src/runnables/base.ts
  langchain-core/src/runnables/branch.ts
  langchain-core/src/runnables/config.ts
  langchain-core/src/runnables/index.ts
Labels: auto:refactor, size:L

#4052 core[patch]: Use new batch maxConcurrency parameter in runnable config
  docs/core_docs/docs/expression_language/interface.mdx
  examples/src/guides/expression_language/interface_batch_with_options.ts
  examples/src/retrievers/multi_vector_hypothetical.ts
  examples/src/retrievers/multi_vector_summary.ts
  langchain-core/src/language_models/base.ts
  langchain-core/src/runnables/base.ts
  langchain-core/src/runnables/router.ts
Labels: lgtm, auto:improvement, size:M

#4053 core[patch]: Release 0.1.15
  langchain-core/package.json
Labels: size:XS

#3932 community[patch]: Add streaming for HuggingFace Inference (also add the support of stop-sequences)
  libs/langchain-community/src/llms/hf.ts
  libs/langchain-community/src/llms/tests/huggingface_hub.int.test.ts
Labels: question, lgtm, hold, auto:improvement, size:L

#3950 Add the Milvus partition feature
  libs/langchain-community/src/vectorstores/milvus.ts
Labels: lgtm, auto:improvement, size:M

#4041 Bump Zod & Zod-to-Json-Schema, fix imports
  examples/package.json
  langchain-core/package.json
  langchain/package.json
  langchain/src/agents/structured_chat/index.ts
  langchain/src/chains/openai_functions/base.ts
  langchain/src/chains/openai_functions/extraction.ts
  langchain/src/chains/openai_functions/openapi.ts
  langchain/src/chains/openai_functions/structured_output.ts
  langchain/src/chains/openai_functions/tagging.ts
  langchain/src/chains/openai_functions/tests/openapi.test.ts
  langchain/src/document_transformers/openai_functions.ts
  langchain/src/experimental/autogpt/prompt_generator.ts
  langchain/src/output_parsers/openai_functions.ts
  langchain/src/output_parsers/structured.ts
  langchain/src/tools/render.ts
  libs/langchain-openai/package.json
  yarn.lock
Labels: lgtm, auto:improvement, size:M

#4036 fix #4027 loadFromPython failed
  libs/langchain-community/src/vectorstores/faiss.ts
  libs/langchain-community/src/vectorstores/tests/faiss.int.test.data/faiss.int.test.py
  libs/langchain-community/src/vectorstores/tests/faiss.int.test.data/requirements.txt
  libs/langchain-community/src/vectorstores/tests/faiss.int.test.ts
Labels: lgtm, auto:bug, size:S

#4057 community[patch]: Add neo4j timeout option
  libs/langchain-community/package.json
  libs/langchain-community/src/graphs/neo4j_graph.ts
  libs/langchain-community/src/graphs/tests/neo4j_graph.int.test.ts
  yarn.lock
Labels: lgtm, auto:improvement, size:S

#4066 core[patch]: Add fake embeddings classes to core
  langchain-core/src/utils/testing/index.ts
Labels: auto:improvement, size:L

#4067 Update runnable config ensure and merge to match py
  langchain-core/src/callbacks/manager.ts
  langchain-core/src/retrievers.ts
  langchain-core/src/runnables/base.ts
  langchain-core/src/runnables/config.ts
  langchain/src/runnables/tests/runnable_remote.test.ts
Labels: auto:improvement, size:L

#3555 langchain[minor]: remote runnable stream log, additional serialization updates
  docs/core_docs/docs/expression_language/interface.mdx
  examples/src/guides/expression_language/interface_stream_log.ts
  langchain/src/runnables/remote.ts
  langchain/src/runnables/tests/runnable_remote.int.test.ts
  langchain/src/runnables/tests/runnable_remote.test.ts
Labels: lgtm, auto:improvement, size:XL

#3780 community[minor]: feat: turbopuffer vector store
  docs/core_docs/docs/integrations/vectorstores/turbopuffer.mdx
  examples/src/indexes/vector_stores/turbopuffer.ts
  libs/langchain-community/.gitignore
  libs/langchain-community/package.json
  libs/langchain-community/scripts/create-entrypoints.js
  libs/langchain-community/src/load/import_map.ts
  libs/langchain-community/src/load/import_type.d.ts
  libs/langchain-community/src/vectorstores/tests/turbopuffer.int.test.ts
  libs/langchain-community/src/vectorstores/turbopuffer.ts
Labels: lgtm, auto:enhancement, size:XL

#4068 docs[minor], core[minor], langchain[minor]: Adds tool use use case docs
  docs/api_refs/typedoc.json
  docs/core_docs/docs/use_cases/tool_use/agents.mdx
  docs/core_docs/docs/use_cases/tool_use/index.mdx
  docs/core_docs/docs/use_cases/tool_use/multiple_tools.mdx
  docs/core_docs/docs/use_cases/tool_use/parallel.mdx
  docs/core_docs/docs/use_cases/tool_use/quickstart.mdx
  docs/core_docs/docs/use_cases/tool_use/tool_error_handling.mdx
  examples/src/use_cases/tool_use/agents.ts
  examples/src/use_cases/tool_use/multiple_tools.ts
  examples/src/use_cases/tool_use/parallel.ts
  examples/src/use_cases/tool_use/quickstart_agents.ts
  examples/src/use_cases/tool_use/quickstart_chains.ts
  examples/src/use_cases/tool_use/tool_error_handling_fallbacks.ts
  examples/src/use_cases/tool_use/tool_error_handling_intro.ts
  langchain-core/src/tools.ts
  langchain/src/chains/openai_functions/structured_output.ts
  langchain/src/output_parsers/index.ts
  langchain/src/output_parsers/openai_tools.ts
  langchain/src/tools/chain.ts
Labels: auto:documentation, size:XXL

#4070 core[patch]: Release 0.1.16
  langchain-core/package.json
Labels: size:XS

#4069 community[patch]: Change recommended entrypoint, bump versions
  docs/core_docs/docs/modules/agents/how_to/agent_structured.mdx
  docs/core_docs/docs/modules/agents/how_to/custom_agent.mdx
  examples/src/agents/agent_structured.ts
  examples/src/agents/custom_agent.ts
  examples/src/agents/custom_tool.ts
  examples/src/agents/handle_parsing_error.ts
  examples/src/agents/openai_tools_runnable.ts
  examples/src/agents/structured_chat_runnable.ts
  langchain/package.json
  langchain/src/agents/toolkits/conversational_retrieval/tool.ts
  langchain/src/agents/toolkits/openapi/openapi.ts
  langchain/src/experimental/plan_and_execute/agent_executor.ts
  langchain/src/experimental/plan_and_execute/prompt.ts
  langchain/src/tools/chain.ts
  langchain/src/tools/retriever.ts
  libs/langchain-community/package.json
  libs/langchain-community/src/tools/dynamic.ts
  yarn.lock
Labels: auto:improvement, size:L

#4071 community[patch]: Release 0.0.18
  libs/langchain-community/package.json
Labels: auto:nit, size:XS

#4072 langchain[patch]: Release 0.1.4
  langchain/package.json
Labels: size:XS

#4076 langchain[patch], community[patch]: Allow Anthropic models to handle function messages
  langchain/src/chat_models/anthropic.ts
  langchain/src/experimental/chat_models/anthropic_functions.ts
  libs/langchain-community/src/chat_models/bedrock/web.ts
Labels: auto:improvement, size:S

#4079 docs[minor]: Autogenerate typedoc config, add to gitignore.
  docs/api_refs/.gitignore
  docs/api_refs/scripts/create-entrypoints.js
  docs/api_refs/typedoc.json
Labels: auto:documentation, size:L

#4080 all[patch]: Run prettier on scripts folders too
  docs/api_refs/next.config.js
  docs/api_refs/package.json
  docs/api_refs/postcss.config.js
  docs/api_refs/scripts/create-entrypoints.js
  docs/api_refs/scripts/update-typedoc-css.js
  docs/api_refs/tailwind.config.ts
  docs/api_refs/typedoc_plugins/hide_underscore_lc.js
  langchain-core/package.json
  langchain-core/scripts/create-entrypoints.js
  langchain/package.json
  langchain/scripts/create-entrypoints.js
  langchain/scripts/generate-docs-llm-compatibility-table.js
  libs/create-langchain-integration/template/package.json
  libs/langchain-anthropic/package.json
  libs/langchain-anthropic/scripts/create-entrypoints.js
  libs/langchain-cloudflare/package.json
  libs/langchain-cohere/package.json
  libs/langchain-community/package.json
  libs/langchain-google-genai/package.json
  libs/langchain-mistralai/package.json
  libs/langchain-mistralai/scripts/create-entrypoints.js
  libs/langchain-openai/package.json
  libs/langchain-openai/scripts/create-entrypoints.js
  libs/langchain-pinecone/package.json
  libs/langchain-yandex/package.json
  yarn.lock
Labels: auto:nit, size:L

#4085 community[patch]: Add fallback for missing metadata in Redis documents
  libs/langchain-community/src/vectorstores/redis.ts
  libs/langchain-community/src/vectorstores/tests/redis.int.test.ts
  test-int-deps-docker-compose.yml
Labels: auto:improvement, size:S

#4083 core[minor]: Buffer the first chunk on .stream() calls to catch streaming errors immediately on startup
  langchain-core/src/runnables/base.ts
  langchain-core/src/runnables/tests/runnable.test.ts
  langchain-core/src/utils/stream.ts
  langchain-core/src/utils/testing/index.ts
Labels: lgtm, auto:bug, size:M

#4006 langchain[minor]: update sql_utils: add schema for mssql
  langchain/src/util/sql_utils.ts
Labels: lgtm, auto:bug, size:S

#4078 langchain[patch]: Correcting token text-splitting behavior
  langchain/src/tests/text_splitter.test.ts
  langchain/src/text_splitter.ts
Labels: lgtm, auto:bug, size:S

#4088 core[patch]: Release 0.1.17
  langchain-core/package.json
Labels: size:XS

#4089 community[patch]: Release 0.0.19
  libs/langchain-community/package.json
Labels: auto:nit, size:XS

#4093 scripts[major]: Add LangChain scripts package
  libs/langchain-scripts/.eslintrc.cjs
  libs/langchain-scripts/.gitignore
  libs/langchain-scripts/.prettierrc
  libs/langchain-scripts/.release-it.json
  libs/langchain-scripts/LICENSE
  libs/langchain-scripts/README.md
  libs/langchain-scripts/jest.config.cjs
  libs/langchain-scripts/jest.env.cjs
  libs/langchain-scripts/package.json
  libs/langchain-scripts/scripts/check-tree-shaking.js
  libs/langchain-scripts/scripts/create-entrypoints.js
  libs/langchain-scripts/scripts/identify-secrets.js
  libs/langchain-scripts/scripts/move-cjs-to-dist.js
  libs/langchain-scripts/scripts/release-branch.sh
  libs/langchain-scripts/src/check-tree-shaking.ts
  libs/langchain-scripts/src/create-entrypoints.ts
  libs/langchain-scripts/src/identify-secrets.ts
  libs/langchain-scripts/src/index.ts
  libs/langchain-scripts/src/move-cjs-to-dist.ts
  libs/langchain-scripts/src/types.ts
  libs/langchain-scripts/tsconfig.json
  yarn.lock
Labels: auto:enhancement, size:XXL

#4101 scripts[patch]: Revert version back to 0
  libs/langchain-scripts/package.json
Labels: size:XS

#4102 Release `@langchain/scripts` 0.0.1
  libs/langchain-scripts/package.json
Labels: auto:nit, size:XS

#4098 fixed issue #4097
  docs/core_docs/docs/modules/model_io/index.mdx
Labels: auto:documentation, size:XS

#4107 langchain[patch]: Allow headers to be passed in remote runnable requests, docs
  docs/core_docs/docs/ecosystem/langserve.mdx
  examples/src/ecosystem/langsmith.ts
  examples/src/ecosystem/langsmith_options.ts
  examples/src/ecosystem/langsmith_stream_log.ts
  langchain/src/runnables/remote.ts
Labels: auto:documentation, size:L

#4116 In Why use LCEL Page, navigation is not working in docs properly
  docs/core_docs/docs/expression_language/why.mdx
Labels: auto:bug, size:XS

#4100 PyInterpreter Import Notes
  examples/src/tools/pyinterpreter.ts
Labels: lgtm, auto:documentation, size:S

#4081 community[minor]: Add indexes module
  libs/langchain-community/.gitignore
  libs/langchain-community/package.json
  libs/langchain-community/scripts/create-entrypoints.js
  libs/langchain-community/src/indexes/base.ts
  libs/langchain-community/src/indexes/memory.ts
  libs/langchain-community/src/indexes/postgres.ts
  libs/langchain-community/src/indexes/tests/memory.test.ts
  libs/langchain-community/src/indexes/tests/postgres.int.test.ts
  libs/langchain-community/src/load/import_constants.ts
  libs/langchain-community/src/load/import_map.ts
  libs/langchain-community/src/load/import_type.d.ts
Labels: auto:improvement, size:XL

#4126 infra[minor]: Add codecov to CI & run all unit tests in CI
  .codecov.yml
  .github/workflows/ci.yml
  langchain/jest.config.cjs
  libs/create-langchain-integration/template/jest.config.cjs
  libs/langchain-cloudflare/jest.config.cjs
  libs/langchain-cohere/jest.config.cjs
  libs/langchain-community/jest.config.cjs
  libs/langchain-google-genai/jest.config.cjs
  libs/langchain-mistralai/jest.config.cjs
  libs/langchain-pinecone/jest.config.cjs
  libs/langchain-scripts/jest.config.cjs
  libs/langchain-yandex/jest.config.cjs
  package.json
Labels: auto:improvement, size:M

#4128 docs[minor]: Adds deployment guide
  docs/core_docs/docs/guides/deployment/index.mdx
  examples/src/guides/deployment/error_handling.ts
  examples/src/guides/deployment/stream_error_handling.ts
  examples/src/guides/deployment/streaming.ts
Labels: auto:documentation, size:L

#4133 scritps[minor]: use config file for scripts package
  libs/langchain-scripts/.gitignore
  libs/langchain-scripts/jest.config.cjs
  libs/langchain-scripts/package.json
  libs/langchain-scripts/scripts/create-entrypoints.js
  libs/langchain-scripts/src/build.ts
  libs/langchain-scripts/src/check-tree-shaking.ts
  libs/langchain-scripts/src/create-entrypoints.ts
  libs/langchain-scripts/src/index.ts
  libs/langchain-scripts/src/tests/config_file.test.ts
  libs/langchain-scripts/src/tests/langchain.invalid.config.js
  libs/langchain-scripts/src/tests/langchain.valid.config.js
  libs/langchain-scripts/src/types.ts
  libs/langchain-scripts/src/utils.ts
  yarn.lock
Labels: auto:improvement, size:L

#4135 scripts[patch]: Release 0.0.2
  libs/langchain-scripts/package.json
Labels: auto:nit, size:XS

#4134 all[patch]: Drop unused release-branch.sh script
  langchain-core/scripts/release-branch.sh
  langchain/scripts/release-branch.sh
  libs/create-langchain-integration/template/scripts/release-branch.sh
  libs/langchain-anthropic/scripts/release-branch.sh
  libs/langchain-cloudflare/scripts/release-branch.sh
  libs/langchain-cohere/scripts/release-branch.sh
  libs/langchain-community/scripts/release-branch.sh
  libs/langchain-google-genai/scripts/release-branch.sh
  libs/langchain-mistralai/scripts/release-branch.sh
  libs/langchain-openai/scripts/release-branch.sh
  libs/langchain-pinecone/scripts/release-branch.sh
  libs/langchain-scripts/scripts/release-branch.sh
  libs/langchain-yandex/scripts/release-branch.sh
  package.json
Labels: auto:nit, size:M

#4136 Updated "Add message history" documentation page for missing module import
  docs/core_docs/docs/expression_language/how_to/message_history.mdx
Labels: lgtm, auto:documentation, size:XS

#4008 Add Memgraph support
  docs/core_docs/docs/modules/data_connection/experimental/graph_databases/memgraph.mdx
  examples/src/chains/memgraph.ts
  langchain/.env.example
  libs/langchain-community/.gitignore
  libs/langchain-community/package.json
  libs/langchain-community/scripts/create-entrypoints.js
  libs/langchain-community/src/graphs/memgraph_graph.ts
  libs/langchain-community/src/graphs/neo4j_graph.ts
  libs/langchain-community/src/graphs/tests/memgraph_graph.int.test.ts
  libs/langchain-community/src/load/import_constants.ts
  libs/langchain-community/src/load/import_type.d.ts
Labels: lgtm, auto:enhancement, size:L

#4137 community[patch]: Release 0.0.20
  libs/langchain-community/package.json
Labels: auto:documentation, size:XS

#4139 langchain[patch]: Relax legacy Pinecone dep
  langchain/package.json
  yarn.lock
Labels: auto:nit, size:XS

#4011 LangSmith Test Runner
  docs/api_refs/typedoc.json
  docs/core_docs/docs/guides/langsmith_evaluation.mdx
  environment_tests/test-exports-bun/src/entrypoints.js
  environment_tests/test-exports-cf/src/entrypoints.js
  environment_tests/test-exports-cjs/src/entrypoints.js
  environment_tests/test-exports-esbuild/src/entrypoints.js
  environment_tests/test-exports-esm/src/entrypoints.js
  environment_tests/test-exports-vercel/src/entrypoints.js
  environment_tests/test-exports-vite/src/entrypoints.js
  examples/package.json
  examples/src/guides/langsmith/eval_walkthrough.ts
  langchain-core/src/tracers/base.ts
  langchain/.gitignore
  langchain/package.json
  langchain/scripts/create-entrypoints.js
  langchain/src/load/import_map.ts
  langchain/src/smith/config.ts
  langchain/src/smith/index.ts
  langchain/src/smith/name_generation.ts
  langchain/src/smith/progress.ts
  langchain/src/smith/runner_utils.ts
  langchain/src/smith/tests/runner_utils.int.test.ts
  yarn.lock
Labels: question, auto:enhancement, size:XXL

#4141 langchain[patch]: Release 0.1.6
  langchain/package.json
Labels: auto:nit, size:XS

#4146 langchain[patch]: Update evaluation docstrings and example
  docs/core_docs/docs/guides/langsmith_evaluation.mdx
  examples/src/guides/langsmith/eval_walkthrough.ts
  langchain/src/smith/config.ts
  langchain/src/smith/runner_utils.ts
Labels: lgtm, auto:documentation, size:L

#4147 community[minor]: fix Astra db peerDependency
  libs/langchain-community/package.json
  yarn.lock
Labels: lgtm, auto:nit, size:XS

#4148 exa[major] Add exa search integration package
  docs/core_docs/docs/integrations/retrievers/exa.mdx
  docs/core_docs/docs/integrations/tools/exa_search.mdx
  examples/package.json
  examples/src/retrievers/exa.ts
  examples/src/tools/exa_agent.ts
  examples/src/tools/exa_search.ts
  libs/langchain-exa/.eslintrc.cjs
  libs/langchain-exa/.gitignore
  libs/langchain-exa/.prettierrc
  libs/langchain-exa/.release-it.json
  libs/langchain-exa/LICENSE
  libs/langchain-exa/README.md
  libs/langchain-exa/jest.config.cjs
  libs/langchain-exa/jest.env.cjs
  libs/langchain-exa/package.json
  libs/langchain-exa/scripts/check-tree-shaking.js
  libs/langchain-exa/scripts/create-entrypoints.js
  libs/langchain-exa/scripts/identify-secrets.js
  libs/langchain-exa/scripts/jest-setup-after-env.js
  libs/langchain-exa/scripts/move-cjs-to-dist.js
  libs/langchain-exa/scripts/release-branch.sh
  libs/langchain-exa/src/index.ts
  libs/langchain-exa/src/retrievers.ts
  libs/langchain-exa/src/tests/retrievers.int.test.ts
  libs/langchain-exa/src/tests/retrievers.test.ts
  libs/langchain-exa/src/tests/tools.int.test.ts
  libs/langchain-exa/src/tools.ts
  libs/langchain-exa/tsconfig.cjs.json
  libs/langchain-exa/tsconfig.json
  yarn.lock
Labels: auto:enhancement, size:XXL

#4149 exa[patch] Release 0.0.1
  libs/langchain-exa/package.json
Labels: auto:nit, size:XS

#4064 Indexing API Port
  docs/core_docs/docs/modules/data_connection/indexing/index.mdx
  environment_tests/test-exports-bun/src/entrypoints.js
  environment_tests/test-exports-cf/src/entrypoints.js
  environment_tests/test-exports-cjs/src/entrypoints.js
  environment_tests/test-exports-esbuild/src/entrypoints.js
  environment_tests/test-exports-esm/src/entrypoints.js
  environment_tests/test-exports-vercel/src/entrypoints.js
  environment_tests/test-exports-vite/src/entrypoints.js
  examples/src/indexes/indexing_api/indexing.ts
  langchain/.gitignore
  langchain/package.json
  langchain/scripts/create-entrypoints.js
  langchain/src/indexes/index.ts
  langchain/src/indexes/indexing.ts
  langchain/src/indexes/tests/indexing.int.test.ts
  langchain/src/load/import_map.ts
  libs/langchain-community/src/indexes/base.ts
  yarn.lock
Labels: auto:enhancement, size:XXL
