Repository langchain-ai/langchainjs, pull requests merged in 2024-03, with the labels that each got.

#4593 docs[minor]: Revamp function calling docs
  deno.json
  docs/core_docs/.gitignore
  docs/core_docs/docs/modules/model_io/chat/function_calling.ipynb
  docs/core_docs/docs/modules/model_io/chat/function_calling.mdx
Labels: auto:documentation, size:XL

#4591 community[patch]: Add maxTokens to _streamResponseChunks options in llama_cpp.ts
  libs/langchain-community/src/llms/llama_cpp.ts
Labels: lgtm, auto:improvement, size:XS

#4588 langchain[patch]: update youtubei.js peer dependency, fixing YoutubeLoader
  langchain/package.json
  yarn.lock
Labels: lgtm, auto:bug, size:XS

#4596 👥 Update LangChain people data
  docs/core_docs/data/people.yml
Labels: auto:documentation, size:M

#4594 docs[patch]: Adds attribution link to Neo4j tutorial
  docs/core_docs/docs/additional_resources/tutorials/index.mdx
Labels: auto:documentation, size:XS

#4600 Release 0.1.25
  langchain/package.json
Labels: auto:nit, size:XS

#4605 openai[minor]: Force tool usage through tool_choice
  libs/langchain-openai/src/chat_models.ts
Labels: auto:improvement, size:S

#4606 docs[minor]: Format notebooks after build
  docs/core_docs/.gitignore
  docs/core_docs/scripts/quatro-build.js
Labels: auto:documentation, size:S

#4607 docs[minor]: Simplify docs build
  docs/core_docs/.gitignore
  docs/core_docs/docs/modules/model_io/chat/function_calling.ipynb
  docs/core_docs/docs/use_cases/tool_use/human_in_the_loop.ipynb
  docs/core_docs/package.json
  docs/core_docs/scripts/quarto-build.js
  docs/core_docs/scripts/quatro-build.js
  docs/core_docs/src/theme/Npm2Yarn.js
Labels: lgtm, auto:documentation, size:L

#4612 anthropic[patch]: Update Anthropic
  docs/core_docs/docs/expression_language/how_to/message_history.mdx
  docs/core_docs/docs/get_started/quickstart.mdx
  docs/core_docs/docs/integrations/chat/anthropic.mdx
  docs/core_docs/docs/modules/agents/agent_types/xml.mdx
  docs/core_docs/docs/modules/model_io/chat/quick_start.mdx
  docs/core_docs/docs/modules/model_io/quick_start.mdx
  examples/src/agents/xml.ts
  examples/src/agents/xml_runnable.ts
  examples/src/guides/expression_language/how_to_routing_custom_function.ts
  examples/src/guides/expression_language/how_to_routing_runnable_branch.ts
  examples/src/guides/expression_language/message_history.ts
  examples/src/models/chat/integration_anthropic.ts
  examples/src/models/chat/integration_anthropic_custom_headers.ts
  examples/src/use_cases/youtube/podcast_summary.ts
  langchain/src/agents/tests/create_xml_agent.int.test.ts
  langchain/src/chat_models/tests/chatanthropic.int.test.ts
  langchain/src/chat_models/tests/data/hotdog.jpg
  libs/langchain-anthropic/README.md
  libs/langchain-anthropic/package.json
  libs/langchain-anthropic/src/chat_models.ts
  libs/langchain-anthropic/src/tests/chat_models.int.test.ts
  yarn.lock
Labels: auto:documentation, size:L

#4613 anthropic[patch]: Release 0.1.1
  libs/langchain-anthropic/package.json
Labels: size:XS

#4616 docs[minor]: Add thumbs up/down button
  docs/core_docs/docs/integrations/text_embedding/togetherai.mdx
  docs/core_docs/package.json
  docs/core_docs/src/analytics.js
  docs/core_docs/src/theme/DocItem/Content/index.js
  docs/core_docs/src/theme/Feedback.js
  yarn.lock
Labels: auto:documentation, size:L

#4619 core[minor]: Clean up withStructuredOutput typing
  langchain-core/src/language_models/base.ts
  langchain-core/src/language_models/tests/chat_models.test.ts
  langchain-core/src/utils/testing/index.ts
Labels: lgtm, auto:improvement, size:L

#4620 core[patch]: Release 0.1.41
  langchain-core/package.json
Labels: auto:nit, size:XS

#4597 community[patch]: Fix using collections for pgvector
  libs/langchain-community/src/vectorstores/pgvector.ts
Labels: lgtm, auto:bug, size:XS

#4622 docs[patch]: Switch to monthly download shields
  README.md
  langchain/README.md
Labels: size:XS

#4621 openai[patch],mistral[patch]: Fix typing for withStructuredOutput
  langchain/package.json
  libs/langchain-community/package.json
  libs/langchain-mistralai/package.json
  libs/langchain-mistralai/src/chat_models.ts
  libs/langchain-openai/package.json
  libs/langchain-openai/src/chat_models.ts
  yarn.lock
Labels: lgtm, auto:improvement, size:L

#4623 anthropic[minor]: Adds multimodal support for Anthropic
  docs/core_docs/docs/integrations/chat/anthropic.mdx
  examples/src/models/chat/integration_anthropic_multimodal.ts
  libs/langchain-anthropic/src/chat_models.ts
  libs/langchain-anthropic/src/tests/chat_models.int.test.ts
Labels: auto:improvement, size:L

#4625 mistralai[patch]: Release 0.0.10
  libs/langchain-mistralai/package.json
Labels: size:XS

#4626 openai[patch]: Release 0.0.16
  libs/langchain-openai/package.json
Labels: auto:nit, size:XS

#4627 redis[patch]: Release 0.0.2
  libs/langchain-redis/package.json
Labels: auto:nit, size:XS

#4628 docs[patch]: Add chat model page link to provider docs
  docs/core_docs/docs/integrations/platforms/anthropic.mdx
Labels: auto:documentation, size:XS

#4584 langchain[patch]: Support for aurora-mysql database driver to list table info
  langchain/src/util/sql_utils.ts
Labels: lgtm, auto:improvement, size:XS

#4636 docs[patch]: Use Zod schema example
  examples/src/models/chat/integration_anthropic_tools_wsa.ts
Labels: auto:documentation, size:S

#4634 docs[minor]: fix links on model io page
  docs/core_docs/docs/modules/model_io/index.mdx
Labels: lgtm, auto:documentation, size:S

#4637 anthropic[patch]: Improve robustness of Anthropic tools wrapper
  libs/langchain-anthropic/src/experimental/tests/tool_calling.int.test.ts
  libs/langchain-anthropic/src/experimental/tool_calling.ts
  libs/langchain-anthropic/src/experimental/utils/tool_calling.ts
Labels: auto:improvement, size:L

#4638 anthropic[patch]: Release 0.1.3
  libs/langchain-anthropic/package.json
Labels: auto:nit, size:XS

#4598 docs[minor]: Query analysis
  deno.json
  docs/core_docs/.gitignore
  docs/core_docs/docs/use_cases/query_analysis/_category_.yml
  docs/core_docs/docs/use_cases/query_analysis/how_to/_category_.yml
  docs/core_docs/docs/use_cases/query_analysis/how_to/constructing_filters.ipynb
  docs/core_docs/docs/use_cases/query_analysis/how_to/few_shot.ipynb
  docs/core_docs/docs/use_cases/query_analysis/how_to/high_cardinality.ipynb
  docs/core_docs/docs/use_cases/query_analysis/how_to/multiple_queries.ipynb
  docs/core_docs/docs/use_cases/query_analysis/how_to/multiple_retrievers.ipynb
  docs/core_docs/docs/use_cases/query_analysis/how_to/no_queries.ipynb
  docs/core_docs/docs/use_cases/query_analysis/index.ipynb
  docs/core_docs/docs/use_cases/query_analysis/quickstart.ipynb
  docs/core_docs/docs/use_cases/query_analysis/techniques/_category_.yml
  docs/core_docs/docs/use_cases/query_analysis/techniques/decomposition.ipynb
  docs/core_docs/docs/use_cases/query_analysis/techniques/expansion.ipynb
  docs/core_docs/docs/use_cases/query_analysis/techniques/hyde.ipynb
  docs/core_docs/docs/use_cases/query_analysis/techniques/routing.ipynb
  docs/core_docs/docs/use_cases/query_analysis/techniques/step_back.ipynb
  docs/core_docs/docs/use_cases/query_analysis/techniques/structuring.ipynb
  docs/core_docs/static/img/query_analysis.png
  examples/package.json
  examples/src/use_cases/query_analysis/quickstart/docs.ts
  examples/src/use_cases/query_analysis/quickstart/index_docs.ts
  examples/src/use_cases/query_analysis/quickstart/load_yt_videos.ts
  examples/src/use_cases/query_analysis/quickstart/metadata.ts
  yarn.lock
Labels: auto:documentation, size:XXL

#4640 core[patch]: Release 0.1.42
  langchain-core/package.json
Labels: auto:nit, size:XS

#4589 community[patch]: Add retrieval params to neo4j vector
  libs/langchain-community/src/vectorstores/neo4j_vector.ts
  libs/langchain-community/src/vectorstores/tests/neo4j_vector.int.test.ts
Labels: lgtm, auto:improvement, size:M

#4641 community[patch]: Release 0.0.35
  libs/langchain-community/package.json
Labels: auto:nit, size:XS

#4653 core[patch]: Update withStructuredOutput overload signature
  langchain-core/src/language_models/base.ts
  langchain-core/src/language_models/tests/chat_models.test.ts
  langchain-core/src/utils/testing/index.ts
  langchain/src/load/tests/__snapshots__/load.test.ts.snap
  langchain/src/load/tests/load.test.ts
Labels: auto:improvement, size:L

#4654 core[patch]: Release 0.1.43
  langchain-core/package.json
Labels: auto:nit, size:XS

#4655 openai[patch],mistral[patch],anthropic[patch]: Update client library signatures for withStructuredOutput
  deno.json
  docs/core_docs/docs/use_cases/query_analysis/how_to/few_shot.ipynb
  docs/core_docs/docs/use_cases/query_analysis/how_to/high_cardinality.ipynb
  docs/core_docs/docs/use_cases/query_analysis/how_to/multiple_queries.ipynb
  docs/core_docs/docs/use_cases/query_analysis/how_to/multiple_retrievers.ipynb
  docs/core_docs/docs/use_cases/query_analysis/quickstart.ipynb
  docs/core_docs/docs/use_cases/query_analysis/techniques/decomposition.ipynb
  docs/core_docs/docs/use_cases/query_analysis/techniques/expansion.ipynb
  docs/core_docs/docs/use_cases/query_analysis/techniques/hyde.ipynb
  docs/core_docs/docs/use_cases/query_analysis/techniques/routing.ipynb
  docs/core_docs/docs/use_cases/query_analysis/techniques/step_back.ipynb
  docs/core_docs/docs/use_cases/query_analysis/techniques/structuring.ipynb
  examples/src/models/chat/chat_mistralai_wsa.ts
  examples/src/models/chat/chat_mistralai_wsa_json.ts
  examples/src/models/chat/integration_anthropic_tools_wsa.ts
  examples/src/models/chat/integration_anthropic_tools_wsa_json.ts
  examples/src/models/chat/integration_openai_wsa_json_schema.ts
  examples/src/models/chat/integration_openai_wsa_zod.ts
  langchain-core/src/utils/testing/index.ts
  libs/langchain-anthropic/src/experimental/tests/tool_calling.int.test.ts
  libs/langchain-anthropic/src/experimental/tool_calling.ts
  libs/langchain-mistralai/src/chat_models.ts
  libs/langchain-mistralai/src/tests/chat_models.int.test.ts
  libs/langchain-openai/src/chat_models.ts
  libs/langchain-openai/src/tests/chat_models.int.test.ts
Labels: auto:improvement, size:XL

#4658 mistralai[patch]: Release 0.0.11
  libs/langchain-mistralai/package.json
Labels: auto:nit, size:XS

#4660 docs[patch]: Replace relative links with full path
  docs/core_docs/docs/integrations/document_loaders/file_loaders/unstructured.mdx
  docs/core_docs/docs/integrations/document_loaders/web_loaders/web_cheerio.mdx
  docs/core_docs/docs/integrations/document_loaders/web_loaders/web_playwright.mdx
  docs/core_docs/docs/integrations/document_loaders/web_loaders/web_puppeteer.mdx
  docs/core_docs/docs/modules/data_connection/retrievers/index.mdx
  docs/core_docs/docs/modules/model_io/chat/index.mdx
  docs/core_docs/docs/modules/model_io/index.mdx
  docs/core_docs/docs/modules/model_io/llms/index.mdx
  docs/core_docs/docs/modules/model_io/output_parsers/index.mdx
  docs/core_docs/docs/modules/model_io/output_parsers/types/index.mdx
  docs/core_docs/docs/modules/model_io/prompts/index.mdx
  docs/core_docs/docs/modules/model_io/quick_start.mdx
Labels: auto:documentation, size:M

#4661 docs[minor]: Adds extraction use-case
  deno.json
  docs/core_docs/docs/use_cases/extraction.mdx
  docs/core_docs/docs/use_cases/extraction/guidelines.ipynb
  docs/core_docs/docs/use_cases/extraction/how_to/_category_.yml
  docs/core_docs/docs/use_cases/extraction/how_to/examples.ipynb
  docs/core_docs/docs/use_cases/extraction/how_to/handle_files.ipynb
  docs/core_docs/docs/use_cases/extraction/how_to/handle_long_text.ipynb
  docs/core_docs/docs/use_cases/extraction/how_to/parse.ipynb
  docs/core_docs/docs/use_cases/extraction/how_to/test/data/05-versions-space.pdf
  docs/core_docs/docs/use_cases/extraction/how_to/test/data/bitcoin.pdf
  docs/core_docs/docs/use_cases/extraction/index.ipynb
  docs/core_docs/docs/use_cases/extraction/quickstart.ipynb
  examples/src/models/chat/chat_mistralai_wsa.ts
  examples/src/models/chat/chat_mistralai_wsa_json.ts
  examples/src/models/chat/integration_anthropic_tools_wsa.ts
  examples/src/models/chat/integration_anthropic_tools_wsa_json.ts
  examples/src/models/chat/integration_openai_wsa_json_schema.ts
  examples/src/models/chat/integration_openai_wsa_zod.ts
  libs/langchain-openai/package.json
  libs/langchain-openai/src/chat_models.ts
Labels: auto:documentation, size:XXL

#4666 docs[minor]: Fix typo
  docs/core_docs/docs/modules/agents/agent_types/openai_tools_agent.mdx
Labels: auto:documentation, size:XS

#4659 fix: Allow Azure OpenAI integration without API key if credentials field is provided
  libs/langchain-azure-openai/src/chat_models.ts
  libs/langchain-azure-openai/src/embeddings.ts
  libs/langchain-azure-openai/src/llms.ts
Labels: auto:bug, size:S

#4667 azure-openai[patch]: Release 0.0.3
  libs/langchain-azure-openai/package.json
Labels: auto:nit, size:XS

#4669 google[patch]: Adds release config files
  libs/langchain-google-common/.release-it.json
  libs/langchain-google-gauth/.release-it.json
  libs/langchain-google-webauth/.release-it.json
Labels: auto:nit, size:M

#4670 google[patch]: Fix release deps
  libs/langchain-google-common/package.json
  libs/langchain-google-gauth/package.json
  libs/langchain-google-webauth/package.json
  yarn.lock
Labels: auto:nit, size:XS

#4671 google-common[patch]: Release 0.0.1
  libs/langchain-google-common/package.json
Labels: size:XS

#4675 docs[patch]: update events to ga4
  docs/core_docs/.gitignore
  docs/core_docs/src/theme/Feedback.js
Labels: size:S

#4649 community[patch]: PGVectorStore: Fixes collection table created on wrong schema
  libs/langchain-community/src/vectorstores/pgvector.ts
  libs/langchain-community/src/vectorstores/tests/pgvector/pgvector.int.test.ts
Labels: lgtm, auto:improvement, size:XL

#4679 scripts[patch]: Update build process
  libs/langchain-scripts/.gitignore
  libs/langchain-scripts/package.json
  libs/langchain-scripts/scripts/create-entrypoints.js
Labels: auto:improvement, size:M

#4681 scripts[patch]: Release 0.0.6
  libs/langchain-scripts/package.json
Labels: size:XS

#4680 community[patch]: Fix metadata never getting passed in metadata neo4j
  libs/langchain-community/src/vectorstores/neo4j_vector.ts
Labels: auto:bug, size:XS

#4682 docs[minor]: Add graph use case
  deno.json
  docs/core_docs/docs/use_cases/graph/index.ipynb
  docs/core_docs/docs/use_cases/graph/mapping.ipynb
  docs/core_docs/docs/use_cases/graph/prompting.ipynb
  docs/core_docs/docs/use_cases/graph/quickstart.ipynb
  docs/core_docs/docs/use_cases/graph/semantic.ipynb
  docs/core_docs/static/img/graph_chain.webp
  docs/core_docs/static/img/graph_semantic.png
  docs/core_docs/static/img/graph_usecase.png
Labels: auto:documentation, size:XXL

#4685 core[patch]: Allow tools output parser to take and use a Zod schema for validation
  langchain-core/src/language_models/base.ts
  langchain-core/src/output_parsers/openai_tools/json_output_tools_parsers.ts
  langchain-core/src/output_parsers/openai_tools/tests/json_output_tools_parser.test.ts
Labels: auto:improvement, size:L

#4686 core[minor]: Move structured output parser to core
  langchain-core/src/output_parsers/index.ts
  langchain-core/src/output_parsers/structured.ts
  langchain-core/src/output_parsers/tests/structured.test.ts
Labels: auto:improvement, size:L

#4688 core[patch]: Release 0.1.44
  langchain-core/package.json
Labels: auto:nit, size:XS

#4687 openai[patch]: Make withStructuredOutput validate if passed a Zod schema
  libs/langchain-openai/package.json
  libs/langchain-openai/src/chat_models.ts
  libs/langchain-openai/src/tests/chat_models.int.test.ts
  libs/langchain-openai/src/tests/chat_models_structured_output.int.test.ts
  libs/langchain-openai/src/tests/embeddings.int.test.ts
  libs/langchain-openai/src/tests/llms.int.test.ts
  yarn.lock
Labels: auto:improvement, size:L

#4614 Dall-E Image generation tool
  .gitignore
  docs/core_docs/docs/integrations/tools/dalle.mdx
  examples/src/tools/dalle_image_generation.ts
  libs/langchain-openai/src/index.ts
  libs/langchain-openai/src/tools/dalle.ts
  libs/langchain-openai/src/tools/index.ts
  libs/langchain-openai/src/tools/tests/dalle.int.test.ts
Labels: lgtm, auto:enhancement, size:L

#4689 mistralai[patch],anthropic[patch]: Make Mistral and Anthropic withStructuredOutput methods validate if given Zod schema
  libs/langchain-anthropic/package.json
  libs/langchain-anthropic/src/experimental/tool_calling.ts
  libs/langchain-mistralai/package.json
  libs/langchain-mistralai/src/chat_models.ts
  libs/langchain-mistralai/src/tests/chat_models.int.test.ts
  libs/langchain-openai/src/chat_models.ts
  yarn.lock
Labels: auto:improvement, size:M

#4690 openai[patch]: Release 0.0.19
  libs/langchain-openai/package.json
Labels: auto:nit, size:XS

#4691 mistralai[patch]: Release 0.0.12
  libs/langchain-mistralai/package.json
Labels: auto:nit, size:XS

#4693 anthropic[patch]: Release 0.1.5
  libs/langchain-anthropic/package.json
Labels: size:XS

#4692 langchain[patch],community[patch]: Bump deps
  langchain/package.json
  libs/langchain-community/package.json
  yarn.lock
Labels: auto:nit, size:XS

#4694 community[patch]: Release 0.0.36
  libs/langchain-community/package.json
Labels: auto:nit, size:XS

#4696 langchain[patch]: Bump deps
  langchain/package.json
  yarn.lock
Labels: auto:nit, size:XS

#4697 langchain[patch]: Release 0.1.26
  langchain/package.json
Labels: auto:nit, size:XS

#4698 mistralai[patch]: Fix Mistral for non-tool calling models
  libs/langchain-mistralai/src/chat_models.ts
  libs/langchain-mistralai/src/tests/chat_models.int.test.ts
Labels: auto:bug, size:S

#4699 mistralai[patch]: Release 0.0.13
  libs/langchain-mistralai/package.json
Labels: size:XS

#4700 groq[patch]: Fix stop sequence binding
  libs/langchain-groq/src/chat_models.ts
  libs/langchain-groq/src/tests/chat_models.int.test.ts
Labels: auto:bug, size:S

#4701 groq[patch]: Release 0.0.3
  libs/langchain-groq/package.json
Labels: auto:nit, size:XS

#4709 docs[minor]: Add dynamic prompting section to graphs use case
  docs/core_docs/docs/use_cases/graph/prompting.ipynb
Labels: auto:documentation, size:L

#4710 docs[minor]: Swap gtag for supabase
  docs/core_docs/.gitignore
  docs/core_docs/docusaurus.config.js
  docs/core_docs/package.json
  docs/core_docs/src/analytics.js
  docs/core_docs/src/theme/Feedback.js
  yarn.lock
Labels: auto:documentation, size:M

#4713 docs[patch]: Slight updates to graphs use cases
  docs/core_docs/docs/use_cases/graph/_category_.yml
  docs/core_docs/docs/use_cases/graph/prompting.ipynb
Labels: auto:documentation, size:S

#4718 Fix broken `Table of contents` links on `Q&A with RAG` page
  docs/core_docs/docs/use_cases/question_answering/index.mdx
Labels: lgtm, auto:documentation, size:S

#4721 docs[minor]: Added per_user docs page question answering
  docs/core_docs/docs/use_cases/question_answering/index.mdx
  docs/core_docs/docs/use_cases/question_answering/per_user.ipynb
Labels: auto:documentation, size:L

#4712 docs[patch]: fix(docs): correct typos in docs
  CONTRIBUTING.md
  docs/core_docs/docs/modules/memory/index.mdx
Labels: auto:documentation, size:XS

#4668 azure-openai[patch]: feat: add azureOpenAIApiDeploymentName for AzureChatOpenAI constructor
  libs/langchain-azure-openai/src/chat_models.ts
Labels: lgtm, auto:improvement, size:XS

#4664 community[patch]: Allow must_not filter in Elasticsearch VectorStore
  libs/langchain-community/src/vectorstores/elasticsearch.ts
Labels: lgtm, auto:improvement, size:M

#4705 core[minor]: StringOutputParser and text BaseMessage contents
  langchain-core/src/output_parsers/base.ts
  langchain-core/src/output_parsers/string.ts
  langchain-core/src/output_parsers/tests/string.test.ts
  langchain-core/src/output_parsers/transform.ts
Labels: close, auto:improvement, size:L

#4724 anthropic[patch]: Bump SDK version
  libs/langchain-anthropic/package.json
  yarn.lock
Labels: auto:nit, size:XS

#4725 anthropic[patch]: Release 0.1.6
  libs/langchain-anthropic/package.json
Labels: size:XS

#4566 core[minor]: Add graph functionality to Runnable base
  langchain-core/src/load/serializable.ts
  langchain-core/src/runnables/base.ts
  langchain-core/src/runnables/graph.ts
  langchain-core/src/runnables/index.ts
  langchain-core/src/runnables/tests/runnable_graph.test.ts
  langchain-core/src/runnables/tests/runnable_interface.test.ts
  langchain-core/src/runnables/types.ts
  langchain-core/src/runnables/utils.ts
Labels: auto:improvement, size:L

#4651 langchain[patch]: Add Possibility to use Contextual chunk headers in Parent Document Retriever
  docs/core_docs/docs/modules/data_connection/retrievers/parent-document-retriever.mdx
  examples/src/retrievers/parent_document_retriever_chunk_header.ts
  langchain/src/retrievers/parent_document.ts
Labels: lgtm, auto:improvement, size:L

#4644 community[minor]: feat: add chat models for zhipuai
  docs/core_docs/docs/integrations/chat/index.mdx
  docs/core_docs/docs/integrations/chat/zhipuai.mdx
  examples/src/models/chat/integration_zhipuai.ts
  libs/langchain-community/.gitignore
  libs/langchain-community/langchain.config.js
  libs/langchain-community/package.json
  libs/langchain-community/src/chat_models/tests/chatzhipuai.int.test.ts
  libs/langchain-community/src/chat_models/zhipuai.ts
  libs/langchain-community/src/load/import_map.ts
  yarn.lock
Labels: lgtm, auto:enhancement, size:XL

#4723 langchain[patch]: fix gitbook loader with shouldLoadAllPaths:true
  langchain/src/document_loaders/web/gitbook.ts
Labels: lgtm, auto:bug, size:S

#4714 azure-openai[patch]: feat: use azureOpenAIApiDeploymentName for all azure-openai
  libs/langchain-azure-openai/src/chat_models.ts
  libs/langchain-azure-openai/src/embeddings.ts
  libs/langchain-azure-openai/src/llms.ts
  libs/langchain-azure-openai/src/types.ts
Labels: lgtm, auto:refactor, size:M

#4728 community[patch]: Release 0.0.37
  libs/langchain-community/package.json
Labels: auto:nit, size:XS

#4729 azure-openai[patch]: Release 0.0.4
  libs/langchain-azure-openai/package.json
Labels: auto:nit, size:XS

#4730 Release 0.1.27
  langchain/package.json
Labels: auto:nit, size:XS

#4731 core[patch]: Fix stream events and stream log with global backgrounded callbacks, add warning
  langchain-core/src/callbacks/base.ts
  langchain-core/src/callbacks/manager.ts
  langchain-core/src/language_models/tests/chat_models.test.ts
  langchain-core/src/language_models/tests/llms.test.ts
  langchain-core/src/runnables/tests/runnable_branch.test.ts
  langchain-core/src/runnables/tests/runnable_stream_events.test.ts
  langchain-core/src/tracers/log_stream.ts
  langchain-core/src/tracers/root_listener.ts
  langchain-core/src/tracers/run_collector.ts
Labels: lgtm, auto:improvement, size:L

#4732 core[patch]: Release 0.1.45
  langchain-core/package.json
Labels: size:XS

#4706 mongodb[minor]: MongoDBStore
  libs/langchain-mongodb/package.json
  libs/langchain-mongodb/src/index.ts
  libs/langchain-mongodb/src/storage.ts
  libs/langchain-mongodb/src/tests/storage.int.test.ts
  yarn.lock
Labels: close, auto:improvement, size:L

#4733 langchain[minor]: Add missing props to UnstructuredLoader
  langchain/src/document_loaders/fs/unstructured.ts
Labels: lgtm, auto:improvement, size:M

#4743 core[patch]: Merge response metadata fields
  langchain-core/src/language_models/chat_models.ts
  langchain-core/src/messages/index.ts
Labels: auto:improvement, size:L

#4745 core[patch]: Remove log
  langchain-core/src/messages/index.ts
Labels: auto:nit, size:XS

#4739 community[patch]: Make PGVector constructors public to allow for pool reuse
  docs/core_docs/docs/integrations/vectorstores/pgvector.mdx
  examples/src/indexes/vector_stores/pgvector_vectorstore/pgvector_pool.ts
  libs/langchain-community/src/vectorstores/pgvector.ts
  libs/langchain-community/src/vectorstores/vercel_postgres.ts
Labels: auto:improvement, size:L

#4746 core[patch]: Release 0.1.46
  langchain-core/package.json
Labels: auto:nit, size:XS

#4744 openai[patch]: Support streaming logprobs
  libs/langchain-openai/package.json
  libs/langchain-openai/src/chat_models.ts
  libs/langchain-openai/src/tests/chat_models-extended.int.test.ts
  yarn.lock
Labels: auto:improvement, size:S

#4747 openai[patch]: Release 0.0.20
  libs/langchain-openai/package.json
Labels: auto:nit, size:XS

#4748 community[patch]: Release 0.0.38
  libs/langchain-community/package.json
Labels: size:XS

#4727 anthropic[patch]: `ChatAnthropicTools`: `fixArrayXMLParameters` improvements
  libs/langchain-anthropic/src/experimental/utils/tool_calling.ts
  libs/langchain-anthropic/src/tests/tool_calling.int.test.ts
Labels: lgtm, auto:bug, size:M

#4750 anthropic[patch]: Make ChatAnthropicTools push full prompt to LangSmith, allow for unforced withStructuredOutput option
  examples/src/models/chat/integration_anthropic_tools_wsa.ts
  libs/langchain-anthropic/src/experimental/tests/tool_calling.int.test.ts
  libs/langchain-anthropic/src/experimental/tool_calling.ts
  libs/langchain-anthropic/src/tests/tool_calling.int.test.ts
Labels: auto:improvement, size:L

#4751 anthropic[patch]: Release 0.1.7
  libs/langchain-anthropic/package.json
Labels: size:XS

#4754 groq[minor]: Bump SDK version
  libs/langchain-groq/package.json
  yarn.lock
Labels: auto:nit, size:XS

#4756 groq[patch]: Release 0.0.4
  libs/langchain-groq/package.json
Labels: size:XS

#4757 scripts[minor]: Add export for checking broken links
  libs/langchain-scripts/.gitignore
  libs/langchain-scripts/package.json
  libs/langchain-scripts/scripts/create-entrypoints.js
  libs/langchain-scripts/src/check_broken_links.ts
  libs/langchain-scripts/src/tests/__mdx__/modules/index.mdx
  libs/langchain-scripts/src/tests/__mdx__/modules/two.mdx
  libs/langchain-scripts/src/tests/check_broken_links.int.test.ts
  libs/langchain-scripts/src/tests/check_broken_links.test.ts
  yarn.lock
Labels: auto:improvement, size:XL

#4760 scripts[patch]: Release 0.0.7
  libs/langchain-scripts/package.json
Labels: size:XS

#4763 scripts[minor]: Make scripts package use its own files
  libs/langchain-scripts/langchain.config.js
  libs/langchain-scripts/package.json
  libs/langchain-scripts/scripts/check-tree-shaking.js
  libs/langchain-scripts/scripts/create-entrypoints.js
  libs/langchain-scripts/scripts/identify-secrets.js
  libs/langchain-scripts/scripts/move-cjs-to-dist.js
  libs/langchain-scripts/tsconfig.cjs.json
  yarn.lock
Labels: auto:refactor, size:L

#4765 scripts[patch]: Release 0.0.8
  libs/langchain-scripts/package.json
Labels: size:XS

#4755 docs[patch]: Add tip to integrations installation docs page
  docs/core_docs/docs/get_started/installation.mdx
Labels: auto:documentation, size:XS

#4643 langchain[patch]: Allow return direct for runnable agents created via helper methods
  langchain/src/agents/agent.ts
  langchain/src/agents/executor.ts
  langchain/src/agents/openai_functions/index.ts
  langchain/src/agents/openai_tools/index.ts
  langchain/src/agents/react/index.ts
  langchain/src/agents/structured_chat/index.ts
  langchain/src/agents/tests/__snapshots__/create_agent_functions.test.ts.snap
  langchain/src/agents/tests/create_agent_functions.test.ts
  langchain/src/agents/types.ts
  langchain/src/agents/xml/index.ts
Labels: hold, auto:improvement, size:L

#4753 core[patch], langchain[patch]: `LangSmith` tracing improvements for `OutputFixingParser`
  langchain-core/src/output_parsers/base.ts
  langchain/src/output_parsers/fix.ts
Labels: auto:bug, size:M

#4762 docs[minor]: Add action for checking broken external links
  .github/workflows/check-broken-links.yml
  docs/core_docs/.gitignore
  docs/core_docs/package.json
  docs/core_docs/scripts/check-broken-links.js
  libs/langchain-scripts/src/check_broken_links.ts
  yarn.lock
Labels: auto:documentation, size:M

#4766 all[patch]: Fix broken external links
  docs/core_docs/docs/ecosystem/integrations/helicone.mdx
  docs/core_docs/docs/ecosystem/langserve.mdx
  docs/core_docs/docs/integrations/chat/togetherai.mdx
  docs/core_docs/docs/integrations/text_embedding/togetherai.mdx
  docs/core_docs/docs/integrations/vectorstores/faiss.mdx
  docs/core_docs/docs/integrations/vectorstores/googlevertexai.mdx
  docs/core_docs/docs/integrations/vectorstores/tigris.mdx
  docs/core_docs/docs/langgraph.mdx
  docs/core_docs/docs/modules/callbacks/how_to/tags.mdx
  docs/core_docs/docs/modules/callbacks/index.mdx
  docs/core_docs/docs/modules/chains/popular/chat_vector_db_legacy.mdx
  docs/core_docs/docs/modules/data_connection/vectorstores/index.mdx
  docs/core_docs/docs/use_cases/autonomous_agents/sales_gpt.mdx
  docs/core_docs/docs/use_cases/sql/prompting.mdx
Labels: auto:documentation, size:M

#4749 community[minor]: feat: Zhipuai embeddings
  docs/core_docs/docs/integrations/text_embedding/zhipuai.mdx
  examples/src/embeddings/zhipuai.ts
  libs/langchain-community/.gitignore
  libs/langchain-community/langchain.config.js
  libs/langchain-community/package.json
  libs/langchain-community/src/chat_models/tests/chatzhipuai.int.test.ts
  libs/langchain-community/src/chat_models/zhipuai.ts
  libs/langchain-community/src/embeddings/zhipuai.ts
  libs/langchain-community/src/utils/zhipuai.ts
Labels: lgtm, auto:documentation, size:L

#4767 ci[patch]: Fix build command
  .github/workflows/check-broken-links.yml
Labels: size:XS

#4768 core[patch]: Release 0.1.47
  langchain-core/package.json
Labels: size:XS

#4758 community[patch]: bedrock: add model name to identifying params (cache keys)
  libs/langchain-community/src/chat_models/bedrock/web.ts
  libs/langchain-community/src/chat_models/tests/chatbedrock.test.ts
Labels: auto:improvement, size:M

#4770 community[patch]: Release 0.0.39
  libs/langchain-community/package.json
Labels: size:XS

#4769 ci[patch]docs[patch]: Use seperate script for CI env
  .github/workflows/check-broken-links.yml
  docs/core_docs/package.json
  docs/core_docs/scripts/check-broken-links.js
Labels: size:XS

#4772 Release 0.1.28
  langchain/package.json
Labels: auto:nit, size:XS

#4774 scripts[patch]: Release 0.0.9
  libs/langchain-scripts/package.json
Labels: auto:nit, size:XS

#4773 core[minor]: StructuredPrompt
  langchain-core/src/prompts/chat.ts
  langchain-core/src/prompts/index.ts
  langchain-core/src/prompts/structured.ts
  langchain-core/src/prompts/tests/structured.test.ts
Labels: auto:improvement, size:L

#4782 docs[patch]: Add new OpenAI token usage/logprob docs
  docs/core_docs/docs/integrations/chat/openai.mdx
  examples/src/models/chat/integration_openai_invoke_info.ts
Labels: auto:documentation, size:L

#4785 Update integration_openai_invoke_info.ts
  examples/src/models/chat/integration_openai_invoke_info.ts
Labels: auto:nit, size:XS

#4786 fix(cohere): bump client version
  libs/langchain-cohere/package.json
  libs/langchain-cohere/src/chat_models.ts
  libs/langchain-cohere/src/embeddings.ts
  libs/langchain-cohere/src/llms.ts
  yarn.lock
Labels: auto:bug, size:S

#4788 cohere[patch]: Release 0.0.6
  libs/langchain-cohere/package.json
Labels: size:XS

#4776 community[patch]: fix: an issue where response not stopped correctly
  libs/langchain-community/src/chat_models/zhipuai.ts
Labels: auto:bug, size:XS

#4789 docs[patch]: Update integration contribution docs
  .github/contributing/INTEGRATIONS.md
Labels: auto:documentation, size:M

#4781 community[patch]: Add support for inner product and Euclidean distance to `PGVector`
  examples/src/indexes/vector_stores/pgvector_vectorstore/pgvector.ts
  libs/langchain-community/src/vectorstores/pgvector.ts
  libs/langchain-community/src/vectorstores/tests/pgvector/pgvector.int.test.ts
Labels: lgtm, close, size:M

#4737 community[minor]: Add support for Couchbase Vector Store
  docs/core_docs/docs/integrations/vectorstores/couchbase.mdx
  examples/package.json
  examples/src/indexes/vector_stores/couchbase/.env.example
  examples/src/indexes/vector_stores/couchbase/similaritySearch.ts
  langchain/package.json
  libs/langchain-community/.gitignore
  libs/langchain-community/langchain.config.js
  libs/langchain-community/package.json
  libs/langchain-community/src/load/import_constants.ts
  libs/langchain-community/src/vectorstores/couchbase.ts
  libs/langchain-community/src/vectorstores/tests/couchbase.int.test.ts
  yarn.lock
Labels: lgtm, auto:enhancement, size:XXL

#4791 community[patch]: Release 0.0.40
  libs/langchain-community/package.json
Labels: size:XS

#4792 openai[patch],anthropic[patch],mistralai[patch]: Support with structured output for OpenAI function definition schema
  libs/langchain-anthropic/src/experimental/tool_calling.ts
  libs/langchain-mistralai/src/chat_models.ts
  libs/langchain-mistralai/src/tests/chat_models.int.test.ts
  libs/langchain-openai/src/chat_models.ts
  libs/langchain-openai/src/tests/chat_models_structured_output.int.test.ts
Labels: auto:improvement, size:L

#4793 openai[patch]: Release 0.0.21
  libs/langchain-openai/package.json
Labels: auto:nit, size:XS

#4794 mistralai[patch]: Release 0.0.14
  libs/langchain-mistralai/package.json
Labels: auto:nit, size:XS

#4778 anthropic[minor]: fix nested object fixArrayXMLParameters
  libs/langchain-anthropic/src/experimental/utils/tool_calling.ts
Labels: question, lgtm, auto:bug, size:S

#4796 anthropic[patch]: Release 0.1.8
  libs/langchain-anthropic/package.json
Labels: auto:nit, size:XS

#4800 docs[patch]: Update MongoDB Atlas docs
  docs/core_docs/docs/integrations/vectorstores/mongodb_atlas.mdx
  examples/src/indexes/vector_stores/mongodb_metadata_filtering.ts
Labels: auto:documentation, size:L

#4801 docs[patch]: Typo
  examples/src/indexes/vector_stores/mongodb_metadata_filtering.ts
Labels: auto:documentation, size:XS

#4797 docs[minor]: Add google genai tab to model io & chat quickstart
  docs/core_docs/docs/modules/model_io/chat/quick_start.mdx
  docs/core_docs/docs/modules/model_io/quick_start.mdx
Labels: auto:documentation, size:M

#4805 docs[patch]: Add note about mongodb in nextjs to docs
  docs/core_docs/docs/integrations/chat_memory/mongodb.mdx
  docs/core_docs/docs/integrations/vectorstores/mongodb_atlas.mdx
Labels: auto:documentation, size:S

#4799 openai[patch]: Bugfix: try catch around JSON stringify/parse when counting OpenAI function calling tokens
  libs/langchain-openai/src/chat_models.ts
  libs/langchain-openai/src/tests/chat_models.int.test.ts
Labels: lgtm, auto:bug, size:S

#4804 docs[patch]: Fix missing link to `Agents Quick Start`
  docs/core_docs/docs/modules/agents/index.mdx
Labels: auto:documentation, size:XS

#4810 Docs[patch]: npm i guide issue in sql docs
  docs/core_docs/docs/use_cases/sql/quickstart.mdx
Labels: auto:documentation, size:XS

#4803 Add mistral as supported provider for AWS Bedrock
  libs/langchain-community/src/chat_models/bedrock/web.ts
  libs/langchain-community/src/chat_models/tests/chatbedrock.int.test.ts
  libs/langchain-community/src/llms/bedrock/web.ts
  libs/langchain-community/src/utils/bedrock.ts
Labels: lgtm, auto:improvement, size:M

#4742 community[minor]: feat: datastore message store
  docs/core_docs/docs/integrations/chat_memory/ipfs_datastore.mdx
  libs/langchain-community/package.json
  libs/langchain-community/src/stores/message/ipfs_datastore.ts
  libs/langchain-community/src/stores/tests/ipfs_datastore.int.test.ts
  yarn.lock
Labels: lgtm, auto:improvement, size:L

#4817 community[minor]: Add calculator tool to community
  libs/langchain-community/.gitignore
  libs/langchain-community/langchain.config.js
  libs/langchain-community/package.json
  libs/langchain-community/src/tools/calculator.ts
  yarn.lock
Labels: auto:improvement, size:M

#4819 community[patch]: Add missing entrypoint
  docs/core_docs/docs/integrations/chat_memory/ipfs_datastore.mdx
  libs/langchain-community/.gitignore
  libs/langchain-community/langchain.config.js
  libs/langchain-community/package.json
Labels: auto:documentation, size:S

#4822 openai[patch]: Release 0.0.22
  libs/langchain-openai/package.json
Labels: size:XS

#4820 community[patch]: faat: Add ERNIE-Speed-8K, ERNIE-Speed-128K from Baidu Wenxin
  examples/src/models/chat/integration_baiduwenxin.ts
  libs/langchain-community/src/chat_models/baiduwenxin.ts
  libs/langchain-community/src/chat_models/tests/chatbaiduwenxin.int.test.ts
Labels: lgtm, auto:enhancement, size:S

#4823 community[patch]: Release 0.0.41
  libs/langchain-community/package.json
Labels: size:XS

#4826 docs: adding missing dependencies to RAG documentation
  docs/core_docs/docs/expression_language/cookbook/retrieval.mdx
Labels: lgtm, auto:documentation, size:XS

#4827 [patch]: Fix scripts ordering for build
  langchain/package.json
  libs/langchain-exa/package.json
  libs/langchain-google-gauth/package.json
  libs/langchain-google-webauth/package.json
  libs/langchain-groq/package.json
  libs/langchain-mistralai/package.json
  libs/langchain-mongodb/package.json
  libs/langchain-nomic/package.json
  libs/langchain-weaviate/package.json
Labels: auto:bug, size:S

#4828 scripts[minor]: Add retry ability to broken links
  docs/core_docs/scripts/check-broken-links.js
  libs/langchain-scripts/src/check_broken_links.ts
Labels: size:M
