Repository langchain-ai/langchainjs, pull requests merged in 2024-07, with the labels that each got.

#5946 ci[patch]: Update CI permissions
  .github/workflows/people.yml
Labels: auto:nit, size:XS

#5945 docs[patch]: Update README.md
  README.md
  langchain/README.md
Labels: auto:documentation, size:M

#5953 docs[patch]: Fix broken Scrimba link
  docs/core_docs/docs/additional_resources/tutorials.mdx
Labels: lgtm, auto:documentation, size:XS

#5954 core[patch]: Adds support for plain message objects as shorthand for messages
  langchain-core/src/language_models/tests/chat_models.test.ts
  langchain-core/src/messages/base.ts
  langchain-core/src/messages/utils.ts
  langchain-core/src/prompts/chat.ts
  langchain-core/src/prompts/tests/chat.test.ts
Labels: auto:improvement, size:L

#5955 core[patch]: Release 0.2.12
  langchain-core/package.json
Labels: size:XS

#5957 docs[patch]: Update install instructions
  docs/core_docs/docs/how_to/installation.mdx
Labels: auto:documentation, size:S

#5956 jacob/5890
  docs/core_docs/docs/integrations/document_compressors/mixedbread_ai.mdx
  docs/core_docs/docs/integrations/text_embedding/mixedbread_ai.mdx
  libs/langchain-mixedbread-ai/.eslintrc.cjs
  libs/langchain-mixedbread-ai/.gitignore
  libs/langchain-mixedbread-ai/.prettierrc
  libs/langchain-mixedbread-ai/.release-it.json
  libs/langchain-mixedbread-ai/LICENSE
  libs/langchain-mixedbread-ai/README.md
  libs/langchain-mixedbread-ai/jest.config.cjs
  libs/langchain-mixedbread-ai/jest.env.cjs
  libs/langchain-mixedbread-ai/langchain.config.js
  libs/langchain-mixedbread-ai/package.json
  libs/langchain-mixedbread-ai/scripts/jest-setup-after-env.js
  libs/langchain-mixedbread-ai/src/embeddings.ts
  libs/langchain-mixedbread-ai/src/index.ts
  libs/langchain-mixedbread-ai/src/reranker.ts
  libs/langchain-mixedbread-ai/src/tests/embeddings.int.test.ts
  libs/langchain-mixedbread-ai/src/tests/reranker.int.test.ts
  libs/langchain-mixedbread-ai/tsconfig.cjs.json
  libs/langchain-mixedbread-ai/tsconfig.json
  libs/langchain-mixedbread-ai/turbo.json
  yarn.lock
Labels: auto:enhancement, auto:documentation, size:XL

#5927 community[minor]: Taskade Project Loader
  docs/core_docs/docs/integrations/document_loaders/web_loaders/taskade.mdx
  examples/src/document_loaders/taskade.ts
  libs/langchain-community/.gitignore
  libs/langchain-community/langchain.config.js
  libs/langchain-community/package.json
  libs/langchain-community/src/document_loaders/tests/taskade.int.test.ts
  libs/langchain-community/src/document_loaders/web/taskade.ts
  libs/langchain-community/src/load/import_constants.ts
Labels: lgtm, auto:enhancement, size:L

#5964 docs[patch]: Fix typo
  docs/core_docs/docs/tutorials/pdf_qa.ipynb
Labels: auto:documentation, size:XS

#5965 docs[patch]: Docs nits
  docs/core_docs/docs/integrations/text_embedding/mixedbread_ai.mdx
  docs/core_docs/docusaurus.config.js
  docs/core_docs/sidebars.js
Labels: auto:nit, size:XS

#5963 redis[patch]: Adds a connection pool to RedisChatHistory
  libs/langchain-redis/src/chat_histories.ts
  libs/langchain-redis/src/connections.ts
Labels: auto:improvement, size:S

#5966 Fixes issue with local build from a devcontainer
  .devcontainer/devcontainer.json
  .yarnrc.yml
Labels: lgtm, auto:bug, size:S

#5949 community[patch]: unstructured loader support extractImageBlockType option
  libs/langchain-community/src/document_loaders/fs/unstructured.ts
  libs/langchain-community/src/document_loaders/tests/unstructured.int.test.ts
Labels: lgtm, auto:bug, size:M

#5967 community[patch]: Release 0.2.17
  libs/langchain-community/package.json
Labels: auto:nit, size:XS

#5968 docs[patch]: Update structured output docs to be more opinionated
  docs/core_docs/docs/concepts.mdx
  docs/core_docs/docs/how_to/structured_output.ipynb
Labels: auto:documentation, size:L

#5975 docs[patch]: Update Scrimba link
  docs/core_docs/docs/additional_resources/tutorials.mdx
Labels: auto:documentation, size:XS

#5976 api_refs[minor]: Start generating sitemaps and bump typedoc version
  docs/api_refs/package.json
  docs/api_refs/scripts/create-entrypoints.js
  yarn.lock
Labels: auto:documentation, size:XS

#5978 core[patch]: Adds mermaid graph format
  langchain-core/src/runnables/graph.ts
  langchain-core/src/runnables/graph_mermaid.ts
  langchain-core/src/runnables/tests/data/mermaid.png
  langchain-core/src/runnables/tests/runnable_graph.test.ts
  langchain-core/src/runnables/types.ts
Labels: lgtm, auto:improvement, size:L

#5980 core[patch]: Release 0.2.13
  langchain-core/package.json
Labels: size:XS

#5986 community[patch]: Fix community upstash test for new versions of @upstash/redis
  examples/package.json
  libs/langchain-community/package.json
  libs/langchain-community/src/callbacks/tests/upstash_ratelimit.test.ts
  libs/langchain-community/src/storage/upstash_redis.ts
  yarn.lock
Labels: auto:nit, size:S

#5877 community[minor]: Support configurable search parameters for Milvus
  libs/langchain-community/src/vectorstores/milvus.ts
Labels: question, auto:improvement, auto:nit, size:M

#5969 multiple[patch]: upgrade uuid version
  docs/core_docs/package.json
  examples/package.json
  langchain-core/package.json
  langchain/package.json
  libs/langchain-azure-dynamic-sessions/package.json
  libs/langchain-cloudflare/package.json
  libs/langchain-community/package.json
  libs/langchain-google-common/package.json
  libs/langchain-mistralai/package.json
  libs/langchain-mongodb/package.json
  libs/langchain-pinecone/package.json
  libs/langchain-qdrant/package.json
  libs/langchain-redis/package.json
  libs/langchain-weaviate/package.json
  yarn.lock
Labels: auto:nit, size:S

#5985 core[patch]: Fix typo in graph edge construction code
  langchain-core/src/runnables/graph_mermaid.ts
Labels: auto:nit, size:S

#5983 community[patch]: feat: add milvus partitionKey
  libs/langchain-community/src/vectorstores/milvus.ts
Labels: lgtm, auto:enhancement, size:M

#5987 core[patch]: Release 0.2.14
  langchain-core/package.json
Labels: size:XS

#5991 core[patch]: Remove dead code
  langchain-core/.gitignore
  langchain-core/langchain.config.js
  langchain-core/package.json
  langchain-core/src/utils/beta_warning.ts
Labels: auto:nit, size:S

#5993 core[patch]: Fix parent run tracking when streaming runnable lambdas
  langchain-core/src/runnables/base.ts
  langchain-core/src/runnables/tests/runnable_stream_events_v2.test.ts
  langchain-core/src/singletons/tests/async_local_storage.test.ts
Labels: auto:bug, size:M

#5995 core[patch]: RunnableWithFallbacks tracing fix, refactor
  langchain-core/src/callbacks/manager.ts
  langchain-core/src/runnables/base.ts
  langchain-core/src/tracers/initialize.ts
  langchain-core/src/utils/callbacks.ts
Labels: auto:bug, auto:refactor, size:M

#5999 docs: rm discord
  .github/ISSUE_TEMPLATE/config.yml
  README.md
  docs/core_docs/docs/community.mdx
  docs/core_docs/docusaurus.config.js
  langchain-core/README.md
  langchain/README.md
  libs/langchain-community/README.md
Labels: lgtm, auto:documentation, size:S

#5998 openai[patch]: Fix integration tests
  libs/langchain-openai/src/chat_models.ts
  libs/langchain-openai/src/tests/azure/chat_models.int.test.ts
  libs/langchain-openai/src/tests/chat_models-extended.int.test.ts
  libs/langchain-openai/src/tests/chat_models.int.test.ts
Labels: auto:bug, size:XXL

#6000 partners[patch]: Fix flaky token counting tests
  libs/langchain-anthropic/src/tests/chat_models.int.test.ts
  libs/langchain-cohere/src/tests/chat_models.int.test.ts
  libs/langchain-google-genai/src/tests/chat_models.int.test.ts
  libs/langchain-google-vertexai/src/tests/chat_models.int.test.ts
  libs/langchain-mistralai/src/tests/chat_models.int.test.ts
Labels: auto:bug, size:M

#6001 mistralai[patch]: Fix flaky test using callbacks
  libs/langchain-mistralai/src/tests/llms.int.test.ts
Labels: auto:bug, size:M

#6002 ci[patch]: Set fail-fast to false in standard tests & update standard int test command
  .github/workflows/standard-tests.yml
  turbo.json
Labels: size:XS

#6003 anthropic[patch]: Remove sleep after each test
  libs/langchain-anthropic/src/tests/chat_models.int.test.ts
Labels: auto:nit, size:S

#6004 standard-tests[minor]: Improve prompting to force model to call tool
  libs/langchain-standard-tests/src/integration_tests/chat_models.ts
Labels: auto:improvement, size:M

#6006 partners[patch]: Handle setting background callbacks to false in all relevant int tests
  libs/langchain-aws/src/tests/chat_models.int.test.ts
  libs/langchain-cloudflare/src/tests/chat_models.int.test.ts
  libs/langchain-cloudflare/src/tests/llms.int.test.ts
  libs/langchain-cohere/src/tests/llms.int.test.ts
  libs/langchain-google-genai/src/tests/chat_models.int.test.ts
  libs/langchain-openai/src/tests/azure/llms.int.test.ts
  libs/langchain-openai/src/tests/legacy.int.test.ts
  libs/langchain-openai/src/tests/llms.int.test.ts
Labels: auto:improvement, size:L

#6008 google-genai[patch],openai[patch]: Test nits
  .github/workflows/standard-tests.yml
  libs/langchain-google-genai/src/tests/chat_models.int.test.ts
  libs/langchain-openai/scripts/jest-setup-after-env.js
  libs/langchain-openai/src/tests/azure/chat_models.int.test.ts
Labels: size:S

#6009 all[minor]: Add ability to disable console logs in tests
  libs/create-langchain-integration/template/scripts/jest-setup-after-env.js
  libs/langchain-anthropic/scripts/jest-setup-after-env.js
  libs/langchain-aws/scripts/jest-setup-after-env.js
  libs/langchain-azure-dynamic-sessions/scripts/jest-setup-after-env.js
  libs/langchain-azure-openai/scripts/jest-setup-after-env.js
  libs/langchain-baidu-qianfan/scripts/jest-setup-after-env.js
  libs/langchain-cloudflare/scripts/jest-setup-after-env.js
  libs/langchain-cohere/scripts/jest-setup-after-env.js
  libs/langchain-community/scripts/jest-setup-after-env.js
  libs/langchain-exa/scripts/jest-setup-after-env.js
  libs/langchain-google-genai/scripts/jest-setup-after-env.js
  libs/langchain-groq/scripts/jest-setup-after-env.js
  libs/langchain-mistralai/scripts/jest-setup-after-env.js
  libs/langchain-mixedbread-ai/scripts/jest-setup-after-env.js
  libs/langchain-mongodb/scripts/jest-setup-after-env.js
  libs/langchain-nomic/scripts/jest-setup-after-env.js
  libs/langchain-pinecone/scripts/jest-setup-after-env.js
  libs/langchain-qdrant/scripts/jest-setup-after-env.js
  libs/langchain-redis/scripts/jest-setup-after-env.js
  libs/langchain-standard-tests/scripts/jest-setup-after-env.js
  libs/langchain-textsplitters/scripts/jest-setup-after-env.js
  libs/langchain-weaviate/scripts/jest-setup-after-env.js
Labels: auto:improvement, size:L

#5988 docs[patch]: Update installation instructions with missing packages in redis docs
  docs/core_docs/docs/integrations/vectorstores/redis.mdx
Labels: lgtm, auto:documentation, size:XS

#6012 langchain[patch]: Parent doc OOM fix (extends #5989)
  langchain/src/retrievers/parent_document.ts
Labels: auto:bug, size:S

#5994 core[patch]: Require explicit override for callbacks within a nested config
  langchain-core/src/runnables/base.ts
  langchain-core/src/runnables/config.ts
  langchain-core/src/runnables/history.ts
  langchain-core/src/runnables/tests/runnable.test.ts
  langchain-core/src/singletons/tests/async_local_storage.test.ts
Labels: auto:bug, size:L

#5928 cohere[patch]: update embeddings and rerank
  examples/src/document_compressors/cohere_rerank.ts
  examples/src/document_compressors/cohere_rerank_compressor.ts
  examples/src/embeddings/cohere.ts
  examples/src/guides/expression_language/runnable_maps_sequence.ts
  examples/src/indexes/vector_stores/mongodb_atlas_fromTexts.ts
  examples/src/indexes/vector_stores/mongodb_atlas_search.ts
  examples/src/indexes/vector_stores/mongodb_metadata_filtering.ts
  examples/src/indexes/vector_stores/mongodb_mmr.ts
  examples/src/indexes/vector_stores/vercel_postgres/example.ts
  examples/src/models/embeddings/cohere.ts
  examples/src/retrievers/multi_query.ts
  examples/src/retrievers/multi_query_custom.ts
  langchain/src/retrievers/tests/ensemble_retriever.int.test.ts
  langchain/src/retrievers/tests/multi_query.int.test.ts
  libs/langchain-cohere/src/embeddings.ts
  libs/langchain-cohere/src/rerank.ts
  libs/langchain-cohere/src/tests/embeddings.int.test.ts
  libs/langchain-cohere/src/tests/rerank.int.test.ts
Labels: lgtm, auto:improvement, size:L

#5948 community[minor]: vercel kv graph checkpointer
  libs/langchain-community/.gitignore
  libs/langchain-community/langchain.config.js
  libs/langchain-community/package.json
  libs/langchain-community/src/langgraph/checkpointers/tests/checkpointer.int.test.ts
  libs/langchain-community/src/langgraph/checkpointers/vercel_kv.ts
  libs/langchain-community/src/load/import_constants.ts
  yarn.lock
Labels: lgtm, auto:enhancement, size:L

#5810 cohere[minor]: Add support for tool calling cohere
  docs/core_docs/docs/integrations/chat/cohere.mdx
  examples/src/models/chat/cohere/chat_cohere.ts
  examples/src/models/chat/cohere/chat_stream_cohere.ts
  examples/src/models/chat/cohere/connectors.ts
  examples/src/models/chat/cohere/rag.ts
  examples/src/models/chat/cohere/stateful_conversation.ts
  examples/src/models/chat/cohere/tool_calling.ts
  libs/langchain-cohere/.eslintrc.cjs
  libs/langchain-cohere/package.json
  libs/langchain-cohere/src/chat_models.ts
  libs/langchain-cohere/src/tests/chat_models.int.test.ts
  libs/langchain-cohere/src/tests/chat_models.standard.int.test.ts
  libs/langchain-cohere/src/tests/chat_models.standard.test.ts
  libs/langchain-scripts/tsconfig.json
  package.json
  yarn.lock
Labels: lgtm, auto:enhancement, size:XL

#6014 cohere[minor]: Release 0.2.0
  libs/langchain-cohere/package.json
Labels: size:XS

#6017 core[patch]: Release 0.2.15
  langchain-core/package.json
Labels: size:XS

#6019 Release 0.2.9
  langchain/package.json
Labels: size:XS

#6015 Update concepts.mdx
  docs/core_docs/docs/concepts.mdx
Labels: auto:documentation, size:XS

#6025 docs[patch]: Update Cohere docs
  docs/core_docs/docs/integrations/chat/cohere.mdx
  docs/core_docs/docs/integrations/chat/index.mdx
  examples/src/models/chat/cohere/chat_cohere.ts
  examples/src/models/chat/cohere/chat_stream_cohere.ts
  examples/src/models/chat/cohere/connectors.ts
  examples/src/models/chat/cohere/rag.ts
  examples/src/models/chat/cohere/stateful_conversation.ts
  examples/src/models/chat/cohere/tool_calling.ts
Labels: auto:documentation, size:L

#6039 google-common[patch]: Fix Gemini temperature validation
  libs/langchain-google-common/src/utils/gemini.ts
Labels: lgtm, auto:bug, size:XS

#5914 ci[patch]: fix Unit Tests (LangChain Integrations) Skipping Test Jobs
  .github/workflows/unit-tests-integrations.yml
  CONTRIBUTING.md
Labels: lgtm, auto:bug, size:S

#6028 core[minor]: Fix caching of complex message types
  langchain-core/langchain.config.js
  langchain-core/src/caches/base.ts
  langchain-core/src/caches/tests/in_memory_cache.test.ts
  langchain-core/src/language_models/base.ts
  langchain-core/src/language_models/chat_models.ts
  langchain-core/src/language_models/llms.ts
  langchain-core/src/language_models/tests/chat_models.test.ts
  langchain-core/src/load/import_map.ts
  langchain-core/src/messages/tests/message_utils.test.ts
  langchain-core/src/messages/utils.ts
  langchain-core/src/tests/caches.test.ts
  langchain-core/src/utils/testing/index.ts
  libs/langchain-groq/src/tests/chat_models.standard.int.test.ts
  libs/langchain-mistralai/src/tests/chat_models.standard.int.test.ts
  libs/langchain-standard-tests/src/integration_tests/chat_models.ts
Labels: auto:improvement, size:L

#6007 core[minor]: Add raw_output field to ToolMessage
  langchain-core/src/messages/base.ts
  langchain-core/src/messages/tests/base_message.test.ts
  langchain-core/src/messages/tool.ts
Labels: lgtm, auto:nit, size:L

#6042 anthropic[patch]: Pass usage_metadata and response_metadata through when streaming tool calls
  libs/langchain-anthropic/src/chat_models.ts
Labels: auto:improvement, size:XS

#6043 aws[patch]: Fix empty content bug
  libs/langchain-aws/src/common.ts
  libs/langchain-aws/src/tests/chat_models.int.test.ts
  libs/langchain-aws/src/tests/chat_models.test.ts
Labels: auto:bug, size:L

#6029 core[minor]: RunnableToolLike
  docs/core_docs/package.json
  langchain-core/package.json
  langchain-core/src/language_models/chat_models.ts
  langchain-core/src/runnables/base.ts
  langchain-core/src/runnables/index.ts
  langchain-core/src/runnables/tests/runnable_tools.test.ts
  langchain-core/src/tools.ts
  langchain-core/src/types/zod.ts
  langchain-core/src/utils/function_calling.ts
  libs/langchain-anthropic/src/chat_models.ts
  libs/langchain-aws/src/chat_models.ts
  libs/langchain-aws/src/common.ts
  libs/langchain-cohere/src/chat_models.ts
  libs/langchain-community/src/chat_models/bedrock/web.ts
  libs/langchain-google-common/src/chat_models.ts
  libs/langchain-google-genai/src/chat_models.ts
  libs/langchain-google-genai/src/utils/common.ts
  libs/langchain-groq/src/chat_models.ts
  libs/langchain-mistralai/src/chat_models.ts
  libs/langchain-openai/src/chat_models.ts
  libs/langchain-standard-tests/src/integration_tests/chat_models.ts
  yarn.lock
Labels: auto:improvement, size:L

#6055 core[patch]: Rename ToolMessage.raw_output => artifact
  langchain-core/src/messages/tests/base_message.test.ts
  langchain-core/src/messages/tool.ts
Labels: auto:nit, size:M

#6005 core[minor],openai[patch],langchain[patch]: Allow tool functions to input `ToolCall` / return `ToolMessage`
  langchain-core/langchain.config.js
  langchain-core/src/callbacks/base.ts
  langchain-core/src/callbacks/manager.ts
  langchain-core/src/language_models/chat_models.ts
  langchain-core/src/load/import_map.ts
  langchain-core/src/messages/ai.ts
  langchain-core/src/messages/index.ts
  langchain-core/src/messages/tests/message_utils.test.ts
  langchain-core/src/messages/tool.ts
  langchain-core/src/messages/transformers.ts
  langchain-core/src/messages/utils.ts
  langchain-core/src/output_parsers/openai_tools/json_output_tools_parsers.ts
  langchain-core/src/runnables/tests/runnable_stream_events.test.ts
  langchain-core/src/runnables/tests/runnable_stream_events_v2.test.ts
  langchain-core/src/tools/index.ts
  langchain-core/src/tools/tests/tools.test.ts
  langchain-core/src/tracers/base.ts
  langchain-core/src/utils/function_calling.ts
  langchain-core/src/utils/testing/index.ts
  langchain/src/agents/executor.ts
  libs/langchain-openai/src/tools/dalle.ts
Labels: auto:improvement, size:L

#6063 core[patch]: Cleanup tool tests file
  langchain-core/src/tools/tests/tools.test.ts
Labels: auto:nit, size:M

#6064 docs[patch]: Update Custom Chat Model/LLM docs to use stream events v2
  docs/core_docs/docs/how_to/custom_chat.ipynb
  docs/core_docs/docs/how_to/custom_chat.mdx
  docs/core_docs/docs/how_to/custom_llm.ipynb
  docs/core_docs/docs/how_to/custom_llm.mdx
Labels: auto:documentation, size:XXL

#6065 docs[patch]: Update docs with streamEvents v1 to v2
  deno.json
  docs/core_docs/docs/how_to/chat_streaming.ipynb
  docs/core_docs/docs/how_to/stream_agent_client.mdx
  docs/core_docs/docs/how_to/streaming.ipynb
  docs/core_docs/package.json
  examples/src/agents/stream_events.ts
  examples/src/ecosystem/langsmith_stream_events.ts
  examples/src/models/chat/custom_advanced.ts
  examples/src/models/llm/custom_advanced.ts
  yarn.lock
Labels: auto:documentation, size:XXL

#6066 core[patch]: Populate tool name in ToolMessage return value
  langchain-core/src/tools/index.ts
  langchain-core/src/tools/tests/tools.test.ts
Labels: auto:nit, size:XS

#6067 partners[patch]: Add type field to all tool call integrations
  libs/langchain-aws/src/common.ts
  libs/langchain-cohere/src/chat_models.ts
  libs/langchain-community/src/chat_models/bedrock/web.ts
  libs/langchain-community/src/utils/bedrock/anthropic.ts
  libs/langchain-google-common/src/utils/gemini.ts
  libs/langchain-google-genai/src/utils/common.ts
  libs/langchain-groq/src/chat_models.ts
  libs/langchain-mistralai/src/chat_models.ts
  libs/langchain-openai/src/chat_models.ts
Labels: auto:improvement, size:M

#6062 core[patch]: Adds support for custom events
  langchain-core/.gitignore
  langchain-core/langchain.config.js
  langchain-core/package.json
  langchain-core/src/callbacks/base.ts
  langchain-core/src/callbacks/dispatch/index.ts
  langchain-core/src/callbacks/dispatch/web.ts
  langchain-core/src/callbacks/manager.ts
  langchain-core/src/runnables/tests/runnable_stream_events_v2.test.ts
  langchain-core/src/tools/index.ts
  langchain-core/src/tracers/event_stream.ts
Labels: auto:improvement, size:L

#6057 core[minor]: Allow concatenation of messages with multi part content
  langchain-core/src/messages/base.ts
  langchain-core/src/messages/tests/base_message.test.ts
Labels: auto:improvement, size:L

#6068 core[patch]: Release 0.2.16
  langchain-core/package.json
Labels: size:XS

#6056 anthropic[minor]: Implement actual anthropic tool call streaming
  libs/langchain-anthropic/src/chat_models.ts
  libs/langchain-anthropic/src/output_parsers.ts
  libs/langchain-anthropic/src/tests/chat_models-tools.int.test.ts
Labels: auto:improvement, size:XL

#6069 multiple[patch]: Bump tool partner package deps
  libs/langchain-anthropic/package.json
  libs/langchain-aws/package.json
  libs/langchain-cohere/package.json
  libs/langchain-community/package.json
  libs/langchain-google-common/package.json
  libs/langchain-google-genai/package.json
  libs/langchain-groq/package.json
  libs/langchain-mistralai/package.json
  libs/langchain-openai/package.json
  yarn.lock
Labels: auto:nit, size:S

#6059 community[minor] HuggingFaceTransformersEmbeddings enhancements
  environment_tests/test-exports-cjs/package.json
  environment_tests/test-exports-esm/package.json
  libs/langchain-community/package.json
  libs/langchain-community/src/embeddings/hf_transformers.ts
  yarn.lock
Labels: lgtm, auto:improvement, size:M

#6061 langchain[patch]: Bug fix for ParentDocumentRetriever
  langchain/src/retrievers/parent_document.ts
Labels: auto:bug, size:XS

#6070 community[patch]: Adds support for Bedrock Anthropic tool streaming
  libs/langchain-community/src/chat_models/bedrock/web.ts
  libs/langchain-community/src/chat_models/tests/chatbedrock.int.test.ts
  libs/langchain-community/src/langgraph/checkpointers/tests/checkpointer.int.test.ts
  libs/langchain-community/src/utils/bedrock/anthropic.ts
  libs/langchain-community/src/utils/bedrock/index.ts
Labels: auto:improvement, size:XL

#6072 openai[patch]: Release 0.2.2
  libs/langchain-openai/package.json
Labels: size:XS

#6073 anthropic[patch]: Release 0.2.4
  libs/langchain-anthropic/package.json
Labels: size:XS

#6074 aws[patch]: Release 0.0.2
  libs/langchain-aws/package.json
Labels: size:XS

#6075 cohere[patch]: Release 0.2.1
  libs/langchain-cohere/package.json
Labels: size:XS

#6076 google-common[patch]: Release 0.0.20
  libs/langchain-google-common/package.json
Labels: size:XS

#6077 google-genai[patch]: Release 0.0.22
  libs/langchain-google-genai/package.json
Labels: size:XS

#6078 groq[patch]: Release 0.0.14
  libs/langchain-groq/package.json
Labels: size:XS

#6079 mistralai[patch]: Release 0.0.26
  libs/langchain-mistralai/package.json
Labels: size:XS

#6080 community[patch]: Release 0.2.19
  libs/langchain-community/package.json
Labels: size:XS

#6081 Release 0.2.10
  langchain/package.json
Labels: size:XS

#6071 docs[patch]: Update intro diagram
  docs/core_docs/docs/concepts.mdx
  docs/core_docs/docs/introduction.mdx
  docs/core_docs/static/svg/langchain_stack_062024.svg
  docs/core_docs/static/svg/langchain_stack_062024_dark.svg
Labels: auto:documentation, size:XS

#6086 docs[patch]: Adds custom artifacts docs for tools
  deno.json
  docs/core_docs/docs/how_to/custom_tools.ipynb
  docs/core_docs/docs/how_to/index.mdx
Labels: auto:documentation, size:L

#6088 docs[patch]: Adds docs for dispatching custom events
  docs/core_docs/docs/how_to/callbacks_custom_events.ipynb
Labels: auto:documentation, size:L

#6089 core[minor]: Add RemoveMessage class
  langchain-core/src/messages/base.ts
  langchain-core/src/messages/index.ts
  langchain-core/src/messages/modifier.ts
  langchain-core/src/messages/transformers.ts
Labels: auto:improvement, size:M

#6092 docs[patch]: Add custom callback event guide to index page
  docs/core_docs/.gitignore
  docs/core_docs/docs/concepts.mdx
  docs/core_docs/docs/how_to/callbacks_custom_events.ipynb
  docs/core_docs/docs/how_to/index.mdx
  docs/core_docs/docs/how_to/streaming.ipynb
Labels: auto:documentation, size:S

#6091 docs[patch]: Update custom tool use in docs
  examples/src/agents/custom_tool.ts
  examples/src/agents/handle_parsing_error.ts
  examples/src/agents/openai_tools_runnable.ts
  examples/src/agents/structured_chat_runnable.ts
  examples/src/models/chat/chat_mistralai_agents.ts
  examples/src/models/chat/chat_vertexai_agents.ts
  examples/src/models/chat/integration_anthropic_tool_calling_agent.ts
  examples/src/use_cases/tool_use/agents.ts
  examples/src/use_cases/tool_use/multiple_tools.ts
  examples/src/use_cases/tool_use/parallel.ts
  examples/src/use_cases/tool_use/quickstart_agents.ts
  examples/src/use_cases/tool_use/quickstart_chains.ts
  examples/src/use_cases/tool_use/tool_error_handling_fallbacks.ts
  examples/src/use_cases/tool_use/tool_error_handling_intro.ts
Labels: auto:documentation, size:XXL

#6084 docs[patch],community[minor]: Update AssemblyAI SDK, add user agent, update AssemblyAI URLs
  docs/core_docs/docs/integrations/document_loaders/web_loaders/assemblyai_audio_transcription.mdx
  examples/src/document_loaders/assemblyai_audio_transcription.ts
  examples/src/document_loaders/assemblyai_subtitles.ts
  langchain/package.json
  langchain/src/document_loaders/tests/assemblyai.int.test.ts
  langchain/src/document_loaders/web/assemblyai.ts
  libs/langchain-community/package.json
  libs/langchain-community/src/document_loaders/tests/assemblyai.int.test.ts
  libs/langchain-community/src/document_loaders/web/assemblyai.ts
  yarn.lock
Labels: lgtm, auto:documentation, size:M

#6085 community[patch]: fix PrismaVectorStore IN operator
  libs/langchain-community/src/vectorstores/prisma.ts
Labels: lgtm, auto:bug, size:XS

#6093 docs[patch]: Update Gen UI docs
  docs/core_docs/docs/how_to/generative_ui.mdx
Labels: auto:documentation, size:M

#6094 docs[patch]: Adds tool artifacts guide
  docs/core_docs/docs/how_to/custom_tools.ipynb
  docs/core_docs/docs/how_to/index.mdx
  docs/core_docs/docs/how_to/tool_artifacts.ipynb
  docs/core_docs/src/theme/ChatModelTabs.js
Labels: auto:documentation, size:L

#6095 docs[patch]: Adds docs on passing tool results to a model
  docs/core_docs/docs/how_to/index.mdx
  docs/core_docs/docs/how_to/tool_artifacts.ipynb
  docs/core_docs/docs/how_to/tool_results_pass_to_model.ipynb
Labels: auto:documentation, size:L

#6097 docs[patch]: Update tool runtime docs
  docs/core_docs/docs/how_to/index.mdx
  docs/core_docs/docs/how_to/tool_configure.ipynb
  docs/core_docs/docs/how_to/tool_runtime.ipynb
Labels: auto:documentation, size:L

#6098 docs[patch]: Adds tool stream events and error handling guides
  docs/core_docs/docs/how_to/index.mdx
  docs/core_docs/docs/how_to/tool_stream_events.ipynb
  docs/core_docs/docs/how_to/tool_streaming.ipynb
  docs/core_docs/docs/how_to/tools_error.ipynb
Labels: auto:documentation, size:XXL

#6087 openai-experimental[patch]: Adds experimental raw response field to OpenAI chat models
  libs/langchain-openai/src/chat_models.ts
  libs/langchain-openai/src/tests/azure/chat_models.int.test.ts
  libs/langchain-openai/src/tests/azure/chat_models.standard.int.test.ts
  libs/langchain-openai/src/tests/azure/embeddings.int.test.ts
  libs/langchain-openai/src/tests/azure/llms.int.test.ts
  libs/langchain-openai/src/tests/chat_models-extended.int.test.ts
  libs/langchain-openai/src/types.ts
Labels: auto:improvement, size:L

#6107 openai[patch]: Adds OpenAI system_fingerprint to response_metadata
  libs/langchain-openai/src/chat_models.ts
  libs/langchain-openai/src/tests/chat_models-extended.int.test.ts
Labels: auto:improvement, size:S

#6108 openai[patch]: Release 0.2.3
  libs/langchain-openai/package.json
Labels: size:XS

#6109 google-genai[patch]: Fix removing additional properties from schema
  libs/langchain-google-genai/src/tests/chat_models.test.ts
  libs/langchain-google-genai/src/utils/zod_to_genai_parameters.ts
Labels: auto:bug, size:M

#6113 google-common[patch]: Release 0.0.23
  libs/langchain-google-genai/package.json
Labels: size:XS

#6110 google-common[patch]: Fix removing all instances of additionalProperties
  libs/langchain-google-common/src/tests/chat_models.test.ts
  libs/langchain-google-common/src/utils/zod_to_gemini_parameters.ts
Labels: auto:bug, size:M

#6114 google[patch]: Release(common) 0.0.21, Release 0.0.20
  libs/langchain-google-common/package.json
  libs/langchain-google-gauth/package.json
  libs/langchain-google-vertexai-web/package.json
  libs/langchain-google-vertexai/package.json
  libs/langchain-google-webauth/package.json
  yarn.lock
Labels: size:S

#6116 docs[patch]: Add note on genai docs for invalid tool schema
  docs/core_docs/.gitignore
  docs/core_docs/docs/integrations/chat/google_generativeai.mdx
Labels: auto:documentation, size:S

#6117 docs[patch]: Fix import path in typesense doc
  docs/core_docs/docs/integrations/vectorstores/typesense.mdx
Labels: auto:documentation, size:XS

#6111 core[minor]: Standardize tool choice
  langchain-core/src/language_models/chat_models.ts
  libs/langchain-anthropic/src/chat_models.ts
  libs/langchain-anthropic/src/utils.ts
  libs/langchain-aws/src/chat_models.ts
  libs/langchain-aws/src/common.ts
  libs/langchain-groq/src/chat_models.ts
  libs/langchain-openai/src/chat_models.ts
  libs/langchain-openai/src/utils/openai.ts
Labels: auto:improvement, size:L

#6120 core[patch]: JSDoc nit unsupporting to unsupported
  langchain-core/src/language_models/chat_models.ts
Labels: size:XS

#6119 partners[minor]: Throw error if tool_choice is supplied but not supported
  libs/langchain-cohere/src/chat_models.ts
  libs/langchain-community/src/chat_models/bedrock/web.ts
  libs/langchain-google-common/src/chat_models.ts
  libs/langchain-google-common/src/types.ts
  libs/langchain-google-genai/src/chat_models.ts
Labels: auto:improvement, size:M

#6121 core[patch]: Improve console.log format for messages
  langchain-core/src/messages/ai.ts
  langchain-core/src/messages/base.ts
  langchain-core/src/messages/chat.ts
  langchain-core/src/messages/modifier.ts
  langchain-core/src/messages/tool.ts
Labels: lgtm, auto:improvement, size:L

#6122 anthropic[patch]: Populate message id
  libs/langchain-anthropic/src/chat_models.ts
  libs/langchain-anthropic/src/tests/chat_models.int.test.ts
Labels: auto:nit, size:S

#6030 docs[minor]: Runnable tool docs
  docs/core_docs/docs/how_to/convert_runnable_to_tool.ipynb
  docs/core_docs/docs/how_to/index.mdx
  docs/core_docs/package.json
  yarn.lock
Labels: auto:documentation, size:XL

#6123 docs[patch]: Update concepts with more tool content, fix titles
  docs/core_docs/.gitignore
  docs/core_docs/docs/concepts.mdx
  docs/core_docs/docs/how_to/convert_runnable_to_tool.ipynb
  docs/core_docs/docs/how_to/custom_tools.ipynb
  docs/core_docs/docs/how_to/index.mdx
  docs/core_docs/docs/how_to/tool_artifacts.ipynb
  docs/core_docs/docs/how_to/tool_calling.ipynb
  docs/core_docs/docs/how_to/tool_configure.ipynb
  docs/core_docs/docs/how_to/tool_results_pass_to_model.ipynb
  docs/core_docs/docs/how_to/tool_runtime.ipynb
  docs/core_docs/docs/how_to/tool_stream_events.ipynb
Labels: auto:documentation, size:L

#6124 core[patch]: Release 0.2.17
  langchain-core/package.json
Labels: size:XS

#6125 aws[patch]: Release 0.0.3
  libs/langchain-aws/package.json
Labels: size:XS

#6126 anthropic[patch]: Release 0.2.5
  libs/langchain-anthropic/package.json
Labels: size:XS

#6127 anthropic[patch]: Remove log
  libs/langchain-anthropic/src/chat_models.ts
Labels: size:XS

#6128 anthropic[patch]: Release 0.2.6
  libs/langchain-anthropic/package.json
Labels: size:XS

#6129 openai[patch]: Release 0.2.4
  libs/langchain-openai/package.json
Labels: size:XS

#6130 groq[patch]: Bump minimum Groq deps
  libs/langchain-groq/package.json
Labels: auto:nit, size:XS

#6131 groq[patch]: Release 0.0.15
  libs/langchain-groq/package.json
Labels: size:XS

#6134 docs[patch]: Update tool concepts docs
  docs/core_docs/docs/concepts.mdx
Labels: auto:documentation, size:M

#6118 docs[minor]: Add tool choice how to guide
  docs/core_docs/.gitignore
  docs/core_docs/docs/how_to/index.mdx
  docs/core_docs/docs/how_to/tool_choice.ipynb
Labels: size:L

#6136 openai[patch]: Adds deprecation warning when passing chat models into OpenAI LLM constructors
  libs/langchain-openai/src/llms.ts
Labels: auto:nit, size:S

#6135 docs[patch]: Update wording of tool choice table
  docs/core_docs/docs/how_to/tool_choice.ipynb
Labels: auto:documentation, size:XS

#6137 aws[patch]: Fix error when processing empty string chunk conent
  libs/langchain-aws/src/common.ts
  libs/langchain-aws/src/tests/chat_models.test.ts
Labels: auto:bug, size:M

#6141 scripts[patch]: Release 0.0.15
  libs/langchain-scripts/package.json
Labels: size:XS

#6143 aws[patch]: Release 0.0.4
  libs/langchain-aws/package.json
Labels: size:XS

#6145 docs[patch]: Typo fixed in Upstash Ratelimit Callback
  docs/core_docs/docs/integrations/callbacks/upstash_ratelimit_callback.mdx
Labels: lgtm, auto:documentation, size:XS

#6150 docs[patch]: remove duplicate content from sql QA tutorial page
  docs/core_docs/docs/tutorials/sql_qa.mdx
Labels: lgtm, auto:documentation, size:S

#6152 community[patch]: Unpin langchain dep in community
  libs/langchain-community/package.json
  yarn.lock
Labels: auto:nit, size:XS

#6149 docs[minor]: Replace deprecated code examples with LCEL & AgentExecutor
  examples/src/chains/llm_chain.ts
  examples/src/chat/agent.ts
Labels: auto:improvement, size:M

#5970 community[patch]: Fix typo in modelName options of `BaiduQianfanEmbeddings`
  libs/langchain-community/src/embeddings/baidu_qianfan.ts
Labels: auto:nit, size:XS

#6153 community[patch]: Release 0.2.20
  libs/langchain-community/package.json
Labels: auto:nit, size:XS

#6154 openai[minor]: Allow for multiple images to be returned with dalle
  libs/langchain-openai/src/tools/dalle.ts
  libs/langchain-openai/src/tools/tests/dalle.int.test.ts
Labels: auto:improvement, size:L

#6155 core[patch]: Fix double streaming issue when streamEvents is called directly on chat models/LLMs
  docs/core_docs/docs/how_to/streaming.ipynb
  langchain-core/src/runnables/base.ts
  langchain-core/src/runnables/tests/runnable_stream_events_v2.test.ts
  langchain-core/src/tracers/event_stream.ts
Labels: auto:bug, size:L

#5990 ollama[major]: Integration package
  docs/core_docs/docs/integrations/chat/ollama.mdx
  docs/core_docs/docs/integrations/chat/ollama_functions.mdx
  docs/core_docs/docs/tutorials/local_rag.ipynb
  examples/package.json
  examples/src/models/chat/integration_ollama.ts
  examples/src/models/chat/integration_ollama_json_mode.ts
  examples/src/models/chat/integration_ollama_multimodal.ts
  examples/src/models/chat/integration_ollama_tools.ts
  examples/src/models/chat/integration_ollama_wso.ts
  examples/src/models/chat/ollama_functions/extraction.ts
  libs/langchain-community/src/chat_models/ollama.ts
  libs/langchain-community/src/experimental/chat_models/ollama_functions.ts
  libs/langchain-ollama/.eslintrc.cjs
  libs/langchain-ollama/.gitignore
  libs/langchain-ollama/.prettierrc
  libs/langchain-ollama/.release-it.json
  libs/langchain-ollama/LICENSE
  libs/langchain-ollama/README.md
  libs/langchain-ollama/jest.config.cjs
  libs/langchain-ollama/jest.env.cjs
  libs/langchain-ollama/langchain.config.js
  libs/langchain-ollama/package.json
  libs/langchain-ollama/scripts/jest-setup-after-env.js
  libs/langchain-ollama/src/chat_models.ts
  libs/langchain-ollama/src/index.ts
  libs/langchain-ollama/src/tests/chat_models-tools.int.test.ts
  libs/langchain-ollama/src/tests/chat_models.int.test.ts
  libs/langchain-ollama/src/tests/chat_models.standard.int.test.ts
  libs/langchain-ollama/src/tests/chat_models.standard.test.ts
  libs/langchain-ollama/src/tests/chat_models.test.ts
  libs/langchain-ollama/src/tests/data/hotdog.jpg
  libs/langchain-ollama/src/utils.ts
  libs/langchain-ollama/tsconfig.cjs.json
  libs/langchain-ollama/tsconfig.json
  libs/langchain-ollama/turbo.json
  yarn.lock
Labels: auto:enhancement, size:XXL

#6156 ollama[patch]: Release 0.0.1
  libs/langchain-ollama/package.json
Labels: size:XS

#6163 ollama[patch]: Fix min core version
  libs/langchain-ollama/package.json
  yarn.lock
Labels: size:XS

#6165 google-common[patch]: Add streaming constructor param
  libs/langchain-google-common/src/chat_models.ts
  libs/langchain-google-common/src/tests/chat_models.test.ts
  libs/langchain-google-common/src/types.ts
  libs/langchain-google-common/src/utils/common.ts
  libs/langchain-google-vertexai/src/tests/chat_models.int.test.ts
Labels: auto:improvement, size:M

#5992 core[minor]: Use run tree as stored value in async local storage
  langchain-core/package.json
  langchain-core/src/callbacks/manager.ts
  langchain-core/src/callbacks/tests/callbacks.test.ts
  langchain-core/src/runnables/base.ts
  langchain-core/src/runnables/config.ts
  langchain-core/src/runnables/iter.ts
  langchain-core/src/runnables/types.ts
  langchain-core/src/singletons/index.ts
  langchain-core/src/singletons/tests/async_local_storage.test.ts
  langchain-core/src/tracers/base.ts
  langchain-core/src/tracers/tests/langsmith_interop.test.ts
  langchain-core/src/tracers/tracer_langchain.ts
  langchain-core/src/utils/stream.ts
  yarn.lock
Labels: auto:improvement, size:XXL

#6166 core[patch]: Release 0.2.18
  langchain-core/package.json
Labels: size:XS

#6168 pinecone[patch]: Bump pinecone dep to latest
  examples/package.json
  libs/langchain-pinecone/package.json
  yarn.lock
Labels: auto:nit, size:XS

#6170 pinecone[patch]: Fix delete test
  libs/langchain-pinecone/src/tests/vectorstores.int.test.ts
Labels: auto:bug, size:M

#6172 pinecone[patch]: Release 0.0.8
  libs/langchain-pinecone/package.json
Labels: size:XS

#6174 build[patch]: Add way to escape side effects within an entrypoint
  libs/langchain-scripts/bin/build.js
  libs/langchain-scripts/package.json
  libs/langchain-scripts/src/build_v2.ts
  libs/langchain-scripts/src/check-tree-shaking.ts
Labels: lgtm, auto:improvement, size:M

#6176 docs[patch]: Hide OllamaFunctions from sidebar
  docs/core_docs/docs/integrations/chat/ollama_functions.mdx
Labels: auto:documentation, size:XS

#6180 docs[patch]: Use llama3 in example docs
  docs/core_docs/docs/integrations/chat/ollama.mdx
  examples/src/models/chat/integration_ollama.ts
  examples/src/models/chat/integration_ollama_json_mode.ts
Labels: auto:documentation, size:M

#6175 aws[patch]: Fix fails when calling multiple tools simultaneously
  libs/langchain-aws/src/common.ts
  libs/langchain-aws/src/tests/chat_models.test.ts
Labels: lgtm, auto:bug, size:L

#6179 anthropic[patch]: Handle non text llm tokens
  libs/langchain-anthropic/src/chat_models.ts
Labels: auto:nit, size:S

#6181 aws[patch]: Release 0.0.5
  libs/langchain-aws/package.json
Labels: size:XS

#6182 anthropic[patch]: Release 0.2.7
  libs/langchain-anthropic/package.json
Labels: size:XS

#6177 docs[minor]: Add multimodal section in Google VertexAI docs
  docs/core_docs/docs/integrations/chat/google_vertex_ai.mdx
  examples/src/models/chat/integration_googlevertexai-multimodal.ts
  examples/src/models/chat/integration_googlevertexai-streaming.ts
  examples/src/models/chat/integration_googlevertexai-tools.ts
  examples/src/models/chat/integration_googlevertexai-wso.ts
  examples/src/models/chat/integration_googlevertexai.ts
Labels: lgtm, auto:documentation, size:M
