Repository langchain-ai/langchainjs, pull requests merged in 2024-05, with the labels that each got.

#5244 fix: correct ernie-char-8k model name
  libs/langchain-community/src/chat_models/baiduwenxin.ts
Labels: lgtm, auto:bug, size:XS

#5103 google-common[patch]: adding client-info
  libs/langchain-google-common/src/connection.ts
  libs/langchain-google-common/src/tests/chat_models.test.ts
Labels: lgtm, auto:improvement, size:S

#5212 community[patch]: fix: #4997 zhipu chat model response typeError
  libs/langchain-community/src/chat_models/zhipuai.ts
Labels: lgtm, close, auto:bug, size:S

#5190 google-common [feature]: Support JSON Mode for Gemini #5071
  libs/langchain-google-common/src/connection.ts
  libs/langchain-google-common/src/llms.ts
  libs/langchain-google-common/src/tests/data/llm-8-mock.json
  libs/langchain-google-common/src/tests/data/llm-9-mock.json
  libs/langchain-google-common/src/tests/llms.test.ts
  libs/langchain-google-common/src/types.ts
  libs/langchain-google-common/src/utils/common.ts
Labels: auto:improvement, size:XL

#5267 google[patch]: Release 0.0.12
  libs/langchain-google-common/package.json
  libs/langchain-google-gauth/package.json
  libs/langchain-google-vertexai-web/package.json
  libs/langchain-google-vertexai/package.json
  libs/langchain-google-webauth/package.json
  yarn.lock
Labels: size:S

#5269 scripts[patch]: Release 0.0.12
  libs/langchain-scripts/package.json
Labels: size:XS

#5270 scripts[patch]: Ability to add additional gitignore paths to lc config
  libs/langchain-scripts/bin/build
  libs/langchain-scripts/package.json
  libs/langchain-scripts/src/types.ts
Labels: size:S

#5276 community[patch]: Release 0.0.54
  libs/langchain-community/package.json
Labels: size:XS

#5277 anthropic[patch]: Release 0.1.17
  libs/langchain-anthropic/package.json
Labels: size:XS

#5278 core: Avoid out-of-order runs by appending numeric execution order to…
  langchain-core/src/tracers/base.ts
  langchain-core/src/tracers/tests/tracer.test.ts
Labels: lgtm, auto:improvement, size:M

#5279 Add missing a comma to FirestoreChatMessageHistory example
  docs/core_docs/docs/integrations/chat_memory/firestore.mdx
Labels: lgtm, auto:documentation, size:XS

#5234 Adds additional text/event-stream encodign format for streamEvents
  langchain-core/src/runnables/base.ts
  langchain-core/src/runnables/remote.ts
  langchain-core/src/runnables/tests/runnable_stream_events.test.ts
  langchain-core/src/runnables/wrappers.ts
Labels: lgtm, auto:improvement, size:L

#5284 fix(doc): Firecrawl package issue
  docs/core_docs/docs/integrations/document_loaders/web_loaders/firecrawl.mdx
Labels: lgtm, auto:nit, size:XS

#5272 community[patch]: fix Azure AI search delete and improve documentation
  docs/core_docs/docs/integrations/vectorstores/azure_aisearch.mdx
  libs/langchain-community/src/vectorstores/azure_aisearch.ts
Labels: lgtm, auto:bug, auto:documentation, size:S

#5286 fix handling of multibyte characters in streams for google-gauth
  libs/langchain-google-gauth/src/auth.ts
  libs/langchain-google-gauth/src/tests/auth.test.ts
Labels: lgtm, auto:bug, size:M

#5293 google-gauth[patch]google-vertexai[patch]: Release 0.0.13
  libs/langchain-google-gauth/package.json
  libs/langchain-google-vertexai/package.json
  yarn.lock
Labels: size:XS

#5162 community[minor]: Add stack exchange tool
  docs/core_docs/docs/integrations/tools/stackexchange.mdx
  examples/src/tools/stackexchange.ts
  libs/langchain-community/.gitignore
  libs/langchain-community/langchain.config.js
  libs/langchain-community/package.json
  libs/langchain-community/src/tools/stackexchange.ts
  libs/langchain-community/src/tools/tests/stackexchange.int.test.ts
Labels: lgtm, close, auto:enhancement, size:L

#5295 core[patch]: Release 0.1.62
  langchain-core/package.json
Labels: size:XS

#5296 community[patch]: Release 0.0.55
  libs/langchain-community/package.json
Labels: size:XS

#5300 google-common[patch]: Add authOptions to lc_secrets
  libs/langchain-google-common/src/chat_models.ts
Labels: auto:nit, size:XS

#5301 google[patch]: Release 0.0.14 0.0.13
  libs/langchain-google-common/package.json
  libs/langchain-google-gauth/package.json
  libs/langchain-google-vertexai-web/package.json
  libs/langchain-google-vertexai/package.json
  libs/langchain-google-webauth/package.json
  yarn.lock
Labels: size:S

#5312 qdrant[patch]: Release 0.0.1
  libs/langchain-qdrant/package.json
Labels: size:XS

#5311 docs[patch]: Fix code block loader linking
  docs/core_docs/scripts/code-block-loader.js
Labels: auto:documentation, size:L

#5307 scripts[patch]: Fix check broken links script bug
  libs/langchain-scripts/src/check_broken_links.ts
Labels: lgtm, auto:bug, size:XS

#5313 qdrant[patch]: Added README.md
  libs/langchain-qdrant/README.md
Labels: lgtm, auto:documentation, size:M

#5315 qdrant[patch]: Release 0.0.2
  libs/langchain-qdrant/package.json
Labels: size:XS

#5318 langchain[patch]: Dont load empty strings UnstructuredLoader
  langchain/src/document_loaders/fs/unstructured.ts
Labels: auto:nit, size:XS

#5325 community[patch]: prisma vectorStore support not in operator
  libs/langchain-community/src/vectorstores/prisma.ts
Labels: lgtm, size:XS

#5310 community[patch]: Add grammar support for node-llama-cpp LLM
  libs/langchain-community/src/llms/llama_cpp.ts
  libs/langchain-community/src/llms/tests/llama_cpp.int.test.ts
  libs/langchain-community/src/utils/llama_cpp.ts
Labels: lgtm, in progress, auto:improvement, size:M

#5218 community[patch]: Astra updates
  libs/langchain-community/src/vectorstores/astradb.ts
  libs/langchain-community/src/vectorstores/tests/astradb.int.test.ts
Labels: lgtm, auto:improvement, size:M

#5333 community[patch]: Index name column of collection pgvectorstore
  libs/langchain-community/src/vectorstores/pgvector.ts
  libs/langchain-community/src/vectorstores/tests/pgvector/pgvector.int.test.ts
Labels: auto:improvement, size:S

#5334 Release 0.1.37
  langchain/package.json
Labels: size:XS

#5335 community[patch]: Release 0.0.56
  libs/langchain-community/package.json
Labels: size:XS

#5338 langchain[patch]: Fix passing run configs through in AgentExecutor
  langchain/src/agents/executor.ts
Labels: auto:bug, size:S

#5342 core[minor]: RunnableLambda should consume (async) iterator if the wrapped function returns one
  langchain-core/src/runnables/base.ts
  langchain-core/src/runnables/iter.ts
  langchain-core/src/runnables/tests/runnable.test.ts
  langchain-core/src/singletons/index.ts
Labels: lgtm, auto:improvement, size:L

#5343 docs[minor]: 0.1 support
  docs/core_docs/docs/modules/model_io/concepts.mdx
  docs/core_docs/docs/use_cases/api.mdx
  docs/core_docs/docs/use_cases/tabular.mdx
  docs/core_docs/docusaurus.config.js
  docs/core_docs/package.json
  docs/core_docs/vercel.json
Labels: auto:documentation, size:XL

#5197 community[minor]: Improve Azure Cosmos DB vector store support
  examples/src/indexes/vector_stores/azure_cosmosdb/azure_cosmosdb.ts
  libs/langchain-community/src/vectorstores/azure_cosmosdb.ts
  libs/langchain-community/src/vectorstores/tests/azure_cosmosdb.int.test.ts
  libs/langchain-community/src/vectorstores/tests/azure_cosmosdb.test.ts
Labels: lgtm, auto:improvement, size:L

#5345 Revert "Merge branch 'v0.1' into main"
  docs/core_docs/docs/modules/model_io/concepts.mdx
  docs/core_docs/docs/use_cases/api.mdx
  docs/core_docs/docs/use_cases/tabular.mdx
  docs/core_docs/docusaurus.config.js
  docs/core_docs/package.json
  docs/core_docs/vercel.json
Labels: auto:documentation, size:XL

#5344 0.1[patch]: update 0.1 branch with main changes
  docs/core_docs/docs/modules/model_io/concepts.mdx
  docs/core_docs/docs/use_cases/api.mdx
  docs/core_docs/docs/use_cases/tabular.mdx
  docs/core_docs/docusaurus.config.js
  docs/core_docs/package.json
  docs/core_docs/vercel.json
  examples/src/indexes/vector_stores/azure_cosmosdb/azure_cosmosdb.ts
  langchain-core/src/runnables/base.ts
  langchain-core/src/runnables/iter.ts
  langchain-core/src/runnables/tests/runnable.test.ts
  langchain-core/src/singletons/index.ts
  libs/langchain-community/src/vectorstores/azure_cosmosdb.ts
  libs/langchain-community/src/vectorstores/tests/azure_cosmosdb.int.test.ts
  libs/langchain-community/src/vectorstores/tests/azure_cosmosdb.test.ts
Labels: auto:improvement, size:XL

#5347 langchain[patch]: Remove outdated test
  langchain/src/load/tests/__snapshots__/load.test.ts.snap
  langchain/src/load/tests/load.test.ts
Labels: lgtm, auto:nit, size:M

#5243 Add MLC Web-LLM Integration
  docs/core_docs/docs/integrations/chat/web_llm.mdx
  docs/core_docs/src/css/custom.css
  examples/src/models/chat/integration_webllm.ts
  libs/langchain-community/.gitignore
  libs/langchain-community/langchain.config.js
  libs/langchain-community/package.json
  libs/langchain-community/src/chat_models/tests/webllm.int.test.ts
  libs/langchain-community/src/chat_models/webllm.ts
  libs/langchain-community/src/load/import_constants.ts
  yarn.lock
Labels: auto:enhancement, size:L

#5349 docs[patch]: Fix 0.1 build
  docs/core_docs/docs/modules/model_io/concepts.mdx
  docs/core_docs/docs/use_cases/api.mdx
  docs/core_docs/docs/use_cases/tabular.mdx
  docs/core_docs/docusaurus.config.js
  docs/core_docs/package.json
  docs/core_docs/vercel.json
Labels: auto:documentation, size:XL

#5323 openai[minor]: Update OpenAI with Azure Specific Code
  langchain/package.json
  langchain/src/experimental/openai_assistant/index.ts
  libs/langchain-openai/package.json
  libs/langchain-openai/src/azure/chat_models.ts
  libs/langchain-openai/src/azure/embeddings.ts
  libs/langchain-openai/src/azure/llms.ts
  libs/langchain-openai/src/chat_models.ts
  libs/langchain-openai/src/embeddings.ts
  libs/langchain-openai/src/index.ts
  libs/langchain-openai/src/llms.ts
  libs/langchain-openai/src/tests/azure/chat_models.int.test.ts
  libs/langchain-openai/src/tests/azure/embeddings.int.test.ts
  libs/langchain-openai/src/tests/azure/llms.int.test.ts
  libs/langchain-openai/src/types.ts
  yarn.lock
Labels: lgtm, auto:improvement, size:XXL

#5350 openai[minor]: Cherry pick OpenAI changes into 0.1
  langchain/package.json
  langchain/src/experimental/openai_assistant/index.ts
  libs/langchain-openai/package.json
  libs/langchain-openai/src/azure/chat_models.ts
  libs/langchain-openai/src/azure/embeddings.ts
  libs/langchain-openai/src/azure/llms.ts
  libs/langchain-openai/src/chat_models.ts
  libs/langchain-openai/src/embeddings.ts
  libs/langchain-openai/src/index.ts
  libs/langchain-openai/src/llms.ts
  libs/langchain-openai/src/tests/azure/chat_models.int.test.ts
  libs/langchain-openai/src/tests/azure/embeddings.int.test.ts
  libs/langchain-openai/src/tests/azure/llms.int.test.ts
  libs/langchain-openai/src/types.ts
  yarn.lock
Labels: auto:improvement, size:XXL

#5352 openai[patch]: Release 0.0.29
  libs/langchain-openai/package.json
Labels: size:XS

#5354 chore[deps]: update js-tiktoken to 1.0.12 to support o200k_base
  langchain-core/package.json
  langchain-core/src/language_models/base.ts
  langchain/package.json
  libs/langchain-azure-openai/package.json
  libs/langchain-openai/package.json
  libs/langchain-textsplitters/package.json
  yarn.lock
Labels: lgtm, auto:nit, size:S

#5351 docs[patch]: Add link for creating gh issue
  docs/core_docs/src/theme/Feedback.js
Labels: auto:documentation, size:S

#5361 community[patch]: Cherry pick WebLLM community PR into 0.1
  docs/core_docs/docs/integrations/chat/web_llm.mdx
  docs/core_docs/src/css/custom.css
  examples/src/models/chat/integration_webllm.ts
  libs/langchain-community/.gitignore
  libs/langchain-community/langchain.config.js
  libs/langchain-community/package.json
  libs/langchain-community/src/chat_models/tests/webllm.int.test.ts
  libs/langchain-community/src/chat_models/webllm.ts
  libs/langchain-community/src/load/import_constants.ts
  yarn.lock
Labels: auto:improvement, auto:documentation, size:L

#5362 community[patch]: Release 0.0.57
  libs/langchain-community/package.json
Labels: size:XS

#5357 [v0.1] docs[patch]: Add /docs redirect
  docs/core_docs/vercel.json
Labels: auto:documentation, size:XS

#5353 docs[minor]: Add missing use cases
  docs/core_docs/docs/how_to/chatbots_memory.ipynb
  docs/core_docs/docs/how_to/chatbots_retrieval.ipynb
  docs/core_docs/docs/how_to/chatbots_tools.ipynb
  docs/core_docs/docs/how_to/extraction_long_text.ipynb
  docs/core_docs/docs/how_to/extraction_parse.ipynb
  docs/core_docs/docs/how_to/graph_constructing.ipynb
  docs/core_docs/docs/how_to/graph_mapping.ipynb
  docs/core_docs/docs/how_to/graph_prompting.ipynb
  docs/core_docs/docs/how_to/graph_semantic.ipynb
  docs/core_docs/docs/how_to/query_constructing_filters.ipynb
  docs/core_docs/docs/how_to/query_few_shot.ipynb
  docs/core_docs/docs/how_to/query_high_cardinality.ipynb
  docs/core_docs/docs/how_to/query_multiple_queries.ipynb
  docs/core_docs/docs/how_to/query_multiple_retrievers.ipynb
  docs/core_docs/docs/how_to/query_no_queries.ipynb
  docs/core_docs/docs/how_to/sql_large_db.mdx
  docs/core_docs/docs/how_to/sql_prompting.mdx
  docs/core_docs/docs/how_to/sql_query_checking.mdx
Labels: auto:documentation, size:XXL

#5271 support alibaba_tongyi stream output
  libs/langchain-community/src/chat_models/alibaba_tongyi.ts
  libs/langchain-community/src/chat_models/tests/chatalitongyi.int.test.ts
Labels: auto:improvement, size:L

#5358 docs[patch]: Qdrant partner package reference
  docs/core_docs/docs/integrations/platforms/index.mdx
Labels: lgtm, auto:documentation, size:XS

#5359 docs[patch]: Updates Agent types doc to add Tool Calling Agent
  docs/core_docs/old/modules/agents/agent_types/index.mdx
Labels: lgtm, auto:documentation, size:XS

#5369 docs[patch]: Add version docs
  docs/core_docs/docs/versions/overview.mdx
  docs/core_docs/docs/versions/packages.mdx
  docs/core_docs/docs/versions/release_policy.mdx
  docs/core_docs/docs/versions/v0_2.mdx
Labels: auto:documentation, size:L

#5370 docs[patch]: Add versions sidebar
  docs/core_docs/docs/versions/overview.mdx
  docs/core_docs/sidebars.js
Labels: size:S

#5228 scripts[minor]: Add new migration script
  libs/langchain-scripts/package.json
  libs/langchain-scripts/src/_data/importMap.ts
  libs/langchain-scripts/src/migrations/0_2.ts
  libs/langchain-scripts/src/migrations/index.ts
  yarn.lock
Labels: auto:improvement, size:L

#5374 docs[patch]: Wrap SVG paths in useBaseUrl
  docs/core_docs/docs/concepts.mdx
  docs/core_docs/docs/introduction.mdx
Labels: size:S

#5372 docs[patch]: Update install instructions
  docs/core_docs/docs/installation.mdx
Labels: auto:documentation, size:L

#5371 docs[minor] extraction tutorial
  docs/core_docs/docs/tutorials/extraction.ipynb
  docs/core_docs/docs/tutorials/extraction.mdx
  docs/core_docs/docs/tutorials/index.mdx
Labels: auto:documentation, size:L

#5375 docs[minor]: classification tutorial
  docs/core_docs/docs/tutorials/classification.ipynb
  docs/core_docs/docs/tutorials/index.mdx
  docs/core_docs/static/img/classification_ls_trace.png
Labels: auto:documentation, size:L

#5376 docs: update to 0.2 index
  docs/core_docs/docusaurus.config.js
Labels: auto:documentation, size:XS

#5377 docs[patch]: Adds LCEL how-to docs
  docs/core_docs/.gitignore
  docs/core_docs/docs/how_to/assign.ipynb
  docs/core_docs/docs/how_to/binding.ipynb
  docs/core_docs/docs/how_to/fallbacks.mdx
  docs/core_docs/docs/how_to/functions.ipynb
  docs/core_docs/docs/how_to/index.mdx
  docs/core_docs/docs/how_to/parallel.mdx
  docs/core_docs/docs/how_to/passthrough.ipynb
  docs/core_docs/docs/how_to/routing.mdx
  examples/src/guides/expression_language/how_to_routing_custom_function.ts
  examples/src/guides/expression_language/how_to_routing_runnable_branch.ts
  examples/src/guides/expression_language/runnable_maps_sequence.ts
Labels: auto:documentation, size:XXL

#5373 core[patch]: Adding raiseError Field to Callbacks
  langchain-core/src/callbacks/base.ts
  langchain-core/src/callbacks/manager.ts
  langchain-core/src/callbacks/tests/callbacks.test.ts
Labels: lgtm, auto:improvement, size:L

#5378 docs: disable contextual search
  docs/core_docs/docusaurus.config.js
Labels: auto:documentation, size:XS

#5368 google-genai[minor]: Add support for video/audio inputs
  libs/langchain-google-gauth/src/tests/chat_models.audio.int.test.ts
  libs/langchain-google-genai/src/tests/chat_models.int.test.ts
  libs/langchain-google-genai/src/utils.ts
Labels: auto:improvement, size:L

#5367 all[patch]: Loosen core dependencies
  environment_tests/test-exports-tsc/package.json
  environment_tests/test-exports-vercel/package.json
  environment_tests/test-exports-vite/package.json
  libs/create-langchain-integration/template/package.json
  libs/langchain-anthropic/package.json
  libs/langchain-azure-openai/package.json
  libs/langchain-cloudflare/package.json
  libs/langchain-cohere/package.json
  libs/langchain-community/src/vectorstores/tests/convex/package.json
  libs/langchain-exa/package.json
  libs/langchain-google-common/package.json
  libs/langchain-google-gauth/package.json
  libs/langchain-google-genai/package.json
  libs/langchain-google-vertexai-web/package.json
  libs/langchain-google-vertexai/package.json
  libs/langchain-google-webauth/package.json
  libs/langchain-groq/package.json
  libs/langchain-mistralai/package.json
  libs/langchain-mongodb/package.json
  libs/langchain-nomic/package.json
  libs/langchain-openai/package.json
  libs/langchain-pinecone/package.json
  libs/langchain-qdrant/package.json
  libs/langchain-redis/package.json
  libs/langchain-textsplitters/package.json
  libs/langchain-weaviate/package.json
  libs/langchain-yandex/package.json
  package.json
  yarn.lock
Labels: auto:improvement, size:M

#5384 community[patch]: Release 0.2.0-rc.0
  libs/langchain-community/package.json
Labels: size:XS

#5388 partnet packages[patch]: Release all
  libs/langchain-anthropic/package.json
  libs/langchain-anthropic/src/load/import_map.ts
  libs/langchain-azure-openai/package.json
  libs/langchain-cloudflare/package.json
  libs/langchain-cohere/package.json
  libs/langchain-exa/package.json
  libs/langchain-google-common/package.json
  libs/langchain-google-gauth/package.json
  libs/langchain-google-genai/package.json
  libs/langchain-google-vertexai-web/package.json
  libs/langchain-google-vertexai/package.json
  libs/langchain-google-webauth/package.json
  libs/langchain-groq/package.json
  libs/langchain-mistralai/package.json
  libs/langchain-mongodb/package.json
  libs/langchain-nomic/package.json
  libs/langchain-openai/package.json
  libs/langchain-pinecone/package.json
  libs/langchain-qdrant/package.json
  libs/langchain-redis/package.json
  libs/langchain-textsplitters/package.json
  libs/langchain-weaviate/package.json
  libs/langchain-yandex/package.json
  yarn.lock
Labels: size:M

#5387 docs: feedback link in banner
  docs/core_docs/docusaurus.config.js
Labels: lgtm, auto:documentation, size:XS

#5390 anthropic[patch]: Run formatting
  libs/langchain-anthropic/src/load/import_map.ts
Labels: auto:nit, size:XS

#5389 partners[patch]: Bump package.json versions to match released
  libs/langchain-anthropic/package.json
  libs/langchain-azure-openai/package.json
  libs/langchain-cloudflare/package.json
  libs/langchain-cohere/package.json
  libs/langchain-exa/package.json
  libs/langchain-google-common/package.json
  libs/langchain-google-gauth/package.json
  libs/langchain-google-genai/package.json
  libs/langchain-google-vertexai-web/package.json
  libs/langchain-google-vertexai/package.json
  libs/langchain-google-webauth/package.json
  libs/langchain-groq/package.json
  libs/langchain-mistralai/package.json
  libs/langchain-mongodb/package.json
  libs/langchain-nomic/package.json
  libs/langchain-openai/package.json
  libs/langchain-pinecone/package.json
  libs/langchain-qdrant/package.json
  libs/langchain-redis/package.json
  libs/langchain-textsplitters/package.json
  libs/langchain-weaviate/package.json
  libs/langchain-yandex/package.json
  yarn.lock
Labels: auto:nit, size:M

#5392 docs[patch]: update api ref base url to contain v2 subdomain
  docs/core_docs/scripts/code-block-loader.js
Labels: auto:documentation, size:XS

#5395 docs[patch]: Update debugging and streaming guide content
  docs/core_docs/.gitignore
  docs/core_docs/docs/how_to/custom_tools.ipynb
  docs/core_docs/docs/how_to/debugging.mdx
  docs/core_docs/docs/how_to/streaming.ipynb
  docs/core_docs/docs/how_to/tools.ipynb
  examples/src/guides/debugging/simple_agent.ts
  examples/src/guides/debugging/simple_agent_verbose.ts
  examples/src/guides/debugging/simple_agent_verbose_some.ts
Labels: auto:documentation, size:XL

#5396 docs[patch]: Fix Python docs link
  docs/core_docs/docusaurus.config.js
Labels: auto:documentation, size:XS

#5400 docs[patch]: Guide content fixes
  docs/core_docs/docs/how_to/example_selectors.ipynb
  docs/core_docs/docs/how_to/example_selectors_length_based.mdx
  docs/core_docs/docs/how_to/example_selectors_similarity.mdx
  docs/core_docs/docs/how_to/fallbacks.mdx
  docs/core_docs/docs/how_to/message_history.mdx
  docs/core_docs/docs/how_to/passthrough.ipynb
  docs/core_docs/docs/how_to/prompts_composition.ipynb
  docs/core_docs/docs/how_to/prompts_partial.mdx
Labels: auto:documentation, size:L

#5379 Update default headers azure & Add Token Provider Check
  libs/langchain-openai/src/azure/chat_models.ts
  libs/langchain-openai/src/azure/embeddings.ts
  libs/langchain-openai/src/azure/llms.ts
  libs/langchain-openai/src/utils/azure.ts
Labels: lgtm, auto:improvement, size:S

#5401 openai[patch]: Release 0.0.31
  libs/langchain-openai/package.json
Labels: size:XS

#5402 openai[patch]: Release 0.0.31 (#5401)
  libs/langchain-openai/package.json
Labels: auto:nit, size:XS

#5391 docs[patch]: LangGraph Docs remove unused import from code examples
  docs/core_docs/docs/langgraph.mdx
Labels: lgtm, auto:nit, size:XS

#5360 core[major]: Update streamEvent signature to return IterableReadableStream
  deno.json
  docs/core_docs/docs/how_to/streaming.ipynb
  langchain-core/src/runnables/base.ts
  langchain-core/src/runnables/remote.ts
  langchain-core/src/runnables/tests/runnable_stream_events.test.ts
Labels: auto:documentation, size:XXL

#5399 docs[patch]: Move installation doc to how tos
  docs/core_docs/docs/how_to/index.mdx
  docs/core_docs/docs/how_to/installation.mdx
  docs/core_docs/docs/introduction.mdx
  docs/core_docs/sidebars.js
Labels: auto:documentation, size:S

#5404 docs[patch]: Add logprob docs, more updates
  docs/core_docs/docs/how_to/chat_model_caching.mdx
  docs/core_docs/docs/how_to/chat_streaming.ipynb
  docs/core_docs/docs/how_to/chat_token_usage_tracking.mdx
  docs/core_docs/docs/how_to/custom_chat.mdx
  docs/core_docs/docs/how_to/custom_llm.mdx
  docs/core_docs/docs/how_to/llm_caching.mdx
  docs/core_docs/docs/how_to/llm_token_usage_tracking.mdx
  docs/core_docs/docs/how_to/logprobs.ipynb
  docs/core_docs/docs/how_to/streaming_llm.mdx
Labels: auto:documentation, size:XL

#5405 docs[patch]: Add onlyWsa prop to chat model tabs, other nits
  docs/core_docs/docs/how_to/structured_output.ipynb
  docs/core_docs/docs/mdx_components/integration_install_tooltip.mdx
  docs/core_docs/src/theme/ChatModelTabs.js
Labels: auto:documentation, size:M

#5407 docs[minor]: Add 0.2 banner
  docs/core_docs/docusaurus.config.js
Labels: auto:documentation, size:S

#5411 docs[patch]: fix monorepo typo
  docs/core_docs/docs/contributing/repo_structure.mdx
Labels: lgtm, auto:documentation, size:XS

#5414 docs[minor]: Match py how to index page
  docs/core_docs/docs/how_to/index.mdx
Labels: auto:documentation, size:L

#5417 v0.1-anthropic[minor]: Add tool choice code & docs
  docs/core_docs/docs/integrations/chat/anthropic.mdx
  examples/src/models/chat/integration_anthropic_forced_tool.ts
  libs/langchain-anthropic/package.json
  libs/langchain-anthropic/src/chat_models.ts
  yarn.lock
Labels: auto:improvement, auto:documentation, size:L

#5419 langchain[patch]: Add deprecation warnings to document loaders
  langchain/src/document_loaders/fs/docx.ts
  langchain/src/document_loaders/fs/epub.ts
  langchain/src/document_loaders/fs/notion.ts
  langchain/src/document_loaders/fs/obsidian.ts
  langchain/src/document_loaders/fs/openai_whisper_audio.ts
  langchain/src/document_loaders/fs/pdf.ts
  langchain/src/document_loaders/fs/pptx.ts
  langchain/src/document_loaders/fs/srt.ts
  langchain/src/document_loaders/fs/unstructured.ts
  langchain/src/document_loaders/web/apify_dataset.ts
  langchain/src/document_loaders/web/assemblyai.ts
  langchain/src/document_loaders/web/azure_blob_storage_container.ts
  langchain/src/document_loaders/web/azure_blob_storage_file.ts
  langchain/src/document_loaders/web/cheerio.ts
  langchain/src/document_loaders/web/college_confidential.ts
  langchain/src/document_loaders/web/confluence.ts
  langchain/src/document_loaders/web/couchbase.ts
  langchain/src/document_loaders/web/figma.ts
  langchain/src/document_loaders/web/firecrawl.ts
  langchain/src/document_loaders/web/gitbook.ts
  langchain/src/document_loaders/web/github.ts
  langchain/src/document_loaders/web/hn.ts
  langchain/src/document_loaders/web/imsdb.ts
  langchain/src/document_loaders/web/notionapi.ts
  langchain/src/document_loaders/web/pdf.ts
  langchain/src/document_loaders/web/playwright.ts
  langchain/src/document_loaders/web/puppeteer.ts
  langchain/src/document_loaders/web/recursive_url.ts
  langchain/src/document_loaders/web/s3.ts
  langchain/src/document_loaders/web/searchapi.ts
  langchain/src/document_loaders/web/serpapi.ts
  langchain/src/document_loaders/web/sitemap.ts
  langchain/src/document_loaders/web/sonix_audio.ts
  langchain/src/document_loaders/web/sort_xyz_blockchain.ts
  langchain/src/document_loaders/web/youtube.ts
Labels: auto:nit, size:M

#5424 docs[patch]: Update text splitter docs
  docs/core_docs/.gitignore
  docs/core_docs/docs/how_to/character_text_splitter.ipynb
  docs/core_docs/docs/how_to/code_splitter.ipynb
  docs/core_docs/docs/how_to/index.mdx
  docs/core_docs/docs/how_to/recursive_text_splitter.ipynb
  docs/core_docs/docs/how_to/split_by_token.ipynb
Labels: auto:documentation, size:L

#5425 docs[minor]: Hide prev/next buttons on how to and tutorials
  docs/core_docs/src/theme/DocPaginator/index.js
Labels: auto:documentation, size:S

#5423 docs[minor]: Log actual prompt when using prompt hub
  docs/core_docs/docs/how_to/qa_chat_history_how_to.ipynb
  docs/core_docs/docs/how_to/qa_citations.ipynb
  docs/core_docs/docs/how_to/qa_sources.ipynb
  docs/core_docs/docs/how_to/qa_streaming.ipynb
  docs/core_docs/docs/how_to/vectorstore_retriever.mdx
  docs/core_docs/docs/how_to/vectorstores.mdx
  docs/core_docs/docs/integrations/retrievers/vectorstore.mdx
  docs/core_docs/docs/tutorials/local_rag.ipynb
  docs/core_docs/docs/tutorials/qa_chat_history.ipynb
  docs/core_docs/docs/tutorials/rag.ipynb
Labels: auto:documentation, size:L

#5421 docs[minor]: version dropdown (v0.1)
  docs/core_docs/docusaurus.config.js
Labels: lgtm, auto:documentation, size:S

#5422 docs[minor]: version dropdown
  docs/core_docs/docusaurus.config.js
Labels: lgtm, auto:documentation, size:S

#5431 docs[minor]: Add tools prompting docs
  docs/core_docs/docs/how_to/tools_prompting.ipynb
Labels: auto:documentation, size:L

#5430 docs[patch]: Replace prerequisite links component
  docs/core_docs/docs/how_to/example_selectors.ipynb
  docs/core_docs/docs/how_to/example_selectors_length_based.mdx
  docs/core_docs/docs/how_to/example_selectors_similarity.mdx
  docs/core_docs/docs/how_to/few_shot_examples.ipynb
  docs/core_docs/docs/how_to/few_shot_examples_chat.ipynb
  docs/core_docs/docs/how_to/output_parser_json.ipynb
  docs/core_docs/docs/how_to/prompts_composition.ipynb
  docs/core_docs/docs/how_to/prompts_partial.mdx
  docs/core_docs/docs/how_to/sequence.ipynb
  docs/core_docs/docs/how_to/streaming.ipynb
  docs/core_docs/docs/how_to/tool_calling.ipynb
  docs/core_docs/src/theme/PrerequisiteLinks.js
Labels: auto:documentation, size:L

#5435 api_refs[minor]: Add version dropdown
  docs/api_refs/scripts/update-typedoc-css.js
  docs/api_refs/typedoc_plugins/hide_underscore_lc.js
Labels: auto:documentation, size:M

#5436 v0.1 api_refs[minor]: Add version dropdown
  docs/api_refs/scripts/update-typedoc-css.js
  docs/api_refs/typedoc_plugins/hide_underscore_lc.js
Labels: auto:documentation, size:M

#5427 core[minor]: Unified model params for LS
  langchain-core/src/language_models/chat_models.ts
  langchain-core/src/runnables/tests/runnable_stream_events.test.ts
  libs/langchain-anthropic/src/chat_models.ts
  libs/langchain-cohere/src/chat_models.ts
  libs/langchain-community/src/chat_models/fireworks.ts
  libs/langchain-community/src/chat_models/ollama.ts
  libs/langchain-community/src/chat_models/togetherai.ts
  libs/langchain-mistralai/src/chat_models.ts
  libs/langchain-openai/src/azure/chat_models.ts
  libs/langchain-openai/src/chat_models.ts
Labels: auto:improvement, size:L

#5438 docs[patch]: Remove links to missing docs
  docs/core_docs/docs/how_to/document_loader_csv.mdx
  docs/core_docs/docs/how_to/index.mdx
  docs/core_docs/docs/tutorials/index.mdx
Labels: auto:documentation, size:S

#5439 core[patch]: Move async generator consumption code into local storage context
  langchain-core/src/runnables/base.ts
  langchain-core/src/runnables/passthrough.ts
  langchain-core/src/runnables/tests/runnable_stream_events.test.ts
  langchain-core/src/singletons/tests/async_local_storage.test.ts
  langchain-core/src/utils/stream.ts
Labels: size:L

#5443 core[patch]: Release 0.2.0 (next)
  langchain-core/package.json
Labels: size:XS

#5444 environment_tests[minor],langchain[minor]: Upgrade core dep to 0.2.0
  environment_tests/test-exports-tsc/package.json
  environment_tests/test-exports-vercel/package.json
  environment_tests/test-exports-vite/package.json
  langchain/package.json
  yarn.lock
Labels: auto:nit, size:XS

#5445 langchain[patch]: Release 0.2.0 (next)
  langchain/package.json
Labels: size:XS

#5446 community[minor]: Bump LC and core deps to 0.2.0
  libs/langchain-community/package.json
  yarn.lock
Labels: auto:nit, size:XS

#5447 community[patch]: Release 0.2.0 (next)
  libs/langchain-community/package.json
Labels: size:XS

#5426 @langchain/google-genai [feature]: support Google genai API version and base URL
  libs/langchain-google-genai/src/chat_models.ts
Labels: lgtm, auto:improvement, size:M

#5448 all[minor]: Update partner packages core dep semver
  libs/create-langchain-integration/template/package.json
  libs/langchain-anthropic/package.json
  libs/langchain-azure-openai/package.json
  libs/langchain-cloudflare/package.json
  libs/langchain-cohere/package.json
  libs/langchain-community/src/vectorstores/tests/convex/package.json
  libs/langchain-exa/package.json
  libs/langchain-google-common/package.json
  libs/langchain-google-gauth/package.json
  libs/langchain-google-genai/package.json
  libs/langchain-google-vertexai-web/package.json
  libs/langchain-google-vertexai/package.json
  libs/langchain-google-webauth/package.json
  libs/langchain-groq/package.json
  libs/langchain-mistralai/package.json
  libs/langchain-mongodb/package.json
  libs/langchain-nomic/package.json
  libs/langchain-openai/package.json
  libs/langchain-pinecone/package.json
  libs/langchain-qdrant/package.json
  libs/langchain-redis/package.json
  libs/langchain-textsplitters/package.json
  libs/langchain-weaviate/package.json
  libs/langchain-yandex/package.json
  yarn.lock
Labels: auto:nit, size:M

#5449 partner packages[patch]: Release all
  libs/langchain-anthropic/package.json
  libs/langchain-anthropic/src/load/import_map.ts
  libs/langchain-azure-openai/package.json
  libs/langchain-cloudflare/package.json
  libs/langchain-cohere/package.json
  libs/langchain-exa/package.json
  libs/langchain-google-common/package.json
  libs/langchain-google-genai/package.json
  libs/langchain-groq/package.json
  libs/langchain-mistralai/package.json
  libs/langchain-mongodb/package.json
  libs/langchain-nomic/package.json
  libs/langchain-openai/package.json
  libs/langchain-pinecone/package.json
  libs/langchain-qdrant/package.json
  libs/langchain-redis/package.json
  libs/langchain-textsplitters/package.json
  libs/langchain-weaviate/package.json
  libs/langchain-yandex/package.json
Labels: size:M

#5450 google-pkgs[patch]: Release Google packages
  libs/langchain-anthropic/src/load/import_map.ts
  libs/langchain-google-gauth/package.json
  libs/langchain-google-vertexai-web/package.json
  libs/langchain-google-vertexai/package.json
  libs/langchain-google-webauth/package.json
  yarn.lock
Labels: auto:nit, size:S

#5452 partner-packages[patch]: Update core dep versions to contain single space
  libs/create-langchain-integration/template/package.json
  libs/langchain-anthropic/package.json
  libs/langchain-azure-openai/package.json
  libs/langchain-cloudflare/package.json
  libs/langchain-cohere/package.json
  libs/langchain-exa/package.json
  libs/langchain-google-common/package.json
  libs/langchain-google-gauth/package.json
  libs/langchain-google-vertexai-web/package.json
  libs/langchain-google-vertexai/package.json
  libs/langchain-google-webauth/package.json
  libs/langchain-groq/package.json
  libs/langchain-mistralai/package.json
  libs/langchain-mongodb/package.json
  libs/langchain-nomic/package.json
  libs/langchain-openai/package.json
  libs/langchain-pinecone/package.json
  libs/langchain-qdrant/package.json
  libs/langchain-redis/package.json
  libs/langchain-textsplitters/package.json
  libs/langchain-weaviate/package.json
  yarn.lock
Labels: size:M

#5451 v0.1 partner-packages[patch]: Bump versions to match released
  libs/langchain-anthropic/package.json
  libs/langchain-azure-openai/package.json
  libs/langchain-cloudflare/package.json
  libs/langchain-cohere/package.json
  libs/langchain-exa/package.json
  libs/langchain-google-common/package.json
  libs/langchain-google-gauth/package.json
  libs/langchain-google-genai/package.json
  libs/langchain-google-vertexai-web/package.json
  libs/langchain-google-vertexai/package.json
  libs/langchain-google-webauth/package.json
  libs/langchain-groq/package.json
  libs/langchain-mistralai/package.json
  libs/langchain-mongodb/package.json
  libs/langchain-nomic/package.json
  libs/langchain-openai/package.json
  libs/langchain-pinecone/package.json
  libs/langchain-qdrant/package.json
  libs/langchain-redis/package.json
  libs/langchain-textsplitters/package.json
  libs/langchain-weaviate/package.json
  libs/langchain-yandex/package.json
  yarn.lock
Labels: auto:nit, size:L

#5454 docs[patch]: Fix styling
  docs/core_docs/src/css/custom.css
Labels: auto:documentation, size:XS

#5453 docs[patch]: Update QA use-case docs how tos
  docs/core_docs/docs/how_to/agent_executor.ipynb
  docs/core_docs/docs/how_to/indexing.mdx
  docs/core_docs/docs/how_to/message_history.mdx
  docs/core_docs/docs/how_to/qa_chat_history_how_to.ipynb
  docs/core_docs/docs/how_to/qa_citations.ipynb
  docs/core_docs/docs/how_to/qa_per_user.ipynb
  docs/core_docs/docs/how_to/qa_sources.ipynb
  docs/core_docs/docs/how_to/qa_streaming.ipynb
Labels: auto:documentation, size:XXL

#5457 docs[patch]: Update QA use-case docs how tos
  docs/core_docs/docs/how_to/agent_executor.ipynb
  docs/core_docs/docs/how_to/chatbots_memory.ipynb
  docs/core_docs/docs/how_to/chatbots_retrieval.ipynb
  docs/core_docs/docs/how_to/chatbots_tools.ipynb
  docs/core_docs/docs/how_to/extraction_examples.ipynb
  docs/core_docs/docs/how_to/extraction_long_text.ipynb
  docs/core_docs/docs/how_to/extraction_parse.ipynb
  docs/core_docs/docs/how_to/query_constructing_filters.ipynb
  docs/core_docs/docs/how_to/query_few_shot.ipynb
  docs/core_docs/docs/how_to/query_high_cardinality.ipynb
  docs/core_docs/docs/how_to/query_multiple_queries.ipynb
  docs/core_docs/docs/how_to/query_multiple_retrievers.ipynb
  docs/core_docs/docs/how_to/query_no_queries.ipynb
  docs/core_docs/docs/how_to/sql_large_db.mdx
  docs/core_docs/docs/how_to/sql_prompting.mdx
  docs/core_docs/docs/how_to/sql_query_checking.mdx
Labels: auto:documentation, size:XXL

#5458 docs[patch]: Update tools docs
  docs/core_docs/data/sunny_day.jpeg
  docs/core_docs/docs/how_to/custom_tools.ipynb
  docs/core_docs/docs/how_to/index.mdx
  docs/core_docs/docs/how_to/tool_calling.ipynb
  docs/core_docs/docs/how_to/tool_calls_multi_modal.ipynb
  docs/core_docs/docs/how_to/toolkits.mdx
  docs/core_docs/docs/how_to/tools_as_openai_functions.ipynb
  docs/core_docs/docs/how_to/tools_builtin.ipynb
  docs/core_docs/docs/how_to/tools_prompting.ipynb
Labels: auto:documentation, size:XL

#5459 core[patch]: Fix bindTools return type
  langchain-core/src/language_models/chat_models.ts
  libs/langchain-anthropic/src/chat_models.ts
  libs/langchain-google-common/src/chat_models.ts
  libs/langchain-groq/src/chat_models.ts
  libs/langchain-mistralai/src/chat_models.ts
  libs/langchain-openai/src/chat_models.ts
Labels: auto:nit, size:S

#5461 groq[patch]: Release 0.0.12
  libs/langchain-groq/package.json
Labels: auto:nit, size:XS

#5462 anthropic[patch]: Release 0.1.21
  libs/langchain-anthropic/package.json
Labels: size:XS

#5463 openai[patch]: Release 0.0.33
  libs/langchain-openai/package.json
Labels: size:XS

#5464 google-common[patch]: Release 0.0.16
  libs/langchain-google-common/package.json
Labels: size:XS

#5428 mistralai[patch]: Remove default tool call value for translated messages
  libs/langchain-mistralai/src/chat_models.ts
Labels: auto:nit, size:M

#5465 mistralai[patch]: Release 0.0.22
  libs/langchain-mistralai/package.json
Labels: size:XS

#5466 docs[patch]: Adds self query docs, LCEL cheatsheet
  deno.json
  docs/core_docs/.gitignore
  docs/core_docs/docs/concepts.mdx
  docs/core_docs/docs/how_to/agent_executor.ipynb
  docs/core_docs/docs/how_to/index.mdx
  docs/core_docs/docs/how_to/lcel_cheatsheet.ipynb
  docs/core_docs/docs/how_to/self_query.ipynb
  docs/core_docs/docs/integrations/retrievers/self_query/chroma.mdx
  docs/core_docs/docs/integrations/retrievers/self_query/hnswlib.mdx
  docs/core_docs/docs/integrations/retrievers/self_query/index.mdx
  docs/core_docs/docs/integrations/retrievers/self_query/memory.mdx
  docs/core_docs/docs/integrations/retrievers/self_query/pinecone.mdx
  docs/core_docs/docs/integrations/retrievers/self_query/qdrant.mdx
  docs/core_docs/docs/integrations/retrievers/self_query/supabase.mdx
  docs/core_docs/docs/integrations/retrievers/self_query/vectara.mdx
  docs/core_docs/docs/integrations/retrievers/self_query/weaviate.mdx
  docs/core_docs/static/img/self_querying.jpeg
  examples/package.json
  examples/src/retrievers/chroma_self_query.ts
  examples/src/retrievers/hnswlib_self_query.ts
  examples/src/retrievers/memory_self_query.ts
  examples/src/retrievers/pinecone_self_query.ts
  examples/src/retrievers/qdrant_self_query.ts
  examples/src/retrievers/vectara_self_query.ts
  examples/src/retrievers/weaviate_self_query.ts
  yarn.lock
Labels: auto:documentation, size:XXL

#5468 docs[patch]: Contributor guide, polish
  docs/core_docs/docs/contributing/integrations.mdx
  docs/core_docs/docs/tutorials/classification.ipynb
  docs/core_docs/docusaurus.config.js
Labels: auto:documentation, size:L

#5469 docs[patch]: Adds callback docs
  docs/core_docs/.gitignore
  docs/core_docs/docs/concepts.mdx
  docs/core_docs/docs/how_to/callbacks_backgrounding.ipynb
  docs/core_docs/docs/how_to/callbacks_binding.ipynb
  docs/core_docs/docs/how_to/callbacks_constructor.ipynb
  docs/core_docs/docs/how_to/callbacks_runtime.ipynb
  docs/core_docs/docs/how_to/custom_callbacks.ipynb
  docs/core_docs/docs/how_to/index.mdx
  docs/core_docs/docusaurus.config.js
Labels: auto:documentation, size:XXL

#5470 docs[patch]: Rename doc page
  docs/core_docs/.gitignore
  docs/core_docs/docs/how_to/callbacks_attach.ipynb
  docs/core_docs/docs/how_to/index.mdx
Labels: auto:documentation, size:M

#5471 docs[patch]: Update README.md
  docs/core_docs/README.md
Labels: size:XS

#5473 docs[patch]: Update tutorials
  docs/core_docs/.gitignore
  docs/core_docs/docs/how_to/structured_output.ipynb
  docs/core_docs/docs/langsmith.mdx
  docs/core_docs/docs/langsmith/walkthrough.mdx
  docs/core_docs/docs/tutorials/chatbot.ipynb
  docs/core_docs/docs/tutorials/chatbot.mdx
  docs/core_docs/docs/tutorials/classification.ipynb
  docs/core_docs/docs/tutorials/extraction.ipynb
  docs/core_docs/sidebars.js
Labels: auto:documentation, size:XXL

#5215 community[patch]: Neo4j metadata filtering
  libs/langchain-community/src/graphs/neo4j_graph.ts
  libs/langchain-community/src/vectorstores/neo4j_vector.ts
  libs/langchain-community/src/vectorstores/tests/neo4j_vector.fixtures.ts
  libs/langchain-community/src/vectorstores/tests/neo4j_vector.int.test.ts
Labels: lgtm, auto:improvement, size:XXL

#5403 fix[runOnDataset]: accept custom criteria in config factory
  langchain/src/smith/config.ts
Labels: auto:bug, size:M

#5336 community[minor]: Adds support for Cohere Command-R via AWS Bedrock
  libs/langchain-community/src/chat_models/bedrock/web.ts
  libs/langchain-community/src/chat_models/tests/chatbedrock.int.test.ts
  libs/langchain-community/src/utils/bedrock.ts
Labels: lgtm, auto:enhancement, size:L

#5408 docs[patch]: Update output parser docs
  docs/core_docs/.gitignore
  docs/core_docs/docs/concepts.mdx
  docs/core_docs/docs/how_to/index.mdx
  docs/core_docs/docs/how_to/output_parser_fixing.ipynb
  docs/core_docs/docs/how_to/output_parser_json.ipynb
  docs/core_docs/docs/how_to/output_parser_retry.mdx
  docs/core_docs/docs/how_to/output_parser_structured.ipynb
  docs/core_docs/docs/how_to/output_parser_xml.ipynb
  docs/core_docs/docs/how_to/output_parser_xml.mdx
Labels: auto:documentation, size:XXL

#5440 all[patch]: Ignore no unused vars eslint rule in test files
  examples/.eslintrc.cjs
  langchain-core/.eslintrc.cjs
  langchain/.eslintrc.cjs
  libs/create-langchain-integration/.eslintrc.cjs
  libs/create-langchain-integration/template/.eslintrc.cjs
  libs/langchain-anthropic/.eslintrc.cjs
  libs/langchain-azure-openai/.eslintrc.cjs
  libs/langchain-cloudflare/.eslintrc.cjs
  libs/langchain-cohere/.eslintrc.cjs
  libs/langchain-community/.eslintrc.cjs
  libs/langchain-exa/.eslintrc.cjs
  libs/langchain-google-common/.eslintrc.cjs
  libs/langchain-google-gauth/.eslintrc.cjs
  libs/langchain-google-genai/.eslintrc.cjs
  libs/langchain-google-vertexai-web/.eslintrc.cjs
  libs/langchain-google-vertexai/.eslintrc.cjs
  libs/langchain-google-webauth/.eslintrc.cjs
  libs/langchain-groq/.eslintrc.cjs
  libs/langchain-mistralai/.eslintrc.cjs
  libs/langchain-mongodb/.eslintrc.cjs
  libs/langchain-nomic/.eslintrc.cjs
  libs/langchain-openai/.eslintrc.cjs
  libs/langchain-pinecone/.eslintrc.cjs
  libs/langchain-qdrant/.eslintrc.cjs
  libs/langchain-redis/.eslintrc.cjs
  libs/langchain-scripts/.eslintrc.cjs
  libs/langchain-textsplitters/.eslintrc.cjs
  libs/langchain-weaviate/.eslintrc.cjs
  libs/langchain-yandex/.eslintrc.cjs
Labels: auto:nit, size:L

#5490 google-genai[patch]: Fix api options which caused requests to hang
  libs/langchain-google-genai/package.json
  libs/langchain-google-genai/src/chat_models.ts
Labels: auto:bug, size:S

#5491 google-genai[patch]: Release 0.0.15
  libs/langchain-google-genai/package.json
Labels: size:XS

#5492 docs[patch]: Fix docs infinite redirect, add redirect
  docs/core_docs/vercel.json
Labels: auto:documentation, size:XS

#5494 docs[patch]: Replace ecosystem pages with real links
  docs/core_docs/docs/concepts.mdx
  docs/core_docs/docs/contributing/documentation/style_guide.mdx
  docs/core_docs/docs/how_to/qa_chat_history_how_to.ipynb
  docs/core_docs/docs/introduction.mdx
  docs/core_docs/sidebars.js
  docs/core_docs/vercel.json
Labels: auto:documentation, size:M

#5329 community[minor]: Add Google Routes Tool
  docs/core_docs/docs/integrations/tools/google_routes.mdx
  examples/src/tools/google_routes.ts
  langchain/.env.example
  libs/langchain-community/.gitignore
  libs/langchain-community/langchain.config.js
  libs/langchain-community/package.json
  libs/langchain-community/src/tools/google_routes.ts
  libs/langchain-community/src/tools/tests/google_routes.int.test.ts
Labels: lgtm, auto:enhancement, size:XL

#5415 community[minor]: Spider Document Loader
  docs/core_docs/docs/integrations/document_loaders/web_loaders/spider.mdx
  examples/src/document_loaders/spider.ts
  libs/langchain-community/.gitignore
  libs/langchain-community/langchain.config.js
  libs/langchain-community/package.json
  libs/langchain-community/src/document_loaders/tests/spider.int.test.ts
  libs/langchain-community/src/document_loaders/web/spider.ts
  libs/langchain-community/src/load/import_constants.ts
  yarn.lock
Labels: lgtm, auto:enhancement, size:L

#4929 community[minor]: feat: Layerup Security integration
  docs/core_docs/docs/integrations/llms/layerup_security.mdx
  examples/package.json
  examples/src/llms/layerup_security.ts
  libs/langchain-community/langchain.config.js
  libs/langchain-community/package.json
  libs/langchain-community/src/llms/layerup_security.ts
  libs/langchain-community/src/llms/tests/layerup_security.test.ts
  libs/langchain-community/src/load/import_constants.ts
  yarn.lock
Labels: lgtm, auto:enhancement, size:L

#5489 docs[minor]: Unstructured MD loader doc
  docs/core_docs/docs/how_to/document_loader_html.ipynb
  docs/core_docs/docs/how_to/document_loader_markdown.ipynb
  docs/core_docs/docs/how_to/index.mdx
  examples/src/document_loaders/firecrawl.ts
  libs/langchain-community/src/document_loaders/fs/unstructured.ts
Labels: auto:improvement, auto:documentation, size:L

#5493 community[patch]: VoyageAI embedding with input_type parameter
  docs/core_docs/docs/integrations/text_embedding/voyageai.mdx
  libs/langchain-community/src/embeddings/tests/voyage.int.test.ts
  libs/langchain-community/src/embeddings/voyage.ts
Labels: auto:improvement, auto:documentation, size:M

#5496 community[patch]: Fix build artifacts
  libs/langchain-community/.gitignore
  libs/langchain-community/package.json
  libs/langchain-community/src/load/import_map.ts
  libs/langchain-community/src/load/import_type.ts
Labels: size:S

#5499 community[patch]: Temporary build fix
  libs/langchain-community/.prettierignore
  libs/langchain-community/src/load/import_map.ts
Labels: auto:nit, size:XS

#5500 community[patch]: Release 0.2.1
  libs/langchain-community/package.json
Labels: size:XS

#5497 docs[minor]: Add AI SDK docs
  docs/core_docs/docs/additional_resources/tutorials.mdx
Labels: auto:documentation, size:XS

#5502 docs[patch]: Add neo4j metadata filtering docs
  docs/core_docs/docs/integrations/vectorstores/neo4jvector.mdx
  examples/src/indexes/vector_stores/neo4j_vector/neo4j_vector_metadata.ts
Labels: auto:documentation, size:M

#5511 langchain[patch]: Add entrypoints to deprecated omit import map
  environment_tests/test-exports-bun/src/entrypoints.js
  environment_tests/test-exports-cf/src/entrypoints.js
  environment_tests/test-exports-cjs/src/entrypoints.js
  environment_tests/test-exports-esbuild/src/entrypoints.js
  environment_tests/test-exports-esm/src/entrypoints.js
  environment_tests/test-exports-vercel/src/entrypoints.js
  environment_tests/test-exports-vite/src/entrypoints.js
  langchain/.gitignore
  langchain/langchain.config.js
  langchain/package.json
  langchain/src/load/import_map.ts
Labels: auto:improvement, size:M

#5512 langchain[patch]: Release 0.2.1
  langchain/package.json
Labels: size:XS
