Repository langchain-ai/langchainjs, pull requests merged in 2024-06, with the labels that each got.

#5629 community[patch]: Release 0.2.5
  libs/langchain-community/package.json
Labels: size:XS

#5630 👥 Update LangChain people data
  docs/core_docs/data/people.yml
Labels: auto:documentation, size:L

#5633 community[patch]: Bump flaky better-sqlite3 dep
  libs/langchain-community/package.json
  yarn.lock
Labels: auto:nit, size:XS

#5632 openai[patch],anthropic[patch]: Populate usage_metadata on invoke, add docs
  docs/core_docs/.gitignore
  docs/core_docs/docs/how_to/chat_token_usage_tracking.mdx
  docs/core_docs/docs/how_to/index.mdx
  docs/core_docs/docs/how_to/multimodal_inputs.ipynb
  docs/core_docs/docs/how_to/tool_calls_multimodal.ipynb
  examples/src/models/chat/integration_openai_stream_tokens.ts
  examples/src/models/chat/usage_metadata.ts
  examples/src/models/chat/usage_metadata_anthropic.ts
  libs/langchain-anthropic/package.json
  libs/langchain-anthropic/src/chat_models.ts
  libs/langchain-openai/src/chat_models.ts
  yarn.lock
Labels: auto:improvement, auto:documentation, size:XL

#5634 openai[patch]: Release 0.1.1
  libs/langchain-openai/package.json
Labels: size:XS

#5635 anthropic[minor]: Release 0.2.0
  libs/langchain-anthropic/package.json
Labels: auto:nit, size:XS

#5642 readme[patch]: Switch to monthly shields
  langchain-core/README.md
  libs/langchain-community/README.md
Labels: auto:documentation, size:XS

#5653 docs[patch]: fix package path
  docs/core_docs/docs/integrations/chat/ollama_functions.mdx
Labels: lgtm, auto:documentation, size:XS

#5638 [Docs] Fix wrong import paths at googlevertexai.mdx
  docs/core_docs/docs/integrations/vectorstores/googlevertexai.mdx
Labels: lgtm, auto:documentation, size:XS

#5644 core[patch]: Fix JSDoc parameter description typo
  langchain-core/src/callbacks/promises.ts
Labels: lgtm, auto:nit, size:XS

#5651 docs[patch]: Update Unstructured Docker Image Reference in Documentation
  docs/core_docs/docs/how_to/document_loader_html.ipynb
  docs/core_docs/docs/how_to/document_loader_markdown.ipynb
  docs/core_docs/docs/integrations/document_loaders/file_loaders/unstructured.mdx
Labels: lgtm, auto:documentation, size:XS

#5655 docs[patch]: Add keywords for common queries
  docs/core_docs/docs/concepts.mdx
  docs/core_docs/docs/how_to/recursive_text_splitter.ipynb
  docs/core_docs/docs/how_to/sequence.ipynb
  docs/core_docs/docs/how_to/tool_calling.ipynb
  docs/core_docs/docs/integrations/platforms/aws.mdx
  docs/core_docs/docs/integrations/platforms/microsoft.mdx
  docs/core_docs/docs/integrations/platforms/openai.mdx
  docs/core_docs/docs/integrations/text_embedding/openai.mdx
Labels: auto:documentation, size:M

#5658 docs[patch]: Sitemap fixes
  docs/core_docs/static/robots.txt
  docs/core_docs/vercel.json
Labels: auto:documentation, size:S

#5659 anthropic[minor]: Add standard chat model tests to anthropic
  libs/langchain-anthropic/package.json
  libs/langchain-anthropic/src/chat_models.ts
  libs/langchain-anthropic/src/tests/chat_models.standard.int.test.ts
  libs/langchain-anthropic/src/tests/chat_models.standard.test.ts
  yarn.lock
Labels: auto:improvement, size:L

#5662 docs[patch]: Update quickstart tutorial
  docs/core_docs/docs/tutorials/index.mdx
  docs/core_docs/docs/tutorials/llm_chain.ipynb
Labels: auto:documentation, size:M

#5559 mongodb[minor]: add, implement delete method
  libs/langchain-mongodb/src/vectorstores.ts
Labels: lgtm, size:S

#5664 mongodb[patch]: Release 0.0.4
  libs/langchain-mongodb/package.json
Labels: size:XS

#5637 community[minor]: upgraded @mlc/web-llm dependency and updated it's ChatModel
  libs/langchain-community/package.json
  libs/langchain-community/src/chat_models/webllm.ts
  yarn.lock
Labels: lgtm, auto:bug, size:M

#5556 langchain[minor]: add EnsembleRetriever
  docs/core_docs/docs/concepts.mdx
  docs/core_docs/docs/how_to/ensemble_retriever.mdx
  docs/core_docs/docs/how_to/index.mdx
  environment_tests/test-exports-bun/src/entrypoints.js
  environment_tests/test-exports-cf/src/entrypoints.js
  environment_tests/test-exports-cjs/src/entrypoints.js
  environment_tests/test-exports-esbuild/src/entrypoints.js
  environment_tests/test-exports-esm/src/entrypoints.js
  environment_tests/test-exports-vercel/src/entrypoints.js
  environment_tests/test-exports-vite/src/entrypoints.js
  examples/src/retrievers/ensemble_retriever.ts
  langchain/.gitignore
  langchain/langchain.config.js
  langchain/package.json
  langchain/src/load/import_map.ts
  langchain/src/retrievers/ensemble.ts
  langchain/src/retrievers/tests/ensemble_retriever.int.test.ts
Labels: lgtm, auto:improvement, size:L

#5631 community[minor]: Add support for bedrock guardrails and trace
  libs/langchain-community/src/chat_models/bedrock/web.ts
  libs/langchain-community/src/chat_models/tests/chatbedrock.int.test.ts
  libs/langchain-community/src/chat_models/tests/chatbedrock.test.ts
  libs/langchain-community/src/utils/bedrock.ts
Labels: lgtm, auto:enhancement, auto:improvement, size:L

#5665 Release 0.2.5
  langchain/package.json
Labels: size:XS

#5667 docs[patch]: Redirects for LangSmith and LangGraph
  docs/core_docs/docs/langgraph.mdx
  docs/core_docs/docs/langsmith.mdx
  docs/core_docs/vercel.json
Labels: auto:documentation, size:XL

#5668 community[patch]: Release 0.2.6
  libs/langchain-community/package.json
Labels: size:XS

#5660 partners[minor]: Add standard chat model tests to partner packages
  .github/workflows/standard-tests.yml
  libs/langchain-azure-openai/package.json
  libs/langchain-cloudflare/package.json
  libs/langchain-cloudflare/src/chat_models.ts
  libs/langchain-cloudflare/src/tests/chat_models.standard.int.test.ts
  libs/langchain-cloudflare/src/tests/chat_models.standard.test.ts
  libs/langchain-cohere/package.json
  libs/langchain-cohere/src/chat_models.ts
  libs/langchain-cohere/src/tests/chat_models.standard.int.test.ts
  libs/langchain-cohere/src/tests/chat_models.standard.test.ts
  libs/langchain-google-gauth/package.json
  libs/langchain-google-genai/package.json
  libs/langchain-google-genai/src/tests/chat_models.standard.int.test.ts
  libs/langchain-google-genai/src/tests/chat_models.standard.test.ts
  libs/langchain-groq/package.json
  libs/langchain-groq/src/chat_models.ts
  libs/langchain-groq/src/tests/chat_models.standard.int.test.ts
  libs/langchain-groq/src/tests/chat_models.standard.test.ts
  libs/langchain-mistralai/package.json
  libs/langchain-mistralai/src/chat_models.ts
  libs/langchain-mistralai/src/tests/chat_models.standard.int.test.ts
  libs/langchain-mistralai/src/tests/chat_models.standard.test.ts
  libs/langchain-openai/src/tests/azure/chat_models.standard.int.test.ts
  libs/langchain-openai/src/tests/azure/chat_models.standard.test.ts
  libs/langchain-standard-tests/src/base.ts
  libs/langchain-standard-tests/src/integration_tests/chat_models.ts
  libs/langchain-standard-tests/src/unit_tests/chat_models.ts
  yarn.lock
Labels: auto:improvement, size:XL

#5666 core[patch]: Fix formatting mustache image templates
  langchain-core/src/prompts/chat.ts
  langchain-core/src/prompts/tests/chat.mustache.test.ts
Labels: size:M

#5669 community[minor]: Add standard tests to community chat models
  .github/workflows/standard-tests.yml
  libs/langchain-community/package.json
  libs/langchain-community/src/chat_models/bedrock/web.ts
  libs/langchain-community/src/chat_models/tests/chatbedrock.standard.int.test.ts
  libs/langchain-community/src/chat_models/tests/chatbedrock.standard.test.ts
  libs/langchain-community/src/chat_models/tests/chatfireworks.standard.int.test.ts
  libs/langchain-community/src/chat_models/tests/chatfireworks.standard.test.ts
  libs/langchain-community/src/chat_models/tests/chatollama.standard.test.ts
  libs/langchain-community/src/chat_models/tests/chattogetherai.standard.int.test.ts
  libs/langchain-community/src/chat_models/tests/chattogetherai.standard.test.ts
  yarn.lock
Labels: auto:improvement, size:L

#5670 core[release]: Release 0.2.6
  langchain-core/package.json
Labels: size:XS

#5678 docs[patch]: Adds heading keywords for search
  docs/core_docs/docs/concepts.mdx
Labels: auto:documentation, size:M

#5679 community[patch]: Change neo4j verify connectivity method
  libs/langchain-community/src/graphs/neo4j_graph.ts
Labels: lgtm, auto:improvement, size:XS

#5688 partners[patch]: Release partner & community packages
  libs/langchain-anthropic/package.json
  libs/langchain-cohere/package.json
  libs/langchain-community/package.json
  libs/langchain-google-common/package.json
  libs/langchain-google-genai/package.json
  libs/langchain-mistralai/package.json
Labels: auto:nit, size:S

#5689 openai[patch]: Release 0.1.2
  libs/langchain-openai/package.json
Labels: size:XS

#5690 community[patch]: Deprecate Google PaLM integrations
  libs/langchain-community/src/chat_models/googlepalm.ts
  libs/langchain-community/src/embeddings/googlepalm.ts
  libs/langchain-community/src/llms/googlepalm.ts
Labels: auto:improvement, size:S

#5693 textsplitters[patch]: Bump dependency range for @langchain/textsplitters
  libs/langchain-textsplitters/package.json
  yarn.lock
Labels: auto:nit, size:XS

#5695 textsplitters[patch]: Release 0.0.3
  libs/langchain-textsplitters/package.json
Labels: size:XS

#5696 docs[patch]: Add deprecation warnings to Google PaLM docs
  docs/core_docs/docs/integrations/chat/google_palm.mdx
  docs/core_docs/docs/integrations/llms/google_palm.mdx
  docs/core_docs/docs/integrations/text_embedding/google_palm.mdx
Labels: auto:documentation, size:S

#5694 community[patch]: Loosen conflicting peer dep
  examples/package.json
  langchain/package.json
  libs/langchain-community/package.json
  package.json
  yarn.lock
Labels: auto:nit, size:S

#5697 community[patch]: Release 0.2.8
  libs/langchain-community/package.json
Labels: size:XS

#5674 docs[patch]: Remove duplicated heading section on rag.ipynb
  docs/core_docs/docs/tutorials/rag.ipynb
Labels: lgtm, auto:documentation, size:S

#5640 community[patch]: anthropic add tool call support new tools api
  docs/core_docs/docs/integrations/chat/index.mdx
  libs/langchain-community/package.json
  libs/langchain-community/src/chat_models/bedrock/index.ts
  libs/langchain-community/src/chat_models/bedrock/web.ts
  libs/langchain-community/src/chat_models/tests/chatbedrock.int.test.ts
  libs/langchain-community/src/chat_models/tests/chatbedrock.standard.int.test.ts
  libs/langchain-community/src/embeddings/bedrock.ts
  libs/langchain-community/src/llms/bedrock/index.ts
  libs/langchain-community/src/llms/bedrock/web.ts
  libs/langchain-community/src/utils/bedrock/anthropic.ts
  libs/langchain-community/src/utils/bedrock/index.ts
  yarn.lock
Labels: auto:improvement, size:XL

#5671 community[minor]: Fixed ChatWebLLM reload function and updated model name in example
  examples/src/models/chat/integration_webllm.ts
  libs/langchain-community/src/chat_models/webllm.ts
Labels: auto:bug, size:XS

#5698 community[patch]: Release 0.2.9
  libs/langchain-community/package.json
Labels: size:XS

#5702 docs[patch]: Add crosslinks, add LangGraph and LangSmith sections
  docs/core_docs/docs/concepts.mdx
  docs/core_docs/docs/how_to/index.mdx
  docs/core_docs/docs/tutorials/index.mdx
  docs/core_docs/docs/tutorials/pdf_qa.ipynb
Labels: auto:documentation, size:L

#5706 docs[patch]: replace wrong interface API reference link
  docs/core_docs/docs/tutorials/rag.ipynb
Labels: auto:documentation, size:XS

#5718 docs[patch]: Point OpenAI LLM docs at chat models
  docs/core_docs/docs/integrations/llms/azure.mdx
  docs/core_docs/docs/integrations/llms/openai.mdx
  docs/core_docs/docs/integrations/platforms/index.mdx
  docs/core_docs/docs/integrations/platforms/microsoft.mdx
  docs/core_docs/docs/integrations/platforms/openai.mdx
Labels: auto:documentation, size:M

#5719 docs[patch]: Add pointers from LLM pages to chat model pages
  docs/core_docs/docs/integrations/llms/bedrock.mdx
  docs/core_docs/docs/integrations/llms/cohere.mdx
  docs/core_docs/docs/integrations/llms/fireworks.mdx
  docs/core_docs/docs/integrations/llms/google_vertex_ai.mdx
  docs/core_docs/docs/integrations/llms/ollama.mdx
  docs/core_docs/docs/integrations/llms/togetherai.mdx
  docs/core_docs/docs/integrations/platforms/aws.mdx
Labels: auto:documentation, size:M

#5720 google[patch]: Release 0.0.18
  libs/langchain-google-gauth/package.json
  libs/langchain-google-vertexai-web/package.json
  libs/langchain-google-vertexai/package.json
  libs/langchain-google-webauth/package.json
  yarn.lock
Labels: size:S

#5703 ci[minor]: Add more packages to lowest/latest deps ci workflow
  .github/workflows/compatibility.yml
  dependency_range_tests/docker-compose.yml
  dependency_range_tests/scripts/langchain/node/package.json
  dependency_range_tests/scripts/langchain/node/update_resolutions_lowest.js
  dependency_range_tests/scripts/langchain/node/yarn.lock
  dependency_range_tests/scripts/langchain/test-with-latest-deps.sh
  dependency_range_tests/scripts/langchain/test-with-lowest-deps.sh
  dependency_range_tests/scripts/node/update_resolutions_lowest.js
  dependency_range_tests/scripts/with_standard_tests/anthropic/node/package.json
  dependency_range_tests/scripts/with_standard_tests/anthropic/node/update_resolutions_lowest.js
  dependency_range_tests/scripts/with_standard_tests/anthropic/node/update_workspace_deps.js
  dependency_range_tests/scripts/with_standard_tests/anthropic/node/yarn.lock
  dependency_range_tests/scripts/with_standard_tests/anthropic/test-with-latest-deps.sh
  dependency_range_tests/scripts/with_standard_tests/anthropic/test-with-lowest-deps.sh
  dependency_range_tests/scripts/with_standard_tests/community/node/package.json
  dependency_range_tests/scripts/with_standard_tests/community/node/update_resolutions_lowest.js
  dependency_range_tests/scripts/with_standard_tests/community/node/yarn.lock
  dependency_range_tests/scripts/with_standard_tests/community/test-with-latest-deps.sh
  dependency_range_tests/scripts/with_standard_tests/community/test-with-lowest-deps.sh
  dependency_range_tests/scripts/with_standard_tests/node/package.json
  dependency_range_tests/scripts/with_standard_tests/node/update_workspace_dependencies.js
  dependency_range_tests/scripts/with_standard_tests/node/yarn.lock
  dependency_range_tests/scripts/with_standard_tests/openai/node/package.json
  dependency_range_tests/scripts/with_standard_tests/openai/node/update_resolutions_lowest.js
  dependency_range_tests/scripts/with_standard_tests/openai/node/yarn.lock
  dependency_range_tests/scripts/with_standard_tests/openai/test-with-latest-deps.sh
  dependency_range_tests/scripts/with_standard_tests/openai/test-with-lowest-deps.sh
  dependency_range_tests/scripts/with_standard_tests/shared.sh
  langchain/package.json
  libs/langchain-anthropic/package.json
  libs/langchain-azure-openai/package.json
  libs/langchain-cloudflare/package.json
  libs/langchain-cohere/package.json
  libs/langchain-community/package.json
  libs/langchain-google-gauth/package.json
  libs/langchain-google-genai/package.json
  libs/langchain-groq/package.json
  libs/langchain-mistralai/package.json
  libs/langchain-openai/package.json
  yarn.lock
Labels: auto:improvement, size:XL

#5722 google-vertexai[minor]: Move tests from gauth/webauth into vertexai packages
  libs/langchain-google-gauth/src/tests/chat_models.int.test.ts
  libs/langchain-google-gauth/src/tests/llms.int.test.ts
  libs/langchain-google-vertexai-web/src/tests/chat_models.int.test.ts
  libs/langchain-google-vertexai-web/src/tests/llms.int.test.ts
  libs/langchain-google-vertexai/src/tests/chat_models.int.test.ts
Labels: auto:refactor, size:XL

#5726 Unstructured in memory loader
  langchain/src/document_loaders/fs/unstructured.ts
  langchain/src/document_loaders/tests/unstructured.int.test.ts
  libs/langchain-community/.eslintrc.cjs
  libs/langchain-community/src/document_loaders/fs/unstructured.ts
  libs/langchain-community/src/document_loaders/tests/unstructured.int.test.ts
Labels: auto:improvement, size:L

#5727 infra[minor]: Add vertexai to latest/lowest ci
  .github/workflows/compatibility.yml
  dependency_range_tests/docker-compose.yml
  dependency_range_tests/scripts/vertexai/node/package.json
  dependency_range_tests/scripts/vertexai/node/update_resolutions_lowest.js
  dependency_range_tests/scripts/vertexai/node/yarn.lock
  dependency_range_tests/scripts/vertexai/test-with-latest-deps.sh
  dependency_range_tests/scripts/vertexai/test-with-lowest-deps.sh
Labels: auto:improvement, size:L

#5728 docs[patch]: Adds streaming conceptual docs
  docs/core_docs/.gitignore
  docs/core_docs/docs/concepts.mdx
  docs/core_docs/static/img/tokenization.png
Labels: auto:documentation, size:L

#5721 google-vertexai[minor] Add standard tests
  .github/workflows/compatibility.yml
  dependency_range_tests/docker-compose.yml
  dependency_range_tests/scripts/vertexai/test-with-latest-deps.sh
  dependency_range_tests/scripts/vertexai/test-with-lowest-deps.sh
  dependency_range_tests/scripts/with_standard_tests/google-vertexai/node/package.json
  dependency_range_tests/scripts/with_standard_tests/google-vertexai/node/update_resolutions_lowest.js
  dependency_range_tests/scripts/with_standard_tests/google-vertexai/node/yarn.lock
  dependency_range_tests/scripts/with_standard_tests/google-vertexai/test-with-latest-deps.sh
  dependency_range_tests/scripts/with_standard_tests/google-vertexai/test-with-lowest-deps.sh
  libs/langchain-google-gauth/package.json
  libs/langchain-google-vertexai-web/package.json
  libs/langchain-google-vertexai/package.json
  libs/langchain-google-vertexai/src/tests/chat_models.standard.int.test.ts
  libs/langchain-google-vertexai/src/tests/chat_models.standard.test.ts
  libs/langchain-google-webauth/src/tests/chat_models.int.test.ts
  libs/langchain-google-webauth/src/tests/llms.int.test.ts
  libs/langchain-standard-tests/src/integration_tests/chat_models.ts
  yarn.lock
Labels: auto:nit, size:XXL

#5729 docs[patch]: Add LangGraph doc redirect
  docs/core_docs/README.md
  docs/core_docs/vercel.json
Labels: auto:documentation, size:XS

#5717 openai[minor],docs[minor]: Add parallel tool calls call option and docs
  docs/core_docs/docs/integrations/chat/openai.mdx
  examples/src/models/chat/integration_openai_parallel_tool_calls.ts
  libs/langchain-openai/package.json
  libs/langchain-openai/src/chat_models.ts
  libs/langchain-openai/src/tests/chat_models_structured_output.int.test.ts
  yarn.lock
Labels: auto:improvement, auto:documentation, size:L

#5677 community[patch]: allow to use postgres pool instance on PostgresRecordManager
  libs/langchain-community/src/indexes/postgres.ts
  libs/langchain-community/src/indexes/tests/postgres.int.test.ts
Labels: auto:improvement, size:S

#5672 community[major]: DeepInfra llm and chat
  docs/core_docs/.gitignore
  docs/core_docs/docs/integrations/chat/deep_infra.mdx
  docs/core_docs/docs/integrations/llms/deep_infra.mdx
  examples/src/models/chat/integration_deepinfra.ts
  examples/src/models/llm/deepinfra.ts
  libs/langchain-community/.gitignore
  libs/langchain-community/langchain.config.js
  libs/langchain-community/package.json
  libs/langchain-community/src/chat_models/deepinfra.ts
  libs/langchain-community/src/chat_models/tests/chatdeepinfra.int.test.ts
  libs/langchain-community/src/llms/deepinfra.ts
  libs/langchain-community/src/llms/tests/deepinfra.int.test.ts
  libs/langchain-community/src/load/import_map.ts
Labels: auto:enhancement, size:L

#5730 anthropic[patch]: Stream tokens
  libs/langchain-anthropic/src/chat_models.ts
  libs/langchain-anthropic/src/tests/chat_models.int.test.ts
  libs/langchain-anthropic/src/tests/chat_models.standard.int.test.ts
  libs/langchain-cloudflare/src/chat_models.ts
Labels: auto:nit, size:M

#5714 openai[patch],azure-openai[patch]: Update legacy classes to respect the apiKey field
  langchain/src/chains/openai_moderation.ts
  libs/langchain-azure-openai/src/chat_models.ts
  libs/langchain-azure-openai/src/embeddings.ts
  libs/langchain-azure-openai/src/llms.ts
  libs/langchain-openai/src/legacy.ts
Labels: auto:improvement, size:S

#5739 community[patch]: Release 0.2.10
  libs/langchain-community/package.json
Labels: size:XS

#5740 azure-openai[patch]: Release 0.0.11
  libs/langchain-azure-openai/package.json
Labels: size:XS

#5741 openai[patch]: Release 0.1.3
  libs/langchain-openai/package.json
Labels: size:XS

#5733 ci[patch]: Only run CI testsing if specific package touched
  .github/workflows/compatibility.yml
  .github/workflows/standard-tests.yml
  .github/workflows/test-exports.yml
  .github/workflows/unit-tests-integrations.yml
  .github/workflows/unit-tests-langchain-integrations.yml
  CONTRIBUTING.md
  libs/langchain-openai/src/chat_models.ts
  turbo.json
Labels: auto:improvement, auto:nit, size:L

#5732 cohere[minor]: Fix token counts, add usage_metadata
  .github/workflows/compatibility.yml
  dependency_range_tests/docker-compose.yml
  dependency_range_tests/scripts/with_standard_tests/cohere/node/package.json
  dependency_range_tests/scripts/with_standard_tests/cohere/node/update_resolutions_lowest.js
  dependency_range_tests/scripts/with_standard_tests/cohere/node/yarn.lock
  dependency_range_tests/scripts/with_standard_tests/cohere/test-with-latest-deps.sh
  dependency_range_tests/scripts/with_standard_tests/cohere/test-with-lowest-deps.sh
  libs/langchain-cohere/.eslintrc.cjs
  libs/langchain-cohere/package.json
  libs/langchain-cohere/src/chat_models.ts
  libs/langchain-cohere/src/tests/chat_models.int.test.ts
  libs/langchain-cohere/src/tests/chat_models.standard.int.test.ts
  yarn.lock
Labels: auto:improvement, size:L

#5747 cohere[patch]: Release 0.1.0
  libs/langchain-cohere/package.json
Labels: size:XS

#5750 docs[patch]: Adds structured output section to concepts
  docs/core_docs/docs/concepts.mdx
  docs/core_docs/docs/how_to/structured_output.ipynb
  docs/core_docs/docs/integrations/chat/index.mdx
Labels: auto:documentation, size:L

#5749 docs,examples[patch]: Replace .getRelevantDocuments with .invoke
  docs/core_docs/docs/tutorials/agents.mdx
  docs/core_docs/docs/tutorials/rag.ipynb
  examples/src/retrievers/parent_document_retriever_rerank.ts
  examples/src/retrievers/qdrant_self_query.ts
Labels: auto:documentation, size:S

#5751 mistral[minor]: Populate usage metadata for mistral
  libs/langchain-mistralai/package.json
  libs/langchain-mistralai/src/chat_models.ts
  libs/langchain-mistralai/src/tests/chat_models.int.test.ts
  libs/langchain-mistralai/src/tests/chat_models.standard.int.test.ts
  yarn.lock
Labels: auto:improvement, size:L

#5755 ci[patch]: Always run standard tests
  .github/workflows/standard-tests.yml
Labels: auto:nit, size:S

#5756 openai[patch]: Fix tool content list
  libs/langchain-openai/src/chat_models.ts
  libs/langchain-openai/src/tests/chat_models.standard.int.test.ts
Labels: size:XS

#5746 Fix [ERR_REQUIRE_ESM] error when importing hf_transformers
  environment_tests/test-exports-cjs/package.json
  environment_tests/test-exports-cjs/src/import.js
  environment_tests/test-exports-cjs/src/index.mjs
  environment_tests/test-exports-cjs/src/index.ts
  environment_tests/test-exports-cjs/src/require.js
  environment_tests/test-exports-esm/package.json
  environment_tests/test-exports-esm/src/import.cjs
  environment_tests/test-exports-esm/src/index.js
  environment_tests/test-exports-esm/src/index.ts
  environment_tests/test-exports-esm/src/require.cjs
  libs/langchain-community/src/embeddings/hf_transformers.ts
Labels: auto:bug, size:M

#5715 community[minor]: Update SingleStore vector store
  docs/core_docs/docs/integrations/vectorstores/singlestore.mdx
  examples/src/indexes/vector_stores/singlestore_hybrid_search.ts
  libs/langchain-community/src/vectorstores/singlestore.ts
  libs/langchain-community/src/vectorstores/tests/singlestore.int.test.ts
Labels: auto:improvement, auto:documentation, size:XL

#5758 community[patch]: Release 0.2.11
  libs/langchain-community/package.json
Labels: size:XS

#5757 google-genai[minor]: Add support for token counting via usage_metadata
  libs/langchain-google-genai/src/chat_models.ts
  libs/langchain-google-genai/src/tests/chat_models.int.test.ts
  libs/langchain-google-genai/src/tests/chat_models.standard.int.test.ts
  libs/langchain-google-genai/src/utils/common.ts
Labels: auto:improvement, size:L

#5759 docs[patch]: Update embeddings conceptual docs
  docs/core_docs/docs/concepts.mdx
  docs/core_docs/static/img/embeddings.png
Labels: auto:documentation, size:S

#5762 docs: Graph tutorial updates
  docs/core_docs/docs/how_to/graph_prompting.ipynb
  docs/core_docs/docs/tutorials/graph.ipynb
Labels: lgtm, auto:documentation, size:XS

#5764 google-genai[patch]: Nit standard tests
  libs/langchain-google-genai/src/tests/chat_models.standard.int.test.ts
Labels: auto:nit, size:S

#5763 google-common[minor]: Add stream_usage
  libs/langchain-google-common/package.json
  libs/langchain-google-common/src/chat_models.ts
  libs/langchain-google-common/src/types.ts
  libs/langchain-google-common/src/utils/gemini.ts
  libs/langchain-google-vertexai/src/tests/chat_models.int.test.ts
  libs/langchain-google-vertexai/src/tests/chat_models.standard.int.test.ts
  yarn.lock
Labels: auto:improvement, size:L

#5765 google-genai[patch]: Bump min core version
  libs/langchain-google-genai/package.json
  yarn.lock
Labels: auto:nit, size:XS

#5775 core[patch]: Account for escaped variables in mustache templates
  langchain-core/src/prompts/template.ts
  langchain-core/src/prompts/tests/prompt.mustache.test.ts
Labels: auto:improvement, size:S

#5767 docs[minor]: Add tool runtime args doc
  docs/core_docs/docs/how_to/tool_runtime.ipynb
Labels: size:L

#5777 update model name in these for making them eligible for multimodality
  examples/src/models/chat/integration_googlevertexai-streaming.ts
  examples/src/models/chat/integration_googlevertexai-tools.ts
  examples/src/models/chat/integration_googlevertexai-wsa.ts
  examples/src/models/chat/integration_googlevertexai.ts
Labels: lgtm, size:XS

#5784 docs[patch]: Reorder streaming guide
  docs/core_docs/docs/concepts.mdx
  docs/core_docs/docs/how_to/streaming.ipynb
Labels: auto:documentation, size:L

#5783 docs[patch]: Adds RAG guide to concepts, semantic similarity to howtos
  docs/core_docs/.gitignore
  docs/core_docs/docs/concepts.mdx
  docs/core_docs/docs/how_to/routing.mdx
  docs/core_docs/static/img/langgraph_rag.png
  docs/core_docs/static/img/rag_landscape.png
  examples/src/guides/expression_language/how_to_routing_semantic_similarity.ts
Labels: auto:documentation, size:L

#5787 google-genai[patch]: Release 0.0.18
  libs/langchain-google-genai/package.json
Labels: size:XS

#5790 docs[patch]: Adds evaluation links to concepts, how tos, tutorials
  docs/core_docs/docs/concepts.mdx
  docs/core_docs/docs/how_to/index.mdx
  docs/core_docs/docs/tutorials/index.mdx
  docs/core_docs/static/img/langsmith_evaluate.png
Labels: auto:documentation, size:M

#5792 docs[patch]: Increase banner size
  docs/core_docs/src/css/custom.css
Labels: auto:documentation, size:XS

#5782 core[minor]docs[minor]: new `tool` wrapper
  docs/core_docs/docs/how_to/custom_tools.ipynb
  docs/core_docs/docs/how_to/migrate_agent.ipynb
  docs/core_docs/docs/how_to/tool_calling.ipynb
  docs/core_docs/docs/how_to/tool_calls_multimodal.ipynb
  langchain-core/src/runnables/tests/runnable_stream_events_v2.test.ts
  langchain-core/src/tools.ts
Labels: auto:documentation, size:L

#5793 docs[patch]: Update banner copy
  docs/core_docs/docusaurus.config.js
Labels: auto:documentation, size:XS

#5794 core[patch]: Release 0.2.7
  langchain-core/package.json
Labels: size:XS

#5776 community[minor]: Update ChatWebLLM to match dependency version and update example
  examples/src/models/chat/integration_webllm.ts
  libs/langchain-community/package.json
  libs/langchain-community/src/chat_models/webllm.ts
  libs/langchain-community/src/memory/tests/motorhead_memory.test.ts
  yarn.lock
Labels: size:S

#5760 community[minor]: Add Indexing API support for Milvus
  examples/package.json
  libs/langchain-community/package.json
  libs/langchain-community/src/indexes/tests/indexing.milvus.int.test.ts
  libs/langchain-community/src/vectorstores/milvus.ts
  libs/langchain-community/src/vectorstores/tests/milvus.int.test.ts
  yarn.lock
Labels: lgtm, auto:enhancement, size:XL

#5799 google-genai[patch]: Release 0.0.19
  libs/langchain-google-genai/package.json
Labels: size:XS

#5800 docs[patch]: Fix docs build issues with empty lib artifacts
  docs/api_refs/scripts/create-entrypoints.js
  docs/core_docs/.gitignore
Labels: auto:documentation, size:XS

#5801 docs[patch]: Adds docs feedback text
  docs/core_docs/package.json
  docs/core_docs/src/theme/Feedback.js
  yarn.lock
Labels: auto:documentation, size:M

#5807 Jacob/docs
  docs/core_docs/docs/concepts.mdx
  docs/core_docs/docs/how_to/qa_sources.ipynb
  docs/core_docs/docs/tutorials/agents.mdx
  docs/core_docs/docs/tutorials/chatbot.ipynb
  docs/core_docs/docs/tutorials/extraction.ipynb
  docs/core_docs/docs/tutorials/pdf_qa.ipynb
  docs/core_docs/docs/tutorials/qa_chat_history.ipynb
  docs/core_docs/docs/tutorials/query_analysis.ipynb
  docs/core_docs/docs/tutorials/rag.ipynb
  docs/core_docs/docs/tutorials/sql_qa.mdx
Labels: auto:documentation, size:L

#5804 google-genai[patch]: Update tool message parsing
  libs/langchain-google-genai/src/tests/chat_models.test.ts
  libs/langchain-google-genai/src/utils/common.ts
Labels: auto:improvement, size:L

#5814 google-genai[patch]: Release 0.0.20
  libs/langchain-google-genai/package.json
Labels: size:XS

#5817 core[minor]: Add ID field to messages
  langchain-core/src/messages/ai.ts
  langchain-core/src/messages/base.ts
  langchain-core/src/messages/chat.ts
  langchain-core/src/messages/function.ts
  langchain-core/src/messages/human.ts
  langchain-core/src/messages/system.ts
  langchain-core/src/messages/tool.ts
Labels: auto:improvement, size:S

#5789 core[minor]: Message transformers
  docs/core_docs/docs/how_to/filter_messages.ipynb
  docs/core_docs/docs/how_to/index.mdx
  docs/core_docs/docs/how_to/merge_message_runs.ipynb
  docs/core_docs/docs/how_to/trim_messages.ipynb
  langchain-core/src/caches.ts
  langchain-core/src/callbacks/base.ts
  langchain-core/src/callbacks/manager.ts
  langchain-core/src/language_models/base.ts
  langchain-core/src/messages/ai.ts
  langchain-core/src/messages/index.ts
  langchain-core/src/messages/tests/message_utils.test.ts
  langchain-core/src/messages/transformers.ts
  langchain-core/src/messages/utils.ts
  langchain-core/src/outputs.ts
  langchain-core/src/prompt_values.ts
  langchain-core/src/tracers/base.ts
  langchain-core/src/tracers/log_stream.ts
  langchain-core/src/tracers/tracer_langchain_v1.ts
Labels: auto:improvement, size:XXL

#5819 core[patch]: Release 0.2.8
  langchain-core/package.json
Labels: size:XS

#5821 community[minor]: Support configurable index creation for Milvus
  libs/langchain-community/src/vectorstores/milvus.ts
Labels: lgtm, auto:enhancement, size:S

#5827 core[minor],community[minor]: Add message id tests
  langchain-core/src/messages/base.ts
  langchain-core/src/messages/tests/base_message.test.ts
  libs/langchain-community/src/stores/tests/postgres.int.test.ts
Labels: auto:improvement, size:M

#5824 docs[patch]: Correcting zod types for OAI parallel tool calling doc
  examples/src/models/chat/integration_openai_parallel_tool_calls.ts
Labels: lgtm, auto:nit, size:XS

#5818 openai[patch]: Populate ID field
  libs/langchain-openai/package.json
  libs/langchain-openai/src/chat_models.ts
  libs/langchain-openai/src/tests/chat_models.int.test.ts
  yarn.lock
Labels: auto:nit, size:M

#5803 community[patch]: feat: Make Zep Memory message merging optional
  examples/package.json
  libs/langchain-community/package.json
  libs/langchain-community/src/memory/zep_cloud.ts
  libs/langchain-community/src/stores/message/zep_cloud.ts
  yarn.lock
Labels: auto:improvement, size:L

#5806 community[patch]: feat: add headers param to cheerio loader
  libs/langchain-community/src/document_loaders/web/cheerio.ts
Labels: lgtm, auto:improvement, size:S

#5829 community[patch]: Fix issue with inserting documents in Milvus with autoId enabled
  libs/langchain-community/src/vectorstores/milvus.ts
  libs/langchain-community/src/vectorstores/tests/milvus.int.test.ts
Labels: lgtm, auto:bug, size:M

#5831 core[patch]: add more mustache variable types
  langchain-core/src/prompts/template.ts
Labels: size:XS

#5832 docs[patch]: Update link
  docs/core_docs/docs/how_to/index.mdx
Labels: auto:documentation, size:XS

#5834 build[patch]: Update artifacts
  environment_tests/test-exports-bun/src/entrypoints.js
  environment_tests/test-exports-cf/src/entrypoints.js
  environment_tests/test-exports-cjs/src/entrypoints.js
  environment_tests/test-exports-esbuild/src/entrypoints.js
  environment_tests/test-exports-esm/src/entrypoints.js
  environment_tests/test-exports-vercel/src/entrypoints.js
  environment_tests/test-exports-vite/src/entrypoints.js
Labels: auto:improvement, size:M

#5844 docs[patch]: Adds prereq to trim messages
  docs/core_docs/docs/how_to/trim_messages.ipynb
Labels: auto:documentation, size:S

#5839 community[minor]: added support for subject in gmail tools auth with service accounts
  libs/langchain-community/src/tools/gmail/base.ts
Labels: lgtm, auto:improvement, size:S

#5788 azure-dynamic-sessions[major]: Add new package
  docs/core_docs/docs/integrations/platforms/microsoft.mdx
  docs/core_docs/docs/integrations/tools/azure_dynamic_sessions.mdx
  examples/.env.example
  examples/package.json
  examples/src/tools/azure_dynamic_sessions/.env.example
  examples/src/tools/azure_dynamic_sessions/azure_dynamic_sessions-agent.ts
  examples/src/tools/azure_dynamic_sessions/azure_dynamic_sessions.ts
  libs/langchain-azure-dynamic-sessions/.env.example
  libs/langchain-azure-dynamic-sessions/.eslintrc.cjs
  libs/langchain-azure-dynamic-sessions/.gitignore
  libs/langchain-azure-dynamic-sessions/.prettierrc
  libs/langchain-azure-dynamic-sessions/.release-it.json
  libs/langchain-azure-dynamic-sessions/LICENSE
  libs/langchain-azure-dynamic-sessions/README.md
  libs/langchain-azure-dynamic-sessions/jest.config.cjs
  libs/langchain-azure-dynamic-sessions/jest.env.cjs
  libs/langchain-azure-dynamic-sessions/langchain.config.js
  libs/langchain-azure-dynamic-sessions/package.json
  libs/langchain-azure-dynamic-sessions/scripts/jest-setup-after-env.js
  libs/langchain-azure-dynamic-sessions/src/index.ts
  libs/langchain-azure-dynamic-sessions/src/tests/tools.int.test.ts
  libs/langchain-azure-dynamic-sessions/src/tests/tools.test.ts
  libs/langchain-azure-dynamic-sessions/src/tools.ts
  libs/langchain-azure-dynamic-sessions/tsconfig.cjs.json
  libs/langchain-azure-dynamic-sessions/tsconfig.json
  yarn.lock
Labels: close, auto:enhancement, auto:documentation, size:XL

#5761 openai[minor]: OpenAI - Ability to set stream_options and streamUsage when instantiating ChatOpenAI class.
  libs/langchain-openai/src/chat_models.ts
  libs/langchain-openai/src/tests/chat_models.int.test.ts
  libs/langchain-openai/src/types.ts
Labels: close, auto:bug, size:M

#5846 azure-dynamic-sessions[patch]: Fix local test
  libs/langchain-azure-dynamic-sessions/src/tests/tools.test.ts
Labels: auto:nit, size:XS

#5752 core[minor]: Add base implementation of withStructuredOutput
  langchain-core/src/language_models/base.ts
  langchain-core/src/language_models/chat_models.ts
Labels: auto:improvement, size:L

#5848 openai[minor]: Release 0.2.0
  libs/langchain-openai/package.json
Labels: auto:nit, size:XS

#5850 core[patch]: Release 0.2.9
  langchain-core/package.json
Labels: size:XS

#5851 [patch]: Commit yarn.lock changes
  yarn.lock
Labels: auto:nit, size:XS

#5858 langchain[patch]: Bump deps
  langchain/package.json
  yarn.lock
Labels: auto:nit, size:XS

#5859 langchain[patch]: Release 0.2.6
  langchain/package.json
Labels: size:XS

#5849 anthropic[minor]: Allow passing OpenAI formatted tools
  libs/langchain-anthropic/package.json
  libs/langchain-anthropic/src/chat_models.ts
  libs/langchain-anthropic/src/tests/chat_models-tools.int.test.ts
  yarn.lock
Labels: auto:improvement, size:M

#5860 anthropic[patch]: Release 0.2.2
  libs/langchain-anthropic/package.json
Labels: size:XS

#5855 groq[minor]: Update bindTools typing to include openai tools format
  libs/langchain-groq/package.json
  libs/langchain-groq/src/chat_models.ts
  yarn.lock
Labels: auto:improvement, size:XS

#5861 groq[patch]: Release 0.0.13
  libs/langchain-groq/package.json
Labels: size:XS

#5856 standard-tests[minor]: Add test checking models support openai tool format
  libs/langchain-standard-tests/package.json
  libs/langchain-standard-tests/src/integration_tests/chat_models.ts
  yarn.lock
Labels: auto:improvement, size:M

#5852 community[minor]: Update bedrock to accept openai formatted tools
  libs/langchain-community/package.json
  libs/langchain-community/src/chat_models/bedrock/web.ts
  libs/langchain-community/src/chat_models/tests/chatbedrock.int.test.ts
  libs/langchain-community/src/chat_models/tests/chatbedrock.standard.int.test.ts
  libs/langchain-community/src/chat_models/tests/chatbedrock.standard.test.ts
  libs/langchain-community/src/chat_models/tests/chattogetherai.standard.test.ts
  libs/langchain-community/src/utils/bedrock/anthropic.ts
  yarn.lock
Labels: auto:improvement, size:L

#5853 google-common[minor]: Allow openai formatted tools
  libs/langchain-google-common/package.json
  libs/langchain-google-common/src/chat_models.ts
  libs/langchain-google-common/src/utils/zod_to_gemini_parameters.ts
  yarn.lock
Labels: auto:improvement, size:M

#5854 google-genai[minor]: Allow openai formatted tools
  libs/langchain-google-genai/package.json
  libs/langchain-google-genai/src/chat_models.ts
  libs/langchain-google-genai/src/utils/common.ts
  libs/langchain-google-genai/src/utils/zod_to_genai_parameters.ts
  yarn.lock
Labels: auto:improvement, size:M

#5863 google-genai[patch]: Release 0.0.21
  libs/langchain-google-genai/package.json
Labels: size:XS

#5862 google-common[patch]: Fix remove additional properties util
  libs/langchain-google-common/src/utils/zod_to_gemini_parameters.ts
Labels: auto:bug, size:M

#5864 google-common[patch]: Release 0.0.19
  libs/langchain-google-common/package.json
Labels: size:XS

#5865 google-gauth[patch],google-webauth[patch]: Release 0.0.19
  libs/langchain-google-gauth/package.json
  libs/langchain-google-webauth/package.json
  yarn.lock
Labels: size:XS

#5866 google-vertexai[patch],google-vertexai-web[patch]: Release 0.0.19
  libs/langchain-google-vertexai-web/package.json
  libs/langchain-google-vertexai/package.json
  yarn.lock
Labels: size:XS

#5847 [patch]: Set cloudflare ai resoultions version in root
  libs/langchain-cloudflare/package.json
  libs/langchain-community/package.json
  yarn.lock
Labels: auto:nit, size:XS

#5868 community[patch]: Release 0.2.13
  libs/langchain-community/package.json
Labels: auto:nit, size:XS

#5870 docs[patch]: Add note about openai formatted tools
  docs/core_docs/docs/how_to/tool_calling.ipynb
Labels: auto:documentation, size:XS

#5735 docs[minor]: bedrock tool calling/WSO docs
  docs/core_docs/docs/integrations/chat/bedrock.mdx
  examples/src/models/chat/integration_bedrock_tools.ts
  examples/src/models/chat/integration_bedrock_wso.ts
Labels: auto:improvement, auto:documentation, size:L

#5883 docs[patch]: Add callout, update chatbot tools guide
  docs/core_docs/docs/concepts.mdx
  docs/core_docs/docs/how_to/chatbots_tools.ipynb
Labels: auto:documentation, size:L

#5842 community[minor]: JinaAI embeddings integration
  docs/core_docs/docs/integrations/text_embedding/jina.mdx
  examples/src/embeddings/jina.ts
  examples/src/models/embeddings/jina.ts
  libs/langchain-community/.gitignore
  libs/langchain-community/langchain.config.js
  libs/langchain-community/package.json
  libs/langchain-community/src/embeddings/jina.ts
  libs/langchain-community/src/embeddings/tests/jina.int.test.ts
  libs/langchain-community/src/load/import_constants.ts
Labels: auto:enhancement, size:L

#5867 community-experimental[minor]: feat: implement DatadogLLMObsTracer
  docs/core_docs/.gitignore
  docs/core_docs/docs/integrations/callbacks/datadog_tracer.mdx
  docs/core_docs/src/css/custom.css
  examples/src/callbacks/datadog.ts
  libs/langchain-community/.gitignore
  libs/langchain-community/langchain.config.js
  libs/langchain-community/package.json
  libs/langchain-community/src/experimental/callbacks/handlers/datadog.ts
  libs/langchain-community/src/experimental/callbacks/handlers/tests/datadog.test.ts
  libs/langchain-community/src/load/import_map.ts
Labels: lgtm, auto:enhancement, size:XL

#5874 core[patch]: Fix #5873 (LCEL issue when streaming from LLMs)
  langchain-core/src/language_models/llms.ts
  langchain-core/src/language_models/tests/llms.test.ts
Labels: lgtm, auto:bug, size:S

#5881 langchain[patch]: fix:pass runManager to DocumentCompressor in MultiQueryRetriever
  langchain/src/retrievers/multi_query.ts
Labels: auto:bug, size:XS

#5564 community[patch]: Add pgvector index using HNSW
  docs/core_docs/docs/integrations/vectorstores/pgvector.mdx
  examples/src/indexes/vector_stores/pgvector_vectorstore/pgvector_hnsw.ts
  libs/langchain-community/src/vectorstores/pgvector.ts
  libs/langchain-community/src/vectorstores/tests/pgvector/pgvector.int.test.ts
Labels: lgtm, auto:enhancement, auto:documentation, size:L

#5885 core[patch]: fix: Document should handle empty pageContent (fixes #5884)
  langchain-core/src/documents/document.ts
  langchain-core/src/tests/document.test.ts
Labels: lgtm, auto:bug, size:S

#5892 build[patch]: Format
  docs/core_docs/docs/integrations/vectorstores/pgvector.mdx
Labels: size:XS

#5768 ci[patch]: fix unit-tests-integrations by implementing dynamic matrix strategy.
  .github/workflows/unit-tests-integrations.yml
Labels: auto:improvement, size:M

#5584 langchain[minor]: Multi-file loader
  docs/core_docs/docs/integrations/document_loaders/file_loaders/multi_file.mdx
  langchain/.gitignore
  langchain/langchain.config.js
  langchain/package.json
  langchain/src/document_loaders/fs/multi_file.ts
  langchain/src/document_loaders/tests/multi_file.test.ts
  langchain/src/load/import_constants.ts
Labels: lgtm, auto:enhancement, size:L

#5895 ci[patch]: Adds npm install test for conflicting deps
  .github/workflows/compatibility.yml
  dependency_range_tests/docker-compose.yml
  dependency_range_tests/scripts/with_standard_tests/community/npm-install.sh
Labels: lgtm, auto:improvement, size:M

#5896 core[patch]: Release 0.2.10
  langchain-core/package.json
Labels: size:XS
