Repository langchain-ai/langchainjs, pull requests merged in 2024-08, with the labels that each got.

#6302 ci[patch]: Make notebook validation script handle default imports
  docs/core_docs/scripts/validate_notebook.ts
Labels: auto:documentation, size:S

#6306 core[patch]: Allow dynamic tools to be initialized with JSON schema
  langchain-core/src/tools/index.ts
  langchain-core/src/tools/tests/tools.test.ts
Labels: auto:improvement, size:L

#6304 docs[patch]: Fix .png badge bug and var naming
  docs/core_docs/docs/integrations/chat/fireworks.ipynb
  docs/core_docs/docs/integrations/chat/mistral.ipynb
Labels: auto:documentation, size:L

#6307 langchain[patch]: Fix: Change sqlite to SQL in query checker prompt
  langchain/src/tools/sql.ts
Labels: auto:nit, size:XS

#6285 docs[minor]: Update ChatAzureOpenAI integration docs
  docs/core_docs/docs/integrations/chat/azure.ipynb
  docs/core_docs/docs/integrations/chat/azure.mdx
Labels: size:XL

#6313 community[patch]: Fix types
  libs/langchain-community/src/llms/layerup_security.ts
  libs/langchain-community/src/llms/tests/layerup_security.test.ts
Labels: auto:nit, size:S

#6312 ci[patch]: Make notebook validation only run in core_docs
  .github/workflows/validate_new_notebooks.yml
Labels: auto:nit, size:S

#6314 docs[minor]: Add TogetherAI updated integration doc
  docs/core_docs/docs/integrations/chat/togetherai.ipynb
  docs/core_docs/docs/integrations/chat/togetherai.mdx
Labels: auto:documentation, size:L

#6303 scripts[minor]: Add CLI for document loader integration docs
  docs/core_docs/docs/integrations/chat/fireworks.ipynb
  docs/core_docs/docs/integrations/chat/mistral.ipynb
  docs/core_docs/docs/integrations/chat/togetherai.ipynb
  docs/core_docs/docs/integrations/document_loaders/web_loaders/web_cheerio.ipynb
  docs/core_docs/docs/integrations/document_loaders/web_loaders/web_cheerio.mdx
  libs/langchain-scripts/package.json
  libs/langchain-scripts/src/cli/docs/chat.ts
  libs/langchain-scripts/src/cli/docs/document_loaders.ts
  libs/langchain-scripts/src/cli/docs/index.ts
  libs/langchain-scripts/src/cli/docs/templates/chat.ipynb
  libs/langchain-scripts/src/cli/docs/templates/document_loaders.ipynb
  yarn.lock
Labels: size:XL

#6289 docs[minor]: Updated groq docs
  docs/core_docs/docs/integrations/chat/groq.ipynb
  docs/core_docs/docs/integrations/chat/groq.mdx
Labels: size:XL

#6286 docs[minor]: Updated cohere docs
  docs/core_docs/docs/integrations/chat/cohere.ipynb
  docs/core_docs/docs/integrations/chat/cohere.mdx
Labels: auto:documentation, size:L

#6316 ci[patch]: Fix notebook lint for namespace imports
  docs/core_docs/scripts/validate_notebook.ts
Labels: auto:documentation, size:XS

#6281 docs[minor]: Update OpenAI and Anthropic to use new doc structure
  docs/core_docs/docs/integrations/chat/anthropic.ipynb
  docs/core_docs/docs/integrations/chat/anthropic.mdx
  docs/core_docs/docs/integrations/chat/openai.ipynb
  docs/core_docs/docs/integrations/chat/openai.mdx
Labels: auto:documentation, size:XXL

#6317 docs[minor]: Updated google vertexai docs
  docs/core_docs/docs/integrations/chat/google_vertex_ai.ipynb
  docs/core_docs/docs/integrations/chat/google_vertex_ai.mdx
Labels: size:XL

#6315 docs[minor]: Updated ollama docs
  docs/core_docs/docs/integrations/chat/ollama.ipynb
  docs/core_docs/docs/integrations/chat/ollama.mdx
Labels: auto:documentation, size:XL

#6282 core[patch]: Allow any module to emit a custom event
  langchain-core/src/callbacks/manager.ts
  langchain-core/src/language_models/tests/chat_models.test.ts
  langchain-core/src/utils/testing/index.ts
Labels: lgtm, auto:improvement, size:M

#6320 docs[patch]: Remove todos in cheerio doc
  docs/core_docs/docs/integrations/document_loaders/web_loaders/web_cheerio.ipynb
Labels: size:XS

#6321 docs[minor]: Updated puppeteer loader
  docs/core_docs/docs/integrations/document_loaders/web_loaders/web_puppeteer.ipynb
  docs/core_docs/docs/integrations/document_loaders/web_loaders/web_puppeteer.mdx
  libs/langchain-scripts/src/cli/docs/document_loaders.ts
  libs/langchain-scripts/src/cli/docs/templates/document_loaders.ipynb
Labels: auto:documentation, size:XL

#6325 core[patch]: Release 0.2.19
  langchain-core/package.json
Labels: size:XS

#6326 docs[minor]: Update FireCrawl integration docs
  deno.json
  docs/core_docs/docs/integrations/document_loaders/web_loaders/firecrawl.ipynb
  docs/core_docs/docs/integrations/document_loaders/web_loaders/firecrawl.mdx
Labels: auto:documentation, size:L

#6328 docs[patch]: Update cheerio web loader sidebar name to cheerio
  docs/core_docs/docs/integrations/document_loaders/web_loaders/web_cheerio.ipynb
Labels: auto:documentation, size:XS

#6323 langchain[minor]: use langsmith sdk for prompts functionality instead of langchain hub
  langchain/package.json
  langchain/src/hub.ts
  yarn.lock
Labels: lgtm, auto:improvement, size:M

#6329 scripts[patch]: Fixed false warning for api ref link
  libs/langchain-scripts/src/cli/docs/document_loaders.ts
Labels: auto:nit, size:XS

#6327 scripts[minor],docs[minor]: Add LLM integration doc template and updated OpenAI LLM doc
  docs/core_docs/docs/integrations/llms/openai.ipynb
  docs/core_docs/docs/integrations/llms/openai.mdx
  libs/langchain-scripts/src/cli/docs/document_loaders.ts
  libs/langchain-scripts/src/cli/docs/index.ts
  libs/langchain-scripts/src/cli/docs/llms.ts
  libs/langchain-scripts/src/cli/docs/templates/llms.ipynb
Labels: auto:documentation, size:XL

#6330 docs[minor]: Update Azure LLM doc
  docs/core_docs/docs/integrations/llms/azure.ipynb
  docs/core_docs/docs/integrations/llms/azure.mdx
Labels: auto:documentation, size:L

#6332 docs[minor]: Upgrade cohere llm integration doc
  docs/core_docs/docs/integrations/llms/cohere.ipynb
  docs/core_docs/docs/integrations/llms/cohere.mdx
Labels: auto:documentation, size:L

#6334 docs[patch]: Add escape hatch
  docs/core_docs/scripts/quarto-build.js
  docs/core_docs/scripts/validate_notebook.ts
Labels: auto:documentation, size:S

#6336 docs[patch]: Update document loader doc template and script
  libs/langchain-scripts/src/cli/docs/document_loaders.ts
  libs/langchain-scripts/src/cli/docs/templates/document_loaders.ipynb
Labels: lgtm, auto:documentation, size:S

#6333 docs[minor]: Update Fireworks llm doc
  docs/core_docs/docs/integrations/llms/fireworks.ipynb
  docs/core_docs/docs/integrations/llms/fireworks.mdx
Labels: auto:documentation, size:L

#6331 docs[minor]: Update bedrock llm integration doc
  deno.json
  docs/core_docs/docs/integrations/llms/bedrock.ipynb
  docs/core_docs/docs/integrations/llms/bedrock.mdx
  libs/langchain-scripts/src/cli/docs/templates/llms.ipynb
Labels: auto:documentation, size:L

#6324 docs[minor]: Update webpdf loader docs
  docs/core_docs/docs/integrations/document_loaders/web_loaders/pdf.ipynb
  docs/core_docs/docs/integrations/document_loaders/web_loaders/pdf.mdx
Labels: auto:documentation, size:L

#6339 anthropic[patch]: Fix Anthropic streaming calls with withStructuredOutput
  libs/langchain-anthropic/src/output_parsers.ts
  libs/langchain-anthropic/src/tests/chat_models-tools.int.test.ts
Labels: auto:bug, size:M

#6340 anthropic[patch]: Release 0.2.12
  libs/langchain-anthropic/package.json
Labels: size:XS

#6335 docs[minor]: Update VertexAI LLM doc
  docs/core_docs/docs/integrations/llms/google_vertex_ai.ipynb
  docs/core_docs/docs/integrations/llms/google_vertex_ai.mdx
Labels: auto:documentation, size:L

#6345 docs[minor]: Update CSV doc
  docs/core_docs/docs/integrations/document_loaders/file_loaders/csv.ipynb
  docs/core_docs/docs/integrations/document_loaders/file_loaders/csv.mdx
Labels: size:L

#6342 docs[minor]: Update fs pdf loader doc
  docs/core_docs/docs/integrations/document_loaders/file_loaders/pdf.ipynb
  docs/core_docs/docs/integrations/document_loaders/file_loaders/pdf.mdx
Labels: auto:documentation, size:XL

#6347 docs[minor]: updated DirectoryLoader docs
  docs/core_docs/docs/integrations/document_loaders/file_loaders/directory.ipynb
  docs/core_docs/docs/integrations/document_loaders/file_loaders/directory.mdx
Labels: auto:documentation, size:L

#6344 docs[minor]: Update unstructured doc loader
  docs/core_docs/docs/integrations/document_loaders/file_loaders/unstructured.ipynb
  docs/core_docs/docs/integrations/document_loaders/file_loaders/unstructured.mdx
Labels: auto:documentation, size:L

#6343 docs[minor]: updated TextLoader doc
  docs/core_docs/docs/integrations/document_loaders/file_loaders/text.ipynb
  docs/core_docs/docs/integrations/document_loaders/file_loaders/text.mdx
Labels: auto:documentation, size:L

#6352 docs[minor]: Updated AWS Knowledge retriever doc
  docs/core_docs/docs/integrations/retrievers/bedrock-knowledge-bases.ipynb
  docs/core_docs/docs/integrations/retrievers/bedrock-knowledge-bases.mdx
Labels: size:L

#6310 google-common[patch]: Add `method` property to GoogleAISafetySetting interface
  libs/langchain-google-common/src/types.ts
Labels: lgtm, auto:improvement, size:XS

#6348 docs[patch]: Adds text embeddings template
  docs/core_docs/docs/integrations/text_embedding/openai.ipynb
  docs/core_docs/docs/integrations/text_embedding/openai.mdx
  libs/langchain-scripts/src/cli/docs/embeddings.ts
  libs/langchain-scripts/src/cli/docs/index.ts
  libs/langchain-scripts/src/cli/docs/templates/text_embedding.ipynb
Labels: auto:documentation, size:XL

#6346 docs[patch]: Adds retriever integration docs template
  docs/core_docs/docs/integrations/retrievers/exa.ipynb
  docs/core_docs/docs/integrations/retrievers/exa.mdx
  libs/langchain-scripts/src/cli/docs/index.ts
  libs/langchain-scripts/src/cli/docs/retrievers.ts
  libs/langchain-scripts/src/cli/docs/templates/retrievers.ipynb
Labels: auto:documentation, size:XL

#6355 core[patch], langchain[patch]: Inline ml-distance functions due to type errors, fix type errors
  deno.json
  docs/core_docs/docs/integrations/vectorstores/memory.mdx
  environment_tests/docker-compose.yml
  examples/package.json
  examples/src/indexes/vector_stores/memory_custom_similarity.ts
  langchain-core/.eslintrc.cjs
  langchain-core/package.json
  langchain-core/src/language_models/chat_models.ts
  langchain-core/src/language_models/llms.ts
  langchain-core/src/utils/math.ts
  langchain-core/src/utils/ml-distance-euclidean/LICENSE
  langchain-core/src/utils/ml-distance-euclidean/euclidean.ts
  langchain-core/src/utils/ml-distance/LICENSE
  langchain-core/src/utils/ml-distance/distances.ts
  langchain-core/src/utils/ml-distance/similarities.ts
  langchain-core/src/utils/testing/index.ts
  langchain/.eslintrc.cjs
  langchain/package.json
  langchain/src/evaluation/embedding_distance/base.ts
  langchain/src/util/ml-distance-euclidean/LICENSE
  langchain/src/util/ml-distance-euclidean/euclidean.ts
  langchain/src/util/ml-distance/LICENSE
  langchain/src/util/ml-distance/distances.ts
  langchain/src/util/ml-distance/similarities.ts
  langchain/src/vectorstores/memory.ts
  langchain/src/vectorstores/tests/memory.test.ts
  libs/langchain-baidu-qianfan/package.json
  yarn.lock
Labels: auto:bug, size:L

#6305 core: Add signal/timeout options to RunnableConfig
  langchain-core/src/language_models/base.ts
  langchain-core/src/language_models/chat_models.ts
  langchain-core/src/language_models/llms.ts
  langchain-core/src/runnables/base.ts
  langchain-core/src/runnables/config.ts
  langchain-core/src/runnables/remote.ts
  langchain-core/src/runnables/tests/runnable_stream_events_v2.test.ts
  langchain-core/src/runnables/tests/signal.test.ts
  langchain-core/src/runnables/types.ts
  langchain-core/src/utils/signal.ts
  langchain-core/src/utils/stream.ts
  langchain-core/src/utils/testing/index.ts
  libs/langchain-standard-tests/src/integration_tests/chat_models.ts
Labels: auto:improvement, size:XL

#6357 scripts[major]: Cleanup CLI integration template scripts
  docs/core_docs/docs/integrations/text_embedding/togetherai.ipynb
  docs/core_docs/docs/integrations/text_embedding/togetherai.mdx
  libs/langchain-scripts/src/cli/README.md
  libs/langchain-scripts/src/cli/constants.ts
  libs/langchain-scripts/src/cli/docs/chat.ts
  libs/langchain-scripts/src/cli/docs/document_loaders.ts
  libs/langchain-scripts/src/cli/docs/embeddings.ts
  libs/langchain-scripts/src/cli/docs/index.ts
  libs/langchain-scripts/src/cli/docs/llms.ts
  libs/langchain-scripts/src/cli/docs/retrievers.ts
  libs/langchain-scripts/src/cli/docs/templates/chat.ipynb
  libs/langchain-scripts/src/cli/docs/templates/document_loaders.ipynb
  libs/langchain-scripts/src/cli/docs/templates/llms.ipynb
  libs/langchain-scripts/src/cli/docs/templates/retrievers.ipynb
  libs/langchain-scripts/src/cli/docs/templates/text_embedding.ipynb
  libs/langchain-scripts/src/cli/utils/fetch-url-status.ts
Labels: auto:documentation, size:XXL

#6356 docs[minor]: Update azure openai embeddings docs
  docs/core_docs/docs/integrations/llms/azure.ipynb
  docs/core_docs/docs/integrations/text_embedding/azure_openai.ipynb
  docs/core_docs/docs/integrations/text_embedding/azure_openai.mdx
Labels: auto:documentation, size:XL

#6363 core[patch]: Release 0.2.20
  langchain-core/package.json
Labels: size:XS

#6341 community[patch]: Add namespace to allow indexing multiple tables within the same schema
  libs/langchain-community/src/vectorstores/pgvector.ts
Labels: lgtm, auto:improvement, size:XS

#6308 community[patch]: add clientParams option to Chroma vectorstore init args
  libs/langchain-community/package.json
  libs/langchain-community/src/vectorstores/chroma.ts
  yarn.lock
Labels: lgtm, auto:bug, size:M

#6361 mongodb[patch]: Fix bug in mongodb storage.ts
  libs/langchain-mongodb/src/storage.ts
Labels: lgtm, auto:bug, size:XS

#6365 mongodb[patch]: Release 0.0.5
  libs/langchain-mongodb/package.json
Labels: size:XS

#6366 community[patch]: Release 0.2.23
  libs/langchain-community/package.json
Labels: size:XS

#6364 docs[patch]: Adds docs on cancelling execution
  docs/core_docs/.gitignore
  docs/core_docs/docs/how_to/cancel_execution.ipynb
  docs/core_docs/docs/how_to/index.mdx
  docs/core_docs/docs/integrations/document_loaders/web_loaders/pdf.ipynb
  docs/core_docs/docs/integrations/llms/bedrock.ipynb
  docs/core_docs/scripts/quarto-build.js
Labels: auto:documentation, size:L

#6359 docs[minor]: Update cohere embeddings docs
  docs/core_docs/docs/integrations/text_embedding/cohere.ipynb
  docs/core_docs/docs/integrations/text_embedding/cohere.mdx
Labels: auto:documentation, size:L

#6362 docs[minor]: Update mistral embedding docs
  docs/core_docs/docs/integrations/text_embedding/mistralai.ipynb
  docs/core_docs/docs/integrations/text_embedding/mistralai.mdx
Labels: auto:documentation, size:L

#6360 docs[minor],community[patch]: Update fireworks embeddings doc, add model param
  docs/core_docs/docs/integrations/text_embedding/fireworks.ipynb
  docs/core_docs/docs/integrations/text_embedding/fireworks.mdx
  libs/langchain-community/src/embeddings/fireworks.ts
Labels: auto:documentation, size:L

#6353 google-genai[patch]: Update ChatGoogleGenerativeAI serialization
  libs/langchain-google-genai/src/chat_models.ts
Labels: auto:improvement, size:XS

#6385 google-genai[patch]: Release 0.0.24
  libs/langchain-google-genai/package.json
Labels: size:XS

#6390 Update release-it across all packages
  langchain-core/package.json
  langchain/package.json
  libs/langchain-anthropic/package.json
  libs/langchain-aws/package.json
  libs/langchain-azure-dynamic-sessions/package.json
  libs/langchain-azure-openai/package.json
  libs/langchain-baidu-qianfan/package.json
  libs/langchain-cloudflare/package.json
  libs/langchain-cohere/package.json
  libs/langchain-community/package.json
  libs/langchain-exa/package.json
  libs/langchain-google-common/package.json
  libs/langchain-google-gauth/package.json
  libs/langchain-google-genai/package.json
  libs/langchain-google-vertexai-web/package.json
  libs/langchain-google-vertexai/package.json
  libs/langchain-google-webauth/package.json
  libs/langchain-groq/package.json
  libs/langchain-mistralai/package.json
  libs/langchain-mixedbread-ai/package.json
  libs/langchain-mongodb/package.json
  libs/langchain-nomic/package.json
  libs/langchain-ollama/package.json
  libs/langchain-openai/package.json
  libs/langchain-pinecone/package.json
  libs/langchain-qdrant/package.json
  libs/langchain-redis/package.json
  libs/langchain-scripts/package.json
  libs/langchain-standard-tests/package.json
  libs/langchain-textsplitters/package.json
  libs/langchain-weaviate/package.json
  yarn.lock
Labels: auto:nit, size:M

#6392 Lock protobufjs version to resolve critical vulnerability
  package.json
  yarn.lock
Labels: auto:bug, size:XS

#6380 docs[patch]: Update AWS Kendra docs
  docs/core_docs/docs/integrations/retrievers/exa.ipynb
  docs/core_docs/docs/integrations/retrievers/kendra-retriever.ipynb
  docs/core_docs/docs/integrations/retrievers/kendra-retriever.mdx
Labels: auto:documentation, size:L

#6394 Update wrangler in env test
  environment_tests/test-exports-cf/package.json
Labels: auto:nit, size:XS

#6396 community[patch]: Fix infinite loop if no results for Neo4j
  libs/langchain-community/src/vectorstores/neo4j_vector.ts
Labels: auto:nit, size:XS

#6391 scripts[minor]: Add toolkit template
  docs/core_docs/docs/integrations/toolkits/sql.ipynb
  docs/core_docs/docs/integrations/toolkits/sql.mdx
  libs/langchain-scripts/src/cli/docs/index.ts
  libs/langchain-scripts/src/cli/docs/templates/toolkits.ipynb
  libs/langchain-scripts/src/cli/docs/toolkits.ts
Labels: auto:documentation, size:XL

#6379 scripts[minor],docs[minor]: Add template for KV store. Updated in memory & fs store docs
  docs/core_docs/docs/integrations/stores/file_system.ipynb
  docs/core_docs/docs/integrations/stores/file_system.mdx
  docs/core_docs/docs/integrations/stores/in_memory.ipynb
  docs/core_docs/docs/integrations/stores/in_memory.mdx
  libs/langchain-scripts/src/cli/docs/index.ts
  libs/langchain-scripts/src/cli/docs/kv_store.ts
  libs/langchain-scripts/src/cli/docs/templates/kv_store.ipynb
Labels: auto:documentation, size:XL

#6400 docs[patch]: Update tavily retriever docs
  docs/core_docs/docs/integrations/retrievers/tavily.ipynb
  docs/core_docs/docs/integrations/retrievers/tavily.mdx
Labels: auto:documentation, size:L

#6398 docs[minor]: Update self-query retriever docs
  docs/core_docs/.gitignore
  docs/core_docs/docs/how_to/streaming.ipynb
  docs/core_docs/docs/integrations/retrievers/bedrock-knowledge-bases.ipynb
  docs/core_docs/docs/integrations/retrievers/exa.ipynb
  docs/core_docs/docs/integrations/retrievers/kendra-retriever.ipynb
  docs/core_docs/docs/integrations/retrievers/self_query/chroma.ipynb
  docs/core_docs/docs/integrations/retrievers/self_query/chroma.mdx
  docs/core_docs/docs/integrations/retrievers/self_query/hnswlib.ipynb
  docs/core_docs/docs/integrations/retrievers/self_query/hnswlib.mdx
  docs/core_docs/docs/integrations/retrievers/self_query/memory.ipynb
  docs/core_docs/docs/integrations/retrievers/self_query/memory.mdx
  docs/core_docs/docs/integrations/retrievers/self_query/pinecone.ipynb
  docs/core_docs/docs/integrations/retrievers/self_query/pinecone.mdx
  docs/core_docs/docs/integrations/retrievers/self_query/qdrant.ipynb
  docs/core_docs/docs/integrations/retrievers/self_query/qdrant.mdx
  docs/core_docs/docs/integrations/retrievers/self_query/supabase.ipynb
  docs/core_docs/docs/integrations/retrievers/self_query/supabase.mdx
  docs/core_docs/docs/integrations/retrievers/self_query/vectara.ipynb
  docs/core_docs/docs/integrations/retrievers/self_query/vectara.mdx
  docs/core_docs/docs/integrations/retrievers/self_query/weaviate.ipynb
  docs/core_docs/docs/integrations/retrievers/self_query/weaviate.mdx
  docs/core_docs/package.json
  docs/core_docs/scripts/quarto-build.js
  examples/package.json
  langchain/package.json
  libs/langchain-community/langchain.config.js
  libs/langchain-community/package.json
  libs/langchain-scripts/src/cli/docs/templates/retrievers.ipynb
  yarn.lock
Labels: auto:documentation, size:XXL

#6401 docs[patch]: Add redirect from vector store retriever page
  docs/core_docs/docs/integrations/retrievers/tavily.ipynb
  docs/core_docs/docs/integrations/retrievers/vectorstore.mdx
  docs/core_docs/vercel.json
Labels: auto:documentation, size:S

#6403 docs[patch]: Simplify Anthropic docs
  docs/core_docs/docs/integrations/chat/anthropic.ipynb
  libs/langchain-anthropic/src/chat_models.ts
Labels: auto:documentation, size:XL

#6404 ci[patch]: Run aws package in daily standard tests
  .github/workflows/standard-tests.yml
Labels: auto:nit, size:XS

#6399 docs[minor]: Update OpenAPI toolkit docs
  docs/core_docs/docs/integrations/toolkits/openapi.ipynb
  docs/core_docs/docs/integrations/toolkits/openapi.mdx
  libs/langchain-scripts/src/cli/docs/templates/toolkits.ipynb
  libs/langchain-scripts/src/cli/docs/toolkits.ts
Labels: auto:documentation, size:L

#6406 aws[minor]: Account for content strings and tool use
  libs/langchain-aws/src/common.ts
Labels: auto:improvement, size:M

#6410 aws[patch]: Release 0.0.7
  libs/langchain-aws/package.json
Labels: size:XS

#6415 docs[patch]: Refactor duckduckgo doc to use langgraph agent
  docs/core_docs/docs/integrations/toolkits/openapi.ipynb
  docs/core_docs/docs/integrations/tools/duckduckgo_search.ipynb
Labels: auto:documentation, size:M

#6407 docs[minor]: Update vectorstore toolkit docs
  docs/core_docs/docs/integrations/toolkits/vectorstore.ipynb
  docs/core_docs/docs/integrations/toolkits/vectorstore.mdx
Labels: auto:documentation, size:L

#6417 docs[patch]: Update links, delete duped page
  docs/core_docs/docs/integrations/chat/anthropic.ipynb
  docs/core_docs/docs/integrations/chat/azure.ipynb
  docs/core_docs/docs/integrations/chat/cohere.ipynb
  docs/core_docs/docs/integrations/chat/fireworks.ipynb
  docs/core_docs/docs/integrations/chat/google_vertex_ai.ipynb
  docs/core_docs/docs/integrations/chat/groq.ipynb
  docs/core_docs/docs/integrations/chat/mistral.ipynb
  docs/core_docs/docs/integrations/chat/ollama.ipynb
  docs/core_docs/docs/integrations/chat/openai.ipynb
  docs/core_docs/docs/integrations/chat/togetherai.ipynb
  docs/core_docs/docs/integrations/llms/azure.ipynb
  docs/core_docs/docs/integrations/llms/fireworks.ipynb
  docs/core_docs/docs/integrations/llms/google_vertex_ai.ipynb
  docs/core_docs/docs/integrations/llms/mistral.ipynb
  docs/core_docs/docs/integrations/llms/mistralai.ipynb
  docs/core_docs/docs/integrations/llms/openai.ipynb
Labels: auto:documentation, size:L

#6414 scripts[minor]: Add vectorstore template to CLI, add memory and Chroma examples
  docs/core_docs/docs/integrations/retrievers/self_query/memory.ipynb
  docs/core_docs/docs/integrations/vectorstores/chroma.ipynb
  docs/core_docs/docs/integrations/vectorstores/chroma.mdx
  docs/core_docs/docs/integrations/vectorstores/memory.ipynb
  docs/core_docs/docs/integrations/vectorstores/memory.mdx
  libs/langchain-scripts/src/cli/docs/index.ts
  libs/langchain-scripts/src/cli/docs/templates/tools.ipynb
  libs/langchain-scripts/src/cli/docs/templates/vectorstores.ipynb
  libs/langchain-scripts/src/cli/docs/vectorstores.ts
Labels: auto:documentation, size:XXL

#6418 openai[minor],core[minor]: Add support for passing strict in openai tools
  docs/core_docs/docs/integrations/chat/openai.ipynb
  langchain-core/src/language_models/base.ts
  langchain-core/src/utils/function_calling.ts
  langchain/src/agents/openai_tools/index.ts
  langchain/src/agents/openai_tools/output_parser.ts
  libs/langchain-groq/src/chat_models.ts
  libs/langchain-ollama/src/chat_models.ts
  libs/langchain-openai/package.json
  libs/langchain-openai/src/chat_models.ts
  libs/langchain-openai/src/tests/azure/chat_models.standard.int.test.ts
  libs/langchain-openai/src/tests/chat_models.test.ts
  libs/langchain-openai/src/tests/chat_models_structured_output.int.test.ts
  libs/langchain-openai/src/types.ts
  yarn.lock
Labels: auto:improvement, auto:documentation, size:XL

#6253 core[minor]: Allow for simple tool schema to be passed to bindTools
  langchain-core/src/language_models/chat_models.ts
  langchain-core/src/tools/index.ts
  langchain-core/src/utils/function_calling.ts
  langchain/src/chat_models/universal.ts
  libs/langchain-anthropic/src/chat_models.ts
  libs/langchain-anthropic/src/types.ts
  libs/langchain-anthropic/src/utils/tools.ts
  libs/langchain-aws/src/chat_models.ts
  libs/langchain-aws/src/common.ts
  libs/langchain-aws/src/types.ts
  libs/langchain-cohere/src/chat_models.ts
  libs/langchain-community/src/chat_models/bedrock/web.ts
  libs/langchain-google-common/src/chat_models.ts
  libs/langchain-google-common/src/connection.ts
  libs/langchain-google-common/src/types.ts
  libs/langchain-google-common/src/utils/common.ts
  libs/langchain-google-genai/src/chat_models.ts
  libs/langchain-google-genai/src/types.ts
  libs/langchain-google-genai/src/utils/common.ts
  libs/langchain-google-vertexai/package.json
  libs/langchain-groq/src/chat_models.ts
  libs/langchain-mistralai/src/chat_models.ts
  libs/langchain-ollama/src/chat_models.ts
  libs/langchain-openai/src/chat_models.ts
  yarn.lock
Labels: auto:improvement, size:XL

#6421 core[patch]: Release 0.2.21
  langchain-core/package.json
Labels: size:XS

#6422 openai[patch]: Release 0.2.6
  libs/langchain-openai/package.json
  yarn.lock
Labels: auto:nit, size:XS

#6425 Release 0.2.13
  langchain/package.json
  yarn.lock
Labels: size:XS

#6426 anthropic[patch]: Release 0.2.13
  libs/langchain-anthropic/package.json
  yarn.lock
Labels: size:XS

#6424 standard-tests[minor]: Add standard test for StructuredToolParams schemas
  libs/langchain-standard-tests/src/integration_tests/chat_models.ts
Labels: auto:nit, size:M

#6427 aws[patch]: Release 0.0.8
  libs/langchain-aws/package.json
  libs/langchain-aws/src/tests/chat_models.int.test.ts
  yarn.lock
Labels: size:XS

#6428 cohere[patch]: Release 0.2.2
  libs/langchain-cohere/package.json
  yarn.lock
Labels: size:XS

#6429 community[patch]: Release 0.2.24
  libs/langchain-community/package.json
  yarn.lock
Labels: size:XS

#6430 google-common[patch]: Release 0.0.23
  libs/langchain-google-common/package.json
  yarn.lock
Labels: size:XS

#6431 google-genai[patch]: Release 0.0.25
  libs/langchain-google-genai/package.json
  yarn.lock
Labels: size:XS

#6432 groq[patch]: Release 0.0.16
  libs/langchain-groq/package.json
  yarn.lock
Labels: size:XS

#6433 mistralai[patch]: Release 0.0.28
  libs/langchain-mistralai/package.json
  yarn.lock
Labels: size:XS

#6434 ollama[patch]: Release 0.0.3
  libs/langchain-ollama/package.json
  libs/langchain-ollama/src/tests/chat_models.int.test.ts
  yarn.lock
Labels: size:XS

#6435 google[patch]: Release 0.0.22
  libs/langchain-google-gauth/package.json
  libs/langchain-google-vertexai-web/package.json
  libs/langchain-google-vertexai/package.json
  libs/langchain-google-webauth/package.json
  yarn.lock
Labels: size:S

#6436 [patch]: Run yarn install & update lock file
  yarn.lock
Labels: size:XS

#6437 langchain[patch]: Fix CI build
  .github/workflows/unit-tests-integrations.yml
  .github/workflows/unit-tests-langchain-core.yml
  .github/workflows/unit-tests-langchain.yml
  langchain/package.json
  langchain/src/chat_models/universal.ts
  yarn.lock
Labels: size:S

#6442 docs[minor]: Update exa tool docs
  docs/core_docs/docs/integrations/tools/exa_search.ipynb
  docs/core_docs/docs/integrations/tools/exa_search.mdx
Labels: auto:documentation, size:XL

#6446 docs[patch]: Adds docs on passing custom headers to OpenAI + Azure OpenAI models
  docs/core_docs/docs/integrations/chat/azure.ipynb
  docs/core_docs/docs/integrations/chat/openai.ipynb
Labels: auto:documentation, size:M

#6443 aws[minor]: Implement WSO with tool_choice
  libs/langchain-aws/package.json
  libs/langchain-aws/src/chat_models.ts
  libs/langchain-aws/src/common.ts
  libs/langchain-aws/src/tests/chat_models.test.ts
Labels: auto:improvement, size:L

#6449 aws[patch]: Release 0.0.9
  libs/langchain-aws/package.json
Labels: size:XS

#6448 docs[patch]: Update Bedrock chat model docs
  docs/core_docs/docs/integrations/chat/bedrock.ipynb
  docs/core_docs/docs/integrations/chat/bedrock.mdx
  docs/core_docs/docs/integrations/chat/bedrock_converse.ipynb
  docs/core_docs/docs/integrations/chat/bedrock_converse.mdx
  docs/core_docs/docs/integrations/tools/exa_search.ipynb
  libs/langchain-scripts/src/cli/docs/templates/chat.ipynb
Labels: auto:documentation, size:XL

#6450 community[patch]: support modelName param and update default fireworks model to Llama 3.1 8B
  libs/langchain-community/src/chat_models/fireworks.ts
Labels: auto:bug, size:XS

#6293 baidu-qianfan[minor]: Baidu Qianfan ChatCompletion upgrade, remove model validation
  docs/core_docs/docs/integrations/chat/baidu_qianfan.mdx
  docs/core_docs/docs/integrations/chat/baidu_wenxin.mdx
  examples/src/models/chat/chat_baidu_qianfan.ts
  examples/src/models/chat/chat_stream_baidu_qianfan.ts
  libs/langchain-baidu-qianfan/README.md
  libs/langchain-baidu-qianfan/package.json
  libs/langchain-baidu-qianfan/src/chat_models.ts
  libs/langchain-baidu-qianfan/src/tests/chat_models.int.test.ts
  libs/langchain-baidu-qianfan/src/utils.ts
  libs/langchain-community/src/chat_models/tests/chatbaiduwenxin.int.test.ts
  yarn.lock
Labels: lgtm, auto:improvement, size:L

#6453 baidu-qianfan[patch]: Release 0.0.2
  libs/langchain-baidu-qianfan/package.json
Labels: size:XS

#6452 Extends 6413
  libs/langchain-community/src/vectorstores/pgvector.ts
Labels: auto:improvement, size:S

#6273 community[patch]: fetchConfluenceData function in confluence.ts extended with retry
  libs/langchain-community/src/document_loaders/web/confluence.ts
Labels: auto:improvement, size:M

#6358 docs[minor]: Update Azure and Bedrock embeddings doc
  docs/core_docs/docs/integrations/chat/azure.ipynb
  docs/core_docs/docs/integrations/text_embedding/azure_openai.ipynb
  docs/core_docs/docs/integrations/text_embedding/bedrock.ipynb
  docs/core_docs/docs/integrations/text_embedding/bedrock.mdx
  libs/langchain-scripts/src/cli/docs/templates/text_embedding.ipynb
Labels: auto:documentation, size:L

#6454 community[patch]: Release 0.2.25
  libs/langchain-community/package.json
Labels: size:XS

#6455 openai[minor]: Improved Azure OpenAI JSDoc
  libs/langchain-openai/src/azure/chat_models.ts
Labels: size:L

#6457 docs[patch]: Update text embedding and llm docs
  deno.json
  docs/core_docs/docs/integrations/chat/bedrock.ipynb
  docs/core_docs/docs/integrations/chat/cloudflare_workersai.ipynb
  docs/core_docs/docs/integrations/chat/cloudflare_workersai.mdx
  docs/core_docs/docs/integrations/llms/cloudflare_workersai.ipynb
  docs/core_docs/docs/integrations/llms/cloudflare_workersai.mdx
  docs/core_docs/docs/integrations/llms/together.ipynb
  docs/core_docs/docs/integrations/llms/togetherai.mdx
  docs/core_docs/docs/integrations/text_embedding/cloudflare_ai.ipynb
  docs/core_docs/docs/integrations/text_embedding/cloudflare_ai.mdx
  docs/core_docs/docs/integrations/text_embedding/google_generativeai.ipynb
  docs/core_docs/docs/integrations/text_embedding/google_generativeai.mdx
  docs/core_docs/scripts/validate_notebook.ts
  libs/langchain-scripts/src/cli/docs/templates/llms.ipynb
  libs/langchain-scripts/src/cli/docs/templates/text_embedding.ipynb
Labels: auto:documentation, size:XXL

#6451 openai[patch],api_refs[patch]: Improve OpenAI JSDoc & API refs
  docs/api_refs/package.json
  docs/api_refs/scripts/create-entrypoints.js
  libs/langchain-openai/src/chat_models.ts
  yarn.lock
Labels: auto:documentation, size:L

#6459 google[minor]: Move Vertex embeddings to integration package
  libs/langchain-community/src/embeddings/googlevertexai.ts
  libs/langchain-google-common/src/connection.ts
  libs/langchain-google-common/src/embeddings.ts
  libs/langchain-google-common/src/index.ts
  libs/langchain-google-gauth/src/auth.ts
  libs/langchain-google-gauth/src/embeddings.ts
  libs/langchain-google-gauth/src/index.ts
  libs/langchain-google-vertexai-web/src/embeddings.ts
  libs/langchain-google-vertexai-web/src/index.ts
  libs/langchain-google-vertexai-web/src/tests/embeddings.int.test.ts
  libs/langchain-google-vertexai/package.json
  libs/langchain-google-vertexai/src/embeddings.ts
  libs/langchain-google-vertexai/src/index.ts
  libs/langchain-google-vertexai/src/tests/embeddings.int.test.ts
  libs/langchain-google-webauth/src/embeddings.ts
  libs/langchain-google-webauth/src/index.ts
  yarn.lock
Labels: auto:refactor, size:L

#6467 google[patch]: Update docstrings and embeddings export name, bump versions
  langchain/package.json
  libs/langchain-google-common/package.json
  libs/langchain-google-common/src/chat_models.ts
  libs/langchain-google-common/src/embeddings.ts
  libs/langchain-google-gauth/package.json
  libs/langchain-google-gauth/src/chat_models.ts
  libs/langchain-google-gauth/src/embeddings.ts
  libs/langchain-google-gauth/src/llms.ts
  libs/langchain-google-vertexai-web/package.json
  libs/langchain-google-vertexai-web/src/chat_models.ts
  libs/langchain-google-vertexai-web/src/embeddings.ts
  libs/langchain-google-vertexai-web/src/llms.ts
  libs/langchain-google-vertexai-web/src/tests/embeddings.int.test.ts
  libs/langchain-google-vertexai/package.json
  libs/langchain-google-vertexai/src/chat_models.ts
  libs/langchain-google-vertexai/src/embeddings.ts
  libs/langchain-google-vertexai/src/llms.ts
  libs/langchain-google-vertexai/src/tests/embeddings.int.test.ts
  libs/langchain-google-webauth/package.json
  yarn.lock
Labels: size:L

#6464 ollama[minor]: Port embeddings to ollama package
  libs/langchain-community/src/embeddings/ollama.ts
  libs/langchain-ollama/src/chat_models.ts
  libs/langchain-ollama/src/embeddings.ts
  libs/langchain-ollama/src/index.ts
  libs/langchain-ollama/src/tests/embeddings.int.test.ts
  libs/langchain-ollama/src/types.ts
Labels: auto:improvement, size:L

#6466 anthropic[patch]: Update JSDoc on chat model
  libs/langchain-anthropic/src/chat_models.ts
Labels: size:L

#6469 openai[patch]: Added example outputs to jsdoc
  libs/langchain-openai/src/azure/chat_models.ts
  libs/langchain-openai/src/chat_models.ts
Labels: size:L

#6470 docs[patch]: Update Google Vertex AI embeddings docs
  docs/core_docs/docs/integrations/chat/google_vertex_ai.ipynb
  docs/core_docs/docs/integrations/llms/google_palm.mdx
  docs/core_docs/docs/integrations/llms/google_vertex_ai.ipynb
  docs/core_docs/docs/integrations/text_embedding/google_palm.mdx
  docs/core_docs/docs/integrations/text_embedding/google_vertex_ai.ipynb
  docs/core_docs/docs/integrations/text_embedding/google_vertex_ai.mdx
Labels: auto:documentation, size:L

#6473 openai[patch],anthropic[patch]: Improve args section of jsdoc
  libs/langchain-anthropic/src/chat_models.ts
  libs/langchain-openai/src/azure/chat_models.ts
  libs/langchain-openai/src/chat_models.ts
Labels: size:M

#6471 aws[patch]: Update JSDoc on bedrock converse
  libs/langchain-aws/src/chat_models.ts
Labels: size:L

#6468 community[patch]: Update JSDoc on bedrock chat
  libs/langchain-community/src/chat_models/bedrock/index.ts
  libs/langchain-community/src/chat_models/bedrock/web.ts
Labels: size:XL

#6474 ollama[patch]: Release 0.0.4
  libs/langchain-ollama/package.json
Labels: size:XS

#6472 core[patch]: Allow overriding the fetch implementation used in RemoteRunnable
  langchain-core/src/runnables/remote.ts
  langchain-core/src/utils/event_source_parse.ts
Labels: auto:improvement, size:M

#6475 core[patch]: Release 0.2.22
  langchain-core/package.json
Labels: size:XS

#6481 langchain[patch]: Adds MMR to memory vector store
  docs/core_docs/docs/integrations/vectorstores/memory.ipynb
  langchain/src/vectorstores/memory.ts
  langchain/src/vectorstores/tests/memory.test.ts
Labels: auto:improvement, size:L

#6482 Release 0.2.14
  langchain/package.json
Labels: size:XS

#6484 docs[patch]: Add redirect for together ai llm doc
  docs/core_docs/vercel.json
Labels: auto:documentation, size:XS

#6483 docs[minor]: Expose chat memory doc section
  docs/core_docs/.gitignore
  docs/core_docs/docs/integrations/memory/astradb.mdx
  docs/core_docs/docs/integrations/memory/cassandra.mdx
  docs/core_docs/docs/integrations/memory/cloudflare_d1.mdx
  docs/core_docs/docs/integrations/memory/convex.mdx
  docs/core_docs/docs/integrations/memory/dynamodb.mdx
  docs/core_docs/docs/integrations/memory/firestore.mdx
  docs/core_docs/docs/integrations/memory/ipfs_datastore.mdx
  docs/core_docs/docs/integrations/memory/momento.mdx
  docs/core_docs/docs/integrations/memory/mongodb.mdx
  docs/core_docs/docs/integrations/memory/motorhead_memory.mdx
  docs/core_docs/docs/integrations/memory/planetscale.mdx
  docs/core_docs/docs/integrations/memory/postgres.mdx
  docs/core_docs/docs/integrations/memory/redis.mdx
  docs/core_docs/docs/integrations/memory/upstash_redis.mdx
  docs/core_docs/docs/integrations/memory/xata.mdx
  docs/core_docs/docs/integrations/memory/zep_memory.mdx
  docs/core_docs/docs/integrations/memory/zep_memory_cloud.mdx
  docs/core_docs/docs/integrations/platforms/aws.mdx
  docs/core_docs/vercel.json
Labels: auto:documentation, size:S

#6487 core[patch]: Adds streaming for RunnableWithFallbacks, update input
  langchain-core/src/runnables/base.ts
  langchain-core/src/runnables/tests/runnable_with_fallbacks.test.ts
Labels: auto:improvement, size:L

#6490 core[patch]: Release 0.2.23
  langchain-core/package.json
Labels: size:XS

#6480 anthropic[patch]: Allow 8K maxtokens header for Anthropic while using tools
  libs/langchain-anthropic/src/chat_models.ts
Labels: auto:bug, size:S

#6485 langchain[patch]: Permit createToolCallingAgent to accept RunnableLikes
  langchain/src/agents/tests/create_tool_calling_agent.int.test.ts
  langchain/src/agents/tool_calling/index.ts
Labels: auto:improvement, size:M

#6486 docs[minor]: Add missing {context} variable in example
  langchain/src/chains/retrieval_qa.ts
Labels: size:XS

#6491 Release 0.2.15
  langchain/package.json
Labels: size:XS

#6492 anthropic[patch]: Release 0.2.14
  libs/langchain-anthropic/package.json
Labels: size:XS

#6495 community[patch]: Fix Fireworks tool streaming
  libs/langchain-community/package.json
  libs/langchain-community/src/chat_models/fireworks.ts
  libs/langchain-community/src/chat_models/tests/chatfireworks.standard.int.test.ts
  libs/langchain-community/src/tools/calculator.ts
  yarn.lock
Labels: size:S

#6494 docs[minor]: Update base model in `ChatFriendli` ChatModel
  docs/core_docs/docs/integrations/chat/friendli.mdx
  examples/src/models/chat/friendli.ts
  libs/langchain-community/src/chat_models/friendli.ts
Labels: auto:documentation, size:XS

#6488 community[patch]: Support for specifying api url for firecrawl document loader
  libs/langchain-community/package.json
  libs/langchain-community/src/document_loaders/web/firecrawl.ts
  yarn.lock
Labels: auto:improvement, size:S

#6496 community[patch]: Release 0.2.26
  libs/langchain-community/package.json
Labels: size:XS

#6497 core[patch]: Remove signal event listener when completed
  langchain-core/src/runnables/tests/signal.test.ts
  langchain-core/src/utils/signal.ts
Labels: auto:improvement, size:M

#6499 docs[patch]: Adds Cohere chat model docstring, update others
  libs/langchain-anthropic/src/chat_models.ts
  libs/langchain-aws/src/chat_models.ts
  libs/langchain-cohere/src/chat_models.ts
  libs/langchain-community/src/chat_models/bedrock/web.ts
  libs/langchain-openai/src/azure/chat_models.ts
  libs/langchain-openai/src/chat_models.ts
Labels: size:XL

#6500 google-genai[patch]: Fix Google Gen AI error handling
  libs/langchain-google-genai/src/chat_models.ts
Labels: auto:bug, size:XS

#6503 ci[patch]: Inject AWS credentials into standard tests ci
  .github/workflows/standard-tests.yml
Labels: size:XS

#6505 docs[patch]: Fix broken tools API ref link
  docs/core_docs/docs/how_to/custom_tools.ipynb
Labels: auto:documentation, size:XS

#6458 api_refs[minor]: Typedoc monorepo support
  .github/workflows/deploy-api-refs-preview.yml
  .github/workflows/deploy-api-refs-prod.yml
  .gitignore
  docs/api_refs/package.json
  docs/api_refs/scripts/create-entrypoints.js
  docs/api_refs/scripts/typedoc-plugin.js
  docs/api_refs/scripts/update-typedoc-css.js
  docs/api_refs/typedoc.base.json
  docs/api_refs/typedoc_plugins/hide_underscore_lc.js
  docs/api_refs/vercel.json
  docs/core_docs/.gitignore
  docs/core_docs/package.json
  package.json
  yarn.lock
Labels: size:XL

#6506 community[patch]: Fix streaming bedrock tool calls
  libs/langchain-community/src/chat_models/bedrock/web.ts
  libs/langchain-standard-tests/src/integration_tests/chat_models.ts
Labels: auto:bug, size:M

#6508 community[patch]: Release 0.2.27
  libs/langchain-community/package.json
Labels: size:XS

#6510 docs[patch]: Adds docstrings to more models
  docs/core_docs/docs/integrations/chat/google_vertex_ai.ipynb
  libs/langchain-anthropic/src/chat_models.ts
  libs/langchain-community/src/chat_models/fireworks.ts
  libs/langchain-google-vertexai-web/src/chat_models.ts
  libs/langchain-google-vertexai/src/chat_models.ts
  libs/langchain-groq/src/chat_models.ts
Labels: auto:documentation, size:XXL

#6512 docs[patch]: Chat model docstrings
  docs/core_docs/docs/integrations/chat/mistral.ipynb
  libs/langchain-community/src/chat_models/fireworks.ts
  libs/langchain-community/src/chat_models/togetherai.ts
  libs/langchain-mistralai/src/chat_models.ts
  libs/langchain-ollama/src/chat_models.ts
Labels: auto:documentation, size:XL

#6509 community[patch]: Update JSDoc on Chroma vectorstore
  libs/langchain-community/src/vectorstores/chroma.ts
Labels: size:L

#6513 docs[patch]: Improve docstring format for streamEvents
  langchain-core/src/runnables/base.ts
Labels: size:XS
