Repository langchain-ai/langchainjs, pull requests merged in 2024-11, with the labels that each got.

#7138 feat(google-genai): Add support for search retrieval and code execution tools
  docs/core_docs/docs/concepts/streaming.mdx
  docs/core_docs/docs/integrations/chat/google_generativeai.ipynb
  langchain-core/src/language_models/chat_models.ts
  libs/langchain-google-genai/package.json
  libs/langchain-google-genai/src/chat_models.ts
  libs/langchain-google-genai/src/tests/chat_models.int.test.ts
  libs/langchain-google-genai/src/types.ts
  libs/langchain-google-genai/src/utils/common.ts
  libs/langchain-google-genai/src/utils/tools.ts
  libs/langchain-google-genai/src/utils/zod_to_genai_parameters.ts
  yarn.lock
Labels: auto:enhancement, size:XL

#7139 feat(core): Release 0.3.17
  langchain-core/package.json
Labels: size:XS

#7140 feat(google-genai): Release 0.1.3-rc.0
  libs/langchain-google-genai/package.json
  yarn.lock
Labels: size:XS

#7120 fix(community): Add id in chroma search result
  libs/langchain-community/src/vectorstores/chroma.ts
  libs/langchain-community/src/vectorstores/tests/chroma.test.ts
Labels: auto:nit, size:S

#7137 docs: Update pdf_qa.ipynb
  docs/core_docs/docs/tutorials/pdf_qa.ipynb
Labels: auto:documentation, size:XS

#7152 feat(google-genai): Release 0.1.3
  libs/langchain-google-genai/package.json
Labels: size:XS

#7149 fix(langchain): Correct typo in format instructions for conversational agent
  langchain/src/agents/chat_convo/prompt.ts
Labels: lgtm, auto:nit, size:XS

#7153 fix: Update yarn.lock
  yarn.lock
Labels: auto:nit, size:XS

#7033 feat(cosmosdbnosql): Add Semantic Cache Integration
  docs/core_docs/docs/integrations/llm_caching/azure_cosmosdb_nosql.mdx
  docs/core_docs/docs/integrations/llm_caching/index.mdx
  docs/core_docs/docs/integrations/platforms/microsoft.mdx
  docs/core_docs/sidebars.js
  examples/src/caches/azure_cosmosdb_nosql/azure_cosmosdb_nosql.ts
  libs/langchain-azure-cosmosdb/src/azure_cosmosdb_nosql.ts
  libs/langchain-azure-cosmosdb/src/caches.ts
  libs/langchain-azure-cosmosdb/src/index.ts
  libs/langchain-azure-cosmosdb/src/tests/caches.int.test.ts
  libs/langchain-azure-cosmosdb/src/tests/caches.test.ts
Labels: lgtm, auto:enhancement, size:XL

#7154 chore(azure-cosmosdb): Release 0.2.1
  libs/langchain-azure-cosmosdb/package.json
Labels: size:XS

#7136 feat(aws): Ability to override client on chat_models class for more granular options
  libs/langchain-aws/src/chat_models.ts
Labels: lgtm, auto:improvement, size:S

#7155 chore(aws): Release 0.1.2
  libs/langchain-aws/package.json
Labels: size:XS

#7126 feat(community) Add support for Tool Calling and Stop Token to ChatDeepInfra
  libs/langchain-community/src/chat_models/deepinfra.ts
  libs/langchain-community/src/chat_models/tests/chatdeepinfra.int.test.ts
Labels: lgtm, auto:improvement, size:L

#7110 fix(core): Use a single shared client instance for all runs
  langchain-core/src/callbacks/manager.ts
  langchain-core/src/singletons/tracer.ts
  langchain-core/src/tracers/tracer_langchain.ts
Labels: auto:nit, size:M

#7141 docs(core): VectorStore and Retriever: types, interfaces, classes
  docs/core_docs/.gitignore
  langchain-core/src/retrievers/index.ts
  langchain-core/src/vectorstores.ts
Labels: lgtm, auto:documentation, size:XL

#7157 fix(ci): Fix CI
  environment_tests/test-exports-tsc/main.ts
Labels: auto:nit, size:S

#7151 fix(community): Fix logic issue
  CONTRIBUTING.md
  libs/langchain-community/src/vectorstores/pgvector.ts
Labels: lgtm, auto:bug, size:S

#7158 chore(community): Release 0.3.12
  libs/langchain-community/package.json
Labels: size:XS

#7159 feat(ollama): Allow passthrough of other options
  libs/langchain-community/src/embeddings/ollama.ts
  libs/langchain-ollama/src/embeddings.ts
  libs/langchain-ollama/src/tests/embeddings.test.ts
Labels: auto:improvement, size:S

#7163 chore(ollama): Release 0.1.2
  libs/langchain-ollama/package.json
Labels: size:XS

#7162 feat(openai): Adds prediction support to OpenAI
  docs/core_docs/docs/integrations/chat/openai.ipynb
  libs/langchain-openai/package.json
  libs/langchain-openai/src/chat_models.ts
  libs/langchain-openai/src/tests/chat_models-extended.int.test.ts
  yarn.lock
Labels: auto:improvement, auto:documentation, size:L

#7166 docs: Fix import
  docs/core_docs/docs/integrations/text_embedding/tensorflow.mdx
Labels: auto:nit, size:XS

#7156 feat(xai): Add xAI integration package
  docs/core_docs/docs/integrations/chat/index.mdx
  docs/core_docs/docs/integrations/chat/xai.ipynb
  examples/package.json
  libs/langchain-xai/.eslintrc.cjs
  libs/langchain-xai/.gitignore
  libs/langchain-xai/.prettierrc
  libs/langchain-xai/.release-it.json
  libs/langchain-xai/LICENSE
  libs/langchain-xai/README.md
  libs/langchain-xai/jest.config.cjs
  libs/langchain-xai/jest.env.cjs
  libs/langchain-xai/langchain.config.js
  libs/langchain-xai/package.json
  libs/langchain-xai/scripts/jest-setup-after-env.js
  libs/langchain-xai/src/chat_models.ts
  libs/langchain-xai/src/index.ts
  libs/langchain-xai/src/tests/chat_models.int.test.ts
  libs/langchain-xai/src/tests/chat_models.standard.int.test.ts
  libs/langchain-xai/src/tests/chat_models.standard.test.ts
  libs/langchain-xai/src/tests/chat_models.test.ts
  libs/langchain-xai/src/tests/chat_models_structured_output.int.test.ts
  libs/langchain-xai/tsconfig.cjs.json
  libs/langchain-xai/tsconfig.json
  libs/langchain-xai/turbo.json
  yarn.lock
Labels: auto:enhancement, auto:documentation, size:XXL

#7170 fix(docs): Add xAI to platforms page
  docs/core_docs/docs/integrations/platforms/index.mdx
  libs/langchain-xai/package.json
  yarn.lock
Labels: auto:documentation, size:XS

#7173 fix(scripts): add missing shebang in bin scripts
  libs/langchain-scripts/bin/build.js
  libs/langchain-scripts/bin/filter_spam_comment.js
  libs/langchain-scripts/bin/validate_notebook.js
  libs/langchain-scripts/package.json
Labels: lgtm, auto:nit, size:XS

#7167 pinecone[patch]: Update `@pinecone/pinecone-database` version to resolve type errors
  examples/package.json
  libs/langchain-pinecone/package.json
  yarn.lock
Labels: lgtm, auto:bug, size:XS

#7175 chore(pinecone): Release 0.1.2
  libs/langchain-pinecone/package.json
Labels: size:XS

#7174 fix(core): Clear inherited config for called callbacks
  langchain-core/src/callbacks/promises.ts
  langchain-core/src/callbacks/tests/callbacks.test.ts
  langchain-core/src/singletons/async_local_storage/globals.ts
  langchain-core/src/singletons/async_local_storage/index.ts
  langchain-core/src/singletons/callbacks.ts
  langchain-core/src/singletons/index.ts
Labels: auto:nit, size:L

#7178 feat(community): added code blocks in markdown into document's page content
  libs/langchain-community/src/document_loaders/web/confluence.ts
Labels: lgtm, auto:nit, size:M

#7129 fix(community): For IBM implementation rename variables, remove defaults, fix tests and minor docs fixes
  docs/core_docs/docs/integrations/chat/ibm.ipynb
  docs/core_docs/docs/integrations/llms/ibm.ipynb
  docs/core_docs/docs/integrations/text_embedding/ibm.ipynb
  libs/langchain-community/src/chat_models/ibm.ts
  libs/langchain-community/src/chat_models/tests/ibm.int.test.ts
  libs/langchain-community/src/chat_models/tests/ibm.standard.int.test.ts
  libs/langchain-community/src/chat_models/tests/ibm.standard.test.ts
  libs/langchain-community/src/chat_models/tests/ibm.test.ts
  libs/langchain-community/src/embeddings/ibm.ts
  libs/langchain-community/src/embeddings/tests/ibm.int.test.ts
  libs/langchain-community/src/embeddings/tests/ibm.test.ts
  libs/langchain-community/src/llms/ibm.ts
  libs/langchain-community/src/llms/tests/ibm.int.test.ts
  libs/langchain-community/src/llms/tests/ibm.test.ts
  libs/langchain-community/src/types/ibm.ts
Labels: lgtm, auto:refactor, size:XL

#6999 feat(google-vertexai): Support Non-Google and Model Garden models in Vertex AI - Anthropic integration
  docs/core_docs/docs/integrations/chat/google_vertex_ai.ipynb
  docs/core_docs/docs/integrations/platforms/google.mdx
  libs/langchain-google-common/src/chat_models.ts
  libs/langchain-google-common/src/connection.ts
  libs/langchain-google-common/src/llms.ts
  libs/langchain-google-common/src/tests/chat_models.test.ts
  libs/langchain-google-common/src/tests/data/chat-2-mock.json
  libs/langchain-google-common/src/tests/data/claude-chat-1-mock.json
  libs/langchain-google-common/src/tests/data/claude-chat-1-mock.sse
  libs/langchain-google-common/src/tests/utils.test.ts
  libs/langchain-google-common/src/types-anthropic.ts
  libs/langchain-google-common/src/types.ts
  libs/langchain-google-common/src/utils/anthropic.ts
  libs/langchain-google-common/src/utils/common.ts
  libs/langchain-google-common/src/utils/gemini.ts
  libs/langchain-google-common/src/utils/stream.ts
  libs/langchain-google-gauth/src/auth.ts
  libs/langchain-google-gauth/src/tests/chat_models.int.test.ts
  libs/langchain-google-vertexai/src/tests/chat_models.int.test.ts
  libs/langchain-google-webauth/src/tests/chat_models.int.test.ts
Labels: auto:enhancement, size:XXL

#7135 fix(community) : Upgrade node-llama-cpp to be compatible with version 3
  docs/core_docs/docs/integrations/chat/llama_cpp.mdx
  docs/core_docs/docs/integrations/llms/llama_cpp.mdx
  docs/core_docs/docs/integrations/text_embedding/llama_cpp.mdx
  examples/src/embeddings/llama_cpp_basic.ts
  examples/src/embeddings/llama_cpp_docs.ts
  examples/src/models/chat/integration_llama_cpp.ts
  examples/src/models/chat/integration_llama_cpp_chain.ts
  examples/src/models/chat/integration_llama_cpp_stream.ts
  examples/src/models/chat/integration_llama_cpp_stream_invoke.ts
  examples/src/models/chat/integration_llama_cpp_stream_multi.ts
  examples/src/models/chat/integration_llama_cpp_system.ts
  examples/src/models/llm/llama_cpp.ts
  examples/src/models/llm/llama_cpp_stream.ts
  libs/langchain-community/package.json
  libs/langchain-community/src/chat_models/llama_cpp.ts
  libs/langchain-community/src/chat_models/tests/chatllama_cpp.int.test.ts
  libs/langchain-community/src/embeddings/llama_cpp.ts
  libs/langchain-community/src/embeddings/tests/llama_cpp.int.test.ts
  libs/langchain-community/src/llms/llama_cpp.ts
  libs/langchain-community/src/llms/tests/llama_cpp.int.test.ts
  libs/langchain-community/src/utils/llama_cpp.ts
  yarn.lock
Labels: lgtm, close, auto:question, auto:improvement, size:L

#7185 chore(vertexai): Release 0.1.2
  libs/langchain-google-common/package.json
  libs/langchain-google-gauth/package.json
  libs/langchain-google-vertexai-web/package.json
  libs/langchain-google-vertexai/package.json
  libs/langchain-google-webauth/package.json
  yarn.lock
Labels: auto:nit, size:S

#7106 feat(community): Add AirtableLoader to load documents from Airtable with retry and pagination handling
  docs/core_docs/docs/integrations/document_loaders/web_loaders/airtable.mdx
  examples/src/document_loaders/airtable_load.ts
  libs/langchain-community/.gitignore
  libs/langchain-community/langchain.config.js
  libs/langchain-community/package.json
  libs/langchain-community/src/document_loaders/tests/airtable.int.test.ts
  libs/langchain-community/src/document_loaders/tests/airtable.test.ts
  libs/langchain-community/src/document_loaders/web/airtable.ts
  libs/langchain-community/src/load/import_map.ts
Labels: lgtm, auto:enhancement, auto:documentation, size:XL

#6957 fix(openai,core): Make OpenAI withStructuredOutput typing compatible with other models
  langchain-core/src/language_models/base.ts
  langchain-core/src/language_models/chat_models.ts
  libs/langchain-community/src/chat_models/tests/chatbedrock.int.test.ts
  libs/langchain-openai/src/chat_models.ts
Labels: auto:nit, size:M

#7186 chore(core): Release 0.3.18
  langchain-core/package.json
Labels: size:XS

#7183 fix(community): chroma search without filter
  libs/langchain-community/src/vectorstores/chroma.ts
  libs/langchain-community/src/vectorstores/tests/chroma.test.ts
Labels: auto:bug, size:XS

#7176 feat(qdrant): Add a Function to Delete Points in Qdrant
  libs/langchain-qdrant/src/vectorstores.ts
Labels: lgtm, auto:nit, size:M

#7187 chore(openai): Release 0.3.13
  libs/langchain-openai/package.json
Labels: size:XS

#7188 fix(ci): Fix build artifact
  libs/langchain-community/src/load/import_map.ts
Labels: size:XS

#7189 fix(ci): Fix build artifacts
  libs/langchain-community/.gitignore
  libs/langchain-community/package.json
Labels: size:S

#7190 chore(community): Release 0.3.13
  libs/langchain-community/package.json
Labels: size:XS

#7191 chore(qdrant): Release 0.1.1
  libs/langchain-qdrant/package.json
Labels: size:XS

#7192 fix[community]: Fixed missing tool_choice in call options of chat IBM
  libs/langchain-community/src/chat_models/ibm.ts
Labels: auto:bug, size:XS

#7196 fix(anthropic, bedrock): Remove message merging logic
  libs/langchain-anthropic/src/utils/message_inputs.ts
  libs/langchain-community/src/utils/bedrock/anthropic.ts
Labels: size:M

#7197 feat(community): Release 0.3.14
  libs/langchain-community/package.json
Labels: size:XS

#7198 feat(anthropic): Release 0.3.8
  libs/langchain-anthropic/package.json
Labels: size:XS

#7213 fix(google-genai): Force tool usage in WSO
  libs/langchain-google-genai/src/chat_models.ts
  libs/langchain-google-genai/src/utils/tools.ts
  libs/langchain-google-genai/src/utils/zod_to_genai_parameters.ts
Labels: size:M

#7215 fix(google-genai): Release 0.1.4
  libs/langchain-google-genai/package.json
Labels: size:XS

#7184 feat(community): Adds an HTML loader for URLS
  examples/src/document_transformers/mozilla_readability.ts
  libs/langchain-community/.gitignore
  libs/langchain-community/langchain.config.js
  libs/langchain-community/package.json
  libs/langchain-community/src/document_loaders/tests/html.int.test.ts
  libs/langchain-community/src/document_loaders/web/cheerio.ts
  libs/langchain-community/src/document_loaders/web/html.ts
  libs/langchain-community/src/document_loaders/web/sitemap.ts
  libs/langchain-community/src/document_transformers/mozilla_readability.ts
  libs/langchain-community/src/load/import_map.ts
Labels: lgtm, close, auto:improvement, size:L

#7208 feat(community): allow metadata generics to flow through LibSQLVectorStore
  libs/langchain-community/src/vectorstores/libsql.ts
Labels: lgtm, auto:improvement, size:M

#7202 feat(community): replace `vectordb` package with new `@lancedb/lancedb`
  docs/core_docs/docs/integrations/vectorstores/lancedb.mdx
  examples/package.json
  examples/src/indexes/vector_stores/lancedb/load.ts
  libs/langchain-community/package.json
  libs/langchain-community/src/vectorstores/lancedb.ts
  libs/langchain-community/src/vectorstores/tests/lancedb.int.test.ts
  yarn.lock
Labels: lgtm, auto:improvement, auto:documentation, size:M

#7057 feat(cosmosdbnosql): Add Chat History Integration
  docs/core_docs/docs/integrations/memory/azure_cosmosdb_nosql.mdx
  docs/core_docs/docs/integrations/platforms/microsoft.mdx
  examples/src/memory/azure_cosmosdb_nosql.ts
  libs/langchain-azure-cosmosdb/src/chat_histories.ts
  libs/langchain-azure-cosmosdb/src/index.ts
  libs/langchain-azure-cosmosdb/src/tests/chat_histories.int.test.ts
Labels: lgtm, in progress, auto:enhancement, size:L

#7219 chore(azure-cosmosdb): Release 0.2.2
  libs/langchain-azure-cosmosdb/package.json
Labels: size:XS

#7209 feat(community): add filters to LibSQLVectorStore
  libs/langchain-community/src/utils/sqlite_where_builder.ts
  libs/langchain-community/src/vectorstores/libsql.ts
  libs/langchain-community/src/vectorstores/tests/libsql.int.test.ts
Labels: lgtm, auto:improvement, size:L

#7221 chore(community): Release 0.3.15
  libs/langchain-community/package.json
Labels: size:XS

#7199 fix(langchain): Fix structured parser with triple backticks, adds tests
  langchain/src/output_parsers/structured.ts
  langchain/src/output_parsers/tests/structured.test.ts
Labels: lgtm, auto:bug, size:L

#7204 chore(langchain): add throw err for JsonOutputFunctionsParser.parse
  langchain/src/output_parsers/openai_functions.ts
Labels: lgtm, auto:nit, size:S

#7222 fix(langchain): Fix serialization for initChatModel
  langchain/src/chat_models/tests/universal.int.test.ts
  langchain/src/chat_models/universal.ts
Labels: size:M

#7223 chore(langchain): Release 0.3.6
  langchain/package.json
Labels: size:XS

#7203 feat(pinecone): Add support for Pinecone `/embed` endpoint
  docs/core_docs/docs/integrations/text_embedding/pinecone.ipynb
  examples/src/embeddings/pinecone.ts
  examples/src/indexes/vector_stores/pinecone/delete_docs.ts
  examples/src/indexes/vector_stores/pinecone/index_docs.ts
  examples/src/indexes/vector_stores/pinecone/mmr.ts
  examples/src/indexes/vector_stores/pinecone/query_docs.ts
  examples/src/retrievers/pinecone_self_query.ts
  libs/langchain-community/package.json
  libs/langchain-pinecone/jest.config.cjs
  libs/langchain-pinecone/package.json
  libs/langchain-pinecone/src/client.ts
  libs/langchain-pinecone/src/embeddings.ts
  libs/langchain-pinecone/src/index.ts
  libs/langchain-pinecone/src/tests/client.int.test.ts
  libs/langchain-pinecone/src/tests/client.test.ts
  libs/langchain-pinecone/src/tests/embeddings.int.test.ts
  libs/langchain-pinecone/src/tests/embeddings.test.ts
  libs/langchain-pinecone/src/tests/translator.int.test.ts
  libs/langchain-pinecone/src/vectorstores.ts
  yarn.lock
Labels: lgtm, auto:improvement, size:XL

#7224 chore(pinecone): Release 0.1.3
  libs/langchain-pinecone/package.json
Labels: size:XS

#7229 fix(openai): Support o1 streaming
  libs/langchain-openai/src/chat_models.ts
  libs/langchain-openai/src/tests/chat_models.int.test.ts
Labels: lgtm, size:M

#7230 chore(openai): Release 0.3.14
  libs/langchain-openai/package.json
Labels: size:XS

#7228 docs: Add missing streaming concept
  docs/core_docs/docs/concepts/index.mdx
Labels: size:XS

#7234 fix(ci): Update release script to be more lenient
  release_workspace.js
Labels: size:L

#7218 feat(mistral): Mistral 1.3.1 migration
  docs/core_docs/docs/integrations/chat/mistral.ipynb
  docs/core_docs/docs/integrations/llms/mistral.ipynb
  docs/core_docs/docs/integrations/text_embedding/mistralai.ipynb
  libs/langchain-mistralai/package.json
  libs/langchain-mistralai/src/chat_models.ts
  libs/langchain-mistralai/src/embeddings.ts
  libs/langchain-mistralai/src/llms.ts
  libs/langchain-mistralai/src/tests/chat_models.int.test.ts
  libs/langchain-mistralai/src/tests/chat_models.standard.int.test.ts
  libs/langchain-mistralai/src/tests/chat_models.test.ts
  libs/langchain-mistralai/src/tests/embeddings.int.test.ts
  libs/langchain-mistralai/src/tests/llms.int.test.ts
  libs/langchain-mistralai/src/utils.ts
  yarn.lock
Labels: lgtm, auto:improvement, auto:documentation, size:XXL

#7239 chore(mistral): Release 0.2.0
  libs/langchain-mistralai/package.json
Labels: auto:nit, size:XS

#7225 feat(azurecosmosdb): Vector Store Add DiskANN index for CosmosDB
  libs/langchain-azure-cosmosdb/src/azure_cosmosdb_mongodb.ts
Labels: lgtm, auto:improvement, size:M

#7241 chore(azure-cosmosdb): Release 0.2.3
  libs/langchain-azure-cosmosdb/package.json
Labels: size:XS

#7244 fix(community): bedrock parsing array content/tool blocks
  libs/langchain-community/src/utils/bedrock/anthropic.ts
Labels: auto:bug, size:M

#7245 fix(ci): Fix release workspace
  release_workspace.js
Labels: auto:bug, size:L

#7236 feat(community): Incorporate BM25 score in the results
  libs/langchain-community/src/retrievers/bm25.ts
Labels: lgtm, auto:nit, size:S

#7177 feat(community): Stagehand tools integration
  docs/core_docs/docs/integrations/tools/stagehand.mdx
  examples/package.json
  examples/src/agents/stagehand_ai_web_browser.ts
  libs/langchain-community/langchain.config.js
  libs/langchain-community/package.json
  libs/langchain-community/src/agents/toolkits/stagehand.ts
  libs/langchain-community/src/agents/toolkits/tests/stagehand.int.test.ts
  yarn.lock
Labels: lgtm, close, auto:enhancement, auto:documentation, size:XL

#7200 feat(community): Add rerank solution to existing IBM community implementation
  docs/core_docs/.gitignore
  docs/core_docs/docs/integrations/document_compressors/ibm.ipynb
  docs/core_docs/docs/integrations/document_compressors/mixedbread_ai.mdx
  docs/core_docs/sidebars.js
  libs/langchain-community/.gitignore
  libs/langchain-community/langchain.config.js
  libs/langchain-community/package.json
  libs/langchain-community/src/document_compressors/ibm.ts
  libs/langchain-community/src/document_compressors/tests/ibm.int.test.ts
  libs/langchain-community/src/document_compressors/tests/ibm.test.ts
  libs/langchain-community/src/load/import_constants.ts
Labels: in progress, auto:improvement, auto:documentation, size:XL

#7254 fix(community): PrismaVectorStore handle empty array in filter
  libs/langchain-community/src/vectorstores/prisma.ts
Labels: lgtm, auto:bug, size:S

#7246 fix(core): Move type
  langchain-core/src/tools/index.ts
  langchain-core/src/types/zod.ts
Labels: auto:nit, size:XS

#7260 chore(core): Release 0.3.19
  langchain-core/package.json
Labels: size:XS

#7261 chore(community): Release 0.3.16
  libs/langchain-community/.gitignore
  libs/langchain-community/package.json
  libs/langchain-community/src/load/import_constants.ts
Labels: size:S

#7263 fix(google-common): Anthropic util using getType instead of _getType
  libs/langchain-google-common/src/utils/anthropic.ts
Labels: auto:nit, size:XS

#7265 release(google-common): 0.1.3
  libs/langchain-google-common/package.json
Labels: size:XS

#7266 fix(google-gauth/webauth): Bump Google common dep
  libs/langchain-google-gauth/package.json
  libs/langchain-google-webauth/package.json
  yarn.lock
Labels: size:XS

#7267 release(google-webauth): 0.1.3
  libs/langchain-google-webauth/package.json
Labels: size:XS

#7270 release(google-vertexai): 0.1.3
  libs/langchain-google-vertexai/package.json
Labels: size:XS

#7271 release(google-gauth): 0.1.3
  libs/langchain-google-gauth/package.json
  yarn.lock
Labels: auto:nit, size:XS

#7272 release(google-vertexai-web): 0.1.3
  libs/langchain-google-vertexai-web/package.json
Labels: size:XS
