Repository langchain-ai/langchainjs, pull requests merged in 2024-10, with the labels that each got.

#6910 fix(community): supabase comparison to string function
  libs/langchain-community/src/structured_query/supabase.ts
Labels: lgtm, auto:bug, size:XS

#6917 feat(core): Update mermaid drawing to support subgraphs
  langchain-core/src/runnables/graph.ts
  langchain-core/src/runnables/graph_mermaid.ts
  langchain-core/src/runnables/tests/data/mermaid.png
  langchain-core/src/runnables/tests/runnable_graph.test.ts
  langchain-core/src/runnables/types.ts
Labels: auto:improvement, size:L

#6918 chore(core): Release 0.3.6
  langchain-core/package.json
Labels: size:XS

#6914 fix(community): Column VEC_VECTOR has the wrong length
  libs/langchain-community/src/vectorstores/hanavector.ts
Labels: auto:bug, size:XS

#6922 fix(openai): Pass OpenAI caching information through in responses
  docs/core_docs/docs/integrations/chat/openai.ipynb
  libs/langchain-openai/src/chat_models.ts
  libs/langchain-openai/src/tests/chat_models-extended.int.test.ts
Labels: auto:documentation, size:XL

#6923 chore(openai): Release 0.3.5
  libs/langchain-openai/package.json
Labels: size:XS

#6925 feat(core): Adds exported typeguards for messages
  langchain-core/src/messages/base.ts
  langchain-core/src/messages/chat.ts
  langchain-core/src/messages/function.ts
  langchain-core/src/messages/human.ts
  langchain-core/src/messages/index.ts
  langchain-core/src/messages/system.ts
  langchain-core/src/messages/tool.ts
Labels: auto:improvement, size:M

#6928 Add better error msg
  langchain-core/src/messages/utils.ts
Labels: auto:nit, size:XS

#6930 feat(core): Allow serialized messages as BaseMessageLikes
  langchain-core/src/messages/base.ts
  langchain-core/src/messages/utils.ts
Labels: auto:improvement, size:M

#6920 fix(pinecone): fix PineconeStore to support null or undefined pageContent
  libs/langchain-pinecone/src/tests/vectorstores.test.ts
  libs/langchain-pinecone/src/vectorstores.ts
Labels: auto:improvement, size:M

#6932 chore(pinecone): Release 0.1.1
  libs/langchain-pinecone/package.json
Labels: size:XS

#6933 chore(core): Release 0.3.7
  langchain-core/package.json
Labels: size:XS

#6929 core[minor]: exclude model cache from serialization
  langchain-core/src/language_models/base.ts
  langchain-core/src/language_models/tests/chat_models.test.ts
  langchain-core/src/utils/testing/index.ts
Labels: auto:nit, size:S

#6939 docs: Update integration contributing instructions
  CONTRIBUTING.md
  docs/core_docs/docs/contributing/integrations.mdx
Labels: auto:documentation, size:S

#6937 fix: allow numberic value for keepAlive property
  libs/langchain-ollama/src/embeddings.ts
Labels: lgtm, auto:bug, size:XS

#6904 feat(community): add libsql vectorstore
  docs/core_docs/docs/integrations/vectorstores/libsql.mdx
  libs/langchain-community/.gitignore
  libs/langchain-community/langchain.config.js
  libs/langchain-community/package.json
  libs/langchain-community/src/load/import_constants.ts
  libs/langchain-community/src/vectorstores/libsql.ts
  yarn.lock
Labels: lgtm, auto:enhancement, size:L

#6931 feat(core): Allow generic configurable type to be passed into RunnableConfig
  langchain-core/src/runnables/types.ts
Labels: size:XS

#6951 chore(core): Release 0.3.8
  langchain-core/package.json
Labels: size:XS

#6953 infra: remove spam-comment-filter.yml workflow
  .github/workflows/spam-comment-filter.yml
Labels: auto:nit, size:M

#6958 feat(core): Allow overriding config type of RunnableLikes
  langchain-core/src/runnables/base.ts
  langchain-core/src/runnables/history.ts
Labels: lgtm, auto:improvement, size:L

#6959 fix(core): Properly serialize usage metadata
  langchain-core/src/messages/ai.ts
  langchain-core/src/messages/tests/base_message.test.ts
Labels: size:M

#6960 feat(core): Allow overriding config type of RunnableLikes for 0.2
  langchain-core/src/runnables/base.ts
  langchain-core/src/runnables/history.ts
Labels: auto:improvement, size:L

#6961 chore(core): Release 0.2.35
  langchain-core/package.json
Labels: auto:nit, size:XS

#6962 chore(core): Release 0.3.9
  langchain-core/package.json
Labels: auto:nit, size:XS

#6964 chore(openai): Release 0.3.6
  libs/langchain-openai/package.json
Labels: size:XS

#6965 fix(core): Fix error message
  langchain-core/src/messages/utils.ts
Labels: auto:nit, size:XS

#6966 fix(openai): Ensure usage_metadata is serialized when invoking
  libs/langchain-openai/src/chat_models.ts
Labels: auto:bug, size:XS

#6968 chore(openai): Release 0.3.7
  libs/langchain-openai/package.json
Labels: size:XS

#6967 feat(core): Adds support for context variables
  langchain-core/.gitignore
  langchain-core/langchain.config.js
  langchain-core/package.json
  langchain-core/src/callbacks/dispatch/index.ts
  langchain-core/src/context.ts
  langchain-core/src/singletons/index.ts
  langchain-core/src/tests/context.test.ts
  langchain-core/src/tracers/tests/langsmith_interop.test.ts
  yarn.lock
Labels: lgtm, auto:enhancement, size:L

#6972 chore(core): Release 0.3.10
  langchain-core/package.json
Labels: size:XS

#6963 feat(community): Return document ids when querying pgvector store
  libs/langchain-community/src/vectorstores/pgvector.ts
Labels: lgtm, auto:nit, size:XS

#6956 feat(aws): Added AWS Bedrock Document and Image Support
  libs/langchain-aws/src/common.ts
Labels: lgtm, auto:improvement, size:S

#6973 chore(aws): Release 0.1.1
  libs/langchain-aws/package.json
Labels: size:XS

#6974 chore(community): Release 0.3.5
  libs/langchain-community/package.json
Labels: size:XS

#6975 docs: Adds context variable example to tool runtime docs
  docs/core_docs/docs/how_to/tool_runtime.ipynb
Labels: auto:documentation, size:L

#6976 docs: Update tool_runtime.ipynb
  docs/core_docs/docs/how_to/tool_runtime.ipynb
Labels: auto:documentation, size:XS

#6978 core(patch): Allow generic typing for context var methods
  langchain-core/src/context.ts
Labels: auto:nit, size:XS

#6979 fix(docs): usage web-streams-polyfill
  docs/core_docs/docs/how_to/installation.mdx
  langchain-core/package.json
  langchain-core/src/utils/tests/polyfill_stream.test.ts
  libs/langchain-scripts/src/tests/__mdx__/modules/index.mdx
  libs/langchain-scripts/src/tests/__mdx__/modules/two.mdx
  yarn.lock
Labels: auto:documentation, size:S

#6980 docs: Update for docs build
  docs/core_docs/docs/integrations/llms/jigsawstack.mdx
  docs/core_docs/docs/integrations/vectorstores/libsql.mdx
Labels: auto:documentation, size:S

#6981 fix(core): Fix config passing for single string input tools
  langchain-core/src/tools/index.ts
  langchain-core/src/tools/tests/tools.test.ts
Labels: auto:bug, size:S

#6982 chore(core): Release 0.3.11
  langchain-core/package.json
Labels: auto:nit, size:XS

#6938 feat(cohere): Cohere custom client support
  docs/core_docs/docs/integrations/chat/cohere.ipynb
  docs/core_docs/docs/integrations/document_compressors/cohere_rerank.mdx
  docs/core_docs/docs/integrations/llms/cohere.ipynb
  docs/core_docs/docs/integrations/text_embedding/cohere.ipynb
  examples/package.json
  examples/src/document_compressors/cohere_rerank_custom_client.ts
  libs/langchain-cohere/package.json
  libs/langchain-cohere/src/chat_models.ts
  libs/langchain-cohere/src/client.ts
  libs/langchain-cohere/src/embeddings.ts
  libs/langchain-cohere/src/llms.ts
  libs/langchain-cohere/src/rerank.ts
  yarn.lock
Labels: lgtm, auto:improvement, auto:documentation, size:L

#6983 chore(cohere): Release 0.3.1
  libs/langchain-cohere/package.json
Labels: size:XS

#6997 fix(anthropic): Pass back full Anthropic content for stream events
  libs/langchain-anthropic/src/chat_models.ts
  libs/langchain-anthropic/src/tests/chat_models-tools.int.test.ts
Labels: lgtm, auto:bug, size:M

#6998 chore(anthropic): Release 0.3.4
  libs/langchain-anthropic/package.json
Labels: auto:nit, size:XS

#6944 feat(docs,core): Adds error reference pages and populate codes on errors in core
  docs/core_docs/.gitignore
  docs/core_docs/docs/additional_resources/tutorials.mdx
  docs/core_docs/docs/troubleshooting/errors/INVALID_PROMPT_INPUT.mdx
  docs/core_docs/docs/troubleshooting/errors/INVALID_TOOL_RESULTS.ipynb
  docs/core_docs/docs/troubleshooting/errors/MESSAGE_COERCION_FAILURE.mdx
  docs/core_docs/docs/troubleshooting/errors/MODEL_AUTHENTICATION.mdx
  docs/core_docs/docs/troubleshooting/errors/MODEL_NOT_FOUND.mdx
  docs/core_docs/docs/troubleshooting/errors/MODEL_RATE_LIMIT.mdx
  docs/core_docs/docs/troubleshooting/errors/OUTPUT_PARSING_FAILURE.mdx
  docs/core_docs/docs/troubleshooting/errors/index.mdx
  docs/core_docs/docusaurus.config.js
  docs/core_docs/vercel.json
  langchain-core/src/errors/index.ts
  langchain-core/src/messages/utils.ts
  langchain-core/src/output_parsers/base.ts
  langchain-core/src/prompts/chat.ts
  langchain-core/src/prompts/template.ts
  langchain-core/src/prompts/tests/chat.test.ts
  langchain-core/src/runnables/tests/runnable.test.ts
Labels: auto:documentation, size:XL

#7000 chore(core): Release 0.3.12
  langchain-core/package.json
Labels: auto:nit, size:XS

#7001 fix(core): Fix typo
  langchain-core/src/errors/index.ts
Labels: auto:nit, size:XS

#6988 feat(community): Add Origin/langchain to Apify's client's user-agent to attribute API activity to langchainhs
  docs/core_docs/docs/integrations/document_loaders/web_loaders/apify_dataset.mdx
  examples/src/document_loaders/apify_dataset_existing.ts
  examples/src/document_loaders/apify_dataset_new.ts
  libs/langchain-community/src/document_loaders/web/apify_dataset.ts
Labels: lgtm, auto:documentation, size:L

#7002 fix(community): Fix CI
  .github/workflows/compatibility.yml
Labels: auto:nit, size:S

#7003 feat(openai): Wrap some common OpenAI errors
  libs/langchain-openai/src/tests/chat_models-extended.int.test.ts
  libs/langchain-openai/src/tests/chat_models.int.test.ts
  libs/langchain-openai/src/utils/errors.ts
  libs/langchain-openai/src/utils/openai.ts
Labels: auto:improvement, size:M

#7006 chore(openai): Release 0.3.8
  libs/langchain-openai/package.json
Labels: size:XS

#7004 feat(anthropic): Wrap common Anthropic model errors
  libs/langchain-anthropic/src/chat_models.ts
  libs/langchain-anthropic/src/tests/chat_models-tools.int.test.ts
  libs/langchain-anthropic/src/tests/chat_models.int.test.ts
  libs/langchain-anthropic/src/utils/errors.ts
Labels: auto:improvement, size:L

#7007 chore(anthropic): Release 0.3.5
  libs/langchain-anthropic/package.json
Labels: size:XS

#7005 fix(ci): Temporarily disable community range CI
  .github/workflows/compatibility.yml
Labels: size:M

#7008 chore(core): Release 0.3.13
  langchain-core/package.json
Labels: auto:nit, size:XS

#7009 chore(community): Release 0.3.6
  libs/langchain-community/package.json
Labels: size:XS

#7010 docs: Adds example to error code page
  docs/core_docs/.gitignore
  docs/core_docs/docs/troubleshooting/errors/INVALID_PROMPT_INPUT.mdx
Labels: auto:documentation, size:M

#7011 docs: Change error code docs header
  docs/core_docs/docs/troubleshooting/errors/index.mdx
Labels: auto:documentation, size:XS

#7012 feat(openai): Support audio output
  docs/core_docs/docs/integrations/chat/openai.ipynb
  libs/langchain-openai/package.json
  libs/langchain-openai/src/chat_models.ts
  libs/langchain-openai/src/tests/chat_models.int.test.ts
  libs/langchain-openai/src/types.ts
  yarn.lock
Labels: auto:enhancement, auto:documentation, size:L

#7014 fix(openai): Release 0.3.9
  libs/langchain-openai/package.json
Labels: size:XS

#7016 Revert "feat(openai): Support audio output"
  docs/core_docs/docs/integrations/chat/openai.ipynb
  libs/langchain-openai/package.json
  libs/langchain-openai/src/chat_models.ts
  libs/langchain-openai/src/tests/chat_models.int.test.ts
  libs/langchain-openai/src/types.ts
  yarn.lock
Labels: auto:nit, size:L

#7017 fix(openai): Release 0.3.10
  libs/langchain-openai/package.json
Labels: size:XS

#7015 fix(openai): Include audio messages in request
  docs/core_docs/docs/integrations/chat/openai.ipynb
  libs/langchain-openai/audio.json
  libs/langchain-openai/package.json
  libs/langchain-openai/src/chat_models.ts
  libs/langchain-openai/src/tests/chat_models.int.test.ts
  libs/langchain-openai/src/types.ts
  yarn.lock
Labels: auto:documentation, size:L

#7021 feat(openai): Release 0.3.11
  libs/langchain-openai/package.json
Labels: size:XS

#7023 fix(docs): Update API ref URL to point to v3
  docs/core_docs/docusaurus.config.js
Labels: auto:nit, size:XS

#7029 docs: Update LlamaCPP install instructions
  docs/core_docs/docs/integrations/chat/llama_cpp.mdx
  docs/core_docs/docs/integrations/llms/llama_cpp.mdx
  docs/core_docs/docs/integrations/text_embedding/llama_cpp.mdx
Labels: auto:documentation, size:S

#7025 fix(community): AILanguageModel interface
  libs/langchain-community/src/experimental/llms/chrome_ai.ts
Labels: size:M

#7030 chore(community): Release 0.3.7
  libs/langchain-community/package.json
Labels: size:XS

#7039 chore(langchain): Release 0.3.3
  langchain/package.json
Labels: size:XS

#6916 feat(community): Prepare implementation IBM WatsonxAI to langchain community package.
  docs/core_docs/docs/integrations/chat/ibm.ipynb
  docs/core_docs/docs/integrations/llms/ibm.ipynb
  docs/core_docs/docs/integrations/text_embedding/ibm.ipynb
  libs/langchain-community/.gitignore
  libs/langchain-community/langchain.config.js
  libs/langchain-community/package.json
  libs/langchain-community/src/chat_models/ibm.ts
  libs/langchain-community/src/chat_models/tests/ibm.int.test.ts
  libs/langchain-community/src/chat_models/tests/ibm.standard.int.test.ts
  libs/langchain-community/src/chat_models/tests/ibm.standard.test.ts
  libs/langchain-community/src/chat_models/tests/ibm.test.ts
  libs/langchain-community/src/embeddings/ibm.ts
  libs/langchain-community/src/embeddings/tests/ibm.int.test.ts
  libs/langchain-community/src/embeddings/tests/ibm.test.ts
  libs/langchain-community/src/llms/ibm.ts
  libs/langchain-community/src/llms/tests/ibm.int.test.ts
  libs/langchain-community/src/llms/tests/ibm.test.ts
  libs/langchain-community/src/llms/watsonx_ai.ts
  libs/langchain-community/src/load/import_constants.ts
  libs/langchain-community/src/load/import_type.ts
  libs/langchain-community/src/types/ibm.ts
  libs/langchain-community/src/utils/ibm.ts
  yarn.lock
Labels: lgtm, auto:enhancement, size:XXL

#7019 fix(core): Handle empty model output in memory
  langchain-core/src/memory.ts
Labels: auto:bug, size:XS

#7045 docs: Fix typo
  docs/core_docs/docs/introduction.mdx
Labels: lgtm, auto:documentation, size:XS

#7036 feat(community): ElasticVectorSearch: add a not_exists filter
  libs/langchain-community/src/vectorstores/elasticsearch.ts
  libs/langchain-community/src/vectorstores/tests/elasticsearch.int.test.ts
Labels: lgtm, close, auto:nit, size:S

#6818 chore(community): Updated Firecrawl Document Loaders to v1
  docs/core_docs/docs/integrations/document_loaders/web_loaders/firecrawl.ipynb
  libs/langchain-community/package.json
  libs/langchain-community/src/document_loaders/web/firecrawl.ts
  yarn.lock
Labels: lgtm, auto:improvement, size:M

#7046 chore(langchain): export AgentRunnableSequence
  langchain/src/agents/index.ts
Labels: lgtm, auto:nit, size:XS

#7050 chore(community): Release 0.3.8
  libs/langchain-community/package.json
Labels: size:XS

#7041 fix(community): Escape libSQL vector store inserts by using object syntax with placeholders
  docs/core_docs/docs/integrations/vectorstores/libsql.mdx
  libs/langchain-community/src/vectorstores/libsql.ts
  libs/langchain-community/src/vectorstores/tests/libsql.int.test.ts
Labels: question, auto:bug, size:M

#7055 feat(core): Allow omitting tags from runnable sequences
  langchain-core/src/runnables/base.ts
  langchain-core/src/runnables/tests/runnable.test.ts
Labels: auto:improvement, size:M

#7056 chore(core): Release 0.3.14
  langchain-core/package.json
Labels: size:XS

#7058 feat(core,langchain,community): Bump to LangSmith 0.2.0
  examples/package.json
  langchain-core/package.json
  langchain-core/src/tracers/tests/langsmith_interop.test.ts
  langchain-core/src/tracers/tracer_langchain.ts
  langchain/package.json
  libs/langchain-community/package.json
  yarn.lock
Labels: auto:nit, size:S

#7059 chore(core): Release 0.3.15
  langchain-core/package.json
Labels: size:XS

#7060 chore(community): Release 0.3.9
  libs/langchain-community/package.json
Labels: size:XS

#7062 chore(langchain): Release 0.3.4
  langchain/package.json
Labels: size:XS

#7071 chore(community): Bump langchain dep within community
  libs/langchain-community/package.json
  yarn.lock
Labels: auto:nit, size:XS

#7073 chore(community): Release 0.3.10
  libs/langchain-community/package.json
Labels: size:XS

#7081 fix(anthropic): Fixed streaming tool calls with Anthropic
  libs/langchain-anthropic/src/chat_models.ts
  libs/langchain-anthropic/src/utils/message_outputs.ts
  libs/langchain-anthropic/src/utils/tools.ts
Labels: auto:bug, size:M

#7082 fix(anthropic): Release 0.3.6-rc.0
  libs/langchain-anthropic/package.json
Labels: size:XS

#7083 fix: Commit yarn.lock
  yarn.lock
Labels: size:XS

#7084 feat(anthropic): Release 0.3.6
  libs/langchain-anthropic/package.json
  yarn.lock
Labels: auto:nit, size:XS

#7085 fix(langchain): Fix withConfig with universal chat model
  langchain/src/chat_models/tests/universal.int.test.ts
  langchain/src/chat_models/universal.ts
Labels: size:M

#7086 fix(google-genai): Type error parsing api res
  libs/langchain-google-genai/src/utils/common.ts
Labels: auto:bug, size:XS

#7087 feat(google-genai): Release 0.1.1
  libs/langchain-google-genai/package.json
Labels: size:XS

#7088 Release 0.3.5
  langchain/package.json
Labels: size:XS

#7089 fix(google-genai): Add support for tool choice
  libs/langchain-google-genai/src/chat_models.ts
  libs/langchain-google-genai/src/tests/chat_models.int.test.ts
Labels: auto:improvement, size:L

#7090 fix(google-genai): Release 0.1.2
  libs/langchain-google-genai/package.json
  libs/langchain-google-genai/src/tests/chat_models.int.test.ts
Labels: size:XS

#7079 docs: Add missing SerpAPI docs
  docs/core_docs/docs/integrations/tools/serpapi.ipynb
Labels: auto:documentation, size:L

#7093 feat(core): Only set LangSmith blocking if callback backgrounding is false
  langchain-core/src/tracers/tracer_langchain.ts
Labels: auto:nit, size:S

#7052 feat(ollama): Add support for optional headers
  libs/langchain-ollama/package.json
  libs/langchain-ollama/src/chat_models.ts
  libs/langchain-ollama/src/embeddings.ts
  libs/langchain-ollama/src/llms.ts
  yarn.lock
Labels: lgtm, auto:nit, size:S

#7104 chore(ollama): Release 0.1.1
  libs/langchain-ollama/package.json
Labels: size:XS

#7053 feat(community): Add delete and allow default row id in libsql
  libs/langchain-community/src/chat_models/ibm.ts
  libs/langchain-community/src/chat_models/tests/ibm.test.ts
  libs/langchain-community/src/embeddings/tests/ibm.test.ts
  libs/langchain-community/src/llms/tests/ibm.test.ts
  libs/langchain-community/src/utils/ibm.ts
  libs/langchain-community/src/vectorstores/libsql.ts
  libs/langchain-community/src/vectorstores/tests/libsql.int.test.ts
Labels: lgtm, auto:improvement, size:L

#7101 feat(azure-cosmosdb): Vector store - Add hnsw index to Azure Cosmos DB
  libs/langchain-azure-cosmosdb/src/azure_cosmosdb_mongodb.ts
Labels: lgtm, auto:improvement, size:S

#7107 chore(community): Release 0.3.11
  libs/langchain-community/package.json
Labels: size:XS

#7102 fix(core): Include provider name in base lsParams method
  langchain-core/src/language_models/chat_models.ts
  langchain-core/src/runnables/tests/runnable_stream_events.test.ts
  langchain-core/src/runnables/tests/runnable_stream_events_v2.test.ts
Labels: auto:nit, size:S

#7096 fix(anthropic): Fix multipart tool message
  libs/langchain-anthropic/src/tests/chat_models-tools.int.test.ts
  libs/langchain-anthropic/src/utils/message_inputs.ts
Labels: lgtm, auto:bug, size:M

#7108 chore(anthropic): Release 0.3.7
  libs/langchain-anthropic/package.json
Labels: size:XS

#7109 chore(core): Release 0.3.16
  langchain-core/package.json
Labels: size:XS

#7124 docs: Remove dead link
  docs/core_docs/docs/concepts/index.mdx
Labels: size:XS

#7125 docs: Fix typo
  docs/core_docs/docs/concepts/architecture.mdx
  docs/core_docs/src/theme/RedirectAnchors.js
Labels: size:XS
