Repository langchain-ai/langchainjs, pull requests merged in 2024-02, with the labels that each got.

#4225 community[minor]: Add support for TogetherAI chat json/tool calling
  docs/core_docs/docs/integrations/chat/togetherai.mdx
  examples/src/models/chat/integration_togetherai_json.ts
  examples/src/models/chat/integration_togetherai_tools.ts
  libs/langchain-community/src/chat_models/tests/chattogetherai.int.test.ts
  libs/langchain-community/src/chat_models/togetherai.ts
Labels: lgtm, auto:documentation, size:L

#4235 community[patch]Release 0.0.25
  libs/langchain-community/package.json
Labels: size:XS

#4226 exa[patch]docs[patch]: Bump Exa & improve examples
  docs/core_docs/docs/integrations/tools/exa_search.mdx
  examples/package.json
  examples/src/tools/exa_agent.ts
  libs/langchain-exa/package.json
  libs/langchain-exa/src/retrievers.ts
  libs/langchain-exa/src/tools.ts
  yarn.lock
Labels: auto:documentation, size:L

#4241 core[patch]: Emit stream log chunks without awaiting for the first stream chunk
  langchain-core/src/runnables/base.ts
  langchain/src/agents/tests/create_openai_functions_agent.int.test.ts
  langchain/src/document.ts
Labels: auto:improvement, size:M

#4236 Fix missing import_type.js, remove dynamic imports
  langchain-core/.prettierignore
  langchain-core/src/load/import_type.ts
  langchain/.prettierignore
  langchain/src/load/import_constants.ts
  langchain/src/load/import_map.ts
  langchain/src/load/import_type.d.ts
  langchain/src/load/import_type.ts
  libs/langchain-community/src/load/import_constants.ts
  libs/langchain-community/src/load/import_map.ts
  libs/langchain-community/src/load/import_type.d.ts
  libs/langchain-community/src/load/import_type.ts
  libs/langchain-scripts/src/create-entrypoints.ts
Labels: auto:refactor, size:XXL

#4238 Emit and add .d.cts definition files to package.json exports
  langchain-core/.gitignore
  langchain-core/package.json
  langchain/.gitignore
  langchain/package.json
  libs/langchain-anthropic/.gitignore
  libs/langchain-anthropic/package.json
  libs/langchain-cloudflare/.gitignore
  libs/langchain-cloudflare/package.json
  libs/langchain-cohere/.gitignore
  libs/langchain-cohere/package.json
  libs/langchain-community/.gitignore
  libs/langchain-community/package.json
  libs/langchain-exa/.gitignore
  libs/langchain-exa/package.json
  libs/langchain-google-common/.gitignore
  libs/langchain-google-common/package.json
  libs/langchain-google-gauth/.gitignore
  libs/langchain-google-gauth/package.json
  libs/langchain-google-genai/.gitignore
  libs/langchain-google-genai/package.json
  libs/langchain-google-webauth/.gitignore
  libs/langchain-google-webauth/package.json
  libs/langchain-mistralai/.gitignore
  libs/langchain-mistralai/package.json
  libs/langchain-openai/.gitignore
  libs/langchain-openai/package.json
  libs/langchain-pinecone/.gitignore
  libs/langchain-pinecone/package.json
  libs/langchain-scripts/src/create-entrypoints.ts
  libs/langchain-yandex/.gitignore
  libs/langchain-yandex/package.json
Labels: question, lgtm, auto:improvement, size:XXL

#4243 all[patch]: Bump scripts package versions
  langchain-core/package.json
  langchain/package.json
  libs/langchain-anthropic/package.json
  libs/langchain-cloudflare/package.json
  libs/langchain-cohere/package.json
  libs/langchain-community/package.json
  libs/langchain-exa/package.json
  libs/langchain-google-common/package.json
  libs/langchain-google-gauth/package.json
  libs/langchain-google-genai/package.json
  libs/langchain-google-webauth/package.json
  libs/langchain-mistralai/package.json
  libs/langchain-openai/package.json
  libs/langchain-pinecone/package.json
  libs/langchain-scripts/package.json
  libs/langchain-yandex/package.json
  yarn.lock
Labels: auto:nit, size:M

#4157 community[patch]: support all opensearch term level query type in filter #4121
  libs/langchain-community/src/vectorstores/opensearch.ts
Labels: lgtm, hold, auto:improvement, size:M

#4191 langchain[patch]: adding start arg to confluence loader
  langchain/src/document_loaders/web/confluence.ts
Labels: lgtm, auto:improvement, size:S

#4244 core[patch]: Add cancel method for cleanup on iterable readable streams
  langchain-core/src/utils/stream.ts
  langchain/src/smith/tests/runner_utils.int.test.ts
Labels: auto:improvement, size:XS

#4245 core[patch]: Release 0.1.21
  langchain-core/package.json
Labels: auto:nit, size:XS

#4246 openai[patch]: Release 0.0.14
  libs/langchain-openai/package.json
Labels: auto:nit, size:XS

#4247 langchain[patch]: Release 0.1.12
  langchain/package.json
Labels: auto:nit, size:XS

#4248 community[patch]: Release 0.0.26
  libs/langchain-community/package.json
Labels: size:XS

#4250 weaviate[patch]: Add build auto-gen missing components
  libs/langchain-weaviate/.gitignore
  libs/langchain-weaviate/package.json
Labels: size:XS

#4251 weaviate[patch]: Release 0.0.1
  libs/langchain-weaviate/package.json
Labels: size:XS

#4252 all[patch]: Add homepage to package.json for proper readmes
  langchain-core/package.json
  langchain/package.json
  libs/create-langchain-integration/template/package.json
  libs/langchain-anthropic/package.json
  libs/langchain-cloudflare/package.json
  libs/langchain-cohere/package.json
  libs/langchain-community/package.json
  libs/langchain-exa/package.json
  libs/langchain-google-common/package.json
  libs/langchain-google-gauth/package.json
  libs/langchain-google-genai/package.json
  libs/langchain-google-webauth/package.json
  libs/langchain-mistralai/package.json
  libs/langchain-openai/package.json
  libs/langchain-pinecone/package.json
  libs/langchain-scripts/package.json
  libs/langchain-yandex/package.json
Labels: auto:improvement, size:S

#4259 mistralai[patch]: Release 0.0.7
  libs/langchain-mistralai/package.json
Labels: size:XS

#4260 anthropic[patch]: Release 0.0.10
  libs/langchain-anthropic/package.json
Labels: size:XS

#4261 cloudflare[patch]: Release 0.0.2
  libs/langchain-cloudflare/package.json
Labels: size:XS

#4262 cohere[patch]: Release 0.0.4
  libs/langchain-cohere/package.json
Labels: size:XS

#4263 exa[patch]: Release 0.0.3
  libs/langchain-exa/package.json
Labels: size:XS

#4264 google-genai[patch]: Release 0.0.9
  libs/langchain-google-genai/package.json
Labels: auto:nit, size:XS

#4265 pinecone[patch]: Release 0.0.2
  libs/langchain-pinecone/package.json
Labels: size:XS

#3919 azure-openai[major]: Integration of Azure OpenAI SDK with Langchain
  docs/core_docs/docs/integrations/chat/azure.mdx
  docs/core_docs/docs/integrations/chat/index.mdx
  docs/core_docs/docs/integrations/llms/azure.mdx
  docs/core_docs/docs/integrations/llms/index.mdx
  docs/core_docs/docs/integrations/text_embedding/azure_openai.mdx
  examples/package.json
  examples/src/embeddings/azure_openai.ts
  examples/src/llms/azure_openai.ts
  examples/src/models/chat/integration_azure_chat_openai.ts
  libs/langchain-azure-openai/.eslintrc.cjs
  libs/langchain-azure-openai/.gitignore
  libs/langchain-azure-openai/.prettierrc
  libs/langchain-azure-openai/.release-it.json
  libs/langchain-azure-openai/LICENSE
  libs/langchain-azure-openai/README.md
  libs/langchain-azure-openai/babel.config.cjs
  libs/langchain-azure-openai/jest.config.cjs
  libs/langchain-azure-openai/jest.env.cjs
  libs/langchain-azure-openai/langchain.config.js
  libs/langchain-azure-openai/package.json
  libs/langchain-azure-openai/scripts/jest-setup-after-env.js
  libs/langchain-azure-openai/src/chat_models.ts
  libs/langchain-azure-openai/src/embeddings.ts
  libs/langchain-azure-openai/src/index.ts
  libs/langchain-azure-openai/src/llms.ts
  libs/langchain-azure-openai/src/tests/chat_models-extended.int.test.ts
  libs/langchain-azure-openai/src/tests/chat_models-vision.int.test.ts
  libs/langchain-azure-openai/src/tests/chat_models.int.test.ts
  libs/langchain-azure-openai/src/tests/data/hotdog.jpg
  libs/langchain-azure-openai/src/tests/embeddings.int.test.ts
  libs/langchain-azure-openai/src/tests/llms.int.test.ts
  libs/langchain-azure-openai/src/types.ts
  libs/langchain-azure-openai/src/utils/openai-format-fndef.ts
  libs/langchain-azure-openai/tsconfig.cjs.json
  libs/langchain-azure-openai/tsconfig.json
  yarn.lock
Labels: close, auto:enhancement, size:XXL

#4266 azure-openai[patch]: Update build artifacts
  libs/langchain-azure-openai/.gitignore
  libs/langchain-azure-openai/package.json
Labels: size:XS

#4267 core[patch]: Pass runnable config directly to RunnableLambda
  langchain-core/src/runnables/base.ts
Labels: auto:improvement, size:XS

#4270 core[patch]: Release 0.1.22
  langchain-core/package.json
Labels: auto:nit, size:XS

#4271 examples[patch],langchain[patch],community[patch]: Remove dup fake testing models
  examples/src/guides/evaluation/string/embedding_distance.ts
  examples/src/indexes/vector_stores/googlevertexai.ts
  examples/src/indexes/vector_stores/zep/zep_from_docs.ts
  examples/src/indexes/vector_stores/zep/zep_with_metadata.ts
  examples/src/retrievers/vectara_self_query.ts
  langchain/src/chains/tests/simple_sequential_chain.test.ts
  langchain/src/embeddings/fake.ts
  langchain/src/embeddings/tests/fake.test.ts
  langchain/src/indexes/tests/indexing.int.test.ts
  langchain/src/prompts/tests/selectors.test.ts
  langchain/src/retrievers/self_query/tests/vectara_self_query.int.test.ts
  langchain/src/retrievers/tests/time_weighted.test.ts
  langchain/src/retrievers/tests/vectorstores.test.ts
  langchain/src/tools/tests/chain.test.ts
  libs/langchain-community/src/utils/testing.ts
  libs/langchain-community/src/vectorstores/tests/azure_aisearch.int.test.ts
  libs/langchain-community/src/vectorstores/tests/azure_aisearch.test.ts
  libs/langchain-community/src/vectorstores/tests/azure_cosmosdb.test.ts
  libs/langchain-community/src/vectorstores/tests/chroma.test.ts
  libs/langchain-community/src/vectorstores/tests/closevector_node.test.ts
  libs/langchain-community/src/vectorstores/tests/convex/convex/lib.ts
  libs/langchain-community/src/vectorstores/tests/convex/package.json
  libs/langchain-community/src/vectorstores/tests/faiss.test.ts
  libs/langchain-community/src/vectorstores/tests/googlevertexai.int.test.ts
  libs/langchain-community/src/vectorstores/tests/googlevertexai.test.ts
  libs/langchain-community/src/vectorstores/tests/hnswlib.test.ts
  libs/langchain-community/src/vectorstores/tests/neo4j_vector.int.test.ts
  libs/langchain-community/src/vectorstores/tests/qdrant.test.ts
  libs/langchain-community/src/vectorstores/tests/redis.test.ts
  libs/langchain-community/src/vectorstores/tests/supabase.test.ts
  libs/langchain-community/src/vectorstores/tests/tigris.test.ts
  libs/langchain-community/src/vectorstores/tests/typesense.test.ts
  libs/langchain-community/src/vectorstores/tests/usearch.int.test.ts
  libs/langchain-community/src/vectorstores/tests/vectara.int.test.ts
  libs/langchain-community/src/vectorstores/tests/voy.test.ts
  libs/langchain-community/src/vectorstores/tests/zep.test.ts
  libs/langchain-community/src/vectorstores/vectara.ts
  libs/langchain-community/src/vectorstores/zep.ts
Labels: auto:refactor, size:L

#4274 all[patch]: Relax Weaviate dependency, add deserialization namespace for messages, fix import map gen
  langchain-core/package.json
  langchain/langchain.config.js
  langchain/package.json
  langchain/src/load/import_map.ts
  langchain/src/load/tests/data/important_imports.json
  libs/create-langchain-integration/package.json
  libs/create-langchain-integration/template/package.json
  libs/langchain-anthropic/package.json
  libs/langchain-azure-openai/package.json
  libs/langchain-cloudflare/package.json
  libs/langchain-cohere/package.json
  libs/langchain-community/package.json
  libs/langchain-exa/package.json
  libs/langchain-google-common/package.json
  libs/langchain-google-gauth/package.json
  libs/langchain-google-genai/package.json
  libs/langchain-google-webauth/package.json
  libs/langchain-mistralai/package.json
  libs/langchain-openai/package.json
  libs/langchain-pinecone/package.json
  libs/langchain-scripts/package.json
  libs/langchain-scripts/src/create-entrypoints.ts
  libs/langchain-weaviate/package.json
  libs/langchain-yandex/package.json
  yarn.lock
Labels: auto:improvement, size:L

#4275 create-langchain-integration[patch]: Release 0.0.9
  libs/create-langchain-integration/package.json
Labels: auto:nit, size:XS

#4254 pinecone[patch]: Add additional namespace customizing
  libs/langchain-pinecone/src/tests/vectorstores.int.test.ts
  libs/langchain-pinecone/src/vectorstores.ts
Labels: auto:improvement, size:M

#4284 pinecone[patch]: Release 0.0.3
  libs/langchain-pinecone/package.json
Labels: size:XS

#4258 core[minor]: Add XML output parser
  docs/core_docs/docs/modules/model_io/output_parsers/types/xml.mdx
  examples/src/prompts/xml_output_parser.ts
  examples/src/prompts/xml_output_parser_streaming.ts
  langchain-core/package.json
  langchain-core/src/output_parsers/index.ts
  langchain-core/src/output_parsers/json.ts
  langchain-core/src/output_parsers/tests/xml.test.ts
  langchain-core/src/output_parsers/xml.ts
  yarn.lock
Labels: question, auto:improvement, size:XL

#4285 core[patch]: Release 0.1.23
  langchain-core/package.json
Labels: size:XS

#4286 langchain[patch]: Remove unnecessary peer dep
  langchain/package.json
  yarn.lock
Labels: auto:nit, size:XS

#4287 langchain[patch]: Release 0.1.13
  langchain/package.json
Labels: auto:nit, size:XS

#4283 langchain[patch]: Improve memory vector store tests
  langchain/src/vectorstores/tests/memory.int.test.ts
  langchain/src/vectorstores/tests/memory.test.ts
Labels: size:L

#4292 infra[minor]: Split unit tests
  .github/workflows/ci.yml
  .github/workflows/unit-tests.yml
Labels: auto:improvement, size:L

#4211 docs[minor]: Add new QA & RAG use case section
  .gitignore
  CONTRIBUTING.md
  deno.json
  docs/core_docs/.gitignore
  docs/core_docs/docs/community.mdx
  docs/core_docs/docs/ecosystem/integrations/databerry.mdx
  docs/core_docs/docs/ecosystem/integrations/helicone.mdx
  docs/core_docs/docs/get_started/introduction.mdx
  docs/core_docs/docs/production/deployment.mdx
  docs/core_docs/docs/production/tracing.mdx
  docs/core_docs/docs/security.mdx
  docs/core_docs/docs/use_cases/code_understanding.mdx
  docs/core_docs/docs/use_cases/question_answering/_category_.yml
  docs/core_docs/docs/use_cases/question_answering/advanced_conversational_qa.mdx
  docs/core_docs/docs/use_cases/question_answering/chat_history.ipynb
  docs/core_docs/docs/use_cases/question_answering/citations.ipynb
  docs/core_docs/docs/use_cases/question_answering/conversational_retrieval_agents.ipynb
  docs/core_docs/docs/use_cases/question_answering/conversational_retrieval_agents.mdx
  docs/core_docs/docs/use_cases/question_answering/index.mdx
  docs/core_docs/docs/use_cases/question_answering/local_retrieval_qa.ipynb
  docs/core_docs/docs/use_cases/question_answering/local_retrieval_qa.mdx
  docs/core_docs/docs/use_cases/question_answering/quickstart.ipynb
  docs/core_docs/docs/use_cases/question_answering/sources.ipynb
  docs/core_docs/docs/use_cases/question_answering/streaming.ipynb
  docs/core_docs/docs/use_cases/rag/_category_.yml
  docs/core_docs/package.json
  docs/core_docs/static/img/rag_indexing.png
  docs/core_docs/static/img/rag_retrieval_generation.png
  docs/core_docs/vercel_build.sh
Labels: auto:documentation, size:XXL

#4295 docs[patch]: Fix header typo
  docs/core_docs/docs/use_cases/question_answering/quickstart.ipynb
Labels: size:XS

#4297 create-langchain-integration[patch]: Fix build command + release
  libs/create-langchain-integration/package.json
Labels: auto:nit, size:XS

#4300 redis[patch]: Release 0.0.1
  libs/langchain-redis/package.json
Labels: auto:nit, size:XS

#4291 community[minor]: update CloseVector versions to greatly improve web saving/loading of index files over 5MB.
  examples/src/indexes/vector_stores/closevector_saveload_fromcloud.ts
  libs/langchain-community/package.json
  libs/langchain-community/src/vectorstores/closevector/node.ts
  libs/langchain-community/src/vectorstores/closevector/web.ts
  yarn.lock
Labels: lgtm, auto:improvement, size:L

#4279 google-genai[patch]: Extend GoogleGenerativeAIEmbeddings to embed more than 100 documents
  libs/langchain-google-genai/src/embeddings.ts
Labels: lgtm, auto:bug, size:M

#4301 google-genai[patch]: Release 0.0.10
  libs/langchain-google-genai/package.json
Labels: auto:nit, size:XS

#4304 Fix typos and grammer errors in concepts.mdx
  docs/core_docs/docs/modules/model_io/concepts.mdx
Labels: lgtm, auto:documentation, size:S

#4307 core[patch]: Properly export ImagePromptTemplate
  langchain-core/src/prompts/image.ts
  langchain-core/src/prompts/index.ts
Labels: auto:improvement, size:XS

#4310 ci[patch]: Set concurrency to 1 for unit tests ci
  .github/workflows/unit-tests.yml
  langchain/src/chains/tests/constitutional_chain.int.test.ts
Labels: auto:improvement, size:S

#4309 core[minor]: Move remote runnable to core and fix base message serialization format
  langchain-core/langchain.config.js
  langchain-core/src/messages/index.ts
  langchain-core/src/runnables/remote.ts
  langchain-core/src/runnables/tests/runnable_remote.int.test.ts
  langchain-core/src/runnables/tests/runnable_remote.test.ts
  langchain-core/src/utils/event_source_parse.ts
Labels: auto:improvement, size:XXL

#4311 core[patch]: Update build artifact
  langchain-core/.gitignore
  langchain-core/package.json
Labels: auto:nit, size:S

#4313 core[patch]: Release 0.1.24
  langchain-core/package.json
Labels: size:XS

#4306 docs[minor]: Add OpenAI tools docs
  deno.json
  docs/core_docs/docs/modules/model_io/output_parsers/types/openai_tools.ipynb
Labels: auto:documentation, size:L

#4308 langchain[patch]: Fix ImagePromptTemplate deserialization, export RemoteRunnable directly from @langchain/core
  langchain/langchain.config.js
  langchain/package.json
  langchain/src/load/import_map.ts
  langchain/src/load/tests/data/important_imports.json
  langchain/src/retrievers/tests/vectorstores.test.ts
  langchain/src/runnables/remote.ts
  yarn.lock
Labels: auto:bug, size:L

#4103 langchain[minor]: Add imports migration script
  docs/core_docs/docs/guides/migrating.mdx
  examples/package.json
  examples/src/guides/migrating.ts
  langchain/.gitignore
  langchain/langchain.config.js
  langchain/package.json
  langchain/src/load/import_constants.ts
  langchain/src/util/migrations/0_0-0_1-migrate-imports.ts
  yarn.lock
Labels: auto:improvement, size:L

#4220 langchain[patch]: update metadata and default expand param for confluence loader
  langchain/src/document_loaders/tests/confluence.test.ts
  langchain/src/document_loaders/web/confluence.ts
Labels: lgtm, auto:improvement, size:M

#4315 langchain[patch]: Release 0.1.14
  langchain/package.json
Labels: auto:nit, size:XS

#4312 ci[minor]: Add new test:unit:ci and build before tests in ci file
  .github/workflows/ci.yml
  .github/workflows/unit-tests.yml
  package.json
  turbo.json
Labels: auto:improvement, size:M

#4325 core[patch]: Inline more portable SAX parser, remove node-only type import
  langchain-core/.eslintrc.cjs
  langchain-core/package.json
  langchain-core/src/output_parsers/xml.ts
  langchain-core/src/utils/event_source_parse.ts
  langchain-core/src/utils/sax-js/LICENSE.md
  langchain-core/src/utils/sax-js/sax.ts
  yarn.lock
Labels: auto:bug, size:XXL

#4323 langchain[patch],community[patch]: Fix lint warnings
  langchain/src/agents/tests/create_openai_functions_agent.int.test.ts
  libs/langchain-community/src/vectorstores/opensearch.ts
Labels: auto:nit, size:XS

#4327 core[patch]: Release 0.1.25
  langchain-core/package.json
Labels: size:XS

#4328 langchain[patch]: Bump core dep
  langchain/package.json
  yarn.lock
Labels: auto:nit, size:XS

#4329 langchain[patch]: Release 0.1.15
  langchain/package.json
Labels: auto:nit, size:XS

#4326 scripts[minor],docs[minor]: Add migration script to scripts package
  docs/core_docs/docs/guides/migrating.mdx
  examples/package.json
  examples/src/guides/migrating.ts
  libs/langchain-scripts/.gitignore
  libs/langchain-scripts/package.json
  libs/langchain-scripts/scripts/create-entrypoints.js
  libs/langchain-scripts/src/migrations/0_1.ts
  libs/langchain-scripts/src/migrations/index.ts
  yarn.lock
Labels: auto:documentation, size:L

#4330 scripts[patch]: Release 0.0.5
  libs/langchain-scripts/package.json
Labels: size:XS

#4322 Update aws.mdx
  docs/core_docs/docs/integrations/platforms/aws.mdx
Labels: question, auto:documentation, size:XS

#4319 Updated debugging.mdx
  docs/core_docs/docs/guides/debugging.mdx
Labels: lgtm, auto:documentation, size:S

#4332 langchain[patch]: Fix run on dataset method for built-in evaluators
  langchain/package.json
  langchain/src/evaluation/base.ts
  langchain/src/evaluation/criteria/criteria.ts
  langchain/src/smith/runner_utils.ts
  langchain/src/smith/tests/run_on_dataset.int.test.ts
  yarn.lock
Labels: lgtm, auto:bug, size:L

#4334 langchain[patch]: Release 0.1.16
  langchain/package.json
Labels: auto:nit, size:XS

#4335 Correct waitlist instruction in README
  README.md
Labels: auto:documentation, size:XS

#4336 docs[patch]: Fix broken link
  docs/core_docs/docs/expression_language/interface.mdx
Labels: auto:documentation, size:XS

#4344 langchain[patch]: Export helper functions from indexing api
  langchain/src/indexes/index.ts
  langchain/src/indexes/indexing.ts
Labels: auto:improvement, size:M

#4314 docs[minor]: Add Human-in-the-loop to tools use case
  .gitignore
  deno.json
  docs/core_docs/.gitignore
  docs/core_docs/docs/use_cases/tool_use/human_in_the_loop.ipynb
  docs/core_docs/package.json
  docs/core_docs/scripts/quatro-build.js
  docs/core_docs/scripts/vercel_build.sh
  examples/package.json
  examples/src/use_cases/human_in_the_loop/accept-feedback.ts
  examples/src/use_cases/human_in_the_loop/helpers.ts
  yarn.lock
Labels: auto:documentation, size:L

#4331 langchain[minor],docs[minor]: Add `SitemapLoader`
  docs/core_docs/docs/integrations/document_loaders/web_loaders/sitemap.mdx
  environment_tests/test-exports-bun/src/entrypoints.js
  environment_tests/test-exports-cf/src/entrypoints.js
  environment_tests/test-exports-cjs/src/entrypoints.js
  environment_tests/test-exports-esbuild/src/entrypoints.js
  environment_tests/test-exports-esm/src/entrypoints.js
  environment_tests/test-exports-vercel/src/entrypoints.js
  environment_tests/test-exports-vite/src/entrypoints.js
  examples/src/document_loaders/parse_sitemap.ts
  examples/src/document_loaders/sitemap.ts
  langchain/.gitignore
  langchain/langchain.config.js
  langchain/package.json
  langchain/src/document_loaders/tests/sitemap.test.ts
  langchain/src/document_loaders/web/cheerio.ts
  langchain/src/document_loaders/web/sitemap.ts
  langchain/src/load/import_map.ts
Labels: auto:documentation, size:L

#4345 langchain[patch]: Rm unwanted build artifacts
  environment_tests/test-exports-bun/src/entrypoints.js
  environment_tests/test-exports-cf/src/entrypoints.js
  environment_tests/test-exports-cjs/src/entrypoints.js
  environment_tests/test-exports-esbuild/src/entrypoints.js
  environment_tests/test-exports-esm/src/entrypoints.js
  environment_tests/test-exports-vercel/src/entrypoints.js
  environment_tests/test-exports-vite/src/entrypoints.js
  langchain/src/load/import_constants.ts
  langchain/src/load/import_map.ts
Labels: auto:nit, size:XS

#4347 langchain[patch]: Release 0.1.17
  langchain/package.json
Labels: size:XS

#4348 langchain[patch],docs[patch]: Fix double redirect
  docs/core_docs/vercel.json
  langchain/src/document_loaders/tests/sitemap.test.ts
  langchain/src/document_loaders/web/sitemap.ts
Labels: auto:documentation, size:S

#4353 core[patch]: Fix remote runnable streamLog type, update docs
  docs/core_docs/docs/ecosystem/langserve.mdx
  examples/src/ecosystem/langsmith.ts
  examples/src/ecosystem/langsmith_stream_log.ts
  examples/src/guides/expression_language/interface_stream_log.ts
  langchain-core/src/runnables/remote.ts
  langchain-core/src/runnables/tests/runnable_remote.int.test.ts
  langchain-core/src/runnables/tests/runnable_remote.test.ts
  langchain/src/runnables/tests/runnable_remote.test.ts
Labels: auto:improvement, size:L

#4354 core[patch]: Release 0.1.26
  langchain-core/package.json
Labels: auto:nit, size:XS

#4229 community[patch]: Support OpenSearch Serverless
  libs/langchain-community/src/vectorstores/opensearch.ts
Labels: lgtm, auto:improvement, size:M

#4358 langchain[patch]: Make sitemap test integration
  langchain/src/document_loaders/tests/sitemap.int.test.ts
Labels: size:XS

#4321 community[minor]: Added `SQLiteRecordManager`
  libs/langchain-community/.gitignore
  libs/langchain-community/langchain.config.js
  libs/langchain-community/package.json
  libs/langchain-community/src/indexes/sqlite.ts
  libs/langchain-community/src/indexes/tests/sqlite.int.test.ts
  yarn.lock
Labels: lgtm, auto:enhancement, size:L

#4302 community[minor]: Add Dria retriever
  docs/core_docs/docs/integrations/retrievers/dria.mdx
  examples/src/retrievers/dria.ts
  libs/langchain-community/.gitignore
  libs/langchain-community/langchain.config.js
  libs/langchain-community/package.json
  libs/langchain-community/src/retrievers/dria.ts
  libs/langchain-community/src/retrievers/tests/dria.int.test.ts
  yarn.lock
Labels: lgtm, auto:enhancement, size:L

#4359 community[patch]: Release 0.0.27
  libs/langchain-community/package.json
Labels: auto:nit, size:XS

#4349 core[minor]: Adds streamEvents method to runnables
  docs/core_docs/docs/expression_language/cookbook/_category_.yml
  docs/core_docs/docs/expression_language/how_to/_category_.yml
  docs/core_docs/docs/expression_language/interface.mdx
  docs/core_docs/docs/expression_language/streaming.mdx
  docs/core_docs/docs/expression_language/why.mdx
  docs/core_docs/docs/modules/agents/how_to/streaming.mdx
  examples/src/agents/stream_events.ts
  examples/src/agents/stream_log.ts
  langchain-core/package.json
  langchain-core/src/runnables/base.ts
  langchain-core/src/runnables/tests/runnable.test.ts
  langchain-core/src/runnables/tests/runnable_remote.int.test.ts
  langchain-core/src/runnables/tests/runnable_stream_events.test.ts
  langchain-core/src/runnables/utils.ts
  langchain-core/src/tracers/base.ts
  langchain-core/src/tracers/log_stream.ts
  langchain-core/src/utils/stream.ts
  langchain-core/src/utils/testing/index.ts
Labels: auto:improvement, size:XXL

#4365 docs[minor]: Add streamEvents docs
  deno.json
  docs/core_docs/docs/expression_language/interface.mdx
  docs/core_docs/docs/expression_language/streaming.ipynb
  docs/core_docs/docs/expression_language/streaming.mdx
  docs/core_docs/docs/modules/agents/how_to/streaming.mdx
  langchain-core/src/tracers/log_stream.ts
Labels: auto:documentation, size:XXL

#4378 Fix doc typo for formatPromptValue in prompts/quick_start.mdx
  docs/core_docs/docs/modules/model_io/prompts/quick_start.mdx
Labels: auto:documentation, size:XS

#4381 core[minor]: Adds addMessages method for chat history
  langchain-core/src/chat_history.ts
Labels: auto:improvement, size:M

#4369 langchain[patch]: Update cypher qa prompt
  langchain/src/chains/graph_qa/prompts.ts
Labels: lgtm, auto:improvement, size:XS

#4372 community[patch]: allow to modify OpenSerach number of shards/replicas
  libs/langchain-community/src/vectorstores/opensearch.ts
Labels: lgtm, auto:improvement, size:S

#4377 Update `firebase-admin` dependency
  examples/package.json
  libs/langchain-community/package.json
  yarn.lock
Labels: lgtm, auto:nit, size:XS

#4384 docs[patch],langchain[patch]: Clean up legacy retrieval QA chain code in docs, fix bad type
  docs/core_docs/docs/integrations/document_loaders/web_loaders/searchapi.mdx
  docs/core_docs/docs/integrations/document_loaders/web_loaders/serpapi.mdx
  docs/core_docs/docs/integrations/retrievers/chaindesk-retriever.mdx
  docs/core_docs/docs/integrations/retrievers/metal-retriever.mdx
  docs/core_docs/docs/integrations/retrievers/remote-retriever.mdx
  docs/core_docs/docs/integrations/retrievers/zep-retriever.mdx
  docs/core_docs/docs/modules/data_connection/retrievers/index.mdx
  docs/core_docs/docs/modules/data_connection/retrievers/vectorstore.mdx
  examples/src/chains/chat_vector_db_chroma.ts
  examples/src/chains/retrieval_qa_with_remote.ts
  examples/src/document_loaders/apify_dataset_existing.ts
  examples/src/document_loaders/apify_dataset_new.ts
  examples/src/document_loaders/searchapi.ts
  examples/src/document_loaders/serpapi.ts
  examples/src/indexes/text_splitter_with_chunk_header.ts
  examples/src/indexes/vector_stores/azure_aisearch/azure_aisearch.ts
  examples/src/indexes/vector_stores/azure_cosmosdb/azure_cosmosdb.ts
  examples/src/indexes/vector_stores/redis/redis_query.ts
  examples/src/indexes/vector_stores/rockset.ts
  examples/src/use_cases/youtube/chat_with_podcast.ts
  langchain/src/chains/retrieval.ts
Labels: auto:documentation, size:XL

#4382 langchain[patch]: Bump langchainhub dep to latest
  langchain/package.json
  yarn.lock
Labels: auto:nit, size:XS

#4385 core[patch]: Relax required arguments on core load method
  langchain-core/src/load/index.ts
Labels: auto:improvement, size:M

#4389 cohere[patch]: Release 0.0.5
  libs/langchain-cohere/package.json
Labels: size:XS

#4397 docs[minor], core[patch]: Adds docs for creating custom modules and extending LangChain
  CONTRIBUTING.md
  deno.json
  docs/core_docs/docs/guides/extending_langchain.mdx
  docs/core_docs/docs/modules/data_connection/retrievers/custom.mdx
  docs/core_docs/docs/modules/data_connection/retrievers/index.mdx
  docs/core_docs/docs/modules/data_connection/retrievers/vectorstore.mdx
  docs/core_docs/docs/modules/data_connection/vectorstores/custom.ipynb
  docs/core_docs/docs/modules/memory/chat_messages/custom.ipynb
  docs/core_docs/docs/modules/memory/chat_messages/index.mdx
  docs/core_docs/docs/modules/model_io/chat/custom_chat.mdx
  docs/core_docs/docs/modules/model_io/llms/custom_llm.mdx
  docs/core_docs/docs/modules/model_io/output_parsers/custom.ipynb
  examples/.eslintrc.cjs
  examples/src/models/chat/custom.ts
  examples/src/models/chat/custom_advanced.ts
  examples/src/models/llm/custom_advanced.ts
  examples/src/retrievers/custom.ts
  langchain-core/src/language_models/chat_models.ts
Labels: lgtm, auto:documentation, size:XXL

#4399 core[patch]: Release 0.1.28
  langchain-core/package.json
Labels: auto:nit, size:XS

#4392 experimental[patch]: Add threadId and runId to OpenAIAssistantRunnable returnValues for AgentExecutor
  langchain/src/experimental/openai_assistant/index.ts
Labels: lgtm, auto:improvement, size:XS

#4387 cloudflare[patch]: Add metadata filtering support to Cloudflare Vectorize
  docs/core_docs/docs/integrations/vectorstores/cloudflare_vectorize.mdx
  libs/langchain-cloudflare/src/vectorstores.ts
Labels: lgtm, auto:improvement, size:S

#4390 community[patch]: Fix neo4j vector for multiple indexes
  libs/langchain-community/src/vectorstores/neo4j_vector.ts
  libs/langchain-community/src/vectorstores/tests/neo4j_vector.int.test.ts
Labels: lgtm, auto:improvement, size:M

#4400 community[patch]: Bump versions
  libs/langchain-community/package.json
  yarn.lock
Labels: auto:nit, size:XS

#4401 community[patch]: Release 0.0.28
  libs/langchain-community/package.json
Labels: auto:nit, size:XS

#4402 langchain[patch]: Bump deps
  langchain/package.json
  yarn.lock
Labels: size:XS

#4350 langchain[patch]: Fix: Prevent text-splitter `createDocments` metadata being overwritten.
  langchain/src/text_splitter.ts
Labels: close, auto:bug, size:XS

#4404 cloudflare[patch]: Release 0.0.3
  libs/langchain-cloudflare/package.json
Labels: size:XS

#4405 Use onRunCreate
  langchain-core/src/tracers/tests/langchain_tracer.int.test.ts
  langchain-core/src/tracers/tracer_langchain.ts
Labels: auto:refactor, size:L

#4414 langchain[patch], core[patch], community[patch]: Bump LangSmith versions
  examples/package.json
  langchain-core/package.json
  langchain/package.json
  libs/langchain-community/package.json
  yarn.lock
Labels: auto:nit, size:XS

#4419 core[patch]: Make custom tools pass raw config to functions
  langchain-core/src/tools.ts
Labels: auto:improvement, size:S

#4398 docs[patch]: Add warnings about SQL Injection for Postgres integrations
  docs/core_docs/docs/integrations/vectorstores/analyticdb.mdx
  docs/core_docs/docs/integrations/vectorstores/pgvector.mdx
Labels: lgtm, hold, auto:improvement, size:S

#4420 core[patch]: Add optional type param to JsonOutputParser
  langchain-core/src/output_parsers/json.ts
  langchain-core/src/output_parsers/tests/json.test.ts
  langchain-core/src/runnables/base.ts
  langchain-core/src/runnables/passthrough.ts
Labels: auto:improvement, size:M

#4370 Improve developer-facing evaluations API
  docs/core_docs/docs/guides/langsmith_evaluation.mdx
  examples/package.json
  langchain-core/package.json
  langchain/langchain.config.js
  langchain/package.json
  langchain/src/smith/config.ts
  langchain/src/smith/runner_utils.ts
  libs/langchain-community/package.json
  yarn.lock
Labels: lgtm, auto:improvement, size:L

#4422 docs[minor]: Fix broken link used in quickstart
  docs/core_docs/docs/get_started/quickstart.mdx
  docs/core_docs/docs/modules/agents/quick_start.mdx
  docs/core_docs/docs/use_cases/chatbots/quickstart.mdx
  docs/core_docs/docs/use_cases/chatbots/retrieval.mdx
  examples/src/agents/quickstart.ts
  examples/src/get_started/quickstart2.ts
  examples/src/get_started/quickstart3.ts
  examples/src/use_cases/chatbots/quickstart.ts
  examples/src/use_cases/chatbots/retrieval.ts
Labels: lgtm, auto:documentation, size:M

#4364 langchain[minor]: Couchbase document loader
  docs/core_docs/docs/integrations/document_loaders/web_loaders/couchbase.mdx
  langchain/.gitignore
  langchain/langchain.config.js
  langchain/package.json
  langchain/src/document_loaders/tests/couchbase.int.test.ts
  langchain/src/document_loaders/web/couchbase.ts
  langchain/src/load/import_constants.ts
  yarn.lock
Labels: lgtm, auto:enhancement, size:L

#4424 core[patch]: Release 0.1.29
  langchain-core/package.json
Labels: size:XS

#4426 community[patch]: Release 0.0.29
  libs/langchain-community/package.json
Labels: size:XS

#4427 langchain[patch]: Bump community
  langchain/package.json
  yarn.lock
Labels: auto:nit, size:XS

#4428 langchain[patch]: Release 0.1.19
  langchain/package.json
Labels: auto:nit, size:XS

#4435 core[minor]: Improve error handling
  langchain-core/src/tracers/base.ts
Labels: lgtm, auto:improvement, size:S

#4436 langchain[patch]: Make AgentExecutor pass config object through to tools
  langchain/src/agents/executor.ts
  langchain/src/chains/base.ts
Labels: auto:improvement, size:S

#4411 community[patch], azure-openai[patch]: tag langchainjs in azure integrations calls
  langchain/src/document_loaders/web/azure_blob_storage_container.ts
  langchain/src/document_loaders/web/azure_blob_storage_file.ts
  libs/langchain-azure-openai/src/chat_models.ts
  libs/langchain-azure-openai/src/constants.ts
  libs/langchain-azure-openai/src/embeddings.ts
  libs/langchain-azure-openai/src/llms.ts
  libs/langchain-community/src/vectorstores/azure_aisearch.ts
  libs/langchain-community/src/vectorstores/azure_cosmosdb.ts
Labels: lgtm, auto:improvement, size:M

#4437 azure-openai[patch]: Release 0.0.2
  libs/langchain-azure-openai/package.json
Labels: auto:nit, size:XS

#4434 community[patch]: add neo4j-graph generics, don't swallow query execution errors
  libs/langchain-community/package.json
  libs/langchain-community/src/graphs/neo4j_graph.ts
  yarn.lock
Labels: lgtm, auto:improvement, size:M

#4368 langchain[patch]: Upgrade Google Cloud Storage dependency
  langchain/package.json
  yarn.lock
Labels: question, auto:improvement, size:XS

#4430 langchain[minor]: Fix missing traces when traceable used in runOnDataset, API update
  docs/core_docs/docs/guides/langsmith_evaluation.mdx
  langchain/src/smith/config.ts
  langchain/src/smith/runner_utils.ts
Labels: lgtm, auto:improvement, size:L

#4418 community[minor]: add CassandraKVStore
  docs/core_docs/docs/integrations/stores/cassandra_storage.mdx
  examples/src/stores/cassandra_storage.ts
  libs/langchain-community/.gitignore
  libs/langchain-community/langchain.config.js
  libs/langchain-community/package.json
  libs/langchain-community/src/storage/cassandra.ts
  libs/langchain-community/src/storage/tests/cassandra.int.test.ts
  libs/langchain-community/src/stores/message/cassandra.ts
  libs/langchain-community/src/utils/cassandra.ts
  libs/langchain-community/src/vectorstores/cassandra.ts
Labels: close, auto:enhancement, size:XXL

#4438 core[patch]: Release 0.1.30
  langchain-core/package.json
Labels: auto:nit, size:XS

#4439 community[patch]: Release 0.0.30
  libs/langchain-community/package.json
Labels: size:XS

#4440 langchain[patch]: Release 0.1.20
  langchain/package.json
Labels: size:XS

#4441 docs[patch]: Update image
  README.md
  docs/core_docs/docs/get_started/introduction.mdx
  docs/core_docs/static/img/langchain_stack_feb_2024.webp
  langchain-core/README.md
  langchain/README.md
  libs/langchain-community/README.md
Labels: auto:documentation, size:S

#4442 nomic[major]: Add Nomic integration package
  docs/core_docs/docs/integrations/text_embedding/nomic.mdx
  examples/package.json
  examples/src/models/embeddings/nomic.ts
  libs/langchain-nomic/.eslintrc.cjs
  libs/langchain-nomic/.gitignore
  libs/langchain-nomic/.prettierrc
  libs/langchain-nomic/.release-it.json
  libs/langchain-nomic/LICENSE
  libs/langchain-nomic/README.md
  libs/langchain-nomic/jest.config.cjs
  libs/langchain-nomic/jest.env.cjs
  libs/langchain-nomic/langchain.config.js
  libs/langchain-nomic/package.json
  libs/langchain-nomic/scripts/jest-setup-after-env.js
  libs/langchain-nomic/src/embeddings.ts
  libs/langchain-nomic/src/index.ts
  libs/langchain-nomic/src/tests/embeddings.int.test.ts
  libs/langchain-nomic/tsconfig.cjs.json
  libs/langchain-nomic/tsconfig.json
  yarn.lock
Labels: auto:enhancement, size:XL

#4444 nomic[patch]: Release 0.0.1
  libs/langchain-nomic/package.json
Labels: size:XS

#4445 nomic[patch]: Use Nomic SDK instead of rest api
  libs/langchain-nomic/README.md
  libs/langchain-nomic/package.json
  libs/langchain-nomic/src/embeddings.ts
  yarn.lock
Labels: auto:improvement, size:M

#4457 nomic[patch]: Release 0.0.2
  libs/langchain-nomic/package.json
Labels: size:XS

#4464 Fix undefined prompt variable when loading a non-templated image message part
  langchain-core/src/prompts/chat.ts
Labels: lgtm, auto:bug, size:XS

#4460 docs[patch]: Fix typo in quickstart walkthrough
  docs/core_docs/docs/get_started/quickstart.mdx
Labels: lgtm, auto:documentation, size:XS

#4455 docs[patch]: Docs update: update cloudflare_vectorize.mdx
  docs/core_docs/docs/integrations/vectorstores/cloudflare_vectorize.mdx
Labels: lgtm, auto:documentation, size:XS

#4447 community[minor]: Basic Fireworks function calling notebook + embeddings code
  cookbook/function_calling_fireworks.ipynb
  docs/core_docs/docs/integrations/text_embedding/fireworks.mdx
  examples/src/models/embeddings/fireworks.ts
  libs/langchain-community/.gitignore
  libs/langchain-community/langchain.config.js
  libs/langchain-community/package.json
  libs/langchain-community/src/embeddings/fireworks.ts
  libs/langchain-community/src/embeddings/tests/fireworks.int.test.ts
Labels: lgtm, auto:documentation, size:L

#3745 community[minor]: Make "IN-filters" possible for PgVector Metadata
  examples/src/indexes/vector_stores/pgvector_vectorstore/pgvector.ts
  libs/langchain-community/src/vectorstores/pgvector.ts
  libs/langchain-community/src/vectorstores/tests/pgvector/pgvector.int.test.ts
Labels: lgtm, auto:improvement, size:L

#4473 👥 Update LangChain people data
  .github/actions/action.yml
  .github/actions/people/Dockerfile
  .github/actions/people/app/main.py
  .github/workflows/people.yml
  docs/core_docs/data/people.yml
  docs/core_docs/docs/people.mdx
  docs/core_docs/docusaurus.config.js
  docs/core_docs/package.json
  docs/core_docs/src/theme/People.js
  libs/langchain-community/src/graphs/neo4j_graph.ts
  yarn.lock
Labels: auto:documentation, size:XXL

#4475 langchain[patch]: Relax Weaviate peer dep
  langchain/package.json
  yarn.lock
Labels: auto:nit, size:XS

#4454 community[patch]: Add `keep_alive` parameter to Ollama API.
  libs/langchain-community/src/chat_models/ollama.ts
  libs/langchain-community/src/embeddings/ollama.ts
  libs/langchain-community/src/llms/ollama.ts
  libs/langchain-community/src/utils/ollama.ts
Labels: lgtm, auto:improvement, size:S

#4450 community[minor]: Postgres Integration for Chat Memory
  docs/core_docs/docs/integrations/chat_memory/postgres.mdx
  examples/src/memory/postgres.ts
  libs/langchain-community/.gitignore
  libs/langchain-community/langchain.config.js
  libs/langchain-community/package.json
  libs/langchain-community/src/stores/message/postgres.ts
  libs/langchain-community/src/stores/tests/postgres.int.test.ts
  yarn.lock
Labels: lgtm, auto:enhancement, size:L

#4459 community[minor]: Add Astra DB chat message history store
  docs/core_docs/docs/integrations/chat_memory/astradb.mdx
  examples/.env.example
  examples/src/memory/astradb.ts
  libs/langchain-community/.gitignore
  libs/langchain-community/langchain.config.js
  libs/langchain-community/package.json
  libs/langchain-community/src/stores/message/astradb.ts
  libs/langchain-community/src/stores/tests/astradb.int.test.ts
Labels: lgtm, auto:enhancement, size:L

#4478 core[patch]: Release 0.1.32
  langchain-core/package.json
Labels: auto:nit, size:XS

#4466 community[patch]: Allow custom headers on Ollama / ChatOllama / OllamaEmbeddings
  libs/langchain-community/src/chat_models/ollama.ts
  libs/langchain-community/src/embeddings/ollama.ts
  libs/langchain-community/src/llms/ollama.ts
  libs/langchain-community/src/utils/ollama.ts
Labels: lgtm, auto:improvement, size:M

#4479 community[patch]: Update community deps and tests
  libs/langchain-community/package.json
  libs/langchain-community/src/llms/tests/huggingface_hub.int.test.ts
  libs/langchain-community/src/stores/tests/astradb.int.test.ts
  libs/langchain-community/src/vectorstores/tests/astradb.int.test.ts
  yarn.lock
Labels: auto:nit, size:M

#4481 community[patch]: Release 0.0.32
  libs/langchain-community/package.json
Labels: auto:nit, size:XS

#4482 langchain[patch]: Update deps
  langchain/package.json
  yarn.lock
Labels: auto:nit, size:XS

#4483 langchain[patch]: Release 0.1.21
  langchain/package.json
Labels: auto:nit, size:XS

#4467 groq[major]: ChatGroq (groq integration package)
  docs/core_docs/docs/integrations/chat/groq.mdx
  examples/package.json
  examples/src/models/chat/chat_groq.ts
  examples/src/models/chat/chat_stream_groq.ts
  libs/langchain-groq/.eslintrc.cjs
  libs/langchain-groq/.gitignore
  libs/langchain-groq/.prettierrc
  libs/langchain-groq/.release-it.json
  libs/langchain-groq/LICENSE
  libs/langchain-groq/README.md
  libs/langchain-groq/jest.config.cjs
  libs/langchain-groq/jest.env.cjs
  libs/langchain-groq/langchain.config.js
  libs/langchain-groq/package.json
  libs/langchain-groq/scripts/jest-setup-after-env.js
  libs/langchain-groq/src/chat_models.ts
  libs/langchain-groq/src/index.ts
  libs/langchain-groq/src/tests/chat_models.int.test.ts
  libs/langchain-groq/tsconfig.cjs.json
  libs/langchain-groq/tsconfig.json
  yarn.lock
Labels: auto:enhancement, size:XL
