Repository langchain-ai/langchainjs, pull requests merged in 2025-07, with the labels that each got.

#8331 fix[community]: watsonx.ai software auth for all IBM classes
  libs/langchain-community/src/agents/toolkits/ibm.ts
  libs/langchain-community/src/chat_models/ibm.ts
  libs/langchain-community/src/document_compressors/ibm.ts
  libs/langchain-community/src/embeddings/ibm.ts
  libs/langchain-community/src/llms/ibm.ts
  libs/langchain-community/src/types/ibm.ts
  libs/langchain-community/src/utils/ibm.ts
Labels: lgtm, auto:bug, size:S

#8443 minor[openai]: break out ChatOpenAI
  libs/langchain-community/src/chat_models/fireworks.ts
  libs/langchain-community/src/chat_models/novita.ts
  libs/langchain-community/src/chat_models/togetherai.ts
  libs/langchain-deepseek/src/chat_models.ts
  libs/langchain-openai/src/azure/chat_models.ts
  libs/langchain-openai/src/chat_models.ts
  libs/langchain-openai/src/tests/chat_models.int.test.ts
  libs/langchain-openai/src/utils/openai.ts
  libs/langchain-xai/src/chat_models.ts
Labels: lgtm, auto:refactor, size:L

#8409 Added note on security considerations when using filters and Azure Cosmos DB for NoSQL
  docs/core_docs/docs/integrations/vectorstores/azure_cosmosdb_nosql.mdx
Labels: auto:documentation, size:M

#8419 fix: merging tool_call_chunks grouped by id (issue #8394)
  langchain-core/src/messages/ai.ts
  langchain-core/src/messages/tests/base_message.test.ts
Labels: auto:bug, size:M

#8328 feat(community): perplexity add web search options
  libs/langchain-community/src/chat_models/perplexity.ts
Labels: auto:improvement, size:M

#8414 fix(pgvector): add skipInitializationCheck option to disable schema c…
  libs/langchain-community/src/vectorstores/pgvector.ts
  libs/langchain-community/src/vectorstores/tests/pgvector/pgvector.int.test.ts
Labels: auto:improvement, size:L

#8207 feat: Support Custom Metadata Labels on Vertex AI
  libs/langchain-google-common/src/chat_models.ts
  libs/langchain-google-common/src/connection.ts
  libs/langchain-google-common/src/tests/chat_models.test.ts
  libs/langchain-google-common/src/types.ts
  libs/langchain-google-common/src/utils/common.ts
  libs/langchain-google-common/src/utils/gemini.ts
  libs/langchain-google-vertexai/src/tests/chat_models.test.ts
Labels: auto:enhancement, size:L, google
