Repository langchain-ai/langchainjs, pull requests merged in 2025-01, with the labels that each got.

#7457 feat(cerebras): Adds Cerebras chat model integration
  docs/core_docs/docs/integrations/chat/cerebras.ipynb
  langchain/package.json
  langchain/src/chat_models/universal.ts
  libs/langchain-cerebras/.eslintrc.cjs
  libs/langchain-cerebras/.gitignore
  libs/langchain-cerebras/.prettierrc
  libs/langchain-cerebras/.release-it.json
  libs/langchain-cerebras/LICENSE
  libs/langchain-cerebras/README.md
  libs/langchain-cerebras/jest.config.cjs
  libs/langchain-cerebras/jest.env.cjs
  libs/langchain-cerebras/langchain.config.js
  libs/langchain-cerebras/package.json
  libs/langchain-cerebras/scripts/jest-setup-after-env.js
  libs/langchain-cerebras/src/chat_models.ts
  libs/langchain-cerebras/src/index.ts
  libs/langchain-cerebras/src/tests/chat_models.int.test.ts
  libs/langchain-cerebras/src/tests/chat_models.standard.int.test.ts
  libs/langchain-cerebras/src/tests/chat_models.standard.test.ts
  libs/langchain-cerebras/src/utils.ts
  libs/langchain-cerebras/tsconfig.cjs.json
  libs/langchain-cerebras/tsconfig.json
  libs/langchain-cerebras/turbo.json
  yarn.lock
Labels: auto:enhancement, size:XXL

#7459 release(cerebras): 0.0.1
  libs/langchain-cerebras/package.json
Labels: size:XS

#7460 Release 0.3.9
  langchain/package.json
Labels: size:XS

#7458 fix(create-langchain-integration): Update integration template
  libs/create-langchain-integration/template/package.json
  libs/create-langchain-integration/template/src/chat_models.ts
Labels: lgtm, auto:nit, size:M

#7462 docs: Fix API ref link
  docs/core_docs/docs/integrations/chat/cerebras.ipynb
Labels: size:XS

#7463 docs: Update provider docs page
  docs/core_docs/docs/integrations/platforms/index.mdx
Labels: size:XS

#7464 fix(community): Relax community deps
  examples/package.json
  libs/langchain-community/package.json
  libs/langchain-community/src/storage/vercel_kv.ts
  yarn.lock
Labels: size:S

#7466 release(community): 0.3.22
  libs/langchain-community/package.json
Labels: size:XS

#7473 feat: Add google-vertexai-web to initChatModel
  langchain/package.json
  langchain/src/chat_models/universal.ts
  yarn.lock
Labels: auto:enhancement, size:S

#7474 Release 0.3.10
  langchain/package.json
Labels: size:XS

#7475 fix: Add test for running google web initChatModel
  langchain/src/chat_models/tests/universal.int.test.ts
Labels: auto:nit, size:S

#7481 fix(groq): Fix Max Retries for Groq
  libs/langchain-groq/src/chat_models.ts
Labels: lgtm, auto:bug, size:XS

#7488 fix(community): togetherai response different format handling
  libs/langchain-community/src/llms/togetherai.ts
Labels: lgtm, auto:nit, size:S

#7489 groq: populate more params and user agent
  libs/langchain-groq/src/chat_models.ts
Labels: auto:nit, size:M

#7485 docs: Add docs for Upstash Vector built-in embeddings support
  docs/core_docs/docs/integrations/vectorstores/upstash.ipynb
Labels: lgtm, auto:documentation, size:M

#7306 docs(community): remove docs for Watsonx IBM deprecated implementation
  docs/core_docs/docs/integrations/document_compressors/ibm.ipynb
  docs/core_docs/docs/integrations/llms/watsonx_ai.mdx
  docs/core_docs/vercel.json
  examples/src/llms/watsonx_ai.ts
Labels: lgtm, auto:nit, auto:documentation, size:M

#7491 release(groq): 0.1.3
  libs/langchain-groq/package.json
Labels: size:XS

#7477 fix(community): update YoutubeLoader implementation
  deno.json
  docs/core_docs/docs/integrations/document_loaders/web_loaders/youtube.mdx
  libs/langchain-community/package.json
  libs/langchain-community/src/document_loaders/tests/youtube.int.test.ts
  libs/langchain-community/src/document_loaders/web/youtube.ts
  yarn.lock
Labels: lgtm, auto:refactor, size:M

#7492 release(community): 0.3.23
  libs/langchain-community/package.json
Labels: size:XS

#7497 fix(langchain,core): Add metadata to pulled hub prompts
  langchain-core/src/prompts/base.ts
  langchain/src/hub.ts
  langchain/src/tests/hub.int.test.ts
Labels: auto:bug, size:M

#7498 release(core): 0.3.28
  langchain-core/package.json
Labels: size:XS

#7471 fix(google-common): Search grounding formatting
  libs/langchain-google-common/src/output_parsers.ts
  libs/langchain-google-common/src/tests/output_parsers.test.ts
Labels: lgtm, auto:bug, size:S

#7472 feat(google-common): Gemini logprobs
  docs/core_docs/docs/integrations/chat/google_vertex_ai.ipynb
  libs/langchain-google-common/src/chat_models.ts
  libs/langchain-google-common/src/tests/chat_models.test.ts
  libs/langchain-google-common/src/tests/data/chat-7-mock.json
  libs/langchain-google-common/src/types.ts
  libs/langchain-google-common/src/utils/common.ts
  libs/langchain-google-common/src/utils/gemini.ts
Labels: lgtm, auto:enhancement, auto:documentation, size:L

#7450 feat(community): add ByteDance Doubao Embeddings
  docs/core_docs/.gitignore
  docs/core_docs/docs/integrations/text_embedding/bytedance_doubao.ipynb
  examples/.env.example
  examples/src/embeddings/bytedance_doubao.ts
  libs/langchain-community/.gitignore
  libs/langchain-community/langchain.config.js
  libs/langchain-community/package.json
  libs/langchain-community/src/embeddings/bytedance_doubao.ts
  libs/langchain-community/src/embeddings/tests/bytedance_doubao.int.test.ts
  libs/langchain-community/src/load/import_map.ts
Labels: lgtm, auto:enhancement, auto:documentation, size:XL

#7499 release(community): 0.3.24
  libs/langchain-community/package.json
Labels: size:XS

#7500 release(google-vertexai): 0.1.7
  libs/langchain-google-common/package.json
  libs/langchain-google-gauth/package.json
  libs/langchain-google-vertexai-web/package.json
  libs/langchain-google-vertexai/package.json
  libs/langchain-google-webauth/package.json
  yarn.lock
Labels: size:S

#7501 release(langchain): 0.3.11
  langchain/package.json
Labels: size:XS

#7503 feat(core,openai): Add support for disable_streaming, set for o1
  langchain-core/src/language_models/chat_models.ts
  libs/langchain-openai/src/chat_models.ts
  libs/langchain-openai/src/tests/chat_models.int.test.ts
Labels: auto:improvement, size:M

#7507 release(core): 0.3.29
  langchain-core/package.json
Labels: size:XS

#7508 release(openai): 0.3.17
  libs/langchain-openai/package.json
  libs/langchain-openai/src/tests/chat_models.int.test.ts
  yarn.lock
Labels: size:S

#7506 docs: Closes #7476
  docs/core_docs/docs/integrations/llms/huggingface_inference.mdx
Labels: lgtm, auto:documentation, size:XS

#7504 docs: Closes #7494
  examples/src/document_loaders/notionapi.ts
  libs/langchain-community/src/document_loaders/web/notionapi.ts
Labels: lgtm, auto:documentation, size:S

#7513 fix(core): Make dispatchCustomEvent not throw if used with no callbacks
  langchain-core/src/callbacks/dispatch/web.ts
  langchain-core/src/runnables/tests/runnable_stream_events_v2.test.ts
Labels: lgtm, auto:bug, size:S

#7514 release(core): 0.3.30
  langchain-core/package.json
Labels: size:XS

#7517 fix(core): Add run name for trimMessages
  langchain-core/src/messages/tests/message_utils.test.ts
  langchain-core/src/messages/transformers.ts
Labels: size:S

#7515 fix(google-vertexai): fix bug when not using logprobs
  libs/langchain-google-common/src/chat_models.ts
  libs/langchain-google-common/src/tests/chat_models.test.ts
  libs/langchain-google-common/src/utils/gemini.ts
Labels: lgtm, auto:bug, size:M

#7516 fix(google-common,google-*): fix retryable errors
  libs/langchain-google-common/src/tests/chat_models.test.ts
  libs/langchain-google-common/src/tests/llms.test.ts
  libs/langchain-google-common/src/tests/mock.ts
  libs/langchain-google-common/src/utils/failed_handler.ts
Labels: lgtm, auto:bug, size:M

#7518 release(google-common): 0.1.8
  libs/langchain-google-common/package.json
  libs/langchain-google-gauth/package.json
  libs/langchain-google-vertexai-web/package.json
  libs/langchain-google-vertexai/package.json
  libs/langchain-google-webauth/package.json
  yarn.lock
Labels: size:S

#7547 fix(core): Fix trim messages mutation bug
  langchain-core/src/messages/tests/message_utils.test.ts
  langchain-core/src/messages/transformers.ts
Labels: auto:bug, size:L

#7548 release(core): 0.3.31
  langchain-core/package.json
Labels: size:XS

#7545 fix(community): Updated Embeddings URL
  libs/langchain-community/src/embeddings/togetherai.ts
Labels: lgtm, auto:bug, size:XS

#7542 fix(community): make sure guardrailConfig can be added even with anthropic models
  libs/langchain-community/src/utils/bedrock/index.ts
Labels: lgtm, auto:nit, size:XS

#7532 fix(community): Airtable url
  libs/langchain-community/src/document_loaders/web/airtable.ts
Labels: lgtm, auto:bug, auto:nit, size:XS

#7528 docs: Fix typo in OpenAIModerationChain example
  langchain/src/chains/openai_moderation.ts
Labels: lgtm, auto:nit, size:XS

#7505 docs: Resolves #7483, resolves #7274
  docs/core_docs/docs/integrations/tools/google_calendar.mdx
  examples/src/tools/google_calendar.ts
  libs/langchain-community/src/tools/google_calendar/base.ts
  libs/langchain-community/src/tools/google_calendar/commands/run-create-events.ts
  libs/langchain-community/src/tools/google_calendar/commands/run-view-events.ts
  libs/langchain-community/src/tools/tests/google_calendar.test.ts
Labels: lgtm, auto:documentation, size:M

#7524 docs: Rename auth method in IBM docs
  docs/core_docs/docs/integrations/chat/ibm.ipynb
  docs/core_docs/docs/integrations/document_compressors/ibm.ipynb
  docs/core_docs/docs/integrations/llms/ibm.ipynb
  docs/core_docs/docs/integrations/text_embedding/ibm.ipynb
Labels: lgtm, auto:documentation, size:S

#7549 release(community): 0.3.25
  libs/langchain-community/package.json
  libs/langchain-openai/src/chat_models.ts
Labels: size:XS

#7436 feat(azure-cosmosdb): add session context for a user mongodb
  libs/langchain-azure-cosmosdb/src/chat_histories/mongodb.ts
  libs/langchain-azure-cosmosdb/src/tests/chat_histories/mongodb.int.test.ts
Labels: lgtm, auto:improvement, size:L

#7550 release(azure-cosmosdb): 0.2.7
  libs/langchain-azure-cosmosdb/package.json
Labels: size:XS

#7551 fix(ci): Fix build
  libs/langchain-openai/src/chat_models.ts
Labels: size:XS

#7496 feat(anthropic): Add Anthropic PDF support (document type) in invoke
  examples/src/models/chat/integration_anthropic_pdf.ts
  libs/langchain-anthropic/src/utils/message_inputs.ts
Labels: auto:improvement, size:M

#7552 release(anthropic): 0.3.12
  libs/langchain-anthropic/package.json
Labels: size:XS

#7556 chore(core,langchain,community): Relax langsmith deps
  examples/package.json
  langchain-core/package.json
  langchain/package.json
  libs/langchain-community/package.json
  yarn.lock
Labels: auto:nit, size:XS

#7557 release(community): 0.3.26
  libs/langchain-community/package.json
Labels: size:XS

#7558 release(core): 0.3.32
  langchain-core/package.json
Labels: size:XS

#7559 Release 0.3.12
  langchain/package.json
Labels: size:XS

#7565 fix(core): Prevent cache misses from triggering model start callback runs twice
  langchain-core/src/language_models/chat_models.ts
  langchain-core/src/language_models/llms.ts
  langchain-core/src/language_models/tests/chat_models.test.ts
  langchain-core/src/language_models/tests/llms.test.ts
  libs/langchain-openai/src/tests/chat_models.int.test.ts
Labels: auto:bug, size:L

#7566 fix(core): Ensure that cached flag in run extras is only set for cache hits
  langchain-core/src/callbacks/base.ts
  langchain-core/src/callbacks/manager.ts
  langchain-core/src/language_models/chat_models.ts
  langchain-core/src/language_models/llms.ts
  langchain-core/src/language_models/tests/chat_models.test.ts
  langchain-core/src/language_models/tests/llms.test.ts
  langchain-core/src/tracers/base.ts
  langchain-core/src/tracers/tracer_langchain.ts
Labels: auto:bug, size:L

#7567 release(core): 0.3.33
  langchain-core/package.json
Labels: size:XS

#7555 feat(community): Adds graph_document to export list
  libs/langchain-community/.gitignore
  libs/langchain-community/langchain.config.js
  libs/langchain-community/package.json
  libs/langchain-community/src/experimental/graph_transformers/llm.int.test.ts
  libs/langchain-community/src/experimental/graph_transformers/llm.ts
  libs/langchain-community/src/graphs/document.ts
  libs/langchain-community/src/graphs/neo4j_graph.ts
  libs/langchain-community/src/graphs/tests/neo4j_graph.int.test.ts
  libs/langchain-community/src/load/import_constants.ts
  libs/langchain-community/src/load/import_map.ts
Labels: lgtm, size:M

#7510 fix(langchain): Fix ZeroShotAgent createPrompt with correct formatted tool names
  langchain/src/agents/mrkl/index.ts
Labels: lgtm, auto:bug, size:XS

#7519 docs: Add document for AzureCosmosDBMongoChatMessageHistory
  docs/core_docs/docs/integrations/memory/azure_cosmos_mongo_vcore.mdx
  docs/core_docs/docs/integrations/platforms/microsoft.mdx
  examples/src/memory/azure_cosmosdb_mongo.ts
Labels: lgtm, auto:documentation, size:L

#7569 fix(langchain): Allow pulling hub prompts with associated models
  langchain/src/hub.ts
  langchain/src/load/index.ts
Labels: lgtm, auto:bug, size:M

#7521 feat(community): Provide fallback relationshipType in case it is not present in graph_transformer
  libs/langchain-community/src/experimental/graph_transformers/llm.ts
Labels: auto:bug, auto:improvement, auto:nit, size:M

#7570 docs: Add redirect
  docs/core_docs/vercel.json
Labels: auto:documentation, size:XS

#7581 fix(langchain,core): Add shim for hub mustache templates with nested input variables
  langchain-core/src/prompts/chat.ts
  langchain-core/src/prompts/tests/chat.mustache.test.ts
  langchain/src/hub.ts
  langchain/src/tests/hub.int.test.ts
Labels: lgtm, size:L

#7575 fix(chat-models): honor disableStreaming even for `generateUncached`
  langchain-core/src/language_models/chat_models.ts
Labels: lgtm, auto:bug, size:XS

#7584 release(core): 0.3.34
  langchain-core/package.json
Labels: size:XS

#7583 feat(langchain): Add hub entrypoint with automatic dynamic entrypoint of models
  langchain/.gitignore
  langchain/langchain.config.js
  langchain/package.json
  langchain/src/agents/tests/create_openai_functions_agent.int.test.ts
  langchain/src/agents/tests/create_openai_tools_agent.int.test.ts
  langchain/src/agents/tests/create_react_agent.int.test.ts
  langchain/src/agents/tests/create_structured_chat_agent.int.test.ts
  langchain/src/agents/tests/create_xml_agent.int.test.ts
  langchain/src/chat_models/tests/universal.int.test.ts
  langchain/src/chat_models/universal.ts
  langchain/src/hub/base.ts
  langchain/src/hub/index.ts
  langchain/src/hub/node.ts
  langchain/src/hub/tests/hub.int.test.ts
  langchain/src/load/import_constants.ts
  langchain/src/load/index.ts
  langchain/src/tests/hub.int.test.ts
Labels: lgtm, auto:enhancement, size:L

#7574 chore(ollama): Export `OllamaEmbeddingsParams` interface
  libs/langchain-ollama/src/embeddings.ts
Labels: lgtm, auto:nit, size:XS

#7578 docs: Clarify tool creation process in structured outputs documentation
  docs/core_docs/docs/concepts/structured_outputs.mdx
Labels: lgtm, auto:documentation, size:S

#7571 fix(community): Set awaitHandlers to true in upstash ratelimit
  libs/langchain-community/src/callbacks/handlers/upstash_ratelimit.ts
Labels: lgtm, auto:bug, size:XS

#7585 fix(core): Fix trim messages mutation
  langchain-core/src/messages/tests/message_utils.test.ts
  langchain-core/src/messages/transformers.ts
Labels: auto:bug, size:M

#7535 feat(openai): Make only AzureOpenAI respect Azure env vars, remove class defaults, update withStructuredOutput defaults
  docs/core_docs/docs/how_to/graph_constructing.ipynb
  docs/core_docs/docs/how_to/query_high_cardinality.ipynb
  docs/core_docs/docs/integrations/chat/openai.ipynb
  examples/src/chains/multi_prompt.ts
  examples/src/chains/multi_retrieval_qa.ts
  examples/src/embeddings/cache_backed_in_memory.ts
  examples/src/embeddings/cache_backed_redis.ts
  examples/src/embeddings/convex/cache_backed_convex.ts
  examples/src/guides/evaluation/agent_trajectory/trajectory.ts
  examples/src/llms/openai-chat.ts
  examples/src/models/chat/integration_openai_wsa_json_schema.ts
  examples/src/models/chat/integration_openai_wsa_zod.ts
  examples/src/models/chat/token_usage_tracking.ts
  examples/src/models/chat/token_usage_tracking_callback.ts
  examples/src/models/llm/openai_basePath.ts
  examples/src/tools/duckduckgo_search_agent.ts
  examples/src/tools/webbrowser.ts
  langchain/langchain.config.js
  langchain/package.json
  langchain/src/agents/tests/create_tool_calling_agent.int.test.ts
  langchain/src/agents/tests/create_xml_agent.int.test.ts
  langchain/src/chains/router/tests/multi_prompt.int.test.ts
  langchain/src/chains/router/tests/multi_retrieval_qa.int.test.ts
  langchain/src/chains/sql_db/sql_db_chain.ts
  langchain/src/load/import_map.ts
  langchain/src/load/tests/__snapshots__/load.test.ts.snap
  langchain/src/load/tests/load.test.ts
  langchain/src/memory/tests/summary.int.test.ts
  libs/langchain-community/package.json
  libs/langchain-openai/src/azure/chat_models.ts
  libs/langchain-openai/src/azure/embeddings.ts
  libs/langchain-openai/src/azure/llms.ts
  libs/langchain-openai/src/chat_models.ts
  libs/langchain-openai/src/embeddings.ts
  libs/langchain-openai/src/legacy.ts
  libs/langchain-openai/src/llms.ts
  libs/langchain-openai/src/tests/azure/chat_models.int.test.ts
  libs/langchain-openai/src/tests/azure/chat_models.standard.int.test.ts
  libs/langchain-openai/src/tests/azure/chat_models.test.ts
  libs/langchain-openai/src/tests/azure/embeddings.int.test.ts
  libs/langchain-openai/src/tests/azure/llms.int.test.ts
  libs/langchain-openai/src/tests/chat_models.test.ts
  libs/langchain-openai/src/tests/chat_models_structured_output.int.test.ts
  libs/langchain-openai/src/tests/legacy.int.test.ts
  libs/langchain-openai/src/tests/llms.int.test.ts
  libs/langchain-openai/src/types.ts
  yarn.lock
Labels: lgtm, auto:improvement, size:XL

#7580 fix(community): Make postgresConnectionOptions optional in PostgresRecordManager
  libs/langchain-community/src/indexes/postgres.ts
Labels: lgtm, auto:nit, size:XS

#7586 release(community): 0.3.27
  libs/langchain-community/package.json
Labels: size:XS

#7587 release(ollama): 0.1.5
  libs/langchain-ollama/package.json
Labels: size:XS

#7588 Release 0.3.13
  langchain/package.json
Labels: size:XS

#7589 release(openai): 0.4.0
  libs/langchain-openai/package.json
Labels: size:XS

#7590 release(core): 0.3.35
  langchain-core/package.json
Labels: size:XS

#7591 fix(ci): Update lock
  yarn.lock
Labels: size:XS

#7594 feat(core): Allow passing returnDirect in tool wrapper params
  langchain-core/src/tools/index.ts
Labels: auto:improvement, size:S

#7595 release(core): 0.3.36
  langchain-core/package.json
Labels: size:XS

#7596 fix(openai): Revert Azure default withStructuredOutput changes
  libs/langchain-openai/src/azure/chat_models.ts
  libs/langchain-openai/src/chat_models.ts
  libs/langchain-openai/src/tests/azure/chat_models.int.test.ts
Labels: auto:bug, size:M

#7597 release(openai): 0.4.1
  libs/langchain-openai/package.json
Labels: size:XS

#7598 feat(openai): Refactor to allow easier subclassing
  libs/langchain-openai/src/chat_models.ts
  libs/langchain-openai/src/tests/chat_models.int.test.ts
Labels: auto:refactor, size:L

#7599 release(openai): 0.4.2
  libs/langchain-openai/package.json
Labels: size:XS

#7608 release(deepseek): 0.0.1
  libs/langchain-deepseek/package.json
Labels: size:XS

#7602 feat: update Novita AI doc
  docs/core_docs/docs/integrations/chat/novita.ipynb
Labels: lgtm, auto:documentation, size:S

#7609 feat(langchain): Add DeepSeek to initChatModel
  langchain/package.json
  langchain/src/chat_models/tests/universal.int.test.ts
  langchain/src/chat_models/universal.ts
  yarn.lock
Labels: auto:improvement, size:S

#7613 fix: Add test for pdf uploads anthropic
  libs/langchain-anthropic/src/tests/chat_models.int.test.ts
Labels: auto:nit, size:M

#7612 feat: Update google genai to support file uploads
  libs/langchain-google-genai/src/chat_models.ts
  libs/langchain-google-genai/src/tests/chat_models.int.test.ts
  libs/langchain-google-genai/src/utils/common.ts
Labels: auto:enhancement, size:M

#7614 chore(google-genai): Drop .only in test
  libs/langchain-google-genai/src/tests/chat_models.int.test.ts
Labels: size:XS

#7615 release(google-genai): 0.1.7
  libs/langchain-google-genai/package.json
Labels: size:XS

#7617 fix(core): Fix stream events bug when errors are thrown too quickly during iteration
  langchain-core/src/runnables/base.ts
  langchain-core/src/runnables/tests/runnable_stream_events_v2.test.ts
Labels: auto:bug, size:M

#7619 release(core): 0.3.37
  langchain-core/package.json
Labels: size:XS

#7620 fix(langchain): Fix Groq import for hub
  langchain/src/hub/base.ts
  langchain/src/hub/index.ts
  langchain/src/hub/node.ts
  langchain/src/hub/tests/hub.int.test.ts
Labels: lgtm, auto:bug, size:M

#7622 docs: Add more canonical links to v0.2
  docs/core_docs/src/theme/SiteMetadata/index.js
Labels: lgtm, auto:documentation, size:L

#7623 docs: Adds canonical routing for v0.1
  docs/core_docs/src/theme/SiteMetadata/index.js
  libs/langchain-community/package.json
  libs/langchain-community/src/indexes/sqlite.ts
  yarn.lock
Labels: auto:documentation, size:XS

#7625 docs: update README/intro
  README.md
  docs/core_docs/docs/introduction.mdx
Labels: size:XS

#7626 Release 0.3.15
  langchain/package.json
Labels: size:XS

#7561 feat(community): improve support for Tavily search tool args
  libs/langchain-community/src/tools/tavily_search.ts
Labels: lgtm, auto:improvement, size:L

#7601 feat(community): Add boolean metadata type support in Supabase structured query translator
  libs/langchain-community/src/structured_query/supabase.ts
  libs/langchain-community/src/structured_query/tests/supabase_self_query.int.test.ts
Labels: lgtm, auto:improvement, size:L

#7621 feat(google-genai): Add support for fileUri in media type in Google GenAI
  libs/langchain-google-genai/src/utils/common.ts
Labels: lgtm, auto:improvement, size:XS

#7628 release(google-genai): 0.1.8
  libs/langchain-google-genai/package.json
Labels: size:XS

#7629 release(community): 0.3.28
  libs/langchain-community/package.json
Labels: size:XS
