Repository langchain-ai/langchainjs, pull requests merged in 2025-05, with the labels that each got.

#8092 add google gemini
  docs/core_docs/src/theme/ChatModelTabs.js
Labels: lgtm, auto:documentation, size:S

#8104 fix(openai): Responses API - ensure consistent message ID between stream & invoke
  libs/langchain-openai/src/chat_models.ts
  libs/langchain-openai/src/tests/chat_models.int.test.ts
  libs/langchain-openai/src/tests/chat_models_responses.int.test.ts
Labels: auto:bug, size:L

#8105 release(openai): 0.5.9
  libs/langchain-openai/package.json
Labels: size:XS

#8106 chore(openai): fix test
  libs/langchain-openai/src/tests/chat_models_responses.int.test.ts
Labels: size:XS

#8107 fix(openai): Responses API: fix function call ID handling on stream
  libs/langchain-openai/src/chat_models.ts
  libs/langchain-openai/src/tests/chat_models_responses.int.test.ts
Labels: auto:bug, size:M

#8108 release(openai): 0.5.10
  libs/langchain-openai/package.json
Labels: size:XS

#8109 feat(anthropic): standard input blocks and better handling of image_url and anthropic image content blocks
  libs/langchain-anthropic/package.json
  libs/langchain-anthropic/src/tests/chat_models.int.test.ts
  libs/langchain-anthropic/src/tests/chat_models.standard.int.test.ts
  libs/langchain-anthropic/src/types.ts
  libs/langchain-anthropic/src/utils/message_inputs.ts
  yarn.lock
Labels: auto:improvement, size:XL

#8110 release(anthropic): 0.3.20
  libs/langchain-anthropic/package.json
Labels: size:XS

#8111 release(core): 0.3.51
  langchain-core/package.json
Labels: size:XS

#8120 chore(aws): fix test
  libs/langchain-aws/src/tests/chat_models.int.test.ts
Labels: auto:nit, size:XS

#8116 fix(google-common): stream warnings
  libs/langchain-google-common/src/utils/gemini.ts
  libs/langchain-google-webauth/src/tests/chat_models.int.test.ts
Labels: lgtm, size:M

#8117 fix(google-common): Default AI Studio ("gai") platform to use "v1beta" API Version
  libs/langchain-google-common/src/connection.ts
  libs/langchain-google-common/src/experimental/media.ts
  libs/langchain-google-common/src/tests/chat_models.test.ts
Labels: lgtm, size:L

#8118 fix(tavily): Fix unit tests
  libs/langchain-tavily/src/tests/search.test.ts
  libs/langchain-tavily/src/utils.ts
Labels: auto:bug, size:S

#8121 chore(aws): fix test
  libs/langchain-aws/src/tests/chat_models.int.test.ts
Labels: auto:nit, size:XS

#8113 fix(openapi): add global flag to replaceAll in getCleanedOperationId
  langchain/src/util/openapi.ts
Labels: auto:bug, size:XS

#8125 release(google): 0.2.6
  libs/langchain-google-common/package.json
  libs/langchain-google-gauth/package.json
  libs/langchain-google-genai/package.json
  libs/langchain-google-vertexai-web/package.json
  libs/langchain-google-vertexai/package.json
  libs/langchain-google-webauth/package.json
  yarn.lock
Labels: size:S

#8123 fix(google-common): don't set includeThoughts
  libs/langchain-google-common/src/utils/gemini.ts
Labels: lgtm, auto:improvement, size:XS

#8056 fix(core): Infer tool return types, with related tool type fixes
  langchain-core/src/messages/tool.ts
  langchain-core/src/tools/index.ts
  langchain-core/src/tools/tests/types.test.ts
  langchain-core/src/tools/types.ts
  langchain-core/src/tools/utils.ts
  libs/langchain-community/src/agents/toolkits/stagehand.ts
Labels: auto:bug, size:XL

#8128 feat(google-common), feat(core): Improve token counting
  langchain-core/src/messages/ai.ts
  libs/langchain-google-common/src/types.ts
  libs/langchain-google-common/src/utils/gemini.ts
  libs/langchain-google-webauth/src/tests/chat_models.int.test.ts
Labels: lgtm, auto:improvement, size:L

#8137 fix(core): fix type of Runnable.withConfig's argument
  langchain-core/src/runnables/base.ts
Labels: auto:nit, size:XS

#8138 release(core): 0.3.55
  langchain-core/package.json
Labels: size:XS

#8139 Release
  libs/langchain-google-common/package.json
  libs/langchain-google-gauth/package.json
  libs/langchain-google-genai/package.json
  libs/langchain-google-vertexai-web/package.json
  libs/langchain-google-vertexai/package.json
  libs/langchain-google-webauth/package.json
  yarn.lock
Labels: size:M

#8147 fix(gemini-common): Allow reasoning to be turned off by setting maxReasoningTokens to 0.
  libs/langchain-google-common/src/utils/gemini.ts
  libs/langchain-google-webauth/src/tests/chat_models.int.test.ts
Labels: lgtm, auto:bug, size:S

#8143 fix(aws): handle image_url object format in block type extraction
  libs/langchain-aws/src/common.ts
Labels: auto:bug, size:XS

#8155 Release
  libs/langchain-google-common/package.json
  libs/langchain-google-gauth/package.json
  libs/langchain-google-genai/package.json
  libs/langchain-google-vertexai-web/package.json
  libs/langchain-google-vertexai/package.json
  libs/langchain-google-webauth/package.json
  yarn.lock
Labels: size:S

#8005 fix(google-genai): handle tool_calls when the message contains other content
  libs/langchain-google-genai/src/tests/chat_models.test.ts
  libs/langchain-google-genai/src/utils/common.ts
Labels: lgtm, auto:refactor, size:L, google

#8163 feat(google): Assorted updates and tests from recent announcements
  libs/langchain-google-common/src/chat_models.ts
  libs/langchain-google-common/src/connection.ts
  libs/langchain-google-common/src/tests/chat_models.test.ts
  libs/langchain-google-common/src/types.ts
  libs/langchain-google-common/src/utils/common.ts
  libs/langchain-google-common/src/utils/gemini.ts
  libs/langchain-google-vertexai/src/tests/chat_models.int.test.ts
  libs/langchain-google-webauth/src/tests/chat_models.int.test.ts
Labels: lgtm, auto:improvement, size:XL

#8164 fix(google): Using .nullish() in zod.
  libs/langchain-google-common/src/tests/chat_models.test.ts
  libs/langchain-google-common/src/types.ts
  libs/langchain-google-common/src/utils/zod_to_gemini_parameters.ts
  libs/langchain-google-webauth/src/tests/chat_models.int.test.ts
Labels: lgtm, auto:bug, size:L

#8159 fix(langchain): vertex ai model name pulled from hub
  langchain/src/hub/base.ts
  langchain/src/hub/node.ts
  libs/langchain-google-vertexai-web/src/chat_models.ts
  libs/langchain-google-vertexai/src/chat_models.ts
Labels: size:XS, google

#8154 test(mongodb): Add tooling to use local Atlas for tests
  libs/langchain-mongodb/README.md
  libs/langchain-mongodb/jest.config.cjs
  libs/langchain-mongodb/package.json
  libs/langchain-mongodb/src/tests/chat_history.int.test.ts
  libs/langchain-mongodb/src/tests/setup.ts
  libs/langchain-mongodb/src/tests/storage.int.test.ts
  libs/langchain-mongodb/src/tests/teardown.ts
  libs/langchain-mongodb/src/tests/utils.ts
  libs/langchain-mongodb/src/tests/vectorstores.int.test.ts
  libs/langchain-mongodb/src/vectorstores.ts
  yarn.lock
Labels: lgtm, auto:improvement, size:XL

#8168 release(aws): 0.1.10
  libs/langchain-aws/package.json
Labels: size:XS

#8169 Release 0.3.25
  langchain/package.json
Labels: size:XS

#8112 feat(utils/testing): add tool-call streaming support to FakeStreamingChatModel
  langchain-core/src/runnables/tests/runnable.test.ts
  langchain-core/src/utils/testing/helpers.ts
  langchain-core/src/utils/testing/index.ts
Labels: lgtm, auto:improvement, size:L

#8134 fix(community): mark Azure blob storage connection string as secrets
  libs/langchain-community/src/document_loaders/web/azure_blob_storage_container.ts
  libs/langchain-community/src/document_loaders/web/azure_blob_storage_file.ts
Labels: lgtm, size:S

#8176 fix(core): tracing perf improvements
  langchain-core/src/callbacks/manager.ts
  langchain-core/src/tracers/tracer_langchain.ts
Labels: lgtm, auto:nit, size:S

#8180 chore: bump smith version
  examples/package.json
  langchain-core/package.json
  langchain/package.json
  libs/langchain-community/package.json
  yarn.lock
Labels: auto:nit, size:XS

#8181 chore(core): deprecate RemoteRunnable
  langchain-core/src/runnables/remote.ts
Labels: auto:nit, size:XS

#8182 fix(community): update generated secret map
  libs/langchain-community/src/load/import_type.ts
Labels: size:XS

#8183 release(core): 0.3.56
  langchain-core/package.json
Labels: size:XS

#8184 release(community): 0.3.43
  libs/langchain-community/package.json
Labels: size:XS

#8185 Release 0.3.26
  langchain/package.json
Labels: size:XS

#8170 chore(mcp-adapters): migrate mcp-adapters package into LangChain monorepo
  libs/langchain-mcp-adapters/.eslintrc.cjs
  libs/langchain-mcp-adapters/.gitignore
  libs/langchain-mcp-adapters/.npmignore
  libs/langchain-mcp-adapters/.prettierrc
  libs/langchain-mcp-adapters/CHANGELOG.md
  libs/langchain-mcp-adapters/LICENSE
  libs/langchain-mcp-adapters/README.md
  libs/langchain-mcp-adapters/RELEASE_NOTES.md
  libs/langchain-mcp-adapters/__tests__/client.basic.test.ts
  libs/langchain-mcp-adapters/__tests__/client.comprehensive.test.ts
  libs/langchain-mcp-adapters/__tests__/mocks.ts
  libs/langchain-mcp-adapters/__tests__/tools.test.ts
  libs/langchain-mcp-adapters/examples/README.md
  libs/langchain-mcp-adapters/examples/auth_mcp.json
  libs/langchain-mcp-adapters/examples/calculator_server_shttp_sse.ts
  libs/langchain-mcp-adapters/examples/calculator_sse_shttp_example.ts
  libs/langchain-mcp-adapters/examples/complex_mcp.json
  libs/langchain-mcp-adapters/examples/filesystem_langgraph_example.ts
  libs/langchain-mcp-adapters/examples/firecrawl_custom_config_example.ts
  libs/langchain-mcp-adapters/examples/firecrawl_multiple_servers_example.ts
  libs/langchain-mcp-adapters/examples/langgraph_complex_config_example.ts
  libs/langchain-mcp-adapters/examples/langgraph_example.ts
  libs/langchain-mcp-adapters/examples/mcp_over_docker_example.ts
  libs/langchain-mcp-adapters/langchain.config.js
  libs/langchain-mcp-adapters/package.json
  libs/langchain-mcp-adapters/src/client.ts
  libs/langchain-mcp-adapters/src/index.ts
  libs/langchain-mcp-adapters/src/tools.ts
  libs/langchain-mcp-adapters/tsconfig.cjs.json
  libs/langchain-mcp-adapters/tsconfig.examples.json
  libs/langchain-mcp-adapters/tsconfig.json
  libs/langchain-mcp-adapters/tsconfig.tests.json
  libs/langchain-mcp-adapters/turbo.json
  libs/langchain-mcp-adapters/vitest.config.ts
  libs/langchain-mcp-adapters/vitest.setup.ts
  yarn.lock
Labels: auto:enhancement, size:XXL

#8141 fix(core, anthropic): handling for undefined tool outputs
  langchain-core/src/tools/index.ts
  langchain-core/src/tools/tests/tools.test.ts
  libs/langchain-anthropic/src/utils/message_inputs.ts
Labels: lgtm, auto:bug, size:M

#8175 fix(openai): allow streaming o1 responses
  libs/langchain-openai/src/chat_models.ts
  libs/langchain-openai/src/tests/chat_models.int.test.ts
Labels: lgtm, auto:nit, size:XS

#8214 chore(genai): fix code sample in README
  libs/langchain-google-genai/README.md
Labels: lgtm, auto:documentation, size:XS

#8199 chore(community): fix docs typo in tavily_search_community
  docs/core_docs/docs/integrations/tools/tavily_search_community.ipynb
Labels: lgtm, auto:documentation, size:XS

#8217 feat(aws): add performanceConfig
  libs/langchain-aws/src/chat_models.ts
Labels: lgtm, size:S

#8187 chore(core): deprecate Runnable .bind, .map, and RunnableEach
  docs/core_docs/docs/how_to/binding.ipynb
  langchain-core/src/runnables/base.ts
Labels: lgtm, auto:nit, auto:documentation, size:L

#8173 fix(community): update ChromeAI to use the new `window.LanguageModel`
  libs/langchain-community/src/experimental/llms/chrome_ai.ts
Labels: lgtm, auto:bug, size:S

#8204 feat(community): Return document ids when querying opensearch vector store
  libs/langchain-community/src/vectorstores/opensearch.ts
Labels: lgtm, auto:nit, size:XS

#8229 release(community): 0.3.44
  libs/langchain-community/package.json
Labels: size:XS

#8230 release(anthropic): 0.3.21
  libs/langchain-anthropic/package.json
Labels: size:XS

#8231 release(openai): 0.5.11
  libs/langchain-openai/package.json
Labels: auto:nit, size:XS

#8224 fix(google-genai): fix undefined access error on safety refusal
  libs/langchain-google-genai/src/chat_models.ts
Labels: lgtm, auto:bug, size:XS

#8226 feat(google-genai): handle standard input blocks
  libs/langchain-google-genai/src/tests/chat_models.test.ts
  libs/langchain-google-genai/src/utils/common.ts
Labels: lgtm, auto:improvement, size:XL

#8232 release(core): 0.3.57
  langchain-core/package.json
Labels: size:XS

#8233 Release 0.3.27
  langchain/package.json
Labels: size:XS

#8100 fix(prisma): filter on enum value
  libs/langchain-community/src/vectorstores/prisma.ts
Labels: auto:bug, size:XS

#8222 fix(mcp-adaptors): langchain-mcp-adapter not working with tools without parameters
  libs/langchain-mcp-adapters/__tests__/tools.test.ts
  libs/langchain-mcp-adapters/src/tools.ts
Labels: lgtm, auto:bug, size:M

#8242 release(tavily): 0.1.2
  libs/langchain-tavily/package.json
Labels: size:XS

#8239 feat!(mcp-adapters): add authProvider for oauth, fix header passing
  libs/langchain-mcp-adapters/.eslintrc.cjs
  libs/langchain-mcp-adapters/README.md
  libs/langchain-mcp-adapters/__tests__/client.comprehensive.test.ts
  libs/langchain-mcp-adapters/__tests__/client.int.test.ts
  libs/langchain-mcp-adapters/__tests__/fixtures/dummy-http-server.ts
  libs/langchain-mcp-adapters/__tests__/fixtures/dummy-stdio-server.ts
  libs/langchain-mcp-adapters/src/client.ts
  libs/langchain-mcp-adapters/vitest.config.ts
  libs/langchain-mcp-adapters/vitest.setup.ts
Labels: lgtm, size:XXL

#8241 feat(mcp-adapters): respect tool timeouts
  libs/langchain-mcp-adapters/README.md
  libs/langchain-mcp-adapters/__tests__/client.int.test.ts
  libs/langchain-mcp-adapters/__tests__/fixtures/dummy-http-server.ts
  libs/langchain-mcp-adapters/__tests__/tools.test.ts
  libs/langchain-mcp-adapters/src/client.ts
  libs/langchain-mcp-adapters/src/tools.ts
Labels: lgtm, size:XXL

#8265 release(community): 0.3.45
  libs/langchain-community/package.json
Labels: size:XS

#8259 feat(mcp-adapters): add flags for artifact output by content type
  libs/langchain-mcp-adapters/README.md
  libs/langchain-mcp-adapters/__tests__/client.basic.test.ts
  libs/langchain-mcp-adapters/__tests__/client.comprehensive.test.ts
  libs/langchain-mcp-adapters/__tests__/client.int.test.ts
  libs/langchain-mcp-adapters/__tests__/fixtures/dummy-http-server.ts
  libs/langchain-mcp-adapters/examples/auth_mcp.json
  libs/langchain-mcp-adapters/examples/calculator_sse_shttp_example.ts
  libs/langchain-mcp-adapters/examples/complex_mcp.json
  libs/langchain-mcp-adapters/examples/filesystem_langgraph_example.ts
  libs/langchain-mcp-adapters/examples/firecrawl_custom_config_example.ts
  libs/langchain-mcp-adapters/examples/firecrawl_multiple_servers_example.ts
  libs/langchain-mcp-adapters/examples/langgraph_complex_config_example.ts
  libs/langchain-mcp-adapters/examples/langgraph_example.ts
  libs/langchain-mcp-adapters/examples/mcp_over_docker_example.ts
  libs/langchain-mcp-adapters/src/client.ts
  libs/langchain-mcp-adapters/src/index.ts
  libs/langchain-mcp-adapters/src/tools.ts
  libs/langchain-mcp-adapters/src/types.ts
  libs/langchain-mcp-adapters/src/util.ts
Labels: auto:enhancement, size:XXL

#8254 fix(google-genai): handle responses with missing content
  libs/langchain-google-genai/src/chat_models.ts
  libs/langchain-google-genai/src/utils/common.ts
Labels: lgtm, auto:bug, size:M

#8270 chore(mcp-adapters): add release-it config
  libs/langchain-mcp-adapters/.release-it.json
Labels: size:S

#8271 release(mcp-adapters): 0.5.0
  libs/langchain-mcp-adapters/package.json
Labels: size:XS

#8274 fix(mcp-adapters): handle paged listTools response
  libs/langchain-mcp-adapters/src/tools.ts
Labels: lgtm, auto:bug, size:S
