Repository langchain-ai/langchainjs, pull requests merged in 2025-10, with the labels that each got.

#9081 fix(mistral-ai): hub.pull with ChatMistralAI auto-instanciate
  .changeset/strong-drinks-sell.md
  langchain/src/hub/base.ts
  langchain/src/hub/node.ts
Labels: needs-v1-port, langchain

#8819 feat(mongodb): auto append client metadata for mongodb
  .changeset/mighty-moments-know.md
  examples/src/memory/mongodb.ts
  libs/langchain-mongodb/package.json
  libs/langchain-mongodb/src/chat_history.ts
  libs/langchain-mongodb/src/storage.ts
  libs/langchain-mongodb/src/tests/chat_history.int.test.ts
  libs/langchain-mongodb/src/tests/storage.int.test.ts
  libs/langchain-mongodb/src/tests/vectorstores.int.test.ts
  libs/langchain-mongodb/src/vectorstores.ts
  libs/langchain-mongodb/tsconfig.json
  yarn.lock
Labels: examples, provider/mongodb

#9131 fix doc comment
  langchain/src/agents/react/index.ts
Labels: langchain
