Repository langchain-ai/langchainjs, pull requests merged in 2025-03, with the labels that each got.

#7785 fix(aws): fix content block ordering for claude reasoning on bedrock
  libs/langchain-aws/src/common.ts
  libs/langchain-aws/src/tests/chat_models.int.test.ts
Labels: auto:bug, size:M

#7786 release(aws): 0.1.6
  libs/langchain-aws/package.json
Labels: auto:nit, size:XS

#7794 tests(google-vertex,webauth): Verify code works with gemini-2.0-flash-lite-001
  libs/langchain-google-vertexai/src/tests/chat_models.int.test.ts
  libs/langchain-google-webauth/src/tests/chat_models.int.test.ts
Labels: lgtm, auto:nit, size:S

#7788 Google oauth support for Google calender tool
  libs/langchain-community/src/tools/google_calendar/base.ts
  libs/langchain-community/src/tools/google_calendar/commands/run-create-events.ts
  libs/langchain-community/src/tools/google_calendar/commands/run-view-events.ts
  libs/langchain-community/src/tools/google_calendar/create.ts
  libs/langchain-community/src/tools/google_calendar/prompts/create-event-prompt.ts
  libs/langchain-community/src/tools/google_calendar/prompts/view-events-prompt.ts
  libs/langchain-community/src/tools/google_calendar/view.ts
  libs/langchain-community/src/tools/tests/google_calendar.test.ts
Labels: lgtm, auto:improvement, size:L

#7780 Google oauth support + fix tools for API v1
  .gitignore
  docs/core_docs/docs/integrations/tools/gmail.mdx
  examples/src/tools/gmail.ts
  libs/langchain-community/src/tools/gmail/base.ts
  libs/langchain-community/src/tools/gmail/create_draft.ts
  libs/langchain-community/src/tools/gmail/descriptions.ts
  libs/langchain-community/src/tools/gmail/get_message.ts
  libs/langchain-community/src/tools/gmail/get_thread.ts
  libs/langchain-community/src/tools/gmail/search.ts
  libs/langchain-community/src/tools/gmail/send_message.ts
  libs/langchain-community/src/tools/tests/gmail.test.ts
Labels: lgtm, auto:improvement, size:L

#7796 release(community): 0.3.34
  libs/langchain-community/package.json
Labels: size:XS

#7793 feat (google-common,vertex,etc): Support Claude 3.7 Thinking via Vertex AI
  libs/langchain-google-common/src/tests/chat_models.test.ts
  libs/langchain-google-common/src/tests/data/claude-chat-2-mock.json
  libs/langchain-google-common/src/tests/data/claude-chat-3-mock.json
  libs/langchain-google-common/src/tests/data/claude-chat-4-mock.json
  libs/langchain-google-common/src/types-anthropic.ts
  libs/langchain-google-common/src/utils/anthropic.ts
  libs/langchain-google-vertexai-web/package.json
  libs/langchain-google-vertexai/package.json
  libs/langchain-google-vertexai/src/tests/chat_models.int.test.ts
  yarn.lock
Labels: lgtm, auto:enhancement, size:XL

#7799 release(google-common): 0.2.1
  libs/langchain-google-common/package.json
Labels: size:XS

#7800 release(google-vertexai): 0.2.1
  libs/langchain-google-vertexai/package.json
Labels: size:XS

#7803 chore(google-gauth, google-webauth): bump dep version on google-common
  libs/langchain-google-gauth/package.json
  libs/langchain-google-webauth/package.json
  yarn.lock
Labels: auto:nit, size:XS

#7804 release(google-gauth): 0.2.1
  libs/langchain-google-gauth/package.json
Labels: size:XS

#7805 release(google-webauth): 0.2.1
  libs/langchain-google-webauth/package.json
Labels: size:XS

#7823 docs: FIx typos
  docs/core_docs/docs/tutorials/classification.ipynb
Labels: lgtm, auto:documentation, size:XS

#7797 fix(aws): fix bedrockRuntimeClinent to refer to endpointHost value
  libs/langchain-aws/src/chat_models.ts
Labels: lgtm, auto:bug, size:XS

#7781 feature(community): Enable using chat and llms without providing project/space/development id (lightweight engine IBM)
  docs/core_docs/docs/integrations/chat/ibm.ipynb
  docs/core_docs/docs/integrations/llms/ibm.ipynb
  libs/langchain-community/src/chat_models/ibm.ts
  libs/langchain-community/src/chat_models/tests/ibm.test.ts
  libs/langchain-community/src/llms/ibm.ts
  libs/langchain-community/src/llms/tests/ibm.test.ts
Labels: lgtm, auto:enhancement, auto:nit, auto:documentation, size:M

#7806 feat(google-common): Add tokenUsage to llmOutput of google-genai
  libs/langchain-google-genai/src/utils/common.ts
Labels: lgtm, auto:nit, size:XS

#7816 docs: broken link in chat models page
  docs/core_docs/docs/concepts/chat_models.mdx
Labels: lgtm, auto:documentation, size:XS

#7791 fix(community): Optional google cloud storage options for GCS doc loader
  docs/core_docs/docs/integrations/document_loaders/web_loaders/google_cloud_storage.mdx
  libs/langchain-community/src/document_loaders/web/google_cloud_storage.ts
Labels: lgtm, auto:nit, size:XS

#7825 fix(azure-cosmosdb): Update user agent of AzureCosmosDBMongoDBVectorStore
  libs/langchain-azure-cosmosdb/src/azure_cosmosdb_mongodb.ts
Labels: lgtm, auto:nit, size:XS

#7826 fix(aws): fix `Invalid reasoning content` exception on empty reasoning chunk
  libs/langchain-aws/src/common.ts
Labels: lgtm, auto:bug, size:XS

#7792 chore(langchain): add test to ensure sort order on MemoryVectorStore
  langchain/src/vectorstores/tests/memory.test.ts
Labels: lgtm, size:M

#7836 release(aws): 0.1.7
  libs/langchain-aws/package.json
Labels: size:XS

#7837 release(google): 0.2.2
  libs/langchain-google-common/package.json
  libs/langchain-google-gauth/package.json
  libs/langchain-google-vertexai-web/package.json
  libs/langchain-google-vertexai/package.json
  libs/langchain-google-webauth/package.json
  yarn.lock
Labels: size:S

#7789 fix(community): adding structured output parser for Google Calendar
  libs/langchain-community/src/tools/google_calendar/commands/run-create-events.ts
  libs/langchain-community/src/tools/google_calendar/commands/run-view-events.ts
Labels: lgtm, size:M

#7838 release(community): 0.3.35
  libs/langchain-community/package.json
Labels: size:XS

#7841 release(google-genai): 0.1.11
  libs/langchain-google-genai/package.json
Labels: size:XS

#7842 feat(community): add deepseek to allowed bedrock models
  libs/langchain-community/src/chat_models/bedrock/web.ts
  libs/langchain-community/src/llms/bedrock/web.ts
Labels: lgtm, auto:nit, size:XS

#7847 Update sequence.ipynb
  docs/core_docs/docs/how_to/sequence.ipynb
Labels: lgtm, auto:nit, size:XS

#7822 feat(community): Permit bedrock application inference profiles
  libs/langchain-community/src/chat_models/bedrock/web.ts
  libs/langchain-community/src/utils/bedrock/index.ts
Labels: lgtm, auto:nit, size:S

#7817 feat(community): Perplexity integration
  docs/core_docs/docs/integrations/chat/perplexity.ipynb
  libs/langchain-community/.gitignore
  libs/langchain-community/langchain.config.js
  libs/langchain-community/package.json
  libs/langchain-community/src/chat_models/perplexity.ts
  libs/langchain-community/src/chat_models/tests/chatperplexity.int.test.ts
  libs/langchain-community/src/load/import_constants.ts
  libs/langchain-community/src/load/import_map.ts
Labels: lgtm, auto:enhancement, auto:documentation, size:XL

#7858 release(community): 0.3.36
  libs/langchain-community/package.json
Labels: size:XS

#7857 fix(openai): Fix OpenAI type error
  langchain/package.json
  libs/langchain-openai/package.json
  libs/langchain-openai/src/types.ts
  yarn.lock
Labels: auto:bug, size:XS

#7859 release(openai): 0.4.5
  libs/langchain-openai/package.json
Labels: size:XS

#7802 fix: Update groq default model
  docs/core_docs/docs/integrations/chat/groq.ipynb
  docs/core_docs/src/theme/ChatModelTabs.js
  examples/src/models/chat/chat_groq.ts
  examples/src/models/chat/chat_stream_groq.ts
  examples/src/models/chat/integration_groq_tool_calls.ts
  examples/src/models/chat/integration_groq_wsa_zod.ts
  libs/langchain-groq/README.md
  libs/langchain-groq/src/chat_models.ts
  libs/langchain-groq/src/tests/chat_models.int.test.ts
  libs/langchain-groq/src/tests/chat_models.standard.int.test.ts
  libs/langchain-groq/src/tests/chat_models.standard.test.ts
  libs/langchain-groq/src/tests/chat_models.test.ts
  libs/langchain-groq/src/tests/chat_models_structured_output.int.test.ts
Labels: size:L

#7864 release(groq): 0.2.0
  libs/langchain-groq/package.json
Labels: size:XS

#7831 feat[openai]: responses API
  .github/workflows/standard-tests.yml
  docs/core_docs/docs/integrations/chat/openai.ipynb
  langchain-core/src/messages/base.ts
  libs/langchain-openai/src/chat_models.ts
  libs/langchain-openai/src/tests/chat_models_responses.int.test.ts
  libs/langchain-openai/src/tests/chat_models_responses.standard.int.test.ts
  libs/langchain-openai/src/tests/chat_models_responses.standard.test.ts
  libs/langchain-standard-tests/src/integration_tests/chat_models.ts
  yarn.lock
Labels: auto:enhancement, size:XXL

#7869 release(openai): 0.4.6
  libs/langchain-openai/package.json
Labels: auto:nit, size:XS

#7871 fix(openai): Dont populate id field for computer call outputs
  libs/langchain-openai/src/chat_models.ts
Labels: auto:nit, size:XS

#7873 release(openai): 0.4.7
  libs/langchain-openai/package.json
Labels: size:XS

#7867 fix(community): Azure AI Search - similaritySearch return description is incorrect
  libs/langchain-community/src/vectorstores/azure_aisearch.ts
Labels: lgtm, auto:nit, size:XS

#7861 Revert "fix(azure-cosmosdb): Update user agent of AzureCosmosDBMongoDBVectorStore"
  libs/langchain-azure-cosmosdb/src/azure_cosmosdb_mongodb.ts
Labels: lgtm, size:XS

#7874 fix(core): Add typing in ChatMessagePromptTemplate.fromTemplate
  langchain-core/src/prompts/chat.ts
Labels: lgtm, auto:nit, size:S

#7851 feat(google-common): Gemma 3 support for AI Studio
  docs/core_docs/docs/integrations/platforms/google.mdx
  libs/langchain-google-common/src/chat_models.ts
  libs/langchain-google-common/src/connection.ts
  libs/langchain-google-common/src/types.ts
  libs/langchain-google-common/src/utils/common.ts
  libs/langchain-google-common/src/utils/gemini.ts
  libs/langchain-google-webauth/src/tests/chat_models.int.test.ts
Labels: lgtm, auto:enhancement, size:L

#7881 release(azure-cosmosdb): 0.2.8
  libs/langchain-azure-cosmosdb/package.json
Labels: size:XS

#7880 feat(google-genai): Bump GenAI SDK version
  libs/langchain-google-genai/package.json
  yarn.lock
Labels: auto:nit, size:XS

#7882 release(google-genai): 0.1.12
  libs/langchain-google-genai/package.json
Labels: size:XS

#7883 docs: Fix classification tutorial schema
  docs/core_docs/docs/tutorials/classification.ipynb
Labels: auto:documentation, size:M

#7865 Add Mem0 Memory Integration
  docs/core_docs/docs/integrations/memory/mem0_memory.mdx
  examples/package.json
  examples/src/memory/mem0.ts
  libs/langchain-community/.gitignore
  libs/langchain-community/langchain.config.js
  libs/langchain-community/package.json
  libs/langchain-community/src/load/import_constants.ts
  libs/langchain-community/src/memory/mem0.ts
  libs/langchain-community/src/memory/tests/mem0_memory.int.test.ts
  yarn.lock
Labels: lgtm, auto:enhancement, auto:documentation, size:L

#7886 release(community): 0.3.37
  libs/langchain-community/package.json
Labels: size:XS

#7888 release(core): 0.3.43
  langchain-core/package.json
Labels: size:XS

#7887 fix(openai): Fix stop sequence passing in constructor for text completion models
  libs/langchain-openai/src/chat_models.ts
  libs/langchain-openai/src/llms.ts
Labels: auto:nit, size:XS

#7889 release(openai): 0.4.8
  libs/langchain-openai/package.json
Labels: size:XS

#7891 fix(openai): stateless computer use fix
  libs/langchain-openai/src/chat_models.ts
  libs/langchain-openai/src/tests/chat_models_responses.int.test.ts
  libs/langchain-openai/src/tests/data/screenshot.jpg
Labels: auto:bug, size:L

#7879 feat(google-common): Allow passing cachedContent params via Google Vertex
  docs/core_docs/docs/integrations/chat/google_vertex_ai.ipynb
  libs/langchain-google-common/src/chat_models.ts
  libs/langchain-google-common/src/types.ts
  libs/langchain-google-common/src/utils/common.ts
  libs/langchain-google-common/src/utils/gemini.ts
  libs/langchain-google-vertexai/src/tests/chat_models.int.test.ts
Labels: auto:improvement, size:L

#7845 feat(google-common): add responseModalities parameter for multimodal output.
  libs/langchain-google-common/src/chat_models.ts
  libs/langchain-google-common/src/types.ts
  libs/langchain-google-common/src/utils/common.ts
  libs/langchain-google-common/src/utils/gemini.ts
  libs/langchain-google-webauth/src/auth.ts
  libs/langchain-google-webauth/src/tests/chat_models.int.test.ts
Labels: lgtm, auto:enhancement, size:M

#7893 release(google): 0.2.3
  libs/langchain-google-common/package.json
  libs/langchain-google-gauth/package.json
  libs/langchain-google-vertexai-web/package.json
  libs/langchain-google-vertexai/package.json
  libs/langchain-google-webauth/package.json
  yarn.lock
Labels: size:S

#7899 release(openai): 0.5.0
  libs/langchain-openai/package.json
Labels: size:XS

#7898 feat(google-genai): Implement and use Google's new structured output methods
  libs/langchain-google-genai/src/chat_models.ts
  libs/langchain-google-genai/src/tests/chat_models-extended.int.test.ts
  libs/langchain-google-genai/src/tests/chat_models.int.test.ts
  libs/langchain-google-genai/src/tests/chat_models.standard.int.test.ts
  libs/langchain-google-genai/src/tests/chat_models.standard.test.ts
  libs/langchain-google-genai/src/tests/chat_models.test.ts
  libs/langchain-google-genai/src/tests/context_caching.int.test.ts
Labels: auto:improvement, size:L

#7900 release(google-genai): 0.2.0
  libs/langchain-google-genai/package.json
Labels: size:XS

#7895 fix(community): Tool indexing in Watsonx chat class
  libs/langchain-community/src/chat_models/ibm.ts
  libs/langchain-community/src/chat_models/tests/ibm.int.test.ts
Labels: lgtm, size:M

#7901 fix(ci): Update lock
  langchain/package.json
  libs/langchain-community/package.json
  yarn.lock
Labels: auto:nit, size:XS

#7909 docs: add llms.txt
  docs/core_docs/static/llms.txt
Labels: auto:documentation, size:L

#7914 docs: fix typo in llms.txt to point to js docs
  docs/core_docs/static/llms.txt
Labels: auto:documentation, size:L

#7915 docs: llms.txt add trailing slashes to avoid redirects
  docs/core_docs/static/llms.txt
Labels: auto:documentation, size:L

#7910 fix(community): add optional chaining to JiraDocumentConverter to prevent undefined errors
  libs/langchain-community/src/document_loaders/web/jira.ts
Labels: lgtm, auto:bug, size:XS

#7922 release(openai): 0.5.1
  libs/langchain-openai/package.json
Labels: size:XS

#7902 test(google): Gemini 2.5
  libs/langchain-google-webauth/src/tests/chat_models.int.test.ts
Labels: lgtm, size:L

#7890 feat(community): TavilySearchResults: Add `apiUrl` field
  libs/langchain-community/src/tools/tavily_search.ts
Labels: lgtm, auto:nit, size:S

#7905 fix(openai): openai OpenAIClient baseUrl is baseURL
  libs/langchain-openai/src/tools/dalle.ts
Labels: lgtm, auto:nit, size:XS

#7925 fix(qdrant): Fix Qdrant indexing cleanup
  libs/langchain-qdrant/src/vectorstores.ts
Labels: lgtm, auto:bug, size:XS

#7921 feat(community): Add WatsonxToolkit to IBM implemenation
  docs/core_docs/docs/integrations/toolkits/ibm.ipynb
  libs/langchain-community/.gitignore
  libs/langchain-community/langchain.config.js
  libs/langchain-community/package.json
  libs/langchain-community/src/agents/toolkits/ibm.ts
  libs/langchain-community/src/agents/toolkits/tests/ibm.int.test.ts
  libs/langchain-community/src/agents/toolkits/tests/ibm.test.ts
  libs/langchain-community/src/chat_models/ibm.ts
  libs/langchain-community/src/load/import_constants.ts
  libs/langchain-community/src/utils/ibm.ts
  yarn.lock
Labels: lgtm, auto:enhancement, auto:documentation, size:XL

#7929 release(qdrant): 0.1.2
  libs/langchain-qdrant/package.json
Labels: size:XS

#7928 fix(google-genai): Tolerate additional extra fields in withStructuredOutput
  libs/langchain-google-genai/src/chat_models.ts
  libs/langchain-google-genai/src/tests/chat_models-extended.int.test.ts
  libs/langchain-google-genai/src/utils/zod_to_genai_parameters.ts
Labels: size:M

#7930 release(google-genai): 0.2.1
  libs/langchain-google-genai/package.json
Labels: size:XS

#7932 release(openai): 0.5.2
  libs/langchain-openai/package.json
Labels: size:XS

#7344 feat(community): adding azion edgesql integration to langchain-community
  docs/core_docs/docs/integrations/retrievers/azion-edgesql.ipynb
  docs/core_docs/docs/integrations/vectorstores/azion-edgesql.ipynb
  libs/langchain-community/.gitignore
  libs/langchain-community/langchain.config.js
  libs/langchain-community/package.json
  libs/langchain-community/src/load/import_constants.ts
  libs/langchain-community/src/retrievers/azion_edgesql.ts
  libs/langchain-community/src/retrievers/tests/azion_edgesql.int.test.ts
  libs/langchain-community/src/vectorstores/azion_edgesql.ts
  libs/langchain-community/src/vectorstores/tests/azion_edgesql.int.test.ts
  yarn.lock
Labels: lgtm, auto:enhancement, auto:documentation, size:XXL
