Repository langchain-ai/langchainjs, pull requests merged in 2025-02, with the labels that each got.

#7636 fix(docs): imports and call
  libs/langchain-anthropic/README.md
Labels: lgtm, auto:documentation, size:S

#7641 docs: chat model order experiment
  docs/core_docs/src/theme/ChatModelTabs.js
Labels: auto:documentation, size:XS

#7642 adding interrupt banner
  docs/core_docs/README.md
  docs/core_docs/docusaurus.config.js
  docs/core_docs/src/css/custom.css
Labels: auto:documentation, size:S

#7651 feat(anthropic): Adds Anthropic citations support
  docs/core_docs/docs/integrations/chat/anthropic.ipynb
  libs/langchain-anthropic/package.json
  libs/langchain-anthropic/src/chat_models.ts
  libs/langchain-anthropic/src/tests/chat_models.int.test.ts
  libs/langchain-anthropic/src/types.ts
  libs/langchain-anthropic/src/utils/message_inputs.ts
  libs/langchain-anthropic/src/utils/message_outputs.ts
  yarn.lock
Labels: auto:improvement, size:L

#7652 release(anthropic): 0.3.13
  libs/langchain-anthropic/package.json
Labels: size:XS

#7653 fix(core): Fix coercion of serialized tool and function messages
  langchain-core/src/messages/tests/base_message.test.ts
  langchain-core/src/messages/utils.ts
Labels: auto:bug, size:M

#7654 release(core): 0.3.38
  langchain-core/package.json
Labels: size:XS

#7486 weaviate[minor]: Add Document className as metadata
  libs/langchain-weaviate/src/vectorstores.ts
Labels: lgtm, auto:nit, size:XS

#7655 release(weaviate): 0.1.1
  libs/langchain-weaviate/package.json
Labels: size:XS

#7633 feat[community]: Add chat deployment to IBM chat class
  libs/langchain-community/package.json
  libs/langchain-community/src/chat_models/ibm.ts
  libs/langchain-community/src/chat_models/tests/ibm.int.test.ts
  libs/langchain-community/src/chat_models/tests/ibm.standard.int.test.ts
  libs/langchain-community/src/chat_models/tests/ibm.test.ts
  libs/langchain-community/src/llms/ibm.ts
  libs/langchain-community/src/llms/tests/ibm.int.test.ts
  libs/langchain-community/src/llms/tests/ibm.test.ts
  libs/langchain-community/src/types/ibm.ts
  libs/langchain-community/src/utils/ibm.ts
  yarn.lock
Labels: lgtm, auto:enhancement, size:XL

#7656 fix(community): Relax Replicate peer dep
  docs/core_docs/docs/integrations/llms/replicate.mdx
  libs/langchain-community/package.json
  yarn.lock
Labels: auto:nit, size:XS

#7650 feat(community): Add OpenAI Whisper options
  examples/src/document_loaders/openai_whisper_audio.ts
  libs/langchain-community/src/document_loaders/fs/openai_whisper_audio.ts
Labels: lgtm, auto:improvement, size:S

#7659 release(community): 0.3.29
  libs/langchain-community/package.json
Labels: size:XS

#7667 feat(core): Add a way to manually specify serializable fields
  langchain-core/src/callbacks/base.ts
  langchain-core/src/load/serializable.ts
Labels: auto:improvement, size:S

#7668 release(core): 0.3.39
  langchain-core/package.json
Labels: size:XS

#7669 fix(openai): Prevent extra constructor params from being serialized, add script
  libs/langchain-openai/package.json
  libs/langchain-openai/src/azure/chat_models.ts
  libs/langchain-openai/src/chat_models.ts
  libs/langchain-openai/src/tests/azure/chat_models.test.ts
  libs/langchain-openai/src/tests/chat_models.test.ts
  libs/langchain-scripts/bin/extract_serializable_fields.js
  libs/langchain-scripts/package.json
  libs/langchain-scripts/src/extract_serializable_fields.ts
  yarn.lock
Labels: auto:bug, size:L

#7670 release(openai): 0.4.3
  libs/langchain-openai/package.json
Labels: size:XS

#7672 feat(ollama): Add support for Ollama built-in JSON schema with withStructuredOutput
  libs/langchain-ollama/package.json
  libs/langchain-ollama/src/chat_models.ts
  libs/langchain-ollama/src/tests/chat_models_structured_output.int.test.ts
  yarn.lock
Labels: auto:improvement, size:L

#7681 feat(ollama): Switch Ollama default withStructuredOutput method to jsonSchema
  libs/langchain-ollama/src/chat_models.ts
  libs/langchain-ollama/src/tests/chat_models_structured_output.int.test.ts
Labels: size:XS

#7543 chore(openai): update azure user agent
  libs/langchain-openai/src/azure/chat_models.ts
Labels: lgtm, auto:nit, size:S

#7666 fix(community): Fix interface of chat deployment IBM and add test for this case
  libs/langchain-community/src/chat_models/ibm.ts
  libs/langchain-community/src/chat_models/tests/ibm.int.test.ts
Labels: lgtm, size:S

#7677 docs: Update message_history.ipynb
  docs/core_docs/docs/how_to/message_history.ipynb
Labels: lgtm, auto:nit, size:XS

#7664 fix(experimental): openai assistant attachments
  langchain/src/experimental/openai_assistant/index.ts
Labels: lgtm, auto:bug, size:XS

#7679 fix(community): hide console errors on RecursiveUrlLoader
  libs/langchain-community/src/document_loaders/tests/recursive_url.int.test.ts
  libs/langchain-community/src/document_loaders/web/recursive_url.ts
Labels: lgtm, auto:bug, size:M

#7684 release(community): 0.3.30
  libs/langchain-community/package.json
Labels: auto:nit, size:XS

#7683 feat(openai): Properly pass through max_completion_tokens
  libs/langchain-openai/src/chat_models.ts
  libs/langchain-openai/src/tests/chat_models.int.test.ts
  libs/langchain-openai/src/types.ts
Labels: auto:improvement, size:M

#7685 release(openai): 0.4.4
  libs/langchain-openai/package.json
Labels: size:XS

#7687 release(core): 0.3.40
  langchain-core/package.json
Labels: size:XS

#7712 feat(langchain): Allow model providers prefixed by colon in initChatModel
  examples/src/models/chat/configurable/basic.ts
  langchain/src/chat_models/tests/universal.int.test.ts
  langchain/src/chat_models/universal.ts
Labels: auto:improvement, size:M

#7713 Release 0.3.16
  langchain/package.json
Labels: size:XS

#7714 fix(langchain): Remove stray log
  examples/src/models/chat/configurable/basic.ts
  langchain/src/chat_models/universal.ts
Labels: size:XS

#7715 Release 0.3.17
  langchain/package.json
Labels: size:XS

#7699 docs: Fix the broken link
  docs/core_docs/docs/how_to/sequence.ipynb
  docs/core_docs/docs/tutorials/rag.ipynb
Labels: lgtm, auto:documentation, size:XS

#7716 fix(langchain): Respect split model name for initChatModel
  examples/src/models/chat/configurable/basic.ts
  langchain/src/chat_models/tests/universal.int.test.ts
  langchain/src/chat_models/universal.ts
Labels: size:S

#7693 fix: typo in the chatbot tutorial
  docs/core_docs/docs/tutorials/chatbot.ipynb
Labels: lgtm, auto:documentation, size:XS

#7717 fix(ci): Fix Vercel build
  examples/package.json
  libs/langchain-community/package.json
  libs/langchain-community/src/vectorstores/faiss.ts
  libs/langchain-community/src/vectorstores/tests/faiss.int.test.ts
  libs/langchain-community/src/vectorstores/tests/faiss.test.ts
  yarn.lock
Labels: size:M

#7700 fix(community): Fix handling of ChromeAI chunks
  libs/langchain-community/src/experimental/llms/chrome_ai.ts
Labels: lgtm, auto:bug, size:XS

#7695 fix(redis): Add TTL support for redis vector store
  libs/langchain-redis/src/tests/vectorstores.test.ts
  libs/langchain-redis/src/vectorstores.ts
Labels: lgtm, auto:nit, size:M

#7698 fix(redis): update wrong redis setup link
  libs/langchain-redis/src/vectorstores.ts
Labels: lgtm, auto:nit, size:XS

#7689 feat(community): Update Voyage embeddings parameters
  docs/core_docs/docs/integrations/text_embedding/voyageai.mdx
  libs/langchain-community/src/embeddings/voyage.ts
Labels: lgtm, auto:nit, auto:documentation, size:M

#7718 release(redis): 0.1.1
  libs/langchain-redis/package.json
Labels: size:XS

#7719 release(community): 0.3.31
  libs/langchain-community/package.json
Labels: size:XS

#7720 Release 0.3.18
  langchain/package.json
Labels: size:XS

#7722 feat(xai): xAI polish
  libs/langchain-xai/package.json
  libs/langchain-xai/src/chat_models.ts
  libs/langchain-xai/src/tests/chat_models.int.test.ts
  libs/langchain-xai/src/tests/chat_models_structured_output.int.test.ts
  yarn.lock
Labels: auto:improvement, size:L

#7721 feat(langchain): Adds xAI to initChatModel
  langchain/package.json
  langchain/src/chat_models/universal.ts
  libs/langchain-xai/src/chat_models.ts
  libs/langchain-xai/src/tests/chat_models.test.ts
  yarn.lock
Labels: auto:improvement, size:S

#7723 release(xai): 0.0.2
  libs/langchain-xai/package.json
Labels: size:XS

#7724 release(langchain): 0.3.19
  langchain/package.json
Labels: size:XS

#7710 feat(community,aws): Update @aws-sdk/* dependencies in langchain-aws
  libs/langchain-aws/package.json
  libs/langchain-community/package.json
  yarn.lock
Labels: lgtm, auto:nit, size:M

#7726 fix(core): Fix issue in .d.ts typing for TextEncoder
  langchain-core/src/output_parsers/bytes.ts
Labels: auto:nit, size:XS

#7703 fix(google-genai): Support larger range of temperatures for Gemini models
  libs/langchain-google-genai/src/chat_models.ts
  libs/langchain-google-genai/src/tests/chat_models.test.ts
Labels: lgtm, auto:bug, size:S

#7728 release(aws): 0.1.4
  libs/langchain-aws/package.json
Labels: size:XS

#7704 fix(google-common): Eliminate hard-coded default values in favor of model-based defaults
  libs/langchain-google-common/src/chat_models.ts
  libs/langchain-google-common/src/tests/chat_models.test.ts
  libs/langchain-google-common/src/utils/gemini.ts
Labels: lgtm, auto:improvement, size:S

#7706 fix(google-common): Handle multiple function calls and complex parts/generations
  libs/langchain-google-common/src/tests/chat_models.test.ts
  libs/langchain-google-common/src/tests/data/chat-4a-mock.json
  libs/langchain-google-common/src/tests/data/chat-6a-mock.json
  libs/langchain-google-common/src/utils/gemini.ts
  libs/langchain-google-webauth/src/tests/chat_models.int.test.ts
Labels: lgtm, size:L

#7635 feat(community): Add support for Amazon Aurora DSQL memory message
  docs/core_docs/docs/integrations/memory/aurora_dsql.mdx
  examples/package.json
  examples/src/memory/aurora_dsql.ts
  libs/langchain-community/.gitignore
  libs/langchain-community/langchain.config.js
  libs/langchain-community/package.json
  libs/langchain-community/src/load/import_constants.ts
  libs/langchain-community/src/stores/message/aurora_dsql.ts
  libs/langchain-community/src/stores/tests/aurora_dsql.int.test.ts
  yarn.lock
Labels: question, lgtm, auto:enhancement, auto:documentation, size:XL

#7730 release(community): 0.3.32
  libs/langchain-community/package.json
Labels: size:XS

#7731 release(google-vertex): 0.2.0
  libs/langchain-google-common/package.json
  libs/langchain-google-gauth/package.json
  libs/langchain-google-vertexai-web/package.json
  libs/langchain-google-vertexai/package.json
  libs/langchain-google-vertexai/src/tests/chat_models.int.test.ts
  libs/langchain-google-webauth/package.json
  yarn.lock
Labels: size:S

#7743 docs: Fix broken link
  docs/core_docs/vercel.json
Labels: auto:documentation, size:XS

#7748 release(google-genai): Release 0.1.9
  libs/langchain-google-genai/package.json
Labels: size:XS

#7750 feat(anthropic): Support claude 3.7 sonnet & extended thinking
  libs/langchain-anthropic/package.json
  libs/langchain-anthropic/src/chat_models.ts
  libs/langchain-anthropic/src/tests/chat_models.int.test.ts
  libs/langchain-anthropic/src/types.ts
  libs/langchain-anthropic/src/utils/message_inputs.ts
  libs/langchain-anthropic/src/utils/message_outputs.ts
  yarn.lock
Labels: lgtm, auto:enhancement, size:L

#7751 release(anthropic): 0.3.14
  libs/langchain-anthropic/package.json
Labels: size:XS

#7767 fix(pinecone): Update Pinecone SDK to 5.0.0, make peer dep
  docs/core_docs/docs/integrations/retrievers/self_query/pinecone.ipynb
  docs/core_docs/docs/integrations/text_embedding/pinecone.ipynb
  docs/core_docs/docs/integrations/vectorstores/pinecone.ipynb
  examples/package.json
  libs/langchain-community/src/vectorstores/pinecone.ts
  libs/langchain-pinecone/README.md
  libs/langchain-pinecone/package.json
  libs/langchain-pinecone/src/embeddings.ts
  libs/langchain-pinecone/src/tests/embeddings.int.test.ts
  libs/langchain-pinecone/src/tests/vectorstores.int.test.ts
  libs/langchain-pinecone/src/vectorstores.ts
  yarn.lock
Labels: auto:nit, auto:documentation, size:M

#7772 release(pinecone): 0.2.0
  libs/langchain-pinecone/package.json
Labels: size:XS

#7759 docs: Adds missing redirect
  docs/core_docs/vercel.json
Labels: auto:documentation, size:XS

#7769 fix(core): don't create empty text content blocks
  langchain-core/src/messages/base.ts
Labels: lgtm, auto:nit, size:XS

#7745 fix(community): usage error returned by Zhipuai streaming data was missing tokens-related information
  libs/langchain-community/src/chat_models/zhipuai.ts
Labels: lgtm, auto:bug, size:XS

#7734 fix(core): Skip delete operation if not necessary during incremental index
  langchain-core/src/indexing/base.ts
Labels: lgtm, auto:nit, size:XS

#7733 fix(google-genai): Fix Google Genai usage token
  libs/langchain-google-genai/src/chat_models.ts
Labels: lgtm, auto:bug, size:S

#7763 fix(core): add artifact to ToolMessage and ToolMessageChunk for RemoteRunnable
  langchain-core/src/runnables/remote.ts
Labels: lgtm, auto:nit, size:XS

#7754 fix(deepseek): wrong home link for @langchain/deepseek
  libs/langchain-deepseek/package.json
Labels: lgtm, auto:nit, size:XS

#7773 release(google-genai): 0.1.10
  libs/langchain-google-genai/package.json
Labels: size:XS

#7774 release(core): 0.3.41
  langchain-core/package.json
Labels: size:XS

#7740 feat(community): Support google cloud storage document loader
  docs/core_docs/docs/integrations/document_loaders/web_loaders/google_cloud_storage.mdx
  examples/src/document_loaders/google_cloud_storage.ts
  libs/langchain-community/.gitignore
  libs/langchain-community/langchain.config.js
  libs/langchain-community/package.json
  libs/langchain-community/src/document_loaders/web/google_cloud_storage.ts
  libs/langchain-community/src/load/import_map.ts
  yarn.lock
Labels: lgtm, auto:enhancement, auto:documentation, size:L

#7775 release(community): 0.3.33
  libs/langchain-community/package.json
Labels: size:XS

#7768 feat(aws): support reasoning blocks for claude 3.7
  libs/langchain-aws/package.json
  libs/langchain-aws/src/common.ts
  libs/langchain-aws/src/tests/chat_models.int.test.ts
  libs/langchain-aws/src/types.ts
  yarn.lock
Labels: lgtm, auto:nit, size:L

#7777 release(aws): 0.1.5
  libs/langchain-aws/package.json
Labels: size:XS

#7783 release(core): 0.3.42
  langchain-core/package.json
Labels: size:XS

#7784 release(anthropic): 0.3.15
  libs/langchain-anthropic/package.json
Labels: size:XS
