Repository langchain-ai/langchainjs, pull requests merged in 2025-06, with the labels that each got.

#8306 fix(ollama): Allow headers to be passed as a plain object
  libs/langchain-ollama/src/chat_models.ts
  libs/langchain-ollama/src/llms.ts
Labels: lgtm, auto:nit, size:XS

#8308 release(ollama): 0.2.1
  libs/langchain-ollama/package.json
Labels: size:XS

#8295 test(mongodb): add more comprehensive testing to MongoDB integration
  libs/langchain-mongodb/src/storage.ts
  libs/langchain-mongodb/src/tests/chat_history.int.test.ts
  libs/langchain-mongodb/src/tests/setup.ts
  libs/langchain-mongodb/src/tests/storage.int.test.ts
  libs/langchain-mongodb/src/tests/vectorstores.int.test.ts
Labels: lgtm, auto:improvement, size:XXL

#8294 fix[openai]: avoid sending auto-generated tool ID
  libs/langchain-openai/src/chat_models.ts
Labels: lgtm, auto:bug, size:XS

#8312 release[openai]: 0.5.12
  libs/langchain-openai/package.json
Labels: auto:nit, size:XS

#8317 feat(core): integrate zod 4 in backwards compatible manner
  langchain-core/langchain.config.js
  langchain-core/src/language_models/base.ts
  langchain-core/src/language_models/chat_models.ts
  langchain-core/src/output_parsers/openai_tools/json_output_tools_parsers.ts
  langchain-core/src/output_parsers/structured.ts
  langchain-core/src/runnables/base.ts
  langchain-core/src/runnables/types.ts
  langchain-core/src/tools/index.ts
  langchain-core/src/tools/types.ts
  langchain-core/src/utils/testing/index.ts
  langchain-core/src/utils/types/zod.ts
  libs/langchain-cohere/src/tests/chat_models.int.test.ts
Labels: auto:improvement, size:L

#8342 fix(core): Fix JSDom check for recent Node versions
  langchain-core/src/utils/env.ts
Labels: auto:bug, size:XS

#8316 patch(core): expose bindings for Zod 4 from core
  langchain-core/langchain.config.js
  langchain-core/package.json
  langchain-core/src/language_models/base.ts
  langchain-core/src/language_models/chat_models.ts
  langchain-core/src/language_models/tests/chat_models.test.ts
  langchain-core/src/output_parsers/openai_functions/json_output_functions_parsers.ts
  langchain-core/src/output_parsers/openai_tools/json_output_tools_parsers.ts
  langchain-core/src/output_parsers/openai_tools/tests/json_output_tools_parser.test.ts
  langchain-core/src/output_parsers/structured.ts
  langchain-core/src/output_parsers/tests/structured.test.ts
  langchain-core/src/runnables/base.ts
  langchain-core/src/runnables/graph.ts
  langchain-core/src/runnables/types.ts
  langchain-core/src/tools/index.ts
  langchain-core/src/tools/tests/tools.test.ts
  langchain-core/src/tools/tests/types.test.ts
  langchain-core/src/tools/types.ts
  langchain-core/src/utils/function_calling.ts
  langchain-core/src/utils/json_schema.ts
  langchain-core/src/utils/testing/index.ts
  langchain-core/src/utils/types/index.ts
  langchain-core/src/utils/types/is_zod_schema.ts
  langchain-core/src/utils/types/tests/zod.test.ts
  langchain-core/src/utils/types/zod.ts
  libs/langchain-cohere/src/tests/chat_models.int.test.ts
  libs/langchain-openai/package.json
  package.json
  yarn.lock
Labels: auto:enhancement, size:XXL

#8345 release(core): 0.3.58
  langchain-core/package.json
Labels: auto:nit, size:XS

#8346 release: zod 4 integrations releases
  langchain/package.json
  libs/langchain-anthropic/package.json
  libs/langchain-aws/package.json
  libs/langchain-cerebras/package.json
  libs/langchain-cohere/package.json
  libs/langchain-community/package.json
  libs/langchain-deepseek/package.json
  libs/langchain-google-common/package.json
  libs/langchain-google-genai/package.json
  libs/langchain-groq/package.json
  libs/langchain-mistralai/package.json
  libs/langchain-ollama/package.json
  libs/langchain-openai/package.json
  libs/langchain-tavily/package.json
  libs/langchain-xai/package.json
Labels: size:M

#8352 incident banner
  docs/core_docs/docusaurus.config.js
Labels: size:XS

#8353 revert incident banner
  docs/core_docs/docusaurus.config.js
Labels: auto:nit, size:XS

#8343 feat(google): Support TTS models
  libs/langchain-google-common/src/chat_models.ts
  libs/langchain-google-common/src/tests/chat_models.test.ts
  libs/langchain-google-common/src/tests/data/chat-8-mock.json
  libs/langchain-google-common/src/types.ts
  libs/langchain-google-common/src/utils/common.ts
  libs/langchain-google-common/src/utils/gemini.ts
  libs/langchain-google-webauth/src/tests/chat_models.int.test.ts
Labels: lgtm, auto:enhancement, size:L

#8360 fix(google-*): bump downstream core dep for google packages
  libs/langchain-google-gauth/package.json
  libs/langchain-google-vertexai-web/package.json
  libs/langchain-google-vertexai/package.json
  libs/langchain-google-webauth/package.json
  yarn.lock
Labels: auto:nit, size:XS

#8321 Fix param in langchain-google-genai README
  libs/langchain-google-genai/README.md
Labels: auto:documentation, size:XS

#8355 patch(openai): upgrade sdk & defer zdr handling to openai
  langchain/src/chains/openai_functions/openapi.ts
  langchain/src/experimental/openai_assistant/index.ts
  langchain/src/experimental/openai_files/index.ts
  libs/langchain-openai/package.json
  libs/langchain-openai/src/azure/chat_models.ts
  libs/langchain-openai/src/azure/embeddings.ts
  libs/langchain-openai/src/azure/llms.ts
  libs/langchain-openai/src/chat_models.ts
  libs/langchain-openai/src/embeddings.ts
  libs/langchain-openai/src/llms.ts
  libs/langchain-openai/src/types.ts
  libs/langchain-openai/src/utils/headers.ts
  yarn.lock
Labels: auto:bug, size:L

#8307 implement ollama streaming with tools
  libs/langchain-ollama/src/chat_models.ts
  libs/langchain-ollama/src/tests/chat_models.int.test.ts
Labels: auto:improvement, size:M

#8368 feat: add `ls_structured_output_format` tracing
  langchain-core/src/language_models/base.ts
  libs/langchain-anthropic/src/chat_models.ts
  libs/langchain-groq/src/chat_models.ts
  libs/langchain-mistralai/src/chat_models.ts
  libs/langchain-ollama/src/chat_models.ts
  libs/langchain-openai/src/chat_models.ts
  libs/langchain-standard-tests/src/integration_tests/chat_models.ts
  libs/langchain-standard-tests/src/utils.ts
  yarn.lock
Labels: auto:enhancement, size:L

#8235 feat(google-genai): Add baseUrl property to embeddings
  libs/langchain-google-genai/src/embeddings.ts
  libs/langchain-google-genai/src/tests/embeddings.int.test.ts
Labels: lgtm, auto:nit, size:M

#8382 fix(tests): correct typos and formatting in standard tests README.md
  libs/langchain-standard-tests/README.md
Labels: lgtm, auto:nit, size:S

#8370 fix(core): use input param for schema serialization
  langchain-core/src/output_parsers/tests/structured.test.ts
  langchain-core/src/utils/json_schema.ts
  langchain-core/src/utils/tests/json_schema.test.ts
  langchain-core/src/utils/types/tests/zod.test.ts
  langchain-core/src/utils/types/zod.ts
Labels: auto:bug, size:XL

#8383 minor(google): Upgrade Upgrade google-auth-library to latest major version (v10)
  libs/langchain-google-common/src/auth.ts
  libs/langchain-google-common/src/utils/stream.ts
  libs/langchain-google-gauth/package.json
  libs/langchain-google-gauth/src/auth.ts
  libs/langchain-google-vertexai/src/tests/chat_models.int.test.ts
  yarn.lock
Labels: auto:nit, size:M

#8365 minor(google-gauth): Upgrade google-auth-library to latest major version (v10)
  libs/langchain-google-gauth/package.json
  yarn.lock
Labels: auto:nit, size:XS

#8384 fix(google): Gemini 2 5
  libs/langchain-google-common/src/connection.ts
  libs/langchain-google-webauth/src/tests/chat_models.int.test.ts
Labels: size:M

#8324 openai[minor]: upgrade sdk and support new built-in tools
  docs/core_docs/docs/integrations/chat/openai.ipynb
  langchain/package.json
  langchain/src/util/prompt-layer.ts
  libs/langchain-openai/src/chat_models.ts
  libs/langchain-openai/src/tests/chat_models_responses.int.test.ts
  yarn.lock
Labels: lgtm, auto:improvement, size:XL

#8363 feat(google): Gemini thinking updates
  libs/langchain-google-common/src/tests/chat_models.test.ts
  libs/langchain-google-common/src/tests/data/chat-4-mock.json
  libs/langchain-google-common/src/types.ts
  libs/langchain-google-common/src/utils/common.ts
  libs/langchain-google-common/src/utils/gemini.ts
Labels: auto:improvement, size:L

#8391 release(google-*): 0.2.13
  libs/langchain-google-common/package.json
  libs/langchain-google-gauth/package.json
  libs/langchain-google-genai/package.json
  libs/langchain-google-vertexai-web/package.json
  libs/langchain-google-vertexai/package.json
  libs/langchain-google-webauth/package.json
  yarn.lock
Labels: size:S

#8392 fix(ci): bump lockfile
  yarn.lock
Labels: auto:nit, size:XS

#8379 fix(core): add custom key encoder and deprecate insecureHash
  docs/core_docs/docs/troubleshooting/errors/index.mdx
  docs/core_docs/docs/troubleshooting/warnings/insecure-cache-algorithm.mdx
  langchain-core/.eslintrc.cjs
  langchain-core/.gitignore
  langchain-core/langchain.config.js
  langchain-core/package.json
  langchain-core/src/caches/base.ts
  langchain-core/src/caches/tests/in_memory_cache.test.ts
  langchain-core/src/indexing/base.ts
  langchain-core/src/utils/hash.ts
  langchain-core/src/utils/js-sha1/hash.ts
  langchain-core/src/utils/js-sha256/LICENSE.md
  langchain-core/src/utils/js-sha256/hash.ts
  langchain-core/src/utils/tests/hash.test.ts
Labels: lgtm, auto:improvement, size:XL

#8237 fix(hf): Upgrade @huggingface dependencies
  docs/core_docs/docs/integrations/llms/huggingface_inference.mdx
  docs/core_docs/docs/integrations/text_embedding/hugging_face_inference.mdx
  libs/langchain-community/package.json
  libs/langchain-community/src/embeddings/hf.ts
  libs/langchain-community/src/embeddings/huggingface_transformers.ts
  libs/langchain-community/src/embeddings/tests/hf.int.test.ts
  libs/langchain-community/src/embeddings/tests/huggingface_transformers.int.test.ts
  yarn.lock
Labels: auto:improvement, auto:documentation, size:M

#8396 refactor: update Ollama import and add fetch option to models
  libs/langchain-ollama/src/chat_models.ts
  libs/langchain-ollama/src/embeddings.ts
  libs/langchain-ollama/src/llms.ts
Labels: lgtm, auto:refactor, size:S

#8395 Fix(community): perplexity reasoning json parser error
  libs/langchain-community/src/chat_models/perplexity.ts
  libs/langchain-community/src/chat_models/tests/chatperplexity.int.test.ts
  libs/langchain-community/src/utils/output_parsers.ts
  libs/langchain-community/src/utils/tests/output_parsers.test.ts
Labels: auto:bug, size:L

#8397 release: 0.3.29
  langchain-core/package.json
  langchain/package.json
  libs/langchain-anthropic/package.json
  libs/langchain-community/package.json
  libs/langchain-ollama/package.json
  libs/langchain-openai/package.json
Labels: auto:nit, size:S

#8404 patch[core]: allow for inner transforms in schema serialization
  langchain-core/src/utils/json_schema.ts
  langchain-core/src/utils/tests/json_schema.test.ts
  langchain-core/src/utils/types/tests/zod.test.ts
  langchain-core/src/utils/types/zod.ts
Labels: size:L

#8402 patch[openai]: revert zod tool formatting for optional fields
  libs/langchain-openai/src/tests/chat_models.test.ts
  libs/langchain-openai/src/tests/chat_models_responses.int.test.ts
  libs/langchain-openai/src/utils/tools.ts
Labels: auto:refactor, size:L

#8366 fix(core): max event listeners error long running process
  langchain-core/src/runnables/base.ts
Labels: lgtm, auto:bug, size:S

#8424 fix(mcp-adapters): use DynamicStructuredTool instead of interface type
  libs/langchain-mcp-adapters/src/client.ts
  libs/langchain-mcp-adapters/src/tools.ts
Labels: size:S

#8411 fix(tests): `chat_models` int tests updates and sync
  langchain-core/src/messages/base.ts
  libs/langchain-standard-tests/src/integration_tests/chat_models.ts
  libs/langchain-standard-tests/src/utils/types.ts
Labels: lgtm, auto:nit, size:XL

#8425 fix: add missing APAC region prefix in Bedrock models
  libs/langchain-community/src/chat_models/bedrock/web.ts
  libs/langchain-community/src/chat_models/tests/chatbedrock.test.ts
  libs/langchain-community/src/llms/bedrock/web.ts
Labels: lgtm, auto:bug, size:M

#8410 Adding Hybrid search and RAG features
  docs/core_docs/.gitignore
  docs/core_docs/docs/integrations/retrievers/self_query/weaviate.ipynb
  docs/core_docs/docs/integrations/vectorstores/weaviate.ipynb
  examples/src/indexes/vector_stores/weaviate_delete.ts
  libs/langchain-community/src/vectorstores/tests/weaviate.int.test.ts
  libs/langchain-community/src/vectorstores/weaviate.ts
  libs/langchain-weaviate/README.md
  libs/langchain-weaviate/src/tests/generate.int.test.ts
  libs/langchain-weaviate/src/tests/hybridsearch.int.test.ts
  libs/langchain-weaviate/src/tests/vectorstores.int.test.ts
  libs/langchain-weaviate/src/vectorstores.ts
Labels: auto:documentation, size:XL
