Repository langchain-ai/langchainjs, pull requests merged in 2025-09, with the labels that each got.

#8433 fix(core): prevent tool call chunks from merging incorrectly in AIMes…
  .changeset/honest-vans-live.md
  langchain-core/src/messages/base.ts
  langchain-core/src/messages/tests/ai.test.ts
Labels: auto:bug, size:M

#8442 fix: Fix BaseDocumentLoader import errors in fs document loaders
  langchain/src/document_loaders/fs/buffer.ts
  langchain/src/document_loaders/fs/text.ts
Labels: auto:bug, size:XS

#7808 fix(community): add Claude-compatible mode to ZepMemory
  libs/langchain-community/src/memory/zep.ts
Labels: lgtm, hold, auto:bug, size:L, community

#7603 feat(community): Add support for connecting to remote browser via Websocket
  libs/langchain-community/src/document_loaders/web/puppeteer.ts
Labels: close, auto:improvement, size:M

#9028 feat: Add Perplexity support to universal chat model
  .changeset/green-squids-fetch.md
  langchain/src/chat_models/tests/universal.int.test.ts
  langchain/src/chat_models/universal.ts
Labels: needs-v1-port

#9057 fix(langchain): Bind schemas for other types of pulled hub prompts
  .changeset/silver-dingos-wonder.md
  langchain/src/hub/base.ts
  langchain/src/hub/tests/hub.int.test.ts
Labels: needs-v1-port

#9065 feat(anthropic): support context management, memory tools, and sonnet-4.5
  .changeset/few-wings-cut.md
  .changeset/gentle-cars-throw.md
  .changeset/major-views-play.md
  libs/langchain-anthropic/package.json
  libs/langchain-anthropic/src/chat_models.ts
  libs/langchain-anthropic/src/tests/chat_models-tools.int.test.ts
  libs/langchain-anthropic/src/tests/chat_models.int.test.ts
  libs/langchain-anthropic/src/tests/chat_models.standard.int.test.ts
  libs/langchain-anthropic/src/types.ts
  libs/langchain-anthropic/src/utils/message_inputs.ts
  libs/langchain-anthropic/src/utils/message_outputs.ts
  yarn.lock
Labels: needs-v1-port, provider/anthropic

#9069 chore: release packages
  .changeset/afraid-paws-give.md
  .changeset/angry-ads-retire.md
  .changeset/few-wings-cut.md
  .changeset/gentle-cars-throw.md
  .changeset/green-squids-fetch.md
  .changeset/honest-hats-brush.md
  .changeset/major-views-play.md
  .changeset/metal-camels-join.md
  .changeset/real-dogs-listen.md
  .changeset/silver-dingos-wonder.md
  langchain-core/CHANGELOG.md
  langchain-core/package.json
  langchain/CHANGELOG.md
  langchain/package.json
  libs/langchain-anthropic/CHANGELOG.md
  libs/langchain-anthropic/package.json
  libs/langchain-azure-cosmosdb/CHANGELOG.md
  libs/langchain-azure-cosmosdb/package.json
  libs/langchain-azure-openai/package.json
  libs/langchain-baidu-qianfan/package.json
  libs/langchain-cloudflare/CHANGELOG.md
  libs/langchain-cloudflare/package.json
  libs/langchain-community/CHANGELOG.md
  libs/langchain-community/package.json
  libs/langchain-deepseek/package.json
  libs/langchain-google-cloud-sql-pg/package.json
  libs/langchain-mistralai/CHANGELOG.md
  libs/langchain-mistralai/package.json
  libs/langchain-mixedbread-ai/package.json
  libs/langchain-openai/CHANGELOG.md
  libs/langchain-openai/package.json
  libs/langchain-redis/CHANGELOG.md
  libs/langchain-redis/package.json
  libs/langchain-xai/package.json
  yarn.lock
Labels: community, provider/anthropic, langchain, provider/azure, provider/openai, provider/google, provider/mistralai, provider/redis, provider/xai
